>>> .table .thead-light th {
    color: black;
}

/* Sticky column on the right table */
>>> .sticky-col {
    right: 0;
    position: sticky;
}

/* Sticky cell background, even row */
>>> .sticky-even {
    background-color: white;
}

/* Sticky cell background, odd row */
>>> .sticky-odd {
    background-color: #f1f8ff;
}

/* Sticky cell background, selected row */
>>> .table.b-table > tbody > .table-active > td {
    background-color: #c4c4c4;
}
