a.disabled { color:lightgray !important; }
a.disabled:hover { color:lightgray !important; }
.disabled { pointer-events: none; }
.btn-main {
    background: #0176FF;
    color: #fff;
}
div.is-invalid {
    border-color:#dc3545;
    border:1px solid #dc3545;
    background-position:right calc(0.375em + 0.1875rem) center;
  }
  
 /deep/ .modal-body .page-content { position:inherit !important; }
 .modal-body /deep/ .page-content { position:inherit !important; }
 .bhxh-body {
    resize: none;
    max-height: 715px;
    min-height: 715px;
    max-width: 800px;
    min-width: 800px;    
 }
 .pd-5{padding: 0 5px;}