.btn-second {
  border-color: #0d6efd;
}

.mx-datepicker {
  width: 100% !important;
}

.mx-input.disabled,
.mx-input:disabled {
  color: #666 !important;
}

.w190 {
  width: 190px;
}

.info-row .value {
  padding-left: 0px !important;
}

.pd-l0 {
  padding-left: 0px !important;
}

.bg-white {
  background-color: white !important;
}

.resizeable {
  resize: both;
  overflow: auto;
  direction: ltr;
  min-height: 420px;
  left: auto !important;
  right: 0 !important;
  transform: translate3d(595px, -15px, 10px) !important;

}

.resizeable-ltr {
  direction: ltr;
}

.bg-dropdown {
  max-width: 100%;
  background-color: aquamarine;
}

.dropdown-menu {
  margin: 50px !important;
}

.btn-delete {
  min-width: 38px;
  width: 40px;
  max-width: 42px;
}