.history-cont {
  overflow: auto;
}
#history .cont-head {
  margin-bottom: 100px;
}
.history-cont::before {
  content: '';
  position: absolute;
  top: 15px;
  width: 50%;
  box-sizing: border-box;
  left: 0;
  border-right: 1px dashed #9fb09f;
  height: calc(100% - 15px);
  display: block;
}
.history-cont .wp-block-group {
  width: 100%;
  float: left;
  margin-bottom: 48px;
  position: relative;
  opacity: 0;
  transform: translate(0, 10px);
  transition: 0.5s;
}
.history-cont .wp-block-group:first-child,
.history-cont .wp-block-group:nth-child(2) {
  opacity: 1;
}

.history-cont .on {
  transform: translate(0, 0);
  opacity: 1;
  transition: 3s;
}
.history-cont .wp-block-group .wp-block-group__inner-container::before {
  position: absolute;
  top: 3px;
  right: calc(50% - 20px);
  content: '';
  width: 40px;
  height: 40px;
  background-image: url('/images/history/ico-history.svg');
}
.history-cont .wp-block-group .wp-block-group__inner-container {
  width: 50%;
  float: left;
  text-align: right;
  padding-right: 36px;
  box-sizing: border-box;
}
.history-cont .wp-block-group:nth-child(even) .wp-block-group__inner-container {
  float: right;
  text-align: left;
  padding-left: 36px;
}
.history-cont h2 {
  color: #0d4221;
  font-size: 2rem;
  margin-bottom: 8px;
}
.history-cont ul li {
  color: #323232;
  margin-bottom: 4px;
}
#history .sec-inner {
  padding-top: 0;
}

@media (max-width: 768px) {
  .history-cont::before {
    width: 20px;
  }

  #history .cont-head {
    margin-bottom: 65px;
  }

  .history-cont .wp-block-group .wp-block-group__inner-container::before {
    right: auto;
    left: 7px;
    top: 7px;
    width: 24px;
    height: 24px;
  }

  .history-cont .wp-block-group .wp-block-group__inner-container {
    text-align: left;
    width: 100%;
    padding-left: 40px;
    padding-right: 0;
  }
}
