<ejs-dialog
  :enableResize="true"
  :allowDragging="false"
  :visible="false"
  ref="dialogPortList"
  :animationSettings="animationSettings"
  :showHeader="false"
  :showCloseIcon="false"
  width="70%"
  height="auto"
  :target="target"
>
  <div class="modal-content popup-box">
    <div class="popup-header">
      <div class="title"><span class="icon one-notepad"></span> {{formTitle}}</div>
      <div class="close -ap icon-close" @click="closeDialog"></div>
    </div>
    <div class="popup-body">
      <div class="row">
        <div class="box-form">
          <div class="row">
            <div class="col-12">
              <div class="legend-title">Danh sách Port theo {{tableName}} của thiết bị</div>
            </div>
          </div>
          <DataGrid
            :columns="dataCols"
            :dataSource="dataSource"
            :allowPaging="true"
            :enablePagingServer="false"
            :showColumnCheckbox="true"
            ref="grdInterface"
          ></DataGrid>
        </div>
      </div>
    </div>
  </div>
</ejs-dialog>
