.e-dialog {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  max-height: 85vh !important;
}

.custom-dialog .e-dlg-content {
  overflow: visible !important;
  overflow-x: visible !important;
}
.close {
  cursor: pointer;
}