.required{
    color: red;
    font-size: small;
}

.cursor-pointer {
    cursor: pointer !important;
}

a.cursor-pointer {
    cursor: pointer !important;
}

#giao-viec{
    top: 100px !important;
    z-index: 1000!important;}

    .e-dialog{
        z-index: 1000!important;
    }