<div>
    <div class="row">
        <div class="col-12">
            <DataGrid ref="gridItems" :allowPaging="true" :enablePagingServer="false" v-bind:columns="[
                    {fieldName: 'CUMDICHVU', headerText: 'Cụm dịch vụ'},
                    {fieldName: 'TEN_SPDV', headerText: 'Sản phẩm dịch vụ'},
                    {fieldName: 'HINHTHUCTRIENKHAI', headerText: 'Hình thức triển khai'},
                    ]" v-bind:dataSource="dataItems"></DataGrid>
            </DataGrid>
        </div>
    </div>
</div>