<ejs-dialog
  :enableResize="true"
  :allowDragging="false"
  :visible="false"
  ref="dialogChiTietRack"
  :animationSettings="animationSettings"
  :showHeader="false"
  :showCloseIcon="false"
  :isModal="true"
  width="80%"
  height="auto"
  :target="target"
  :position="{ X: 'center', Y: 'center' }"
  :overlayClick="onOverlayClick"
>
  <div class="modal-content popup-box">
    <div class="popup-header">
    <div class="title" style="font-weight: 600;">Thông tin Rack</div>
      <div class="close -ap icon-close" @click="closeDialog"></div>
    </div>

    <div class="popup-body">
      <div class="row">
        <div class="col-12">
          <div class="box-form">
            <div class="row">
              <div class="legend-title">Thông tin Rack
              </div>
            </div>
            <!--  -->
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="key w150">ID Rack:<span class="red">*</span></div>
                  <div class="value">
                    <input type="text" class="form-control"
                      disabled v-model.trim="dataRack.RACK_ID" />
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="key w150">Hiệu lực:</div>
                  <div class="value padt4">
                    <div class="check-action">
                      <input type="checkbox" disabled
                        v-model.trim="dataRack.SUDUNG"  :true-value="1" :false-value="0" /><span class="name"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Tên Rack - Sở hữu Rack -->
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="key w150">Tên Rack:<span class="red">*</span></div>
                  <div class="value">
                    <input type="text" class="form-control" disabled v-model.trim="dataRack.TEN_RACK" />
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="key w150">Camera giám sát:<span class="red">*</span></div>
                  <div class="value d-flex">
                    <div class="item radio-item">
                      <div class="check-action">
                        <input type="radio" name="camera-2" value='1' disabled
                          v-model.trim="dataRack.CAMERA" />
                        <span class="name">Có</span>
                      </div>
                    </div>
                    <div class="item radio-item" >
                      <div class="check-action">
                        <input type="radio" name="camera-2" value='0' disabled
                          v-model.trim="dataRack.CAMERA">
                        <span class="name">Không</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Loại rack - Vận hành -->
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="key w150">Loại Rack:<span class="red">*</span></div>
                  <div class="value">
                    <input type="text" class="form-control" disabled v-model.trim="dataRack.TEN_LOAIRACK" />
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="row">
                  <div class="col-md-4 col-12">
                    <div class="info-row">
                      <div class="key w150">Chiều dài (cm):</div>
                      <div class="value">
                        <input type="text" class="form-control" v-model="dataRack.CHIEUDAI" disabled />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-12">
                    <div class="info-row">
                      <div class="key w130">Chiều rộng (cm):</div>
                      <div class="value">
                        <input type="text" class="form-control" v-model="dataRack.CHIEURONG" disabled />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-12">
                    <div class="info-row">
                      <div class="key w130">Chiều cao (cm):</div>
                      <div class="value">
                        <input type="text" class="form-control" v-model="dataRack.CHIEUCAO" disabled />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="key w150">Hãng SX:<span class="red">*</span></div>
                  <div class="value">
                    <input type="text" class="form-control" disabled v-model.trim="dataRack.TEN_HANGSX" />
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="info-row ">
                  <div class="key w150">Ngày đưa vào SD:<span class="red">*</span></div>
                  <div class="value"  >
                    <ejs-datepicker
                      disabled
                      v-model="dataRack.NGAY_SD"
                      name="ngaySD"
                      placeholder="dd/mm/yyyy"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="key w150">Trạng thái vận hành:<span class="red">*</span></div>
                  <div class="value">
                    <input type="text" class="form-control" disabled v-model="dataRack.TRANGTHAI_VH" />
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="key w150">Ghi chú:</div>
                  <div class="value">
                    <input type="text" class="form-control" disabled v-model.trim="dataRack.GHI_CHU" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="key w150">Trạng thái CCDV:<span class="red">*</span></div>
                  <div class="value">
                    <input type="text" class="form-control" disabled v-model="dataRack.TEN_CCDV" />
                  </div>
                </div>
                <div class="info-row">
                  <div class="key w150">Trạng thái quy hoạch:<span class="red">*</span></div>
                  <div class="value">
                    <input type="text" class="form-control" disabled v-model.trim="dataRack.TEN_QUYHOACH" />
                  </div>
                </div>
                <div class="info-row">
                  <div class="key w150">Đơn vị sở hữu:<span class="red">*</span></div>
                  <div class="value">
                    <input type="text" class="form-control" disabled v-model.trim="dataRack.TEN_CHUQUAN" />
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="key w150">Hình ảnh:</div>
                  <div class="value">
                    <div v-if="displayImageUrl" class="preview mt-2">
                      <img
                        :src="displayImageUrl"
                        alt="Hình ảnh Rack"
                        class="fixed-icon-box img-fluid"
                        style="max-width: 200px; border-radius: 8px;"
                      />
                    </div>
                    <div v-else class="text-muted">Không có hình ảnh</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="box-form">
            <div class="row">
              <div class="legend-title">Thông tin vị trí Rack
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="key w150">IDC<span class="red">*</span></div>
                  <div class="value">
                    <input type="text" class="form-control" disabled v-model="dataRack.TEN_IDC" />
                    <!-- <SelectExt v-model.trim="dataRack.IDC_ID" @change="onChangeIDC()" dataTextField="TEN" dataValueField="ID"
                      :dataSource="idcSelectList" disabled /> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="key w150">Tòa nhà<span class="red">*</span></div>
                  <div class="value">
                    <input type="text" class="form-control" disabled v-model="dataRack.TEN_TOANHA" />
                    <!-- <SelectExt v-model.trim="dataRack.MATSAN_ID" disabled @change="onChangeMatSan()" dataTextField="TEN" dataValueField="ID"
                      :dataSource="matSanSelectList"  /> -->
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="key w150">Mặt sàn<span class="red">*</span></div>
                  <div class="value">
                    <input type="text" class="form-control" disabled v-model="dataRack.TEN_MATSAN" />
                    <!-- <SelectExt v-model.trim="dataRack.MATSAN_ID" disabled @change="onChangeMatSan()" dataTextField="TEN" dataValueField="ID"
                      :dataSource="matSanSelectList"  /> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="key w150">Phòng/Zone<span class="red">*</span></div>
                  <div class="value">
                    <input type="text" class="form-control" disabled v-model="dataRack.TEN_PHONG" />
                    <!-- <SelectExt v-model.trim="dataRack.PHONG_ID" disabled  dataTextField="TEN" dataValueField="ID"
                      :dataSource="phongSelectList"  /> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="key w150">Vị trí Rack<span class="red">*</span></div>
                  <div class="value">
                    <input type="text" class="form-control"  disabled v-model.trim="dataRack.VITRI_RACK" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="box-form">
            <div class="row">
              <div class="legend-title">Thông tin quản lý
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="key w150">Đơn vị Quản lý</div>
                  <div class="value">
                    <input type="text" class="form-control" disabled v-model="dataRack.TEN_DVQL" />
                    <!-- <SelectExt v-model.trim="dataRack.DONVIQL_ID" dataTextField="TEN_DV" dataValueField="DONVI_ID"
                      :dataSource="donviQLSelectList" disabled /> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="key w150">Phòng/Tổ quản lý </div>
                  <div class="value">
                    <input type="text" class="form-control" disabled v-model="dataRack.TEN_PQL" />
                    <!-- <SelectExt v-model.trim="dataRack.PHONGQL_ID" dataTextField="TEN_DV" dataValueField="DONVI_ID"
                      :dataSource="phongQLSelectList" disabled /> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="key w150">Cá nhân quản lý</div>
                  <div class="value" >
                    <!-- <ejs-multiselect ref="nguoiQLSelect" :dataSource='nguoiQLSelectList'  v-model="dataRack.DS_NGUOIQL"
                    :fields="{value:'NHANVIEN_ID', text: 'TEN_NV'}"
                    placeholder="Chọn người quản lý"></ejs-multiselect> -->
                    <input type="text" class="form-control" disabled :value="nguoiQuanLyText"   />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="box-form">
            <div class="row">
              <div class="legend-title">Thông tin dự án
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="key w150">Mã dự án</div>
                  <div class="value">
                    <input type="text" class="form-control" disabled v-model="dataRack.MA_DUAN" />
                    <!-- <SelectExt v-model.trim="dataRack.IDC_ID" @change="onChangeIDC()" dataTextField="TEN" dataValueField="ID"
                      :dataSource="idcSelectList" disabled /> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="key w150">Tên dự án </div>
                  <div class="value">
                    <input type="text" class="form-control" disabled v-model="dataRack.TEN_DUAN" />
                    <!-- <SelectExt v-model.trim="dataRack.IDC_ID" @change="onChangeIDC()" dataTextField="TEN" dataValueField="ID"
                      :dataSource="idcSelectList" disabled /> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="key w150">ID Thiết bị QLTS</div>
                  <div class="value">
                    <input type="text" class="form-control" disabled v-model.trim="dataRack.QLTS_ID" />
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="key w150">Thẻ tài sản</div>
                  <div class="value">
                    <input type="text" class="form-control" disabled v-model.trim="dataRack.THE_TS" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ejs-dialog>
