<div >
  
  <!-- BEGIN toolbar -->
  <div class="list-actions-top">
    <ul class="list">
      <li @click="fetchDanhSachTinhCuocTN()">
        <a href="javascript:;">
          <span class="icon one-search"></span>Tìm kiếm
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <downloadExcel :data="listTimKiem" :fields="fieldnames" worksheet="My Worksheet" name="filename.xls">
            <span class="icon one-excel"></span>Xuất Excel
          </downloadExcel>
        </a>
      </li>
    </ul>
  </div>
  <div class="page-content">
    <div class="box-form">
      <div class="legend-title">
        Thông tin tra cứu
      </div>
      <div class="row">
        <div class="col-sm-5 col-12">
          <app-ky-cuoc></app-ky-cuoc>
          <div class="info-row">
            <div class="key w120 fw6 col-sm-4">
              Ngày TT
            </div>
            <div class="value col-sm-4">
              <div class="input-icon-right">
                <flat-pickr v-model="pTuNgay" class="form-control" :config="dateConfig2" :value="pTuNgay" />
                <span class="icon one-calendar"></span>
              </div>
            </div>
            <div class="key w120 fw6 col-sm-4">
              <div class="check-action">
                <input type="checkbox" class="check" v-model="isDisabled">
                <span class="name">Đến ngày</span>
              </div>
            </div>
            <div class="value col-sm-4">
              <div class="input-icon-right">
                <flat-pickr v-if="isDisabled" v-model="pDenNgay" class="form-control" :config="dateConfig2"
                  :value="pDenNgay" />
                <flat-pickr v-else disabled v-model="pDenNgay" class="form-control" :config="dateConfig2"
                  :value="pDenNgay" />
                <span class="icon one-calendar"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-12">
          <div class="row">
            <div class="col-sm-4 col-12">
              <div class="info-row">
                <div class="key w40">
                  Đại lý
                </div>
                <div class="value">
                  <div class="input-more-button">
                    <button class="btn">
                      <span class="-ap icon-more_horiz"></span>
                    </button>
                    <input type="text" class="form-control highlight">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-12">
              <div class="info-row">
                <div class="key w110">
                  Tổng phiếu giao
                </div>
                <div class="value">
                  <input type="text" class="form-control" v-model="tongPhieuGiao">
                </div>
              </div>
              <div class="info-row">
                <div class="key w110">
                  Tổng phiếu thu
                </div>
                <div class="value">
                  <input type="text" class="form-control" v-model="tongPhieuThu">
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-12">
              <div class="info-row">
                <div class="key w110">
                  Tổng tiền giao
                </div>
                <div class="value">
                  <input type="text" class="form-control" v-model="tongTienGiao">
                </div>
              </div>
              <div class="info-row">
                <div class="key w110">
                  Tổng tiền thu
                </div>
                <div class="value">
                  <input type="text" class="form-control" v-model="tongTienThu">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-form">

      <div class="legend-title">
        Kết quả tìm kiếm
      </div>
      <!-- <div class="table-content">
        <b-table class="table-result tree-grid-2 table-gachle" :items="listTimKiem" :fields="fieldsTinhHinhThuNo"
          responsive selectable show-empty empty-text="Không có dữ liệu">
          <template #top-row="data">
            <b-th />
            <b-th v-for="item in arraySearchInput" :key="item.key">
              <div class="input-icon-right">
                <input type="text" v-model="item.value" class="form-control"
                  @input="onChangeText($event.target.value,item.key)">
                <span class="icon nc-icon-outline ui-1_zoom"></span>
              </div>
            </b-th>
          </template>
        </b-table>
      </div> -->
      <DataGrid v-bind:columns="[
            {fieldName: 'maNV', headerText: 'Mã NVTC', allowFiltering: true, allowSorting: false},
            {fieldName: 'tenNV', headerText: 'Tên NVTC', allowFiltering: true},
            {fieldName: 'phieuGiao', headerText: 'Phiếu giao', allowFiltering: true},
            {fieldName: 'tienGiao', headerText: 'Tiền giao', allowFiltering: true},
            {fieldName: 'phieuThu', headerText: 'Phiếu thu', allowFiltering: true},
            {fieldName: 'tienThu', headerText: 'Tiền thu', allowFiltering: true},
            {fieldName: 'tyLePT', headerText: 'Tỷ lệ phiếu thu', allowFiltering: true},
            {fieldName: 'tyLeTT', headerText: 'Tỷ lệ tiền thu', allowFiltering: true}
        ]" v-bind:dataSource="listTimKiem" :showFilter="true" @selectedRowChanged="gridDanDoCT_selectedRowChanged">
      </DataGrid>
      <!-- <BssLocalPagination :datasource="listTimKiem" @change="changeData" /> -->
    </div>
  </div>
</div>
</div>
</div>
