<div class="box-form">
    <div class="legend-title">Sơ đồ thiết bị</div>
    <div class="input-icon-right">
        <input type="text" class="form-control">
        <span class="icon one-search text-main f16"></span>
    </div>
    <div class="tree-plus">
        <ul class="">
            <li class="haschild open">
                <a href="#">
                    <span class="icon one-building text-main f16"></span> TT Viễn Thông Bến Cát
                </a>
                <span class="btn-refresh nc-icon-outline arrows-1_refresh-68"></span>
                <ul>
                    <li  class="haschild open">
                        <a href="#/ecms/quanly-thietbi-bangrong-truyendan">                   
                            <span class="icon  one-apartment text-main f16"></span> Tổ Kỹ thuật Bàu Bàng                     
                        </a>
                        <ul>
                            <li  class="haschild open">
                                <a href="#/ecms/quanly-thietbi-bangrong-truyendan">
                                    <span class="icon  -ap icon-home text-main f16"></span> Tủ Rack DSLAM MXU_CAUSUOIDOI
                                </a>
                                <ul>
                                    <li class="haschild open">                                   
                                        <a href="javascript:void(0)" @click="nodeClick('ThongTinBras')">
                                        <span class="icon  -ap icon-home text-main f16"></span> Thông tin Bras                                            
                                        </a>
                                        <ul>
                                    <li class="haschild open">
                                        <a href="#/ecms/quanly-thietbi-bangrong-truyendan" @click="nodeClick('ThongTinPortSwitch')">
                                            <span class="icon  one-box text-main f16" ></span>  PORT SWITCH
                                        </a>
                                        <ul>
                                            <li class="haschild open">
                                                <a href="#/ecms/quanly-thietbi-bangrong-truyendan" @click="nodeClick('DsLamSwitchGpon')">
                                                    <span class="icon  one-clipart-1 text-main f16"></span> Thông tin DSLAM
                                                </a>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0)" @click="nodeClick('HuongKetNoi')">
                                                            <div class="check-action check-color"> 
                                                                <input type="checkbox" class="check"> 
                                                                <span class="name">#00</span>
                                                             </div> 
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <span class="icon  one-card text-main f16"></span>#01
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="haschild open">
                <a href="#">
                    <span class="icon one-building text-main f16"></span> TT Viễn Thông Bến Cát
                </a>
                <ul>
                    <li  class="haschild open">
                        <a href="#">
                            <span class="icon  one-apartment text-main f16"></span> Tổ Kỹ thuật Bàu Bàng
                        </a>
                        <ul>
                            <li  class="haschild open">
                                <a href="#/ecms/quanly-thietbi-bangrong-truyendan" @click="nodeClick('TuRack')">
                                    <span class="icon  -ap icon-home text-main f16"></span> Tủ Rack
                                </a>
                                <ul>
                                    <li class="haschild open">
                                        <a href="#/ecms/quanly-thietbi-bangrong-truyendan" @click="nodeClick('DsLamFrame')">
                                            <span class="icon  one-box text-main f16"></span> DSLAM Frame
                                        </a>
                                        <ul>
                                            <li class="haschild open">
                                                <a href="#/ecms/quanly-thietbi-bangrong-truyendan" @click="nodeClick('DsLamShelf')">
                                                    <span class="icon  one-clipart-1 text-main f16"></span> DSLAM Shelf
                                                </a>
                                                <ul>
                                                    <li class="haschild open">
                                                        <a href="#/ecms/quanly-thietbi-bangrong-truyendan" @click="nodeClick('DsLamCard')">
                                                            <span class="icon  one-clipart-1 text-main f16"></span> DSLAM Card
                                                        </a>
                                                        <ul>
                                                            <li class="haschild open">
                                                                <a href="#/ecms/quanly-thietbi-bangrong-truyendan" @click="nodeClick('DsLamModule')">
                                                                    <span class="icon  one-clipart-1 text-main f16"></span> DSLAM Module
                                                                </a>
                                                                <ul>
                                                                    <li>
                                                                        <a href="#" class="padl0">
                                                                            <div class="check-action check-color">
                                                                                <input type="checkbox" class="check">
                                                                                <span class="name">#00</span>
                                                                            </div>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <span class="icon  one-card text-main f16"></span>#01
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <a href="#/ecms/quanly-thietbi-bangrong-truyendan" @click="nodeClick('ThongTinFrameTD')">
                                    <span class="icon  -ap icon-home text-main f16"></span> Frame truyền dẫn
                                </a>
                                <a href="#/ecms/quanly-thietbi-bangrong-truyendan" @click="nodeClick('ThongTinODF')">
                                    <span class="icon  -ap icon-home text-main f16"></span> Thông tin ODF
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
