<div class="main-wrapper">
    <breadcrumb :header="header" />
    <div class="list-actions-top">
        <ul class="list">
            <li>
                <a href="javascript: void(0)" @click="onLayTT" title="Hiển thị danh sách">
                    <span class="icon one-file-attach"></span>Lấy TT
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" @click.prevent="NhapMoi" :class="{}">
                    <span class="icon one-file-plus"></span>Nhập mới
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" @click.prevent="capNhat" :class="{}" >
                    <span class="icon one-save"></span>Ghi lại
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" @click.prevent="xoaHangKenh" :class="{}" >
                    <span class="icon nc-icon-glyph ui-1_circle-remove"></span>Xóa
                </a>
            </li>
        </ul>
        
    </div>
    <div class="page-content">
        <div class="grid-stack-box">
            <div class="box-col box-form">
                <div class="legend-title">Thông tin tạo danh mục hạng kênh</div>
                <div class="row">
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key">Tên hạng kênh</div>
                            <div class="value">
                                <input type="text" class="form-control " v-model="ten_hang_kenh" required>
                            </div>
                        </div>
                        <div class="info-row">
                            <div class="key">Trạng thái</div>
                            <div class="value">
                                <div class="select-custom">
                                    <Select2 ref="status" :disabled='false' v-model="cboTrangThai.value"
                            :options="cboTrangThai.list" :settings="settingSelect2"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key">Mô tả hạng kênh</div>
                            <div class="value">
                                <textarea name="" class="form-control" style="height: 70px;resize: none;" v-model="mo_ta"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-stack-box">
            <div class="box-form">
                <div class="legend-title">Dánh sách các hạng kênh</div>
                <div class="table-content">
                    <DataGrid
                        ref="danhSachHangKenh"
                        v-bind:columns="listTable.hang_kenh_table.header"                    
                        v-bind:dataSource="listTable.hang_kenh_table.list"
                        :enable-paging-server="false"                                        
                        :allowPaging="true"
                        :showFilter="true"
                        :showColumnCheckbox="false"
                        @rowClicked = "channel_SelectionChanged"
                    >
                    </DataGrid>
                </div>
            </div>
        </div>
    </div>
</div>