<div>
    <div class="tab-content pad0 bor0 mart10" style="box-shadow: none;">

        <div class="box-move-select-table">
            <div class="box-col">
                <div class="table-content" style="height: 250px">

                    <vue-table v-model="currentRecordAreaDeliver" :options="danhSachKhuVucDaGan"
                        :config="areaHeaderDeliver" :unique="'kieuld_id'" :multiple="true" @input="onCheckBoxDeliver">
                    </vue-table>
                </div>
            </div>
            <div class="actions">
                <button class="btn" :disabled="tempAreaDeliver.length == 0" @click="onCheckBoxDeliverRemove">
                    <span class="fa fa-angle-right"></span>
                </button>
                <button class="btn" :disabled="danhSachKhuVucDaGan.length == 0" @click="handDataRight">
                    <span class="fa fa-angle-double-right"></span>
                </button>
                <button class="btn" @click="onCheckBoxNotDeliverToDeliver" :disabled="tempAreaNotDeliver.length == 0">
                    <span class="fa fa-angle-left"></span>
                </button>
                <button class="btn" :disabled="danhSachKhuVucChuaGan.length == 0" @click="handDataLeft">
                    <span class="fa fa-angle-double-left"></span>
                </button>
            </div>
            <div class="box-col">
                <div class="table-content" style="height: 250px">

                    <!-- <gridview id="'unassigned'" keyRecord="id" :datalist="unassignedType"
                    :headers="[{ text: 'Kiểu lắp đặt chưa gán', fieldtype: '', name: 'a' }]" v-bind:checkheader="true"
                    lastcoltemplate="0" @recordChange="onGridChuaGan" paginationCustom='true'></gridview> -->
                    <vue-table v-model="currentRecordAreaNotDeliver" :options="danhSachKhuVucChuaGan"
                        :config="areaHeaderNotDeliver" :unique="'kieuld_id'" :multiple="true"
                        @input="onCheckBoxNotDeliver">
                    </vue-table>
                </div>
            </div>

        </div>
    </div>

</div>