<main class="thongtin-chung-wrapper ">
  <div class="row">
    <div class="info-row col-md-6 col-12">
      <label class="key w150">Tên Subnet <span class="required">*</span></label>
      <div class="value">
        <input :class="{ invalidBox: fieldErrors.tenSubnet }" :disabled="isViewMode" class="form-control"
          v-model="form.tenSubnet" placeholder="Nhập tên subnet" />
      </div>
    </div>

    <div class="info-row col-md-2 col-12">
      <label class="key w150">Hiệu lực</label>
      <div class="value padt4">
        <div class="check-action">
          <input :disabled="isViewMode" type="checkbox" class="check" v-model="form.hieuLuc" :true-value="1"
            :false-value="0" />
          <span class="name"></span>
        </div>
      </div>
    </div>

    <div class="info-row col-md-2 col-12">
      <label class="key w150">Quảng bá IP</label>
      <div class="value padt4">
        <div class="check-action">
          <input :disabled="isViewMode" type="checkbox" class="check" v-model="form.quangBa" :true-value="1"
            :false-value="0" />
          <span class="name"></span>
        </div>
      </div>
    </div>

    <div class="info-row col-md-2 col-12">
      <label class="key w150">Tự động sinh IP</label>
      <div class="value padt4">
        <div class="check-action">
          <input :disabled="isViewMode" type="checkbox" class="check" v-model="form.tuDong" :true-value="1"
            :false-value="0" />
          <span class="name"></span>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-12 info-row">
      <label class="key w150">Loại IP <span class="required">*</span></label>
      <div class="value">
        <SelectExt :disabled="isViewMode" :dataSource="loaiIPList" :class="{ invalidBox: fieldErrors.loaiIp }"
          dataTextField="TEN" dataValueField="LOAIIP_ID" v-model="form.loaiIp" />
      </div>
    </div>

    <div class="col-md-3 col-12 info-row">
      <label class="key w150">Phân loại IP <span class="required">*</span></label>
      <div class="value">
        <SelectExt :disabled="isViewMode" :dataSource="phanLoaiIPList" dataTextField="TEN"
          dataValueField="PHANLOAIIP_ID" v-model="form.phanLoaiIp" :class="{ invalidBox: fieldErrors.phanLoaiIp}" />
      </div>
    </div>

    <div class="info-row col-md-6 col-12">
      <label class="key w150">Trạng thái CCDV <span class="required">*</span></label>
      <div class="value">
        <SelectExt :disabled="isViewMode" :dataSource="[{ ID: 1, TEN: 'Tất cả' }, { ID: 2, TEN: 'Option 2' }]"
          dataTextField="TEN" dataValueField="ID" v-model="form.ccdv" :class="{ invalidBox: fieldErrors.ccdv }" />
      </div>
    </div>

    <div class="info-row col-md-6 col-12">
      <label class="key w150">Subnet Mask <span class="required">*</span></label>
      <div class="value">
        <SelectExt :disabled="isViewMode" :dataSource="subnetMask" dataTextField="SUBNETMASK" dataValueField="ID"
          v-model="form.subnetMask" :class="{ invalidBox: fieldErrors.subnetMask }" />
      </div>
    </div>

    <div class="info-row col-md-6 col-12">
      <label class="key w150">Subnet <span class="required">*</span></label>
      <div class="value">
        <input :class="{ invalidBox: fieldErrors.subnet }" :disabled="isViewMode" type="text" class="form-control"
          v-model="form.subnet" />
      </div>
    </div>

    <div class="info-row col-md-6 col-12">
      <label class="key w150">IDC <span class="required">*</span></label>
      <div class="value">
        <SelectExt :disabled="isViewMode" :dataSource="idcList" dataTextField="TEN" dataValueField="ID"
          v-model="form.idc" :class="{ invalidBox: fieldErrors.idc }" />
      </div>
    </div>

    <div class="info-row col-md-6 col-12">
      <label class="key w150">Gateway <span class="required">*</span></label>
      <div class="value">
        <input :class="{ invalidBox: fieldErrors.gateWay }" :disabled="isViewMode" type="text" class="form-control"
          v-model="form.gateWay" />
      </div>
    </div>

    <div class="info-row col-md-6 col-12">
      <label class="key w150">Hạ Tầng Mạng <span class="required">*</span></label>
      <div class="value">
        <SelectExt :disabled="isViewMode" :dataSource="hatangMangDropList" dataTextField="TEN" dataValueField="HTM_ID"
          :class="{ invalidBox: fieldErrors.htm }" v-model="form.htm" />
      </div>
    </div>

    <div class="info-row col-md-6 col-12">
      <label class="key w150">Subnet Cha</label>
      <div class="value">
        <SelectExt :disabled="isViewMode" :dataSource="subnetDropdownList" dataTextField="TEN" dataValueField="ID"
          v-model="form.subnetCha" />
      </div>
    </div>

    <div class="info-row col-md-6 col-12">
      <label class="key w150">Đơn vị quản lý</label>
      <div class="value">
        <SelectExt :disabled="isViewMode" :dataSource="[{ ID: 1, TEN: 'Tất cả' }, { ID: 2, TEN: 'Option 2' }]"
          dataTextField="TEN" dataValueField="ID" v-model="form.donvi" />
      </div>
    </div>

    <div class="col-md-6 col-12">
      <div class="info-row">
        <label class="key w150">Nội bộ / Khách hàng<span class="required">*</span></label>
        <div class="value">
          <SelectExt :disabled="isViewMode" :dataSource="[{ ID: 1, TEN: 'Tất cả' }, { ID: 2, TEN: 'Option 2' }]"
            dataTextField="TEN" dataValueField="ID" v-model="form.noiBo" :class="{ invalidBox: fieldErrors.noiBo }" />
        </div>
      </div>
    </div>

    <div class="info-row col-md-6 col-12">
      <label class="key w150">Mục đích sử dụng</label>
      <div class="value">
        <SelectExt :disabled="isViewMode" :dataSource="[{ ID: 1, TEN: 'Tất cả' }, { ID: 2, TEN: 'Option 2' }]"
          dataTextField="TEN" dataValueField="ID" v-model="form.mucDich" />
      </div>
    </div>

    <div class="info-row col-md-6 col-12">
      <label class="key w150">Số cử tham chiếu</label>
      <div class="value">
        <SelectExt :disabled="isViewMode" :dataSource="[{ ID: 1, TEN: 'Tất cả' }, { ID: 2, TEN: 'Option 2' }]"
          dataTextField="TEN" dataValueField="ID" v-model="form.thamChieu" />
      </div>
    </div>

    <div class="col-md-6 col-12 info-row">
      <label class="key w150">Ghi chú</label>
      <div class="value">
        <textarea :disabled="isViewMode" class="form-control" rows="2" v-model="form.ghiChu"></textarea>
      </div>
    </div>
  </div>

  <!-- THUỘC VLAN GRID -->
  <section class="thuoc-vlan-wrapper mt-3">
    <div class="legend-title d-flex justify-content-between align-items-center">
      <p>Thuộc VLAN</p>
      <div class="d-flex gap-2">
        <button type="button" class="btn btn-danger btn-md" :disabled="selectedVlanRows.length === 0"
          @click="deleteSelectedVlan">
          Xóa ({{ selectedVlanRows.length }})
        </button>

        <button type="button" class="btn btn-primary btn-md" @click="openVlanSelect">
          Thêm VLAN
        </button>
      </div>
    </div>

    <DataGrid :allowPaging="false" :dataSource="form.vlan" :allowAdding="false" :columns="[
      { fieldName: 'VLAN_ID', headerText: 'VLAN ID', width: 70 },
      { fieldName: 'VLAN_TEN', headerText: 'Tên VLAN', width: 150 },
      { fieldName: 'VLAN_HIEU_LUC', headerText: 'HIỆU LỰC', width: 100 },
      { fieldName: 'IDC_TEN', headerText: 'IDC', width: 200 },
    ]" :showColumnCheckbox="true" @rowSelected="onRowSelected" @rowDeselected="onRowDeselected" />
  </section>

  <VLanSelectModal :visible="showVlanSelectModal" :vlanList="vlanList" @close="showVlanSelectModal = false"
    @save="onSaveSelectedVlan" />
</main>