<div class="main-wrapper">
  <breadcrumb :header="header" />

  <div class="list-actions-top">
    <ul class="list">
      <li>
        <a href="#" @click.prevent="btnGetTT"> <span class="icon one-file-attach1"></span>Lấy TT </a>
      </li>
      <li>
        <a href="#" @click.prevent="btnAddNew" :class="{disabled:isNhapMoi && !btnNhapMoiVisible}"> <span class="icon one-file-plus"></span>Nhập mới </a>
      </li>
      <li>
        <a href="#" @click.prevent="btnUpdate" :class="{disabled:!isNhapMoi && !isCapNhat}"> <span class="icon one-reload1"></span>Cập nhật </a>
      </li>
      <li>
        <a href="#" @click.prevent="btnCancel" :class="{disabled:!isNhapMoi}"> <span class="icon nc-icon-glyph ui-1_circle-remove"></span>Hủy bỏ </a>
      </li>
      <li>
        <a href="#" @click.prevent="btnSetDelete" :class="{disabled:!isCapNhat}"> <span class="icon one-file-trash"></span>Xóa phiếu </a>
      </li>
      <li>
        <a href="#" @click.prevent="btnAddFile" :class="{disabled:!isCapNhat && !btnThemFileVisible}"> <span class="icon nc-icon-glyph ui-1_circle-add"></span>Thêm file </a>
      </li>
      <li>
        <a href="#" @click.prevent="btnFileDelete" :class="{disabled:!isCapNhat && !btnXoaFileVisible}"> <span class="icon one-folder-trash"></span>Xóa File </a>
      </li>
      <li>
        <a href="#" @click.prevent="btnChuyenHS" :class="{disabled:!isCapNhat && btnChuyenKhoVisible}"> <span class="icon one-file-back-1"></span>Chuyển HS </a>
      </li>
      <li>
        <a href="#"> <span class="icon one-book1"></span>Hướng dẫn </a>
      </li>
    </ul>
  </div>
  <div class="page-content">
    <div class="grid-stack-box">
      <div class="box-col box-form" id="boxLeft" style="width: calc(15% - 8px);">
        <div class="legend-title">
          Danh sách kho hồ sơ
          <a href="#" class="btn btn-second pad2 lh20 button-not-bg marl10" @click.prevent="refreshTree">
            <span class="nc-icon-outline arrows-1_refresh-69 f20"></span>
          </a>
        </div>
        <div class="input-more-button -right">
          <button class="btn" @click.prevent="btnSort">
            <span class="one-sort"></span>
          </button>
          <div class="input-icon-left">
            <input type="text" class="form-control" v-model="txtDoiTuong" v-on:keyup.enter="onEnter" />
            <span class="icon nc-icon-outline ui-2_filter"></span>
          </div>
        </div>

        <div class="tree-plus mart10">
          <ejs-treeview cssClass="mytree" id="treeview" :fields="fields" ref="treeview" :showCheckBox="false" :expandAll="false" :allowMultiSelection="true" @nodeSelected="treeClicked"></ejs-treeview>

          <!-- <treemenu @treeItemClicked="treeClicked" :nodes="listbox.ds_doituonghs.list.$nodes" :depth="0"
            :label="listbox.ds_doituonghs.list.ma_hs_doituong" :hsid="listbox.ds_doituonghs.list.hoso_id">
          </treemenu> -->
        </div>
      </div>
      <div class="box-col" id="boxMid" :style="boxMidWidth">
        <div class="grid-stack-box" style="">
          <div class="box-col box-form" id="boxLeft1" style="width: calc(30.9811% - 8px);">
            <div class="legend-title">Thông tin bộ hồ sơ</div>

            <div class="row">
              <div class="info-row">
                <div class="key w80">
                  Mã GD
                </div>

                <div class="value dropdown">
                  <div class="input-icon-right" data-toggle="dropdown">
                    <input :disabled="!ttBoHS.enable" type="text" class="form-control highlight" v-model="ttBoHS.magd" ref="magd" v-on:keyup.enter="onMaGDEnter" />
                    <span class="icon one-search text-main"></span>
                  </div>
                  <!-- <div class="dropdown-menu fullw pad10" style="width: 800px;">
                    <div class="row" v-if="listbox.ds_hopdong.show">
                      <div class="col-sm-12 col-12">
                        <DataGrid style="position: absolute;z-index: 9999;" v-bind:columns="listbox.ds_hopdong.header"
                          v-bind:dataSource="listbox.ds_hopdong.list" :enable-paging-server="false" :allowPaging="true"
                          :showFilter="true" :showColumnCheckbox="false">
                        </DataGrid>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="info-row">
                <vue-date format="DD/MM/YYYY" v-model="ttBoHS.ngay_tao" :labelWidth="'80'" label="Ngày tạo" :disable="!ttBoHS.enable"></vue-date>
              </div>
            </div>
            <div class="info-row">
              <div class="key w80">
                Mã bộ HS
              </div>
              <div class="value">
                <div class="input-icon-right">
                  <input :disabled="!ttBoHS.enable" type="text" class="form-control highlight" v-model="ttBoHS.mabohs" v-on:keyup.enter="onMaBoHSEnter" />
                </div>
              </div>
            </div>
            <div class="info-row">
              <div class="key w80">
                Mã KH
              </div>
              <div class="value">
                <div class="input-icon-right">
                  <input :disabled="!ttBoHS.enable" type="text" class="form-control highlight" v-model="ttBoHS.makh" />
                </div>
              </div>
            </div>
            <div class="info-row">
              <div class="key w80">
                Tên KH
              </div>
              <div class="value">
                <div class="input-icon-right">
                  <input :disabled="!ttBoHS.enable" type="text" class="form-control highlight" v-model="ttBoHS.tenkh" />
                </div>
              </div>
            </div>

            <div class="info-row">
              <vue-date format="DD/MM/YYYY" v-model="ttBoHS.ngay_ht" :labelWidth="'80'" label="Ngày HT" :disable="!ttBoHS.enable"></vue-date>
            </div>
            <div class="info-row">
              <div class="key w80">
                Trạng thái
              </div>
              <div class="value">
                <div class="select-custom">
                  <select name="" id="" class="form-control" :disabled="!ttBoHS.enable" v-model="ttBoHS.trangthaihoso">
                    <option v-for="trangthai in listbox.trangthaihoso.list" v-bind:value="trangthai.ID"> {{ trangthai.NAME }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="info-row">
              <div class="key  w80">
                Kho hồ sơ
              </div>
              <div class="value">
                <div class="select-custom">
                  <select :disabled="cboKhoHSDisable" class="form-control" v-model="listbox.khohoso.value.id">
                    <option v-for="khohs in listbox.khohoso.list" v-bind:value="khohs.ID">{{ khohs.NAME }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="info-row">
              <div class="key  w80">
                Ghi chú
              </div>
              <div class="value">
                <textarea :disabled="!ttBoHS.enable" class="form-control" style="height:74px;resize:none" id="" cols="30" rows="10" v-model="ttBoHS.ghichu"></textarea>
              </div>
            </div>
          </div>
          <div class="gutter gutter-horizontal" style="width: 16px;"></div>
          <div class="box-col box-form" id="boxMid1" :style="chiTietHSWidth">
            <div class="legend-title">
              <div class="check-action">
                <input type="checkbox" class="check" v-model="listbox.chitiet_hoso.isZoom" />
                <span class="name">Chi tiết bộ hồ sơ</span>
              </div>
            </div>
            <div class="table-content" style="max-height: 300px;">
              <table class="table-result table-gachle tree-grid-2">
                <tr>
                  <td>
                    <div class="table-content">
                      <DataGrid ref="grid" v-bind:columns="listbox.chitiet_hoso.header" v-bind:dataSource="listbox.chitiet_hoso.list" :enablePagingServer="false" :allowSorting="true" :allowPaging="true" :allowResizing="true" :showFilter="true"> </DataGrid>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="gutter gutter-horizontal" style="width: 16px;"></div>
          <div v-if="!listbox.chitiet_hoso.isZoom" class="box-col box-form" id="boxRight1" style="width: calc(25.9606% - 8px);">
            <div class="legend-title">Đơn vị nhận hồ sơ</div>
            <div class="table-content" style="max-height: 300px;">
              <table class="table-result table-gachle tree-grid-2">
                <tr>
                  <td>
                    <div>
                      <DataGrid v-bind:columns="listbox.donvinhan_hoso.header" v-bind:dataSource="listbox.donvinhan_hoso.list" :enable-paging-server="false" :allowPaging="true" :showFilter="true" :showColumnCheckbox="false"> </DataGrid>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="box-form">
          <div class="legend-title">
            <div class="pull-left">
              <span class="inline">Danh sách bộ hồ sơ</span>
              <div class="inline vcenter marl20">
                <div class="info-row marb0">
                  <div class="key normal w20">Từ</div>
                  <div class="value">
                    <div class="input-icon-right">
                      <flat-pickr class="form-control" :config="dateconfig" v-model="tu_ngay" />
                      <span class="icon one-calendar"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="inline vcenter">
                <div class="info-row marb0">
                  <div class="key normal w20">Đến</div>
                  <div class="value">
                    <div class="input-icon-right">
                      <flat-pickr class="form-control" :config="dateconfig" v-model="den_ngay" />
                      <span class="icon one-calendar"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pull-right">
              <div class="list-checks mart7 normal">
                <div class="item">
                  <div class="check-action">
                    <input type="checkbox" class="check" v-model="laytoanbo" />
                    <span class="name">Lấy toàn bộ</span>
                  </div>
                </div>
                <div class="item">
                  <div class="check-action">
                    <input type="checkbox" class="check" v-model="isHSCungHopDong" />
                    <span class="name">HS cùng Hợp đồng</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="table-content">
            <table class="table-result table-gachle table-filter">
              <tr>
                <td>
                  <div>
                    <DataGrid
                      :enabledSelectFirstRow="false"
                      ref="grid_ds_bo_hs"
                      v-bind:columns="listbox.ds_bohoso.header"
                      v-bind:dataSource="listbox.ds_bohoso.list"
                      :enable-paging-server="false"
                      :allowPaging="true"
                      :showFilter="true"
                      :showColumnCheckbox="false"
                      @selectedRowChanged="gridHoSoChanged"
                      @actionComplete="gridHoSoRowChon"
                      :pageIndex="listbox.ds_bohoso.pageIndex"
                      :pageSize="listbox.ds_bohoso.pageSize"
                      @pageChanged="gridHoSoPageChanged"
                    >
                    </DataGrid>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div v-if="isThemFile" class="box-col box-form file-info-wrapper" id="boxRight" style="width: calc(23% - 8px);">
        <div class="legend-title file-info-toolbar-wrapper">
          <div class="pull-left">
            <span class="title inline vcenter btn-no-padding">Thông tin file</span>
            <button class="btn btn-second btn-no-padding" @click="resetClicked" :disabled="!isThemFile"><span class="one-reload"></span> Làm mới</button>
            <button class="btn btn-second btn-no-padding" @click="btlLuuFileClick" :disabled="!isThemFile"><span class="one-file-plus"></span> Lưu file</button>
          </div>
          <div class="pull-right">
            <a href="#" class="red btn f20 lh20" @click="isThemFile = false">
              <span class="-ap icon-arrow-right3"></span>
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
        <ejs-tab ref="tabObj" id="tab_wizard" heightAdjustMode="None" height="auto" @selected="onThongTinFileSelected">
          <e-tabitems>
            <e-tabitem :header="thongTinUploadHeaderText" content="#thongTinUpload"></e-tabitem>
            <e-tabitem :header="danhSachDaUploadHeaderText" content="#danhSachDaUpload"></e-tabitem>
          </e-tabitems>
        </ejs-tab>
        <div id="thongTinUpload" class="file-info-tab" style="display: none">
          <div class="info-row">
            <div class="key w80">Nhóm file</div>
            <div class="value">
              <div class="select-custom">
                <select name="" id="" class="form-control" v-model="listbox.nhomfile.value.id" :disabled="!isThemFile">
                  <option v-for="nhomfile in listbox.nhomfile.list" v-bind:value="nhomfile.ID">{{ nhomfile.NAME }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="info-row">
            <div class="key w80">Loại File</div>
            <div class="value">
              <div class="select-custom">
                <select name="" id="" class="form-control" v-model="listbox.loaifile.value.id" :disabled="!isThemFile">
                  <option v-for="loaifile in listbox.loaifile.list" v-bind:value="loaifile.loaifile_id">{{ loaifile.loai_file }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="info-row">
            <div class="key w80">Đường dẫn</div>
            <div class="value">
              <div class="input-more-button -right">
                <label class="btn" for="upload-file" :disabled="!isThemFile">
                  <span class="-ap icon-more_horiz"></span>
                  <input type="file" ref="files" class="hidden" id="upload-file" @change="UploadFileHoSo" />
                </label>
                <input type="text" class="form-control highlight" v-model="listbox.ds_file_hs.value.url" :disabled="!isThemFile" value="http://10.70.521.164:8081/FILES/QBH/HOSO/proud.jpg" />
              </div>
            </div>
          </div>
          <div class="info-row">
            <div class="key w80">Ghi chú</div>
            <div class="value">
              <input type="text" class="form-control" v-model="ghichufile" :disabled="!isThemFile" />
            </div>
          </div>
          <div class="title-bg-main">
            <div class="pull-left">
              <span class="title mart5">Danh sách thuê bao</span>
              <a href="#" @click="btnResetClick" class="btn btn-second pad2 lh20 button-not-bg marl10">
                <span class="nc-icon-outline arrows-1_refresh-69 f20"></span>
              </a>
            </div>
            <div class="pull-right">
              <a href="#" @click="btnNhomClick" class="btn btn-second pad2 lh20 button-not-bg marl10">
                <span class="nc-icon-outline ui-2_filter f20"></span>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="table-content" style="max-height: 300px;">
            <table class="table-result table-gachle tree-grid-2">
              <tr>
                <td>
                  <div>
                    <DataGrid :key="listbox.ds_thuebao.tableKey" v-bind:columns="listbox.ds_thuebao.header" v-bind:dataSource="listbox.ds_thuebao.list" :enable-paging-server="false" :allowPaging="true" :showFilter="true" :showColumnCheckbox="true" @selectedItemsChanged="gridTBItemshanged">
                    </DataGrid>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div id="danhSachDaUpload" class="file-info-tab" style="display: none">
          <div class="table-content">
            <table class="table-result table-gachle tree-grid-2">
              <tr>
                <td>
                  <div>
                    <DataGrid :key="listbox.ds_thuebao.tableKey" v-bind:columns="listbox.ds_daUpload.header" v-bind:dataSource="listbox.ds_daUpload.list" :enable-paging-server="false" :allowPaging="true" :showFilter="true" :showColumnCheckbox="true" @selectedItemsChanged="gridTBItemshanged">
                    </DataGrid>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <b-modal id="dsHopDong-modal" size="xl" hide-footer body-class="modal-body p-0">
    <DataGrid style="position: absolute;z-index: 9999;" v-bind:columns="listbox.ds_hopdong.header" v-bind:dataSource="listbox.ds_hopdong.list" :enable-paging-server="false" :allowPaging="true" :showFilter="true" :showColumnCheckbox="false"> </DataGrid>
  </b-modal>
</div>
