a.disabled {
  color: lightgray !important;
}
a.disabled:hover {
  color: lightgray !important;
}
.disabled {
  pointer-events: none;
}
.btn-main {
  background: #0176ff;
  color: #fff;
}

.btn {
  padding: 5px 10px;
  border-radius: 4px;
}

.file-info-wrapper {
  padding: 3px 3px !important;
}

.btn-no-padding {
  padding: 0 0 !important;
  font-size: 14px;
}

.file-info-toolbar-wrapper {
  display: flex;
  align-items: center;
  padding: 0;
}

.upload-tab {
  padding: 0 0 !important;
  font-size: 12px;
}
.upload-tab a {
  padding: 10px 0 !important;
}

.file-info-tab {
  padding: 10px 0;
}
