#danhsach-congviec-idc {
  .info-row {
    display: flex;
    align-items: center;

    .key {
      min-width: 180px;
    }

    .value {
      flex: 1;
    }

    .separator {
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .e-grid .e-rowcell {
    &.phoi-hop-thuc-hien {
      white-space: pre-line !important;
      word-wrap: break-word !important;
      overflow-wrap: break-word !important;
    }
    p {
      &.ten-kh {
        margin: 0 !important;
      }
    }
  }
}
