.intro-section {
  height: 100%;
  background-image: url('../../../public/images/intro.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  transition: all 0.7s ease-in-out;
}

.intro-section.active {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.intro-section::after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.mouse-wheel {
  text-align: center;
  width: 70px;
  position: absolute;
  bottom: 20px;
  z-index: 11111;
  left: 50%;
  transform: translate(-50%, 0%);
}

.mouse-wheel span {
  display: block;
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin-bottom: 3px;
  margin-left: 30px;
}

.wheel-one {
  animation: mouse-scroll 1s infinite;
  animation-direction: alternate;
  animation-delay: 0.1s;
}

.wheel-two {
  animation: mouse-scroll 1s infinite;
  animation-direction: alternate;
  animation-delay: 0.2s;
}

.wheel-three {
  animation: mouse-scroll 1s infinite;
  animation-direction: alternate;
  animation-delay: 0.3s;
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.btn-home-feature {
  border-radius: 3px;
  color: #999;
  text-align: center;
  padding: 8px 16px;
  background: #fff;
  border: 1px solid #999;
  box-sizing: border-box;
  font-size: 14px;
  display: inline-block;
  overflow-wrap: break-word;
  transition: all 0.5s;
}

.btn-home-feature:hover {
  background: var(--green-main);
  border-color: var(--green-main);
  color: white;
}

.home-banner-title {
  font-size: 30px;
  color: var(--green-main);
  line-height: 1.3;
  font-weight: bold;
}

.home-banner-content {
  font-size: 18px;
  color: #4c4c4c;
  margin: 20px 0;
}

.service-banner-container {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
}

.service-banner-container.reverse {
  flex-direction: row-reverse;
}

.service-banner-content {
  padding: 0 70px;
}

.home-review-banner {
  min-height: 500px;
  position: relative;
  background-size: cover;
  background-position: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
}

.home-review-banner img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  object-fit: cover;
  display: block;
  aspect-ratio: auto 1600 / 500;
  z-index: 0;
}

.home-slider-container {
  width: calc(100% + 48px);
  margin-left: -24px;
}

.home-review-container {
  display: flex !important;
  justify-content: center;
}

.home-review-item {
  border-top: 1px solid #ccc;
  padding-top: 24px;
  margin: 24px;
  margin-bottom: 48px;
  box-sizing: border-box;
  word-break: break-word;
  overflow-wrap: break-word;
  width: calc(33.33333333% - 48px);
}

.home-branch-item {
  width: 33.33333333%;
  margin-top: 24px;
  margin-bottom: 52px;
}

.home-branch-item a {
  display: block;
  border-radius: 6px;
  overflow: hidden;
  aspect-ratio: 432 / 312 auto;
  margin-bottom: 20px;
}

.home-branch-item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
}

.home-tag {
  background-color: #e0fab5;
  border-radius: 100px;
  display: inline-block;
  padding: 2px 16px;
  font-size: 14px;
  font-weight: bold;
}

.home-journal-item {
  width: 25%;
  margin-top: 18px;
  margin-bottom: 24px;
}

.home-journal-item a img {
  border: 3px solid #fff;
  box-sizing: border-box;
  margin-bottom: 16px;
  display: block;
  transition: all 0.25s;
}

.home-journal-item a:hover img {
  border-color: #256f41;
}

.marquee-container {
  display: flex;
  gap: 32px;
  width: 100000px;
  transform: translateX(0px);
  animation: 44.3s linear 0s infinite normal none running homeLogo;
}

.marquee-wrapper {
  display: flex;
  gap: 32px;
}

.marquee-item {
  display: block;
  height: 70px;
  width: auto;
  opacity: 0.3;
  max-width: 100%;
}

@keyframes homeLogo {
  100% {
    transform: translateX(-2657px);
  }
}

.home-article-item {
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #cccccc;
}

.home-article-item:last-child {
  border-bottom: 1px solid #cccccc;
}

.home-article-item:hover {
  background-color: #e4f5eb;
  transition: 0.25s;
}

.home-banner-mobile {
  display: none;
}

@media (max-width: 768px) {
  .home-banner-mobile {
    display: inline-block;
  }

  .home-banner-pc {
    display: none;
  }

  .home-banner-container,
  .service-banner-container {
    flex-direction: column !important;
    margin-top: 0px;
  }

  .home-banner-title {
    font-size: 20px;
    margin-top: 20px;
  }

  .home-banner-content {
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 5px;
  }

  .btn-home-feature {
    font-size: 11px;
  }

  .sec-inner {
    padding-top: 100px;
    padding: 100px 0;
  }

  .service-banner-container {
    align-items: unset;
  }

  .service-banner-content {
    padding: 0px;
  }

  .home-review-banner {
    min-height: 387px;
  }

  .marquee-item {
    height: 40px;
  }

  .sec .sec-head {
    max-width: 100%;
    width: 100%;
  }

  .sec .sec-head h2 {
    font-size: 25px;
    margin: 0;
  }

  .sec .sec-head p {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .home-review-container {
    display: inline-block !important;
  }

  .home-review-item {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
    padding-top: 13px;
  }

  .home-review-item p {
    font-size: 12px;
    margin: 12px 0 0;
  }

  .home-review-item p:first-child {
    font-size: 16px;
    margin: 0;
  }

  .home-slider-container {
    width: 100%;
    margin-left: 0;
  }

  .home-branch-list {
    margin-top: 20px;
    margin-left: auto !important;
    display: block;
  }

  .home-branch-item {
    width: 100%;
    margin: 0;
    margin-bottom: 50px;
  }

  .home-branch-item p {
    font-size: 13px;
  }

  .home-branch-item .branch-name {
    font-size: 18px;
  }

  .home-journal-list {
    display: block;
  }

  .home-journal-item {
    width: 100%;
    margin: 0 0 32px 0;
  }

  .home-journal-item a img {
    margin-bottom: 0px;
  }

  .home-journal-item p {
    font-size: 14px;
  }

  .home-journal-item .home-tag {
    margin: 15px 0;
    font-size: 12px;
  }

  .home-article-item {
    flex-wrap: wrap;
  }

  .home-article-item:last-child {
    border-bottom: none;
  }

  .home-article-name {
    display: inline-block;
    width: 100%;
  }
}
