.mx-datepicker {
    width: 100% !important;
}
.mx-icon-calendar {
    font-style: normal !important;
}
.breadcrumb li.active { background-color:transparent; }
.breadcrumb-top .breadcrumb{
    position: absolute;
    right: 15px;
}
/deep/ .modal-body .page-content { position:inherit; }
/deep/ .modal-dialog { max-width:60vw; }
.invalid { color:lightgray; }
input:focus:invalid {
    border-color:red;
    background-color: lightcoral;
}
input:focus:valid {
    border-color:black;
    // background-color: greenyellow;
}
input.disabled, select.disabled, .disabled input, .disabled select, .disabled .btn,.disabled /deep/ .select2-selection ,
.disabled /deep/ .mx-input-wrapper input
{ background-color: #EEE; color:lightgray; border-color: lightgray; }
a.disabled { color:lightgray !important; }
a.disabled:hover { color:lightgray !important; }
.disabled { pointer-events: none; color:lightgray; border-color:lightgray; }
ul.form-control.listview { list-style:none; cursor: pointer; }
/*
.main-wrapper-hths  .page-content {
    position:inherit !important;
}
*/
/deep/ .popup-body-postpaid .main-wrapper{
    position:inherit !important;
    top: 90;
}
/deep/ .popup-body-postpaid  .main-wrapper .breadcrumb-top, .popup-body-postpaid .main-wrapper .footer ,.popup-body-postpaid .main-wrapper footer{
    display: none !important;
}
/deep/ .popup-body-postpaid  .list-actions-top {
    position: relative;
}
/deep/ .popup-body-postpaid .main-wrapper .page-content{
    position:inherit !important;
    top:90;
    min-height: 500px;
}
.e-dlg-content .footer, .e-dlg-content footer{
    display: none !important;
}
.batbuoc{

}
#CNTT{
  max-height: 396px;
  /* float: left; */
  overflow-y: scroll;
}
.CNTT_SValue{
  color: blue !important;
}
.CNTT_Field{
  font-weight: 600;
  color: black;
}
