<div v-if="visible" class="device-detail-form">
  <!-- TAB NAVIGATION -->
  <div class="">
    <div class="nav tab-over tabs">
      <a v-for="tab in visibleTabs" :key="tab.id" :href="tab.href" v-on:click="onChangeTab(tab.id)" data-toggle="tab"
        class="tab" :class="{active: currentTabIndex == tab.id}">
        {{ tab.label }}
      </a>
    </div>
  </div>
  <div class="tab-content">
    <!-- Tab 1: Thông tin chung -->
    <div v-if="isTabVisible(TAB_INDICES.THONG_TIN_CHUNG)" v-show="currentTabIndex == TAB_INDICES.THONG_TIN_CHUNG">
      <ThongTinChung ref="thongTinChung" :currentItem="currentItem" :controls="thongTinChungControls"
        :parentDeviceList="parentDeviceList" :deviceTypeList="deviceTypeList" :deviceTypeInfo="getDeviceTypeInfo" />
    </div>

    <div v-if="isTabVisible(TAB_INDICES.NANG_LUC_LUU_TRU)" v-show="currentTabIndex == TAB_INDICES.NANG_LUC_LUU_TRU">
      <NangLucLuuTru ref="nangLucLuuTru" :currentItem="currentItem" :controls="nangLucLuuTruControls" />
    </div>

    <!-- Tab 98: Cấu hình phần cứng -->
    <div v-if="isTabVisible(TAB_INDICES.CAU_HINH_PHAN_CUNG)" v-show="currentTabIndex == TAB_INDICES.CAU_HINH_PHAN_CUNG">
      <CauHinhPhanCung ref="cauHinhPhanCung" :currentItem="currentItem" :deviceTypeInfo="getDeviceTypeInfo" />
    </div>

    <!-- Tab 8: Cổng kết nối -->
    <div v-if="isTabVisible(TAB_INDICES.CONG_KET_NOI)" v-show="currentTabIndex == TAB_INDICES.CONG_KET_NOI">
      <CongKetNoi ref="congKetNoi" :currentItem="currentItem" :controls="congKetNoiControls"
        :deviceTypeList="deviceTypeList" :customerTypeList="customerTypeList" :parentDeviceList="parentDeviceList"
        :deviceTypeInfo="getDeviceTypeInfo" />
    </div>

    <!-- Tab 3: Thông tin lắp đặt -->
    <div v-if="isTabVisible(TAB_INDICES.THONG_TIN_LAP_DAT)" v-show="currentTabIndex == TAB_INDICES.THONG_TIN_LAP_DAT">
      <ThongTinLapDat ref="thongTinLapDat" :currentItem="currentItem" :controls="thongTinLapDatControls"
        :deviceTypeInfo="getDeviceTypeInfo" />
    </div>

    <!-- Tab 4: Thông tin kiểm kê quản lý tài sản -->
    <div v-if="isTabVisible(TAB_INDICES.TAI_SAN)" v-show="currentTabIndex == TAB_INDICES.TAI_SAN">
      <ThongTinKiemKe ref="thongTinKiemKe" :currentItem="currentItem" :controls="thongTinKiemKeControls" />
    </div>

    <div v-if="isTabVisible(TAB_INDICES.HA_TANG_AO_HOA)" v-show="currentTabIndex == TAB_INDICES.HA_TANG_AO_HOA">
      <HaTangAoHoa ref="haTangAoHoa" :currentItem="currentItem" :deviceTypeInfo="getDeviceTypeInfo" />
    </div>

    <!-- Tab 6: Thông tin khách hàng -->
    <div v-if="isTabVisible(TAB_INDICES.THONG_TIN_KHACH_HANG)"
      v-show="currentTabIndex == TAB_INDICES.THONG_TIN_KHACH_HANG">
      <ThongTinKhachHang ref="thongTinKhachHang" :currentItem="currentItem" :controls="thongTinKiemKeControls" />
    </div>

    <!-- Tab 99: Hệ thống dịch vụ -->
    <div v-if="isTabVisible(TAB_INDICES.HE_THONG_DICH_VU)" v-show="currentTabIndex == TAB_INDICES.HE_THONG_DICH_VU">
      <HeThongDichVu ref="heThongDichVu" :currentItem="currentItem" />
    </div>

    <!-- Tab 5: Lịch sử thiết bị -->
    <div v-if="isTabVisible(TAB_INDICES.LICH_SU_THAY_DOI)" v-show="currentTabIndex == TAB_INDICES.LICH_SU_THAY_DOI">
      <LichSuThietBi :deviceRelationHistory="deviceRelationHistory" :deviceTypeInfo="getDeviceTypeInfo"
        :deviceId="currentItem.id" />
    </div>

    <!-- Tab 7: Nghiệp vụ IDC -->
    <div v-if="isTabVisible(TAB_INDICES.NGHIEP_VU_IDC)" v-show="currentTabIndex == TAB_INDICES.NGHIEP_VU_IDC">
      <NghiepVuIdc ref="nghiepVuIdc" :currentItem="currentItem" :controls="thongTinKiemKeControls" />
    </div>

    <div v-if="isTabVisible(TAB_INDICES.VUNG_DU_LIEU)" v-show="currentTabIndex == TAB_INDICES.VUNG_DU_LIEU">
      <VungDuLieu ref="vungDuLieu" :currentItem="currentItem" />
    </div>

    <div v-if="isTabVisible(TAB_INDICES.LUU_TRU_TAI_NGUYEN)" v-show="currentTabIndex == TAB_INDICES.LUU_TRU_TAI_NGUYEN">
      <LuuTruTaiNguyen ref="luuTruTaiNguyen" :currentItem="currentItem" />
    </div>
  </div>
</div>