<div class="main-wrapper">
    <div class="breadcrumb-top">
        <breadcrumb :header="header" />
    </div>
    <div class="list-actions-top">
        <ul class="list">
            <li>
                <a @click="tsbnLayThongTin_Click" title="Hiển thị danh sách">
                    <span class="icon one-file-attach"></span>Lấy TT
                </a>
            </li>
            
            <li>
                <a @click="tsbtnHenDC_Click" title="Hẹn lắp đặt">
                    <span class="icon one-henld"></span>Hẹn LĐ
                </a>
            </li>
          <!--   <li v-if="button.tsbHuy == '0'">
                <a @click="tsbHuy_Click" title="Hủy">
                    <span class="icon nc-icon-glyph ui-1_circle-remove"></span>Hủy
                </a>
            </li> -->
            <li>
                <a @click="tsbtnExcel_Click" title="Xuất excel">
                    <span class="icon one-xlsx-import"></span>Xuất Excel
                </a>
            </li>
        </ul>
    </div>
    <div class="page-content">
        
        <div class="box-form">
            <div class="legend-title">Thông tin tìm kiếm</div>
            <div class="grid-stack-box">
                <div class="box-col" id="boxLeft">
                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w90">
                                    <div class="check-action">
                                        <input type="checkbox" class="check" @click="chkLoaiHD = !chkLoaiHD"  :checked="chkLoaiHD">
                                        <span class="name text-main">Loại HĐ</span>
                                    </div>
                                </div>
                                <div class="value">
                                    <div class="select-custom">
                                        <SelectExt v-model="loaiHD" :options="loaiHD_options"  @select="cboLoaiHD_SelectedValueChanged"
                                        :disabled="!chkLoaiHD"/>
                                    </div>
                                </div>
                            </div>
                            <div class="info-row">
                                <div class="key w90">
                                    <div class="check-action">
                                        <input type="checkbox" class="check" @click="chkKieuYC = !chkKieuYC"  :checked="chkKieuYC">
                                        <span class="name">Kiểu LĐ</span>
                                    </div>
                                </div>
                                <div class="value">
                                    <div class="select-custom">
                                        <SelectExt v-model="kieuLD" :options="kieuLD_options"
                                         :disabled="!chkKieuYC"/>
                                    </div>
                                </div>
                            </div>
                            <div class="info-row">
                                <div class="key w90">
                                    <div class="check-action">
                                        <input type="checkbox" class="check" v-model="chkNgay">
                                        <span class="name">Từ ngày</span>
                                    </div>
                                </div>
                                <div class="value">
                                    <div class="input-icon-right">
                                        <ejs-datepicker v-model="tungay"
                                        :format="'dd/MM/y'" :showClearButton="false"  :enabled="isTuNgay"
                                        :placeholder="'Từ ngày'">
                                        </ejs-datepicker>
                                    </div>
                                </div>
                                <div class="key w10 center padl10">-</div>
                                <div class="value">
                                    <div class="input-icon-right">
                                        <ejs-datepicker v-model="denngay"
                                        :format="'dd/MM/y'" :showClearButton="false"  :enabled="isTuNgay"
                                        :placeholder="'Đến ngày'">
                                        </ejs-datepicker>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key">
                                    <div class="check-action">
                                        <input type="checkbox" class="check" @click="chkKQKS = !chkKQKS"  :checked="chkKQKS">
                                        <span class="name">Kết quả KS</span>
                                    </div>
                                </div>
                                <div class="value">
                                    <div class="select-custom">
                                        <SelectExt v-model="ketQuaKS" :options="ketQuaKS_options"
                                        :disabled="!chkKQKS" @select="cboKQKS_SelectedIndexChanged"/>
                                    </div>
                                </div>
                            </div>
                            <div class="info-row">
                                <div class="key">
                                    <div class="check-action">
                                        <input type="checkbox" class="check" @click="chkDichVuVT = !chkDichVuVT"  :checked="chkDichVuVT">
                                        <span class="name">Dịch vụ</span>
                                    </div>
                                </div>
                                <div class="value">
                                    <div class="select-custom">
                                        <SelectExt v-model="dichVu" :options="dichVu_options" @select="cboDichVuVT_SelectedValueChanged"
                                        :disabled="!chkDichVuVT"/>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="info-row">
                                <div class="key">
                                    <div class="check-action">
                                        <input type="checkbox" class="check" @click="chkLHTB = !chkLHTB"  :checked="chkLHTB">
                                        <span class="name text-main">Loại hình TB</span>
                                    </div>
                                </div>
                                <div class="value">
                                    <div class="select-custom">
                                        <SelectExt v-model="loaiHinh" :options="loaiHinh_options" @select="cboLoaihinhTB_SelectedValueChanged"
                                         :disabled="!chkLHTB"/>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="box-col" id="boxRight">
                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w90">Mã giao dịch</div>
                                <div class="value">
                                    <input type="text" class="form-control highlight" v-model="txtMaGD" @keypress.enter="txtMaGD_KeyPress">
                                </div>
                            </div>
                            <div class="info-row">
                                <div class="key w90">Tên thuê bao</div>
                                <div class="value">
                                    <input type="text" class="form-control" v-model="txtTenTB">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w90">Số điện thoại</div>
                                <div class="value">
                                    <input type="text" class="form-control" v-model="txtSoDT">
                                </div>
                            </div>
                            <div class="info-row">
                                <div class="key w90">Địa chỉ LĐ</div>
                                <div class="value">
                                    <input type="text" class="form-control" v-model="txtDiaChiLD">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="key w90">Ghi chú</div>
                        <div class="value">
                            <input type="text" class="form-control"  v-model="txtGhichu">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-form">
            <div class="legend-title">Danh sách yêu cầu</div>
            <div class="table-content">
                <DataGrid  class="table-result table-gachle" 
                    v-bind:columns="[
                    {fieldName: 'KETQUA', headerText: 'Kết quả KS', allowFiltering: true, allowSorting: false, textAlign: 'left'},
                    {fieldName: 'ten_kh', headerText: 'Số máy/Account', allowFiltering: true, allowSorting: false, textAlign: 'left'},
                    {fieldName: 'ten_dvvt', headerText: 'Dịch vụ', allowFiltering: true, allowSorting: false, textAlign: 'left'},
                    {fieldName: 'loaihinh_tb', headerText: 'Loại hình TB', allowFiltering: true, allowSorting: false, textAlign: 'left'},
                    {fieldName: 'ma_gd', headerText: 'Mã GD', allowFiltering: true, allowSorting: false, textAlign: 'left'},
                    {fieldName: 'ten_kieuld', headerText: 'Kiểu yêu cầu', allowFiltering: true, allowSorting: false, textAlign: 'left'},
                    {fieldName: 'ten_tb', headerText: 'Tên thuê bao', allowFiltering: true, allowSorting: false, textAlign: 'left'},
                    {fieldName: 'ngay_yc', headerText: 'Ngày yêu cầu', allowFiltering: true, allowSorting: false, textAlign: 'right'},
                    {fieldName: '', headerText: 'Đơn vị TC', allowFiltering: true, allowSorting: false, textAlign: 'left'},
                    {fieldName: 'so_dt', headerText: 'Số điện thoại', allowFiltering: true, allowSorting: false, textAlign: 'right'},
                    {fieldName: '', headerText: 'Mã số thuế', allowFiltering: true, allowSorting: false, textAlign: 'right'},
                    {fieldName: 'diachi_ld', headerText: 'Địa chỉ LĐ', allowFiltering: true, allowSorting: false, textAlign: 'left'},
                    {fieldName: 'ten_nv', headerText: 'Nhân viên lập HĐ', allowFiltering: true, allowSorting: false, textAlign: 'left'},
                    {fieldName: 'soluong', headerText: 'Số lượng', allowFiltering: true, allowSorting: false, textAlign: 'right'},
                    {fieldName: 'ghichu', headerText: 'Ghi chú', allowFiltering: true, allowSorting: false, textAlign: 'left'},
                    {fieldName: '', headerText: 'Đơn vị giao', allowFiltering: true, allowSorting: false, textAlign: 'left'},
                    {fieldName: '', headerText: 'Thời gian giao', allowFiltering: true, allowSorting: false, textAlign: 'left'},
                    {fieldName: '', headerText: 'TG khảo sát', allowFiltering: true, allowSorting: false, textAlign: 'right'},
                    {fieldName: '', headerText: 'Ngày trả', type: 'date',format:'dd/MM/yyyy HH:mm:ss', allowFiltering: true, allowSorting: false, textAlign: 'right'},
                    {fieldName: '', headerText: 'Lý do trả', allowFiltering: true, allowSorting: false, textAlign: 'left'},
                    {fieldName: '', headerText: 'Ghi chú trạm', allowFiltering: true, allowSorting: false, textAlign: 'left'},
                    {fieldName: '', headerText: 'Tên đơn vị', allowFiltering: true, allowSorting: false, textAlign: 'left'},
                    {fieldName: '', headerText: 'Ngày hoàn thành', type: 'date',format:'dd/MM/yyyy HH:mm:ss', allowFiltering: true, allowSorting: false, textAlign: 'right'},
                    {fieldName: '', headerText: 'Nhân viên PBH', allowFiltering: true, allowSorting: false, textAlign: 'left'},
                    {fieldName: '', headerText: 'Số giấy tờ', allowFiltering: true, allowSorting: false, textAlign: 'right'},
                    {fieldName: '', headerText: 'Loại giấy tờ', allowFiltering: true, allowSorting: false, textAlign: 'left'},
                    ]" 
                    v-bind:dataSource="dgvDsPhieu" :showFilter="false"
                    :showColumnCheckbox="true" @selectedRowChanged="dgvThueBao_FocusedRowChanged" 
                    :defaultColumnCheckboxChecked="false" :enabledSelectFirstRow="true"
                    :allowPaging="true"
                    :enablePagingServer="false"
                    :selectionSettings="selectionSettings"
                    :allowExcelExport="true"
                    ref='grid'>
                </DataGrid>
            </div>
        </div>
    </div>
    <ThongTinHenKhachHang  ref="popupThongTinHenKhachHang" :hdkh_id="hdkh_id" />
    <footer class="footer">
        VNPT-IT &copy; 2021
    </footer>
</div>