a.disabled {
  color: lightgray !important;
}
a.disabled:hover {
  color: lightgray !important;
}
button.disabled {
  color: lightgray !important;
}
button.disabled:hover {
  color: lightgray !important;
}
.disabled {
  pointer-events: none;
}
.reb-bold {
  color: red;
  font-weight: bold;
  text-align: right;
}
