<div class="row">
  <div class="col-sm-6 col-12">
    <div class="info-row">
      <div class="key w160">Số khay đĩa</div>
      <div class="value">
        <input
          type="number"
          class="form-control"
          v-model="currentItem.soKhayDia"
          :disabled="currentMode == 'VIEW' || !controls.txtSoKhayDia.enabled"
          :class="controls.txtSoKhayDia.invalid ? 'is-invalid' : ''"
          min="1"
          placeholder="Nhập số khay đĩa"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w160">Mã tủ đĩa cha</div>
      <div class="value">
        <input
          type="text"
          class="form-control"
          :value="currentItem.maTuDiaCha || ''"
          placeholder="Hệ thống tự lấy mã tủ đĩa cha"
          readonly
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w160">Số thứ tự</div>
      <div class="value">
        <input
          type="number"
          class="form-control"
          v-model="currentItem.soThuTu"
          :disabled="true"
          placeholder="Hệ thống tự sinh"
          :class="controls.txtSoThuTu.invalid ? 'is-invalid' : ''"
        />
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-12">
    <div class="info-row">
      <div class="key w160">Số khe cắm SSD</div>
      <div class="value">
        <input
          type="number"
          class="form-control"
          v-model="currentItem.soKheCamSSD"
          :disabled="currentMode == 'VIEW' || !controls.txtSoKheCamSSD.enabled"
          :class="controls.txtSoKheCamSSD.invalid ? 'is-invalid' : ''"
          min="1"
          placeholder="Nhập số khe cắm SSD"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w160">Số khe cắm HDD</div>
      <div class="value">
        <input
          type="number"
          class="form-control"
          v-model="currentItem.soKheCamHDD"
          :disabled="currentMode == 'VIEW' || !controls.txtSoKheCamHDD.enabled"
          :class="controls.txtSoKheCamHDD.invalid ? 'is-invalid' : ''"
          min="1"
          placeholder="Nhập số khe cắm HDD"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w160">Số khe cắm NvMe</div>
      <div class="value">
        <input
          type="number"
          class="form-control"
          v-model="currentItem.soKheCamNvMe"
          :disabled="currentMode == 'VIEW' || !controls.txtSoKheCamNvMe.enabled"
          :class="controls.txtSoKheCamNvMe.invalid ? 'is-invalid' : ''"
          min="1"
          placeholder="Nhập số khe cắm NvMe"
        />
      </div>
    </div>
  </div>
</div>
