.disabledInput { color:lightgray !important; }
.disabledInput:hover { color:lightgray !important; }
.disabledInput { pointer-events: none; }
.btn-main {
    background: #0176FF;
    color: #fff;
}
#ModalSuaMaTN .btn-update {
    float: right;
    margin-top: 10px;
}
#ModalXacNhan .btn-update {
    float: right;
    margin-top: 10px;
}
#ModalXacNhan .btn-cancel {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
#ModalSuaMaTN .btn-cancel {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
#ModalGhepDC .btn-update {
    float: right;
    margin-top: 10px;
}
#ModalGhepDC .btn-cancel {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.popup-header {
    display: none;
}
.modal-title {
    font-size: 23px;
    padding-left: 12px;
}