<b-modal
    :id="modalId"
    size="lg"
    :data="toado"
    no-close-on-backdrop
    hide-footer
    hide-header
    hide-header-close
    @shown="focusMyElement"
    body-class="modal-body p-0">
    <div class="modal-content popup-box">
        <div class="popup-header">
            <div class="title">
                <span class="icon one-notepad"></span> Bản đồ (VNPT MAPS)
            </div>
            <div
                class="close -ap icon-close"
                data-dismiss="modal"
                @click="$bvModal.hide(modalId)">
            </div>
        </div>
        <div class="list-actions-top">
            <ul class="list">
                <li>
                    <a href="javascript:void(0)" class="btn" @click="xacnhan()">
                        <span class="icon nc-icon-glyph ui-1_check-circle-08"></span> Xác nhận
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="btn" @click="printImage()">
                        <span class="icon one-print"></span> In bản đồ
                    </a>
                </li>
            </ul>
        </div>

        <div class="popup-body">
            <div class="box-form">
                <div class="map-canvas-box">
                    <BanDo id="element" menuMapId="mapToaDo" ref="mapToaDo" :center="center" :markers="getMarkers" :radiusObj="radiusObj" @dblclickMap="dblclickMap" :zoomDefault="zoomDefault" :mapTypeId="mapTypeId"></BanDo>
                    <div class="search-box">
                        <div class="input-group">
                            <div class="input-text">
                                <div class="input-icon-left">
                                    <input type="text" class="form-control" v-model="query" @keyup.enter="timKiem">
                                    <span class="icon one-search"></span>
                                </div>
                            </div>
                            <div class="input-addon">
                                 <button class="btn" @click="isShowDiaChi = !isShowDiaChi">
                                    <span class="-ap icon-more_horiz"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="action-right">
                        <a href="javascript:void(0)" class="change-type" @click="changetypeMap">
                             <img src="../../image3.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ModalChonDiaChi v-if="isShowDiaChi" :isShow="isShowDiaChi" :chiTietDiaChi="getChiTietDiaChi" :diaChi="query" @closeModalDiaChi="closeModalDiaChi" />
</b-modal>
