.box-tab-horizontal {
    min-height: 400px;    
}

.box-tab-horizontal:after {
    background-color: white;
    border-left: 0px;
}

a.disabled {
    color: lightgrey !important;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

>>> .text-bold {
    font-weight: bold !important;
}

>>> .text-blue-bold {
    color: blue !important;
    text-align: right !important;
    font-weight: bold !important;
}

>>> .text-red-bold {
    color: red !important;
    text-align: right !important;
    font-weight: bold !important;
}

>>> .text-orange-bold {
    color: orange !important;
    text-align: right !important;
    font-weight: bold !important;
}

>>> .text-brown-bold {
    color: brown !important;
    text-align: right !important;
    font-weight: bold !important;
}
