.form-control:disabled, .form-control[readonly] {
    /*background-color:white !important;*/
    opacity: 1;
}
.tree-grid-2 .tree-first {
    padding: 0px;
    border-top: 0px;
    border-bottom: 0px;
    width: 16px;
    background-color: #fff;
    position: relative;
    white-space: nowrap;
    font-size: 0px;
    vertical-align: top;
}
.table-result td, .table-result th {
    padding: 5px 7px;
    border: 1px solid #E0E0E0;
    height: 32px;
}
.w20 {
    width: 20px !important;
}
.tree-grid-2 .tree-line {
    border-left: 1px dashed #0176FF;
    width: 1px;
    height: 100%;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    padding: 0px;
}
.tree-grid-2 .tree-first {
    padding: 0px;
    border-top: 0px;
    border-bottom: 0px;
    width: 16px;
    background-color: #fff;
    position: relative;
    white-space: nowrap;
    font-size: 0px;
    vertical-align: top;
}
.tree-grid-2 .tree-indent {
    width: 16px;
    height: 1px;
    border-top: 1px dashed #0176FF;
    display: inline-block;
    vertical-align: middle;
}
a.disabled, input.disabled, select.disabled { color:lightgray !important; }
a.disabled:hover { color:lightgray !important; }
.disabled { pointer-events: none; }
/deep/ .modal-body .page-content { position:inherit; }
.breadcrumb-top .breadcrumb{
    position: absolute;
    right: 15px;
  }
  .mx-datepicker {
    width: 100% !important;
  }
  .mx-icon-calendar {
    font-style: normal !important;
  }
.e-dlg-content .page-content{
    position:relative !important ;
    top:0px;
}
.e-dlg-content .main-wrapper{
    position:relative  !important;
    top:0px;
}
.e-dlg-content .breadcrumb-top{
    display: none;;
}

.selfManageEinvoiceDialog .breadcrumb-top,
#popupComponentPayment___BV_modal_body_ .breadcrumb-top {
  display: none;
}
.selfManageEinvoiceDialog .page-content,
#popupComponentPayment___BV_modal_body_ .page-content {
  position: relative !important;
  top: 0px !important;
}
.selfManageEinvoiceDialog .main-wrapper,
#popupComponentPayment___BV_modal_body_ .main-wrapper1 {
  position: relative !important;
  top: 0px !important;
}
#popupComponentPayment___BV_modal_body_ > div > div.page-content {
    position: inherit !important;
  }
  #popupComponentPayment___BV_modal_content_ {
    width: 100% !important;
  }
  #popupComponentPayment > div {
    max-width: 100% !important;
    max-width: 4000 !important;
  }
  #popupComponentPayment___BV_modal_body_ .main-wrapper1 {
    position: inherit !important;
    top: 0px !important;
  }