<div>
    <div class="row">
        <div class="col-sm-7 col-12">
            <div class="info-row">
                <div class="key">Mã TN</div>
                <div class="value">
                    <div class="input-more-button">
                        <button class="btn" @click="btnMaTN_Ims_Click" :disabled="!btnMaTN_Ims.Enabled">
                            <span class="-ap icon-more_horiz"></span>
                        </button>
                        <input type="text" class="form-control highlight" readonly v-model="txtMATN_IMS.Text">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-12">
            <div class="info-row">
                <div class="key">Trang bị</div>
                <div class="value">
                    <SelectExt
                        v-model="cboTrangBiIMS.Value" 
                        :dataSource="cboTrangBiIMS.DataSource" 
                        dataValueField="trangbi_id"
                        dataTextField="tentrangbi" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-12">
            <component v-for="comboDonVi in dsComboDonVi" :ref="comboDonVi.key" :key="comboDonVi.key" v-bind:is="comboDonVi" />
        </div>
    </div>
    <frmDSTBCungDoiCap ref="frmDSTBCungDoiCap"></frmDSTBCungDoiCap>
    <frmDSTBLapKem ref="frmDSTBLapKem"></frmDSTBLapKem>
    <frmDSTBCungDoiCap_KH_Khac ref="frmDSTBCungDoiCap_KH_Khac"></frmDSTBCungDoiCap_KH_Khac>
</div>