<div>
	<div class="header d-flex justify-content-around">
		<div class="d-inline-flex align-items-center">
			<div class="logo">
				<img width="60px" src="../../../../../assets/img/vnpt-logo.svg">
			</div>
			<div class="text-center">
				<div class="fw6">TRUNG TÂM KINH DOANH</div>
				<div>PHÒNG THU CƯỚC</div>
			</div>
		</div>
		<div class="text-center fw6">
			<div>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</div>
			<div>Độc lập - Tự do - Hạnh phúc</div>
		</div>
	</div>
	<div class="body">
		<div class="fw6 text-center mt-4" style="font-size: 18px">
			DANH SÁCH KHÁCH HÀNG CÒN NỢ
		</div>
		<div class="ml-4 mt-4">
			<table class="table-1">
				<tr>
					<td>Ngày giao phiếu:</td>
					<td><span v-if="data && data.length > 0">{{data[0].NGAYGIAO}}</span></td>
				</tr>
				<tr>
					<td>Ngày tạo thực tế:</td>
					<td></td>
				</tr>
				<tr>
					<td>Người giao:</td>
					<td>{{nguoiGiao}}</td>
				</tr>
				<tr>
					<td>Giao cho:</td>
					<td><span v-if="data && data.length > 0">{{data[0].TEN_NVTC.split('- ')[1]}}</span></td>
				</tr>
			</table>
		</div>
		<div class="mt-2">
			<table class="table table-2" style="max-width: 1080px;">
				<thead>
					<tr>
						<th colspan="12">Lượt giao: <span v-if="data && data.length > 0">{{data[0].GIAOPHIEU_ID}}</span>
						</th>
					</tr>
					<tr>
						<th>
							STT
						</th>
						<th>
							MÃ KH
						</th>
						<th>
							SỐ ĐD
						</th>
						<th>
							KHÁCH HÀNG
						</th>
						<th>
							ĐỊA CHỈ
						</th>
						<th>
							SERI
						</th>
						<th>
							HTTT
						</th>
						<th>
							NỢ ĐK
						</th>
						<th>
							NỢ PS
						</th>
						<th>
							MÃ IN GHÉP
						</th>
						<th>
							MÃ PHÁT HĐ
						</th>
						<th>
							GHI CHÚ
						</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(item, index) in dsTon" v-if="dsTon && dsTon.length > 0">
						<td>
							{{item.STT}}
						</td>
						<td style="word-break: break-all;">
							{{item.MA_TT}}
						</td>
						<td>
							{{item.MATB_DD}}
						</td>
						<td>
							{{item.TEN_TT}}
						</td>
						<td>
							{{item.DIACHI_TT}}
						</td>
						<td>
							{{item.SO_SERI}}
						</td>
						<td>
							{{item.HINHTHUC_TT}}
						</td>
						<td>
							{{item.NO_DK}}
						</td>
						<td>
							{{item.NO_PS}}
						</td>
						<td>
							{{item.MAIN_GHEP}}
						</td>
						<td>
							{{item.MAPHAT_HD}}
						</td>
						<td>
							{{item.GHICHU}}
						</td>
					</tr>
					<tr>
						<td colspan="3" class="text-center">
							TỔNG CỘNG
						</td>
						<td colspan="9">
							{{dsTon.length}} KHÁCH HÀNG
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="html2pdf__page-break"></div>
	<div class="p-4 mt-4">
		<div class="d-flex justify-content-around">
			<div class="text-center">
				<div>
					Người giao
				</div>
				<div style="min-height: 80px;">
					(Ký tên)
				</div>
				<div>
					{{nguoiGiao}}
				</div>
			</div>
			<div class="text-center">
				<div>Hồ Chí Minh, ngày {{currentDate.date}} tháng {{currentDate.month}} năm {{currentDate.year}}</div>
				<div>
					Người nhận
				</div>
				<div style="min-height: 80px;">
					(Ký tên)
				</div>
				<div>
					<span v-if="data && data.length > 0">{{data[0].TEN_NVTC.split('- ')[1]}}</span>
				</div>
			</div>
		</div>
	</div>

</div>