.funeral-after-item {
  flex: 1;
  margin-top: 24px;
  /* margin-bottom: 48px; */
  box-sizing: border-box;
}

.funeral-expense-common {
  padding: 10px 0;
  display: inline-block;
  line-height: 1.68;
}

.funeral-expense-common {
  padding: 10px 0;
  border: 1px solid rgba(76, 76, 76, 0.5);
  display: inline-block;
  line-height: 1.68;
}

.funeral-expense-item {
  flex: 1;
  margin-top: 44px;
  /* margin-bottom: 48px; */
}

.funeral-service-category {
  display: inline-block;
  width: auto;
  padding: 11px 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 100px;
  text-align: center;
  border: 1px solid var(--green-main);
  color: var(--green-main);
  line-height: 1;
  transition: 0.25s;
}

.funeral-service-category:hover {
  background-color: #e4f5eb;
  transition: 0.25s;
}

.funeral-service-category.active {
  background-color: var(--green-main);
  color: #fff;
}

.funeral-service-img {
  width: calc(60% - 24px);
  height: auto;
  max-width: 100%;
}

.funeral-service-content {
  width: calc(40% - 24px);
}

@media (max-width: 768px) {
  .sec-inner {
    padding: 60px 0;
  }

  .sec-title {
    width: 100%;
    margin-bottom: 50px;
  }

  .sec-title h2 {
    font-size: 25px;
    margin: 0;
  }

  .sec-title p {
    font-size: 14.5px;
    margin: 10px 0 0;
  }

  .slider-content {
    display: flex;
  }

  .slider-content h3 {
    font-size: 20px;
  }

  .slider-detail {
    display: flex;
    flex-direction: column;
  }

  .slider-detail p {
    font-size: 15px;
  }

  .slider-detail ul li {
    font-size: 13px;
  }

  .slick-dots li {
    width: 8px !important;
    height: 8px !important;
    margin: 0 4px !important;
  }

  .slick-dots li button {
    width: 8px !important;
    height: 8px !important;
  }

  .funeral-after-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .funeral-after-item {
    display: flex;
    flex-direction: column;
  }

  .funeral-after-item-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .funeral-after-item-detail {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .funeral-after-item-content h3 {
    font-size: 20px;
  }

  .funeral-after-item-detail p {
    font-size: 15px;
  }

  .funeral-after-item-detail ul li {
    font-size: 13px;
  }

  .funeral-after-item .btn {
    font-size: 12px;
    padding: 11px 15px;
  }

  .funeral-expense-item {
    width: 100%;
    flex: unset;
  }

  .funeral-expense-title {
    font-size: 16px;
  }

  .funeral-expense-price {
    font-size: 14px;
  }

  .funeral-expense-content {
    font-size: 13px;
  }

  .funeral-expense-note {
    font-size: 12px;
  }

  .funeral-expense-container {
    gap: 0;
  }

  .funeral-service-category-list {
    flex-wrap: wrap;
  }

  .funeral-service-category {
    padding: 10px 15px;
    font-size: 13px;
  }

  .funeral-service-content-container {
    display: flex;
    flex-direction: column;
  }

  .funeral-service-img {
    width: 100%;
  }

  .funeral-service-content {
    width: 100%;
  }

  .funeral-service-content-title {
    font-size: 20px;
  }

  .funeral-service-content-detail {
    font-size: 15px;
  }

  .funeral-service-content-note {
    font-size: 12px;
    margin-top: 16px;
  }
}
