<div class="thong-tin-chung">
  <!-- THÔNG TIN NGHIỆP VỤ IDC -->
  <div class="legend-title">Danh sách nhiệm vụ/công việc</div>
  <div class="table-content">
    <DataGrid
      ref="grdNghiepvuItems"
      :allowPaging="true"
      :enablePagingServer="false"
      :showColumnCheckbox="false"
      :pageSettings="{ pageSize: 10 }"
      v-bind:columns="[            
              {fieldName: 'STT', headerText: 'STT', textAlign: 'Center', width: 150},
              {fieldName: 'MA_CV', headerText: 'Mã CV', textAlign: 'Left', width: 150},
              {fieldName: 'PHIEUTC_ID', headerText: 'Phiếu YC', textAlign: 'Left', width: 150},
              {fieldName: 'HANGMUC_TRIENKHAI', headerText: 'Hạng mục triển khai', textAlign: 'Left', width: 200},
              {fieldName: 'TEN_LOAICV', headerText: 'Loại công việc', textAlign: 'Left', width: 150},
              {fieldName: 'DONVI_THUCHIEN', headerText: 'Đơn vị thực hiện', textAlign: 'Left', width: 150},
              {fieldName: 'CANHAN_THUCHIEN', headerText: 'Cá nhân thực hiện', textAlign: 'Left', width: 130},
              {fieldName: 'PHOIHOP_THUCHIEN', headerText: 'Phối hợp thực hiện', textAlign: 'Left', width: 150},
              {fieldName: 'NGAY_YC', headerText: 'Thời hạn thực hiện', textAlign: 'Left', width: 150},
              {fieldName: 'TRANGTHAI_THICONG', headerText: 'Trạng thái thực hiện', textAlign: 'Left', width: 150}
            ]"
      v-bind:dataSource="nghiepvuList"
      :enabledSelectFirstRow="false"
    > 
    </DataGrid>
  </div>
</div>
