
<div class="row">
  <div class="col-12">
    <div class="legend-title">Thông tin lắp đặt</div>
  </div>
  <div class="col-6">
    <div class="info-row">
      <div class="key w150">IDC đặt thiết bị</div>
      <div class="value">
        <SelectExt
          :dataSource="IDCList"
          dataTextField="TEN"
          dataValueField="ID"
          v-model="currentItem.idc_id"
          :disabled="!controls.select_idc_id.enabled"
          @change="onIDCChange"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w150">Toà nhà</div>
      <div class="value">
        <SelectExt
          :dataSource="alterBuildingList"
          dataTextField="TEN"
          dataValueField="ID_TOANHA"
          v-model="currentItem.building_id"
          :disabled="!controls.select_building_id.enabled"
          @change="onBuildingChange"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w150">Mặt sàn</div>
      <div class="value">
        <SelectExt
          :dataSource="alterFloorList"
          dataTextField="DIEN_TICH"
          dataValueField="ID"
          v-model="currentItem.floor_id"
          :disabled="!controls.select_floor_id.enabled"
          @change="onFloorChange"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w150">Phòng/Zone</div>
      <div class="value">
        <SelectExt
          :dataSource="alterZoneList"
          dataTextField="TEN"
          dataValueField="ID"
          v-model="currentItem.zone_id"
          :disabled="!controls.select_zone_id.enabled"
          @change="onZoneChange"
        />
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="info-row">
      <div class="key w150">Rack</div>
      <div class="value">
        <SelectExt
          :dataSource="alterRackList"
          dataTextField="MA_TS"
          dataValueField="ID"
          v-model="currentItem.rack_id"
          :disabled="!controls.select_rack_id.enabled"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w150">Số lượng U cần đặt</div>
      <div class="value">
        <input
          type="number"
          class="form-control"
          v-model="currentItem.unit_qty"
          :disabled="!controls.txt_unit_qty.enabled"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w150">U trên</div>
      <div class="value">
        <SelectExt
          :dataSource="UpperUList"
          dataTextField="TEN"
          dataValueField="ID"
          v-model="currentItem.up_unit_id"
          :disabled="!controls.select_up_unit_id.enabled"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w150">U dưới</div>
      <div class="value">
        <SelectExt
          :dataSource="LowerUList"
          dataTextField="TEN"
          dataValueField="ID"
          v-model="currentItem.down_unit_id"
          :disabled="!controls.select_down_unit_id.enabled"
        />
      </div>
    </div>
  </div>
</div>