/* Header */

.rbc-header {
  color: #64748b;
  font-size: 14px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px !important;
  border-width: 0px;
  border-left-width: 0px !important;
}

.rbc-time-view {
  border-top-width: 0px;
  border-width: 0px;
  overflow: hidden !important;
}

.rbc-time-header {
  margin-bottom: 20px;
  background-color: #fbfcfd;
  border-width: 1px;
  border-radius: 10px;
  border-color: #e2e8f0;
  display: none;
}

.rbc-time-header-content {
  border-width: 0px;
}
.rbc-time-content {
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: #e2e8f0;
  overflow: hidden !important;
}

.rbc-allday-cell {
  display: none;
}

.rbc-time-header-cell .rbc-today {
  background-color: #fbfcfd;
}
.rbc-timeslot-group {
  border-color: #e2e8f0;
}
/* Time content */
.rbc-time-slot {
  color: #afafaf;
  font-size: 14px;
  z-index: 1;
  background-color: white;
  border-top-width: 0px !important;
}

/* Event Style */
.rbc-event,
.rbc-background-event {
  z-index: 2;
  padding: 0px !important;
  border: none !important;
  border-radius: 0px;
  margin-left: 0.5px;
  opacity: 1 !important;
}

.rbc-current-time-indicator {
  background-color: white;
}
.rbc-event-label {
  display: none;
}
.rbc-events-container {
  width: 100%;
  background-color: transparent;
}

/* Border for each cell */
.rbc-day-slot .rbc-time-slot:after {
  width: 100%;
  border-top: 0px solid white;
  display: block;
  content: '';
}

.rbc-addons-dnd-resize-ns-anchor {
  color: #e2e8f0;
}
.rbc-addons-dnd-resizable {
  width: 100% !important;
  height: 100% !important;
}

.rbc-selected {
  width: 100% !important;
  z-index: 100;
}

.rbc-background-event {
  width: 100% !important;
  border-radius: 0px !important;
  opacity: 1 !important;
}

/* MONTH */

/* container */
.rbc-month-view {
  border-radius: 8px;
  overflow: hidden;
  background-color: #fbfcfd;
  border: solid 1px #e2e8f0;
}

/* header */
.rbc-month-view .rbc-month-header {
  display: none;
}

/* row */
.rbc-month-view .rbc-month-row:not(.rbc-month-header + .rbc-month-row) {
  border-top: solid 1px #e2e8f0;
}

/* cell - container */
.rbc-month-view .rbc-month-row .rbc-row-bg .rbc-day-bg {
  background-color: #fbfcfd;
}
.rbc-month-view .rbc-month-row .rbc-row-bg .rbc-day-bg:not(:first-child) {
  border-left: solid 1px #e2e8f0;
}
.rbc-month-view .rbc-month-row .rbc-row-bg .rbc-day-bg.rbc-today {
  background-color: #f3faf8;
}

/* cell */
.rbc-month-view .rbc-date-cell {
  text-align: left;
  padding: 16px 0 0 16px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: #1e293b;
  margin-bottom: 12px;
}
.rbc-month-view .rbc-date-cell.rbc-off-range {
  color: #94a3b8;
}

.rbc-month-view .rbc-event {
  background-color: transparent;
}

.rbc-month-view .rbc-button-link.rbc-show-more {
  font-weight: 400;
  font-size: 12px;
  margin: 0 16px;
  padding: 0 4px;
  color: #64748b;
  line-height: 18px;
}
