/deep/ .modal-body .page-content { position:inherit; }
.tc-pagination .btn {
    width: 24px !important;
    padding: 0px;
    height: 24px  !important;
    line-height: 24px  !important;
    text-align: center;
    background: rgba(186, 231, 255, 0.4);
    border-radius: 4px;
    color: #035FCC;
    font-size: 14px;
    display: inline-block;
    min-width:24px !important;
    max-width:24px !important;
}
.tab-content{
    width: 100% !important;
}
.tabs a{
    min-width: auto !important;
}
.btnKhoiTao,.btnChonSo {
    padding: 0px !important;
    border: none !important;
    margin: 0px !important;
    border-radius: 10px;
    background-color: transparent !important;
    z-index: 1000;

}
.btnKhoiTao a, .btnChonSo a{
    padding: 5px !important;
    border-radius: 5px;
    border: none !important;
    background-color: transparent !important;

}
.breadcrumb-top .breadcrumb {
    position: absolute;
    right: 15px;
  }
#my-modal-khoi-tao .modal-content{
  min-width: 700px;
}

.aChonSo{
    padding:3px 7px !important;
    background-color: transparent;
    border-radius:4px;
   
}
a.aChonSo{
    padding:3px 7px !important;
    background-color: transparent;
    border-radius:4px  !important;
    // margin-top: -3px !important;
    border: 1px solid #E0E0E0 !important;
   
}
.e-row .statusCol{
    color: red !important;
    font-weight: bold !important;
}
.e-row .soTbCol{
    color: blue  !important;
    font-weight: bold !important;
}
.e-row .cuocThangCol{
    color: deeppink  !important;
    font-weight: bold !important;
}
.e-row .khoCol{
    color: red  !important;
    font-weight: bold !important;
}
.e-row .trangthaiCol{
    padding: 7px 7px !important;
}