<b-modal 
    :id="modalId" 
    size="xl" 
    no-close-on-backdrop
    hide-footer 
    hide-header 
    hide-header-close 
    body-class="modal-body p-0"
    @shown="onModalShown">
    <div class="modal-content popup-box">
        <div class="popup-header">
            <div class="title">TRA CỨU SỰ CỐ MẠNG VIỄN THÔNG - CÔNG NGHỆ THÔNG TIN</div>
            <div
                class="close -ap icon-close"
                data-dismiss="modal"
                @click="$bvModal.hide(modalId)">
            </div>
        </div>
        <div class="list-actions-top">
            <ul class="list">
                <li>
                    <a href="javascript:void(0)" @click="onClickBtnLayThongTin">
                        <span class="icon one-file-attach"></span>Lấy TT (F5)
                    </a>
                </li>
            </ul>
        </div>
        <div class="popup-body">
            <div class="row">
                <div class="col-sm-6 col-12" v-if="showTimKiemPanel">
                    <div class="box-form">
                        <div class="legend-title">
                            <span class="icon fa fa-angle-left" @click="onClickBtnArrow"></span>
                            Thông tin tìm kiếm
                        </div>
                        <div class="info-row">
                            <div class="key w130">Mã sự cố</div>
                            <div class="value">
                                <input ref="ref-ma-suco" type="text" v-model="maSuCo" class="form-control highlight" v-on:keyup.enter="onClickBtnLayThongTin">
                            </div>
                        </div>
                        <div class="info-row">
                            <div class="key w130">Nguồn sự cố</div>
                            <div class="value" ref="ref-select-nguon-suco">
                                <SelectExt 
                                    :settings="{dropdownParent: $refs['ref-select-nguon-suco']}"
                                    v-model="nguonSuCoId" 
                                    :dataSource="dsNguonSuCo" 
                                    dataTextField="MOTA"
                                    dataValueField="NGUONSC_ID"/>
                            </div>
                        </div>
                        <div class="info-row">
                            <div class="key w130">Trạng thái sự cố</div>
                            <div class="value" ref="ref-select-trangthai-suco">
                                <SelectExt 
                                    :settings="{dropdownParent: $refs['ref-select-trangthai-suco']}"
                                    v-model="trangThaiSuCoId" 
                                    :dataSource="dsTrangThaiSuCo" 
                                    dataTextField="TRANGTHAI_SC"
                                    dataValueField="TTSC_ID"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-7 col-12">
                                <div class="info-row">
                                    <div class="key w130">
                                        <div class="check-action">
                                            <input type="checkbox" v-model="chkNgayYeuCau" class="check">
                                            <span class="name">Ngày YC từ</span>
                                        </div>
                                    </div>
                                    <div class="value">
                                        <ejs-datepicker 	
                                            class="form-control bg-none bor0 fw6 text h24" 
                                            placeholder=""
                                            format="dd/MM/yyyy"
                                            v-model="ngayYeuCauTu"
                                            :enabled="chkNgayYeuCau"></ejs-datepicker>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-12">
                                <div class="info-row">
                                    <div class="key w40">
                                        <span class="name">Đến</span>
                                    </div>
                                    <div class="value">
                                        <ejs-datepicker 	
                                            class="form-control bg-none bor0 fw6 text h24" 
                                            placeholder=""
                                            format="dd/MM/yyyy"
                                            v-model="ngayYeuCauDen"
                                            :enabled="chkNgayYeuCau"></ejs-datepicker>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-7 col-12">
                                <div class="info-row">
                                    <div class="key w130">
                                        <div class="check-action">
                                            <input type="checkbox" v-model="chkNgayTiepNhan" class="check">
                                            <span class="name">Acceptance date</span>
                                        </div>
                                    </div>
                                    <div class="value">
                                        <ejs-datepicker 	
                                            class="form-control bg-none bor0 fw6 text h24" 
                                            placeholder="" 
                                            format="dd/MM/yyyy"
                                            v-model="ngayTiepNhanTu"
                                            :enabled="chkNgayTiepNhan"></ejs-datepicker>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-12">
                                <div class="info-row">
                                    <div class="key w40">
                                        <span class="name">Đến</span>
                                    </div>
                                    <div class="value">
                                        <ejs-datepicker 	
                                            class="form-control bg-none bor0 fw6 text h24" 
                                            placeholder="" 
                                            format="dd/MM/yyyy"
                                            v-model="ngayTiepNhanDen"
                                            :enabled="chkNgayTiepNhan"></ejs-datepicker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12" :class="{'col-sm-6': showTimKiemPanel}">
                    <div class="head-top">
                        <div class="info-row marb0">
                            <div class="key w20 padt5">
                                <a href="javascript:void(0)" class="link f24 w24 h24 inline lh24" @click="onClickBtnArrow">
                                    <span class="nc-icon-glyph f20" :class="{'arrows-1_simple-left': showTimKiemPanel, 'arrows-1_simple-right': !showTimKiemPanel}"></span>
                                </a>
                            </div>
                            <div class="value center">
                                <div class="nav tabs tab-over" style="justify-content: left;">
                                    <a href="#tab1" data-toggle="tab" class="minw0 padl10 padr10 active" @click="tabDuocChon = 1">Danh sách nhân viên xử lý</a>
                                    <a class="minw0 padl10 padr10"  href="#tab2" data-toggle="tab" @click="tabDuocChon = 2">Danh sách báo tồn</a>
                                    <a class="minw0 padl10 padr10" href="#tab3" data-toggle="tab" @click="tabDuocChon = 3">Thông tin chi tiết</a>
                                </div>
                            </div>
                            <div class="value w50 nowrap padt7">
                                <a href="javascript:void(0)" class="link f16 w16 h16 inline lh16" @click="onClickBtnExcelThongTinTienTrinh">
                                    <span class="one-excel-outline f16"></span>
                                </a>
                                <a href="javascript:void(0)" class="link f16 w16 h16 inline lh16" @click="layThongTinTienTrinh">
                                    <span class="nc-icon-outline arrows-1_refresh-69 f16"></span>
                                </a>
                                <a href="javascript:void(0)" class="link f16 w16 h16 inline lh16" @click="showFilter = !showFilter">
                                    <span class="nc-icon-outline ui-2_filter f16"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <DataGrid v-bind:columns="[
                                    {fieldName: 'NGAYGIAO', headerText: 'Ngày giao', allowFiltering: true,},
                                    {fieldName: 'MA_NV', headerText: 'Mã NV', allowFiltering: true},
                                    {fieldName: 'TEN_NV', headerText: 'Tên nhân viên', allowFiltering: true},
                                    {fieldName: 'TEN_DV', headerText: 'Đơn vị', allowFiltering: true},
                                    {fieldName: 'SO_DT', headerText: 'Điện thoại', allowFiltering: true},
                                    {fieldName: 'NHIEMVU', headerText: 'Nhiệm vụ', allowFiltering: true},
                                    {fieldName: 'TRANGTHAI', headerText: 'Trạng thái', allowFiltering: true},
                                    {fieldName: 'GHICHU', headerText: 'Ghi chú', allowFiltering: true}
                                ]"
                                v-bind:dataSource="dsNhanVienXuLy"
                                :panelDataHeight="150"
                                :showFilter="showFilter"></DataGrid>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <DataGrid v-bind:columns="[
                                    {fieldName: 'NGAY_BT', headerText: 'Ngày báo tồn', allowFiltering: true,},
                                    {fieldName: 'GHICHU', headerText: 'Ghi chú', allowFiltering: true},
                                    {fieldName: 'NHANVIEN_BT', headerText: 'Người báo tồn', allowFiltering: true},
                                    {fieldName: 'DONVI_BT', headerText: 'Đơn vị báo tồn', allowFiltering: true},
                                    {fieldName: 'NGAY_CN', headerText: 'Ngày cập nhật', allowFiltering: true},
                                    {fieldName: 'NGUOI_CN', headerText: 'Người cập nhật', allowFiltering: true}
                                ]"
                                v-bind:dataSource="dsBaoTon"
                                :panelDataHeight="150"
                                :showFilter="showFilter"></DataGrid>
                        </div>
                        <div class="tab-pane" id="tab3">
                            <div class="table-content" style="height: 150px;">
                                <table class="table-result table-gachle">
                                    <thead class="center">
                                        <tr>
                                            <th class="w20"></th>
                                            <th>Thiết bị</th>
                                            <th>Cổng</th>
                                        </tr>
                                        <tr>
                                            <th class="w20"></th>
                                            <th>
                                                <div class="input-icon-right">
                                                    <input type="text" class="form-control">
                                                    <span class="icon nc-icon-outline ui-1_zoom"></span>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="input-icon-right">
                                                    <input type="text" class="form-control">
                                                    <span class="icon nc-icon-outline ui-1_zoom"></span>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="highlight">
                                            <td class="w20 center">
                                                <span class="fa fa-play text-main"></span>
                                            </td>
                                            <td class="selected highlight1"></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tc-pagination">
                                <a href="javascript:void(0)" class="btn  one-arrow-left-forward"></a>
                                <a href="javascript:void(0)" class="btn fa fa-angle-double-left"></a>
                                <a href="javascript:void(0)" class="btn fa fa-angle-left"></a>
                                <span class="text">Bản ghi</span>
                                <div class="dropdown inline">
                                    <div class="fw6 input-number" data-toggle="dropdown">
                                        <span class="text-main">10</span>/1033
                                    </div>
                                    <div class="dropdown-menu">
                                        <a href="javascript:void(0)" class="dropdown-item">10</a>
                                        <a href="javascript:void(0)" class="dropdown-item">20</a>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="btn fa fa-angle-right"></a>
                                <a href="javascript:void(0)" class="btn fa fa-angle-double-right"></a>
                                <a href="javascript:void(0)" class="btn one-arrow-right-forward"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-form">
                <div class="legend-title">
                    <div class="pull-left">
                        <span class="icon fa" :class="{'fa-angle-up': !collapseBangSuCo, 'fa-angle-down': collapseBangSuCo}" @click="collapseBangSuCo = !collapseBangSuCo"></span>
                        Danh sách sự cố
                    </div>
                    <div class="pull-right">
                        <a href="javascript:void(0)" class="link f16 w16 h16 inline lh16" @click="onClickBtnXuatExcelDsSuCo">
                            <span class="one-excel-outline f16"></span>
                        </a>
                        <a href="javascript:void(0)" class="link f16 w16 h16 inline lh16">
                            <span class="nc-icon-outline arrows-1_refresh-69 f16" @click="onClickBtnLayThongTin"></span>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <DataGrid v-show="!collapseBangSuCo"
                    ref="grid-suco"
                    v-bind:columns="[	
                        {fieldName: 'MA_SC', headerText: 'Mã sự cố', allowFiltering: true},
                        {fieldName: 'MUCDO_SC', headerText: 'Mức độ', allowFiltering: true},
                        {fieldName: 'NOIDUNG_SC', headerText: 'Nội dung sự cố', allowFiltering: true},
                        {fieldName: 'TRANGTHAI_SC', headerText: 'Trạng thái', allowFiltering: true},
                        {fieldName: 'NHOM_SC', headerText: 'Nhóm', allowFiltering: true},
                        {fieldName: 'NGAY_SC', headerText: 'Ngày sự cố', allowFiltering: true},
                        {fieldName: 'THOIGIAN', headerText: 'Kéo dài', allowFiltering: true},
                        {fieldName: 'NGAY_TB', headerText: 'Ngày báo', allowFiltering: true},
                        {fieldName: 'NHANVIEN_TB', headerText: 'Người báo', allowFiltering: true},
                        {fieldName: 'DONVI_TB', headerText: 'Đơn vị báo', allowFiltering: true},
                        {fieldName: 'NGAY_TN', headerText: 'Ngày TN', allowFiltering: true},
                        {fieldName: 'NHANVIEN_TN', headerText: 'Người TN', allowFiltering: true},
                        {fieldName: 'HENSUATU', headerText: 'Hẹn trả lời từ', allowFiltering: true},
                        {fieldName: 'HENSUADEN', headerText: 'Hẹn trả lời đến', allowFiltering: true}
                    ]"
                    v-bind:dataSource="dsSuCo"
                    :showFilter="true"
                    @selectedRowChanged="onClickRowTableDsSuCo"></DataGrid>
            </div>
            <div class="box-form">
                <div class="legend-title">
                    <div class="pull-left">
                        Danh sách tiến trình
                    </div>
                    <div class="pull-right">
                        <a href="javascript:void(0)" class="link f16 w16 h16 inline lh16" @click="onClickBtnExcelDsTienTrinh">
                            <span class="one-excel-outline f16"></span>
                        </a>
                        <a href="javascript:void(0)" class="link f16 w16 h16 inline lh16">
                            <span class="nc-icon-outline arrows-1_refresh-69 f16" @click="thucHienLayDsTienTrinh"></span>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <DataGrid 
                    ref="grid-tientrinh"
                    v-bind:columns="[
                        {fieldName: 'HUONGGIAO', headerText: ' ', allowFiltering: false, isGroupedColumn: true},
                        {fieldName: 'DV_GIAO', headerText: 'Đơn vị giao', allowFiltering: true},
                        {fieldName: 'NGAYGIAO_F', headerText: 'Ngày giao', allowFiltering: true},
                        {fieldName: 'NV_GIAO', headerText: 'Nhân viên giao', allowFiltering: true},
                        {fieldName: 'ND_GIAO', headerText: 'Nội dung giao', allowFiltering: true},
                        {fieldName: 'DV_NHAN', headerText: 'Đơn vị nhận', allowFiltering: true},
                        {fieldName: 'NGAY_TRA_F', headerText: 'Ngày trả', allowFiltering: true},
                        {fieldName: 'ND_TRA', headerText: 'Nội dung trả', allowFiltering: true},
                        {fieldName: 'NGAY_TH_F', headerText: 'Ngày TH', allowFiltering: true},
                        {fieldName: 'NV_TH', headerText: 'Nhân viên TH', allowFiltering: true},
                        {fieldName: 'GHICHU_TH', headerText: 'Ghi chú TH', allowFiltering: true},
                        {fieldName: 'TRANGTHAI_PH', headerText: 'Trạng thái phiếu', allowFiltering: true}
                    ]"
                    v-bind:dataSource="dsTienTrinh"
                    @selectedRowChanged="onClickRowTableDsTienTrinh"
                    :showFilter="true"></DataGrid>
            </div>
        </div>
    </div>
</b-modal>