a.disabled { color:lightgray !important; }
a.disabled:hover { color:lightgray !important; }
.disabled { pointer-events: none; }
.btn-main {
    background: #0176FF;
    color: #fff;
}
.disabledInput {
    pointer-events: none;
    color:lightgray !important;
}
.modal-footer {
    display: none!important;
}
.btn-update {
    float: right;
    margin: 5px;
}
.actions button {
    padding: 0px;
    width: 37px;
    height: 37px;
    line-height: 30px;
    text-align: center;
    background-color: rgba(186, 231, 255, 0.4);
    color: #0176FF;
    margin: 5px 0px;
    display: inline-block;
    font-size: 16px;
    flex-grow: 1;
}
.actions button:hover {
    background-color: #035FCC;
    color: #fff;
}
.actions {
    text-align: center;
    padding-top: 150px;
}