<div class="">
    <div class="list-actions-top">
        <ul class="list">
            <li @click="LayDuLieu()">
                <a>
                    <span class="icon one-search"></span> Lấy dữ liệu
                </a>
            </li>
            <!-- :class="{'disabled': !Enabled.NhapMoi}" -->
            <li @click="NhapMoi()" >
                <a>
                    <span class="icon nc-icon-glyph ui-1_circle-add"></span> Tạo mới
                </a>
            </li>
            <li @click="GhiLai()">
                <a>
                    <span class="icon one-save"></span>Ghi lại
                </a>
            </li>
            <li @click="CapNhat()">
                <a>
                    <span class="icon  one-sync1"></span> Sửa
                </a>
            </li>
            <!-- <li @click="Huy()">
                <a>
                    <span class="icon  nc-icon-glyph ui-1_circle-remove"></span> Hủy
                </a>
            </li> -->
            <li @click="XoaPhieu()">
                <a>
                    <span class="icon  one-trash"></span> Xóa
                </a>
            </li>
            <li @click="GiaoPhieu()">
                <a>
                    <span class="icon  one-file-edit2"></span>Gửi duyệt
                </a>
            </li>
            <li @click="HoSo()">
                <a>
                    <span class="icon  nc-icon-glyph business_coins "></span> Hồ sơ
                </a>
                <frmHoSoKhieuNai ref="frmHoSoKhieuNai" />
            </li>
            <li @click="KhoaPhieu()">
                <a >
                    <span  class="icon  nc-icon-glyph ui-1_circle-remove"></span> Khóa phiếu
                </a>
            </li>
        </ul>
    </div>
    <div class="page-content">


        <div class="grid-stack-box">
            <Split :gutterSize="20">
                <SplitArea :size="50" :minSize="200">
                    <div class="box-col box-form " id="boxLeft">
                        <div class="legend-title">Thông tin khiếu nại</div>
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w100">
                                        Mã KN <span class="required">*</span>
                                    </div>
                                    <div class="value">
                                        <div class="input-more-button">
                                            <button class="btn" @click="TraCuuKhieuNai()" >
                                                <span >...</span>
                                            </button>
                                            <div>
                                                <input type="text" class="form-control" v-model.trim="maKN" @keyup.enter='maKN_keyPress'>
                                            </div>
                                        </div>
                                    </div>
                                    <frmTraCuuTBKhieuNai ref="frmTraCuuTBKhieuNai" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w100">
                                        Ngày khiếu nại
                                    </div>
                                    <div class="value">
                                        <div class="input-icon-right">
                                            <ejs-datetimepicker
                                                locale='vi'
                                                v-model="ngayKN"
                                                :format="'dd/MM/y HH:mm:ss'"
                                                :enabled= "false">
                                            </ejs-datetimepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w100">
                                       Dịch vụ
                                    </div>
                                    <div class="value">
                                        <div>
                                            <input type="text" class="form-control" v-model.trim="dichVu.text" disabled>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w100">
                                       Loại hình
                                    </div>
                                    <div class="value">
                                        <div>
                                            <input type="text" class="form-control" v-model.trim="loaiHinh.text" disabled>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w100">
                                       Chủ đề KH
                                    </div>
                                    <div class="value">
                                        <div>
                                            <input type="text" class="form-control" v-model.trim="chuDeKN" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w100">
                                       Nội dung KH
                                    </div>
                                    <div class="value">
                                        <div>
                                            <textarea class="form-control" style="height: 106px;" v-model.trim="noiDungKN" disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </SplitArea>
                <SplitArea :size="50" :minSize="200">
                    <div class="box-col box-form " id="boxLeft">
                        <div class="legend-title">Thông tin khách hàng</div>
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w110">
                                      Mã KH <span class="required">*</span>
                                    </div>
                                    <div class="value">
                                        <div>
                                            <input type="text" class="form-control" v-model="maKhachHang" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w110">
                                       Mã thuê bao <span class="required">*</span>
                                    </div>
                                    <div class="value">
                                        <div>
                                            <input type="text" class="form-control" v-model="maThueBao" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w110">
                                      Mã số thuế <span class="required">*</span>
                                    </div>
                                    <div class="value">
                                        <div>
                                            <input type="text" class="form-control" v-model="maSoThue" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w110">
                                       Mã ngân sách <span class="required">*</span>
                                    </div>
                                    <div class="value">
                                        <div>
                                            <input type="text" class="form-control" v-model="maThanhToan" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w110">
                                     Tên KH <span class="required">*</span>
                                    </div>
                                    <div class="value">
                                        <div>
                                            <input type="text" class="form-control" v-model="tenKhachHang" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w110">
                                     Tên thanh toán <span class="required">*</span>
                                    </div>
                                    <div class="value">
                                        <div>
                                            <input type="text" class="form-control" v-model="tenThanhToan" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w110">
                                        Mã thanh toán <span class="required">*</span>
                                    </div>
                                    <div class="value">
                                        <div>
                                            <input type="text" class="form-control" v-model="maThanhToan" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w110">
                                        Giá trị HD <span class="required">*</span>
                                    </div>
                                    <div class="value">
                                        <div>
                                            <input type="text" class="form-control" v-model="giaTriHD" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w110">
                                        Số hợp đồng <span class="required">*</span>
                                    </div>
                                    <div class="value">
                                        <div>
                                            <input type="text" class="form-control" v-model="soHopDong" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w110">
                                        Ngày ký <span class="required">*</span>
                                    </div>
                                    <div class="value">
                                        <ejs-datetimepicker
                                            locale='vi'
                                            v-model="ngayLapHD"
                                            :format="'dd/MM/y HH:mm:ss'"
                                            :enabled= "false">
                                        </ejs-datetimepicker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </SplitArea>
            </Split>
        </div>


        <div class="grid-stack-box">
            <Split :gutterSize="20">
                <SplitArea :size="50" :minSize="200">
                    <div class="box-col box-form " id="boxLeft">
                        <div class="legend-title">Kết quả xác minh cước</div>
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w100">
                                        Kết quả <span class="required">*</span>
                                    </div>
                                    <div class="value">
                                        <div>
                                            <input type="text" class="form-control" v-model="ketQuaXacMinh">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w100">
                                        TT Hợp đồng
                                    </div>
                                    <div class="value">
                                        <div>
                                            <input type="text" class="form-control" v-model="TTHopDong" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w100">
                                       TT Hóa đơn
                                    </div>
                                    <div class="value">
                                        <div>
                                            <input type="text" class="form-control" v-model="TTHoaDon" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w100">
                                       TT Cước
                                    </div>
                                    <div class="value">
                                        <div>
                                            <input type="text" class="form-control" v-model="TTCuoc" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="legend-title">Phương án xử lý</div>
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w100">
                                       Điều chỉnh HĐ <span class="required">*</span>
                                    </div>
                                    <div class="value">
                                        <div>
                                            <ejs-dropdownlist
                                                class="form-control"
                                                ref="cboDieuChinh"
                                                locale='vi'
                                                v-model="dieuChinhHD.ID"
                                                :dataSource='dieuChinhHD.dataSource'
                                                :fields="{value:'LOAIPAGC_ID', text: 'LOAI_PA'}"
                                                :allowFiltering="true"
                                                >
                                            </ejs-dropdownlist>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w100">
                                       Xử lý DL <span class="required">*</span>
                                    </div>
                                    <div class="value">
                                        <div>
                                            <ejs-dropdownlist
                                                class="form-control"
                                                ref="cboXuLy"
                                                locale='vi'
                                                v-model="xuLyDuLieu.ID"
                                                :dataSource='xuLyDuLieu.dataSource'
                                                :fields="{value:'KIEUPAGC_ID', text: 'KIEU_PA'}"
                                                :allowFiltering="true"
                                                >
                                            </ejs-dropdownlist>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="legend-title">Thông tin đề xuất</div>
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w100">
                                       Nội dung <span class="required">*</span>
                                    </div>
                                    <div class="value">
                                        <div>
                                            <textarea class="form-control" v-model="noiDungDeXuat" style="height: 80px;"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </SplitArea>
                <SplitArea :size="50" :minSize="200">
                    <div class="box-col box-form " id="boxLeft">
                        <div class="legend-title">Tiến trình xử lý</div>
                        <DataGrid v-bind:columns="[
                                {fieldName: 'NGAY_TH', headerText: 'Ngày thực hiện', allowFiltering: true, allowSorting: false, width: 120},
                                {fieldName: 'TEN_DV', headerText: 'Đơn vị', allowFiltering: true, allowSorting: false, width: 120},
                                {fieldName: 'NGUOI_TH', headerText: 'Người thực hiện', allowFiltering: true, allowSorting: false, width: 150},
                                {fieldName: 'CHUC_DANH', headerText: 'Chức danh', allowFiltering: true, allowSorting: false, width: 120, cssClass: 'trangthai-col'},
                                {fieldName: 'NOI_DUNG', headerText: 'Nội dung', allowFiltering: true, allowSorting: false, width: 120},
                                {fieldName: 'TRANGTHAI_PH', headerText: 'Trạng thái', allowFiltering: true, allowSorting: false, width: 120},
                            ]"
                            v-bind:dataSource="dsTienTrinh"
                            :showFilter="true"
                            :allowPaging="true"
                            :enablePagingServer="false"
                                ref="dsTienTrinhGrid"
                            >
                        </DataGrid>
                    </div>
                </SplitArea>
            </Split>
        </div>

        <div class="grid-stack-box">
            <Split :gutterSize="20">
                <SplitArea :size="100" :minSize="200">
                    <div class="box-col box-form">
                        <div class="legend-title">Thông tin giảm trừ cước</div>
                        <div class="row">
                            <div class="col-sm-4 col-12">
                            </div>
                            <div class="col-sm-8 col-12">
                                <div class="info-row">
                                    <div class="value w30 nowrap tright">
                                        <button class="btn btn-second padt3 padb3"  @click="btnLamMoi_Click">
                                            <span class="icon  one-sync1"></span> Làm mới
                                        </button>
                                        <button class="btn btn-second padt3 padb3"  @click="btnLuuGiamTru_Click">
                                            <span class="icon  one-file-edit2"></span> Lưu
                                        </button>
                                        <button class="btn btn-second padt3 padb3" @click="btnThemGiamTru_Click">
                                            <span class="icon nc-icon-glyph ui-1_circle-add"></span> Thêm giảm trừ
                                        </button>
                                        <button class="btn btn-second padt3 padb3" @click="btnChenNo_Click">
                                            <span class="icon  one-file-edit2"></span> Chèn nợ
                                        </button>
                                        <ChenNo ref="refChenNo" :ma_tt="ChenNo.ma_tt" :kyhoadon="ChenNo.kycuoc"></ChenNo>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <DataGrid v-bind:columns="[
                                {fieldName: 'MA_TT', headerText: 'Mã TT', allowFiltering: true, allowSorting: false ,  allowEditing: true},
                                {fieldName: 'MA_TB', headerText: 'Mã TB', allowFiltering: true, allowSorting: false,  allowEditing: false ,cssClass: 'trangthai-col'},
                                {fieldName: 'SO_HOADON', headerText: 'Số hóa đơn', allowFiltering: true, allowSorting: false,  allowEditing: true},
                                {fieldName: 'THANG_GC', headerText: 'Tháng giảm', allowFiltering: true, allowSorting: false,  allowEditing: true},
                                {fieldName: 'KY_GC', headerText: 'Kỳ giảm', allowFiltering: true, allowSorting: false,  allowEditing: true},
                                {fieldName: 'TIEN_GC', headerText: 'Tiền giảm trừ', allowFiltering: true, allowSorting: false,  allowEditing: true, type:'number', format:'N3', allowEditing: true , editType: 'numericedit'},
                                {fieldName: 'TIEN', headerText: 'Tiền', allowFiltering: true, allowSorting: false,  allowEditing: false , type:'number', format:'N3',},
                                {fieldName: 'VAT_GC', headerText: 'Thuế', allowFiltering: true, allowSorting: false,  allowEditing: false, type:'number', format:'N3',},
                                {fieldName: 'VAT', headerText: 'VAT(%)', allowFiltering: true, allowSorting: false,  allowEditing: true ,type:'number', format:'N1', allowEditing: true , editType: 'numericedit'},
                                {fieldName: 'MA_DOANHTHU', headerText: 'Mã doanh thu', allowFiltering: true, allowSorting: false,  allowEditing: true},
                                {fieldName: 'TEN_CHITIEU', headerText: 'Tên chỉ tiêu', allowFiltering: true, allowSorting: false,  allowEditing: true},
                                {fieldName: 'CTDH_ID', headerText:'', visible:false, isPrimaryKey:true}
                                ]"
                                v-bind:dataSource="dsThongTinGiamTru"
                                dataKeyField="CTDH_ID"
                                :showFilter="true"
                                :allowPaging="true"
                                :enablePagingServer="false"
                                :editSettings='editSettings'
                                @cellSaved="editGridGiamCuoc"
                                ref="refdsThongTinGiamTru">
                            </DataGrid>
                        </div>
                    </div>
                </SplitArea>
            </Split>
        </div>

        <div class="grid-stack-box">
            <Split :gutterSize="20">
                <SplitArea :size="100" :minSize="200">
                    <div class="box-col box-form">
                        <div class="legend-title">Danh sách phiếu đề xuất giảm trừ cước</div>



                        <div class="nav tabs tab-over">
                            <a href="#tab-tao-moi" data-toggle="tab" class="active"  >Phiếu tạo mới</a>
                            <a href="#tab-da-gui" data-toggle="tab" >Phiếu đã gửi</a>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-tao-moi">
                                <DataGrid v-bind:columns="[
                                        {fieldName: 'MA_KN', headerText: 'Mã khiếu nại', allowFiltering: true, allowSorting: false, width: 120},
                                        {fieldName: 'MA_TB', headerText: 'Mã thuê bao', allowFiltering: true, allowSorting: false, width: 120},
                                        {fieldName: 'TEN_TB', headerText: 'Tên thuê bao', allowFiltering: true, allowSorting: false, width: 150},
                                        {fieldName: 'NGAY_KN', headerText: 'Ngày khiếu nại', allowFiltering: true, allowSorting: false, width: 120, cssClass: 'trangthai-col'},
                                        {fieldName: 'NOI_DUNG', headerText: 'Nội dung khiếu nại', allowFiltering: true, allowSorting: false, width: 120},
                                        {fieldName: 'MA_KH', headerText: 'Mã KH', allowFiltering: true, allowSorting: false, width: 120},
                                        {fieldName: 'TEN_KH', headerText: 'Tên KH', allowFiltering: true, allowSorting: false, width: 120},
                                        {fieldName: 'DICHVU_VT', headerText: 'Dịch vụ', allowFiltering: true, allowSorting: false, width: 120},
                                        {fieldName: 'LOAIHINH_TB', headerText: 'Loại hình', allowFiltering: true, allowSorting: false, width: 120},
                                    ]" v-bind:dataSource="dsPhieuMoi"
                                    :showFilter="true"
                                    :allowPaging="true"
                                    @selectedRowChanged="ChangedPhieuMoi"
                                    :enablePagingServer="false"
                                    ref="thueBaoGrid">
                                </DataGrid>
                            </div>
                            <div class="tab-pane" id="tab-da-gui">
                                <DataGrid v-bind:columns="[

                                    {fieldName: 'MA_KN', headerText: 'Mã khiếu nại', allowFiltering: true, allowSorting: false, width: 120},
                                    {fieldName: 'MA_TB', headerText: 'Mã thuê bao', allowFiltering: true, allowSorting: false, width: 120},
                                    {fieldName: 'TEN_TB', headerText: 'Tên thuê bao', allowFiltering: true, allowSorting: false, width: 150},
                                    {fieldName: 'NGAY_KN', headerText: 'Ngày khiếu nại', allowFiltering: true, allowSorting: false, width: 120, cssClass: 'trangthai-col'},
                                    {fieldName: 'NOI_DUNG', headerText: 'Nội dung khiếu nại', allowFiltering: true, allowSorting: false, width: 120},
                                    {fieldName: 'MA_KH', headerText: 'Mã KH', allowFiltering: true, allowSorting: false, width: 120},
                                    {fieldName: 'TEN_KH', headerText: 'Tên KH', allowFiltering: true, allowSorting: false, width: 120},
                                    {fieldName: 'DICHVU_VT', headerText: 'Dịch vụ', allowFiltering: true, allowSorting: false, width: 120},
                                    {fieldName: 'LOAIHINH_TB', headerText: 'Loại hình', allowFiltering: true, allowSorting: false, width: 120},
                                    ]"
                                    v-bind:dataSource="dsPhieuDaGui"
                                    :showFilter="true"
                                    :allowPaging="true"
                                    @selectedRowChanged=""
                                    :enablePagingServer="false"
                                    ref="thueBaoGrid">
                                 </DataGrid>
                            </div>
                        </div>
                    </div>
                </SplitArea>
            </Split>
        </div>
    </div>

    <b-modal no-close-on-backdrop hide-footer hide-header hide-header-close class="modal" id="popupLyDoTra">

        <div class="modal-content popup-box">
            <div class="popup-header">
                <div class="title">Nhập lý do trả</div>
                <div class="close -ap icon-close" @click="$bvModal.hide('popupLyDoTra')" data-dismiss="modal">
                </div>
            </div>
            <div class="list-actions-top">
                <ul class="list">
                    <li>
                        <a @click="XacNhanKhoaPhieu()">
                            <span class="icon nc-icon-glyph ui-1_check-circle-08"></span> Xác nhận
                        </a>
                    </li>
                </ul>
            </div>
            <div class="popup-body">

                <div class="info-row">
                    <div class="key w90">
                        Nhập lý do trả
                    </div>
                    <div class="value">
                        <textarea class="form-control" v-model="lyDoTra" value="lyDoTra"
                            style="height: 100px;resize: vertical;"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </b-modal>

</div>
