>>> .select2-container { 
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table;
    table-layout: fixed;
}

a.disabled {
    color: lightgrey !important;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

>>> .hd-khac {
    background-color: rgb(148, 243, 148) !important;
}

>>> .split {
    padding: 0px !important;
    overflow-y: visible !important;
    overflow-x: clip !important;
}

>>> .trangthai-col {
    color: red !important;
}

>>> .text-rose {
    color: #FF007F !important;
}