<ejs-dialog
    :enableResize="true"
    :allowDragging="true"
    :visible="false"
    :animationSettings="animationSettings"
    ref="dlgLoiGPXLN"
    width="80%"
    :target="target"
    :showCloseIcon="true"
    header='<div class="title"><span class="icon one-notepad"></span> Danh sách lỗi đọc file giao phiếu XLN</div>'
    :close="reset"
>
    <div class="modal-content popup-box">
        <div class="list-actions-top">
            <ul class="list">
                <li>
                    <a class="pointer" @click="btnCapNhat">
                        <span class="icon one-reload1"></span> Cập nhật
                    </a>
                </li>
            </ul>
        </div>
        <div class="popup-body mart10">
            <div class="box-form">
                <b-tabs
                    active-nav-item-class="font-weight-bold  text-primary"
                    active-tab-class="font-weight-bold text-success"
                    content-class="mt-3"
                    v-model="tabIndex"
                >
                    <b-tab title="Danh sách đúng">
                        <DataGrid
                            :columns="[
                            {fieldName: 'NHANVIEN', headerText: 'Nhân viên',isGroupedColumn: true },
                            {fieldName: 'MA_XLN', headerText: 'Mã XLN', allowFiltering: true, width: '120' },
                            {fieldName: 'MATB_DD', headerText: 'Mã đại diện', allowFiltering: true, width: '120' },
                            {fieldName: 'TEN_KH', headerText: 'Tên khách hàng', allowFiltering: true, width: '120' },
                            {fieldName: 'DIACHI_KH', headerText: 'Địa chỉ khách hàng', allowFiltering: true, width: '120' },
                            {fieldName: 'SO_CV', headerText: 'Số công văn', allowFiltering: true, width: '120' },
                            {fieldName: 'LAN_XLN', headerText: 'Lần XLN', allowFiltering: true, width: '120' },
                            {fieldName: 'TONGNO', headerText: 'Nợ hiện tại', allowFiltering: true, width: '120',cssClass:'text-right',format:'N0' ,type:'number' },
                            {fieldName: 'TONG_GIAO', headerText: 'Nợ giao', allowFiltering: true, width: '120',cssClass:'text-right',format:'N0' ,type:'number' },
                            {fieldName: 'NO_LECH', headerText: 'Nợ lệch', allowFiltering: true, width: '120', cssClass:'text-right',format:'N0' ,type:'number' },
                            {fieldName: 'NO_HENTRA', headerText: 'Tiền trả', allowFiltering: true, width: '120', cssClass:'text-right',format:'N0' ,type:'number' },
                            {fieldName: 'TRANGTHAI_XLN', headerText: 'Trạng thái XLN', allowFiltering: true, width: '120' },
                            {fieldName: 'NGAYHEN', headerText: 'Ngày hẹn', allowFiltering: true, width: '120', cssClass:'text-right' },
                            {fieldName: 'NGAYHAN', headerText: 'Hạn trả', allowFiltering: true, width: '120', cssClass:'text-right' },
                            {fieldName: 'LYDO', headerText: 'Lý do', allowFiltering: true, width: '120' },
                            {fieldName: 'GHICHU', headerText: 'Ghi chú', allowFiltering: true, width: '120' },
                            {fieldName: 'THANGNO', headerText: 'Tháng nợ', allowFiltering: true, width: '120', cssClass:'text-right' },
                            {fieldName: 'BUOC_XLN_NEXT', headerText: 'Bước next', allowFiltering: true, width: '120' },
                            {fieldName: 'NGAYCHUYEN', headerText: 'Ngày chuyển', allowFiltering: true, width: '120', cssClass:'text-right' },
                            {fieldName: 'NGAY_CN', headerText: 'Ngày CN', allowFiltering: true, width: '120', cssClass:'text-right' },
                            {fieldName: 'NGUOI_CN', headerText: 'Người CN', allowFiltering: true, width: '120' },
                            {fieldName: 'MAY_CN', headerText: 'Máy CN', allowFiltering: true, width: '120' },
                            {fieldName: 'TT_HS', headerText: 'Tình trạng HS', allowFiltering: true, width: '120' },
                            ]"
                            :dataSource="dtDS_DaGiao"
                            :showColumnCheckbox="true"
                            dataKeyField="MA_XLN"
                            :allowPaging="true"
                            :enablePagingServer="false"
                            @selectedItemsChanged="selectedItemsChangedPhieuDaGiao"
                        ></DataGrid>
                    </b-tab>
                    <b-tab title="Lỗi" >
                        <DataGrid
                            :dataSource="dtLoi"
                            :columns="[
                            {fieldName: 'MA_XLN', headerText: 'Mã XLN', allowFiltering: true, width: '120' },
                            {fieldName: 'LYDO_ID', headerText: 'Lý do XL', allowFiltering: true, width: '120' },
                            {fieldName: 'GHICHU', headerText: 'Ghi chú', allowFiltering: true, width: '120' },
                            {fieldName: 'TRANGTHAI', headerText: 'Lỗi', allowFiltering: true, width: '120', cssClass: 'text-red' },
                            ]"
                            dataKeyField="MA_XLN"
                            :allowPaging="true"
                            :enablePagingServer="false"
                        ></DataGrid>
                    </b-tab>
                </b-tabs>
            </div>
        </div>
    </div>
</ejs-dialog>
