<div class="combobox-grid" tabindex="0" v-click-outside="hide">
    <div class="select-custom" @click="!disabled && (expanded = !expanded)">
      <input type="text" class="form-control" :value="textSelected" readonly :disabled="disabled"/>
        <input type="hidden" :value="valueSelected" />
    </div>
    <div class="grid-panel" v-show="expanded" style="width: auto;">
        <DataGrid v-bind:columns="gridColumns" ref="grid" v-bind:dataSource="dataSource" :showFilter="showFilter" :enabledSelectFirstRow="enabledSelectFirstRow"
        @selectedRowChanged="dataGrid_selectedRowChanged" :panelDataHeight="gridPanelDataHeight" @rowClicked="dataGrid_rowClicked" @dataBound="dataGrid_dataBound" :allowPaging="allowPaging" :enablePagingServer="false"></DataGrid>
    </div>
</div>
