<div>
  <div class="list-actions-top">
    <ul class="list">
      <li>
        <a href="javascript:void(0)" @click="tracuuThongtin">
          <span class="icon one-file-search"></span>Tra cứu
        </a>
      </li>
      <li >
        <a href="javascript:void(0)" @click="openTuyenCap" :class="{'disabled': !isDisableBtnCapNhat}">
          <span class="icon one-cab"></span>Tuyến cáp
        </a>
      </li>
    </ul>
  </div>
    <div class="page-content">
        <div class="box-form">
            <div class="legend-title">Thông tin tra cứu</div>
            <div class="list-checks marb10">
                <div class="item">
                    <div class="check-action mart10">
                        <input name="chkTracuu" type="radio" value="rdoMDF" v-model="checkrdo" @click="changeOption">
                        <span class="name">Tra cứu MDF theo Số máy/Acc</span>
                    </div>
                </div>
                <div class="item">
                    <div class="check-action mart10">
                        <input name="chkTracuu" type="radio" value="rdoPD"  v-model="checkrdo" @click="changeOption">
                        <span class="name">Tra cứu thuê bao theo phiến dọc</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-12">
                    <div class="info-row">
                        <div class="key w90">
                            Số máy/Acc<span style="color: red">*</span>
                        </div>
                        <div class="value">
                            <input type="text" v-on:keyup.enter="onEnterAcc()" class="form-control highlight center" 
                            v-model="somayAcc" ref="acc" :disabled="!disableText" :class="{'form-control':ok, 'is-invalid':isError}" tabindex="1">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-12">
                    <div class="info-row">
                        <div class="key w90">
                            Tổng đài<span style="color: red">*</span>
                        </div>
                        <div class="value">
                            <div class="select-custom">
                                <select name="" id="" class="form-control highlight" v-model="cboTongDai" ref="tongdai" :disabled="disableText">
                                  <option v-for="item in dsCboTongDai" :value="item.DONVI_ID">{{item.TEN_DV}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-12">
                    <div class="info-row">
                        <div class="key w90">
                            Ký hiệu PD<span style="color: red">*</span>
                        </div>
                        <div class="value">
                            <input type="text" v-on:keyup.enter="onEnterPD()" class="form-control highlight center" v-model="kyhieuPD" ref="pdoc" :disabled="disableText">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-12">
                    <div class="info-row">
                        <div class="key w90">
                            SH Jumper<span style="color: red">*</span>
                        </div>
                        <div class="value">
                            <input type="text" v-on:keyup.enter="onEnterSH()" class="form-control highlight center" v-model="shJumper" ref="jumper" :disabled="disableText">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-form">
            <div class="legend-title">
                Kết quả tìm kiếm
            </div>
          <DataGrid v-bind:columns="[
            {fieldName: 'SOI', headerText: 'Sợi', allowFiltering: false, allowSorting: false, isGroupedColumn: true},
            {fieldName: 'MA_TB', headerText: 'Số máy/Acc', allowFiltering: true, allowSorting: true},
            {fieldName: 'KY_HIEU', headerText: 'Phiến dọc', allowFiltering: true, allowSorting: true},
            {fieldName: 'JUMPER_VAO', headerText: 'Jumper', allowFiltering: true, allowSorting: true},
            {fieldName: 'TEN_TD', headerText: 'Tổng đài', allowFiltering: true, allowSorting: true}
            ]"
                    v-bind:dataSource="dsThuebaoPhiendoc"
                    dataKeyField="SOI"
                    :showColumnCheckbox="true"
                    :showFilter="true"
                    :allowPaging = true
                    :enablePagingServer = false
                    @selectedRowChanged="gridDanhsach_selectedRowChanged"></DataGrid>
        </div>
    </div>
  <Modal :modalShow="modalShow" @hideModal="modalShow = !modalShow" :dsTonghop="dsTonghop" />
</div>
