.charnel-house-cost-content {
  width: 60%;
  font-weight: 600;
  font-size: 17px;
}

@media (max-width: 768px) {
  .charnel-house-cost-content {
    font-size: 14px;
  }

  .charnel-house-cost-price {
    font-size: 13.5px;
  }

  .notes-container ul {
    margin-top: 20px;
  }

  .notes-container ul li {
    font-size: 12.5px;
  }
}
