<ejs-dialog
    :enableResize="true"
    :allowDragging="true"
    ref="frmKhaoSatKH_LM"
    :header="'KHẢO SÁT KHÁCH HÀNG LẮP ĐẶT'"
    :animationSettings="animationSettings"
    showCloseIcon="true"
    width="90%"
    :visible="false"
    :target="target"
    :open="dialogOpen"
    :close="closeDialog"
    :isModal="true"
>
    <div class="">
        <div class="list-actions-top">
            <ul class="list">
                <li>
                    <a href="javascript: void(0)" @click="onGhiLaiClicked" data-toggle="tooltip" title="Ghi lại"> <span class="icon one-save"></span>Ghi lại </a>
                </li>
                <li v-if="this.pBtnStatus.btnDieuLaiVisible">
                    <a href="javascript: void(0)" @click="onDieuLaiClicked" data-toggle="tooltip" title="Điều lại" :class="{'disabled': !pBtnStatus.btnDieuLaiEnabled}">
                        <span class="icon one-file-refresh"></span>Điều lại
                    </a>
                    <confirmPopup :content="xacNhanDieuLai" idModal='popup-confirmDieuLai_lm' @onOk="onDieuLaiConfirmed"/>
                </li>
                <li>
                    <a :href="lichSuKSUrl" target="_blank" data-toggle="tooltip" title="Lịch sử KS">
                        <span class="icon one-file-history"></span>Lịch sử KS
                    </a>
                </li>
                <!-- <a :href="lichSuKSUrl" target="_blank">
                    <span
                        class="icon files_single-paragraph nc-icon-glyph"
                    ></span>
                    Lịch sử KS
                </a> -->
                <!-- <li>
                    <a href="http://10.70.52.164:8081/FILE/hdsd/frmKhaoSatKH_LM.html" target="_blank">
                        <span class="icon files_single-content-02 nc-icon-glyph" ></span>
                        Trợ giúp
                    </a>
                </li> -->
            </ul>
        </div>
        <div class="popup-body">
            <div class="row">
                <div class="col-sm-6 col-12">
                    <div class="box-form" ref="boxTTKH">
                        <div class="legend-title">Thông tin khách hàng</div>
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key">Mã GD<span class="required"> *</span> </div>
                                    <div class="value">
                                        <input
                                            type="text"
                                            class="form-control"
                                            ref="txtMaGD"
                                            v-model="pTxtMaGD"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w120">Ngày YC</div>
                                    <div class="value">
                                        <input
                                            type="text"
                                            class="form-control"
                                            ref="txtNgayYC"
                                            v-model="pTxtNgayYC"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key">Loại hợp đồng</div>
                                    <div class="value">
                                        <input
                                            type="text"
                                            class="form-control"
                                            ref="txtLoaiHD"
                                            v-model="pTxtLoaiHD"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w120">
                                        Loại hình / tốc độ
                                    </div>
                                    <div class="value">
                                        <input
                                            type="text"
                                            class="form-control"
                                            ref="txtLoaiHinh"
                                            v-model="pTxtLoaiHinh"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="info-row">
                            <div class="key">Tên khách hàng</div>
                            <div class="value">
                                <input
                                    type="text"
                                    class="form-control"
                                    ref="txtTenKH"
                                    v-model="pTxtTenKH"
                                />
                            </div>
                        </div>
                        <div class="info-row">
                            <div class="key">Địa chỉ KH</div>
                            <div class="value">
                                <input
                                    type="text"
                                    class="form-control"
                                    ref="txtDiaChiKH"
                                    v-model="pTxtDiaChiKH"
                                />
                            </div>
                        </div>
                        <div class="info-row">
                            <div class="key">Điện thoại LH</div>
                            <div class="value">
                                <input
                                    type="text"
                                    class="form-control"
                                    ref="txtDienThoaiLH"
                                    v-model="pTxtDienThoaiLH"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="box-form" ref="boxTTCN">
                        <div class="legend-title">Thông tin cập nhật</div>
                        <div class="info-row">
                            <div class="key">Người trả lời<span class="required"> *</span> </div>
                            <div class="value">
                                <input
                                    type="text"
                                    class="form-control"
                                    ref="txtTenNguoiTL"
                                    v-model="pTxtTenNguoiTL"
                                    maxlength="150"
                                />
                            </div>
                        </div>
                        <div class="info-row">
                            <div class="key">Số liên hệ<span class="required"> *</span> </div>
                            <div class="value">
                                <input
                                    type="text"
                                    class="form-control"
                                    ref="txtSoLH"
                                    v-model="pTxtSoLH"
                                    maxlength="100"
                                />
                            </div>
                        </div>
                        <div class="info-row">
                            <div class="key">Ghi chú</div>
                            <div class="value">
                                <textarea
                                    class="form-control"
                                    style="height: 80px;resize: vertical;"
                                    ref="txtGhiChu"
                                    v-model="pTxtGhiChu"
                                    maxlength="500"
                                ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="box-form" :style="styles.tbh">
                        <div class="legend-title">Danh sách thuê bao</div>
                        <div class="table-content" style="height: 145px;">
                            <DataGrid
                                v-bind:columns="[
                                        { fieldName: 'MA_TB', headerText: 'Số máy/Acc', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'TEN_DT', headerText: 'Đối tượng', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'DONVI_QL', headerText: 'Đơn vị QL', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'TO_TC', headerText: 'Tổ TC', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'NGAY_HT', headerText: 'Ngày HT', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'VPXL', headerText: 'Giờ vi phạm', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'GHICHU_NT', headerText: 'Ghi chú NT', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'TEN_KIEULD', headerText: 'Kiểu lắp đặt', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'TEN_DVVT', headerText: 'Dịch vụ', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'LOAIHINH_TB', headerText: 'Loại hình', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'TOCDO', headerText: 'Tốc độ', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'MUCUOC_TB', headerText: 'Mức cước TB', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'TIEN_DC', headerText: 'Tiền ĐC', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'TRANGTHAI_HD', headerText: 'Trạng thái HĐ', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'TEN_TB', headerText: 'Tên TB', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'SODT_TB', headerText: 'Số ĐT', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'DIACHI_LD', headerText: 'Địa chỉ lắp đặt', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'TEN_PLKH', headerText: 'Tên PLKH', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'GOI_DADV', headerText: 'Gói đa DV', allowFiltering: true, allowSorting: true },
                                    ]"
                                    :allowPaging="true"
                                :enablePagingServer="false"
                                v-bind:dataSource="this.dsThueBao"
                                @selectedRowChanged="onDsThueBaoRowSelected"
                                :showFilter="true"
                                :allowSorting="true"
                            ></DataGrid>
                        </div>
                    </div>
                    <div class="box-form padt5" :style="styles.dslh">
                        <div class="legend-title">
                            <div class="pull-left mart5">
                                Danh sách lần hỏi
                            </div>
                            <div class="pull-right">
                                <div class="info-row marb0 ">
                                    <div class="key">
                                        <div class="check-action normal red">
                                            <input
                                                type="checkbox"
                                                class="check"
                                                v-model="chkKoTraLoi"
                                            />
                                            <span class="name font-weight-bold" style="width:150px !important;"
                                                >Không trả lời</span
                                            >
                                        </div>
                                    </div>
                                    <div class="value">
                                        <div class="select-custom" style="width: 350px;">
                                            <!-- <appSelect2
                                                name="lyDoKTLOpt"
                                                :options="pDsLyDoKTL"
                                                v-model=" chkKoTraLoiSelected "
                                                :disabled="!chkKoTraLoi"
                                            >
                                            </appSelect2> -->
                                            <SelectExt v-model.trim="chkKoTraLoiSelected" :dataSource="pDsLyDoKTL" dataTextField="LYDO_KTL"
                  dataValueField="LYDOKTL_ID" :disabled="!chkKoTraLoi"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="table-content" style="height: 117px;">
                            <DataGrid
                                v-bind:columns="[
                                        { fieldName: 'NGUOI_HOI', headerText: 'Người hỏi', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'NGUOI_TL', headerText: 'Người trả lời', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'DIENTHOAI_LH', headerText: 'Điện thoại', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'NGAY_HOI', headerText: 'Ngày hỏi	', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'TRANGTHAI', headerText: 'Trạng thái', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'LYDO_KTL', headerText: 'Lý do KTL', allowFiltering: true, allowSorting: true },
                                        { fieldName: 'GHICHU', headerText: 'Ghi chú', allowFiltering: true, allowSorting: true }
                                    ]"
                                @selectedRowChanged="onDsLanGoiRowSelected"
                                v-bind:dataSource="this.dsLanGoiChuaTraLoi"
                                :showFilter="true"
                                :allowSorting="true"
                                :allowPaging="true"
                                :enablePagingServer="false"
                            ></DataGrid>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-form">
                <!-- @fakedata -->
                <cauHoiKS
                    :hinhThuc="cauHoiParams.hinhThuc"
                    :nhanVienId="cauHoiParams.nhanVienId"
                    ref="cauHoiKS"
                    :tbtlId="tbtlId"
                />
            </div>
        </div>
    </div>
</ejs-dialog>
