<ejs-dialog :enableResize='true' :allowDragging='true' :visible='false' :animationSettings='animationSettings'
    ref="dialogObjTaoBangKe" showCloseIcon=true width='80%'
    target='#app .main-wrapper'>
    <div class="modal" id="popupTCTTTB">
        <div class="modal-dialog" style="width: 100%; max-width: 600px;">
            <div class="modal-content popup-box">
                <div class="popup-header">
                    <div class="title"><span class="icon one-notepad"></span> Chọn ngày tạo bảng kê</div>
                    <div class="close -ap icon-close" data-dismiss="modal">
                    </div>
                </div>
                <div class="list-actions-top">
                    <ul class="list">

                        <li>
                            <a href="#">
                                <span class="icon nc-icon-glyph ui-1_check-circle-08"></span>Chấp nhận
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="popup-body">
                    <div class="box-form">
                        <div class="legend-title">Điều kiện tìm kiếm</div>
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w60">Từ ngày</div>
                                    <div class="value">
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control">
                                            <span class="icon one-calendar"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w60">Đến ngày</div>
                                    <div class="value">
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control">
                                            <span class="icon one-calendar"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ejs-dialog>