a.disabled { color:lightgray !important; }
a.disabled:hover { color:lightgray !important; }
.disabled { pointer-events: none; opacity: 0.6;}
.btn-main {
    background: #0176FF;
    color: #fff;
}

.btn {
    padding: 5px 10px;
    border-radius: 4px;
}