<div class="ketcuoi-toanha">
  <div class="list-actions-top">
    <ul class="list">
      <li>
        <a href="javascript:void(0)" :class="{'disable-btn': !tsbtnChapNhan}" @click="tsbtnChapNhan_Click">
          <span class="icon one-save"></span> Ghi lại
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" :class="{'disable-btn': !tsbtnHuy}" @click="tsbtnHuy_Click">
          <span class="icon ui-1_circle-remove nc-icon-glyph"></span> Hủy
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" :class="{'disable-btn': !tsbtnMauEx}" @click="tsbtnMauEx_Click">
          <span class="icon one-xlsx"></span> File Excel mẫu
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" :class="{'disable-btn': !btnXuatExcel || dgvDanhSach.length===0}"
          @click="btnXuatExcel_Click">
          <span class="icon one-xlsx"></span> Xuất Excel
        </a>
      </li>
    </ul>
  </div>
  <div class="page-content">

    <div class="info-row">
      <div class="box-form" style="display: inline-grid;">
        <div class="legend-title">
          Chọn đường dẫn
        </div>
        <span class="one-alert text-warning"></span>
        <span class="name text-main fw6">- File excel gồm 3 trường: KYHIEU, PHANLOAIKC_ID, MA_TOANHA</span>
        <span class="name text-main fw6">- Phân loại kết cuối: 0 (Kết cuối đồng), 1 (Kết cuối quang)</span>
        <span class="name text-main fw6">- Gỡ spliter khỏi tòa nhà: Cập nhật MA_TOANHA = "XOATOANHA"</span>
      </div>
      <div class="box-form">
        <div class="row">
          <div class="info-row">
            <div class="key w80">Đường dẫn</div>
            <div class="input-more-button">
              <label for="upload" class="btn">
                <span class="-ap icon-more_horiz"></span>
                <input ref="fileInput" type="file" id="upload" style="display: none" @change="onChangeFile"
                  accept=".xls, .xlsx" @click="$refs.fileInput.value=null" />
              </label>
              <input @click="duongDan_click" v-model="duongDan" type="text" class="form-control" style="background-color: #FFF;" readonly="true" />
            </div>
          </div>
        </div>
        <!-- <div class="info-row">
          <div class="key padl10">Đường dẫn</div>
          <div class="value" @input="fileUpload_click">
            <b-form-file id="fileUpload" v-model="fileExcel" placeholder="" accept=".xls, .xlsx"></b-form-file>
          </div>
        </div> -->
      </div>

    </div>
    <div class="box-form">
      <div class="legend-title">
        Danh sách
      </div>
      <div class="table-content">
        <DataGrid ref="dsKetCuoiToaNha" :dataSource="dgvDanhSach"
          :showFilter="false" :allowResizing='true' :allowPaging="true" :allowSorting="false"
          :enablePagingServer='false' :allowExcelExport="true" v-bind:columns="[
            {fieldName: '', headerText: '', textAlign: 'Center', allowFiltering: false, allowSorting: false , width: '80', headerTemplate: getHeaderTemplateChonNhieu(this), template: getColumnTemplateChonNhieu(this)},
            {fieldName: 'KYHIEU', headerText: 'Spliter (Ký hiệu)',allowFiltering: false , allowSorting: false},
            {fieldName: 'PHANLOAIKC_ID', headerText: 'Phân loại KC',allowFiltering: false , allowSorting: false},
            {fieldName: 'MA_TOANHA', headerText: 'Mã tòa nhà',allowFiltering: false , allowSorting: false},
            {fieldName: '', headerText: 'Trạng thái', allowFiltering: false , textAlign: 'Center', clipMode: 'Ellipsis', width: '70',  allowSorting: false , template: getColumnTemplateTRANGTHAI(this)},
            {fieldName: 'GHICHU', headerText: 'Ghi chú',allowFiltering: false , allowSorting: false},
            ]">
        </DataGrid>
      </div>
    </div>
  </div>
</div>