.input-group {
	display: table !important;
}

.vattu_box {
	position: relative;
}

.vattu_table {
	position: absolute;
	z-index: 1;
	max-height: 300px;
	background: aliceblue;
	overflow-y: scroll;
}

.select-table {
	position: absolute;
	z-index: 1;
	max-height: 300px;
	background: #FFF;
	border: 1px solid #DDD;
}
.sumdate-text {
	color: red;
	font-size: 1.2rem;
	font-weight: 600;
}

.content-songay{
	display: inline-flex;
	align-items: center;
}

/deep/ .modal-dsvt .modal-dialog {
  width: 100%;
  max-width: 1200px;
}

/deep/ .e-detail-intent {
	width: 30px !important;
}

/deep/ .list-actions-top .list > li.disabled {
	cursor: not-allowed;
	pointer-events: none;
  }
  /deep/ .list-actions-top .list > li.disabled  > a {
	color: #6c757d !important;
  }


  /deep/ .modal-nvt .modal-body {
	  padding: 0;
  }


/deep/ .modal-dsvt .modal-body {
	padding: 0;
}

.print-menu {
	position: fixed;
    background: white;
    border: 1px solid #BAE7FF;
    margin-top: 0.75rem;
    box-shadow: 0px 4px 4px rgb(177 177 177 / 15%);
    color: #0176FF;
    border-radius: 3px;
	cursor: pointer;
    // font-weight: 600;
}

#textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    // border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    // height: 28px;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 100%;
}

.text-area-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/deep/ #duyFixed .pdf-preview {
	position: fixed !important;
    width: 80%!important;
    transform: translateX(-50%) !important;
    margin: 2rem;
}

/deep/ #duyFixed .pdf-preview button{
	display: block !important;
}
/deep/ .c-red {
    font-weight: bold !important;
}

/deep/ .below-dongia {
    background-color: lightsalmon !important;
}

#checkTTDKNCVT .split{
	overflow: unset !important;
  }
