.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.disabled-color {
  color: gray !important;
}

.top-modal .page-content {
  top: 130px !important;
}

.e-grid .e-rowcell.text-donvi-nhan {
  color: #C000C0 !important;
}

.e-grid .e-rowcell.text-ngaygiao {
  color: red !important;
}

.e-grid .e-rowcell.text-donvi-giao {
  color: blue !important;
}
