<ejs-dialog
    :enableResize="true"
    :allowDragging="true"
    :visible="false"
    ref="dlgGanNhanVienTN"
    :animationSettings="animationSettings"
    width="80%"
    :target="target"
    :isModal="true"
    :showCloseIcon="true"
    header='<div class="title"> <span class="icon one-notepad"></span> Cập nhật nhân viên thu nợ </div>'
    :close="reset"
>
    <div class="list-actions-top">
        <ul class="list">
            <li>
                <a class="pointer" @click="btnGhiLai">
                    <span class="icon one-save"></span> Ghi lại
                </a>
            </li>
            <li>
                <a class="pointer">
                    <label for="uploadIHD">
                        <span class="icon one-xlsx-import"></span>Đọc file
                        <input
                            type="file"
                            ref="fileInputIHD"
                            hidden
                            id="uploadIHD"
                            accept=".xls,.xlsx"
                            @change="btnReadExcel"
                            @click="$refs.fileInputIHD.value = null"
                        />
                    </label>
                </a>
            </li>
        </ul>
    </div>
    <div class="popup-body">
        <div class="info-row">
            <div class="key w150">Nhân viên thu nợ</div>
            <div class="select-custom">
                <select
                    name=""
                    id=""
                    class="form-control"
                    v-model="cboNhanVienTCValue"
                >
                    <option
                        v-for="item in cboNhanVienTC"
                        :value="item.NHANVIEN_ID"
                    >
                        {{item.TEN_HIENTHI}}</option
                    >
                </select>
            </div>
        </div>
        <br />
        <div class="legend-title">
            <div class="pull-left">
                <div class="title">Danh sách khách hàng gán</div>
            </div>
            <div class="pull-right">
                <div class="check-action normal">
                    <input type="checkbox" class="check" v-model="chkChuaGan" />
                    <span class="name">Lấy danh sách chưa gán nhân viên</span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="nav tabs tab-over">
            <a
                href="#tab1"
                data-toggle="tab"
                @click="selectedTab('tabDanhSach')"
                :class="{active: (tabSelected =='tabDanhSach')}"
            >
                Danh sách
            </a>
            <a
                href="#tab2"
                data-toggle="tab"
                @click="selectedTab('tabLoi')"
                :class="{active: (tabSelected =='tabLoi')}"
            >
                Lỗi
            </a>
        </div>
        <div class="tab-content">
            <div
                class="tab-pane "
                :class="{active: (tabSelected =='tabDanhSach')}"
                id="tab1"
            >
                <DataGrid
                    :columns="[
                {fieldName: 'MA_XLN', headerText: 'Mã KH',allowFiltering: true, width: '120' },
                {fieldName: 'TEN_KH', headerText: 'Tên KH', allowFiltering: true, width: '120' },
                {fieldName: 'DIACHI_KH', headerText: 'Địa chỉ KH', allowFiltering: true, width: '120' },
                {fieldName: 'MANV_TC', headerText: 'Người xử lý', allowFiltering: true, width: '120' },   
                ]"
                    :dataSource="gridDSKGan"
                    :showColumnCheckbox="true"
                    dataKeyField="MA_XLN"
                    :allowPaging="true"
                    :enablePagingServer="false"
                    @selectedItemsChanged="selectedItemsChangedDSKHGan"
                ></DataGrid>
            </div>
            <div
                class="tab-pane "
                :class="{active: (tabSelected == 'tabLoi')}"
                id="tab2"
            >
                <DataGrid
                    :dataSource="gridViewLoi"
                    :columns="[
                            {fieldName: 'MA_XLN', headerText: 'Mã XLN',allowFiltering: true, width: '120' },
                            {fieldName: 'MANV_XL', headerText: 'Mã NVXL', allowFiltering: true, width: '120' },
                            {fieldName: 'TRANGTHAI', headerText: 'Trạng thái', allowFiltering: true, width: '120' }
                            ]"
                    dataKeyField="MA_XLN"
                    :allowPaging="true"
                    :enablePagingServer="false"
                ></DataGrid>
            </div>
        </div>
    </div>
</ejs-dialog>
