<div class="row">
  <!-- 1. Thông tin tiêu chuẩn hệ thống -->
  <div class="col-12">
    <div class="legend-title">Thông tin tiêu chuẩn hệ thống</div>
  </div>
  <!-- Dòng 1 -->
  <div v-if="isFieldVisible('mang_thiet_bi_id')" class="col-4">
    <div class="info-row">
      <div class="key w200">
        Mảng thiết bị
        <span class="red" v-if="isControlRequired('select_mang_thiet_bi_id')">*</span>
      </div>
      <div class="value">
        <SelectExt
          :dataSource="[...mangThietBiList]"
          dataTextField="TEN"
          dataValueField="ID"
          v-model="currentItem.mang_thiet_bi_id"
          :disabled="!controls.select_mang_thiet_bi_id.enabled"
          :class="{ invalidBox: controls.select_mang_thiet_bi_id.invalid }"
        />
      </div>
    </div>
  </div>
  <div v-if="isFieldVisible('he_thong_id')" class="col-4">
    <div class="info-row">
      <div class="key w200">Hệ thống</div>
      <div class="value">
        <SelectExt
          :dataSource="[...heThongList]"
          dataTextField="TEN"
          dataValueField="ID"
          v-model="currentItem.he_thong_id"
          :disabled="!controls.select_he_thong_id.enabled"
        />
      </div>
    </div>
  </div>
  <div v-if="isFieldVisible('loaithietbi_id')" class="col-4">
    <div class="info-row">
      <div class="key w200">
        Loại thiết bị
        <span class="red" v-if="isControlRequired('select_loaithietbi_id')">*</span>
      </div>
      <div class="value">
        <SelectExt
          :dataSource="[...deviceTypeList]"
          dataTextField="TEN"
          dataValueField="ID"
          v-model="currentItem.loaithietbi_id"
          :disabled="!controls.select_loaithietbi_id.enabled"
          :class="{ invalidBox: controls.select_loaithietbi_id.invalid }"
        />
      </div>
    </div>
  </div>
  <!-- Dòng 2 -->
  <div v-if="isFieldVisible('chung_loai_id')" class="col-4">
    <div class="info-row">
      <div class="key w200">
        Chủng loại
        <span class="red" v-if="isControlRequired('select_chung_loai_id')">*</span>
      </div>
      <div class="value">
        <SelectExt
          :dataSource="[...chungLoaiList]"
          dataTextField="MODEL"
          dataValueField="CHUNGLOAITHIETBI_ID"
          v-model="currentItem.chung_loai_id"
          :disabled="!controls.select_chung_loai_id.enabled"
        />
      </div>
    </div>
  </div>
  <div v-if="isFieldVisible('phan_loai_tb_id')" class="col-4">
    <div class="info-row">
      <div class="key w200">
        Phân loại thiết bị
        <span class="red" v-if="isControlRequired('select_phan_loai_tb_id')">*</span>
      </div>
      <div class="value">
        <SelectExt
          :dataSource="[...phanLoaiTBList]"
          dataTextField="TEN"
          dataValueField="ID"
          v-model="currentItem.phan_loai_tb_id"
          :disabled="!controls.select_phan_loai_tb_id.enabled"
          :class="{ invalidBox: controls.select_phan_loai_tb_id.invalid }"
        />
      </div>
    </div>
  </div>
  <div v-if="isFieldVisible('thietbicha_id')" class="col-4">
    <div class="info-row">
      <div class="key w200">
        Thiết bị cha
        <span class="red" v-if="isControlRequired('select_thietbicha_id')">*</span>
      </div>
      <div class="value">
        <SelectExt
          :dataSource="parentDeviceList"
          dataTextField="ten"
          dataValueField="id"
          v-model="currentItem.thietbicha_id"
          :disabled="!controls.select_thietbicha_id.enabled"
          :class="{ invalidBox: controls.select_thietbicha_id.invalid }"
        />
      </div>
    </div>
  </div>
  <div v-if="isFieldVisible('so_huu_thiet_bi_id')" class="col-4">
    <div class="info-row">
      <div class="key w200">
        Sở hữu thiết bị
        <span class="red" v-if="isControlRequired('select_so_huu_thiet_bi_id')">*</span>
      </div>
      <div class="value">
        <SelectExt
          :dataSource="[...soHuuThietBiList]"
          dataTextField="TEN"
          dataValueField="ID"
          v-model="currentItem.so_huu_thiet_bi_id"
          :disabled="!controls.select_so_huu_thiet_bi_id.enabled"
          :class="{ invalidBox: controls.select_so_huu_thiet_bi_id.invalid }"
        />
      </div>
    </div>
  </div>

  <!-- 2. Thông tin cơ bản -->
  <div class="col-12">
    <div class="legend-title">Thông tin cơ bản</div>
  </div>
  <!-- Dòng 1 -->
  <div v-if="isFieldVisible('mathietbi')" class="col-4">
    <div class="info-row">
      <div class="key w200">Mã thiết bị</div>
      <div class="value">
        <input type="text" class="form-control" disabled v-model="currentItem.mathietbi" />
      </div>
    </div>
  </div>
  <div v-if="isFieldVisible('ten')" class="col-4">
    <div class="info-row">
      <div class="key w200">
        Tên thiết bị
        <span class="red" v-if="isControlRequired('txt_ten')">*</span>
      </div>
      <div class="value">
        <input
          type="text"
          class="form-control"
          v-model="currentItem.ten"
          :disabled="!controls.txt_ten.enabled"
          :class="{ invalidBox: controls.txt_ten.invalid }"
        />
      </div>
    </div>
  </div>
  <div v-if="isFieldVisible('ip_id')" class="col-4">
    <div class="info-row">
      <div class="key w200">IP Quản trị</div>
      <div class="value">
        <SelectExt
          :dataSource="[...IPAddressList]"
          dataTextField="IP"
          dataValueField="ID"
          v-model="currentItem.ip_id"
          :disabled="!controls.select_ip_id.enabled"
        />
      </div>
    </div>
  </div>
  <!-- Dòng 2 -->
  <div v-if="isFieldVisible('kyhieu')" class="col-4">
    <div class="info-row">
      <div class="key w200">
        Ký hiệu thiết bị
        <span class="red" v-if="isControlRequired('txt_kyhieu')">*</span>
      </div>
      <div class="value">
        <input
          type="text"
          class="form-control"
          v-model="currentItem.kyhieu"
          :disabled="!controls.txt_kyhieu.enabled"
          :class="{ invalidBox: controls.txt_kyhieu.invalid }"
        />
      </div>
    </div>
  </div>
  <div v-if="isFieldVisible('serial_number')" class="col-4">
    <div class="info-row">
      <div class="key w200">
        Serial number
        <span class="red" v-if="isControlRequired('txt_serial_number')">*</span>
      </div>
      <div class="value">
        <input
          type="text"
          class="form-control"
          v-model="currentItem.serial_number"
          :disabled="!controls.txt_serial_number.enabled"
          :class="{ invalidBox: controls.txt_serial_number.invalid }"
        />
      </div>
    </div>
  </div>
  <div v-if="isFieldVisible('model')" class="col-4">
    <div class="info-row">
      <div class="key w200">Model</div>
      <div class="value">
        <input
          type="text"
          class="form-control"
          v-model="currentItem.model"
          :disabled="!controls.txt_model.enabled"
        />
      </div>
    </div>
  </div>
  <!-- Dòng 3 -->
  <div v-if="isFieldVisible('part_number')" class="col-4">
    <div class="info-row">
      <div class="key w200">Part number</div>
      <div class="value">
        <input
          type="text"
          class="form-control"
          v-model="currentItem.part_number"
          :disabled="!controls.txt_part_number.enabled"
        />
      </div>
    </div>
  </div>
  <div v-if="isFieldVisible('trang_thai_vh_id')" class="col-4">
    <div class="info-row">
      <div class="key w200">
        Trạng thái vận hành
        <span class="red" v-if="isControlRequired('select_trang_thai_vh_id')">*</span>
      </div>
      <div class="value">
        <SelectExt
          :dataSource="[...trangThaiVHList]"
          dataTextField="TEN"
          dataValueField="ID"
          v-model="currentItem.trang_thai_vh_id"
          :disabled="!controls.select_trang_thai_vh_id.enabled"
          :class="{ invalidBox: controls.select_trang_thai_vh_id.invalid }"
        />
      </div>
    </div>
  </div>
  <div v-if="isFieldVisible('loaitudia_id')" class="col-4">
    <div class="info-row">
      <div class="key w200">
        Loại tủ đĩa
        <span class="red" v-if="isControlRequired('select_loaitudia_id')">*</span>
      </div>
      <div class="value">
        <SelectExt
          :dataSource="[...discTypeList]"
          dataTextField="TEN"
          dataValueField="ID"
          v-model="currentItem.loaitudia_id"
          :disabled="!controls.select_loaitudia_id.enabled"
          :class="{ invalidBox: controls.select_loaitudia_id.invalid }"
        />
      </div>
    </div>
  </div>
  <!-- <div v-if="isFieldVisible('loaikhachhang')" class="col-4">
    <div class="info-row">
      <div class="key w200">Loại khách hàng</div>
      <div class="value">
        <SelectExt
          :dataSource="[...customerTypeList]"
          dataTextField="name"
          dataValueField="id"
          v-model="currentItem.loaikhachhang"
          :disabled="!controls.select_loaikhachhang.enabled"
        />
      </div>
    </div>
  </div> -->
  <!-- Dòng 4 -->
  <div v-if="isFieldVisible('hieu_luc')" class="col-4">
    <div class="info-row">
      <div class="key w200">Hiệu lực</div>
      <div class="value padt4">
        <div class="check-action">
          <input
            type="checkbox"
            class="check"
            :true-value="1"
            :false-value="0"
            v-model="currentItem.hieu_luc"
            :disabled="!controls.checkbox_hieu_luc.enabled"
          /><span class="name"></span>
        </div>
      </div>
    </div>
  </div>
  <div v-if="isFieldVisible('full_depth')" class="col-4">
    <div class="info-row">
      <div class="key w200">Full depth</div>
      <div class="value padt4">
        <div class="check-action">
          <input
            type="checkbox"
            class="check"
            :true-value="1"
            :false-value="0"
            v-model="currentItem.full_depth"
            :disabled="!controls.checkbox_full_depth.enabled"
          /><span class="name"></span>
        </div>
      </div>
    </div>
  </div>
  <div v-if="isFieldVisible('ghi_chu')" class="col-4">
    <div class="info-row">
      <div class="key w200">Ghi chú</div>
      <div class="value">
        <textarea
          class="form-control"
          rows="2"
          v-model="currentItem.ghi_chu"
          :disabled="!controls.txt_ghi_chu.enabled"
        ></textarea>
      </div>
    </div>
  </div>
  <div v-if="isFieldVisible('loai_card')" class="col-4">
    <div class="info-row">
      <div class="key w200">Loại card <span class="red">*</span></div>
      <div class="value">
        <SelectExt
          :dataSource="[...cardTypeList]"
          dataTextField="TEN"
          dataValueField="ID"
          v-model="currentItem.loai_card"
          :disabled="!controls.select_loai_card.enabled"
          :class="{ invalidBox: controls.select_loai_card.invalid }"
        />
      </div>
    </div>
  </div>

  <!-- 3. Đặc tính thiết bị -->
  <div class="col-12">
    <div class="legend-title">Đặc tính thiết bị</div>
  </div>
  <!-- Dòng 1 -->
  <div v-if="isFieldVisible('hangsx_id')" class="col-4">
    <div class="info-row">
      <div class="key w200">
        Hãng sản xuất
        <span class="red" v-if="isControlRequired('select_hangsx_id')">*</span>
      </div>
      <div class="value">
        <SelectExt
          :dataSource="[...manufacturerList]"
          dataTextField="TEN"
          dataValueField="ID"
          v-model="currentItem.hangsx_id"
          :disabled="!controls.select_hangsx_id.enabled"
          :class="{ invalidBox: controls.select_hangsx_id.invalid }"
        />
      </div>
    </div>
  </div>
  <div v-if="isFieldVisible('nam_san_xuat')" class="col-4">
    <div class="info-row">
      <div class="key w200">Năm sản xuất</div>
      <div class="value">
        <input
          type="number"
          class="form-control"
          v-model.number="currentItem.nam_san_xuat"
          :min="1900"
          :max="currentYear"
          step="1"
          :disabled="!controls.txt_nam_san_xuat.enabled"
        />
      </div>
    </div>
  </div>
  <div v-if="isFieldVisible('cs_dinhdanh')" class="col-4">
    <div class="info-row">
      <div class="key w200">
        Công suất định danh (W)
        <span class="red" v-if="isControlRequired('txt_cs_dinhdanh')">*</span>
      </div>
      <div class="value">
        <input
          type="number"
          class="form-control"
          v-model="currentItem.cs_dinhdanh"
          :disabled="!controls.txt_cs_dinhdanh.enabled"
          :class="{ invalidBox: controls.txt_cs_dinhdanh.invalid }"
        />
      </div>
    </div>
  </div>
  <!-- Dòng 2 -->
  <div v-if="isFieldVisible('vaitrothietbi_id')" class="col-4">
    <div class="info-row">
      <div class="key w200">Vai trò thiết bị</div>
      <div class="value">
        <SelectExt
          :dataSource="[...deviceRoleList]"
          dataTextField="TEN"
          dataValueField="ID"
          v-model="currentItem.vaitrothietbi_id"
          :disabled="!controls.select_vaitrothietbi_id.enabled"
        />
      </div>
    </div>
  </div>
  <div v-if="isFieldVisible('nhacungcap_id')" class="col-4">
    <div class="info-row">
      <div class="key w200">
        Nhà cung cấp
        <span class="red" v-if="isControlRequired('select_nhacungcap_id')">*</span>
      </div>
      <div class="value">
        <SelectExt
          :dataSource="[...supplierList]"
          dataTextField="TEN"
          dataValueField="ID"
          v-model="currentItem.nhacungcap_id"
          :disabled="!controls.select_nhacungcap_id.enabled"
          :class="{ invalidBox: controls.select_nhacungcap_id.invalid }"
        />
      </div>
    </div>
  </div>
  <div v-if="isFieldVisible('cs_thucte')" class="col-4">
    <div class="info-row">
      <div class="key w200">Công suất thực tế (W)</div>
      <div class="value">
        <input
          type="number"
          class="form-control"
          v-model="currentItem.cs_thucte"
          :disabled="!controls.txt_cs_thucte.enabled"
        />
      </div>
    </div>
  </div>
  <!-- Dòng 3 -->
  <div v-if="isFieldVisible('hedieuhanh_id')" class="col-4">
    <div class="info-row">
      <div class="key w200">Hệ điều hành</div>
      <div class="value">
        <SelectExt
          :dataSource="[...OSList]"
          dataTextField="TEN"
          dataValueField="ID"
          v-model="currentItem.hedieuhanh_id"
          :disabled="!controls.select_hedieuhanh_id.enabled"
        />
      </div>
    </div>
  </div>
  <div v-if="isFieldVisible('khong_gian_lap_dat')" class="col-4">
    <div class="info-row">
      <div class="key w200">
        Không gian lắp đặt
        <span class="red" v-if="isControlRequired('txt_khong_gian_lap_dat')">*</span>
      </div>
      <div class="value">
        <input
          type="number"
          class="form-control"
          v-model="currentItem.khong_gian_lap_dat"
          :disabled="!controls.txt_khong_gian_lap_dat.enabled"
          :class="{ invalidBox: controls.txt_khong_gian_lap_dat.invalid }"
        />
      </div>
    </div>
  </div>
</div>
