  .vattu_box {
    position: relative;
  }

  .vattu_table {
    position: absolute;
    z-index: 1000;
    max-height: 360px;
    background: aliceblue;
    overflow-y: scroll;
    min-width: 700px;
  }
  .split
  {
    overflow-x: unset;
  }
  .displayNone {
    display: none;
  }
  >>> .grid-ls-tongno {
    color: rgb(184, 8, 8) !important;
    font-weight: bold!important;
  }
  >>> .grid-ls-phatsinh {
    font-weight: bold!important;
    color: rgb(194, 197, 32) !important;
  }
  >>> .grid-ls-dauky {
    font-weight: bold!important;
    color: rgb(161, 93, 15) !important;
  }