<b-modal
    id="popup-mangthi"
    size="xl"
    hide-footer
    hide-header
    hide-header-close
    body-class="modal-body p-0"
    @shown="onModalShown"
    @hidden="onModalHidden"
  >
   <div class="modal-content popup-box">
                <div class="popup-header">
                    <div class="title"><span class="icon one-notepad"></span> Danh sách mảng thi</div>
                     <div
                        class="close -ap icon-close"
                        data-dismiss="modal"
                        @click="$bvModal.hide('popup-mangthi')"
                    ></div>
                </div>
                <div class="list-actions-top">
                    <ul class="list">
                        
                        <li @click="tsbtnNhapMoi_Click" aria-disabled="true" :class="{'disable-btn': tsbtnNhapMoi}">
                            <a href="#">
                                <span class="icon nc-icon-glyph ui-1_circle-add"></span>Thêm mới
                            </a>
                        </li>
                        <li @click="tsbtnGhiLai_Click" :class="{'disable-btn': tsbtnGhiLai}">
                            <a href="#" >
                                <span class="icon one-save"></span>Ghi lại
                            </a>
                        </li>
                        <li @click="tsbtnXoaMangThi_Click" :class="{'disable-btn': tsbtnGhiLai}">
                            <a href="#" >
                                <span class="icon fa fa-close"></span>Xóa
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="popup-body">
                    <div class="box-form">
                        <div class="legend-title">Thông tin mảng thi</div>
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w80">Mảng thi <span class="red">(*)</span>:</div>
                                    <div class="value">
                                        <input name="" class="form-control" v-model="txtMangThi"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w80">Ghi chú</div>
                                    <div class="value">
                                        <input name="" class="form-control" v-model="txtGhiChu"></input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-form">
                        <div class="legend-title">Danh sách mảng thi</div>
                        <DataGrid
                            v-bind:columns="collumnsDSMangthi" 
                            v-bind:dataSource="options.lstMangthi" 
                            :showFilter="true" 
                            :allowPaging="true" 
                            :enablePagingServer="false" 
                            :enabledSelectFirstRow="true" 
                            @selectedRowChanged="gridMangThi_FocusedRowChanged"
                            :selectionSettings="{ checkboxMode: 'ResetOnRowClick' }" 
                            :panelDataHeight="250">
                        </DataGrid>
                    </div>
                </div>
            </div>
    </div>
  </b-modal>