.text-view {
  background-color: white !important;
}

.text-red {
  color: red;
}

.vue-treeselect__menu { max-height: inherit !important; }

.donvi .vue-treeselect {width: 400px}

::-webkit-scrollbar { width: 16px; height: 16px }

