<div>
  <div class="legend-title red">Thông tin phiếu yêu cầu</div>
  <div class="row">
      <div class="col-sm-7 col-12">
          <div class="row">
              <div class="col-sm-7 col-12">
                  <div class="info-row">
                      <div class="key w90">Mã giao dịch</div>
                      <div class="value">
                          <div class="input-more-button">
                              <button class="btn" @click.prevent="btnLayMaGD_Click">
                                  <span class="-ap icon-more_horiz"></span>
                              </button>
                              <input type="text" class="form-control highlight" v-model.trim="modelInput.txtMaGD"  ref = 'ma_gd'  v-on:keyup.enter="onEnterMaGD()" >
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-5 col-12">
                  <div class="info-row">
                      <div class="key">Ngày YC</div>
                      <div class="value">
                          <div class="input-icon-right">
                              <ejs-datepicker
                                      v-model="modelDateTime.dtpNgayYC"
                                      :format="modelDateTime.dateFormat"
                                      :value="modelDateTime.dtpNgayYC"
                                      :enabled="modelDateTime.enableDate"
                                  ></ejs-datepicker>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-7 col-12">
                  <div class="info-row">
                      <div class="key w90">Mã HĐ cũ</div>
                      <div class="value">
                          <input type="text" class="form-control" v-model="modelInput.txtMaHDcu" readonly>
                      </div>
                  </div>
              </div>
              <div class="col-sm-5 col-12">
                  <div class="info-row">
                      <div class="key">Ngày LHĐ</div>
                      <div class="value">
                          <div class="input-icon-right">
                              <ejs-datepicker
                                      v-model="modelDateTime.dtpNgayLapHD"
                                      :format="modelDateTime.dateFormat"
                                      :value="modelDateTime.dtpNgayLapHD"
                                      :enabled="modelDateTime.enableDate"
                                  ></ejs-datepicker>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-sm-5 col-12">
          <div class="row">
              <div class="col-sm-7 col-12">
                  <div class="info-row">
                      <div class="key">Dịch vụ</div>
                      <div class="value">
                          <div class="select-custom" ref="rcboDichVuVT">
                                  <SelectExt
                                      v-model="modelCbo.cboDichVuVT"
                                      :settings="{dropdownParent: $refs['rcboDichVuVT']}"
                                      :dataSource="modelCbo.vcboDichVuVT"
                                      @change="cboDichVuVT_SelectedValueChanged()"
                                      dataTextField="ten_dvvt"
                                      :disabled="!modelCkeckBox.cboDichVuVT"
                                      dataValueField="dichvuvt_id"/>
                              </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-5 col-12">
                  <div class="info-row">
                      <div class="key">Loại hình</div>
                      <div class="value">
                          <div class="select-custom">
                              <div class="select-custom" ref="cboLoaihinhTB">
                                  <SelectExt
                                      v-model="modelCbo.cboLoaihinhTB"
                                      :settings="{dropdownParent: $refs['cboLoaihinhTB']}"
                                      :dataSource="modelCbo.vcboLoaihinhTB"
                                      :disabled="true"
                                      @change="cboLoaihinhTB_SelectedValueChanged()"
                                      dataTextField="loaihinh_tb"
                                      dataValueField="loaitb_id"/>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-7 col-12">
                  <div class="info-row">
                      <div class="key">Kiểu yêu cầu</div>
                      <div class="value">
                           <div class="select-custom" ref="cboKieuLD">
                          <SelectExt
                              v-model="modelCbo.cboKieuLD"
                              :settings="{dropdownParent: $refs['cboKieuLD']}"
                              :dataSource="modelCbo.vcboKieuLD"
                              @change="cboKieuLD_SelectedValueChanged()"
                              dataTextField="ten_kieuld"
                              dataValueField="kieuld_id"/>
                      </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-5 col-12">
                  <div class="info-row">
                      <div class="key">
                          <div class="check-action">
                              <input type="checkbox" v-model="modelCkeckBox.chkDC_NoiBo" class="check" @change="chkDC_NoiBo_CheckedChanged">
                              <span class="name">D/C nội bộ</span>
                          </div>
                      </div>
                      <div class="value">
                          <button class="btn btn-second fullw" @click="btnThueSo_Click" :disabled="!buttonState.btnThueSo">
                              <span class="nc-icon-glyph arrows-1_simple-right"></span> Thuê số
                          </button>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
  <div class="legend-title mart20 red">Thông tin thuê bao mới</div>
  <div class="row">
      <div class="col-sm-7 col-12">
          <div class="row">
              <div class="col-sm-7 col-12">
                  <div class="info-row">
                      <div class="key w90">Số máy/Acc</div>
                      <div class="value">
                          <div class="input-more-button">
                              <button class="btn" @click="btnTKMaTB_Click">
                                  <span class="-ap icon-more_horiz"></span>
                              </button>
                              <input type="text" class="form-control highlight" v-on:keyup.13="txtMaTB_KeyPress()"  v-model.trim="modelInput.txtMaTB" ref = 'ma_tb'>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-5 col-12">
                  <div class="info-row">
                      <div class="key">Số mới</div>
                      <div class="value">
                          <div class="input-more-button">
                              <button class="btn" @click="btnChonSM_Click" :disabled="!buttonState.btnChonSM">
                                  <span class="-ap icon-more_horiz"></span>
                              </button>
                              <input readonly type="text" class="form-control highlight" v-model="modelInput.txtMaTBMoi">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-7 col-12">
                  <div class="info-row">
                      <div class="key w90">Thanh toán</div>
                      <div class="value">
                          <div class="select-custom" ref="cboTT">
                                  <SelectExt
                                      v-model="modelCbo.cboTT"
                                      :settings="{dropdownParent: $refs['cboTT']}"
                                      :dataSource="modelCbo.vcboTT"
                                      dataTextField="tentt"
                                      dataValueField="hdtt_id"/>
                              </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-5 col-12">
                  <div class="info-row">
                      <div class="key">Gói kỹ thuật</div>
                      <div class="value">
                          <div class="select-custom" ref="cboGoiKT">
                                  <SelectExt
                                      v-model="modelCbo.cboGoiKT"
                                      :settings="{dropdownParent: $refs['cboGoiKT']}"
                                      :dataSource="modelCbo.vcboGoiKT"
                                      dataTextField="ten_goi"
                                      dataValueField="goikt_id"/>
                              </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-7 col-12">
                  <div class="info-row">
                      <div class="key w90">Tên thuê bao</div>
                      <div class="value">
                          <input ref="txtTenTB" v-on:blur="txtTenTB_Leave" type="text" class="form-control" v-model="modelInput.txtTenTB">
                      </div>
                  </div>
              </div>
              <div class="col-sm-5 col-12">
                  <div class="info-row">
                      <div class="key">Ngày sinh</div>
                      <div class="value">
                          <input type="text" value="__/__/____" class="form-control" v-mask="'99/99/9999'" v-model="modelInput.txtNgaySinhTB">
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-7 col-12">
                  <div class="info-row">
                      <div class="key w90">Địa chỉ LĐ</div>
                      <div class="value">
                          <div class="input-more-button">
                              <button class="btn" @click="btnDiachiLD_Click">
                                  <span class="-ap icon-more_horiz"></span>
                              </button>
                              <input readonly v-on:keyup.enter="txtDiaChiLD_KeyPress" ref="txtDiaChiLD"  type="text" class="form-control " v-model="modelInput.txtDiaChiLD">
                              <popupChonDiaChi  modalId="popupDiaChiLD" :clearAfterClose="true" :data="diachiLD" :isStrictMode="false" @xacnhan="getDiaChiLD"/>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-5 col-12">
                  <div class="info-row">
                      <div class="key">Mã ERP</div>
                      <div class="value">
                          <input type="text" class="form-control" v-model="modelInput.txtMaERP">
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-7 col-12">
                  <div class="info-row">
                      <div class="key w90">Địa chỉ TB</div>
                      <div class="value">
                          <div class="input-more-button">
                              <button class="btn" @click="btnDiaChiTB_Click">
                                  <span class="-ap icon-more_horiz"></span>
                              </button>
                              <input readonly v-on:keyup.enter="txtDiaChiTB_KeyPress"  type="text" ref="txtDiaChiTB" class="form-control "  v-model="modelInput.txtDiaChiTB">
                              <popupChonDiaChi  modalId="popupDiaChiTB" :data="diachiTB" :isStrictMode="true" @xacnhan="getDiaChiTB"/>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-5 col-12">
                  <div class="info-row">
                      <div class="key">Mã BSS</div>
                      <div class="value">
                          <input type="text" class="form-control" v-model="modelInput.txtMaBSS">
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-7 col-12">
                  <div class="info-row">
                      <div class="key w90">Đơn vị TC</div>
                      <div class="value">
                          <div class="select-custom" ref="cboDaiVT">
                                  <SelectExt
                                      v-model="modelCbo.cboDaiVT"
                                      :settings="{dropdownParent: $refs['cboDaiVT']}"
                                      :dataSource="modelCbo.vcboDaiVT"
                                      dataTextField="ten_dv"
                                      :disabled="true"
                                      dataValueField="donvi_id"/>
                              </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-5 col-12">
                  <div class="info-row">
                      <div class="key">
                          <div class="check-action">
                              <input type="checkbox" :disabled="modelCkeckBox.chkdisableCongVan"  class="check" @change="chkCongVan_CheckedChanged" v-model="modelCkeckBox.chkCongVan">
                              <span class="name">Số CV/LCT</span>
                          </div>
                      </div>
                      <div class="value">
                          <input type="text" :disabled="!modelCkeckBox.chkCongVan"  class="form-control" v-model="modelInput.txtCongVan">
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-7 col-12">
                  <div class="info-row">
                      <div class="key w90">Mức cước TB</div>
                      <div class="value">
                          <div class="select-custom" ref="cboMucCuocTB">
                          <SelectExt
                              v-model="modelCbo.cboMucCuocTB"
                              :settings="{dropdownParent: $refs['cboMucCuocTB']}"
                              :dataSource="modelCbo.vcboMucCuocTB"
                              :disabled="false"
                              dataTextField="TENMUCCUOC"
                              dataValueField="MUCUOCTB_ID"/>
                      </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-5 col-12">
                  <div class="info-row">
                      <div class="key">
                          Ngày CV
                      </div>
                      <div class="value">
                          <div class="input-icon-right">
                             <ejs-datepicker
                                      v-model="modelDateTime.dtpNgayCV"
                                      :format="modelDateTime.dateFormat"
                                      :value="modelDateTime.dtpNgayCV"
                                      :enabled="modelDateTime.enableDate"
                                  ></ejs-datepicker>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="info-row">
              <div class="key w90">
                  <div class="check-action">
                      <input type="checkbox" class="check" v-model="modelCkeckBox.chkKhuyenMai" @change="chkKhuyenMai_CheckedChanged" :disabled="modelCkeckBox.chkdisableKhuyenMai">
                      <span class="name">K. mại</span>
                  </div>
              </div>
              <div class="value">
                  <div class="input-more-button">
                      <button class="btn" @click="btnChon_KhuyenMai_Click" :disabled="modelCkeckBox.chkdisableKhuyenMai">
                          <span class="-ap icon-more_horiz"></span>
                      </button>
                      <div class="select-custom" ref="cboKhuyenMai">
                          <SelectExt
                              v-model="modelCbo.cboKhuyenMai"
                              :settings="{dropdownParent: $refs['cboKhuyenMai']}"
                              :dataSource="modelCbo.vcboKhuyenMai"
                              dataTextField="ten_km"
                              :disabled="!modelCkeckBox.chkKhuyenMai"
                              dataValueField="khuyenmai_id"/>
                      </div>
                  </div>

              </div>
              <div class="value w30 nowrap">
                  <button class="btn btn-second" @click="btnChiTietKM_Click" :disabled="!modelCkeckBox.chkKhuyenMai">
                      <span class="one-eye f20 inline vcenter"></span> Chi tiết
                  </button>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-7 col-12">
                  <div class="info-row">
                      <div class="key w90">Đối tượng</div>
                      <div class="value">
                          <div class="select-custom" ref="cboDoituongTB">
                                  <SelectExt
                                      v-model="modelCbo.cboDoituongTB"
                                      :settings="{dropdownParent: $refs['cboDoituongTB']}"
                                      :dataSource="modelCbo.vcboDoituongTB"
                                      dataTextField="ten_dt"
                                      dataValueField="doituong_id"/>
                              </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-5 col-12">
                  <div class="info-row">
                      <div class="key">
                          Khu vực
                      </div>
                      <div class="value">
                          <div class="input-more-button">
                              <button class="btn" @click="btnMaNVKD_Click">
                                  <span class="-ap icon-more_horiz"></span>
                              </button>
                              <input readonly type="text" class="form-control " v-model="modelInput.txtKhuVuc">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="info-row">
              <div class="key w90">Ghi chú</div>
              <div class="value">
                  <input type="text" class="form-control" v-model="modelInput.txtGhiChuTB">
              </div>
          </div>
      </div>
      <div class="col-sm-5 col-12">
          <!--CoDinh-->
          <div v-if="s_display_div === 1">
              <CD ref="refCD" @cboTrangBiCD_SelectedValueChanged="cboTrangBiCD_SelectedValueChanged" :parent="this" :idKieuLd="modelCbo.cboKieuLD"></CD>
          </div>
          <!--BangRongCoDinh ADSL-->
          <div v-if="s_display_div === 2">
              <Adsl ref="refAdsl"
                :parent="this"
                @cboTrangBiADSL_SelectedValueChanged="cboTrangBiADSL_SelectedValueChanged"
                :idLoaihinhTb="modelCbo.cboLoaihinhTB"
                :idKieuLd="modelCbo.cboKieuLD" ></Adsl>
          </div>
          <!--Metronet-->
          <div v-if="s_display_div === 3">
              <Wan ref="refWan" :parent="this"  :dataSource="dataSourceDV"></Wan>
          </div>
          <!--Gphone-->
          <div v-if="s_display_div === 4">
              <GP ref="refGP" :dataSource="dataSourceDV" :parent="this"></GP>
          </div>
          <!--KenhThueRieng-->
          <div v-if="s_display_div === 5">
              <TSL @cboTrangBi_SelectedValueChanged="cboTrangBi_SelectedValueChanged" ref="refTSL" :parent="this" :idKieuLd="modelCbo.cboKieuLD"></TSL>
          </div>
          <!--IMS-->
          <div v-if="s_display_div === 6">
              <IMS ref="refIMS"  :parent="this" :idKieuLd="modelCbo.cboKieuLD" :dataSource="dataSourceDV" ></IMS>
          </div>
          <!--CNTT-->
          <div v-if="s_display_div === 7">
                <CNTT ref="refCNTT" :parent="this" :idLoaihinhTb="modelCbo.cboLoaihinhTB" :idKieuLd="modelCbo.cboKieuLD"></CNTT>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-12">
          <div class="legend-title mart20 red">Dịch vụ cộng thêm</div>
          <div class="input-more-button">
              <button class="btn" @click.prevent="btnEditDVGT_Click">
                  <span class="-ap icon-more_horiz"></span>
              </button>
              <textarea name="" class="form-control" style="height: 100px;resize: none;" v-model='modelInput.lvDvgt'></textarea>
          </div>
      </div>
      <div class="col-sm-4 col-12">
          <div class="legend-title mart20 red">Dịch vụ khác</div>
          <textarea name="" class="form-control" style="height: 100px;resize: none;" v-model='modelInput.lvDvkhac'></textarea>
      </div>
      <div class="col-sm-3 col-12">
          <div class="legend-title mart20 red">Chi tiết tiền khoản mục</div>
          <div class="info-row">
              <div class="key w70">Tổng tiền</div>
              <div class="value">
                  <div class="input-more-button">
                      <button class="btn" @click="btnTien_Click">
                          <span class="-ap icon-more_horiz"></span>
                      </button>
                      <input type="text" readonly class="form-control highlight tright red" v-model="modelInput.txtTongTien">
                  </div>
              </div>
          </div>
          <div class="info-row">
              <div class="key w70">Tổng VAT</div>
              <div class="value">
                  <input type="text" readonly class="form-control highlight tright red"  v-model="modelInput.txtTongVat">
              </div>
          </div>
      </div>
      <div class="box-form">
          <div class="legend-title red">Danh sách thuê bao</div>
          <div class="table-content">
              <DataGrid ref="grid" v-bind:columns="[
                      {fieldName: 'stt', headerText: 'STT', allowFiltering: true, allowSorting: true, width: 30},
                      {fieldName: 'ma_tt', headerText: 'Mã TT', allowFiltering: true, allowSorting: true, width: 100},
                      {fieldName: 'ma_tb', headerText: 'Số máy/Acc', allowFiltering: true, allowSorting: true, width: 100},
                      {fieldName: 'ten_tb', headerText: 'Tên thuê bao', allowFiltering: true, allowSorting: true},
                      {fieldName: 'diachi_ld', headerText: 'Địa chỉ lắp đặt', allowFiltering: true, allowSorting: true, width: 230},
                      {fieldName: 'tongtientb', headerText: 'Tiền', allowFiltering: true, allowSorting: true, width: 60},
                      {fieldName: 'ten_dvvt', headerText: 'Dịch vụ VT', allowFiltering: true, allowSorting: true},
                      {fieldName: 'manv_tc', headerText: 'Mã NVTC', allowFiltering: true, allowSorting: true},
                      ]"
                          v-bind:dataSource="this.modelInput.lvwThueBao"
                          :showFilter="true"
                          @selectedRowChanged="lvwThueBao_SelectedIndexChanged">
                  </DataGrid>
          </div>
          <div class="legend-title red">Tiền thuê bao (có VAT): {{lblTongTien}}</div>
      </div>
    </div>
    <b-modal id="popupComponents" size="xl"
        hide-footer
        hide-header
        hide-header-close
        body-class="modal-body p-0">
        <component :is="popupComponent" ref="popupComponent" :dulieu="popupComponentData" isPopup="true" @form-close="popupClosed" @acceptChangeCTV="popupClosed" @acceptChangeNGT="popupClosed"></component> <!--v-dynamic-events="popupComponentEvents"-->
    </b-modal>
    <ChonDonVi ref="popupChonDonViTC" id="popupChonDonViTC"></ChonDonVi>
    <ModalChonDiaChi modalId="popupDiaChi_TB" :data="this.diachi" :showThongTinThem="this.showThongTinThem" :isStrictMode="true" @xacnhan="getDiaChiTuFormDiaChi"/>
    <SearchContractModal ref="popupSearchContract" @accept="acceptSearchContract" :loai_hd_id="3" :trangthai_hd="1" />
    <b-modal
        id="gankhuvuc"
        hide-footer
        hide-header
        hide-header-close
        body-class="modal-body p-0"
        size="xl">
      <Gankhuvuc
        @chapnhan="chapnhan_gankhuvuc"
        @form-close="gankhuvuc_close"
        :dulieu="dulieu_gankhuvuc"
      />
    </b-modal>
    <TienKMCuPopup
        ref="tienKMCuPopupRef"
        :loaihd_id="3"
        :ds_tien_caidat="inputValue.ds_tien_khoanmuc"
        @accept="acceptTienKM"
    />
    <ThueBaoCungMa id="thuebaocungma_dc" ref="thuebaocungma_dc"></ThueBaoCungMa>
</div>
