#thuhoi-daiip {
    .info-row {
        .value {
            width: calc(100% - 180px) !important;
        }
        .key {
            width: 180px !important;
        }
    }

    td {
        &.e-rowcell {
            &.e-templatecell {
                height: 40px !important;
            }
        }
    }

    .link-disabled {
        pointer-events: none !important;
        cursor: default !important;
        color: #6c757d !important;
    }
}
