<div>

 
    <ul class="list">
        <li>
            <a href="#">
                <span class="icon  one-search"></span> Tìm kiếm
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon  one-save"></span> Cập nhật
            </a>
        </li>
    </ul>
    <div class="more">
        <a href="#">
            <span class="-ap icon-th-menu"></span>
        </a>
    </div>
  </div>
  <div class="page-content">
    <div class="box-form">
        <div class="pull-right">
            <div class="info-row  marb0">
                <div class="key fw6 w60">Kỳ HĐ</div>
                <div class="value">
                    <div class="select-custom">
                        <select name="" id="" class="form-control">
                            <option value="">20210201</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="box-form">
        <div class="legend-title">Thông tin tìm kiếm</div>
        <div class="row">
            <div class="col-sm-3 col-12">
                <div class="info-row">
                    <div class="key">
                        <div class="check-action">
                            <input type="checkbox" class="check">
                            <span class="name">Đơn vị</span>
                        </div>
                    </div>
                    <div class="value">
                        <div class="select-custom">
                            <select name="" id="" class="form-control">
                                <option value="">Phòng Bán hàng KV1</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-12">
                <div class="info-row">
                    <div class="key">
                        Mã TT
                    </div>
                    <div class="value">
                        <input type="text" class="form-control highlight">
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-12">
                <div class="info-row">
                    <div class="key">
                        <div class="check-action">
                            <input type="checkbox" class="check">
                            <span class="name">Hình thức TT</span>
                        </div>
                    </div>
                    <div class="value">
                        <div class="select-custom">
                            <select name="" id="" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-12">
                <div class="info-row">
                    <div class="key">
                        <div class="check-action">
                            <input type="checkbox" class="check">
                            <span class="name">Nhóm KH</span>
                        </div>
                    </div>
                    <div class="value">
                        <div class="select-custom">
                            <select name="" id="" class="form-control">
                                <option value="">Cá nhân</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-12">
                <div class="info-row">
                    <div class="key">
                        <div class="check-action">
                            <input type="checkbox" class="check">
                            <span class="name">Nhân viên QL</span>
                        </div>
                    </div>
                    <div class="value">
                        <div class="select-custom">
                            <select name="" id="" class="form-control">
                                <option value="">Hoàng Thị Lệ Hoa</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-12">
                <div class="info-row">
                    <div class="key">
                        <div class="check-action">
                            <input type="checkbox" class="check">
                            <span class="name">Tuyến thu</span>
                        </div>
                    </div>
                    <div class="value">
                        <div class="select-custom">
                            <select name="" id="" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-12">
                <div class="info-row">
                    <div class="key">
                        <div class="check-action">
                            <input type="checkbox" class="check">
                            <span class="name">Phân loại KH</span>
                        </div>
                    </div>
                    <div class="value">
                        <div class="select-custom">
                            <select name="" id="" class="form-control">
                                <option value="">CB1 - Cá nhân</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-12">
                <div class="info-row">
                    <div class="key">
                        <div class="check-action">
                            <input type="checkbox" class="check">
                            <span class="name">Loại KH</span>
                        </div>
                    </div>
                    <div class="value">
                        <div class="select-custom">
                            <select name="" id="" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-form">
        <div class="legend-title">Thông tin xác nhận</div>
        <div class="row">
            <div class="col-sm-6 col-12">
                <div class="info-row">
                    <div class="key w120">
                        Ngày gửi
                    </div>
                    <div class="value">
                        <div class="input-icon-right">
                            <flat-pickr
                              v-model="ngay_gui"
                              class="form-control"
                              :config="dateConfig"
                              :max="ngay_gui"
                              placeholder="Chọn ngày gửi"
                            />
                            <span class="icon one-calendar"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-12">
                <div class="info-row">
                    <div class="key">
                        Kết quả
                    </div>
                    <div class="value">
                        <div class="select-custom">
                            <select name="" id="" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-12">
                <div class="info-row">
                    <div class="key">
                        Lý do
                    </div>
                    <div class="value">
                        <div class="select-custom">
                            <select name="" id="" class="form-control">
                                <option value="">Cá nhân</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-12">
                <div class="info-row">
                    <div class="key w120">
                        Ngày xác thực KH
                    </div>
                    <div class="value">
                        <div class="input-icon-right">
                            <flat-pickr
                              v-model="ngay_xacthuc"
                              class="form-control"
                              :config="dateConfig"
                              :max="ngay_xacthuc"
                              placeholder="Chọn ngày xác thực"
                            />
                            <span class="icon one-calendar"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-12">
                <div class="info-row">
                    <div class="key">
                        Ngày thu hồi thư
                    </div>
                    <div class="value">
                        <div class="input-icon-right">
                            <flat-pickr
                              v-model="ngay_thuhoi_thu"
                              class="form-control"
                              :config="dateConfig"
                              :max="ngay_thuhoi_thu"
                              placeholder="Chọn ngày thu hồi thư"
                            />
                            <span class="icon one-calendar"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-12">
                <div class="info-row">
                    <div class="key">
                        Số dư
                    </div>
                    <div class="value">
                        <input type="text" class="form-control tright" value="412,475">
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-12">
                <div class="info-row">
                    <div class="key">
                        Nguyên nhân
                    </div>
                    <div class="value">
                        <div class="select-custom">
                            <select name="" id="" class="form-control">
                                <option value="">Cá nhân</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-form">
        <div class="legend-title">
            <div class="pull-left">Danh sách công nợ</div>
            <div class="pull-right red">Số lượng: {{ row }}</div>
            <div class="clearfix"></div>
        </div>
        <div class="table-content">
            <b-table class="table-result nowrap"
                :items="items"
                :fields="fields"
                :per-page="perPage"
                :current-page="currentPage"
                :total-rows="totalRows">
                <template slot="HEAD_selected" slot-scope="data">
                    <b-form-checkbox @change="selectAll">
                    </b-form-checkbox>
                </template>
                <template slot="selected" slot-scope="data">
                    <b-form-checkbox name="selected-items" v-model="data.item.selected" :value="data.item">
                    </b-form-checkbox>
                </template>
            </b-table>
            <b-pagination size="md"
                :total-rows="totalRows"
                v-model="currentPage"
                :per-page="perPage"
                small>
                <!--
                <template #first-text><span class="btn  one-arrow-left-forward"></span></template>
                <template #prev-text><span class="btn fa fa-angle-left"></span></template>
                <template #next-text><span class="btn fa fa-angle-right"></span></template>
                <template #last-text><span class="btn one-arrow-right-forward"></span></template>
                -->
            </b-pagination>
        </div>

    </div>
  </div>
</div>
