@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('./assets/font/PlusJakartaSans-Variable.ttf');
  font-weight: 100 900;
  font-style: normal;
}

#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'PlusJakartaSans';
}
