/deep/ .list-actions-top .list > li.disabled {
  cursor: not-allowed;
  pointer-events: none;
}
/deep/ .list-actions-top .list > li.disabled > a {
  color: #6c757d !important;
}

.popup-box .popup-header {
  padding: 10px 15px;
  font-size: 20px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}
