@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-main: #0d4221;
  --green-sub: #1c472c;
  --green-primary: #0a6345;
  --grey-cost: #fafafb;
  --grey-neutral: #f9f9f9;
}

::selection {
  background-color: var(--green-main);
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  background-color: var(--grey-neutral);
  color: #000;
  line-height: 1.68;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-id,
.text-id span {
  text-decoration: underline;
  color: var(--green-primary) !important;
}

.slick-slider {
  padding-bottom: 56px;
}

.slick-dots {
  margin-top: 60px;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li button {
  background-color: white !important;
  border-radius: 50%;
  width: 10px !important;
  height: 10px !important;
  box-sizing: border-box;
  border: 1px solid var(--green-main) !important;
  padding: 0 !important;
}

.slick-dots li {
  width: 10px !important;
  height: 10px !important;
  margin: 0 6px !important;
}

.slick-dots li.slick-active button {
  background-color: var(--green-main) !important;
}

.label {
  font-weight: 600 !important;
  padding: 4px 10px;
  border-radius: 8px !important;
  white-space: nowrap;
  line-height: 20px;
}

.label-error {
  color: #f40d0d !important;
  background-color: #fff6f6 !important;
  border: 1px solid #ffc3c3;
}

.label-success {
  color: #007d45 !important;
  background-color: #f5fff9 !important;
  border: 1px solid #aadabc;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  transition: background-color 5000s ease-in-out 0s;
}
