@media print {
    @page {
        size: auto !important;
    }
}
.vattu_table {
    position: absolute;
    z-index: 1;
    max-height: 200px;
    background: aliceblue;
    overflow-y: scroll;
    max-width: 325.17px;
}
.vattu_box {
    position: relative;
}

.disabledInput {
    pointer-events: none;
    opacity: 0.4;
}

.btn-closed-dataGrid {
    margin-top: 0.5rem;
}

.breadcrumb-top:after {
    display: none !important;
}
