.transportation-category-tab {
  font-size: 28px;
  font-weight: 700;
  color: #d9d9d9;
  cursor: pointer;
  padding-bottom: 3px;
}

.transportation-category-tab.active {
  color: var(--green-main);
  border-bottom: 2px solid var(--green-main);
}

.transportation-unaccompanied-step {
  width: calc((100% / 3) - 16px);
}

.transportation-unaccompanied-step .step-img {
  width: 100%;
  aspect-ratio: 443 / 320 auto;
}

.transportation-cost-container {
  margin-top: 55px;
  width: calc(100% - 80px);
  max-width: 1024px;
  margin-inline: auto;
}

.transportation-cost-item {
  margin-top: 24px;
  flex: 1;
}

.transportation-cost-item .cost-title {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.transportation-cost-item .cost-content-container {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid;
}

.transportation-cost-item .cost-content-container .cost-content {
  width: 62%;
  font-size: 15px;
  white-space: pre-wrap;
  font-weight: 500;
  word-break: keep-all;
}

.transportation-cost-item .cost-content-container .cost-price {
  width: 38%;
  text-align: right;
}

.view_mo {
  display: none;
}

@media (max-width: 768px) {
  .view_mo {
    display: block;
  }

  .view_pc {
    display: none;
  }

  .cont-head article .title {
    font-size: 25px;
    margin-bottom: 4px;
  }

  .cont-head article .sub-title {
    font-size: 15px;
  }

  .cont-head {
    height: 25vh;
    min-height: 220px;
  }

  .category-tabs-container {
    gap: 16px;
  }

  .transportation-category-tab {
    font-size: 20px;
  }

  .transportation {
    margin-top: 60px;
  }

  .category-tabs-content {
    margin-top: 30px;
    padding: 0 20px;
  }

  .category-tabs-content .main-txt {
    font-size: 14px;
  }

  .category-tabs-content .sub-txt {
    font-size: 14px;
    margin-top: 20px;
  }

  .category-tabs-content .content-main-img {
    padding: 56px 0 123px;
  }

  .transportation-detail {
    padding: 60px 0;
  }

  .transportation-detail-title {
    font-size: 25px;
  }

  .transportation-detail-info {
    font-size: 13px;
  }

  .transportation-detail-vat {
    font-size: 12px;
  }

  .transportation-cost-container {
    margin-top: 0;
    width: calc(100% - 40px);
  }

  .transportation-cost-container .tab-container {
    margin: 35px 0;
  }

  .transportation-cost-tables {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .transportation-cost-item {
    margin-top: 0;
  }

  .transportation-cost-item .cost-content-container .cost-content {
    font-size: 13px;
  }

  .transportation-cost-item .cost-content-container .cost-price {
    font-size: 13px;
  }

  .transportation .slick-dots {
    top: unset !important;
    bottom: 130px;
    margin-top: 0;
  }

  .transportation .slick-dots li {
    width: 8px !important;
    height: 8px !important;
    margin: 0 4px !important;
  }

  .transportation .slick-dots li button {
    background-color: white !important;
    width: 8px !important;
    height: 8px !important;
  }
  .transportation .slick-dots li.slick-active button {
    background-color: var(--green-main) !important;
  }

  .slider-content {
    display: flex;
    flex-direction: column;
  }

  .slider-content h3 {
    font-size: 18px;
  }

  .slider-content h3 span {
    font-size: 18px;
  }

  .slider-detail {
    display: flex;
    flex-direction: column;
  }

  .slider-detail p {
    font-size: 13px;
    margin: 6px 0 0;
  }

  .slider-detail ul li {
    font-size: 13px;
  }
}
