.row-custom{
  display: flex;
  .col6{
    flex: 6;
    overflow: hidden;
  }
  .col1{
    flex: 1;
  }
  flex-direction: row;
}
.btn-group{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;
  .btn-custom{
    height: 30px !important;
    width: 30px;
    border-radius: 4px;
    background-color: rgba(186, 231, 255, 0.4);
    color: #0176FF;
    padding: 0;
    border: none;
  }
  :hover{
    background-color: #035fcc;
    color: #ffff;
  }
}

.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
}