a.disabled { color:lightgray !important; }
a.disabled:hover { color:lightgray !important; }
.disabled { pointer-events: none; }
.btn-main {
    background: #0176FF;
    color: #fff;
}

.btn {
    padding: 5px 10px;
    border-radius: 4px;
}




  #table1  thead tr th:first-child, tbody tr td:first-child , tbody tr:first-child ,tbody th:first-child {
    width: 1px !important;
    min-width: 1px !important;
    max-width: 1px !important;
  padding-left: 2px;
  padding-right:0px;
    word-break: break-all;
  }