.lucete-feature-container {
  display: flex;
  gap: 36px 48px;
  flex-wrap: wrap;
}

.lucete-feature-item {
  display: flex;
  gap: 16px;
  width: calc((100% / 3) - 32px);
  margin-top: 24px;
}

.lucete-feature-item img {
  width: 60px;
  height: auto;
}

.lucete-feature-item p {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  width: calc(100% - 76px);
}

.lucete-process-container {
  display: flex;
  gap: 48px;
}

.lucete-process-item {
  flex: 1;
  margin-top: 24px;
}

.lucete-process-item p {
  margin-top: 16px;
  text-align: center;
  line-height: 1.5;
  font-weight: bold;
}

.lucete-jewelry-container {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
}

.lucete-jewelry-item {
  width: calc((100% / 3) - 32px);
  margin-top: 24px;
}

.lucete-process-slider {
  display: none;
} 

.lucete-jewelry-slider {
  display: none;
}

@media (max-width: 768px) {
  .charnel-house-cost-content {
    font-size: 14px !important;
  }

  .charnel-house-cost-price {
    font-size: 13.5px;
  }

  .cost-table-item {
    margin-top: 0;
  }

  .lucete-feature-container {
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .lucete-feature-item {
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .lucete-feature-item p {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
  }

  .lucete-feature-item img {
    width: 50px;
  }

  .lucete-process-container {
    display: none;
  }

  .lucete-process-slider {
    display: block;
  }

  .slider-title {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
  }
  
  .lucete-jewelry-container {
    display: none;
  }

  .lucete-jewelry-slider {
    display: block;
  }

}
