a.disable-btn {
    pointer-events: none;
    cursor: default;
    color: #6c757d !important;
}

.info-row {
  .key {
    width: 210px !important;
  }
}

.btn-showPopup-ocam {
  color: #0176FF !important;
  font-weight: 500 !important;
}
