<div class="modal-content popup-box">

  <div class="list-actions-top">
    <ul class="list">

      <li>
        <a href="#" @click.prevent="btnVatTu">
          <span class="icon one-vt"></span> Xác nhận
        </a>
      </li>
      <li>
        <a href="#" @click.prevent="btnChiTietTB">
          <span class="icon one-mobile-search"></span> Tạo thiết bị
        </a>
      </li>
      <li>
        <a href="#" @click.prevent="btnToaNha">
          <span class="icon one-building"></span> Nhập từ excel
        </a>
      </li>
    </ul>
  </div>

  <div class="popup-body">
    <div class="box-form">
      <div class="legend-title">
        <span class="icon fa fa-angle-up"></span> Thông tin chi tiết
      </div>

      <div class='row'>
        <div class="col-4 col-sm-4">
          <div class="info-row">
            <div class="key w90">Option</div>
            <div class="value">
              <div class="select-custom">
                <select2 ref="trangbiId">
                  <option value="0">Select one</option>
                </select2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 col-sm-6">
          <div class="info-row">
            <div class="key" >Serial</div>
            <div class="value">
              <input type="text" class="form-control" >
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="box-form">
      <div class="legend-title">
        <span class="icon fa fa-angle-up"></span> Thông tin serial
      </div>

      <div class='row'>
        <div class="table-content">
          <table class="table-result table-gachle">
            <DataGrid
              v-bind:columns="ds_thongtinchitiet.header"
              :datasource="data"
              :enable-paging-server="false"
              :allowPaging="true"
              :showFilter="true"
              :showColumnCheckbox="false"
              ref="nvdaGan"
            >
            </DataGrid>
          </table>
        </div>
      </div>
    </div>

    <div class="box-form">
      <div class="legend-title">
        <span class="icon fa fa-angle-up"></span> Thông tin TS
      </div>
      <div class="table-content">
        <table class="table-result table-gachle">
          <DataGrid
            v-bind:columns="ds_nvkvtheothuebao.header"
            :datasource="data"
            :enable-paging-server="false"
            :allowPaging="true"
            :showFilter="true"
            :showColumnCheckbox="false"
            ref="nvdaGan"
          >
          </DataGrid>
        </table>
      </div>
    </div>
  </div>
</div>
