<div>
    <div v-if="serviceType == 2">
        <div class="info-row">
            <div class="key w90">Đơn vị QL</div>
            <div class="value">
                <div class="select-custom">
                    <select name="" id="" class="form-control">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="info-row">
            <div class="key w90">Trạm VT</div>
            <div class="value">
                <div class="select-custom">
                    <select name="" id="" class="form-control">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6 col-12">
                <div class="info-row">
                    <div class="key w90">Tốc độ</div>
                    <div class="value">
                        <div class="select-custom">
                            <select name="" id="" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-12">
                <div class="info-row">
                    <div class="key w90">Mức cước</div>
                    <div class="value">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div><div class="row">
            <div class="col-sm-6 col-12">
                <div class="info-row">
                    <div class="key w90">Mức cước TB</div>
                    <div class="value">
                        <div class="select-custom">
                            <select name="" id="" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-12">
                <div class="info-row">
                    <div class="key w90">Số ảo</div>
                    <div class="value">
                        <input type="text" class="form-control highlight">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-12">
                <div class="info-row">
                    <div class="key w90">
                        <div class="check-action">
                            <input type="checkbox" class="check">
                            <span class="name">Đối tác</span>
                        </div>
                    </div>
                    <div class="value">
                        <div class="select-custom">
                            <select name="" id="" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-12">
                <div class="info-row">
                    <div class="key w90">Cước ĐT</div>
                    <div class="value">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <div v-else-if="3">
        <div class="info-row">
            <div class="key w90">Đơn vị QL</div>
            <div class="value">
                <div class="select-custom">
                    <select name="" id="" class="form-control">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="info-row">
            <div class="key w90">Trạm VT</div>
            <div class="value">
                <div class="select-custom">
                    <select name="" id="" class="form-control">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-12">
                <div class="info-row">
                    <div class="key w90">Tốc độ</div>
                    <div class="value">
                        <div class="select-custom">
                            <select name="" id="" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-12">
                <div class="info-row">
                    <div class="key w90">Số ảo</div>
                    <div class="value">
                        <input type="text" class="form-control highlight">
                    </div>
                </div>
            </div>
        </div><div class="info-row">
            <div class="key w90">Hướng KN</div>
            <div class="value">
                <input type="text" class="form-control">
            </div>
        </div>

    </div>
    <div v-else="">
        <div class="info-row">
            <div class="key w90">Đơn vị QL</div>
            <div class="value">
                <div class="select-custom">
                    <select name="" id="" class="form-control">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="info-row">
            <div class="key w90">Trạm VT</div>
            <div class="value">
                <div class="select-custom">
                    <select name="" id="" class="form-control">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="info-row">
            <div class="key w90">Mức cước TB</div>
            <div class="value">
                <div class="select-custom">
                    <select name="" id="" class="form-control">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>