<div>
  <div class="row">
    <div class="col-6">
      <div class="info-row fwb">
        <div class="key w100"><label>Điểm đầu</label></div>
        <div class="value" style="line-height: 26px;">{{DIEMDAU_TEXT}}</div>
      </div>
    </div>
    <div class="col-6">
      <div class="info-row fwb">
        <div class="key w100">Điểm cuối</div>
        <div class="value" style="line-height: 26px;">Hạ tầng IDG</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="info-row">
        <div class="key w100"><label>Mã hạ tầng</label></div>
        <div class="value"><span class="form-control">{{thongTinHaTang.MAHATANG_INFRA}}</span></div>
      </div>
    </div>
    <div class="col-6">
      <div class="info-row">
        <div class="key w100"><label>Mã hạ tầng</label></div>
        <div class="value">
          <SelectExt :dataSource="dsHT" dataTextField="MAHATANG_INFRA" dataValueField="ID"
            @change="comboboxHaTang_Changed" v-model="haTangIDGID" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="info-row">
        <div class="key w100"><label>Tên hạ tầng</label></div>
        <div class="value"><span class="form-control">{{thongTinHaTang.TEN}}</span></div>
      </div>
    </div>
    <div class="col-6">
      <div class="info-row">
        <div class="key w100"><label>Tên hạ tầng</label></div>
        <div class="value"><span class="form-control">{{thongTinHaTangIDG.TEN}}</span></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="info-row">
        <div class="key w100"><label>Công nghệ</label></div>
        <div class="value"><span class="form-control">{{thongTinHaTang.HATANG_CONGNGHE}}</span></div>
      </div>
    </div>
    <div class="col-6">
      <div class="info-row">
        <div class="key w100"><label>Loại hạ tầng</label></div>
        <div class="value"><span class="form-control">{{thongTinHaTangIDG.LOAIHATANG}}</span></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="info-row">
      </div>
    </div>
    <div class="col-6">
      <div class="info-row">
        <div class="key w100"><label>Công nghệ</label></div>
        <div class="value"><span class="form-control">{{thongTinHaTangIDG.HATANG_CONGNGHE}}</span></div>
      </div>
    </div>
  </div>
</div>