.btn-second {
  border-color: #0d6efd;
}

.btn-second.text:hover {
  color: white !important;
}

.disabled {
  cursor: not-allowed;
  color: #666 !important;
}

.mx-datepicker {
  width: 100% !important;
}

.mx-input.disabled,
.mx-input:disabled {
  color: #666 !important;
}

.modal-custom .page-content {
  position: unset !important;
}

@media (min-width: 992px) {
  .modal .modal-huge {
    max-width: 95% !important;
    width: 100% !important;
  }
}

@media (min-width: 576px) {
  .modal .modal-huge {
    max-width: 95% !important;
    width: 100% !important;
  }
}