.menu-item {
  height: calc(100vh - 330px);
  overflow-y: auto;
  margin-top: 5px;
  .item {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 10px;
    border: 1px solid #035fcc;
    border-bottom: none;
    cursor: pointer;
    color: #035fcc;
    background-color: #fff;
  }
  .item.open {
    background-color: #035fcc;
    color: #fff;
  }

  span {
    text-decoration: none;
  }
  .item:hover {
    background-color: #035fcc;
    color: #fff;
  }
  .childx {
    background-color: rgb(230, 240, 253) !important;
    font-weight: 400 !important;
    border-top: none !important;
  }
  .childx.open {
    background-color: rgb(230, 240, 253) !important;
    color: #035fcc !important;
    border-bottom: 1px solid #035fcc;
  }
  .child2 {
    padding-left: 30px;
  }
  .child3 {
    padding-left: 50px;
  }
  .child4 {
    padding-left: 70px;
  }
  .childx::before {
    content: '\2022';
    margin-right: 8px;
  }
  .childx:hover {
    border-bottom: 1px solid #035fcc;
    color: #035fcc;
    background-color: #fff;
  }
  .item:last-child {
    border-bottom: 1px solid #035fcc !important;
  }
}

.arrow {
  transition: transform 0.3s;
}
.item:active .arrow,
.item.open .arrow {
  transform: rotate(90deg);
}
.favorite-list {
  height: calc(100vh - 286px);
  max-height: calc(100vh - 286px);
  overflow-y: auto;
}
.controllers {
  height: calc(100vh - 210px);
  // border: 1px solid #035FCC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .controller {
    padding: 5px;
    border: 2px solid #035fcc;
    border-radius: 5px;
    color: #035fcc;
    margin: 20px;
    cursor: pointer;
  }
  .controller.disabled {
    // color: #ccc;
    border-color: #808080;
    // cursor: default;
  }
  .controller:hover {
    background-color: #035fcc;
    color: #fff;
  }
}

.pull-right {
  position: relative;
  top: -10px;
}

.metro-favorite {
  display: flex;
  // justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 0 40px;
  .fav-item {
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 1.667% 0 1.667%;
    cursor: pointer;
    border-radius: 5px;
    height: 90px;
    span {
      text-align: center;
      color: #000;
      margin-top: 7px;
      font-weight: 500;
    }
    svg {
      color: #035fcc;
    }
    .del-icon {
      position: absolute;
      top: 0;
      right: 0;
      svg {
        color: red;
      }
      cursor: pointer;
      // background-color: red;
      border-radius: 50%;
    }
  }
  .fav-item:hover {
    background-color: #e6f0fd;
  }
}

.change-count {
  position: absolute;
  top: -2px;
  right: -2px;
  border-radius: 50%;
  background-color: red;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.list-favorite {
  padding: 10px 50px;
  .fav-item {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #808080;
    position: relative;
    align-items: center;
    cursor: pointer;
    .icon {
      color: #fff;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(112, 175, 250);
      background: linear-gradient(235deg, rgba(112, 175, 250, 1) 0%, rgba(57, 140, 240, 1) 45%, rgba(3, 95, 204, 1) 100%);
      margin-right: 10px;
    }
    .del-icon{
      position: absolute;
      // top: 0;
      right: 0;
    }
    .info-item{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .name-item{
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}
