.ant-reservation-time-modal {
  top: 0 !important;
  max-width: 100vw !important;
  width: unset !important;
  margin: unset !important;
  .ant-modal-content {
    @apply h-[calc(100vh-24px)]  m-0 top-6 lg:left-[calc(100%-474px)] lg:w-[450px] lg:h-[calc(100vh-48px)];
  }
  .ant-modal-body {
    @apply overflow-auto;
    height: calc(100vh - 230px);
    padding: 1px !important;
  }
}
