<div>
  <div class="legend-title">Thông tin khách hàng</div>
  <div class="row">
    <div class="col-sm-7 col-12">
      <div class="info-row">
        <div class="key">Mã giao dịch</div>
        <div class="value">
          <input type="text" class="form-control highlight" v-model="customerInfo.ma_gd">
        </div>
      </div>
    </div>
    <div class="col-sm-5 col-12">
      <div class="info-row">
        <div class="key">Số máy/Acc</div>
        <div class="value">
          <input type="text" class="form-control highlight"
                 v-on:keyup.enter="onEnterSoMayAcc"
                 v-model="customerInfo.txtSoMayAcc">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7 col-12">
      <div class="info-row">
        <div class="key">Loại HĐ/PL</div>
        <div class="value">
          <div class="select-custom">
            <SelectExt v-model="customerInfo.loai_hd_id"
                       :allowFiltering="true"
                       :dataSource="cbHopDong"
                       dataValueField="ID"
                       dataTextField="NAME"/>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5 col-12">
      <div class="info-row">
        <div class="key">Số máy/Acc mới</div>
        <div class="value">
          <input type="text" class="form-control highlight" readonly v-model="customerInfo.txtSoMayAccMoi">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-7 col-12">
      <div class="info-row">
        <div class="key">Dịch vụ</div>
        <div class="value">
          <div class="select-custom">
            <SelectExt v-model="customerInfo.dvvt_id"
                       :allowFiltering="true"
                       :dataSource="cbDichVu"
                       dataValueField="ID"
                       dataTextField="NAME"></SelectExt>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5 col-12">
      <div class="info-row">
        <label class="text-danger" v-model="customerInfo.lblTamDung_No"></label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-7 col-12">
      <div class="info-row">
        <div class="key">Kiểu lắp đặt</div>
        <div class="value">
          <input type="text" class="form-control" v-model="customerInfo.txtKieuLD">
        </div>
      </div>
    </div>
    <div class="col-sm-5 col-12">
      <div class="info-row">
        <div class="key">Số ảo</div>
        <div class="value">
          <input type="text" class="form-control highlight" readonly v-model="customerInfo.txtSoAo">
        </div>
      </div>
    </div>
  </div>
  <div class="info-row">
    <div class="key">Tên thuê bao</div>
    <div class="value">
      <input type="text" class="form-control" v-model="customerInfo.txtTenTB">
    </div>
  </div>
  <div class="info-row">
    <div class="key">Địa chỉ lắp đặt</div>
    <div class="value">
      <input type="text" class="form-control" v-model="customerInfo.txtDiaChiLD">
    </div>
  </div>
</div>
