<div class="row">
  <div class="col-12">
    <div class="nav tabs tab-over">
      <a
        href="#tabCPU"
        data-toggle="tab"
        :class="{active: currentTab===1}"
        v-if="deviceTypeInfo.isServer || deviceTypeInfo.isBlade"
        >CPU</a
      >
      <a
        href="#tabRAM"
        data-toggle="tab"
        :class="{active: currentTab===2}"
        v-if="deviceTypeInfo.isServer || deviceTypeInfo.isBlade"
        >RAM</a
      >
      <a
        href="#tabOCung"
        data-toggle="tab"
        :class="{active: currentTab===3}"
        v-if="deviceTypeInfo.isServer || deviceTypeInfo.isBlade"
        >Ổ Cứng</a
      >
      <a
        href="#tabGPU"
        data-toggle="tab"
        :class="{active: currentTab===4}"
        v-if="deviceTypeInfo.isServer || deviceTypeInfo.isBlade"
        >GPU</a
      >
      <a href="#tabBlade" data-toggle="tab" :class="{active: currentTab===5}" v-if="deviceTypeInfo.isServerBlade"
        >Blade</a
      >
      <a
        href="#tabFAN"
        data-toggle="tab"
        :class="{active: currentTab===6}"
        v-if="deviceTypeInfo.isServer || deviceTypeInfo.isServerBlade "
        >FAN</a
      >
      <a
        href="#tabPCI"
        data-toggle="tab"
        :class="{active: currentTab===7}"
        v-if="deviceTypeInfo.isServerBlade 
      || deviceTypeInfo.isBlade || deviceTypeInfo.isServer"
        >Module PCI</a
      >
      <a href="#tabBDK" data-toggle="tab" :class="{active: currentTab===8}"  v-if="deviceTypeInfo.isTuDia"
        >Bộ điều khiển</a
      >
      <a href="#tabKhayDia" data-toggle="tab" :class="{active: currentTab===9}" v-if="deviceTypeInfo.isTuDia"
        >Khay Đĩa</a
      >
    </div>
    <div class="tab-content">
      <!-- --------------CPU------------------- -->
      <div class="tab-pane" :class="{active: currentTab===1}" id="tabCPU">
        <TabCPU ref="tabCpu" :thietBiCurrent="thietBiCurrent" :dsCPU="dsCPU"/>
      </div>

      <!-- --------------RAM------------------- -->
      <div class="tab-pane" :class="{active: currentTab===2}" id="tabRAM">
        <TabRAM ref="tabRam" :thietBiCurrent="thietBiCurrent" :dsRAM ="dsRAM"/>
      </div>

      <!-- ----------------------Ổ cứng----------------------- -->
      <div class="tab-pane" :class="{active: currentTab===3}" id="tabOCung">
        <TabOCung ref="tabOCung" :thietBiCurrent="thietBiCurrent" :dsOCung = "dsOCung"/>
      </div>

      <!-- --------------GPU------------------- -->
      <div class="tab-pane" :class="{active: currentTab===4}" id="tabGPU">
        <TabGPU ref="tabGpu" :thietBiCurrent="thietBiCurrent" :dsGPU ="dsGPU"/>
      </div>

      <!-- -------------------------Blade---------------------- -->
      <div class="tab-pane" :class="{active: currentTab===5}" id="tabBlade">
        <TabBlade ref="tabBlade" :thietBiCurrent="thietBiCurrent" :dsBlade = "dsBlade"/>
      </div>

      <!-- --------------FAN------------------- -->
      <div class="tab-pane" :class="{active: currentTab===6}" id="tabFAN">
        <TabFAN ref="tabFan" :thietBiCurrent="thietBiCurrent" />
      </div>

      <!-- --------------PCI------------------- -->
      <div class="tab-pane" :class="{active: currentTab===7}" id="tabPCI">
        <TabPCI ref="tabPci" :thietBiCurrent="thietBiCurrent" />
      </div>

      <!-- --------------Bộ điều khiển------------------- -->
      <div class="tab-pane" :class="{active: currentTab===8}" id="tabBDK">
        <TabBDK ref="tabBDK" :thietBiCurrent="thietBiCurrent" :dsBodKh="dsBodKh" />
      </div>

      <!-- --------------Khay đĩa------------------- -->
      <div class="tab-pane" :class="{active: currentTab===9}" id="tabKhayDia">
        <TabKhayDia ref="tabKHD" :thietBiCurrent="thietBiCurrent" :dsKhayDia="dsKhayDia" />
      </div>
    </div>
  </div>

  <!-- --------------Cấu hình phần cứng------------------- -->
  <div class="row" v-if="deviceTypeInfo.isNetwork">
    <div class="col-12">
      <div class="box-form">
        <div class="legend-title">
          Cấu hình phần cứng
        </div>
        <div class="row">
          <div class="col-sm-6 col-12">
            <div class="info-row">
              <div class="key w150">CPU (core):</div>
              <div class="value">
                <input type="number" class="form-control" :disabled="false" v-model.trim="thietBiCurrent.TOCDO_CPU_MANG" />
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div class="info-row">
              <div class="key w150">RAM (GB):</div>
              <div class="value">
                <input type="number" class="form-control" :disabled="false" v-model.trim="thietBiCurrent.DL_RAM_MANG" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-12">
            <div class="info-row">
              <div class="key w150">HDD (GB):</div>
              <div class="value">
                <input type="number" class="form-control" :disabled="false" v-model.trim="thietBiCurrent.DL_HDD_MANG" />
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div class="info-row">
              <div class="key w150">SSD (GB):</div>
              <div class="value">
                <input type="number" class="form-control" :disabled="false" v-model.trim="thietBiCurrent.DL_SSD_MANG" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-12">
            <div class="info-row">
              <div class="key w150">Số lượng Fan (core):</div>
              <div class="value">
                <input type="number" class="form-control" :disabled="false" v-model.trim="thietBiCurrent.SL_FAN_MANG" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="box-form">
        <div class="legend-title">
          Hiển thị trực quan
        </div>
        <div class="row">
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="resource-card">
                <div class="icon">
                  <i class="fas fa-microchip"></i>
                </div>
                <div class="label">Bộ xử lý</div>
                <div class="value" v-text="thietBiCurrent.TOCDO_CPU_MANG + ' GHz'"></div>
                <div class="progress">
                  <div class="progress-bar bg-primary" :style="{ width: 1 + '%' }"></div>
                </div>
                <div class="title">Tốc độ CPU</div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="resource-card">
                <div class="icon">
                  <i class="fas fa-memory"></i>
                </div>
                <div class="label">Bộ nhớ</div>
                <div class="value" v-text="thietBiCurrent.DL_RAM_MANG + ' GB'"></div>
                <div class="progress">
                  <div class="progress-bar bg-success" :style="{ width: 1 + '%' }"></div>
                </div>
                <div class="title">Dung lượng RAM</div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="resource-card">
                <div class="icon">
                  <i class="fas fa-hdd"></i>
                </div>
                <div class="label">Lưu trữ</div>
                <div class="value" v-text="thietBiCurrent.DL_HDD_MANG + thietBiCurrent.DL_SSD_MANG  + ' GB'"></div>
                <div class="progress">
                  <div class="progress-bar bg-warning" :style="{ width: 1 + '%' }"></div>
                </div>
                <div class="title">HDD</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
