a.disabled { color:lightgray !important; }
a.disabled:hover { color:lightgray !important; }
.disabled { pointer-events: none; }
.btn-main {
    background: #0176FF;
    color: #fff;
}

.key {
    font-weight: 700!important;
}
.info-row .key {
    padding-top: 6px!important;
}
.w80 {
    width: 100px!important;
}
.w81 {
    width: 75px!important;
   text-align: center;
}
.w83 {
    width: 120px!important;
}
.kq {
    text-align: left;
    padding-top: 6px!important;
    color: red;
    font-weight: 700;
}
.table-result td.selected {
   border-left: 1px solid #E0E0E0;
}
.disabledInput {
    pointer-events: none;
    color:lightgray !important;
}
.modal-footer {
    display: none!important;
}
.btn-update {
    float: right;
    margin: 5px;
}
.row {
    margin: 0px;
}
.row .col-12 {
    padding: 0px;
}