<div class="main-wrapper">
  <div>
    <breadcrumb />
    <div class="list-actions-top">
      <ul class="list">
        <li>
                  <a  @click="load_data">
                    <span class="icon one-search"></span> Tra cứu
                  </a>
              </li>
        <li>
                  <a  @click="tbtnXuatExcel_click">
                    <Icon icon="file-icons:microsoft-excel" width="1.5rem" height="1.5rem" /> Xuất dữ liệu
                  </a>
              </li>
      </ul>
      <div class="more dropdown">
        <a href="#" style="text-decoration: none;">
          <span ref="mainWrap" class="icon -ap  icon-dots-three-vertical"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="box-form mt-4">
      <div class="legend-title">
        Thông tin đối soát
      </div>
      <div class="row">
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="key">Kiểu đối soát</div>
            <div class="value">
              <select2 :options="kieudoisoat_options" v-model="kieudoisoat_value" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="key">Kỳ hóa đơn</div>
            <div class="value">
              <select2 :options="chukyno_options" v-model="chukyno_value" />
            </div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="key">Bảng đối soát</div>
            <div class="value">
              <select2 :options="bangdoisoat_options" v-model="bangdoisoat_value" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="key">Người thực hiện</div>
            <div class="value">
              <input disabled v-model="user_thuchien" type="text" class="form-control" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <DataGrid
        ref="tbThongtinNo" class="table-result table-gachle" :columns="[{headerText: 'STT', fieldName: 'stt', width: '50'}].concat(tbThongtinno_columns)" :dataSource="tbThongtinno_data"
          :enablePagingServer="false" panelDataHeight="50vh"  :enabledSelectFirstRow="false"
          :allowPaging="true" :allowExcelExport="true" />
      </div>
    </div>
  </div>
</div>