  
<ul class="moano">
  <li :class="[nodes && nodes.length > 0 ? 'haschild' : '', showChildren ? 'open' : '']">
    <a href="javascript:void(0)" @click="toggleChildren" class="tree-label">
      <span class="icon nc-icon-glyph files_single-content-02"></span> {{label}}
    </a>
      <tree-menu
      v-if="showChildren"
      v-for="(node, i) in nodes" 
      :key="node.key"
      :nodes="node.nodes" 
      :label="node.label"
      :depth="depth + 1"  
      :data="node" 
      >
    </tree-menu>
  </li>
</ul>
