.label-wrapper {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  .has-children {
    cursor: pointer;
  }
}
.tree-plus  ul.moano > li:after {
    display: none !important; 
}
.tree-plus ul li:last-child:after {
     display: block !important; 
}
.tree-plusDuy > ul > li:first-child:after {
	 top: 10px;
}
 .tree-plusDuy .btn-refresh {
	 color: #000;
	 position: absolute;
	 top: 5px;
	 right: 5px;
	 width: 24px;
	 padding: 0px;
	 line-height: 24px;
	 text-align: center;
	 height: 24px;
}
 .tree-plusDuy ul {
	 list-style: none;
	 padding: 0px;
	 margin: 0px;
	 padding-left: 25px;
	 position: relative;
}
 .tree-plusDuy ul a, .tree-plusDuy ul .tree-node {
	 color: #000;
	 display: block;
	 padding: 8px 0px;
	 position: relative;
	 padding-left: 25px;
	 text-decoration: none;
}
 .tree-plusDuy ul a:hover, .tree-plusDuy ul .tree-node:hover {
	 color: #035fcc;
}
 .tree-plusDuy ul a .icon, .tree-plusDuy ul .tree-node .icon {
	 position: absolute;
	 top: 10px;
	 left: 0px;
}
 .tree-plusDuy ul li {
	 position: relative;
}
 .tree-plusDuy ul li:after {
	 content: "";
	 width: 1px;
	 position: absolute;
	 top: 0px;
	 bottom: 0px;
	 left: -20px;
	 border-left: 1px dashed rgba(1, 118, 255, 0.5);
}
 .tree-plusDuy ul li:before {
	 width: 20px;
	 height: 1px;
	 content: "";
	 position: absolute;
	 border-top: 1px dashed rgba(1, 118, 255, 0.5);
	 top: 15px;
	 left: -20px;
}
 .tree-plusDuy ul li .status {
	 position: absolute;
	 top: 0px;
	 right: 0px;
}
 .tree-plusDuy ul li.haschild > a:before {
	 content: "\e6b8";
	 width: 16px;
	 height: 16px;
	 position: absolute;
	 left: -28px;
	 top: 8px;
	 background-color: #fff;
	 font-size: 14px;
	 line-height: 16px;
	 text-align: center;
	 z-index: 10;
	 font-family: ap;
	 color: #000;
}
 .tree-plusDuy ul li.haschild .down {
	 position: absolute;
	 left: -28px;
	 top: 8px;
	 width: 16px;
	 height: 16px;
	 font-size: 14px;
	 line-height: 16px;
	 background-color: #fff;
	 font-family: ap;
	 color: #000;
	 text-align: center;
	 z-index: 10;
}
 .tree-plusDuy ul li.haschild .down:before {
	 content: "\e6b8";
}
 .tree-plusDuy ul li.haschild.open > a:before {
	 content: "\e6bb";
}
 .tree-plusDuy ul li.haschild.open > ul {
	 display: block;
}
 .tree-plusDuy ul li.haschild.open > .down:before {
	 content: "\e6bb";
}
 .tree-plusDuy ul:last-child > li:after{
	 display: none;
}
 .tree-plusDuy ul li:last-child > a:after {
	 content: "";
	 width: 1px;
	 position: absolute;
	 top: 0px;
	 bottom: 20px;
	 left: -20px;
	 border-left: 1px dashed rgba(1, 118, 255, 0.5);
}
 .tree-plusDuy ul li.active > a {
	 background: #000;
	 color: #fff;
}
 .tree-plusDuy ul ul {
	 display: none;
}
 .tree-plusDuy .icon {
	 margin-right: 5px;
	 color: #666;
}
 .tree-plusDuy.tree-icon ul a, .tree-plusDuy.tree-icon ul .tree-node {
	 padding-left: 5px;
}
 .tree-plusDuy .check-action .name {
	 min-height: 16px;
	 padding-left: 20px;
}
 .tree-plusDuy .check-action .name:before {
	 width: 16px;
	 height: 16px;
	 line-height: 14px;
}
 .tree-plusDuy .check-action input:checked + .name:before {
	 font-size: 12px;
}
 .tree-plusDuy .check-action input[type=radio]:checked + .name:after {
	 width: 8px;
	 height: 8px;
}
 
.tree-label.active {
  background: #035FCC;
  color: #fff;
}

.tree-label.active span {
  color: #fff;
}
.tree-label.active:hover {
  color: #fff;
}