<div class="modal-content popup-box">
    <div class="popup-header">
        <div class="title"><span class="icon one-notepad"></span> Cập nhật tên thanh toán theo file</div>
        <div class="close -ap icon-close" data-dismiss="modal" @click="onClose">
        </div>
    </div>
    <div class="list-actions-top">
        <ul class="list">
            <li>
                <a href="#" @click.prevent="onSave()">
                    <span class="icon one-save"></span>Ghi lại
                </a>
            </li>
        </ul>
    </div>
    <div class="popup-body">
        <div class="box-form">
            <div class="legend-title">
                <div class="pull-left">Thông tin Tên TT</div>
                <div class="pull-right red">{{labelThoiGian}}</div>
                <div class="clearfix"></div>
            </div>
            <div class="note marb10 red fw6">Cấu trúc file Excel : MA_TT, TEN_TT</div>
            <div class="info-row">
                <div class="key w60">Chọn file</div>
                <div class="value">
                    <div class="input-more-button">
                        <!-- <button class="btn">
                            <span class="-ap icon-more_horiz"></span>
                        </button>
                        <input type="text" class="form-control "> -->
                        <label for="upload" class="btn">
                            <span class="-ap icon-more_horiz"></span>
                        </label>
                        <input type="file" @change="onChangeFile" ref="fileInput" accept=".xlsx, .xls" id="upload"
                            style="display: none" />
                        <input type="text" class="form-control" v-model="txtFileName" />
                    </div>
                </div>
            </div>
        </div>
        <div class="box-form">
            <div class="legend-title">Danh sách thay đổi Tên TT</div>
            <div class="table-content">
                <DataGrid
                    v-bind:columns="gridViewColumns"
                    v-bind:dataSource="gridViewData"
                    :showFilter="false"
                    :allowPaging="true"
                    :enablePagingServer="false"
                    ref="table">
                </DataGrid>
            </div>
        </div>
    </div>
</div>
