<div class="select-wrapper">
  <div ref="select" 
    class="w-100 select" 
    :class="{ 'select--show': isFocused, 'select--hide': !isFocused }"
    :disabled="disabled" 
    @click="isFocused = !isFocused"
    >
    <Icon icon="iconamoon:arrow-up-2" class="select__arrow" :class="{ 'rotate-arrow': isFocused }" width="20"
      height="20" />
    </div>
    <div 
      class="select__panel" 
      :class="{ 'select__panel--show': isFocused, 'select__panel--hide': !isFocused }"
      ref="selectPanel"
      >
      <input type="text" v-model="search" placeholder="Tìm kiếm" />
      <div v-if="filteredOptions.length == 0">
        <em>Không có lựa chọn</em>
      </div>
      <div class="select__options">
          <div v-if="!checkbox" class="select__option select__option--single" 
          v-for="(option, index) in filteredOptions" :key="index" @click="selectOption(option)">
          <span>{{ option.text }}</span></div>
          <div v-if="checkbox" class="select__option select__option--multiple"
          v-for="(option, index) in filteredOptions" :key="index" @click="selectOption(option)">
            <div class="select__option__checkbox">
              <input type="checkbox" :id="option.value"  :value="option.value" v-model="selectedOptions" />
              <label :for="option.value">{{ option.text }}</label>
            </div>
            <span>{{ option.text }}</span>
          </div>
      </div>
    </div>
</div>