.list-actions-top .list > li.active {
  background-color: rgba(1, 118, 255, 0.1);
}

/deep/ .mt-3px {
  margin-top: 3px;
}

/deep/ .btn-main {
  background: #0176ff;
  color: #fff;
}

/deep/ .table-result tbody tr:not(.empty) td:nth-last-child(1) {
  text-align: center !important;
  width: 60px;
}

/deep/ .list-actions-top .list > li.disabled {
  cursor: not-allowed;
  pointer-events: none;
}
/deep/ .list-actions-top .list > li.disabled > a {
  color: #6c757d !important;
}

span.active {
    background-color: #0176ff;
    color: #fff;
    // min-width: 85%;
}