<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-between align-items-center">
      <div class="nav tabs tab-over">
        <a
          v-if="displayTab1"
          href="#congDuLieu"
          class="flex-grow-1"
          data-toggle="tab"
          :class="{active: currentTab === 1}"
          @click="onChangeTab(1)"
          >Cổng dữ liệu</a
        >
        <a
          v-if="displayTab2"
          href="#congNguon"
          class="flex-grow-1"
          data-toggle="tab"
          :class="{active: currentTab === 2}"
          @click="onChangeTab(2)"
          >Cổng nguồn</a
        >
        <a
          v-if="displayTab3"
          href="#congDieuKhien"
          class="flex-grow-1"
          data-toggle="tab"
          :class="{active: currentTab === 3}"
          @click="onChangeTab(3)"
          >Cổng điều khiển</a
        >
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane" id="congDuLieu" :class="{active: currentTab === 1}" v-show="displayTab1">
        <TabCongDulieu
          :currentItem="currentItem"
          :controls="controls"
          :deviceTypeInfo="deviceTypeInfo"
          ref="refCongDulieu"
        />
      </div>
      <div class="tab-pane" id="congNguon" :class="{active: currentTab === 2}" v-show="displayTab2">
        <TabCongNguon
          :currentItem="currentItem"
          :controls="controls"
          ref="refCongNguon"
          :deviceTypeInfo="deviceTypeInfo"
        />
      </div>
      <div class="tab-pane" id="congDieuKhien" :class="{active: currentTab === 3}" v-show="displayTab3">
        <TabCongDieuKhien
          :currentItem="currentItem"
          :controls="controls"
          ref="refCongDieuKhien"
          :deviceTypeInfo="deviceTypeInfo"
        />
      </div>
    </div>
  </div>
</div>
