<div class="custom-combobox-grid" tabindex="0" v-click-outside="hide" v-bind:class="{ disabled: disabled}">
  <div class="select-custom" @click="expanded = !expanded">
    <input type="text" :placeholder="waterMark" class="form-control highlight" ref="inputText" :value="inputText"/>
  </div>
  <div class="grid-panel  pad10" v-show="expanded">
    <div class="title-bg-main">
      <span class="title">Danh sách thiết bị</span>
    </div>
    <DataGridEdit ref="gridInner" v-bind:columns="columns" v-bind:dataSource="dataSource" :showFilter="showFilter"
                  :enabledSelectFirstRow="false" :editSettings="editSettings" :showColumnPointer="false"
                  :enable-paging-server="false"
                  @selectedRowChanged="dataGrid_selectedRowChanged"
                  @actionComplete="actionComplete"
                  :panelDataHeight="gridPanelDataHeight"
                  :allowPaging="true">
    </DataGridEdit>
  </div>
</div>
