<div class="modal modal-show" id="popupTCTTTB">
    <div class="modal-dialog" style="width: 100%; max-width:95%;">
        <div class="modal-content popup-box">
            <div class="popup-header">
                <div class="title"><span class="icon one-notepad"></span> Định mức khuyến mại</div>
                <div class="close -ap icon-close" data-dismiss="modal" @click="$emit('close')">
                </div>
            </div>
            <div class="list-actions-top">
                <ul class="list">
                    <li>
                        <a href="#" @click="handGhiLai">
                            <span class="icon one-save"></span> Ghi lại (F9)
                        </a>
                    </li>
                    <li>
                        <a href="#" @click="handXoa">
                            <span class="icon one-trash"></span> Xóa
                        </a>
                    </li>


                </ul>
            </div>
            <div class="popup-body">
                <div class="row">
                    <div class="col-sm-6 col-12">
                        <div class="box-form">
                            <div class="legend-title">Cước sử dụng</div>
                            <div class="title red fw6 marb5">Khuyến mại tặng tiền</div>
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <div class="info-row">
                                        <div class="key w60">Tối thiểu</div>
                                        <div class="value">
                                            <ejs-numerictextbox ref="cuoc_sd_min" id="cuoc_sd_min" format="n0"
                                                :showSpinButton='false' v-model="cuoc_sd_min" :value="cuoc_sd_min"
                                                class="form-control tright pr-2">
                                            </ejs-numerictextbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="info-row">
                                        <div class="key w50">Tối đa</div>
                                        <div class="value">
                                            <ejs-numerictextbox ref="cuoc_sd_max" id="cuoc_sd_max" format="n0"
                                                :showSpinButton='false' v-model="cuoc_sd_max" :value="cuoc_sd_max"
                                                class="form-control tright pr-2">
                                            </ejs-numerictextbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="title red fw6 marb5">Khuyến mại theo tỷ lệ</div>
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <div class="info-row">
                                        <div class="key w60">Tối thiểu</div>
                                        <div class="value">
                                            <ejs-numerictextbox ref="tyle_sd_min" id="tyle_sd_min" format="n0"
                                                :showSpinButton='false' v-model="tyle_sd_min" :value="tyle_sd_min"
                                                class="form-control tright pr-2">
                                            </ejs-numerictextbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="info-row">
                                        <div class="key w50">Tối đa</div>
                                        <div class="value">
                                            <ejs-numerictextbox ref="tyle_sd_max" id="tyle_sd_max" format="n0"
                                                :showSpinButton='false' v-model="tyle_sd_max" :value="tyle_sd_max"
                                                class="form-control tright pr-2">
                                            </ejs-numerictextbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="title red fw6 marb5">Khuyến mại theo tiền phải trả</div>
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <div class="info-row">
                                        <div class="key w60">Tối thiểu</div>
                                        <div class="value">
                                            <ejs-numerictextbox ref="tien_sd_min" id="tien_sd_min" format="n0"
                                                :showSpinButton='false' v-model="tien_sd_min" :value="tien_sd_min"
                                                class="form-control tright pr-2">
                                            </ejs-numerictextbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="info-row">
                                        <div class="key w50">Tối đa</div>
                                        <div class="value">
                                            <ejs-numerictextbox ref="tien_sd_max" id="tien_sd_max" format="n0"
                                                :showSpinButton='false' v-model="tien_sd_max" :value="tien_sd_max"
                                                class="form-control tright pr-2">
                                            </ejs-numerictextbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="box-form">
                            <div class="legend-title">Cước thuê bao</div>
                            <div class="title red fw6 marb5">Khuyến mại tặng tiền</div>
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <div class="info-row">
                                        <div class="key w60">Tối thiểu</div>
                                        <div class="value">
                                            <ejs-numerictextbox ref="cuoc_tb_min" id="cuoc_tb_min" format="n0"
                                                :showSpinButton='false' v-model="cuoc_tb_min" :value="cuoc_tb_min"
                                                class="form-control tright pr-2">
                                            </ejs-numerictextbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="info-row">
                                        <div class="key w50">Tối đa</div>
                                        <div class="value">
                                            <ejs-numerictextbox ref="cuoc_tb_max" id="cuoc_tb_max" format="n0"
                                                :showSpinButton='false' v-model="cuoc_tb_max" :value="cuoc_tb_max"
                                                class="form-control tright pr-2">
                                            </ejs-numerictextbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="title red fw6 marb5">Khuyến mại theo tỷ lệ</div>
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <div class="info-row">
                                        <div class="key w60">Tối thiểu</div>
                                        <div class="value">
                                            <ejs-numerictextbox ref="tyle_tb_min" id="tyle_tb_min" format="n0"
                                                :showSpinButton='false' v-model="tyle_tb_min" :value="tyle_tb_min"
                                                class="form-control tright pr-2">
                                            </ejs-numerictextbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="info-row">
                                        <div class="key w50">Tối đa</div>
                                        <div class="value">
                                            <ejs-numerictextbox ref="tyle_tb_max" id="tyle_tb_max" format="n0"
                                                :showSpinButton='false' v-model="tyle_tb_max" :value="tyle_tb_max"
                                                class="form-control tright pr-2">
                                            </ejs-numerictextbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="title red fw6 marb5">Khuyến mại theo tiền phải trả</div>
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <div class="info-row">
                                        <div class="key w60">Tối thiểu</div>
                                        <div class="value">
                                            <ejs-numerictextbox ref="tien_tb_min" id="tien_tb_min" format="n0"
                                                :showSpinButton='false' v-model="tien_tb_min" :value="tien_tb_min"
                                                class="form-control tright pr-2">
                                            </ejs-numerictextbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="info-row">
                                        <div class="key w50">Tối đa</div>
                                        <div class="value">
                                            <ejs-numerictextbox ref="tien_tb_max" id="tien_tb_max" format="n0"
                                                :showSpinButton='false' v-model="tien_tb_max" :value="tien_tb_max"
                                                class="form-control tright pr-2">
                                            </ejs-numerictextbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>