<div>
    <div class="tab-content pad0 bor0 mart10" style="box-shadow: none;">

        <div class="box-move-select-table">

            <div class="box-col">
                <div class="table-content" style="height: 250px">

                    <vue-table v-model="currentRecordEquipmentDeliver" :options="danhSachTrangBiDaGan"
                        :config="EquipmentHeaderDeliver" :unique="'kieuld_id'" :multiple="true"
                        @input="onCheckBoxDeliver"></vue-table>
                </div>
            </div>
            <div class="actions">
                <button class="btn" @click="onCheckBoxDeliverRemove" :disabled="tempEquipmentDeliver.length == 0">
                    <span class="fa fa-angle-right"></span>
                </button>
                <button class="btn" :disabled="danhSachTrangBiDaGan.length == 0" @click="handDataRight">
                    <span class="fa fa-angle-double-right"></span>
                </button>
                <button class="btn" @click="onCheckBoxNotDeliverToDeliver"
                    :disabled="tempEquipmentNotDeliver.length == 0">
                    <span class="fa fa-angle-left"></span>
                </button>
                <button class="btn" :disabled="danhSachTrangBiChuaGan.length == 0" @click="handDataLeft">
                    <span class="fa fa-angle-double-left"></span>
                </button>
            </div>
            <div class="box-col">
                <div class="table-content" style="height: 250px">

                    <vue-table v-model="currentRecordEquipmentNotDeliver" :options="danhSachTrangBiChuaGan"
                        :config="EquipmentHeaderNotDeliver" :unique="'kieuld_id'" :multiple="true"
                        @input="onCheckBoxNotDeliver"></vue-table>
                </div>
            </div>
        </div>
    </div>

</div>