/deep/ .grid table tr th button.btn-sort:not(.btn-sorted) {
  opacity: 0.2;
}

/deep/ .grid table tr th button.btn-sort {
  background-color: transparent;
  border: 0px;
  padding-right: 0px;
  color: #007eff;
}

/deep/ .grid-content .grid table tfoot tr th input {
  text-align: right;
}

/deep/ .grid-content .grid table tbody tr td:nth-child(5) {
  text-align: right!important;
}