<div>
  <div class="list-actions-top">
    <ul class="list">
      <li @click="DanhSach()">
        <a href="javascript:;" title="Danh sách">
          <span class="icon nc-icon-glyph design_bullet-list-67"></span>Danh sách
        </a>
      </li>
      <li @click="XuatExcel()">
        <a href="javascript:;" title="Xuất Excel">
          <span class="icon one-xlsx-import"></span>Xuất Excel
        </a>
      </li>
      <li @click="CapNhat()">
        <a href="javascript:;" title="Cập nhật">
          <span class="icon one-reload"></span>Cập nhật
        </a>
      </li>
      <li @click="ChuaPhanTuyen()">
        <a href="javascript:;" title="Chưa phân tuyến">
          <span class="icon nc-icon-glyph files_single-content-02"></span>Chưa phân tuyến
        </a>
        <PopupDSChuaPhanTuyen :sources="danhsachChuaPhanTuyen" />
      </li>
      <li @click="SuaTTKH()">
        <a href="javascript:;" title="Sửa thông tin khách hàng">
          <span class="icon one-file-edit"></span>Sửa TTKH
        </a>
      </li>
    </ul>
  </div>
  <div class="page-content">
    <div class="box-form">
      <div class="pull-right">
        <div class="inline">
          <div class="info-row marb0">
            <div class="value" style="width: 200px;">
              <div class="select-custom">
                <select v-model="tuyenThu" name="" id="" class="form-control">
                  <option value="1">Tuyến giao</option>
                  <option value="2">Đợt giao</option>
                </select>
              </div>

            </div>
            <div class="value nowrap red padt7">
              Thực hiện tháng sau
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="box-form">
      <div class="grid-stack-box">
        <div class="box-col col-sm-3" id="box1">
          <div class="legend-title">{{labelFrom}}</div>
          <div class="info-row">
            <div class="key w100">Nhân viên thu</div>
            <div class="value">
              <div class="">
                <!-- <select ref="fromNVThuCuoc" v-model="fromNVThuCuoc" name="" id="" class="form-control">
                  <option value="">Chọn nhân viên thu cước...</option>
                  <option v-for="item in danhsachNhanVienTC" :value="item.NHANVIEN_ID">{{item.TEN_HIENTHI}}</option>
                </select> -->
                <SelectExt v-model.trim="fromNVThuCuoc" :dataSource="danhsachNhanVienTC" dataTextField="TEN_HIENTHI"
                    dataValueField="NHANVIEN_ID" placeholder="Chọn nhân viên thu cước"/>
              </div>
            </div>
          </div>
          <div class="info-row">
            <div class="key w100">{{labelTuyenThu}}</div>
            <div class="value">
              <div v-show="tuyenThu === '1'" class="">
                <!-- <select v-model="selectTuTuyenThu" name="" id="" class="form-control">
                  <option v-for="item in danhSachTuTuyenThu" :value="item.TUYENTHU_ID">{{item.TENTUYEN}}</option>
                </select> -->
                <SelectExt v-model.trim="selectTuTuyenThu" :dataSource="danhSachTuTuyenThu" dataTextField="TENTUYEN"
                    dataValueField="TUYENTHU_ID" placeholder="Chọn tuyến thu"/>
              </div>
              <div v-show="tuyenThu === '2'" class="">
                <!-- <select v-model="selectTuDotGiao" name="" id="" class="form-control">
                  <option v-for="item in danhSachTuDotGiao" :value="item.DOTGIAO_ID">{{item.DOTGIAO}}</option>
                </select> -->
                <SelectExt v-model.trim="selectTuDotGiao" :dataSource="danhSachTuDotGiao" dataTextField="DOTGIAO"
                    dataValueField="DOTGIAO_ID" placeholder="Chọn đợt giao"/>
              </div>
            </div>
          </div>
        </div>
        <div class="box-col col-sm-3" id="box2">
          <div class="legend-title">{{labelTo}}</div>
          <div class="info-row">
            <div class="key w100">Nhân viên thu</div>
            <div class="value">
              <div class="">
                <!-- <select ref="toNVThuCuoc" v-model="toNVThuCuoc" name="" id="" class="form-control">
                  <option value="">Chọn nhân viên thu cước...</option>
                  <option v-for="item in danhsachNhanVienTC" :value="item.NHANVIEN_ID">{{item.TEN_HIENTHI}}</option>
                </select> -->
                <SelectExt v-model.trim="toNVThuCuoc" :dataSource="danhsachNhanVienTC" dataTextField="TEN_HIENTHI"
                    dataValueField="NHANVIEN_ID" placeholder="Chọn nhân viên thu cước"/>
              </div>
            </div>
          </div>
          <div class="info-row">
            <div class="key w100">Tuyến thu</div>
            <div class="value">
              <div class="">
                <!-- <select v-model="selectDenTuyenThu" name="" id="" class="form-control">
                  <option v-for="item in danhSachDenTuyenThu" :value="item.TUYENTHU_ID">{{item.TENTUYEN}}</option>
                </select> -->
                <SelectExt v-model.trim="selectDenTuyenThu" :dataSource="danhSachDenTuyenThu" dataTextField="TENTUYEN"
                    dataValueField="TUYENTHU_ID" placeholder="Chọn tuyến thu"/>
              </div>
            </div>
          </div>
          <div class="info-row">
            <div class="key w100">Đợt giao</div>
            <div class="value">
              <div class="">
                <!-- <select :disabled="tuyenThu === '1'" v-model="selectDenDotGiao" name="" id="" class="form-control">
                  <option v-for="item in danhSachDenDotGiao" :value="item.DOTGIAO_ID">{{item.DOTGIAO}}</option>
                </select> -->
                <SelectExt v-model.trim="selectDenDotGiao" :dataSource="danhSachDenDotGiao" dataTextField="DOTGIAO"
                    dataValueField="DOTGIAO_ID" :disabled="tuyenThu === '1'" placeholder="Chọn đợt giao"/>
              </div>
            </div>
          </div>
        </div>
        <div class="box-col col-sm-3" id="box3">
          <div class="legend-title">Lọc theo địa chỉ</div>
          <div class="row">
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="key w50">
                  <div class="check-action">
                    <input v-model="enabeQuan" type="checkbox" class="check">
                    <span class="name">Quận</span>
                  </div>
                </div>
                <div class="value">
                  <div class="">
                    <!-- <select :disabled="!enabeQuan" v-model="selectQuan" name="" id="" class="form-control">
                      <option value="">Chọn quận</option>
                      <option v-for="item in danhsachQuan" :value="item.QUAN_ID">{{item.TEN_QUAN}}</option>
                    </select> -->
                    <SelectExt v-model.trim="selectQuan" :dataSource="danhsachQuan" dataTextField="TEN_QUAN"
                    dataValueField="QUAN_ID" placeholder="Chọn quận" :disabled="!enabeQuan"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="key w50">
                  <div class="check-action">
                    <input v-model="enabePhuong" type="checkbox" class="check" :disabled="!enabeQuan">
                    <span class="name">Phường</span>
                  </div>
                </div>
                <div class="value">
                  <div class="">
                    <!-- <select :disabled="!enabePhuong || !enabeQuan" v-model="selectPhuong" name="" id="" class="form-control">
                      <option value="">Chọn phường</option>
                      <option v-for="item in danhsachPhuong" :value="item.PHUONG_ID">{{item.TEN_PHUONG}}</option>
                    </select> -->
                    <SelectExt v-model.trim="selectPhuong" :dataSource="danhsachPhuong" dataTextField="TEN_PHUONG"
                    dataValueField="PHUONG_ID" placeholder="Chọn phường" :disabled="!enabePhuong || !enabeQuan"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="key w50">
                  <div class="check-action">
                    <input v-model="enabePho" type="checkbox" class="check" :disabled="!enabePhuong">
                    <span class="name">Phố</span>
                  </div>
                </div>
                <div class="value">
                  <div class="">
                    <!-- <select :disabled="!enabePho || !enabePhuong" v-model="selectPho" name="" id="" class="form-control">
                      <option value="">Chọn Phố</option>
                      <option v-for="item in dsPho" :value="item.ID">{{item.TEN}}</option>
                    </select> -->
                    <SelectExt v-model.trim="selectPho" :dataSource="dsPho" dataTextField="TEN"
                    dataValueField="ID" placeholder="Chọn phố" :disabled="!enabePho || !enabePhuong"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="key w50">
                  <div class="check-action">
                    <input v-model="enabeAp" type="checkbox" class="check" :disabled="!enabePho">
                    <span class="name">Ấp</span>
                  </div>
                </div>
                <div class="value">
                  <div class="">
                    <!-- <select :disabled="!enabeAp || !enabePho" v-model="selectAp" name="" id="" class="form-control">
                      <option value="">Chọn ấp</option>
                      <option v-for="item in dsAp" :value="item.ID">{{item.TEN}}</option>
                    </select> -->
                    <SelectExt v-model.trim="selectAp" :dataSource="dsAp" dataTextField="TEN"
                    dataValueField="ID" placeholder="Chọn ấp" :disabled="!enabeAp || !enabePho"/>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="info-row">
            <div class="key w50">
              <div class="check-action">
                <input v-model="enabeKhu" type="checkbox" class="check" :disabled="!enabePho">
                <span class="name">Khu</span>
              </div>
            </div>
            <div class="value">
              <div class="">
                <!-- <select :disabled="!enabeKhu || !enabePho" v-model="selectKhu" name="" id="" class="form-control">
                  <option value="">Chọn khu</option>
                  <option v-for="item in dsKhu" :value="item.ID">{{item.TEN}}</option>
                </select> -->
                <SelectExt v-model.trim="selectKhu" :dataSource="dsKhu" dataTextField="TEN"
                    dataValueField="ID" placeholder="Chọn khu" :disabled="!enabeKhu || !enabePho"/>
              </div>
            </div>
          </div>
        </div>
        <div class="box-col col-sm-3" id="box4">
          <div class="legend-title">Tùy chọn</div>
          <div class="info-row">
            <div class="key w60">
              <div class="check-action">
                <input v-model="enableSo" type="checkbox" class="check">
                <span class="name">Từ số</span>
              </div>
            </div>
            <div class="value">
              <div class="input-number-custom">
                <input v-model="tuSo" type="number" value="0" class="form-control tright" :disabled="!enableSo" min="0">
              </div>
            </div>
            <div class="value w80">
              <div class="check-action mart7">
                <input v-model="ngoaiLe" type="checkbox" class="check">
                <span class="name">Ngoại lệ</span>
              </div>
            </div>
          </div>
          <div class="info-row">
            <div class="key w60">
              Đến số
            </div>
            <div class="value">
              <div class="input-number-custom">
                <input v-model="denSo" type="number" value="0" class="form-control tright" :disabled="!enableSo" min="0">
              </div>
            </div>
            <div class="value w80">
              <div class="check-action mart7">
                <input v-model="nhoThu" type="checkbox" class="check">
                <span class="name">Nhờ thu</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-form">
      <div class="legend-title">Danh sách khách hàng</div>
      <DataGrid :columns="fields" :dataSource="danhsachPhanChiaTuyenThu" :showFilter="true" :showColumnCheckbox="true"
        dataKeyField="THANHTOAN_ID" @selectedItemsChanged="selectedItemsChanged"
        ref="danhSach" :allowPaging="true" :enablePagingServer="false" :enabledSelectFirstRow="false" :aggregates="PTAggregatesColumns"/>
        <!-- :totalRecords="totalItems" @pageChanged="gridChanged"></DataGrid> -->
    </div>
  </div>
  <PopupCapNhatTuyenThu @chapNhan="onClickCapNhat" :dsKHMoi="dsTemp" :nvtcMoi_id="toNVThuCuoc.toString()" :tuyenThuMoi_id="selectDenTuyenThu.toString()" :dotGiao_id="selectDenDotGiao.toString()" :ngoaiLe="ngoaiLe ? 1 : 0" :nhoThu="nhoThu ? 3 : 0" :kieu="tuyenThu" :dsDotGiao="danhSachDenDotGiao"/>
</div>
