<main class="subnet-con-wrapper">
  <div class="legend-title d-flex justify-content-between  align-items-end">
    <p>Danh sách Subnet con</p>
    <div class="button-group">
      <button @click="addSubnet()" type="button" class="btn btn-primary btn-rounded">Thêm mới subnet con</button>
    </div>
  </div>

  <DataGrid :allowPaging="true" :enablePagingServer="false" :showColumnCheckbox="false" :dataSource="subnetConData"
    :columns="columns"></DataGrid>

  <AddSubnetConModal :item="selectedItem" :mode="modalMode" :visible="showAddSubnetConModal"
    @close="showAddSubnetConModal = false" @save="onSaveSubnet" />

  <ViewEditSubnetConModal :item="selectedItem" :mode="modalMode" :visible="showViewEditSubnetConModal"
    @close="showViewEditSubnetConModal = false" @save="onSaveSubnet" />
</main>