<div class="row">
  <div class="box-form">
    <div class="legend-title">
      Cấu hình CPU
    </div>
    <div class="row">
      <div class="col-sm-4 col-12">
        <div class="info-row">
          <div class="key w150">Số khe cắm (<span class="red">*</span>)</div>
          <div class="value">
            <input type="number" class="form-control" v-model="thietBiCurrent.SL_KHECPU" :disabled="false" />
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-12">
        <div class="info-row">
          <div class="key w150">SL đã cắm (<span class="red">*</span>)</div>
          <div class="value">
            <input type="number" class="form-control" v-model="thietBiCurrent.SL_CPU_DACAM" :disabled="true" />
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-12">
        <div class="info-row">
          <div class="key w150">Tổng CORE CPU (<span class="red">*</span>)</div>
          <div class="value">
            <input type="text" class="form-control" :disabled="true" v-model.trim="thietBiCurrent.TONG_CORE_CPU" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w150">Số socket CPU (<span class="red">*</span>)</div>
          <div class="value">
            <input type="number" class="form-control" v-model="thietBiCurrent.SL_SOCKETCPU" :disabled="false" />
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="info-row ">
          <div class="key w150">Số socket đã cắm (<span class="red">*</span>)</div>
          <input type="number" class="form-control" v-model="thietBiCurrent.SOCKETCPU_DACAM" :disabled="false" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-12">
        <div class="info-row">
          <div class="key w150">Định dạng tên</div>
          <div class="value">
            <input type="text" class="form-control" :disabled="false" v-model.trim="dinhDangTen" />
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-12">
        <div class="info-row">
          <div class="key w150">Bắt đầu từ</div>
          <div class="value">
            <input type="number" class="form-control" :disabled="false" v-model="batDauTu" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-form">
    <div class="row">
      <div class="legend-title d-flex justify-content-between align-items-center">
        <span>Danh sách CPU</span>
        <div>
          <button class="btn btn-sm btn-outline-primary" title="Sinh cổng tự động" @click="onGenerateCPU()">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <DataGrid
          ref="cauHinhCPUgrd"
          :allowPaging="true"
          :enablePagingServer="false"
          :showColumnCheckbox="false"
          v-bind:columns="[
                                    {fieldName: 'TEN_VITRI', headerText: 'Tên khe cắm CPU', textAlign: 'Center', width: 80},
                                    {fieldName: 'MODEL', headerText: 'Model CPU', width: 100, textAlign: 'Left'},
                                    {fieldName: 'SL_CORES', headerText: 'Core CPU', textAlign: 'Left'},
                                    {fieldName: 'SL_THREADS', headerText: 'Threads CPU', textAlign: 'Left'},
                                    {fieldName: 'TRANGTHAI_VH', headerText: 'Trạng thái VH', textAlign: 'Left'},
                                    {fieldName: 'THAOTAC', headerText: 'Thao tác', textAlign: 'Center', template: cpuActionColumn(this), allowFiltering: false},
                                  ]"
          v-bind:dataSource="localDsCpu"
        >
        </DataGrid>
      </div>
    </div>
  </div>
  <EditCPUModal ref="editCPUModal" />
</div>
