.control-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 60px 0px;
  .btn {
    width: 25px;
    height: 25px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
// .grid-donvi
.grid-donvi {
  overflow-y: auto;
  height: 180px;
  .donvi {
    border: 1px solid #ccc;
    border-bottom: none;
    color: #212529;

    height: 40px;
    display: flex;
    cursor: pointer;
    display: flex;
    align-items: center;
    input[type='checkbox'] {
      width: 17px;
      height: 17px;

      margin-left: 10px;
    }
    .ten-dv {
      margin-left: 10px;
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .donvi:nth-child(odd) {
    background-color: #f1f8ff;
  }
  .donvi.active {
    background-color: #f9e1a9 !important;
  }
  .donvi:hover {
    background-color: #fff9eb;
  }
}
.grid-donvi .donvi:last-child {
  border-bottom: 1px solid #ccc;
}

.custom-sla {
  position: relative;
  width: 100%;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type='number'] {
    padding-right: 50px;
    text-overflow: ellipsis;
    -moz-appearance: textfield;
  }
  span{
    position: absolute;
    right: 5px;
    color: #b1b1b1;
    top:50%;
    transform: translateY(-50%);
  }
}
