<div class="main-wrapper">
    <div>
        <breadcrumb />
        <div class="list-actions-top">
            <ul class="list">
                <li style="cursor: pointer;" @click="create_cauhinh">
                    <a>
                        <span class="icon one-file-plus"></span> Nhập mới
                    </a>
                </li>
                <li style="cursor: pointer;" @click="update_cauhinh"
                :class="{'disabled': btnSaveDisabled}">
                    <a>
                        <span class="icon one-save"></span> Ghi lại
                    </a>
                </li>
               
            </ul>
        </div>
    </div>
    <div class="page-content">
        <div class="box-form">
            <div class="legend-title">
                Cấu hình phân giao
            </div>
            <div class="row">
                <div class="col-sm-6 col-12">
                    <div class="info-row">
                        <div class="key">Tỉnh/TP: </div>
                        <div class="value">
                            <select2 :options="cbbTinh.options" v-model="cbbTinh.value" />
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="key">Quy trình: </div>
                        <div class="value">
                            <select2 :options="cbbQuyTrinh.options" v-model="cbbQuyTrinh.value" />
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="key">Loại KH: </div>
                        <div class="value">
                            <select2
                            :options="cbbLoaiKH.options"
                            v-model="cbbLoaiKH.value"
                            />
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="key">Nguồn đơn: </div>
                        <treeselect :multiple="true" v-model="cbbNguonDon.value" :options="cbbNguonDon.options"
                                :disable-branch-nodes="false" :append-to-body="true" placeholder="" :max-height="200"
                                style="max-height: 50px; overflow-y:auto; ">
                            </treeselect>
                    </div>

                </div>
                <div class="col-sm-6 col-12">
                    <div class="info-row">
                        <div class="key">Dịch vụ: </div>
                        <div class="value">
                            <select2 :options="cbbDichVuVT.options" @change="changeDichvu" v-model="cbbDichVuVT.value" />
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="key">Loại hình: </div>
                        <div class="value">
                            <treeselect :multiple="true" v-model="cbbLoaiHinh.value" :options="cbbLoaiHinh.options"
                                :disable-branch-nodes="false" :append-to-body="true" placeholder="" :max-height="200"
                                style="max-height: 50px; overflow-y:auto; ">
                            </treeselect>
                            <!-- <select2 :options="cbbLoaiHinh.options" v-model="cbbLoaiHinh.value" /> -->
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="key">Ưu tiên: </div>
                        <div class="value">
                            <select2 :options="cbbUuTien.options" v-model="cbbUuTien.value" />
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="key">SLA phân đơn: </div>
                        <div class="value">
                            <div class="custom-sla">
                                <input class="form-control custom-input" type="number" v-model="sla" />
                            <span>Phút</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="box-form">
      <div class="legend-title">Danh sách cấu hình</div>
      <DataGrid  :columns="tbCauhinh.columns"
                :dataSource="tbCauhinh.data"
                :enablePagingServer="false"
                panelDataHeight="198px"
                :allowPaging="true"
                ref="tbCauhinh"
                :enabledSelectFirstRow="false"
                @rowSelected="selectRowCauHinh"
      />
    </div>
    </div>
</div>
