<div class="main-wrapper">
  <div class="breadcrumb-top">
    <div class="main-title">Phát hành hoá đơn điện tử chủ động VTT</div>
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="#"><span class="nc-icon-outline ui-1_home-simple"></span> Trang chủ </a></li>
      <li class="breadcrumb-item"><a href="#">Thanh toán</a></li>
      <li class="breadcrumb-item active">Phát hành hoá đơn điện tử chủ động VTT</li>
    </ul>
  </div>
  <div class="list-actions-top">
    <ul class="list">
      <li :class="{ disabled: disableNhapMoi}" @click="tsbtnNhapMoi_Click">
        <a :class="{ 'disabled-color': disableNhapMoi }">
          <span class="icon one-file-plus"></span> Nhập mới
        </a>
      </li>
      <li :class="{ disabled: disableGhiLai}" @click="tsbtnGhiLai_Click">
        <a :class="{ 'disabled-color': disableGhiLai }">
          <span class="icon one-reload1"></span>Cập nhật-
        </a>
      </li>
    </ul>
  </div>
  <div class="page-content">
    <div class="box-form">
      <div class="legend-title">Thông tin tra cứu</div>
      <div class="row">
        <div class="col-sm-9 col-12">
          <div class="info-row">
            <div class="key w100">Mã khách hàng</div>
            <div class="value">
              <div class="input-more-button">
                <button class="btn">
                  <span class="-ap icon-more_horiz"></span>
                </button>
                <input type="text" @keyup.enter="txtMaGD_KeyPress" class="form-control highlight"
                  v-model="formThongTinTraCuu.maKhachHang">
              </div>
            </div>
          </div>
          <div class="info-row">
            <div class="key w100">Mẫu số:</div>
            <div class="value">
              <div class="select-custom">
                <SelectExt ref="mauSoRef" v-model="formThongTinTraCuu.mauSoSelected" :allowFiltering="true"
                  dataTextField="TEN_LOAIHD" dataValueField="LOAIHOADON_ID" :dataSource="formThongTinTraCuu.mauSo">
                </SelectExt>
              </div>
            </div>
          </div>
          <div class="info-row">
            <div class="key w100">Kiểu điều chỉnh</div>
            <div class="value">
              <div class="select-custom">
                <SelectExt :disabled="disableKDC" v-model="formThongTinTraCuu.kieuDieuChinhSelected"
                  :allowFiltering="true" dataTextField="dieuchinh" dataValueField="dieuchinh_id"
                  :dataSource="formThongTinTraCuu.kieuDieuChinh">
                </SelectExt>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-12">
          <div class="info-row">
            <div class="key w120">Thao tác</div>
            <div class="value">
              <div class="select-custom">
                <SelectExt v-model="formThongTinTraCuu.thaoTacSelected" :allowFiltering="true" dataTextField="thaotac"
                  dataValueField="thaotac_id" :dataSource="formThongTinTraCuu.thaoTac">
                </SelectExt>
              </div>
            </div>
          </div>
          <div class="info-row">
            <div class="key w120">Ký hiệu (Serial No):</div>
            <div class="value">
              <div class="select-custom">
                <SelectExt ref="kyHieuRef" v-model="formThongTinTraCuu.kyHieuSelected" :allowFiltering="true"
                  dataTextField="seri" dataValueField="seri_id" :dataSource="formThongTinTraCuu.kyHieu">
                </SelectExt>
              </div>
            </div>
          </div>
          <div class="info-row">
            <div class="key w120">Số hoá đơn:</div>
            <div class="value">
              <input ref="soHoaDonRef" type="text" class="form-control" v-model="formThongTinTraCuu.soHoaDon">
            </div>
            <div class="value red padt7 fw6 w30 nowrap">
              Đã thanh toán
            </div>
          </div>
        </div>
      </div>
      <div class="legend-title mart20">Thông tin hoá đơn</div>
      <div class="row">
        <div class="col-sm-9 col-12">
          <p>Tên hoá đơn: {{thongTinHoaDon.tenHoaDon}} </p>
          <p>Mã số thuế: {{thongTinHoaDon.maSoThue}} </p>
          <p>Tên đơn vị: {{thongTinHoaDon.tenDonVi}} </p>
          <p>Địa chỉ: {{thongTinHoaDon.diaChiDV}} </p>
          <div class="row">
            <div class="col-sm-8 col-12">
              <div class="info-row">
                <div class="key" style="width: 270px;">Tên khách hàng (Customer's name) <span class="red">(*)</span>
                </div>
                <div class="value">
                  <input ref="ten_kh" type="text" class="form-control" v-model="thongTinHoaDon.tenKhachHang">
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-12">
              <div class="info-row">
                <div class="key">Loại khách hàng</div>
                <div class="value">
                  <div class="select-custom">
                    <SelectExt v-model="thongTinHoaDon.loaiKhachHangSelected" :allowFiltering="true"
                      dataTextField="loai_kh" dataValueField="loaikh_id" :dataSource="formThongTinTraCuu.loaiKhachHang">
                    </SelectExt>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="info-row">
            <div class="key" style="width: 270px;">Địa chỉ:</div>
            <div class="value">
              <input type="text" class="form-control" v-model="thongTinHoaDon.diaChiKH">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-8 col-12">
              <div class="info-row">
                <div class="key" style="width: 270px;">Hình thức thanh toán (Kind of Payment) <span
                    class="red">(*)</span></div>
                <div class="value">
                  <input type="text" class="form-control" v-model="thongTinHoaDon.hinhThucTT">
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-12">
              <div class="info-row">
                <div class="key">Mã số: <span v-model="thongTinHoaDon.maSo"></span></div>
              </div>
            </div>
          </div>
          <div class="info-row">
            <div class="key" style="width: 270px;">Biên bản đính kèm:</div>
            <div class="value">
              <div class="input-more-button">
                <button @click="uploadFile" class="btn">
                  <span class="-ap icon-more_horiz"></span>
                </button>
                <input type="text" class="form-control" v-model="thongTinHoaDon.bienBanDinhKem">
                <input ref="inputFile" type="file" id="upload" style="display:none" @change="importFile"
                  accept=".xls, .xlsx" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-12">
          <p>Mẫu số: <span class="red">(*)</span>{{thongTinHoaDon.mauSo}}</p>
          <p>Ký hiệu (Serial No): <span class="red">(*)</span> {{thongTinHoaDon.kyHieu}}</p>
          <p>Số (No): {{thongTinHoaDon.so}}</p>
          <p>&nbsp;</p>
          <div class="info-row">
            <div class="key w100">Mã số thuế</div>
            <div class="value">
              <input type="text" class="form-control" v-model="thongTinHoaDon.maSoThueKH">
            </div>
          </div>
          <div class="info-row">
            <div class="key w100">Số điện thoại</div>
            <div class="value">
              <input type="text" class="form-control" v-model="thongTinHoaDon.soDienThoai">
            </div>
          </div>
          <div class="info-row marb10">
            <div class="key w100">Tháng hoá đơn:</div>
            <div class="value" v-model="thongTinHoaDon.thangHoaDon">
            </div>
          </div>
          <div class="info-row">
            <div class="key w100">Email</div>
            <div class="value">
              <input type="text" class="form-control" v-model="thongTinHoaDon.email">
            </div>
          </div>
        </div>
      </div>
      <div class="info-row">
        <div class="key" style="width: 270px;">Ghi chú hoá đơn:</div>
        <div class="value">
          <div class="input-number-custom">
            <input type="text" class="form-control" v-model="thongTinHoaDon.ghiChuHoaDon">
          </div>
        </div>
      </div>
      <div class="table-content">
        <!-- <DataGrid
                    ref="gridDS"
                    v-bind:columns="tableThueBaoConfig.tableCollumns"
                    v-bind:dataSource="tableThueBaoConfig.tableData"
                    :showFilter="true"
                    :allowPaging="true"
                    :enablePagingServer="false"
                    :allowEditing="true"                                                     
                >
                </DataGrid>     -->
        <!-- <ejs-grid ref="grid" :dataSource="ds.list" locale="vi-VN" :allowSorting='true' :allowFiltering='true' 
                        :allowPaging='true' :pageSettings='{pageSize:10,pageSizes: [10,50,100,200]}' :gridLines='1' :editSettings="{ allowEditing: true, mode: 'Normal' }" height="200">
                        <e-columns>
                            <e-column v-for="col in ds.cols" :key="col.fieldName" :field='col.fieldName' :allowEditing="col.allowEditing" :customAttributes="col.customAttributes" :headerText='col.headerText' :textAlign="col.textAlign" headerTextAlign="center" :editType="col.editType"  :format='col.format' :isPrimaryKey="col.isPrimaryKey"></e-column>
                        </e-columns>
                </ejs-grid>  -->

        <!-- <b-table striped hover :items="items" :fields="fields"></b-table> -->
      </div>
      <div class="table-content">
        <!-- <ejs-grid ref="grid" id='grid' :key="changed" :dataSource="ds.list" locale="vi-VN" :allowPaging='true' :pageSettings='pageSettings' :editSettings='editSettings' :toolbar='toolbar' >
                    <e-columns>
                        <e-column field='STT' headerText='STT' width='120' textAlign='Right' :isPrimaryKey='true' :validationRules='requiredrules'></e-column>
                        <e-column field='ProdName' headerText='Dịch vụ sử dụng' width='120' :validationRules='requiredrules'></e-column>
                        <e-column field='ProdUnit' headerText='Đơn vị tính' width='180'  textAlign='Right'></e-column>
                        <e-column field='ProdQuantity' headerText='Số lượng' width='130' editType='numericedit'  textAlign='Right' :validationRules='requiredrules'></e-column>
                        <e-column field='ProdPrice' headerText='Đơn giá' format='N' width='150'></e-column>
                        <e-column field='Total' headerText='thành tiền (trước thuế)' format='N' width='150'></e-column>
                        <e-column field='VATRate' headerText='Vat' width='130' editType='numericedit'  textAlign='Right'></e-column>
                        <e-column field='VATAmount'  format='N' headerText='Tiền thuế' width='150'></e-column>
                        <e-column field='Amount' :customAttributes="customAttributes" format='N' headerText='thành tiền (sau thuế)' width='150'></e-column>
                    </e-columns>
                </ejs-grid> -->
        <DataGridEdit ref="gridInner" v-bind:columns="tableThueBaoConfig.tableCollumns"
          v-bind:dataSource="tableThueBaoConfig.dataSources" :showFilter="true" :enabledSelectFirstRow="false"
          :editSettings="tableThueBaoConfig.editSettings" :showColumnPointer="false" :enable-paging-server="false"
          :allowPaging="true" @actionComplete="actionComplete">
        </DataGridEdit>
      </div>

      <div class="row mart20">
        <!-- <div :style="{visibility: !tt78 ? 'visible' : 'hidden'}" class="col-12" :class="tt78 ? 'col-sm-2' : 'col-sm-9'">
                  <div class="info-row">
                    <div class="key" :style="[tt78 ? '' : { width: '290px' }]">Thuế GTGT % :</div>
                    <div class="value">
                      <input type="text" class="form-control" v-model.trim="thongTinHoaDon.thueGTGT">
                    </div>
                  </div>
                </div> -->
        <template v-if="tt78">
          <div class="offset-md-2 col-sm-2 col-12">
            <div class="info-row">
              <div class="key" style="width: 160px">Tổng tiền chịu thuế 10%</div>
              <div class="value">
                <vue-numeric class="form-control red tright" separator="," placeholder="0" output-type="Number" disabled
                  v-model.number="thongTinHoaDon.tienChiuThue10"></vue-numeric>
              </div>
            </div>
          </div>
          <div class="col-sm-2 col-12">
            <div class="info-row">
              <div class="key" style="width: 150px">Tổng tiền chịu thuế 5%</div>
              <div class="value">
                <vue-numeric class="form-control red tright" separator="," placeholder="0" output-type="Number" disabled
                  v-model.number="thongTinHoaDon.tienChiuThue5"></vue-numeric>
              </div>
            </div>
          </div>
          <div class="col-sm-2 col-12">
            <div class="info-row">
              <div class="key" style="width: 150px">Tổng tiền chịu thuế 0%</div>
              <div class="value">
                <vue-numeric class="form-control red tright" separator="," placeholder="0" output-type="Number" disabled
                  v-model.number="thongTinHoaDon.tienChiuThue0"></vue-numeric>
              </div>
            </div>
          </div>
        </template>
        <div class="col-12" :class="tt78 ? 'col-sm-4' : 'col-sm-3'">
          <div class="info-row">
            <div class="key" style="width: 170px;">Cộng tiền dịch vụ:</div>
            <div class="value">
              <vue-numeric class="form-control red tright" separator="," placeholder="0" output-type="Number" disabled
                ref="txtTongTienRef" v-model.number="thongTinHoaDon.congTienDichVu"></vue-numeric>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12" :class="tt78 ? 'col-sm-2' : 'col-sm-9'"></div>
        <template v-if="tt78">
          <div class="col-sm-2 col-12">
            <div class="info-row">
              <div class="key" style="width: 160px">Tổng tiền thuế 10%</div>
              <div class="value">
                <vue-numeric class="form-control red tright" separator="," placeholder="0" output-type="Number" disabled
                  v-model.number="thongTinHoaDon.tienThue10"></vue-numeric>
              </div>
            </div>
          </div>
          <div class="col-sm-2 col-12">
            <div class="info-row">
              <div class="key" style="width: 150px">Tổng tiền thuế 5%</div>
              <div class="value">
                <vue-numeric class="form-control red tright" separator="," placeholder="0" output-type="Number" disabled
                  v-model.number="thongTinHoaDon.tienThue5"></vue-numeric>
              </div>
            </div>
          </div>
          <div class="col-sm-2 col-12">
            <div class="info-row">
              <div class="key" style="width: 150px">Tổng tiền không thuế</div>
              <div class="value">
                <vue-numeric class="form-control red tright" separator="," placeholder="0" output-type="Number" disabled
                  v-model.number="thongTinHoaDon.tienThue0"></vue-numeric>
              </div>
            </div>
          </div>
        </template>
        <div class="col-12" :class="tt78 ? 'col-sm-4' : 'col-sm-3'">
          <div class="info-row">
            <div class="key" style="width: 170px;">Tiền thuế GTGT:</div>
            <div class="value">
              <vue-numeric class="form-control red tright" separator="," placeholder="0" output-type="Number"
                ref="txtTongTienRef" v-model.number="thongTinHoaDon.tienThueGTGT"></vue-numeric>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12" :class="tt78 ? 'col-sm-6' : 'col-sm-9'">
          <div class="info-row">
            <div class="key" style="width: 290px;">Thẻ mở rộng (Dùng cho các tỉnh có thẻ extra) :</div>
            <div class="value">
              <input type="text" class="form-control" v-model.trim="thongTinHoaDon.theMoRong">
            </div>
          </div>
        </div>
        <template v-if="tt78">
          <div class="col-sm-2 col-12">
            <div class="info-row">
              <div class="key" style="width: 150px">Tổng tiền không chịu thuế</div>
              <div class="value">
                <vue-numeric class="form-control red tright" separator="," placeholder="0" output-type="Number" disabled
                  v-model.number="thongTinHoaDon.tienKhongChiuThue"></vue-numeric>
              </div>
            </div>
          </div>
        </template>
        <div class="col-12" :class="tt78 ? 'col-sm-4' : 'col-sm-3'">
          <div class="info-row">
            <div class="key" style="width: 170px;">Tổng cộng tiền thanh toán:</div>
            <div class="value">
              <vue-numeric class="form-control red tright" separator="," placeholder="0" output-type="Number" disabled
                v-model.number="thongTinHoaDon.tongCongTienThanhToan"></vue-numeric>
            </div>
          </div>
        </div>
      </div>
      <div class="info-row">
        <div class="key" style="width: 290px;">Số tiền viết bằng chữ</div>
        <div class="value">
          <input type="text" class="form-control" v-model.trim="thongTinHoaDon.soTienVietChu">
        </div>
      </div>
    </div>
  </div>


  <PopupTraCuuHDDT ref="popup_TraCuuHDDT" :vtt="vtt" @chapnhan="accep_TraCuutHDDT" :vma_gd="formThongTinTraCuu.maKhachHang" />

  <PopupHieuChinhHddt ref="popupHieuChinhHDDTRef" :html="hieuChinhHDDTProp" />

  <PopupEinvoiceDetail ref="popupEinvoiceDetailRef" @onSuccess="onSuccessEinvoiceDetail" />


</div>