>>> .text-blue {
    color: blue !important;
    text-align: left !important;
}

>>> .text-red {
    color: red !important
}

>>> .text-bold {
    font-weight: bold !important;
}

a.disabled {
    color: lightgrey !important;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}
