<div>
  <div class="row">
    <div class="col-12">
      <div class="nav tabs tab-over">
        <a href="#tabVM" data-toggle="tab" :class="{active: currentTab === 1}">VM</a>
        <a href="#tabNFS" data-toggle="tab" :class="{active: currentTab === 2}">NFS</a>
        <a href="#tabController" data-toggle="tab" :class="{active: currentTab === 3}">Bộ điều khiển (Controller)</a>
        <a href="#tabShelves" data-toggle="tab" :class="{active: currentTab === 4}">Khay đĩa (Shelves)</a>
      </div>
      <div class="tab-content">
        <!-- VM -->
        <div class="tab-pane" id="tabVM" :class="{active: currentTab === 1}">
          <div class="row">
            <div class="box-form">
              <DataGrid
                :columns="VMCols"
                :dataSource="VMList"
                :allowPaging="true"
                :enablePagingServer="false"
                :showColumnCheckbox="true"
                ref="grdVM"
              ></DataGrid>
            </div>
          </div>
        </div>
        <!-- NFS -->
        <div class="tab-pane" id="tabNFS" :class="{active: currentTab === 2}">
          <div class="row">
            <div class="box-form">
              <DataGrid
                :columns="NFSCols"
                :dataSource="NFSList"
                :allowPaging="true"
                :enablePagingServer="false"
                :showColumnCheckbox="true"
                ref="rgdNFS"
              ></DataGrid>
            </div>
          </div>
        </div>
        <!-- Controller -->
        <div class="tab-pane" id="tabController" :class="{active: currentTab === 3}">
          <div class="row">
            <div class="box-form">
              <DataGrid
                :columns="controllerCols"
                :dataSource="controllerList"
                :allowPaging="true"
                :enablePagingServer="false"
                :showColumnCheckbox="true"
                ref="grdController"
              ></DataGrid>
            </div>
          </div>
        </div>
        <!-- Shelves -->
        <div class="tab-pane" id="tabShelves" :class="{active: currentTab === 4}">
          <div class="row">
            <div class="box-form">
              <DataGrid
                :columns="shelvesCols"
                :dataSource="shelvesList"
                :allowPaging="true"
                :enablePagingServer="false"
                :showColumnCheckbox="true"
                ref="grdShelves"
              ></DataGrid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
