a.disabled { color:lightgray !important; }
a.disabled:hover { color:lightgray !important; }
.disabled { pointer-events: none; }

.grid-ext .e-grid .e-rowcell {
    padding: 7px 12px!important;
}
.e-movablechild{
    width: 3400px!important;
}
#tab2 .e-frozen-left-scrollbar{
    width: 427.101px!important;
}
#tab1 .e-frozen-left-scrollbar{
    width: 627.101px!important;
}