<div class="modal-wrapper">
  <div class="list-actions-top">
    <ul class="list">
      <li>
        <a href="#" v-on:click.prevent="onLoadDs">
          <span class="icon one-file-attach1"></span>Danh sách
        </a>
      </li>
      <li :class="{prevent : isSubmitting}">
        <a href="#" v-on:click.prevent="onAccept">
            <span class="icon one-save"></span>Chấp nhận
        </a>
      </li>
      <li :class="{disabled : gridViewData.length == 0}">
        <a href="#" v-on:click.prevent="exportExcel">
          <span class="icon one-excel"></span> Xuất Excel
        </a>
      </li>
    </ul>
  </div>
  <div class="body-content">
    <div class="box-form">
      <div class="row">
        <div class="col-md-6">
            <div class="info-row">
                <div class="key w100">Dịch vụ</div>
                <div class="value" style="padding-left: 25px;">
                  <div class="select-custom">
                    <select class="form-control" v-model="dichVuId">
                      <option v-for="dv in dsDichVu" v-bind:value="dv.DICHVUVT_ID">{{dv.TEN_DVVT}}</option>
                   </select>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-md-6">
          <span class="one-alert f16 marr5 inline vcenter text-warning"></span>
          <span>File excel gồm các trường MA_TB, TIENNO, LYDO.</span>
          <div class="ml-1"> - Tải về file mẫu <a href="#" @click.prevent="downFileMau">Click vào đây</a>.</div>
        </div>
        <div class="col-md-12">
          <div class="info-row">
            <div class="key w80">Đường dẫn</div>
            <div class="value">
              <div class="input-more-button">
                <label for="upload" class="btn" v-on:click="clearFileInput">
                  <span class="-ap icon-more_horiz"></span>
                </label>
                <input type="file"  @change="onChangeFile" ref="fileInput" accept=".xlsx, .xls" id="upload" style="display: none"/>
                <input type="text" class="form-control"  v-model="txtFileName"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-line mt-3">
      <span v-bind:style= "[tableTitle=='Danh sách thuê bao lỗi' ? {color: 'red'} : {color: '#0176FF'}]">{{tableTitle}}</span>
    </div>
    <div>
      <DataGrid2 v-bind:columns="gridViewColumns"
      v-bind:dataSource="gridViewData" :showFilter="true"
      :showColumnCheckbox=false
      ref="tabelmodal">
    </DataGrid2>
    </div>
  </div>
</div>