.image_gt {
  width: 128px;
  height: 128px;
}

.k {
  float: left !important;
}

.custom-row {
  display: flex !important;
  flex-direction: row !important;
}

.pad2 {
  padding-left: .5rem !important;
  padding-right: .5rem !important;
}

.disabled {
  cursor: not-allowed;
  color: #666 !important;
}

.mx-datepicker {
  width: 100% !important;
}

.mx-input.disabled,
.mx-input:disabled {
  color: #666 !important;
}

.modal-body .page-content {
  position: unset;
}

@media (min-width: 992px) {
  .modal .modal-huge {
    max-width: 98% !important;
    width: 100% !important;
  }
}

@media (min-width: 576px) {
  .modal .modal-huge {
    max-width: 98% !important;
    width: 100% !important;
  }
}
.btn {
  display: block;
  padding: 2px 15px;
  color: #0176FF;
  text-decoration: none;
  font-weight: 600;
}
