.ant-menu {
  .ant-menu-item .ant-menu-item-active .ant-menu-item-selected {
    font-weight: 600;
  }
  .ant-menu-submenu-selected > .ant-menu-submenu-title {
    font-weight: 600;
  }
  .ant-menu.ant-menu-sub.ant-menu-inline {
    background: transparent !important;
  }
  .ant-menu-submenu li {
    width: calc(100% - 39px) !important;
    margin-left: 15px !important;
  }
  .ant-menu-submenu .ant-menu-item-selected {
    font-weight: 600;
  }
  .ant-tooltip-content .ant-tooltip-inner {
    display: none;
  }
  .ant-tooltip-arrow {
    display: none !important;
  }
  .ant-menu-item-icon,
  .ant-menu-submenu-title .ant-menu-item-icon {
    width: 24px !important;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ant-menu-item-only-child {
    text-overflow: unset !important;
  }
}
