.nhapxuatvt_v2 .e-grid tr.e-emptyrow td {
    text-align: center !important;
  }

.vattu_box {
  position: relative;
}

.vattu_table {
    position: absolute;
    z-index: 1;
    max-height: 200px;
    background: aliceblue;
    overflow-y: scroll;
    right: 0;
}

.disabledInput {
    pointer-events: none;
    color: #666 !important; 
    border-color: #9999 !important;   
}

.disabledInput > a{   
    color: #666 !important; 
}


.list-actions-button {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
  background: #fff;
  position: relative;
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}



.value-actions {
  display: flex;
  position: relative;
  // padding-left: 40px;
}

.value-actions >div:first-child {
  flex-grow: 1;
}
.value-actions > .btn {
  width: 34px;
  // position: absolute;
  aspect-ratio: 1;
  padding: 0px;
  height: 34px;
  line-height: 32px;
  text-align: center;
  border-color: #0176FF;
  color: #0176FF;
}

.value-actions > .right-action {
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.checkbox-name {
  margin-left: 5px;
}

.right-action > input[type='checkbox'] {
  height: 32px;
  width: 32px;
  padding: 0;
  margin: 0;
  color: #0176FF;
  border-color: #0176FF;
  accent-color: #0176FF;
}

.value-actions > .btn:hover {
  background: #0176FF;
  color: #fff;
}
.value-actions > .btn.btn-line {
  border-color: #E0E0E0;
  color: #666;
}
.value-actions > .btn.btn-line:hover {
  background: #0176FF;
  color: #fff;
  border-color: #E0E0E0;
}
.value-actions > .btn.btn-main {
  background: #0176FF;
  color: #fff;
}
.value-actions > .btn.btn-main:hover {
  background: #035FCC;
}
.value-actions.-right {
  padding-left: 0px;
  padding-right: 40px;
}
.value-actions.-right > .btn {
  left: auto;
  right: 0px;
}
.drop-container {
  color: #255FC5;
  padding: 50px 60px;
  background: red !important;
  display: flex;
}
.drop-icon {
  color: #255FC5 !important;
  margin: 0 40px 0 0;
}

.e-cmenu-wrapper ul.e-contextmenu {
  width: 176px;
}

.e-bigger .e-cmenu-wrapper ul.e-contextmenu {
  width: 186px;
}


.color-red {
  fill: red !important;
  color: red !important;
}

.e-contextmenu-wrapper .e-menu-parent {
  // background-color: blue !important;
}
.e-contextmenu-wrapper .e-menu-parent:hover {
  // background-color: red !important;
  color: white !important;
}

.e-menu-item:hover {
  background-color: red !important;
}


#nhapxuatvt_v2 {
	position: absolute;
  top: 0px;
	// top: 90px;
	// padding: 8px 16px 16px 16px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
	overflow-x:hidden;
}
