<ejs-dialog :enableResize="true" :allowDragging="true" :visible="false" :animationSettings="animationSettings"
    ref="refPopupThongTinNgoaiTe" :position="position" :header="'Thông tin ngoại tệ'" showCloseIcon="true" width="90%"
    :target="target" :close="onClose" :open="onShow" :isModal="true" height="800px">
    <div class="modal-content popup-box">
        <div class="list-actions-top">
            <ul class="list">
                <li v-for="item in actions" :key="item.id" @click="onActionClick(item)"
                    :class="{disabled: !item.active}">
                    <a style="cursor: pointer;" :class="{disabled_color: !item.active}" :ref="item.id">
                        <span class="icon" :class="item.icon_class"></span> {{ item.name }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="popup-body">
            <div class="box-form">
                <div class="legend-title">Thông tin thanh toán bổ xung</div>
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="info-row">
                            <div class="key w120">Loại tiền</div>
                            <div class="value">
                                <SelectExt v-model="loaiTien.selected" :allowFiltering="true"
                                    data-text-field="ma_loaitien" data-value-field="loaitien_id"
                                    :dataSource="loaiTien.data" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="info-row">
                            <div class="key w120">Mức thuế</div>
                            <div class="value">
                                <vue-numeric class="form-control" :precision="2" :empty-value="0" maxlength="15"
                                    v-model="txtMucThue" :minus="false" :separator="','"></vue-numeric>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="info-row">
                            <div class="key w120">Loại tỷ giá</div>
                            <div class="value">
                                <SelectExt v-model="tyGia.selected" :allowFiltering="true"
                                    data-value-field="loaitygia_id" data-text-field="ten_loaitygia"
                                    :dataSource="tyGia.data" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="info-row">
                            <div class="key w120">Tỷ giá</div>
                            <div class="value">
                                <vue-numeric class="form-control" :precision="2" :empty-value="0" maxlength="15"
                                    v-model="txtTyGia" :minus="false" :separator="','" :disabled="!txtTyGiaEnable"></vue-numeric>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="info-row">
                            <div class="key w120">Số ngày kỳ cước</div>
                            <div class="value">
                                <SelectExt v-model="kyCuoc.selected" :allowFiltering="true" data-text-field="name"
                                    data-value-field="id" :dataSource="kyCuoc.data" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="info-row">
                            <div class="key w120">Ngân hàng</div>
                            <div class="value">
                                <SelectExt v-model="nganHang.selected" :allowFiltering="true" data-text-field="ten_nh"
                                    :disabled="!nganHang.enable" data-value-field="nganhang_id" :dataSource="nganHang.data" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-form">
            <div class="legend-title">Danh sách theo thuê bao</div>
            <DataGrid v-bind:columns="dsThueBao.headers" v-bind:dataSource="dsThueBao.data"
                @rowClicked="onThueBaoRowClick" :showColumnCheckbox="false" ref="refDsThueBao"
                @selectedItemsChanged="onThueBaoChangeSelected" :enable-paging-server="false" :allowPaging="true" :enableTooltip="false"
                :showFilter="true" :enabledSelectFirstRow="true">
            </DataGrid>
        </div>
    </div>
    </div>
</ejs-dialog>