<div>
    <div class="legend-title">Thông tin khuyến mại</div>
    <!-- <div class="info-row">

        <vue-select v-model="value.serviceTransportation" :required="true" :labelWidth="'120'"
            :options="listTelecomService" id="dichVuVT" labelField="NAME" valueField="ID" label="Dịch vụ VT">
        </vue-select>

    </div> -->
    <div class="info-row">
        <!-- <button @click="testClick">testClick</button> -->
        <!-- <vue-select :class="{ hasError: v.infoPromotion.dispatchNumber.$error }"  v-model="value.dispatchNumber" :required="true" :labelWidth="'120'" :options="listDispatchNo"
            id="dichVuVT" labelField="ten_cv" valueField="congvan_id" label="Số công văn">
        </vue-select> -->
        <div class="key w120">Số công văn</div>
        <div class="value">
            <select2 :class="{ hasError: v.infoPromotion.dispatchNumber.$error }" v-model="value.dispatchNumber" :required="true"
                :options="listDispatchNo">
            </select2>
        </div>
    </div>
    <div class="info-row">
        <vue-input :class="{ hasError: v.infoPromotion.namePrommotion.$error }" v-model="value.namePrommotion"
            :labelWidth="'120'" ref="tyLeThuCuoc" required label="Tên KM" :checkbox="false">
        </vue-input>
        <!-- <div class="key w120">Tên KM</div>
        <div class="value">
            <input type="text" class="form-control highlight" v-model="" />
        </div> -->
    </div>
    <div class="row">
        <div class="col-sm-7 col-12">
            <div class="info-row">
                <vue-select :class="{ hasError: v.infoPromotion.kindOfPromtion.$error }" v-model="value.kindOfPromtion"
                    :required="true" :labelWidth="'120'" :options="listKindOfPromtion" labelField="name" valueField="id"
                    label="Loại KM">
                </vue-select>

            </div>
        </div>
        <div class="col-sm-5 col-12">
            <div class="info-row">
                <vue-select :class="{ hasError: v.infoPromotion.promotionType.$error }" v-model="value.promotionType"
                    :required="true" :labelWidth="'70'" :options="listPromotionType" labelField="KIEU_KM"
                    valueField="KIEUKM_ID" label="Kiểu KM">
                </vue-select>

            </div>
        </div>
    </div>
    <div class="info-row">
        <vue-select label="KM kèm" :disable="value.promotionType == 2 ? false  : true"
            :class="{ hasError: checkKH ?  v.infoPromotion.accompanyingPromotion.$error : false }" :required="checkKH"
            labelWidth="120" :options="listAccompanyingPromotion" valueField="khuyenmai_id" labelField="ten_km"
            v-model="value.accompanyingPromotion" />
    </div>
    <div class="info-row">
        <!-- { hasError: checkKH ? v.infoPromotion.participationPromotion.$error : false } -->
        <!-- <vue-select :class="{ hasError: checkKH ? v.infoPromotion.participationPromotion.$error : false }"
            v-model="value.participationPromotion" :required="checkKH" :labelWidth="'120'"
            :options="listParticipationPromotion" id="serviceTransportation1" labelField="ten_km"
            valueField="khuyenmai_id" label="KM T.Gia">
        </vue-select> -->
        <div class="key w120">KM T.Gia</div>
        <div class="value">
            <select2 :class="{ hasError: checkKH ? v.infoPromotion.participationPromotion.$error : false }" 
                v-model="value.participationPromotion" :required="checkKH"
                :options="listParticipationPromotion">
            </select2>
        </div>
        <!-- <select3 :key="value.serviceTransportation" label="KM T.Gia" labelWidth="120"
            :options="listParticipationPromotion" valueField="khuyenmai_id" labelField="ten_km"
            v-model="value.participationPromotion" /> -->
    </div>
    <div class="row">
        <div class="col-sm-7 col-12">
            <!-- <vue-date v-model="value.dateFrom" :format="'DD/MM/YYYY'" :required="true" :labelWidth="'120'"
                label="Đến ngày">
            
            </vue-date> -->
            <div class="value">
                <div class="input-more-button -right">
                    <button :class="value.khuyenmai_id ? '' : 'disabled'" class="btn"
                        @click="() => { isDate = !isDate }">
                        <span class="-ap icon-more_horiz"></span>
                    </button>
                    <div class="input-icon-right">
                        <div class="info-row">
                            <div class="key w120">Từ ngày<span class="red"> *</span></div>
                            <div class="value">
                                <date-picker :class="{ dateError: v.infoPromotion.dateFrom.$error }" style="width: 100%"
                                    v-model="value.dateFrom" placeholder="dd/mm/yyyy" :formatter="momentFormat"
                                    valueType="format"></date-picker>
                            </div>
                        </div>

                        <!-- <vue-date v-model="value.dateFrom"
                            :format="'DD/MM/YYYY'"  :required="true" :labelWidth="'120'" label="Từ ngày">

                        </vue-date> -->
                    </div>
                </div>
            </div>
            <!-- <div class="info-row">
                <div class="key w120">Từ ngày</div>
              
            </div> -->
        </div>
        <div class="col-sm-5 col-12">
            <div class="info-row">
                <div class="key w20">Đến ngày<span class="red"> *</span></div>
                <div class="value">
                    <date-picker :class="{ dateError: v.infoPromotion.dateTo.$error }" style="width: 100%"
                        v-model="value.dateTo" placeholder="dd/mm/yyyy" :formatter="momentFormat" valueType="format">
                    </date-picker>
                </div>
            </div>
            <!-- <vue-date :class="{ hasError: v.infoPromotion.dateTo.$error }" v-model="value.dateTo" :format="'DD/MM/YYYY'"
                :required="true" :labelWidth="'70'" label="Đến ngày">
            </vue-date> -->

        </div>
    </div>

    <div class="info-row">
        <div class="key" style="width:125px;">Cam kết SD<span class="red"> *</span></div>

        <input :class="{ 'input-error': v.infoPromotion.commitmentUse.$error }" type="number"
            :oninput="value.commitmentUse != null && value.commitmentUse.length > this.max ? value.commitmentUse = value.commitmentUse.slice(0, max) : ''"
            :maxlength="max" class="form-control tright fw6 text" v-model="value.commitmentUse">
        <div class="value w30 nowrap padt7">
            (tháng)
        </div>
    </div>
    <div class="info-row">

        <vue-textarea :class="{ 'textarea-error': v.infoPromotion.content.$error}" id="content" :labelWidth="'120'"
            label="Nội dung" required height="120" v-model.trim="value.content">
        </vue-textarea>


    </div>
    <div class="info-row">


        <div class="key w120">
            <p>Ghi chú <span class="red"> *</span></p>
            <div class="item marb5">
                <div class="check-action">
                    <input type="checkbox" class="check" v-model="value.note.isShowAll" @change="$emit('chkHienThiTaCa_CheckedChanged')" />
                    <span class="name">Hiển thị tất cả</span>
                </div>
            </div>
            <div class="item marb5">
                <div class="check-action">
                    <input type="checkbox" class="check"
                        v-model="value.note.stillValidate" @change="$emit('chkConHL_CheckedChanged')" />
                    <span class="name">Còn hiệu lực</span>
                </div>
            </div>
        </div>
        <div class="value">
            <textarea class="form-control " :class="{ 'input-error': v.infoPromotion.noteContent.$error }"
                style="height: 130px;resize: none;" v-model="value.noteContent"></textarea>
        </div>
    </div>
    <DatePromotion v-if="isDate" :value="value" class="d-block" @close="() => { isDate = false; }" />

</div>