
.page-content {
  top: 82px !important;
  margin-bottom: 23px;
}

.main-title {
  flex-grow: 1 !important;
}

.disabled-btn {
  opacity: 0.5;
  background-color: white !important;
}

.btn-custom {
  cursor: pointer;
}

.input-container.tex-right input {
  text-align: right;
}
.input-container.hasError input {
  border: 1px solid #dc3545;
}
.dateError input {
  border: 1px solid #dc3545;
}
.input-error{
  border: 1px solid #dc3545;

}

.textarea-error textarea{
  border: 1px solid #dc3545;
  
}