.btn-branch-certificate {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  padding-inline: 10px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  color: #757676;
  line-height: 1;
  cursor: pointer;
  min-width: 62px;
}

.branch-detail-content {
  width: calc(36% - 48px);
}

.branch-detail-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.branch-detail-info .detail-item {
  display: flex;
  gap: 15px;
  font-size: 17px;
  color: #232323;
}

.branch-detail-info .detail-item .info-title {
  font-weight: 600;
  min-width: 63px;
}

.btn-branch-reservation {
  width: 100%;
  height: 46px;
  margin-top: 30px;
  background-color: var(--green-main);
  border-radius: 3px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.branch-hashtag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 20px;
  margin-top: 55px;
  padding-right: 70px;
  overflow-x: hidden;
}

.branch-hashtag-item {
  font-size: 17px;
  font-weight: 500;
  line-height: 1;
  color: var(--green-main);
  opacity: 0.25;
  border-bottom: 1px solid var(--green-main);
  cursor: pointer;
}

.branch-hashtag-item.active {
  opacity: 1;
  font-weight: 800;
}

.branch-hashtag-desc {
  margin-top: 45px;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 25px 35px 25px 30px;
}

.branch-hashtag-img {
  display: none;
}

.branch-hashtag-content {
  margin-top: 4px;
  line-height: 1.8;
  font-size: 18px;
  font-weight: 500;
  color: #272727;
}

.btn-learn-more {
  display: inline-block;
  margin-top: 18px;
  font-size: 11px;
  font-weight: 500;
  color: #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
  cursor: pointer;
  line-height: 1;
}

@media (max-width: 768px) {
  .sec {
    overflow: hidden;
    margin-bottom: 80px;
  }

  .branch-title {
    margin: 38px auto;
  }

  .branch-title > p:first-child {
    margin-bottom: 15px;
    font-size: 25px;
  }

  .branch-content-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .slider-container {
    width: 100%;
  }

  .slider-title {
    padding-top: 11px;
    font-size: 11px;
  }

  .branch-detail-info .detail-item .info-title {
    min-width: unset;
  }

  .branch-detail-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
  }

  .btn-branch-certificate {
    font-size: 11px;
    padding: 4px 8px;
    min-width: 49px;
  }

  .branch-detail-info .detail-item {
    font-size: 14px;
    gap: 13px;
  }

  .detail-item .btn-branch-certificate {
    height: 22px;
    width: 49px;
    font-size: 11px;
    margin-left: 8px;
    padding-inline: 6px;
    margin-top: 2px;
  }

  .btn-branch-reservation {
    margin-top: 40px;
  }

  .branch-detail-info .info-title {
    font-size: 13px;
  }

  .branch-hashtag-list {
    justify-content: center;
    align-items: center;
    margin-top: 47px;
    padding-right: 50px;
    padding-left: 50px;
    overflow-y: hidden;
  }

  .branch-hashtag-item {
    font-size: 14px;
  }

  .branch-hashtag-desc {
    padding: 0 16px;
    background-color: white;
    margin-top: 0;
  }

  .branch-hashtag-img {
    display: block;
    border-radius: 8px;
    margin-top: 33px;
    margin-bottom: 15px;
  }

  .branch-hashtag-content {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
  }

  .btn-learn-more {
    width: 63px;
    height: 12px;
    font-size: 11px;
    margin-top: 14px;
  }

  .chakra-modal__content-container {
    z-index: 1000000;
  }
}
