.text-purple {
    color: purple !important;
}
.text-red {
    color: red !important;
}
.text-blue {
    color: blue !important;
}
.background-red {
    background-color: red;
}
.background-lightgreen {
    background-color: lightgreen;
}