<ejs-dialog
  :enableResize='true'
  :allowDragging='true'
  :visible='false'
  :animationSettings='animationSettings'
  ref="dlgDSPhieuTraHuy"
  :header='"Danh sách phiếu trả - hủy"'
  showCloseIcon=true
  width='90%'
  :target='target'
  :close="onDialogClose"
  :open="onDialogOpen"
>
<div class="modal-content popup-box">
  <div class="list-actions-top">
    <ul class="list">
      <li>
        <a href="#" v-on:click.prevent="doSearch()"><span class="icon one-file-attach1"></span> Lấy danh sách</a>
      </li>
      <li>
        <a href="#" v-on:click.prevent="doPrint()"><span class="icon one-print"></span>In phiếu thu</a>
      </li>
      <li>
        <a href="#" v-on:click.prevent="doDelete()"><span class="icon one-trash"></span>Xoá phiếu</a>
      </li>
      <li>
        <a href="#" v-on:click.prevent="closeDialog()">
          <span class="icon one-export"></span> Thoát
        </a>
      </li>
    </ul>
  </div>
  <div class="popup-body">
      <div class="box-form">
          <div class="pull-right">
              <div class="inline">
                  <div class="info-row marb0">
                      <div class="key fw6 w80 nowrap">Ngày thanh toán</div>
                      <div class="value">
                        <ejs-datepicker
                          v-model="p_ngay_ttoan"
                          :value="dateConfig.value"
                          :format="dateConfig.format"
                          :allowEdit=false
                          :showClearButton=false
                          >
                        </ejs-datepicker>
                      </div>
                  </div>
              </div>
          </div>
          <div class="clearfix"></div>
      </div>
      <div class="box-form">
          <div class="legend-title">Danh sách phiếu trả</div>
          <div class="table-content mart10">
            <DataGrid
              v-bind:columns="[
                {fieldName: 'PHIEU_ID', visible: false},
                {fieldName: 'PHIEU', headerText: 'Phiếu', allowFiltering: true},
                {fieldName: 'MA_TT', headerText: 'Mã TT', allowFiltering: true},
                {fieldName: 'TEN_TT', headerText: 'Tên khách hàng', allowFiltering: true},
                {fieldName: 'VIETTAT', headerText: 'Loại tiền', allowFiltering: true},
                {fieldName: 'NGAY_TT', headerText: 'Ngày thanh toán', allowFiltering: true},
                {fieldName: 'NOTIEN', headerText: 'Tiền trả', allowFiltering: true, type:'number', format:'N0'},
                ]"
              v-bind:dataSource="dsPhieuTra"
              :showFilter="true"
              :allowPaging="true"
              :totalRecords="pageinfoPhieuTra.totalElement"
              :pageSize="pageinfoPhieuTra.maxSize"
              :pageIndex="pageinfoPhieuTra.page"
              :panelDataHeight='"100"'
              :key="keyPhieuTra"
              ref="refPhieuTra"
              >
            </DataGrid>
          </div>
      </div>
      <div class="box-form">
          <div class="legend-title">Danh sách phiếu trả theo thu ngân</div>
          <div class="table-content mart10">
            <DataGrid
              v-bind:columns="[
                {fieldName: 'MA_TN', headerText: 'Mã thu ngân', allowFiltering: true},
                {fieldName: 'TEN_NV', headerText: 'Tên thu ngân', allowFiltering: true},
                {fieldName: 'LOAITIEN', headerText: 'Loại tiền', allowFiltering: true},
                {fieldName: 'TONGTIEN', headerText: 'Tổng tiền', allowFiltering: true, type:'number', format:'N0'},
                ]"
              v-bind:dataSource="dsPhieuTheoThuNgan"
              :showFilter="true"
              :allowPaging="true"
              :totalRecords="pageinfoThuNgan.totalElement"
              :pageSize="pageinfoThuNgan.maxSize"
              :pageIndex="pageinfoThuNgan.page"
              :panelDataHeight='"100"'
              :key="keyPhieuTheoThuNgan"
              >
            </DataGrid>
          </div>
      </div>
      <div class="box-form">
          <div class="legend-title">Danh sách phiếu huỷ</div>
          <div class="table-content mart10">
            <DataGrid
              v-bind:columns="[
                {fieldName: 'PHIEU', headerText: 'Phiếu', allowFiltering: true},
                {fieldName: 'MA_TT', headerText: 'Mã TT', allowFiltering: true},
                {fieldName: 'TEN_TT', headerText: 'Tên TT', allowFiltering: true},
                {fieldName: 'VIETTAT', headerText: 'Loại tiền', allowFiltering: true},
                {fieldName: 'NGAY_TT', headerText: 'Ngày thanh toán', allowFiltering: true},
                {fieldName: 'NGAYHUY', headerText: 'Ngày hủy', allowFiltering: true},
                {fieldName: 'SOTIENHUY', headerText: 'Tiền hủy', allowFiltering: true, type:'number', format:'N0'},
                ]"
              v-bind:dataSource="dsPhieuHuy" :showFilter="true"
              :allowPaging="true"
              :totalRecords="pageinfoPhieuHuy.totalElement"
              :pageSize="pageinfoPhieuHuy.maxSize"
              :pageIndex="pageinfoPhieuHuy.page"
              :panelDataHeight='"150"'
              :key="keyPhieuHuy"
              >
            </DataGrid>
          </div>
      </div>
  </div>
</div>
</ejs-dialog>
