<div>
    <div class="legend-title d-flex justify-content-between align-items-center mx-3 mb-0">
        Vị trí lắp đặt 
        <button class="btn btn-primary px-3 bg-button">Lắp đặt trên sơ đồ</button>
    </div>
    <div class="container-fluid p-5">
        <div class="row pb-4">
            <div class="col row align-items-center">
                <label class="col-3 fw-normal mb-0 pe-0 text-dark">Đơn vị IDC <span class="red">(*)</span></label>
                <select2 class="col-7 ps-0" :options="dsDonViIDCHienThi" v-model="viTriLapDat.donViQLyId" 
                    :disabled="currentMode == 'VIEW'">
                </select2>
            </div>
            <div class="col row align-items-center">
                <div class="col-1"></div>
                <label class="col-3 fw-normal mb-0 pe-0 text-dark">IDC đặt thiết bị <span class="red">(*)</span></label>
                <select2 class="col-7" :options="dsIDCHienThi" v-model="viTriLapDat.idcId"
                    :disabled="currentMode == 'VIEW'">
                </select2>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col row align-items-center">
                <label class="col-3 fw-normal mb-0 pe-0 text-dark">Tòa nhà <span class="red">(*)</span></label>
                <select2 class="col-7 ps-0" :options="dsToaNhaHienThi" v-model="viTriLapDat.toaNhaId"
                    :disabled="currentMode == 'VIEW'"> </select2>
            </div>
            <div class="col row align-items-center">
                <div class="col-1"></div>
                <label class="col-3 fw-normal mb-0 pe-0 text-dark">Mặt sàn <span class="red">(*)</span></label>
                <select2 class="col-7 ps-0" :options="dsMatSanHienThi" v-model="viTriLapDat.matSanId"
                    :disabled="currentMode == 'VIEW'"> 
                </select2>
            </div>
        </div>
        <div class="row">
            <div class="col row align-items-center">
                <label class="col-3 fw-normal mb-0 pe-0 text-dark">Phòng/zone</label>
                <select2 class="col-7 ps-0" :options="dsPhongZoneHienThi" v-model="viTriLapDat.phongId"
                    :disabled="currentMode == 'VIEW'"></select2>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
