.btn-second {
  border-color: #0d6efd;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background: #fff;
  color: #0176ff !important;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: white !important;
  opacity: 1;
}
.invalid {
  color: lightgray;
}
input:focus:invalid {
  border-color: red;
  background-color: lightcoral;
}
input:focus:valid {
  border-color: black;
  // background-color: greenyellow;
}
a.disabled {
  pointer-events: none;
  color: #ccc !important;
}
.mx-datepicker {
  width: 100% !important;
}
.mx-icon-calendar {
  font-style: normal !important;
}
.breadcrumb-top .breadcrumb {
  position: absolute;
  right: 15px;
}
.disabled {
  pointer-events: none;
  color: lightgray;
  border-color: lightgray;
  
}
input.disabled,
select.disabled,
.disabled input,
.disabled select,
.disabled .btn,
.disabled /deep/ .select2-selection,
.disabled /deep/ .mx-input-wrapper input,
.disabled /deep/ .mx-input-wrapper input.mx-input,
.disabled .mx-input-wrapper input.mx-input,
.disabled .mx-input-wrapper .mx-input,
/deep/ .disabled .mx-input-wrapper .mx-input
{
  background-color: #eee !important;
  color: lightgray;
  border-color: lightgray;
}