#danhsach-congviec-idc {
  .info-row {
    display: flex;
    align-items: center;

    .key {
      min-width: 150px;
    }

    .value {
      flex: 1;
    }
  }

  .e-grid .e-rowcell {
    &.phoi-hop-thuc-hien {
      white-space: pre-line !important;
      word-wrap: break-word !important;
      overflow-wrap: break-word !important;
    }
  }
}
