<div class="modal-wrapper">
  <div class="list-actions-top">
    <ul class="list">
      <li>
          <a  href="#" v-on:click.prevent="exportExcel('xlsx')"
          id="dropdownMenuButton" data-toggle="dropdown">
          <span class="icon one-download"></span>Xuất file
        </a>
      </li>
      <li>
          <a href="#" v-on:click.prevent="viewData">
            <span class="icon one-file-attach1"></span>Xem dữ liệu
          </a>
      </li>
    </ul>
  </div>
  <div class="page-content">
    <div class="row">
        <div class="col-md-4">
          <div class="text-line">
            <span class="fw-600">Cấu trúc bảng dữ liệu</span>
          </div>
          <div class="col-content">
            <table class="table-result table-gachle">
              <thead>
                <tr>
                  <th style="width: 5%" class="text-center"></th>
                  <th>Tên cột</th>
                  <th style="width: 15%" class="text-center"></th>
                </tr>
              </thead>
             <tbody>
               <tr v-for="col in colums">
                 <td>
                    <div class="check-action">
                      <input type="checkbox" class="check"><span class="name"></span>
                    </div>
                 </td>
                 <td>
                   {{col.fieldName}}
                 </td>
                 <td>
                   <button class="btn btn-secondary btn-danger" @click="removeItem(col)">
                     <span class="icon nc-icon-glyph ui-1_circle-remove"></span>
                    </button>
                 </td>
                </tr>
             </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4 pr-0">
              <div class="text-line">
                <span class="fw-600 ">Xem trước dữ liệu</span>
              </div>
            </div>
            <div class="col-md-8 d-inline-flex pl-1">
              <div class="check-action">
                <input type="checkbox" v-model="isDataConvert" name="language" id="language" class="check"><span class="name"></span>
              </div>
              <!-- <input type="checkbox" v-model="isDataConvert" name="language" id="language" class="check mr-1" value="512119"> -->
              <div class="text-line">
                <label for="language" class="mb-0 no-line">Xuất dữ liệu tiếng việt không dấu</label>
              </div>
            </div>
          </div>
          <div class="col-content modified">
            <DataGrid v-bind:columns="previewColumn"
            v-bind:dataSource="previewData" :showFilter="true"
            :showColumnCheckbox="false" :allowPaging="true" :enablePagingServer="false">
          </DataGrid>
          </div>
        </div>
    </div>
  </div>
</div>
