.e-input-group .e-input-group-icon:last-child, .e-input-group.e-control-wrapper .e-input-group-icon:last-child{
  border-left: none!important
}
.e-icons{
  font-family: 'one' !important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.e-date-icon:before{
  content:'\e90f'!important;
}
>>> .tien-tra {
  color: red !important;
  text-align: right;
}