<div>
  <div class="list-actions-top">
    <ul class="list">
      <li>
        <b-link href="javascript:void(0)" @click="onSearch"> <span class="icon one-search"></span>Tìm kiếm </b-link>
      </li>
      <li>
        <b-link href="javascript:void(0)" @click="onAddNew" :disabled="!buttons.btnAddNew.enabled">
          <span class="icon one-file-plus"></span>Nhập mới
        </b-link>
      </li>
    </ul>
  </div>
  <div class="page-content">
    <div class="row">
      <div class="box-form">
        <div class="legend-title">Tìm kiếm hệ thống thiết bị</div>
        <div class="row">
          <div class="col-sm-6 col-12">
            <div class="info-row">
              <div class="key w130">Sở hữu thiết bị <bss-required-marker /></div>
              <div class="value">
                <SelectExt v-model="isNoiBo" @change="onChangeSoHuuThietBi" dataTextField="TEN" dataValueField="ID"
                  :dataSource="[...soHuuThietBiList]" placeholder="Chọn Sở hữu thiết bị" />
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div class="info-row">
              <div class="key w130">Phạm vi IDC <bss-required-marker /></div>
              <div class="value">
                <SelectExt v-model="searchForm.idc" dataTextField="TEN" dataValueField="ID" :dataSource="idcList"
                  placeholder="Chọn Phạm vi IDC" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-12">
            <div class="info-row">
              <div class="key w130">ID Hệ thống</div>
              <div class="value">
                <input v-model.trim="searchForm.idHeThong" type="text" class="form-control"
                  placeholder="Nhập ID hệ thống" />
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div class="info-row">
              <div class="key w130">Tên hệ thống</div>
              <div class="value">
                <input v-model.trim="searchForm.tenHeThong" type="text" class="form-control"
                  placeholder="Nhập tên hệ thống" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-12">
            <div class="info-row">
              <div class="key w130">Trạng thái vận hành</div>
              <div class="value">
                <SelectExt v-model="searchForm.trangThaiVanHanh" dataTextField="TEN" dataValueField="ID"
                  :dataSource="trangThaiVanHanhList" placeholder="Chọn trạng thái vận hành" />
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div class="info-row">
              <div class="key w130">Mảng thiết bị</div>
              <div class="value">
                <SelectExt v-model="searchForm.mangThietBi" dataTextField="TEN" dataValueField="ID"
                  :dataSource="mangThietBiList" placeholder="Chọn mảng thiết bị" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="box-form">
        <div class="row">
          <div class="legend-title d-flex justify-content-between align-items-center">
            Danh sách hệ thống thiết bị
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <DataGrid ref="grdItems" :allowPaging="true" :enablePagingServer="false" :showColumnCheckbox="false"
              :dataSource="listHeThongThietBi" v-bind:columns="[
                                {fieldName: 'HETHONGTBI_ID', headerText: 'ID', textAlign: 'Left', width: 30},
                                {fieldName: 'TEN', headerText: 'Tên hệ thống', textAlign: 'Left', width: 250},
                                {fieldName: 'MANG_THIETBI', headerText: 'Mảng thiết bị', textAlign: 'Left', width: 50},
                                {fieldName: 'IDC', headerText: 'IDC', textAlign: 'Left', width: 120, template: colIDCTemplate()},
                                {fieldName: 'TRANG_THAI_VAN_HANH', headerText: 'Trạng thái vận hành', textAlign: 'Left', width: 80, template: colTrangThaiVanHanhTemplate()},
                                {fieldName: 'ACTIONS', headerText: 'Thao tác', textAlign: 'Center', template: acctionColumn(this), width: 100},
                                ]" :enabledSelectFirstRow="true" @detailDataBound="onDetailDataBound">
            </DataGrid>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Chi tiết Hệ thống -->
  <ModalChiTietHeThong ref="ModalChiTietHeThong" @refreshData="onRefreshData" />
</div>