<div>
  <div v-if="parentId"
    class="list-actions-top">
    <ul class="list">
      <li>
        <a style="cursor: pointer;" href="javascript:;" @click="onClickGhiLai" :class="{'disabled': mode === 'VIEW'}">
          <span class="icon one-save"></span> Ghi lại
        </a>
      </li>
      </li>
      <li>
        <a class="pointer" @click="onClickHuy" :class="{ 'disabled': mode === 'VIEW' || mode === 'EDIT' }">
          <span class="icon nc-icon-glyph ui-1_circle-remove"></span> Hủy bỏ
        </a>
      </li>
    </ul>
  </div>

  <div class="row">
      <!-- Thông tin IDC -->
      <div class="row">
        <div class="col-12">
          <div class="box-form">
            <div class="row">
              <div class="legend-title">Thông tin IDC</div>
            </div>
    
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="col-sm-4 key">ID IDC<span class="red">*</span></div>
                  <div class="col-sm-8 value">
                    <input
                      type="number"
                      class="form-control"
                      :class="controls.id.invalid ? 'is-invalid' : ''"
                      disabled="true"
                      v-model="currentItem.id"
                    />
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="col-sm-4 key">Hiệu lực</div>
                  <div class="col-sm-8 value padt4">
                    <div class="check-action">
                      <input
                        type="checkbox"
                        class="check"
                        :disabled="!controls.suDung.enabled"
                        v-model="currentItem.suDung"
                        :true-value="1"
                        :false-value="0"
                      /><span class="name"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="col-sm-4 key">Tên IDC <span class="red">*</span></div>
                  <div class="col-sm-8 value">
                    <input
                      type="text"
                      class="form-control"
                      :class="controls.ten.invalid ? 'is-invalid' : ''"
                      :disabled="!controls.ten.enabled"
                      v-model="currentItem.ten"
                    />
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="col-sm-4 key">Tên tắt IDC <span class="red">*</span></div>
                  <div class="col-sm-8 value">
                    <input
                      type="text"
                      class="form-control"
                      :class="controls.tenTat.invalid ? 'is-invalid' : ''"
                      :disabled="!controls.tenTat.enabled"
                      v-model="currentItem.tenTat"
                    />
                  </div>
                </div>
              </div>
            </div>
    
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="col-sm-4 key">Thời điểm đưa vào vận hành</div>
                  <div class="col-sm-8 value">
                    <div class="date-picker">
                      <ejs-datepicker
                        ref="thoiDiemVanHanhPicker"
                        v-model="currentItem.thoiDiemVanHanh"
                        :enabled="isEnabled('thoiDiemVanHanh')"
                        :cssClass="isInvalid('thoiDiemVanHanh') ? 'e-error' : ''"
                        :allowEdit="true"
                        :strictMode="false"
                        format="dd/MM/yyyy"
                      >
                      </ejs-datepicker>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="col-sm-4 key">Trạng thái vận hành tòa nhà</div>
                  <div class="col-sm-8 value">
                    <SelectExt
                      v-model="currentItem.trangThaiVanHanh"
                      :disabled="!isEnabled('trangThaiVanHanh')"
                      :class="isInvalid('trangThaiVanHanh') ? 'invalidBox' : ''"
                      :dataSource="listTrangThaiVanHanh"
                      dataTextField="text"
                      dataValueField="id"
                      :placeholder="'Chọn trạng thái'"
                    >
                    </SelectExt>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="col-sm-4 key">Diện tích tổng thể (m2)</div>
                  <div class="col-sm-8 value">
                    <input
                      type="number"
                      class="form-control"
                      :class="isInvalid('dienTichTongThe') ? 'is-invalid' : ''"
                      :disabled="!isEnabled('dienTichTongThe')"
                      v-model="currentItem.dienTichTongThe"
                      min="0"
                    />
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="col-sm-4 key">Diện tích các phòng máy (m2)</div>
                  <div class="col-sm-8 value">
                    <input type="number" class="form-control" :disabled="true" v-model="currentItem.tongDienTichPhongMay" />
                  </div>
                </div>
              </div>
            </div>
    
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="col-sm-4 key">Ảnh đại diện</div>
                  <div class="col-sm-8 value">
                    <ImageSelector
                      ref="ImageSelector"
                      v-model="currentItem.anhDaiDien"
                      :disabled="!isEnabled('anhDaiDien')"
                      @file-selected="handleImageSelected"
                      @file-cleared="handleImageCleared"
                      @file-uploaded="handleImageUploaded"
                    />
                  </div>
                </div>
              </div>
            </div>
    
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="col-sm-4 key">Ghi chú</div>
                  <div class="col-sm-8 value">
                    <input
                      type="text"
                      class="form-control"
                      :class="isInvalid('ghiChu') ? 'is-invalid' : ''"
                      :disabled="!isEnabled('ghiChu')"
                      v-model="currentItem.ghiChu"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Vị trí IDC -->
      <div class="row">
        <div class="col-12">
          <div class="box-form">
            <div class="row">
              <div class="legend-title">Vị trí IDC</div>
            </div>
    
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="col-sm-4 key">Đơn vị IDC <span class="red">*</span></div>
                  <div class="col-sm-8 value">
                    <SelectExt
                      v-model="currentItem.idDonVi"
                      :disabled="!isEnabled('idDonVi')"
                      :class="isInvalid('idDonVi') ? 'invalidBox' : ''"
                      :dataSource="listDonViIDC"
                      dataTextField="text"
                      dataValueField="id"
                      :placeholder="'IDC Miền Bắc / IDC Miền Trung / IDC Miền Nam'"
                    >
                    </SelectExt>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="col-sm-4 key">Địa chỉ IDC <span class="red">*</span></div>
                  <div class="col-sm-8 value">
                    <input
                      type="text"
                      class="form-control"
                      :class="isInvalid('diaChi') ? 'is-invalid' : ''"
                      :disabled="!isEnabled('diaChi')"
                      v-model="currentItem.diaChi"
                    />
                  </div>
                </div>
              </div>
            </div>
    
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="col-sm-4 key">Tọa độ X:</div>
                  <div class="col-sm-8 value">
                    <input
                      type="number"
                      class="form-control"
                      :class="isInvalid('toaDoX') ? 'is-invalid' : ''"
                      :disabled="!isEnabled('toaDoX')"
                      v-model="currentItem.toaDoX"
                    />
                  </div>
                </div>
              </div>
    
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="col-sm-4 key">Tọa độ Y</div>
                  <div class="col-sm-8 value">
                    <input
                      type="number"
                      class="form-control"
                      :class="isInvalid('toaDoY') ? 'is-invalid' : ''"
                      :disabled="!isEnabled('toaDoY')"
                      v-model="currentItem.toaDoY"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Năng lực điện/ không gian -->
      <div class="row">
        <div class="col-12">
          <div class="box-form">
            <div class="row">
              <!-- Năng lực không gian -->
              <div class="col-6">
                <div class="row">
                  <div class="legend-title">Năng lực lưu trữ</div>
                </div>
      
                <div class="row">
                  <div class="col-12">
                    <div class="info-row">
                      <div class="col-sm-4 key">Rack thiết kế</div>
                      <div class="col-sm-8 value">
                        <input
                          type="number"
                          class="form-control"
                          :disabled="true"
                          v-model="currentItem.tongSoLuongRackThietKe"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="info-row">
                      <div class="col-sm-4 key">Rack đã lắp đặt</div>
                      <div class="col-sm-8 value">
                        <input
                          type="number"
                          class="form-control"
                          :disabled="true"
                          v-model="currentItem.tongSoLuongRackLapDat"
                        />
                      </div>
                    </div>
                  </div>
                </div>
      
                <div class="row">
                  <div class="col-12">
                    <div class="info-row">
                      <div class="col-sm-4 key">Rack có thể lắp đặt</div>
                      <div class="col-sm-8 value">
                        <input
                          type="number"
                          class="form-control"
                          :disabled="true"
                          v-model="currentItem.tongSoLuongRackConLai"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
              <!-- Năng lực điện -->
              <div class="col-6">
                <div class="row">
                  <div class="legend-title">Năng lực điện lưới</div>
                </div>
      
                <div class="row">
                  <div class="col-12">
                    <div class="info-row">
                      <div class="col-sm-4 key">Công suất định danh (W)</div>
                      <div class="col-sm-8 value">
                        <input type="number" class="form-control" :disabled="true" v-model="currentItem.congSuatDinhDanh" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Thuộc tính bổ sung -->
      <div class="row">
        <div class="col-12">
          <div class="box-form">
            <AttributeGrid ref="attributeGrid" :idcId="currentItem.id"></AttributeGrid>
          </div>
        </div>
      </div>
  
  </div>
</div>

