<b-modal ref="modalWarpper" size="m" body-class="p-0" centered scrollable hide-footer hide-header>
  <div class="modal-content popup-box">
    <div class="list-actions-top">
      <ul class="list">
        <li>
          <a class="upload-button">
            <span class="icon one-file-plus"></span> Thêm ảnh
            <input type="file" accept="image/*" class="file" ref="file" v-on:change="uploadImage" multiple />
          </a>
        </li>
        <li>
          <a @click="CapNhatBnt"> <span class="icon one-save"></span> Cập nhật </a>
        </li>
        <!-- <li>
          <a @click="XoaBnt"> <span class="icon one-trash"></span> Xóa </a>
        </li> -->
        <li>
          <a @click="HuyBnt"> <span class="icon nc-icon-glyph ui-1_circle-remove"></span> Hủy </a>
        </li>
      </ul>
    </div>
    <div class="popup-body">
      <div class="box-form">
        <div class="grid">
          <div v-for="(image,i) in images" :key="i" class="thumbnail">
            <button class="closeBnt icon nc-icon-glyph ui-1_circle-remove" v-on:click="removeImage(i)"></button>
            <img :src="image.file_url" />
          </div>
        </div>
      </div>
    </div>
  </div>
</b-modal>
