<!-- showCloseIcon="true" :header="'Nhập thông tin'" -->
<ejs-dialog
    :enableResize="true"
    :allowDragging="true"
    :visible="false"
    ref="dlgHoSoGoc"
    :animationSettings="animationSettings"
    width="80%"
    :target="target"
    :isModal="true"
    :showCloseIcon="true"
    header='<div class="title"> <span class="icon one-notepad"></span> Quản lý hồ sơ gốc xử lý nợ </div>'
    :close="reset"
>
    <div class="list-actions-top">
        <ul class="list">
            <li>
                <a class="pointer" @click="btnLayDS">
                    <span class="icon one-file-attach1"></span> Lấy DS
                </a>
            </li>
            <li>
                <a class="pointer" @click="btnGhiLai">
                    <span class="icon one-save"></span> Ghi lại
                </a>
            </li>
            <li>
                <a class="pointer" @click="btnExportExcel">
                    <span class="icon one-xlsx-import"></span> Xuất Excel
                </a>
            </li>
        </ul>
    </div>
    <div class="popup-body">
        <div class="info-row">
            <div class="key w60">Mã KH</div>
            <div class="value">
                <input
                    type="text"
                    class="form-control"
                    v-model="txtMaKH"
                    @keyup.enter="txtMaKHEnter"
                />
            </div>
        </div>
        <div class="box-form">
            <div class="legend-title">Danh sách thuê bao</div>
            <DataGrid
                ref="dtgridDSTB"
                :dataSource="grid_Dsthuebao"
                @selectedItemsChanged="selectedItemsChangedDSTB"
                :showColumnCheckbox="true"
                :columns="grid_DsthuebaoCollumn"
                dataKeyField="KEY"
                :allowPaging="true"
                :enablePagingServer="false"
            ></DataGrid>
        </div>
    </div>
</ejs-dialog>
