<div>
    <vue-bread-crumb :header="header" />
    <vue-nav>
      <ul class="list">
        <li>
          <a @click="getDanhsachThuebao(false)">
            <span class="icon one-file-attach"></span> Lấy TT (F5)
          </a>
        </li>
        <li>
          <a @click="capnhat()">
            <span class="icon one-reload1"></span> Cập nhật (F9)
          </a>
        </li>
        <li ref="tsbtnGiaoViec">
          <a @click="giaoviec()">
            <span class="icon one-file-arrow-right1"></span> Giao việc
          </a>
        </li>
        <li ref="tsbtnGiaoPhieu">
          <a @click="giaophieu()">
            <span class="icon one-file-arrow-right1"></span> Giao phiếu
          </a>
        </li>
        <li ref="tsbtnKichHoat" :class="!visiable.kichhoat ? 'non-ative' : ''">
          <a @click="kichhoat()">
            <span class="icon one-file-arrow-up"></span> Kích hoạt
          </a>
        </li>
        <li >
          <a ref="tsbtnHuyKH" @click="huykichhoat()">
            <span class="icon nc-icon-glyph ui-1_circle-remove"></span> Hủy kích
            hoạt
          </a>
        </li>
        <li>
          <a ref="tsbtnDauNoiCap" @click="daunoi()">
            <span class="icon one-connect"></span>Đấu nối
          </a>
        </li>
        <li>
          <a>
            <span class="icon one-xlsx-import"></span>Xuất phiếu
          </a>
        </li>
        <li>
          <a @click="chuyento()">
            <span class="icon one-change"></span>Chuyển tổ
          </a>
        </li>
        <li ref="tsbtnTraPhieu" @click="showModalTraphieu = true">
          <a>
            <span class="icon one-file-back"></span>Trả phiếu
          </a>
        </li>
        <li>
          <a ref="tsbtnHoanCong" @click="hoancong()">
            <span class="dropdown-icon one-hoancong"></span> Hoàn công
          </a>
        </li>
        <li>
          <a @click="gankhuvuc()">
            <span class="dropdown-icon one-gankv"></span> Gán khu vực
          </a>
        </li>
      </ul>
      <div class="more dropdown">
        <a href="#" data-toggle="dropdown">
          <span class="icon -ap icon-dots-three-vertical"></span>
        </a>
        <div class="dropdown-menu ovauto" style="max-height: 300px">
          <a ref="btnPhieuTC">
            <span class="dropdown-icon one-sync"></span> Phiếu thi công
          </a>
          <a href="#">
            <span class="dropdown-icon one-sync"></span> Đổi cổng
          </a>
          <a ref="tsbtnVatTu" @click="tsbtnVatTu_Click">
            <span class="dropdown-icon one-vt"></span> Vật tư
          </a>
          <a ref="tsbtnVatTuMoi" @click="tsbtnVatTu_Click">
            <span class="dropdown-icon one-vt"></span> Vật tư
          </a>
          <a href="#">
            <span class="dropdown-icon one-download"></span> Xuất file
          </a>
          <a href="#">
            <span class="dropdown-icon one-henld"></span> Hẹn LĐ
          </a>
          <a href="#">
            <span class="dropdown-icon nc-icon-glyph ui-1_settings"></span>
            thông số KT
          </a>
          <a href="#">
            <span class="dropdown-icon -ap icon-pin"></span> Gán KV
          </a>
          <a href="#">
            <span class="dropdown-icon one-calendar-number"></span> Tồn phiếu
          </a>
          <a href="#">
            <span class="dropdown-icon one-file-edit2"></span> Giao việc
          </a>
          <a href="#">
            <span class="dropdown-icon one-location-ip"></span> IP LAN, WAN
          </a>
          <a href="#">
            <span class="dropdown-icon one-path"></span> Hướng KN
          </a>
          <a href="#">
            <span class="dropdown-icon one-file-arrow-right1"></span> Giao phiếu
          </a>
          <a ref="tsbtnDuAn" @click="tsbtnDuAn_Click">
            <span class="dropdown-icon one-clipart-edit"></span> Dự án
          </a>
          <a href="#">
            <span class="dropdown-icon one-clipart-arrow-right"></span> Show
            Port
          </a>
          <a href="#">
            <span class="dropdown-icon nc-icon-glyph arrows-1_simple-up"></span>
            Test port
          </a>
          <a href="#">
            <span class="dropdown-icon one-file-visa"></span> Tra cứu VISA
          </a>
          <a href="#">
            <span class="dropdown-icon ui-1_lock nc-icon-glyph"></span> Tra cứu
            OneMesh
          </a>
          <a href="#">
            <span class="dropdown-icon ui-1_lock nc-icon-glyph"></span> Xem MK
          </a>
          <a ref="tsbtnKQ_DoKiem" @click="tsbtnKQ_DoKiem_Click">
            <span class="dropdown-icon nc-icon-glyph design_design"></span> Đo
            kiểm
          </a>
          <a @click="tsbtnSua_KenhThu_Click" ref="tsbtnSua_KenhThu">
            <span class="dropdown-icon nc-icon-glyph ui-1_edit-74"></span> Sửa
            kênh thu
          </a>
          <a href="#">
            <span class="dropdown-icon one-building"></span> Toà nhà
          </a>
          <a href="#">
            <span class="dropdown-icon one-file-arrow-right"></span> Chuyển VMP
          </a>
          <a href="#">
            <span class="dropdown-icon one-file-half"></span>Giao phiếu phối hợp
          </a>
          <a href="#">
            <span class="dropdown-icon one-apartment"></span> Cơ sở hạ tầng
          </a>
          <a href="#">
            <span class="dropdown-icon one-clipart-edit"></span> Nạp tiến trình
          </a>
          <a href="#">
            <span class="dropdown-icon one-upload"></span> Upload hồ sơ
          </a>
          <a href="#">
            <span class="dropdown-icon one-upload"></span> Upload file
          </a>
          <a href="#">
            <span class="dropdown-icon one-mobile-plus"></span> Gửi YC
          </a>
          <a ref="tsbtnHoanThanh" @click="tsbtnHoanThanh_Click">
            <span class="dropdown-icon one-file-check"></span> Hoàn thành
          </a>
          <a @click="tsbtnHoanThienHS_Click" ref="tsbtnHoanThienHS">
            <span class="dropdown-icon one-file-check"></span> Hoàn thiện
          </a>
          <a @click="tsbtnGiaoViec_KBB_Click" ref="tsbtnGiaoViec_KBB">
            <span class="dropdown-icon one-file-check"></span> Giao việc
          </a>
          <a @click="hoancong()">
            <span class="dropdown-icon one-hoancong"></span> Hoàn công
          </a>
        </div>
      </div>
    </vue-nav>
    <div class="page-content">
      <form @submit.prevent="preventSubmit" id="form-element">
        <vue-card>
          <b-row>
            <b-col md="1"></b-col>
            <vue-element labelWidth="80" label="NV tiếp thị" class="col-md-3">
              <ejs-textbox name="nvtiepthi" v-model="model.ten_ctv"></ejs-textbox>
            </vue-element>
            <vue-element labelWidth="60" label="Kiểu HĐ" class="col-md-3">
              <ejs-dropdownlist
                v-model="kieuhd_id"
                :dataSource="options.kieu_hd"
                :enabled="false"
                popupWidth="auto"
                :fields="{ value: 'kieuhd_id', text: 'kieu_hd' }"
              />
            </vue-element>
            <vue-element labelWidth="60" label="Kênh thu" class="col-md-3">
              <ejs-dropdownlist
                locale="vi-VN"
                v-model="kenhthu_id"
                :enabled="false"
                :dataSource="options.kenhthu"
                popupWidth="auto"
                :fields="{ value: 'kenhthu_id', text: 'kenhthu' }"
              />
            </vue-element>
            <vue-element labelWidth="70" label="Tổng tiền" class="col-md-2">
              <ejs-textbox
                class="e-control e-textbox e-lib e-input tongtien_input"
                v-model="tongtien"
              ></ejs-textbox>
            </vue-element>
          </b-row>
        </vue-card>
        <vue-card>
          <div class="legend-title">
            <div class="pull-left">
              <span class="icon fa fa-angle-up"></span> Thông tin khách hàng
            </div>
            <div class="pull-right">
              <div class="check-action normal">
                <input v-model="model.giohen_tu" type="checkbox" class="check" />
                <span class="name">Lắp đặt theo yêu cầu</span>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <b-row>
            <div class="col-md-12">
              <b-row>
                <vue-element label="Loại HĐ/PL" class="col-md-3">
                  <ejs-dropdownlist
                    locale="vi-VN"
                    v-model="loaihd_id"
                    :dataSource="options.loai_hd"
                    popupWidth="auto"
                    :fields="{ value: 'loaihd_id', text: 'ten_loaihd' }"
                  />
                </vue-element>
                <vue-element label="Quy trình" class="col-md-3">
                  <ejs-dropdownlist
                    locale="vi-VN"
                    v-model="model.quytrinh"
                    @change="cboQuyTrinh_change"
                    popupWidth="auto"
                    :dataSource="list_quytrinh_unique"
                    :allowFiltering="true"
                    :fields="{ value: 'quytrinh_id', text: 'quytrinh' }"
                  />
                </vue-element>
                <vue-element label="Tên thuê bao" class="col-md-4">
                  <ejs-textbox cssClass="font-weight-bold" v-model="model.ten_tb"></ejs-textbox>
                </vue-element>
                <vue-element label="Khu vực" class="col-md-2">
                  <ejs-textbox cssClass="font-weight-bold" v-model="model.ten_kv"></ejs-textbox>
                </vue-element>
                <vue-input
                  labelWidth="100"
                  highlight
                  class="col-md-3 magiaodich_input"
                  label="Mã giao dịch"
                  @enter="getDanhsachThuebao(true, 'ma_gd')"
                  v-model="model.ma_gd"
                ></vue-input>
                <vue-input
                  labelWidth="100"
                  label="Số máy"
                  @enter="getDanhsachThuebao(true, 'ma_tb')"
                  class="col-md-3"
                  highlight
                  v-model="model.ma_tb"
                ></vue-input>

                <div class="info-row col-md-6">
                  <div class="key w100">Địa chỉ TB</div>
                  <div class="value">
                    <div class="input-more-button">
                      <a @click="openMapTB(model.diachi_tb, 'diachi_tb')" class="btn">
                        <span class="one-map-location f20"></span>
                      </a>
                      <ejs-textbox cssClass="font-weight-bold" v-model="model.diachi_tb"></ejs-textbox>
                    </div>
                  </div>
                </div>
                <vue-element label="Kiểu LĐ" class="col-md-3">
                  <ejs-textbox v-model="model.ten_kieuld"></ejs-textbox>
                </vue-element>
                <vue-element label="Số máy cũ" class="col-md-3">
                  <ejs-textbox cssClass="font-weight-bold highlight" v-model="model.ma_tb_cu"></ejs-textbox>
                </vue-element>
                <div class="info-row col-md-6">
                  <div class="key w100">Địa chỉ LĐ</div>
                  <div class="value">
                    <div class="input-more-button">
                      <a @click="openMapTB(model.diachi_ld, 'diachi_ld')" class="btn">
                        <span class="one-map-location f20"></span>
                      </a>
                      <ejs-textbox v-model="model.diachi_ld"></ejs-textbox>
                    </div>
                  </div>
                </div>
                <vue-element label="Điện thoại LH" class="col-md-3">
                  <ejs-textbox v-model="model.so_dt"></ejs-textbox>
                </vue-element>
                <vue-element label="Phân loại KH" class="col-md-3">
                  <ejs-textbox v-model="model.phanloaikh"></ejs-textbox>
                </vue-element>
                <vue-element label="Địa chỉ LĐ cũ" class="col-md-4">
                  <ejs-textbox v-model="model.diachi_ld_cu"></ejs-textbox>
                </vue-element>
                <vue-element label="Host LĐ cũ" class="col-md-2">
                  <ejs-textbox v-model="model.host_ld_cu"></ejs-textbox>
                </vue-element>
              </b-row>
            </div>
            <div class="col-md-6">
              <div>
                <div class="legend-title mart20">
                  <div class="pull-left">Thông tin hoàn công</div>
                  <div class="pull-right">
                    <div class="check-action normal">
                      <input
                        true-value="1"
                        false-value="0"
                        v-model="model.laythongtinhoancong"
                        type="checkbox"
                        class="check"
                        ref="chkLayTSo"
                      />
                      <span class="name laythongso">Lấy thông số thi công</span>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <b-row>
                  <div class="col-md-6">
                    <div class="info-row">
                      <div class="key w100">Ngày GV</div>
                      <div class="value w20 padt7">
                        <div class="check-action">
                          <input
                            v-model="dateVisiable.chkNgayGV"
                            @change="changeNgayGV()"
                            :disabled="!dateVisiable.chkNgayGVEnable"
                            type="checkbox"
                            class="check"
                          />
                          <span class="name"></span>
                        </div>
                      </div>
                      <vue-date
                        format="DD/MM/YYYY"
                        type="date"
                        :disable="!dateVisiable.dtpNgayGV"
                        v-model="model.ngaygiao"
                      ></vue-date>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="info-row">
                      <div class="key w100">Ngày HT</div>
                      <div class="value w20 padt7">
                        <div class="check-action">
                          <input
                            type="checkbox"
                            class="check"
                            @change="changeNgayBG()"
                            v-model="dateVisiable.chkNgayBG"
                            :disabled="!dateVisiable.chkNgayBGEnable"
                          />
                          <span class="name"></span>
                        </div>
                      </div>
                      <vue-date
                        format="DD/MM/YYYY"
                        type="date"
                        class="w-100"
                        :disable="!dateVisiable.dtpNgayBG"
                        v-model="model.ngay_ht_gp"
                      ></vue-date>
                    </div>
                  </div>
                  <vue-element label="Người giao việc" class="col-md-6">
                    <ejs-dropdownlist
                      locale="vi-VN"
                      v-model="model.nguoigv_id"
                      :dataSource="options.nhanvien"
                      :allowFiltering="true"
                      :fields="{ value: 'nhanvien_id', text: 'ten_nv' }"
                    ></ejs-dropdownlist>
                  </vue-element>
                  <vue-element label="Nhân viên YC" class="col-md-6">
                    <ejs-textbox cssClass="font-weight-bold" v-model="model.ten_nhanvien_yc"></ejs-textbox>
                  </vue-element>
                  <vue-element label="Nội dung giao" class="col-md-12">
                    <ejs-textbox v-model="model.nd_giao"></ejs-textbox>
                  </vue-element>
                  <vue-element label="Lý do trả" class="col-md-6">
                    <ejs-textbox v-model="model.LYDOTRA"></ejs-textbox>
                  </vue-element>
                  <vue-element label="Nội dung trả" class="col-md-6">
                    <ejs-textbox v-model="model.nd_tra_con"></ejs-textbox>
                  </vue-element>
                  <vue-element label="Nội dung TH" class="col-md-12">
                    <div class="input-more-button">
                      <a @click="updateNDTH()" class="btn">
                        <span class="nc-icon-glyph ui-1_edit-76 f20"></span>
                      </a>
                      <ejs-textbox v-model="model.nd_thuchien"></ejs-textbox>
                    </div>
                  </vue-element>
                  <div class="legend-title mart20">Thông tin thuê số</div>
                  <vue-element label="T.gian thuê số" class="col-md-6">
                    <ejs-textbox v-model="model.tg_thueso"></ejs-textbox>
                  </vue-element>
                  <vue-element label="Số trượt" class="col-md-6">
                    <ejs-textbox v-model="model.sotruot"></ejs-textbox>
                  </vue-element>
                  <vue-element label="ND thông báo" class="col-md-12">
                    <ejs-textbox v-model="model.noidung_tb"></ejs-textbox>
                  </vue-element>
                </b-row>
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <div class="legend-title mart20 red">Liên hệ: {{ model.thongtin_lh }}</div>
                <b-row>
                  <vue-element label="Mã truy cập" class="col-md-4">
                    <ejs-textbox cssClass="font-weight-bold highlight" v-model="model.matb_tn"></ejs-textbox>
                  </vue-element>
                  <vue-element labelWidth="110" label="Host lắp đặt" class="col-md-4">
                    <ejs-textbox v-model="model.host_ld"></ejs-textbox>
                  </vue-element>
                  <vue-element label="Host vật lý" class="col-md-4">
                    <ejs-textbox v-model="model.host_vl"></ejs-textbox>
                  </vue-element>
                  <vue-element label="Lắp kèm" class="col-md-4">
                    <ejs-textbox cssClass="font-weight-bold highlight" v-model="model.DS_TBLAPKEM"></ejs-textbox>
                  </vue-element>
                  <div class="col-sm-4 col-12">
                    <div class="info-row">
                      <div class="key">
                        <div class="list-checks">
                          <div class="item">
                            <a
                              ref="btnChonNe_TuDong"
                              @click="Netudong()"
                              class="btn btn-second btn-chon-ne pad-0 h31 lh31 w31"
                            >
                              <span class="one-check f20 text-warning"></span>
                            </a>
                            T.động
                          </div>
                          <div class="item">
                            <a
                              ref="btnChonNe"
                              @click="showModal = true"
                              class="btn btn-second btn-chon-ne pad-0 h31 lh31 w31"
                            >
                              <span class="one-check f20"></span>
                            </a>
                            N.công
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <vue-element label="NE" class="col-md-4">
                    <ejs-textbox
                      class="e-control e-textbox e-lib e-input ne-input highlight"
                      v-model="model.ne"
                    ></ejs-textbox>
                  </vue-element>
                  <vue-select
                    label="Vệ tinh"
                    class="col-md-12"
                    labelWidth="100"
                    v-model="model.tramtb_id"
                    :options="options.vetinh"
                    labelField="ten_dv"
                    valueField="donvi_id"
                  ></vue-select>
                  <template v-if="dsgv.length == 0">
                    <vue-element label="Loại cáp" class="col-md-4">
                      <ejs-dropdownlist
                        locale="vi-VN"
                        v-model="loaicap_id"
                        :dataSource="options.loai_cap"
                        popupWidth="auto"
                        name="loaicap"
                        :fields="{ value: 'loaicap_id', text: 'loaicap' }"
                      />
                    </vue-element>
                    <vue-element label="Liên tủ" labelWidth="110" class="col-md-4">
                      <ejs-textbox ref="txtLienTu" :disabled="true" v-model="model.lientu"></ejs-textbox>
                    </vue-element>
                    <vue-element label="Hộp cáp ngọn" class="col-md-4">
                      <ejs-textbox ref="txtHopCapNgon" :disabled="true" v-model="model.hopcap_p"></ejs-textbox>
                    </vue-element>
                    <vue-element label="Cap gốc" :isRequired="true" class="col-md-4">
                      <ejs-textbox ref="txtCapGoc" name="capgoc" :disabled="true" v-model="model.cap_goc"></ejs-textbox>
                    </vue-element>
                    <vue-element
                      label="Cáp ngọn"
                      labelWidth="110"
                      :isRequired="true"
                      class="col-md-4"
                    >
                      <ejs-textbox name="cap_p" ref="txtCapNgon" :disabled="true" v-model="model.cap_p"></ejs-textbox>
                    </vue-element>
                    <vue-element label="Tuyến cáp" class="col-md-4">
                      <ejs-textbox ref="txtTuyenCap" :disabled="true" v-model="model.tuyencap"></ejs-textbox>
                    </vue-element>
                    <vue-element label="Tủ cáp gốc" :isRequired="true" class="col-md-4">
                      <ejs-textbox ref="txtTuCapGoc" name="tucap_goc" :disabled="true" v-model="model.tucap_goc"></ejs-textbox>
                    </vue-element>
                    <vue-element  label="Tủ cáp ngọn" labelWidth="110" class="col-md-8">
                      <ejs-textbox ref="txtTuCapNgon" :disabled="true" v-model="model.tucap_p"></ejs-textbox>
                    </vue-element>
                    <vue-element label="Đôi cáp gốc" :isRequired="true" class="col-md-4">
                      <ejs-textbox ref="txtDoiCapGoc" :disabled="true" name="doicap_goc" v-model="model.doicap_goc"></ejs-textbox>
                    </vue-element>
                    <vue-element
                      label="Đôi cáp ngọn"
                      labelWidth="110"
                      :isRequired="true"
                      class="col-md-4"
                    >
                      <ejs-textbox ref="txtDoiCapNgon" name="doicap_p" :disabled="true" v-model="model.doicap_p"></ejs-textbox>
                    </vue-element>
                    <vue-element label="Cự ly" :isRequired="true" class="col-md-4">
                      <ejs-textbox name="culy" :disabled="true" v-model="model.culy"></ejs-textbox>
                    </vue-element>
                  </template>
                  <div class="thongtinKT" v-else>
                    <div v-for="(item, index) in thongso_html" v-bind:key="index">
                      <span class="text-capitalize font-weight-bold">{{ item.ten_truong }}:</span>
                      <span>{{ item.giatri }}</span>
                    </div>
                  </div>
                  <vue-element label="Ghi chú" class="col-md-12">
                    <ejs-textbox ref="txtSoMetDay" :readonly="true" v-model="model.ghichu"></ejs-textbox>
                  </vue-element>
                </b-row>
              </div>
            </div>
            <b-col md="6">
              <DataGrid
                v-bind:columns="collumnsNV"
                v-bind:dataSource="options.dsNhanvien"
                :showColumnCheckbox="false"
                :showFilter="false"
                :allowPaging="false"
                :enablePagingServer="false"
                :selectionSettings="{ checkboxMode: 'ResetOnRowClick' }"
                panelDataHeight="80"
              ></DataGrid>
            </b-col>
            <b-col md="6">
              <DataGrid
                v-bind:columns="collumnsDVGT"
                v-bind:dataSource="options.dsDGVT"
                :showColumnCheckbox="false"
                :showFilter="false"
                :allowPaging="false"
                :enablePagingServer="false"
                :selectionSettings="{ checkboxMode: 'ResetOnRowClick' }"
                panelDataHeight="80"
              ></DataGrid>
            </b-col>
          </b-row>
        </vue-card>
      </form>
      <vue-card>
        <div class="legend-title">
          <div class="pull-left mart7">Danh sách thuê bao</div>
          <div class="pull-right">
            <div class="list-checks">
              <div class="item vcenter red">
                <div class="check-action">
                  <input
                    v-model="button.kieu"
                    true-value="0"
                    false-value="1"
                    type="checkbox"
                    class="check"
                  />
                  <span class="name">Phiếu mới</span>
                </div>
              </div>
              <div class="item vcenter red">
                <div class="check-action">
                  <input
                    true-value="1"
                    false-value="0"
                    v-model="button.kieu"
                    name="kieu_id"
                    type="checkbox"
                    class="check"
                  />
                  <span class="name">Phiếu trả lại</span>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <vue-card :noborder="true">
          <b-row>
            <b-col md="3">
              <div class="d-flex align-items-center">
                <ejs-checkbox
                  ref="connect2"
                  id="connect2"
                  class="e-info"
                  v-model="timkiem_checkbox"
                ></ejs-checkbox>
                <div class="mr-2"></div>
                <vue-element label="Tìm kiếm" labelWidth="80" class="w-100">
                  <ejs-dropdownlist
                    locale="vi-VN"
                    v-model="model.loaidv_id"
                    :dataSource="options.loaidonvi"
                    :allowFiltering="true"
                    :fields="{ value: 'id', text: 'text' }"
                    :enabled="timkiem_checkbox"
                  />
                </vue-element>
              </div>
            </b-col>
            <vue-element label="Đơn vị" labelWidth="80" class="col-md-3">
              <ejs-dropdownlist
                locale="vi-VN"
                :dataSource="options.donvi"
                :allowFiltering="true"
                v-model="model.donvi_tk_id"
                popupWidth="auto"
                :enabled="timkiem_checkbox"
                :fields="{ value: 'donvi_id', text: 'ten_dv' }"
              />
            </vue-element>
          </b-row>
        </vue-card>
        <DataGridCustom
          ref="daganThueBao"
          v-bind:columns="collumns"
          v-bind:dataSource="options.dsThuebao"
          :showColumnCheckbox="true"
          :showFilter="true"
          :allowPaging="true"
          :enablePagingServer="false"
          :enabledSelectFirstRow="true"
          :selectionSettings="{ checkboxMode: 'ResetOnRowClick' }"
          panelDataHeight="170"
          @selectedItemsChanged="select_selectedItemsChangedDagan"
          @rowSelected="focusItem"
        ></DataGridCustom>
      </vue-card>
    </div>
    <daunoithuebao @hidden="getDanhsachThuebao()" ref="daunoithuebao" />
    <b-modal
      v-model="showModal"
      id="modal-center"
      style="width: 600px"
      modal-class="popup-box"
      header-class="popup-header"
      body-class="none-padding"
      size="sm"
      hide-footer
      centered
      title="Chọn số ne"
    >
      <NE @change="getNE" :optionsVetinh="options.vetinh" />
    </b-modal>
    <b-modal
      v-model="showModalTraphieu"
      modal-class="traphieu"
      header-class="popup-header"
      content-class="traphieu-content"
      body-class="none-padding traphieu-body"
      size="xl"
      title="Trả phiếu"
      hide-footer
    >
      <traphieu
        :ngaytra="model.ngaytra"
        :ngaygiao="model.ngaygiao"
        :ma_gd="model.ma_gd"
        :nhanvien_id="model.nhanvien_id"
        :ma_tb="model.ma_tb"
        :kieu="1"
        :loaihd_id="1"
        :dichvuvt_id="1"
      />
    </b-modal>
    <ejs-dialog
      :enableResize="true"
      :visible="false"
      ref="giaophieunhanvien"
      :header="'Giao phiếu nhân viên'"
      showCloseIcon="true"
      :target="target"
      width="60%"
      height="800"
    >
      <giaophieunhanvien
        @giaoviec_success="giaoviec_success()"
        ref="formgiaphieu"
        :ngaygiao="model.ngaygiao"
        :nguoigv_id="this.model.nguoigv_id"
        :phieu_id="model.phieu_id"
      />
    </ejs-dialog>
    <b-modal
      id="gankhuvuc"
      modal-class="popup-box"
      header-class="popup-header"
      body-class="none-padding"
      title="Gán khu vực quản lý thuê bao"
      size="xl"
    >
      <Gankhuvuc
        @chapnhan="chapnhan_gankhuvuc"
        :dulieu="{
          donvi_id: 0,
          hdtb_id: this.model.hdtb_id
          //diachi :{'DIACHI':'Cụm Dân Cư 1, Bạch Long Vỹ, Huyện Bạch Long Vỹ, Hải Phòng','TINH_ID':26,'QUAN_ID':'13','PHUONG_ID':'74','PHO_ID':'3723','AP_ID':null,'KHU_ID':null,'SO_NHA':'','Lng':0,'Lat':0,'BLOCK':null,'TANG':null,'PHONG':null,'MOTA':null}
        }"
      />
    </b-modal>
    <b-modal
      v-model="showModalMap"
      id="modal-center-map"
      style="width: 600px"
      modal-class="popup-box"
      header-class="popup-header"
      body-class="none-padding"
      size="lg"
      hide-footer
      centered
      :title="
      map_position.lat * map_position.lng
          ? map_position.lat + ',' + map_position.lng
          : 'Vị trí tương đối theo địa chỉ: ' + map_position.description
      "
    >
      <MapComponent
        :lat="map_position.lat"
        :lng="map_position.lng"
        :description="map_position.dia_chi"
        :hdtb_id="this.model.hdtb_id"
        :mode="modeMap"
      />
    </b-modal>
    <ModalChonToaDo
      idModalChonToaDo="ModalChonToaDo"
      @XacNhanToaDo="XacNhanToaDo"
      :position="map_position"
      :diachi="map_info.dia_chi"
      :ten_kc="map_info.title"
    ></ModalChonToaDo>
    <ChuyenTo ref="popupChuyenTo"></ChuyenTo>
  </div>