<ejs-dialog
    :enableResize="true"
    :allowDragging="true"
    :visible="false"
    ref="dlgGiaoViecx"
    :animationSettings="animationSettings"
    showCloseIcon="true"
    width="80%"
    :target="target"
    :close="dialogClose"
    :isModal="true"
    header='<div class="title"><span class="icon -ap icon-apps text-main"></span> Giao phiếu </div>'
>
    <div>
        <div class="list-actions-top">
            <ul class="list">
                <li>
                    <a class="pointer" @click="btnGhiLai">
                        <span class="icon one-save"></span> Ghi lại
                    </a>
                </li>
                <li>
                    <a class="pointer">
                        <span class="icon one-email"></span>Gửi SMS
                    </a>
                </li>
                <li>
                    <a class="pointer">
                        <span class="icon one-reload1"></span>Cập nhật KQXL
                    </a>
                </li>
            </ul>
        </div>
        <div class="popup-body">
            <div class="box-form">
                <div class="legend-title">Danh sách nhân viên giao việc</div>
                <div class="row">
                    <div class="col-sm-4 col-12">
                        <div class="info-row">
                            <div class="key w100">
                                <div class="check-action">
                                    <input type="checkbox" class="check" />
                                    <span class="name">Trung tâm</span>
                                </div>
                            </div>
                            <div class="value">
                                <div class="select-custom">
                                    <select name="" id="" class="form-control">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-12">
                        <div class="info-row">
                            <div class="key w100">Tổ TC</div>
                            <div class="value">
                                <div class="select-custom">
                                    <select name="" id="" class="form-control">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-12">
                        <div class="info-row">
                            <div class="key w100">
                                <div class="check-action">
                                    <input type="checkbox" class="check" />
                                    <span class="name">Trung tâm</span>
                                </div>
                            </div>
                            <div class="value">
                                <div class="select-custom">
                                    <select name="" id="" class="form-control">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-12">
                        <div class="info-row">
                            <div class="key w100">
                                <div class="check-action">
                                    <input type="checkbox" class="check" />
                                    <span class="name">Phòng BH</span>
                                </div>
                            </div>
                            <div class="value">
                                <div class="select-custom">
                                    <select name="" id="" class="form-control">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 col-12">
                        <div class="note text-main mart7">
                            Cấu trúc nhắn tin phản hồi: LD [Cách] Mã tỉnh [Cách]
                            ID phiếu
                        </div>
                    </div>
                </div>
                <div class="table-content mart10">
                    <!-- <table class="table-result table-gachle">
                        <thead class="center">
                            <tr>
                                <th class="w20"></th>
                                <th>Đơn vị</th>
                                <th>Mã nhân viên</th>
                                <th>Tên nhân viên</th>
                                <th>Điện thoại</th>
                                <th>Nhiệm vụ</th>
                                <th>Ghi chú</th>
                                <th>Mã ND</th>
                            </tr>
                            <tr>
                                <th class="w20"></th>
                                <th>
                                    <div class="input-icon-right">
                                        <input
                                            type="text"
                                            class="form-control"
                                        />
                                        <span
                                            class="icon nc-icon-outline ui-1_zoom"
                                        ></span>
                                    </div>
                                </th>
                                <th>
                                    <div class="input-icon-right">
                                        <input
                                            type="text"
                                            class="form-control"
                                        />
                                        <span
                                            class="icon nc-icon-outline ui-1_zoom"
                                        ></span>
                                    </div>
                                </th>
                                <th>
                                    <div class="input-icon-right">
                                        <input
                                            type="text"
                                            class="form-control"
                                        />
                                        <span
                                            class="icon nc-icon-outline ui-1_zoom"
                                        ></span>
                                    </div>
                                </th>
                                <th>
                                    <div class="input-icon-right">
                                        <input
                                            type="text"
                                            class="form-control"
                                        />
                                        <span
                                            class="icon nc-icon-outline ui-1_zoom"
                                        ></span>
                                    </div>
                                </th>
                                <th>
                                    <div class="input-icon-right">
                                        <input
                                            type="text"
                                            class="form-control"
                                        />
                                        <span
                                            class="icon nc-icon-outline ui-1_zoom"
                                        ></span>
                                    </div>
                                </th>
                                <th>
                                    <div class="input-icon-right">
                                        <input
                                            type="text"
                                            class="form-control"
                                        />
                                        <span
                                            class="icon nc-icon-outline ui-1_zoom"
                                        ></span>
                                    </div>
                                </th>
                                <th>
                                    <div class="input-icon-right">
                                        <input
                                            type="text"
                                            class="form-control"
                                        />
                                        <span
                                            class="icon nc-icon-outline ui-1_zoom"
                                        ></span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="highlight">
                                <td class="w20 center">
                                    <span class="fa fa-play text-main"></span>
                                </td>
                                <td class="selected highlight1"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="tright">
                                    <div class="dropdown">
                                        <button
                                            class="btn btn-main pad4 lh14 w24"
                                            data-toggle="dropdown"
                                        >
                                            <span
                                                class="fa fa-angle-down"
                                            ></span>
                                        </button>
                                        <div
                                            class="dropdown-menu pad10"
                                            style="width: 400px"
                                        >
                                            <div class="list-checks-v">
                                                <div class="item marb10">
                                                    <div class="check-action">
                                                        <input
                                                            type="checkbox"
                                                            class="check"
                                                        />
                                                        <span
                                                            class="name padl25"
                                                            >(Show all)</span
                                                        >
                                                    </div>
                                                </div>
                                                <div class="item marb10">
                                                    <div class="check-action">
                                                        <input
                                                            type="checkbox"
                                                            class="check"
                                                        />
                                                        <span
                                                            class="name padl25"
                                                            >Khảo sát lắp
                                                            đặt</span
                                                        >
                                                    </div>
                                                </div>
                                                <div class="item marb10">
                                                    <div class="check-action">
                                                        <input
                                                            type="checkbox"
                                                            class="check"
                                                        />
                                                        <span
                                                            class="name padl25"
                                                            >Kéo dây</span
                                                        >
                                                    </div>
                                                </div>
                                                <div class="item marb10">
                                                    <div class="check-action">
                                                        <input
                                                            type="checkbox"
                                                            class="check"
                                                        />
                                                        <span
                                                            class="name padl25"
                                                            >Hàn cáp</span
                                                        >
                                                    </div>
                                                </div>
                                                <div class="item marb10">
                                                    <div class="check-action">
                                                        <input
                                                            type="checkbox"
                                                            class="check"
                                                        />
                                                        <span
                                                            class="name padl25"
                                                            >Gỡ dây - thu hồi
                                                            thiết bị</span
                                                        >
                                                    </div>
                                                </div>
                                                <div class="item marb10">
                                                    <div class="check-action">
                                                        <input
                                                            type="checkbox"
                                                            class="check"
                                                        />
                                                        <span
                                                            class="name padl25"
                                                            >Khảo sát thông
                                                            số</span
                                                        >
                                                    </div>
                                                </div>
                                                <div class="item marb10">
                                                    <div class="check-action">
                                                        <input
                                                            type="checkbox"
                                                            class="check"
                                                        />
                                                        <span
                                                            class="name padl25"
                                                            >Xác minh nợ
                                                            cước</span
                                                        >
                                                    </div>
                                                </div>
                                                <div class="item marb10">
                                                    <div class="check-action">
                                                        <input
                                                            type="checkbox"
                                                            class="check"
                                                        />
                                                        <span
                                                            class="name padl25"
                                                            >Xác minh Tạm dừng,
                                                            thanh lý theo yêu
                                                            cầu</span
                                                        >
                                                    </div>
                                                </div>
                                                <div class="item marb10">
                                                    <div class="check-action">
                                                        <input
                                                            type="checkbox"
                                                            class="check"
                                                        />
                                                        <span
                                                            class="name padl25"
                                                            >Tư vấn và ký hợp
                                                            đồng</span
                                                        >
                                                    </div>
                                                </div>
                                                <div class="item marb10">
                                                    <div class="check-action">
                                                        <input
                                                            type="checkbox"
                                                            class="check"
                                                        />
                                                        <span
                                                            class="name padl25"
                                                            >Kiểm tra và xử
                                                            lý</span
                                                        >
                                                    </div>
                                                </div>
                                                <div class="item marb10">
                                                    <div class="check-action">
                                                        <input
                                                            type="checkbox"
                                                            class="check"
                                                        />
                                                        <span
                                                            class="name padl25"
                                                            >Kinh doanh vùng
                                                            tiếp nhận yêu cầu tư
                                                            vấn phát triển
                                                            HĐ</span
                                                        >
                                                    </div>
                                                </div>
                                                <div class="item marb10">
                                                    <div class="check-action">
                                                        <input
                                                            type="checkbox"
                                                            class="check"
                                                        />
                                                        <span
                                                            class="name padl25"
                                                            >Lắp đặt và xử lý sự
                                                            cố</span
                                                        >
                                                    </div>
                                                </div>
                                                <div
                                                    class="group-buttons -bottom center"
                                                >
                                                    <button
                                                        class="btn btn-main nocorner"
                                                    >
                                                        OK
                                                    </button>
                                                    <button
                                                        class="btn btn-second nocorner"
                                                    >
                                                        Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="w20 center"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="w20 center"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="w20 center"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="w20 center"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="w20 center"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="w20 center"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="w20 center"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="w20 center"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="w20 center"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="w20 center"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="w20 center"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table> -->
                    <DataGrid
                            :columns="[
                            {fieldName: 'TEN_DV', headerText: 'Đơn vị',allowFiltering: true, width: '120' },
                            {fieldName: 'MA_NV', headerText: 'Mã nhân viên', allowFiltering: true, width: '120' },
                            {fieldName: 'TEN_NV', headerText: 'Tên nhân viên', allowFiltering: true, width: '120' },
                            {fieldName: 'SO_DT', headerText: 'Điện thoại', allowFiltering: true, width: '120' },
                            {fieldName: '', headerText: 'Nhiệm vụ', allowFiltering: true, width: '120', template: getColumnTemplateNhiemVu(this) },
                            {fieldName: 'TEN_LNV', headerText: 'Loại nhân viên', allowFiltering: true, width: '120' },
                            {fieldName: 'GHICHU', headerText: 'Ghi chú', allowFiltering: true, width: '120',allowEditing: true },
                            ]"
                            :editSettings=" { allowEditing: true , mode:'Batch'}"
                            :dataSource="dsNhanVienGV.ds"
                            :showColumnCheckbox="true"
                            dataKeyField="MA_NV"
                            :allowPaging="true"
                            :enablePagingServer="false"
                         
                        ></DataGrid>
                </div>
             
            </div>
            <div class="box-form">
                <div class="legend-title">
                    Danh sách nhân viên đã giao nhiệm vụ
                </div>
                <div class="table-content">
                    <!-- <table class="table-result table-gachle tree-grid-2">
                        <thead class="center">
                            <tr>
                                <th class="w20"></th>
                                <th class="w20"></th>
                                <th>Mã NV</th>
                                <th>Tên nhân viên</th>
                                <th>Điện t...</th>
                                <th>Nhiệm ...</th>
                                <th>Kết quả XL</th>
                                <th>Trạng thái</th>
                                <th>Ghi chú</th>
                                <th class="w60"></th>
                            </tr>
                            <tr>
                                <th class="w20"></th>
                                <th class="w20"></th>
                                <th>
                                    <div class="input-icon-right">
                                        <input
                                            type="text"
                                            class="form-control"
                                        />
                                        <span
                                            class="icon nc-icon-outline ui-1_zoom"
                                        ></span>
                                    </div>
                                </th>
                                <th>
                                    <div class="input-icon-right">
                                        <input
                                            type="text"
                                            class="form-control"
                                        />
                                        <span
                                            class="icon nc-icon-outline ui-1_zoom"
                                        ></span>
                                    </div>
                                </th>
                                <th>
                                    <div class="input-icon-right">
                                        <input
                                            type="text"
                                            class="form-control"
                                        />
                                        <span
                                            class="icon nc-icon-outline ui-1_zoom"
                                        ></span>
                                    </div>
                                </th>
                                <th>
                                    <div class="input-icon-right">
                                        <input
                                            type="text"
                                            class="form-control"
                                        />
                                        <span
                                            class="icon nc-icon-outline ui-1_zoom"
                                        ></span>
                                    </div>
                                </th>
                                <th>
                                    <div class="input-icon-right">
                                        <input
                                            type="text"
                                            class="form-control"
                                        />
                                        <span
                                            class="icon nc-icon-outline ui-1_zoom"
                                        ></span>
                                    </div>
                                </th>
                                <th>
                                    <div class="input-icon-right">
                                        <input
                                            type="text"
                                            class="form-control"
                                        />
                                        <span
                                            class="icon nc-icon-outline ui-1_zoom"
                                        ></span>
                                    </div>
                                </th>
                                <th>
                                    <div class="input-icon-right">
                                        <input
                                            type="text"
                                            class="form-control"
                                        />
                                        <span
                                            class="icon nc-icon-outline ui-1_zoom"
                                        ></span>
                                    </div>
                                </th>
                                <th class="w60">
                                    <div class="input-icon-right">
                                        <input
                                            type="text"
                                            class="form-control"
                                        />
                                        <span
                                            class="icon nc-icon-outline ui-1_zoom"
                                        ></span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="highlight4 fw6">
                                <td colspan="11">
                                    <div class="tree-arrow"></div>
                                    : CTV036617 - Nguyễn Xuân Phong - Tổ Kỹ
                                    Thuật Bình Long -
                                </td>
                            </tr>
                            <tr class="highlight">
                                <td class="tree-first w20">
                                    <div class="tree-line"></div>
                                    <div class="tree-indent"></div>
                                </td>
                                <td class="w20 center">
                                    <span class="fa fa-play text-main"></span>
                                </td>
                                <td class="selected highlight1"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="center">
                                    <a href="#" class="btn btn-main pad4 lh14">
                                        <span class="-ap icon-close"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="tree-first w20">
                                    <div class="tree-line"></div>
                                    <div class="tree-indent"></div>
                                </td>
                                <td class="w20 center"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="center"></td>
                            </tr>
                            <tr>
                                <td class="tree-first w20">
                                    <div class="tree-line"></div>
                                    <div class="tree-indent"></div>
                                </td>
                                <td class="w20 center"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="center"></td>
                            </tr>
                            <tr>
                                <td class="tree-first w20">
                                    <div class="tree-line"></div>
                                    <div class="tree-indent"></div>
                                </td>
                                <td class="w20 center"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="center"></td>
                            </tr>
                            <tr>
                                <td class="tree-first w20">
                                    <div class="tree-line"></div>
                                    <div class="tree-indent"></div>
                                </td>
                                <td class="w20 center"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="center"></td>
                            </tr>
                        </tbody>
                    </table> -->
                    <DataGrid
                    :columns="[
                    {fieldName: 'MA_NV', headerText: 'Mã NV', isGroupedColumn: true },
                    {fieldName: 'TEN_NV', headerText: 'Tên nhân viên', allowFiltering: true, width: '120' },
                    {fieldName: 'NGAYGIAO', headerText: 'Ngày giao', allowFiltering: true, width: '120' },
                    {fieldName: 'SO_DT', headerText: 'Điện thoại', allowFiltering: true, width: '120' },
                    {fieldName: 'NHIEMVU', headerText: 'Nhiệm vụ', allowFiltering: true, width: '120' },
                    {fieldName: 'KQXL_ID', headerText: 'Kết quả XL', allowFiltering: true, width: '120' },
                    {fieldName: 'TRANGTHAI', headerText: 'Trạng thái', allowFiltering: true, width: '120' },
                    {fieldName: 'GHICHU', headerText: 'Ghi chú', allowFiltering: true, width: '120',allowEditing: true },
                    { fieldName: 'THAOTAC', headerText: '  ', allowFiltering: false, width: 40, 
                    commands: [ { type: 'EDIT', buttonOption: { cssClass: '', iconCss: 'icon nc-icon-glyph ui-1_edit-74' } } ] }
                    ]"
                    :editSettings=" { allowEditing: true , mode:'Batch'}"
                    :dataSource="dsNhanVienDaGiaoNV.ds"
                    :showColumnCheckbox="true"
                    dataKeyField="MA_NV"
                    :allowPaging="true"
                    :enablePagingServer="false"

                ></DataGrid>
        </div>
                </div>
              
            </div>
        </div>
    </div>
</ejs-dialog>
