<b-modal
    ref="ref-modal"
    size="huge"
    :id="modalId"
    no-close-on-backdrop
    hide-footer
    hide-header-close
    body-class="modal-body p-0"
    @shown="onModalShown"
    :title="title"
    @hidden="onModalHidden">
    <div class="modal-content popup-box change-customer-infor">
        <div class="popup-header">
          <div
              class="close -ap icon-close"
              data-dismiss="modal"
              @click="$bvModal.hide(modalId)">
          </div>
        </div>
        <ChangeCustomerInfor ref="refChangeCustomerInfor" :dulieu="data" ></ChangeCustomerInfor>
    </div>
</b-modal>
