<div class="modal-content popup-box">
    <div class="popup-header">
        <div class="title"><span class="icon one-notepad"></span> Danh sách các lượt giao</div>
        <div class="close -ap icon-close" data-dismiss="modal" @click="onClose">
        </div>
    </div>
    <div class="list-actions-top">
        <ul class="list">
            <li>
                <a href="#" @click.prevent="onClickChon">
                    <span class="icon nc-icon-glyph ui-1_circle-add"></span>Chọn
                </a>
            </li>
            <li>
                <a href="#"  @click.prevent="onClickPhieuGiao">
                    <span class="icon one-file-arrow-right1"></span>Phiếu giao
                </a>
            </li>
            <li>
                <a href="#" @click.prevent="onClickDsTon">
                    <span class="icon nc-icon-glyph design_bullet-list-67"></span>DS Tồn
                </a>
            </li>
            <li>
                <a href="#" @click.prevent="onClickHuyGiao">
                    <span class="icon one-cancel"></span>Hủy giao
                </a>
            </li>
            <li>
                <a href="#" @click.prevent="onClickExport">
                    <span class="icon one-xlsx-import"></span>Xuất Excel
                </a>
            </li>
        </ul>
    </div>
    <div class="popup-body">
        <div class="box-form">
            <div class="legend-title">Danh sách các lượt giao</div>
            <div class="table-content1">
                <DataGrid3
                    v-bind:columns="columns"
                    v-bind:dataSource="dsLuotGiao" :showFilter="false" :showColumnCheckbox="true"
                    v-bind:aggregates="[
                        { field: 'GIAOPHIEU_ID', type: 'Count', format: 'N0', footerTemplate: this.footerCount },
                        { field: 'SOLUONG_GBC', type: 'Sum', format: 'N0', footerTemplate: this.footerSum },
                        { field: 'SOLUONG_HD', type: 'Sum', format: 'N0', footerTemplate: this.footerSum },
                        { field: 'TONGTIEN_HD', type: 'Sum', format: 'N0', footerTemplate: this.footerSum },
                        { field: 'TRA_HD', type: 'Sum', format: 'N0', footerTemplate: this.footerSum },
                        { field: 'TRA_TB', type: 'Sum', format: 'N0', footerTemplate: this.footerSum }
                                    ]"
                    dataKeyField="GIAOPHIEU_ID" :defaultColumnCheckboxChecked="false" 
                    @selectedItemsChanged="selectItemGrid" ref="tableLG">
                </DataGrid3>
            </div>
        </div>
    </div>
    <template>
      <div>
        <vue-html2pdf
           :show-layout="false"
           :float-layout="true"
           :enable-download="false"
           :preview-modal="true"
           :paginate-elements-by-height="1400"
           filename="export"
           :pdf-quality="2"
           :manual-pagination="true"
           pdf-format="a4"
           pdf-orientation="landscape"
           pdf-content-width="1200px"
           ref="html2Pdf"
           @progress="onProgress($event)"
           @hasStartedGeneration="onhasStartedGeneration()"
            @hasGenerated="onhasGenerated($event)"
          >
           <section slot="pdf-content">
              <div class="p-4" style="width: 100%;">
                <danh-sach-ton :data="itemSelected" :dsTon="dsTon"></danh-sach-ton>
              </div>
           </section>
       </vue-html2pdf>
      </div>
   </template>
   <template>
    <div>
      <vue-html2pdf
         :show-layout="false"
         :float-layout="true"
         :enable-download="false"
         :preview-modal="true"
         :paginate-elements-by-height="1400"
         filename="hee hee"
         :pdf-quality="2"
         :manual-pagination="true"
         pdf-format="a4"
         pdf-orientation="landscape"
         pdf-content-width="1200px"
         ref="html2Pdf2"
         @progress="onProgress($event)"
        >
         <section slot="pdf-content">
            <div class="p-4" style="width: 100%s;">
              <phieu-giao :data="itemSelected" :dsPhieu="dsPhieuGiao"></phieu-giao>
            </div>
         </section>
     </vue-html2pdf>
    </div>
 </template>
</div>