<main class="view-edit-subnetcon-modal-wrapper">
  <ejs-dialog :visible="visible" :isModal="true" :animationSettings="animationSettings" :showHeader="false" width="80%"
    height="auto" :showCloseIcon="false" ref="modalSubnet" @close="close">
    <div class="popup-box p-3 modal-subnet-wrapper">
      <!-- HEADER -->
      <div class="popup-header">
        <div class="title d-flex align-items-center">
          <span class="icon one-notepad"></span>
          <span>
            View and Edit Here
          </span>
        </div>
        <div class="close -ap icon-close" @click="close"></div>
      </div>

      <!-- ACTION BUTTONS -->
      <div class="list-actions-top">
        <ul class="list">
          <li>
            <b-link href="javascript:void(0)" @click="save" :disabled="mode === 'VIEW'">
              <span class="icon one-save"></span>
              Ghi lại
            </b-link>
          </li>

          <li>
            <b-link href="javascript:void(0)" @click="close" :disabled="mode === 'VIEW'">
              <span class="icon ui-1_circle-remove nc-icon-glyph"></span>
              Đóng
            </b-link>
          </li>
        </ul>
      </div>

      <div class="thongtin-chung-wrapper row box-form">
        <span class="legend-title">Thêm mới subnet con</span>
        <div class="info-row col-md-6 col-12">
          <label class="key w150">Tên Subnet <span class="required">*</span></label>
          <div class="value">
            <input class="form-control" v-model="form.tenSubnet" placeholder="Nhập tên subnet" />
          </div>
        </div>

        <div class="info-row col-md-6 col-12">
          <label class="key w150">Hiệu lực</label>
          <div class="value padt4">
            <div class="check-action">
              <input type="checkbox" class="check" v-model="form.hieuLuc" :true-value="1" :false-value="0" />
              <span class="name"></span>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-12 info-row">
          <label class="key w150">Loại IP <span class="required">*</span></label>
          <div class="value">
            <SelectExt :disabled="false" :dataSource="loaiIPList" dataTextField="TEN" dataValueField="ID"
              v-model="form.loaiIP" />
          </div>
        </div>

        <div class="col-md-6 col-12 info-row">
          <label class="key w150">Phân loại IP <span class="required">*</span></label>
          <div class="value">
            <SelectExt :disabled="false" :dataSource="phanLoaiIPList" dataTextField="TEN" dataValueField="ID"
              v-model="form.phanLoaiIp" />
          </div>
        </div>

        <div class="info-row col-md-6 col-12">
          <label class="key w150">Trạng thái CCDV <span class="required">*</span></label>
          <div class="value">
            <SelectExt :disabled="false" :dataSource="[{ ID: 1, TEN: 'Tất cả' }, { ID: 2, TEN: 'Option 2' }]"
              dataTextField="TEN" dataValueField="ID" v-model="form.ccdv" />
          </div>
        </div>

        <div class="info-row col-md-6 col-12">
          <label class="key w150">Subnet Mask <span class="required">*</span></label>
          <div class="value">
            <SelectExt :disabled="false" :dataSource="[]" dataTextField="SUBNETMASK" dataValueField="ID"
              v-model="form.subnetMask" />
          </div>
        </div>

        <div class="info-row col-md-6 col-12">
          <label class="key w150">Subnet <span class="required">*</span></label>
          <div class="value">
            <input type="text" class="form-control" v-model="form.subnet" />
          </div>
        </div>

        <div class="info-row col-md-6 col-12">
          <label class="key w150">Gateway <span class="required">*</span></label>
          <div class="value">
            <input type="text" class="form-control" v-model="form.Gateway" />
          </div>
        </div>

        <div class="col-md-6 col-12 info-row">
          <label class="key w150">Ghi chú</label>
          <div class="value">
            <textarea class="form-control" rows="3" v-model="form.ghiChu"></textarea>
          </div>
        </div>
      </div>
    </div>
  </ejs-dialog>
</main>