.btn-second {
  background-color: #fff;
  border-color: #0176FF;
  color: #0176FF;
  font-weight: 600;
}

.btn-second:hover, .btn-second.active {
  background: #0176FF;
  color: #fff;
}

.btn-second.button-note-bg:hover, .btn-second.button-not-bg:hover {
  background-color: #0176FF;
}

.div-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-luot-da-giao{
  width: 100%; 
  max-width: 600px;
}

/deep/ .modal-luot-da-giao .modal-dialog {
  width: 100%;
  max-width: 600px;
}

.modal-condition{
  width: 100%; 
  max-width: 1200px;
}

/deep/ .modal-condition .modal-dialog {
  width: 100%;
  max-width: 1200px;
}

/deep/ .modal-body {
 padding: 0!important;
}

.btn-main {
  background: #0176FF;
  color: #fff;
}

.btn-main:hover {
  background: #035FCC;
  color: #fff;
}

.table-result .form-control {
  height: auto !important;
  min-width: 40px;
}

.active-view-type {
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

/deep/ .table-result tbody tr:nth-child(2n+2).highlight1 {
  background-color: #F9E1A9 !important;
}