<div>
    <div class="tab-content pad0 bor0 mart10" style="box-shadow: none;">
        <div class="info-row">
            <div class="key w80">Dịch vụ VT</div>
            <div class="value">
                <select2 v-model="value.serviceTransportation2" :required="true"
                    :options="listTelecomService">
                </select2>
            </div>
    
        </div>
        <div class="info-row" v-if="tabIndex == 0">
            <!-- <select3 label="Loại Hình TB" labelWidth="70" :options="dsloaiHinhTB" valueField="LOAITB_ID"
                labelField="LOAIHINH_TB" v-model="value.subscribersType" /> -->
            <!-- <vue-select v-model="value.subscribersType" :labelWidth="'70'" :options="dsloaiHinhTB"
                id="loaiHinhTB" labelField="LOAIHINH_TB" valueField="LOAITB_ID" label="Loại Hình TB">
             </vue-select> -->
            <div class="key w80">Loại Hình TB</div>
             <div class="value">
                <select2 v-model="value.subscribersType" :required="true"
                :options="dsloaiHinhTB">
                </select2>
             </div>
             
        </div>
        <div class="box-move-select-table">
            <div class="box-col">
                <div class="table-content" style="height: 250px">

                <vue-table v-model="currentRecordSubscribersTypeDeliver" :options="listSubscribersTypeDeliver"
                    @input="onCheckBoxDeliver" :config="subscribersTypeHeaderDeliver" :unique="'kieuld_id'"
                    :multiple="true"></vue-table>
            </div>
        </div>
            <div class="actions">
                <button class="btn" @click="onCheckBoxDeliverRemove" :disabled="tempSubscribersTypeDeliver.length == 0">
                    <span class="fa fa-angle-right"></span>
                </button>
                <button class="btn" :disabled="listSubscribersTypeDeliver.length == 0" @click="handDataRight">
                    <span class="fa fa-angle-double-right"></span>
                </button>
                <button class="btn" @click="onCheckBoxNotDeliverToDeliver"
                    :disabled="tempSubscribersTypeNotDeliver.length == 0">
                    <span class="fa fa-angle-left"></span>
                </button>
                <button class="btn" :disabled="listSubscribersTypeNotDeliver.length == 0" @click="handDataLeft">
                    <span class="fa fa-angle-double-left"></span>
                </button>
            </div>
            <div class="box-col">
                <div class="table-content" style="height: 250px">

                <vue-table v-model="currentRecordSubscribersTypeNotDeliver" :loading="value.loading"  :options="listSubscribersTypeNotDeliver"
                    :config="subscribersTypeHeaderNotDeliver" :unique="'kieuld_id'" :multiple="true"
                    @input="onCheckBoxNotDeliver"></vue-table>
            </div>
        </div>
        </div>
    </div>
</div>