.modal-dvkhac {
  width: 100%;
  max-width: 850px;
}

/deep/ .modal-dvkhac .modal-dialog {
  width: 100%;
  max-width: 850px;
}

/deep/ .modal-dvkhac .modal-dialog .modal-body {
  padding: 0;
}

.popup-box .popup-header {
    padding: 10px 15px;
    font-size: 20px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
  }

  /deep/ .table-dichvu .table-result tbody tr:not(.empty) td:nth-last-child(1) {
    text-align: center!important;
  }
  
  /deep/ .table-dichvu .table-result tbody tr:not(.empty) td:nth-last-child(2) {
    text-align: center!important;
  }

  .modal-ttlh {
    width: 100%;
    max-width: 1220px;
  }
  
  /deep/ .modal-ttlh .modal-dialog {
    width: 100%;
    max-width: 1220px;
  }

  /deep/ .modal-ttlh .modal-dialog .modal-body {
    padding: 0;
  }