<div ref="tabThongTinThuebao">
  <div class="box-form">
    <div class="legend-title">Thông tin phiếu yêu cầu</div>
    <div class="row">
      <div class="col-sm-7 col-12">
        <div class="row">
          <div class="col-sm-7 col-12">
            <div class="info-row">
              <div class="key w90">Mã giao dịch</div>
              <div class="value">
                <div class="input-more-button">
                  <button class="btn" @click.prevent="btnLayMaGD_Click">
                    <span class="-ap icon-more_horiz"></span>
                  </button>
                  <input  type="text" class="form-control highlight" v-model.trim="parent.modelInput.txtMaGD" ref='txtMaGD'
                    v-on:keyup.enter="txtMaGD_KeyPress()">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-12">
            <div class="info-row">
              <div class="key">Ngày YC</div>
              <div class="value">
                <div class="input-icon-right">
                  <ejs-datepicker v-model="parent.modelDateTime.dtpNgayYC" :format="parent.modelDateTime.dateFormat"
                    :value="parent.modelDateTime.dtpNgayYC" :enabled="parent.modelDateTime.enableDate"></ejs-datepicker>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7 col-12">
            <div class="info-row">
              <div class="key w90">Mã HĐ cũ</div>
              <div class="value">
                <input ref="txtMaHDcu" type="text" class="form-control" v-model="parent.modelInput.txtMaHDcu">
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-12">
            <div class="info-row">
              <div class="key">Ngày LHĐ</div>
              <div class="value">
                <div class="input-icon-right">
                  <ejs-datepicker v-model="parent.modelDateTime.dtpNgayLapHD" :format="parent.modelDateTime.dateFormat"
                    :value="parent.modelDateTime.dtpNgayLapHD" :enabled="parent.modelDateTime.enableDate"></ejs-datepicker>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5 col-12">
        <div class="row">
          <div class="col-sm-7 col-12">
            <div class="info-row">
              <div class="key">Dịch vụ</div>
              <div class="value">
                <div class="select-custom" ref="rcboDichVuVT">
                  <SelectExt v-model="parent.modelCbo.cboDichVuVT" :settings="{dropdownParent: $refs['rcboDichVuVT']}"
                    :dataSource="parent.modelCbo.vcboDichVuVT" @change="cboDichVuVT_SelectedValueChanged()"
                    dataTextField="ten_dvvt" :disabled="!parent.modelCkeckBox.cboDichVuVT" dataValueField="dichvuvt_id" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-12">
            <div class="info-row">
              <div class="key">Loại hình</div>
              <div class="value">
                <div class="select-custom">
                  <div class="select-custom" ref="cboLoaihinhTB">
                    <SelectExt v-model="parent.modelCbo.cboLoaihinhTB" :settings="{dropdownParent: $refs['cboLoaihinhTB']}"
                      :dataSource="parent.modelCbo.vcboLoaihinhTB" :disabled="true"
                      @change="cboLoaihinhTB_SelectedValueChanged()" dataTextField="loaihinh_tb"
                      dataValueField="loaitb_id" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7 col-12">
            <div class="info-row">
              <div class="key">Kiểu yêu cầu</div>
              <div class="value">
                <div class="select-custom" ref="cboKieuLD" @click.prevent="cboKieuLD_click">
                  <SelectExt v-model="parent.modelCbo.cboKieuLD" :settings="{dropdownParent: $refs['cboKieuLD']}"
                      :dataSource="parent.modelCbo.vcboKieuLD"
                      @change="cboKieuLD_SelectedValueChanged()" dataTextField="ten_kieuld"
                      dataValueField="kieuld_id" />
                </div>
              </div>
              <div class="value w10 nowrap">
                <button class="btn btn-second" @click.prevent="cboKieuLD_SelectedValueChanged">
                  <span class="one-eye f20 inline vcenter"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-12">
            <div class="info-row">
              <div class="key">
                <div class="check-action">
                  <input type="checkbox" class="check" @change="chkDC_NoiBo_CheckedChanged">
                  <span class="name">D/C nội bộ</span>
                </div>
              </div>
              <div class="value">
                <button ref="btnThueSo" class="btn btn-second fullw" @click="btnThueSo_Click" :disabled="!parent.buttonState.btnThueSo">
                  <span class="nc-icon-glyph arrows-1_simple-right"></span> Thuê số
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-form">
    <div class="legend-title mart20">Thông tin thuê bao mới</div>
    <div class="row">
      <div class="col-sm-7 col-12">
        <div class="row">
          <div class="col-sm-7 col-12">
            <div class="info-row">
              <div class="key w90">Số máy/Acc</div>
              <div class="value">
                <div class="input-more-button">
                  <button class="btn" @click="btnTKMaTB_Click">
                    <span class="-ap icon-more_horiz"></span>
                  </button>
                  <input type="text" class="form-control highlight" v-on:keyup.13="txtMaTB_KeyPress()"
                    v-model.trim="parent.modelInput.txtMaTB" ref='txtMaTB'>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-12">
            <div class="info-row">
              <div class="key">Số mới</div>
              <div class="value">
                <div class="input-more-button">
                  <button  ref="btnChonSM" class="btn" @click="btnChonSM_Click" :disabled="!parent.buttonState.btnChonSM">
                    <span class="-ap icon-more_horiz"></span>
                  </button>
                  <input ref="txtMaTBMoi" readonly type="text" class="form-control highlight" v-model="parent.modelInput.txtMaTBMoi">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7 col-12">
            <div class="info-row">
              <div class="key w90">Thanh toán</div>
              <div class="value">
                <div class="select-custom" ref="cboTT">
                  <SelectExt v-model="parent.modelCbo.cboTT" :settings="{dropdownParent: $refs['cboTT']}"
                    :dataSource="parent.modelCbo.vcboTT" dataTextField="tentt" dataValueField="hdtt_id" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-12">
            <div class="info-row">
              <div class="key">Gói kỹ thuật</div>
              <div class="value">
                <div class="select-custom" ref="cboGoiKT">
                  <SelectExt v-model="parent.modelCbo.cboGoiKT" :settings="{dropdownParent: $refs['cboGoiKT']}"
                    :dataSource="parent.modelCbo.vcboGoiKT" dataTextField="ten_goi" dataValueField="goikt_id" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7 col-12">
            <div class="info-row">
              <div class="key w90">Tên thuê bao</div>
              <div class="value">
                <input ref="txtTenTB" v-on:blur="txtTenTB_Leave" type="text" class="form-control" v-model="parent.modelInput.txtTenTB">
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-12">
            <div class="info-row">
              <div class="key">Ngày sinh</div>
              <div class="value">
                <input ref="txtNgaySinhTB" type="text" value="__/__/____" v-mask="'99/99/9999'" class="form-control" v-model="parent.modelInput.txtNgaySinhTB">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7 col-12">
            <div class="info-row">
              <div class="key w90">Địa chỉ LĐ</div>
              <div class="value">
                <div class="input-more-button">
                  <button class="btn" @click="btnDiachiLD_Click">
                    <span class="-ap icon-more_horiz"></span>
                  </button>
                  <input ref="txtDiaChiLD" type="text" class="form-control " v-model="parent.modelInput.txtDiaChiLD">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-12">
            <div class="info-row">
              <div class="key">Mã ERP</div>
              <div class="value">
                <input type="text" class="form-control" v-model="parent.modelInput.txtMaERP">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7 col-12">
            <div class="info-row">
              <div class="key w90">Đại chỉ TB</div>
              <div class="value">
                <div class="input-more-button">
                  <button class="btn" @click="btnDiaChiTB_Click">
                    <span class="-ap icon-more_horiz"></span>
                  </button>
                  <input type="text" ref="txtDiaChiTB"  v-on:keyup.enter="txtDiaChiTB_KeyPress"  class="form-control " v-model="parent.modelInput.txtDiaChiTB">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-12">
            <div class="info-row">
              <div class="key">Mã BSS</div>
              <div class="value">
                <input type="text" class="form-control" v-model="parent.modelInput.txtMaBSS">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7 col-12">
            <div class="info-row">
              <div class="key w90">Đơn vị TC</div>
              <div class="value">
                <div class="select-custom" ref="cboDaiVT">
                  <SelectExt v-model="parent.modelCbo.cboDaiVT" :settings="{dropdownParent: $refs['cboDaiVT']}"
                    :dataSource="parent.modelCbo.vcboDaiVT" dataTextField="ten_dv" :disabled="true"
                    dataValueField="donvi_id" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-12">
            <div class="info-row">
              <div class="key">
                <div class="check-action">
                  <input type="checkbox" :disabled="parent.modelCkeckBox.chkdisableCongVan" class="check"
                    @change="chkCongVan_CheckedChanged" v-model="parent.modelCkeckBox.chkCongVan">
                  <span class="name">Số CV/LCT</span>
                </div>
              </div>
              <div class="value">
                <input type="text" :disabled="!parent.modelCkeckBox.chkCongVan" class="form-control"
                  v-model="parent.modelInput.txtCongVan">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7 col-12">
            <div class="info-row">
              <div class="key w90">Mức cước TB</div>
              <div class="value">
                <div class="select-custom" ref="cboMucCuocTB">
                  <SelectExt v-model="parent.modelCbo.cboMucCuocTB" :settings="{dropdownParent: $refs['cboMucCuocTB']}"
                    :dataSource="parent.modelCbo.vcboMucCuocTB" :disabled="false" dataTextField="tenmuccuoc"
                    dataValueField="mucuoctb_id" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-12">
            <div class="info-row">
              <div class="key">
                Ngày CV
              </div>
              <div class="value">
                <div class="input-icon-right">
                  <ejs-datepicker v-model="parent.modelDateTime.dtpNgayCV" :format="parent.modelDateTime.dateFormat"
                    :value="parent.modelDateTime.dtpNgayCV" :enabled="parent.modelCkeckBox.chkCongVan"></ejs-datepicker>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7 col-12">
            <div class="info-row">
              <div class="key w90">
                <div class="check-action">
                  <input type="checkbox" class="check" v-model="parent.modelCkeckBox.chkKhuyenMai"
                    @change="chkKhuyenMai_CheckedChanged" :disabled="parent.modelCkeckBox.chkdisableKhuyenMai">
                  <span class="name">K. mại</span>
                </div>
              </div>
              <div class="value">
                <div class="input-more-button">
                  <button class="btn" @click="btnChon_KhuyenMai_Click" :disabled="!parent.modelCkeckBox.chkKhuyenMai">
                    <span class="-ap icon-more_horiz"></span>
                  </button>
                  <div class="select-custom" ref="cboKhuyenMai">
                    <SelectExt v-model="parent.modelCbo.cboKhuyenMai" :settings="{dropdownParent: $refs['cboKhuyenMai']}"
                      :dataSource="parent.modelCbo.vcboKhuyenMai" dataTextField="ten_km"
                      :disabled="!parent.modelCkeckBox.chkKhuyenMai" dataValueField="khuyenmai_id" />
                  </div>
                </div>
              </div>
              <div class="value w30 nowrap">
                <button class="btn btn-second" @click="btnChiTietKM_Click" :disabled="!parent.modelCkeckBox.chkKhuyenMai">
                  <span class="one-eye f20 inline vcenter"></span> Chi tiết
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-12">
            <div class="info-row">
              <div v-show="parent.buttonVisible.label76" class="key">Thông số TC</div>
              <div v-show="parent.buttonVisible.btnDiemDau" class="value">
                <button @click="btnDiemDau_Click" class="btn btn-second fullw">
                  Điểm đầu
                </button>
              </div>
              <div v-show="parent.buttonVisible.btnDiemCuoi" class="value">
                <button @click="btnDiemCuoi_Click" class="btn btn-second fullw">
                  Điểm cuối
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7 col-12">
            <div class="info-row">
              <div class="key w90">Đối tượng</div>
              <div class="value">
                <div class="select-custom" ref="cboDoituongTB">
                  <SelectExt v-model="parent.modelCbo.cboDoituongTB" :settings="{dropdownParent: $refs['cboDoituongTB']}"
                    :dataSource="parent.modelCbo.vcboDoituongTB" :disabled="true" dataTextField="ten_dt" dataValueField="doituong_id" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-12">
            <div class="info-row">
              <div class="key">
                Khu vực
              </div>
              <div class="value">
                <div class="input-more-button">
                  <button class="btn" @click="btnMaNVKD_Click">
                    <span class="-ap icon-more_horiz"></span>
                  </button>
                  <input readonly type="text" class="form-control " v-model="parent.modelInput.txtKhuVuc">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-row">
          <div class="key w90">Ghi chú</div>
          <div class="value">
            <input type="text" class="form-control" v-model="parent.modelInput.txtGhiChuTB">
          </div>
        </div>
      </div>
      <div class="col-sm-5 col-12">
        <div v-show="parent.s_display_div === 1">
          <CD @cboTrangBiCD_SelectedValueChanged="cboTrangBiCD_SelectedValueChanged" ref="refCD" :parent="this"></CD>
        </div>
        <div v-show="parent.s_display_div === 2">
            <Adsl @cboTrangBiADSL_SelectedValueChanged="cboTrangBiADSL_SelectedValueChanged" ref="refAdsl" :parent="this"></Adsl>
        </div>
        <div v-show="parent.s_display_div === 3">
            <Wan @cboTrangBiWan_SelectedValueChanged="cboTrangBiWan_SelectedValueChanged" @cboLoaiTBiWan_SelectedValueChanged="cboLoaiTBiWan_SelectedValueChanged" ref="refWan" :parent="this"  :dataSource="parent.dataSourceDV"></Wan>
        </div>
        <div v-show="parent.s_display_div === 4">
            <GP @cboTrangBiGP_SelectedValueChanged="cboTrangBiGP_SelectedValueChanged" ref="refGP" :parent="this" :dataSource="parent.dataSourceDV"></GP>
        </div>
        <div v-show="parent.s_display_div === 5">
            <TSL @cboTrangBi_SelectedValueChanged="cboTrangBi_SelectedValueChanged" @cboTocDoKenhTSL_SelectedValueChanged="cboTocDoKenhTSL_SelectedValueChanged" ref="refTSL" :parent="this"></TSL>
        </div>
        <div v-show="parent.s_display_div === 6">
            <IMS ref="refIMS" :parent="this" :dataSource="parent.dataSourceDV" ></IMS>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 col-12">
      <div class="legend-title mart20">Dịch vụ cộng thêm</div>
      <div class="input-more-button">
        <button class="btn" @click.prevent="btnEditDVGT_Click">
          <span class="-ap icon-more_horiz"></span>
        </button>
        <textarea name="" class="form-control" style="height: 100px;resize: none;"
          v-model='parent.modelInput.lvDvgt'></textarea>
      </div>
    </div>
    <div class="col-sm-4 col-12">
      <div class="legend-title mart20">Dịch vụ khác</div>
      <!-- <textarea name="" class="form-control" style="height: 100px;resize: none;"
        v-model='parent.modelInput.lvDvkhac'></textarea> -->
        <div class="form-control" style="height: 100px;resize: none;">
          <template v-for="item in parent.modelInput.lvDvkhac">
            <tr class="" style="width: 100%">
              <td class="text-body" style="width: 100%">
                <div>{{ item }}</div>
              </td>
            </tr>
          </template>
        </div>
    </div>
    <div class="col-sm-3 col-12">
      <div class="legend-title mart20">Chi tiết tiền khoản mục</div>
      <div class="info-row">
        <div class="key w70">Tổng tiền</div>
        <div class="value">
          <div class="input-more-button">
            <button class="btn" @click="btnTien_Click">
              <span class="-ap icon-more_horiz"></span>
            </button>
            <input type="text" readonly class="form-control tright red" v-model="parent.modelInput.txtTongTien">
          </div>
        </div>
      </div>
      <div class="info-row">
        <div class="key w70">Tổng VAT</div>
        <div class="value">
          <input type="text" readonly class="form-control tright red" v-model="parent.modelInput.txtTongVat">
        </div>
      </div>
    </div>
    <div class="box-form">
      <div class="legend-title">Danh sách thuê bao ----------- Tiền thuê bao (có VAT): {{parent.lblTongTien}}</div>
      <div class="table-content">
        <DataGrid ref="gridThueBao" v-bind:columns="[
                                              {fieldName: 'stt', headerText: 'STT', allowFiltering: true, allowSorting: true, width: 30},
                                              {fieldName: 'ma_tt', headerText: 'Mã TT', allowFiltering: true, allowSorting: true, width: 60},
                                              {fieldName: 'ma_tb', headerText: 'Số máy/Acc', allowFiltering: true, allowSorting: true, width: 60},
                                              {fieldName: 'ten_tb', headerText: 'Tên thuê bao', allowFiltering: true, allowSorting: true},
                                              {fieldName: 'diachi_ld', headerText: 'Địa chỉ lắp đặt', allowFiltering: true, allowSorting: true, width: 130},
                                              {fieldName: 'tongtientb', headerText: 'Tiền', allowFiltering: true, allowSorting: true, width: 60},
                                              {fieldName: 'ten_dvvt', headerText: 'Dịch vụ VT', allowFiltering: true, allowSorting: true, width: 60},
                                              {fieldName: 'manv_tc', headerText: 'Mã NVTC', allowFiltering: true, allowSorting: true, width: 60},
                                              ]" v-bind:dataSource="parent.modelInput.lvwThueBao" :showFilter="true"
          @selectedRowChanged="lvwThueBao_selectedRowChanged">
        </DataGrid>
      </div>
    </div>
  </div>
  <ThueBaoCungMa id="thuebaocungma" ref="thuebaocungma"></ThueBaoCungMa>
  <frmChonTinhTSL id="frmChonTinhTSL" ref="frmChonTinhTSL"></frmChonTinhTSL>
  <frmChonTinh id="frmChonTinh" ref="frmChonTinh"></frmChonTinh>
  <frmThongSoWan ref="ref_frmThongSoWan" @closeThongSoWan="CloseHienThiChonThongSoWan"></frmThongSoWan>
  <frmThongSoCoDinh ref="frmThongSoCoDinh"
            :khachhang_id="Number(parent.khachhang_tc_id)"
            :hdkh_id="Number(parent.hdkh_id)"
            :thongso_ban="parent.thongso_ban"
            :thongso_tc="parent.thongso_tc"
            @accept="acceptThongSoCoDinh"
  />
  <ejs-dialog :enableResize='true' :visible="false" ref="diaChiLD_BC" :header='"Chọn địa chỉ"'
            showCloseIcon=true target=".main-wrapper" width='800' height="450">
    <frmDiaChiBC ref="popupDiaChiLD_BC" :obj="diaChiLD_BC" :tinh="getTinh" @xacnhan="getDiaChi_LDBC" @boqua="closePopupDiaChiLD_BC" />
  </ejs-dialog>
  <ejs-dialog :enableResize='true' :visible="false" ref="diaChiTB_BC" :header='"Chọn địa chỉ"'
  showCloseIcon=true target=".main-wrapper" width='800' height="450">
    <frmDiaChiBC ref="popupDiaChiTB_BC" :obj="diaChiTB_BC" :tinh="getTinh" @xacnhan="getDiaChi_TBBC" @boqua="closePopupDiaChiTB_BC" />
  </ejs-dialog>
  <frmDangKyDVGTBC ref="frmDangKyDVGTBC" @chapnhan="chapnhan_DangKyDVGTBC"
    :dsDK_DVGT="parent.m_dsThueBao_DichVu" :dichvuvt_id="Number(parent.dichvuvt_id)" :lapmoi="false" />
  <frmTienKMCuPopup
    ref="frmTienKMCuPopup"
    :loaihd_id="3"
    :ds_tien_caidat="parent.ds_tien_khoanmuc"
    @accept="acceptTienKM"
  />
  <frmThongSoTSL ref="frmThongSoTSLDau" @chapnhan="frmThongSoTSLDau_onChapNhan" />
  <frmThongSoTSL ref="frmThongSoTSLCuoi" @chapnhan="frmThongSoTSLCuoi_onChapNhan" />
  <ejs-dialog :enableResize='true' :visible='false' ref='TocDoMucCuocDialog' :position='position'
              :allowDragging="draggable"
              :header='"Chọn tốc độ mức cước theo đối tượng"' showCloseIcon='true' :target='targetTop' height="800"
              width='70%'>
    <TocDoMucCuoc ref='TocDoMucCuocPopup' :thongso_ban="parent.thongso_ban" :thongso_tc="parent.thongso_tc"
                  :_ploaitb_ld="parent.modelCbo.cboLoaihinhTB" :_ploaitb_td="parent.modelCbo.cboLoaihinhTB"
                  :tinhtc="parent.BanCheoData.Tinh_TC.tinhthicong_id" :_vloaihd="3" :thuebao_id_tc="parent.thuebao_tc_id" :thuebao_id="parent.thuebao_id"
                  @accept="acceptTocDoMucCuoc"/>
  </ejs-dialog>

  <!-- <TocDoMucCuoc ref='TocDoMucCuocPopup' :thongso_ban="parent.thongso_ban" :thongso_tc="parent.thongso_tc"
                  :_ploaitb_ld="parent.modelCbo.cboLoaihinhTB" :_ploaitb_td="parent.modelCbo.cboLoaihinhTB"
                  :tinhtc="parent.BanCheoData.Tinh_TC.tinhthicong_id" :_vloaihd="3" :thuebao_id_tc="parent.thuebao_tc_id" :thuebao_id="parent.thuebao_id"
                  @accept="acceptTocDoMucCuoc"/> -->


  <b-modal id="popupComponents_bc" size="xl"
  hide-footer
  hide-header
  hide-header-close
  body-class="modal-body p-0">
  <component :is="popupComponent" ref="popupComponent_bc" :dulieu="popupComponentData" isPopup="true" @form-close="popupClosed" @acceptChangeCTV="popupClosed" @acceptChangeNGT="popupClosed"></component> <!--v-dynamic-events="popupComponentEvents"-->
  </b-modal>
  <frmSearchContractModal ref="frmSearchContractModal" @accept="acceptSearchContract" :loai_hd_id="3" :trangthai_hd="1" />
  <b-modal
        id="gankhuvucbancheo"
        hide-footer
        hide-header
        hide-header-close
        body-class="modal-body p-0"
        size="xl">
      <frmGankhuvuc
        @chapnhan="chapnhan_gankhuvuc"
        @form-close="gankhuvuc_close"
        :dulieu="dulieu_gankhuvuc"
      />
  </b-modal>
</div>
