#element ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

#element li {
    float: left;
    border: 1px solid #BAE7FF;
    margin: 10px;
}

#element .item {
    margin-right: 0 !important;
}

#element .item .head {
    margin-right: 0 !important;
}