a.disabled { color:lightgray !important; }
a.disabled:hover { color:lightgray !important; }
.disabled { pointer-events: none; }
.btn-main {
    background: #0176FF;
    color: #fff;
}

.btn {
    padding: 5px 10px;
    border-radius: 4px;
}
.btnSearchClicked{
    padding-left: 80px;
}
.w80 {
    width: 130px!important;
}
.info-row .key {
    padding-top: 6px!important;
}
.value {
    padding: 0px!important;
}
.check {
    margin: 10px 0px 9px 0px;
}
.key span {
    color: red!important;
}