.bg-white{
    background-color: white !important;
}
.resizeable {
    resize: both;
    overflow: auto;
    direction: rtl;
    min-height: 410px;
    width: 1300px;
    left: auto !important;
    right: 0 !important;
    transform: translate3d(210px, 10px, 10px)!important;

}
.resizeable-ltr {
    direction: ltr;
}
.bg-dropdown{
    max-width: 100%;
    background-color: aquamarine;
}
.dropdown-menu{
    margin: 50px !important;
}
.btn-delete {
    min-width: 38px;
    width: 40px;
    max-width: 42px;
}
