<div>
  <div class="col-sm-5 col-12">
    <div class="row">
      <div class="col-sm-7 col-12">
        <div class="info-row">
          <div class="key">Mã TN</div>
          <div class="value">
            <div class="input-more-button">
              <button class="btn">
                <span class="-ap icon-more_horiz"></span>
              </button>
              <input type="text" class="form-control highlight">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5 col-12">
        <div class="info-row">
          <div class="key">Trang bị</div>
          <div class="value">
            <div class="select-custom">
              <select name="" id="" class="form-control">
                <option value=""></option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7 col-12">
        <div class="info-row">
          <div class="key">Tốc độ</div>
          <div class="value">
            <div class="select-custom">
              <select name="" id="" class="form-control">
                <option value=""></option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5 col-12">
        <div class="info-row">
          <div class="key">Mức cước</div>
          <div class="value">
            <div class="select-custom">
              <select name="" id="" class="form-control">
                <option value=""></option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7 col-12">
        <div class="info-row">
          <div class="key">Email</div>
          <div class="value">
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-5 col-12">
        <div class="info-row">
          <div class="key">Loại TBị</div>
          <div class="value">
            <div class="select-custom">
              <select name="" id="" class="form-control">
                <option value=""></option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7 col-12">
        <div class="info-row">
          <div class="key">
            <div class="check-action">
              <input type="checkbox" class="check">
              <span class="name">Đối tác</span>
            </div>
          </div>
          <div class="value">
            <div class="select-custom">
              <select name="" id="" class="form-control">
                <option value=""></option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5 col-12">
        <div class="info-row">
          <div class="key">Cước ĐT</div>
          <div class="value">
            <input type="text" class="form-control" value="0">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
