<div class="row">
  <div class="col-sm-6 col-12">
    <div class="info-row">
      <div class="key w160">Mã vật tư</div>
      <div class="value">
        <input
          type="text"
          class="form-control"
          v-model="currentItem.maVatTu"
          :placeholder="!currentItem.maVatTu ? 'Chờ đồng bộ với QLTS' : ''"
          :disabled="currentMode == 'VIEW'"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w160">Loại tủ đĩa <span style="color: red">*</span></div>
      <div class="value">
        <SelectExt
          v-model="currentItem.loaiTuDia"
          dataTextField="TEN"
          dataValueField="ID"
          :dataSource="[...loaiTuDiaOptions]"
          :settings="{allowClear:true, placeholder: 'Chọn loại tủ đĩa'}"
          :disabled="currentMode == 'VIEW' || !controls.selectLoaiTuDia.enabled"
          :class="{invalidBox: controls.selectLoaiTuDia.invalid}"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w160">Model thiết bị <span style="color: red">*</span></div>
      <div class="value">
        <input
          type="text"
          class="form-control"
          v-model="currentItem.modelThietBi"
          :disabled="currentMode == 'VIEW' || !controls.txtModelThietBi.enabled"
          :class="controls.txtModelThietBi.invalid ? 'is-invalid' : ''"
          placeholder="Nhập model thiết bị"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w160">Hãng sản xuất <span style="color: red">*</span></div>
      <div class="value">
        <SelectExt
          v-model="currentItem.hangSanXuatId"
          dataTextField="TEN"
          dataValueField="ID"
          :dataSource="[...hangSanXuatList]"
          :settings="{allowClear:true, placeholder: 'Chọn hãng sản xuất'}"
          :disabled="currentMode == 'VIEW' || !controls.selectHangSanXuat.enabled"
          :class="{invalidBox: controls.selectHangSanXuat.invalid}"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w160">Công suất định danh</div>
      <div class="value">
        <input
          type="number"
          class="form-control"
          v-model="currentItem.congSuatDinhDanh"
          :disabled="currentMode == 'VIEW' || !controls.txtCongSuatDinhDanh.enabled"
          :class="controls.txtCongSuatDinhDanh.invalid ? 'is-invalid' : ''"
          min="1"
          placeholder="Nhập công suất định danh"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w160">Vai trò thiết bị</div>
      <div class="value">
        <SelectExt
          v-model="currentItem.vaiTroThietBiId"
          dataTextField="TEN"
          dataValueField="ID"
          :dataSource="[...vaiTroThietBiList]"
          :settings="{allowClear:true, placeholder: 'Chọn vai trò thiết bị'}"
          :disabled="currentMode == 'VIEW' || !controls.selectVaiTroThietBi.enabled"
          :class="{invalidBox: controls.selectVaiTroThietBi.invalid}"
        />
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-12">
    <div class="info-row">
      <div class="key w160">Full depth</div>
      <div class="value">
        <SelectExt
          v-model="currentItem.fullDepth"
          dataTextField="TEN"
          dataValueField="ID"
          :dataSource="[...fullDepthOptions]"
          :settings="{allowClear:true, placeholder: 'Chọn full depth'}"
          :disabled="currentMode == 'VIEW' || !controls.selectFullDepth.enabled"
          :class="{invalidBox: controls.selectFullDepth.invalid}"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w160">Số bộ điều khiển</div>
      <div class="value">
        <input
          type="number"
          class="form-control"
          v-model="currentItem.soBoDieuKhien"
          :disabled="currentMode == 'VIEW' || !controls.txtSoBoDieuKhien.enabled"
          :class="controls.txtSoBoDieuKhien.invalid ? 'is-invalid' : ''"
          min="1"
          placeholder="Nhập số bộ điều khiển"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w160">CPU</div>
      <div class="value">
        <input
          type="number"
          class="form-control"
          v-model="currentItem.cpu"
          :disabled="currentMode == 'VIEW' || !controls.txtCpu.enabled"
          :class="controls.txtCpu.invalid ? 'is-invalid' : ''"
          min="1"
          placeholder="Nhập số CPU"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w160">RAM</div>
      <div class="value">
        <input
          type="number"
          class="form-control"
          v-model="currentItem.ram"
          :disabled="currentMode == 'VIEW' || !controls.txtRam.enabled"
          :class="controls.txtRam.invalid ? 'is-invalid' : ''"
          min="1"
          placeholder="Nhập dung lượng RAM"
        />
      </div>
    </div>
  </div>
</div>
