<div>
    <div class="box-form">
        <div class="legend-title">Danh sách chứng từ trong File</div>
        <div class="row">
            <div class="col-sm-12 col-12">
                <DataGrid v-bind:columns="listCTTF.columns" v-bind:dataSource="listCTTF.data" :showColumnCheckbox="false"
                :enable-paging-server="false" panelDataHeight="250" :allowPaging="true" :showFilter="true" ref="reflistDsCTTF"
                :enabledSelectFirstRow="false"></DataGrid>
            </div>
        </div>
    </div>
    <div class="box-form">
        <div class="legend-title" style="display: flex; align-items: center; justify-content: space-between;">
            <span>Danh sách chứng từ sau import</span>
            <button class="btn" @click.prevent="XuLyChungTu">
                <span style=" color: #035fcc; display: flex; align-items: center;">
                    <span class="icon one-file-check1" style="font-size: 20px; margin-right: 4px;"></span>  
                    Xử lý chứng từ
                </span>
            </button>
            
        </div>
        <div class="row">
            <div class="col-sm-12 col-12">
                <DataGrid v-bind:columns="listCTIP.columns" v-bind:dataSource="listCTIP.data" :showColumnCheckbox="false"
                :enable-paging-server="false" panelDataHeight="250" :allowPaging="true" :showFilter="true" ref="reflistDsCTIP"
                :enabledSelectFirstRow="false"></DataGrid>
            </div>
        </div>
    </div>
</div>