<b-modal
  size="lg"
  no-close-on-backdrop
  hide-footer
  hide-header
  hide-header-close
  body-class="modal-body p-0"
  @shown="onShownModal"
  @hidden="onHiddenModal"
  :id="id"
  :key="key"
>
    <div class="modal-content popup-box">
      <div class="popup-header">
        <div class="title"><span class="icon one-notepad"></span> Chọn danh sách</div>
        <div class="close -ap icon-close" data-dismiss="modal" @click="$bvModal.hide(id)">
        </div>
      </div>
      <div class="quyhoach-soicap">
        <div class="list-actions-top">
          <ul class="list">
            <li>
              <a href="javascript:void(0)" @click="btnXacNhan">
                <span class="icon nc-icon-glyph ui-1_check-circle-08"></span> Xác nhận
              </a>
            </li>
          </ul>
        </div>
        <div class="popup-body">

          <div class="box-form">
            <div class="legend-title">Quy hoạch sợi cáp</div>
            <p class="desc">Quy hoạch sợi cáp dành cho thuê bao</p>
            <div class="table-content">
              <ejs-grid v-if="showGrid" ref='grid'
                        class="table-result"
                        gridLines='Both'
                        locale='vi-VN'
                        :dataSource='this.dsSoiCap'
                        :allowFiltering='true'
                        :allowSorting='true'
                        :allowSelection='true' height='265px'
                        :dataBound="this.onDataBoundSoiCap"
                        :contextMenuItems='contextMenuItems'
                        :contextMenuClick='contextMenuClick'>
                <e-columns>
                  <e-column headerText='' headerTextAlign='Center' textAlign="Center" width="20" :allowSorting='false' :allowFiltering="false" :template='columnTemplate'></e-column>
                  <e-column field='CHON' headerText='' width="60" headerTextAlign='Center' textAlign='Center' :allowSorting='false' :allowFiltering="false" :headerTemplate='headerTemplateChonNhieuSoi' :template="columnTemplateChonNhieuSoi"></e-column>
                  <e-column field='TEN_SOI' headerText='Sợi cáp' headerTextAlign='Center' textAlign="Left" :filterBarTemplate='filterBarTemplate'></e-column>
                </e-columns>
              </ejs-grid>
<!--              <table class="table-result table-gachle">-->
<!--                <thead class="center">-->
<!--                <tr>-->
<!--                  <th class="w20"></th>-->
<!--                  <th class="w20">-->
<!--                    <div class="check-action">-->
<!--                      <input v-model="checkAll" type="checkbox" class="check">-->
<!--                      <span class="name"></span>-->
<!--                    </div>-->
<!--                  </th>-->
<!--                  <th>Sợi cáp</th>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                  <th class="w20"></th>-->
<!--                  <th class="w20">-->
<!--                    &lt;!&ndash;                <div class="check-action">&ndash;&gt;-->
<!--                    &lt;!&ndash;                  <input type="checkbox" disabled="" class="check">&ndash;&gt;-->
<!--                    &lt;!&ndash;                  <span class="name"></span>&ndash;&gt;-->
<!--                    &lt;!&ndash;                </div>&ndash;&gt;-->
<!--                  </th>-->
<!--                  <th>-->
<!--                    <div class="input-icon-right">-->
<!--                      <input v-model="searchSoi" type="text" class="form-control">-->
<!--                      <span class="icon nc-icon-outline ui-1_zoom"></span>-->
<!--                    </div>-->
<!--                  </th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                &lt;!&ndash;            <tr class="highlight">&ndash;&gt;-->
<!--                &lt;!&ndash;              <td class="w20 center">&ndash;&gt;-->
<!--                &lt;!&ndash;                <span class="fa fa-play text-main"></span>&ndash;&gt;-->
<!--                &lt;!&ndash;              </td>&ndash;&gt;-->
<!--                &lt;!&ndash;              <td class="w20 center">&ndash;&gt;-->
<!--                &lt;!&ndash;                <div class="check-action">&ndash;&gt;-->
<!--                &lt;!&ndash;                  <input type="checkbox" class="check">&ndash;&gt;-->
<!--                &lt;!&ndash;                  <span class="name"></span>&ndash;&gt;-->
<!--                &lt;!&ndash;                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;              </td>&ndash;&gt;-->
<!--                &lt;!&ndash;              <td class="selected highlight1"></td>&ndash;&gt;-->
<!--                &lt;!&ndash;            </tr>&ndash;&gt;-->
<!--                <tr v-for="item in dsSearch" v-bind:key="item.SOI">-->
<!--                  <td class="w20 center">-->
<!--                  </td>-->
<!--                  <td class="w20 center">-->
<!--                    <div class="check-action">-->
<!--                      <input v-model="soiChecked" type="checkbox" class="check" :value="item.SOI">-->
<!--                      <span class="name"></span>-->
<!--                    </div>-->
<!--                  </td>-->
<!--                  <td>{{item.TEN_SOI}}</td>-->
<!--                </tr>-->

<!--                &lt;!&ndash;            <tr>&ndash;&gt;-->
<!--                &lt;!&ndash;              <td class="w20 center">&ndash;&gt;-->
<!--                &lt;!&ndash;              </td>&ndash;&gt;-->
<!--                &lt;!&ndash;              <td class="w20 center">&ndash;&gt;-->
<!--                &lt;!&ndash;                <div class="check-action">&ndash;&gt;-->
<!--                &lt;!&ndash;                  <input type="checkbox" class="check">&ndash;&gt;-->
<!--                &lt;!&ndash;                  <span class="name"></span>&ndash;&gt;-->
<!--                &lt;!&ndash;                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;              </td>&ndash;&gt;-->
<!--                &lt;!&ndash;              <td></td>&ndash;&gt;-->
<!--                &lt;!&ndash;            </tr>&ndash;&gt;-->
<!--                &lt;!&ndash;            <tr>&ndash;&gt;-->
<!--                &lt;!&ndash;              <td class="w20 center">&ndash;&gt;-->
<!--                &lt;!&ndash;              </td>&ndash;&gt;-->
<!--                &lt;!&ndash;              <td class="w20 center">&ndash;&gt;-->
<!--                &lt;!&ndash;                <div class="check-action">&ndash;&gt;-->
<!--                &lt;!&ndash;                  <input type="checkbox" class="check">&ndash;&gt;-->
<!--                &lt;!&ndash;                  <span class="name"></span>&ndash;&gt;-->
<!--                &lt;!&ndash;                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;              </td>&ndash;&gt;-->
<!--                &lt;!&ndash;              <td></td>&ndash;&gt;-->
<!--                &lt;!&ndash;            </tr>&ndash;&gt;-->
<!--                &lt;!&ndash;            <tr>&ndash;&gt;-->
<!--                &lt;!&ndash;              <td class="w20 center">&ndash;&gt;-->
<!--                &lt;!&ndash;              </td>&ndash;&gt;-->
<!--                &lt;!&ndash;              <td class="w20 center">&ndash;&gt;-->
<!--                &lt;!&ndash;                <div class="check-action">&ndash;&gt;-->
<!--                &lt;!&ndash;                  <input type="checkbox" class="check">&ndash;&gt;-->
<!--                &lt;!&ndash;                  <span class="name"></span>&ndash;&gt;-->
<!--                &lt;!&ndash;                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;              </td>&ndash;&gt;-->
<!--                &lt;!&ndash;              <td></td>&ndash;&gt;-->
<!--                &lt;!&ndash;            </tr>&ndash;&gt;-->
<!--                </tbody>-->
<!--              </table>-->
            </div>
          </div>
        </div>
      </div>
    </div>
</b-modal>
