.vattu_table {
  position: absolute;
  z-index: 1;
  max-height: 200px;
  background: aliceblue;
  overflow-y: scroll;
}

.control-section {
  height: 100%;
  min-height: 200px;
}

.popup-tieuchi {
  left: 25% !important;
  width: 50% !important;
}

.popup-content {
  max-height: 720px !important;
  width: 80% !important;
  left: 10% !important;
  top: 5% !important;
  // height: 85% !important;
  // z-index: 1001 !important;
  // transform: translateY(-50%) !important;
}

.input-group {
  display: table !important;
  width: 100% !important;
}

.btn {
  border: 1px solid #ced4da !important;
}

.display-toggle {
  display: block;
}
