<div>
  <div class="list-actions-top">
    <ul class="list">
      <li  @click="clearForm()" :class="{'disable-btn': buttonState.btnNhapMoiEnabled}">
        <a :tabindex="4" href="javascript:void(0)" >
          <span class="icon one-file-plus"></span>Nhập mới
        </a>
      </li>
      <li @click="saveAs()" :class="{'disable-btn': buttonState.btnCapNhatEnabled}">
        <a :tabindex="5" href="javascript:void(0)">
          <span class="icon one-save"></span>Ghi lại
        </a>
      </li>
      <li @click="cancelFunc()" :class="{'disable-btn': buttonState.btnHuyBoEnabled}">
        <a :tabindex="6" href="javascript:void(0)">
          <span class="icon ui-1_circle-remove nc-icon-glyph"></span>Hủy
        </a>
      </li>
      <li   @click="xoaDTTT()" :class="{'disable-btn': buttonState.btnXoaEnabled}"  style="padding: 2px">
        <a  :tabindex="7" href="javascript:void(0)">
          <span class="icon one-trash"></span>Xóa
        </a>
      </li>
    </ul>
  </div>
  <div class="page-content">
    <div class="box-form">
      <div class="info-row">
        <div class="key w60">Tên bảng</div>
        <div class="value">
          <div class="select-custom">
            <SelectExt :tabindex="8" v-model.trim="tenBang" :dataSource="dsBang" dataTextField="TABLE_NAME"
                       dataValueField="TABLE_NAME" />
          </div>
        </div>
      </div>
      <div class="legend-title mart20">
        Thông tin thuộc tính
      </div>
      <div class="row">
        <div class="col-sm-7 col-12">
          <div class="row">
            <div class="col-sm-7 col-12">
              <div class="info-row">
                <div class="key w100">Tên trường<bss-required-marker /></div>
                <div class="value" >
                  <input   :tabindex="9" type="text" class="form-control" v-model="tenTruong" ref="tenTruong" :class="{ 'is-invalid': $v.tenTruong.$error}">
                </div>
              </div>
            </div>
            <div class="col-sm-5 col-12">
              <div class="info-row">
                <div class="key w120">Mô tả <bss-required-marker /></div>
                <div class="value">
                  <input   :tabindex="10" type="text" class="form-control" v-model="moTa" ref="moTa" :class="{ 'is-invalid': $v.moTa.$error}">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-7 col-12">
              <div class="info-row">
                <div class="key w100">Kiểu DL <bss-required-marker /></div>
                <div class="value">
                  <div class="select-custom">
                    <select   :tabindex="12" v-model="idKieuDl" class="form-control">
                      <option v-for="idKieuDl in dsKieuDl" v-bind:value="idKieuDl.MA_SO">{{idKieuDl.TEN}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-12">
              <div class="info-row">
                <div class="key w120">Kích thước  <bss-required-marker /></div>
                <div class="value " >
                  <input   :tabindex="13"  onkeydown="javascript: return event.keyCode === 8 ||
event.keyCode === 46 || event.keyCode === 9 ? true : !isNaN(Number(event.key))"  type="number" class="form-control" ref="kichThuoc" v-model="kichThuoc"  :class="{ 'is-invalid': $v.kichThuoc.$error}">
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-12">
              <div class="info-row">
                <div class="key w40">Vị Trí <bss-required-marker /></div>
                <div class="value">
                  <input   :tabindex="14" onkeydown="javascript: return event.keyCode === 8 ||
event.keyCode === 46 || event.keyCode === 9 ? true : !isNaN(Number(event.key))"  type="number" class="form-control" ref="viTri" v-model="viTri"  :class="{ 'is-invalid': $v.viTri.$error}">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-12">
              <div class="info-row">
                <div class="key w100">Miền giá trị</div>
                <div class="value" >
                  <input   :tabindex="17"   onkeydown="javascript: return event.keyCode === 8 ||
event.keyCode === 46  || event.keyCode === 9 ? true : !isNaN(Number(event.key))"  type="number" value="0" class="form-control" v-model="tu">
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-12">
              <div class="info-row">
                <div class="key w40">đến</div>
                <div class="value">
                  <input  :tabindex="18" onkeydown="javascript: return event.keyCode === 8 ||
event.keyCode === 46 || event.keyCode === 9 ? true : !isNaN(Number(event.key))"  type="number" class="form-control" v-model="den">
                </div>
              </div>
            </div>
            <div class="col-sm-5 col-12">
              <div class="info-row">
                <div class="key w120">Độ dài khoá </div>
                <div class="value"  >
                  <input  :tabindex="19"  type="text" class="form-control" v-model="doDaiKhoa">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-7 col-12">
              <div class="info-row">
                <div class="key w100">Bảng cha</div>
                <div class="value" >
                  <input  :tabindex="22"  type="text" value="0" class="form-control"  v-model="bangCha">
                </div>
              </div>
            </div>
            <div class="col-sm-5 col-12">
              <div class="info-row">
                <div class="key w120">Trường phụ thuộc</div>
                <div class="value">
                  <input   :tabindex="23"  type="text" class="form-control"  v-model="truongPhuThuoc">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-7 col-12">
              <div class="info-row">
                <div class="key w100">Trường khoá</div>
                <div class="value">
                  <input  :tabindex="24" type="text" class="form-control"  v-model="truongKhoa">
                </div>
              </div>
            </div>
            <div class="col-sm-5 col-12">
              <div class="info-row">
                <div class="key w120">Trường hiển thị</div>
                <div class="value">
                  <input   :tabindex="25" type="text" class="form-control"  v-model="truongHienThi">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-5 col-12">
          <div class="row">
            <div class="col-sm-7 col-12">
              <div class="info-row">
                <div class="key w105">Cho phép NULL <bss-required-marker /></div>
                <div class="value">
                  <div class="select-custom" >
                    <select   :tabindex="10" v-model="maAllowNull" class="form-control" >
                      <option v-for="maAllowNull in options" v-bind:value="maAllowNull.maOption">{{maAllowNull.content}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-5 col-12">
              <div class="info-row">
                <div class="key w95">Tuỳ chọn <bss-required-marker /></div>
                <div class="value"  >
                  <input :tabindex="11" type="number" onkeydown="javascript: return event.keyCode === 8 ||
event.keyCode === 46 || event.keyCode === 9 ? true  :  !isNaN(Number(event.key))" class="form-control" ref="tuyChon" value="0" v-model="tuyChon" :class="{ 'is-invalid': $v.tuyChon.$error}">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-7 col-12">
              <div class="info-row">
                <div class="key w105">Duy nhất <bss-required-marker /></div>
                <div class="value">
                  <div class="select-custom">
                    <select  :tabindex="15"  v-model="maUnique" class="form-control">
                      <option v-for="maUnique in options" v-bind:value="maUnique.maOption">{{maUnique.content}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-5 col-12">
              <div class="info-row">
                <div class="key w100">Cách nhập DL <bss-required-marker /></div>
                <div class="select-custom">
                  <select   :tabindex="16" v-model="idCachNhap" class="form-control">
                    <option v-for="idCachNhap in dsCachNhapDl" v-bind:value="idCachNhap.MA_SO">{{idCachNhap.TEN}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="info-row">
            <div class="key w105">Lệnh SQL</div>
            <div class="value">
              <textarea  :tabindex="20"  class="form-control" style="height: 110px;resize: none;"  v-model="lenhSql"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="box-form">
        <div class="legend-title mart10">Danh sách thuộc tính</div>
        <DataGrid v-bind:columns="[
            {fieldName: 'FIELD_NAME', headerText: 'Tên trường', allowFiltering: true},
            {fieldName: 'CAPTION', headerText: 'Mô tả', allowFiltering: true},
            {fieldName: 'DATA_TYPE', headerText: 'Kiểu dữ liệu', allowFiltering: true},
            {fieldName: 'FIELD_POSITION', headerText: 'Vị trí', allowFiltering: true},
            {fieldName: 'LOOKUP_SQL', headerText: 'Lệnh SQL', allowFiltering: true}]"
                  v-bind:dataSource="dsDoiTuongThuocTinh" :showFilter="true" dataKeyField="FIELD_NAME"  @selectedRowChanged="grid1_selectedRowChanged" :selectedRow="indexFocus" ></DataGrid>
      </div>
    </div>
  </div>
  <b-modal v-model="modalXoa" cancelTitle="Huỷ" okTitle="Đồng ý" title="" size="sm" @ok="xacNhanXoaDTTT()">
    <span>Bạn thật sự muốn xóa dữ liệu không?</span>
  </b-modal>
</div>
