<b-modal
        id="modal-dsloichuyenphieuLH"
        size="lg"
        hide-footer
        hide-header
        hide-header-close
        body-class="modal-body p-0"
    >
            <div class="modal-content popup-box">
                <div class="popup-header">
                    <div class="title"><span class="icon one-notepad"></span>Danh sách lỗi đọc file giao phiếu XLN</div>
                    <div class="close -ap icon-close" data-dismiss="modal" @click="close">
                    </div>
                </div>
                <div class="list-actions-top">
                    <ul class="list">                        
                        <li>
                            <a href="javascript:void(0)" @click="close">
                                <span class="icon one-export"></span> Thoát
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="popup-body">       
                    <div class="box-form">
                        <div class="legend-title">
                            <div class="pull-left">
                                Danh sách lỗi
                            </div>                            
                            <div class="clearfix"></div>
                        </div>
                        <div class="table-content">                            
                            <rtable
                                :fields="fields"
                                :items="items"                                
                            >
                            </rtable>
                            <!-- <table class="table-result table-gachle">
                                <thead class="center">
                                    <tr>
                                        <th class="w20"></th>
                                        <th v-for="field in fields">{{ field.label }}</th>            
                                    </tr>                                    
                                </thead>
                                <tbody>
                                    <tr v-if="$data.items == null || $data.items.length == 0">
                                      <td :colspan="fields.length + 1" style="text-align:center">
                                        Không có bản ghi nào để hiển thị
                                      </td>
                                    </tr>
                                    <tr v-for="(item, idx) in $data.items" :key="idx" :style="{background: index == idx ? '#FFF0C8 !important' : null }" @click="selectRow(item, idx)">
                                      <td>
                                        <span class="fa fa-play text-main" v-if="index == idx"></span>
                                      </td>
                                      <td>{{ item.MA_XLN }}</td>
                                      <td>{{ item.LYDO }}</td>
                                    </tr>
                                  </tbody>
                            </table> -->
                        </div>
                        <div class="tc-pagination">
                            <a href="#" class="btn  one-arrow-left-forward"></a>
                            <a href="#" class="btn fa fa-angle-double-left"></a>
                            <a href="#" class="btn fa fa-angle-left"></a>
                            <span class="text">Bản ghi</span>
                            <div class="dropdown inline">
                                <div class="fw6 input-number" data-toggle="dropdown">
                                    <span class="text-main">10</span>/1033
                                </div>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item">10</a>
                                    <a href="#" class="dropdown-item">20</a>
                                </div>
                            </div>
                            <a href="#" class="btn fa fa-angle-right"></a>
                            <a href="#" class="btn fa fa-angle-double-right"></a>
                            <a href="#" class="btn one-arrow-right-forward"></a>
                        </div>
                    </div>
                </div>
            </div>
</b-modal>