<div class="modal-wrapper" style="width: 100%; max-width: 1220px;">
    <div class="list-actions-top">
        <ul class="list">
            <li>
                <a class="pointer" @click.prevent="onSave">
                    <span class="icon one-save"></span> Lưu
                </a>
            </li>
            <li>
                <a class="pointer" @click.prevent="onReload">
                    <span class="icon one-sync"></span> Làm mới
                </a>
            </li>
        </ul>
    </div>
    <div class="popup-body">
        <div class="form-group">
            <!-- <div class="select-custom">
                <select name="" id="" class="form-control">
                    <option value=""></option>
                </select>
            </div> -->
            <div class="value" v-click-outside="hideTimKiem">
                <div class="vattu_box">
                    <div class="input-group">
                        <div class="li input-text">
                            <div class="select-custom">
                                <input ref="timKiemRef" readonly v-model="timKiem.text"
                                    class="form-control bg-none" @click="toggleTimKiem">
                                </input>
                            </div>
                        </div>
                    </div>
                    <div class="vattu_table" v-show="showTK">
                        <DataGrid2
                            v-bind:columns="[
                            {fieldName: 'maDv', headerText: '', allowFiltering: true, allowSorting: false},
                            {fieldName: 'tenDv', headerText: '', allowFiltering: true, allowSorting: false}]"
                            v-bind:dataSource="nvDonViLst" 
                            :showFilter="true" 
                            :showColumnCheckbox="false"
                            dataKeyField="donViId" 
                            :defaultColumnCheckboxChecked="false"
                            @selectedRowChanged="onSelectRowTK" 
                            :pageSize="10000"
                            :selectedRow="-1"
                            ref="nvDvRef">
                        </DataGrid2>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-form">
            <DataGrid v-bind:columns="[
            {
                fieldName: 'tenDv',
                headerText: '',
                allowFiltering: true,
                allowSorting: false,
                isGroupedColumn: true,
            },
            {
                fieldName: 'maNv',
                headerText: 'Mã NV',
                allowFiltering: true,
                allowSorting: false,
            },
            {
                fieldName: 'tenNv',
                headerText: 'Tên NV',
                allowFiltering: true,
                allowSorting: false,
            },
            {fieldName: '',
            headerText: 'Vai trò',
            width: 120,
            allowFiltering: false,
            template: vaiTroTemplate
            },
            ]"
            v-bind:dataSource="nvThauLst.data"
             :showFilter="true"
            dataKeyField="nhanVienId"
            :showColumnCheckbox=true
            :allowPaging="true"
            :totalRecords="nvThauLst.totalItems"
            :enablePagingServer="false"
            :enabledSelectFirstRow="false"
            @selectedItemsChanged="selectItemsNvThau"
            :editSettings='editSettings'
            :selectionSettings="{enableToggle: false}"
            @cellSaved=""
            ref="tableVT"
            >
          </DataGrid>
        </div>
    </div>
</div>