<div ref="tabThongTinKhachHang">
  <div class="box-form">
    <div class="legend-title">Thông tin khách hàng</div>
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w120">Mã KH
            <bss-required-marker />
          </div>
          <div class="value">
            <div class="input-more-button" v-show="false">
              <button class="btn" :disabled="true">
                <span class="-ap icon-more_horiz"></span>
              </button>
            </div>
            <input ref="txtMaKH" type="text" v-model="parent.modelInput.txtMaKH" class="form-control ">
          </div>
        </div>
        <div class="info-row">
          <div class="key w120">Tên KH
            <bss-required-marker />
          </div>
          <div class="value">
            <input type="text"  v-on:blur="txtTenKH_Leave"  ref="txtTenKH" v-on:keyup.enter="txtTenKH_KeyPress" v-model="parent.modelInput.txtTenKH" class="form-control">
          </div>
        </div>
        <div class="info-row">
          <div class="key w120">Địa chỉ KH
            <bss-required-marker />
          </div>
          <div class="value">
            <div class="input-more-button">
              <button class="btn" @click="btnDiaChiKH_Click">
                <span class="-ap icon-more_horiz"></span>
              </button>
              <input ref="txtDiaChiKH" type="text" v-model="parent.modelInput.txtDiaChiKH" class="form-control ">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key w120">Loại giấy tờ
                <bss-required-marker />
              </div>
              <div class="value">
                <div class="select-custom">
                  <SelectExt v-model.trim="parent.modelCbo.cboGiayToKH" :settings="{dropdownParent: $refs['cboGiayToKH']}"
                    :dataSource="parent.modelCbo.vcboGiayToKH" dataTextField="loai_gt" dataValueField="loaigt_id" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Số giấy tờ
                <bss-required-marker />
              </div>
              <div class="value">
                <input ref="txtSoGT" v-on:blur="txtSoGT_Leave" type="text" v-model="parent.modelInput.txtSoGT" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key w120">Ngày cấp
                <bss-required-marker />
              </div>
              <div class="value">
                <input ref="txtNgayCap" type="text" v-model="parent.modelInput.txtNgayCap" class="form-control"
                  value="__/__/____" v-mask="'99/99/9999'">
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Nơi cấp</div>
              <div class="value">
                <input ref="txtNoiCap" type="text" v-model="parent.modelInput.txtNoiCap" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key w120">Ngày hết hạn</div>
              <div class="value">
                <input ref="txtNgayHetHan" type="text" v-model="parent.modelInput.txtNgayHetHan" class="form-control"
                  value="__ /__ /____" v-mask="'99/99/9999'">
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">{{parent.lblNgaySN}}
                <bss-required-marker />
              </div>
              <div class="value">
                <input ref="txtNgaySN" type="text" v-model="parent.modelInput.txtNgaySN" class="form-control"
                  value="__ /__ /____" v-mask="'99/99/9999'">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key w120">Giới tính</div>
              <div class="value">
                <div class="list-checks mart7">
                  <div class="item">
                    <div class="check-action">
                      <input type="radio" v-model="parent.modelCkeckBox.rdoGioiTinh" :value="null" class="check"
                        :disabled="!parent.buttonState.rdoGTNone">
                      <span class="name">Không</span>
                    </div>
                  </div>
                  <div class="item">
                    <div class="check-action">
                      <input type="radio" v-model="parent.modelCkeckBox.rdoGioiTinh" :value="0" class="check"
                        :disabled="!parent.buttonState.rdoGTNam">
                      <span class="name">Nam</span>
                    </div>
                  </div>
                  <div class="item">
                    <div class="check-action">
                      <input type="radio" v-model="parent.modelCkeckBox.rdoGioiTinh" :value="1" class="check"
                        :disabled="!parent.buttonState.rdoGTNu">
                      <span class="name">Nữ</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Quốc tịch</div>
              <div class="value">
                <div class="select-custom">
                  <SelectExt v-model.trim="parent.modelCbo.cboQuocTich" :settings="{dropdownParent: $refs['cboQuocTich']}"
                    :dataSource="parent.modelCbo.vcboQuocTich" :disabled="!parent.isEnableCboQuocTich" dataTextField="tenquoctich" dataValueField="quoctich_id" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key w120">Ngành nghề</div>
              <div class="value">
                <div class="input-more-button">
                  <button class="btn" @click="btnNganhNghe_Click">
                    <span class="-ap icon-more_horiz"></span>
                  </button>
                  <div class="select-custom" ref="cboNganhNgheLoc">
                    <SelectExt v-model.trim="parent.modelCbo.cboNganhNgheLoc" :disabled="!parent.isEnableCboNganhNgheLoc"
                      :dataSource="parent.modelCbo.vcboNganhNgheLoc" @change="cboNganhNgheLoc_EditValueChanged"
                      dataTextField="tennganhnghe" dataValueField="nganhnghe_id" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Dân tộc</div>
              <div class="value">
                <div class="select-custom">
                  <SelectExt v-model.trim="parent.modelCbo.cboDanToc" :settings="{dropdownParent: $refs['cboDanToc']}"
                    :disabled="!parent.isEnableCboDanToc"
                    :dataSource="parent.modelCbo.vcboDanToc" dataTextField="tendantoc" dataValueField="dantoc_id" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-row">
          <div class="key w120">Giấy tờ kèm theo</div>
          <div class="value">
            <input type="text" v-model.trim="parent.modelInput.txtGiayToKem" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key">Loại KH</div>
              <div class="value">
                <div class="input-more-button">
                  <button class="btn" @click="btnLoaiKH_Click">
                    <span class="-ap icon-more_horiz"></span>
                  </button>
                  <div class="select-custom">
                    <ComboboxGrid class="popup-expand-custom" ref="cboGridLoaiKH" v-bind:columns="[
                                                                  {fieldName: 'kieu_kh', headerText: 'Kiểu KH', allowFiltering: true, isGroupedColumn:true},
                                                                  {fieldName: 'ten_nhom', headerText: 'Nhóm LKH', allowFiltering: true, isGroupedColumn:true},
                                                                  {fieldName: 'ma_loaikh', width:'70px', headerText: 'Mã loại KH', allowFiltering: true},
                                                                  {fieldName: 'ten_loaikh', width:'370px', headerText: 'Tên loại KH', allowFiltering: true}
                                                                  ]" v-bind:dataSource="parent.modelCbo.vcboLoaiKH"
                      v-model.trim="parent.modelCbo.cboLoaiKH" @selectedChanged="cboLoaiKH2_EditValueChanged"
                      textField="ten_loaikh" valueField="loaikh_id">
                    </ComboboxGrid>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">PLKH</div>
              <div class="value">
                <input type="text" v-model.trim="parent.modelInput.txtPhanLoaiKH" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key">Người đại diện</div>
              <div class="value">
                <input v-on:blur="txtNguoiDD_Leave" ref="txtNguoiDD" type="text" v-model.trim="parent.modelInput.txtNguoiDD" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Chức vụ</div>
              <div class="value">
                <input  v-on:blur="txtChucDanhDD_Leave" type="text" v-model.trim="parent.modelInput.txtChucDanhDD" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="info-row">
          <div class="key">Địa chỉ NĐD</div>
          <div class="value">
            <div class="input-more-button">
              <button class="btn" @click="btnDiaChiNDD_Click">
                <span class="-ap icon-more_horiz"></span>
              </button>
              <input ref="txtDiaChiNDD" type="text" v-model.trim="parent.modelInput.txtDiaChiNDD" class="form-control ">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key">Điện thoại</div>
              <div class="value">
                <input ref="txtTelKH" type="tel" v-mask="{ mask() { return ['999999999[9]', '9{11,}']; }}"
                  v-model.trim="parent.modelInput.txtTelKH" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Fax</div>
              <div class="value">
                <input type="text" v-model.trim="parent.modelInput.txtFaxKH" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="info-row">
          <div class="key">Hộ khẩu</div>
          <div class="value">
            <input v-on:blur="txtHoKhau_Leave" ref="txtHoKhau" type="text" v-model.trim="parent.modelInput.txtHoKhau" class="form-control ">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key">Nơi cấp HK</div>
              <div class="value">
                <input v-on:blur="txtNoiCapHK_Leave" type="text" v-model.trim="parent.modelInput.txtNoiCapHK" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Ngày cấp</div>
              <div class="value">
                <input type="text" v-model.trim="parent.modelInput.txtNgayCapHK" class="form-control" value="__/__/____"
                  v-mask="'99/99/9999'">
              </div>
            </div>
          </div>
        </div>
        <div class="info-row">
          <div class="key">Ngân hàng</div>
          <div class="value w20 padt7">
            <div class="check-action">
              <input type="checkbox" v-model="parent.modelCkeckBox.chkNganHangKH" class="check">
              <span class="name"></span>
            </div>
          </div>
          <div class="value">
            <div class="select-custom">
              <SelectExt v-model.trim="parent.modelCbo.cboNganHangKH" :settings="{dropdownParent: $refs['cboNganHangKH']}"
                :dataSource="parent.modelCbo.vcboNganHangKH" dataTextField="ten_nh" dataValueField="nganhang_id"
                :disabled="!parent.modelCkeckBox.chkNganHangKH" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key">Mã số thuế</div>
              <div class="value">
                <input type="text" v-model.trim="parent.modelInput.txtMaSTKH" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Tài khoản</div>
              <div class="value">
                <input type="text" v-model.trim="parent.modelInput.txtSoTKKH" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="info-row">
          <div class="key">Ghi chú</div>
          <div class="value">
            <input type="text" v-model.trim="parent.modelInput.txtGhiChuKH" class="form-control">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-form">
    <div class="legend-title">Thông tin thanh toán</div>
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key w120">Mã TT
                <bss-required-marker />
              </div>
              <div class="value">
                <input ref="txtMaTT" type="text" v-model.trim="parent.modelInput.txtMaTT" :disabled="true" class="form-control ">
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Mã TB ĐD</div>              
              <div class="value">
                <div class="select-custom">
                  <SelectExt v-model.trim="parent.modelCbo.cboMaDD" :settings="{dropdownParent: $refs['cboMaDD']}"
                    :dataSource="parent.modelCbo.vcboMaDD" dataTextField="ma_tb" dataValueField="ma_tb"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-row">
          <div class="key w120">Tên thanh toán
            <bss-required-marker />
          </div>
          <div class="value">
            <input v-on:blur="txtTenTT_Leave"  ref="txtTenTT" type="text" v-model.trim="parent.modelInput.txtTenTT" class="form-control ">
          </div>
        </div>
        <div class="info-row">
          <div class="key w120">Địa chỉ TT
            <bss-required-marker />
          </div>
          <div class="value">
            <div class="input-more-button">
              <button ref="btnDiaChiTT" class="btn" @click="btnDiaChiTT_Click">
                <span class="-ap icon-more_horiz"></span>
              </button>
              <input ref="txtDiaChiTT" type="text" v-model.trim="parent.modelInput.txtDiaChiTT" class="form-control ">
            </div>
          </div>
        </div>
        <div class="info-row">
          <div class="key w120">Địa chỉ CT</div>
          <div class="value">
            <div class="input-more-button">
              <button class="btn" @click="btnDiaChiCT_Click">
                <span class="-ap icon-more_horiz"></span>
              </button>
              <input v-on:blur="txtDiaChiCT_Leave" ref="txtDiaChiCT" type="text" v-model.trim="parent.modelInput.txtDiaChiCT" class="form-control ">
            </div>
          </div>
        </div>
        <div class="info-row">
          <div class="key w120">Địa chỉ BC</div>
          <div class="value">
            <div class="input-more-button">
              <button class="btn" @click="btnDiaChiBC_Click">
                <span class="-ap icon-more_horiz"></span>
              </button>
              <input ref="txtDiaChiBC" type="text" v-model.trim="parent.modelInput.txtDiaChiBC" class="form-control ">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key">Mã in ghép</div>
              <div class="value">
                <div class="input-more-button">
                  <button class="btn" :disabled="true">
                    <span class="-ap icon-more_horiz"></span>
                  </button>
                  <input type="text" v-model.trim="parent.modelInput.txtMaIG" class="form-control ">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Đơn vị QL</div>
              <div class="value">
                <div class="select-custom">
                  <SelectExt v-model.trim="parent.modelCbo.cboDonViQL" :settings="{dropdownParent: $refs['cboDonViQL']}"
                    :dataSource="parent.modelCbo.vcboDonViQL" :disabled="false" dataTextField="ten_dv"
                    dataValueField="donvi_id" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key">Hình thức TT</div>
              <div class="value">
                <div class="select-custom">
                  <SelectExt v-model.trim="parent.modelCbo.cboHTTT" :settings="{dropdownParent: $refs['cboHTTT']}"
                    :dataSource="parent.modelCbo.vcboHTTT" :disabled="false" dataTextField="hinhthuc_tt"
                    dataValueField="httt_id" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Mã NVTC</div>
              <div class="value w20">
                <button class="btn btn-second padl10 padr10" @click="btnTimMaNVTC_Click">
                  <span class="-ap icon-more_horiz"></span>
                </button>
              </div>
              <div class="value">
                <div class="row">
                  <div class="col-sm-6 col-12">
                    <input ref="txtMaNVTC" type="text" v-model.trim="parent.modelInput.txtMaNVTC"
                      class="form-control highlight">
                  </div>
                  <div class="col-sm-6 col-12">
                    <input type="text" v-model.trim="parent.modelInput.txtMaTuyen" class="form-control highlight">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key">Tài khoản</div>
              <div class="value">
                <input type="text" v-model.trim="parent.modelInput.txtSTKTT" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Chủ TK</div>
              <div class="value">
                <input type="text" v-model.trim="parent.modelInput.txtChu_TK" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key">Ngân hàng</div>
              <div class="value">
                <div class="input-more-button">
                  <button class="btn" :disabled="true">
                    <span class="-ap icon-more_horiz"></span>
                  </button>
                  <div class="select-custom">
                    <SelectExt v-model.trim="parent.modelCbo.cboNganHangTT"
                      :settings="{dropdownParent: $refs['cboNganHangTT']}" :dataSource="parent.modelCbo.vcboNganHangTT"
                      :disabled="!parent.enableCboNganHangTT" dataTextField="ten_nh" dataValueField="nganhang_id" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Mã số thuế</div>
              <div class="value">
                <input ref="txtMST" type="text" v-model.trim="parent.modelInput.txtMST" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key">Ghi chú</div>
              <div class="value">
                <input type="text" v-model.trim="parent.modelInput.txtGhiChuTT" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Mã NVQL</div>
              <div class="value">
                <input type="text" v-model.trim="parent.modelInput.txtNhanVienQL" class="form-control highlight">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-form">
    <div class="row">
      <div class="col-sm-10 col-12">
        <div class="legend-title">
          <div class="pull-left mart7">Danh sách thanh toán</div>
          <div class="clearfix"></div>
        </div>
        <div class="table-content" style="height: 250px;">
          <DataGrid ref="gridThanhToan" v-bind:columns="[
                                          {fieldName: 'stt', headerText: 'STT', allowFiltering: true, allowSorting: true, width: 30},
                                          {fieldName: 'ma_tt', headerText: 'Mã TT', allowFiltering: true, allowSorting: true, width: 60},
                                          {fieldName: 'ten_tt', headerText: 'Tên thanh toán', allowFiltering: true, allowSorting: true, width: 60},
                                          {fieldName: 'diachi_tt', headerText: 'Địa chỉ thanh toán', allowFiltering: true, allowSorting: true},
                                          {fieldName: 'diachi_ct', headerText: 'Địa chỉ chứng từ', allowFiltering: true, allowSorting: true, width: 60},
                                          ]" v-bind:dataSource="parent.modelInput.lvwThanhToan" :showFilter="true"
            @selectedRowChanged="lvwThanhToan_selectedRowChanged">
          </DataGrid>
        </div>
      </div>
      <div class="col-sm-2 col-12">
        <div class="legend-title mart7">Dịch vụ khác</div>
        <div class="form-control" style="height: 300px;resize: none;">
          <template v-for="item in parent.modelInput.lvDvkhac_TT">
            <tr class="" style="width: 100%">
              <td class="text-body" style="width: 100%">
                <div>{{ item }}</div>
              </td>
            </tr>
          </template>
        </div>
      </div>
    </div>
  </div>
  <TimNhanVienThuCuoc ref="dlgTimKiemNVTC" :input="inputObjFrmTraCuuNVTC" @acceptChange="getTraCuuNVTC"></TimNhanVienThuCuoc>
  <ChiTietNganhNghe id="popupChiTietNganhNghe" :objChiTietNganhNghe="parent.objChiTietNganhNghe" @objTNC="getTNC"></ChiTietNganhNghe>
  <ModalChonDiaChi modalId="popupDiaChi" :data="diachi" :showThongTinThem="showThongTinThem" :isStrictMode="true" @xacnhan="getDiaChiTuFormDiaChi"/>
  <LoaiKH id="popupLoaiKH" :objLoaiKH="objLoaiKH" @getLoaiKHID="getLoaiKHID"></LoaiKH>
</div>