<div class="combobox-grid" tabindex="0" v-click-outside="hide">
  <div class="select-custom" @click="expanded = !expanded">
    <input type="text" class="form-control" :value="textSelected" readonly />
      <input type="hidden" :value="valueSelected" />
  </div>
  <div class="grid-panel" v-show="expanded">
    <DataGrid ref="gridData" v-bind:columns="columns" v-bind:dataSource="dataSource" :showFilter="showFilter" :enabledSelectFirstRow="enabledSelectFirstRow"
      @selectedRowChanged="dataGrid_selectedRowChanged" :panelDataHeight="gridPanelDataHeight" @rowClicked="dataGrid_rowClicked"></DataGrid>
  </div>
</div>
