<ejs-dialog
    :enableResize="true"
    :allowDragging="true"
    :visible="false"
    :animationSettings="animationSettings"
    ref="dlgReadFileKSTB"
    width="80%"
    :target="target"
    :showCloseIcon="true"
    header='<div class="title"><span class="icon one-notepad"></span> Đọc file thuê bao khảo sát</div>'
    :open="dialogOpened"
    :close="reset"
>
    <div class="list-actions-top">
        <ul class="list">
            <li>
                <a href="javascript: void(0)" @click="tsbtnXem">
                    <span
                        class="icon design_bullet-list-67 nc-icon-glyph"
                    ></span>
                    Danh sách
                </a>
            </li>
            <li>
                <a href="javascript: void(0)" @click="tsbtnChapNhan">
                    <span
                        class="icon ui-1_check-circle-08 nc-icon-glyph"
                    ></span>
                    Chấp nhận
                </a>
            </li>
            <li>
                <a href="javascript: void(0)" @click="tsbtnXuatExcel">
                    <span class="icon one-excel"></span> Xuất Excel
                </a>
            </li>
        </ul>
        <!-- <div class="more">
            <a>
                <span class="icon -ap icon-dots-three-vertical"></span>
            </a>
        </div> -->
    </div>
    <div class="popup-body">
        <div class="box-form">
            <div class="list-checks fw6 marb10">
                <div class="item">
                    <span
                        class="
                    one-alert
                    f24
                    text-warning
                    inline
                    vcenter
                    marr7
                "
                    ></span>
                    <span class="text-main"
                        >File excel gồm 1 trường: MA_TB (hoặc 2 trường: MA_TB, MO_TA)</span
                    >
                </div>
            </div>
            <div class="info-row">
                <div class="key">Đường dẫn</div>
                <div class="value">
                    <div class="input-more-button">
                        <label for="upload" class="btn">
                            <span class="-ap icon-more_horiz"></span>
                            <input
                                type="file"
                                id="upload"
                                style="display: none"
                                ref="fileInput"
                                @change="onChangeFile"
                                @click="$refs.fileInput.value = null"
                            />
                        </label>
                        <input
                            type="text"
                            disabled
                            class="form-control"
                            id="showFileNameUpload"
                            v-model="txtFileName"
                        />
                    </div>
                </div>
            </div>
            <!-- <div class="legend-title mart20">
                <div class="title pull-left">{{linlblThongBao}}</div>
                <div class="clearfix"></div>
            </div> -->
            <div class="nav tabs tab-over">
                <a
                    href="#tabDS" data-toggle="tab"
                    @click="tabDanhSach = false"
                    :class="{ active: !tabDanhSach }"
                    ><span class="nc-icon-glyph design_bullet-list-67 text-main f20 inline vcenter"></span> Danh sách thuê bao khảo sát</a
                >
                <a href="#tabLoi" data-toggle="tab" @click="tabDanhSach = true" :class="{ active: tabDanhSach }"
                    ><span class="one-alert text-warning f20 inline vcenter"></span> Lỗi</a
                >
            </div>
            <div class="tab-content">
                <div class="tab-pane" id="tabDS" :class="{active: !tabDanhSach}">
                    <div class="table-content">
                        <DataGrid
                            v-bind:columns="columnDSTB"
                            :dataSource="dtThueBao"
                            :showFilter="true"
                            dataKeyField="STT"
                            ref="tblDsDocFile"
                        ></DataGrid>
                    </div>
                </div>
                <div class="tab-pane" id="tabLoi" :class="{active: tabDanhSach}">
                    <div class="table-content">
                        <DataGrid
                            v-bind:columns="columnDSTB"
                            :dataSource="dsThueBaoLoi"
                            :showFilter="true"
                            dataKeyField="STT"
                            ref="loiDsDocFile"
                        ></DataGrid>
                    </div>
                </div>

                <!-- <DataGrid
                    v-show="tabDanhSach"
                    v-bind:columns="[
                    {
                        fieldName: 'STT',
                        headerText: 'STT',
                        allowFiltering: true,
                        width:50,
                        cellCssClass: 'w20 center'
                    },
                    {
                        fieldName: 'MA_TB',
                        headerText: 'Mã TB',
                        allowFiltering: true,
                        width:150,
                        cellCssClass: 'w20 center'
                    },
                    {
                        fieldName: 'TRANGTHAI',
                        headerText: 'Lỗi',
                        allowFiltering: true,
                        cellCssClass: 'w20 center'
                    },
                    ]"
                    :dataSource="dsLoi"
                    :showFilter="false"
                    dataKeyField="STT"
                    ref="tblDsLoi"
                ></DataGrid> -->
            </div>
        </div>
    </div>
</ejs-dialog>
