
<div ref="tabThongTinKhachHang">
  <div class="box-form">
    <div class="legend-title red">Thông tin khách hàng</div>
    <div class="row">
      <div class="col-sm-6 col-12">


        <div class="info-row">
          <div class="key w120">Mã KH <bss-required-marker/></div>
          <div class="value">
            <div class="input-more-button" v-show="false">
              <button class="btn" :disabled="true">
                <span class="-ap icon-more_horiz"></span>
              </button>
            </div>
            <input ref="txtMaKH" type="text" v-model="txtMaKH" class="form-control ">
          </div>
          <div class="value w140">
            <button class="btn btn-second fullw" @click="btnTTKhac_Click">
              Thông tin khác
            </button>
          </div>
        </div>
        <div class="info-row">
          <div class="key w120">Tên KH <bss-required-marker/> </div>
          <div class="value">
            <input type="text" v-on:keyup.enter="txtTenKH_KeyPress" v-model="txtTenKH" class="form-control" :disabled="active_quytrinh_xacminh_ttlh">
          </div>
        </div>
        <div class="info-row">
          <div class="key w120">Địa chỉ KH <bss-required-marker/></div>
          <div class="value">
            <div class="input-more-button">
              <button class="btn" @click="btnDiaChiKH_Click">
                <span class="-ap icon-more_horiz"></span>
              </button>
              <input ref="txtDiaChiKH" type="text" v-model="txtDiaChiKH" class="form-control ">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key w120">Loại giấy tờ <bss-required-marker/></div>
              <div class="value">
                <div class="select-custom">
                  <SelectExt
                    v-model.trim="cboGiayToKH"
                    :settings="{dropdownParent: $refs['cboGiayToKH']}"
                    :dataSource="dsGiayToKH"
                    dataTextField="loai_gt"
                    dataValueField="loaigt_id"/>
<!--                  <select name="" class="form-control">-->
<!--                    <option value=""></option>-->
<!--                  </select>-->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Số giấy tờ <bss-required-marker/></div>
              <div class="value">
                <input ref="txtSoGT" type="text" v-model="txtSoGT" class="form-control" :disabled="active_quytrinh_xacminh_ttlh">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key w120">Ngày cấp <bss-required-marker/></div>
              <div class="value">
                <input ref="txtNgayCap" type="text" v-model="txtNgayCap" class="form-control" value="__ /__ /____" v-mask="'99/99/9999'">
              </div>
            </div>

          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Nơi cấp</div>
              <div class="value">
                <input type="text" v-model="txtNoiCap" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">

              <div class="key w120">Ngày hết hạn</div>
              <div class="value">
                <input type="text" v-model="txtNgayHetHan" class="form-control" value="__ /__ /____" v-mask="'99/99/9999'">
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">{{lblNgaySN}} <bss-required-marker/></div>
              <div class="value">
                <input ref="txtNgaySN" type="text" v-model="txtNgaySN" class="form-control" value="__ /__ /____" v-mask="'99/99/9999'">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key w120">Giới tính</div>
              <div class="value">
                <div class="list-checks mart7">
                  <div class="item">
                    <div class="check-action">
                      <input type="radio" v-model="rdoGioiTinh" :value="null" class="check" :disabled="!enableRdoGTNone">
                      <span class="name">Không</span>
                    </div>
                  </div>
                  <div class="item">
                    <div class="check-action">
                      <input type="radio" v-model="rdoGioiTinh" :value="0" class="check" :disabled="!enableRdoGTNam">
                      <span class="name">Nam</span>
                    </div>
                  </div>
                  <div class="item">
                    <div class="check-action">
                      <input type="radio" v-model="rdoGioiTinh" :value="1" class="check" :disabled="!enableRdoGTNu">
                      <span class="name">Nữ</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Quốc tịch</div>
              <div class="value">
                <div class="select-custom">
                  <SelectExt
                    v-model.trim="cboQuocTich"
                    :settings="{dropdownParent: $refs['cboQuocTich']}"
                    :dataSource="dsQuocTich"
                    dataTextField="tenquoctich"
                    dataValueField="quoctich_id"/>
<!--                  <select name="" class="form-control">-->
<!--                    <option value=""></option>-->
<!--                  </select>-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key w120">Ngành nghề</div>
              <div class="value">
                <div class="input-more-button">
                  <button class="btn">
                    <span class="-ap icon-more_horiz"></span>
                  </button>
                  <div class="select-custom" ref="cboNganhNgheLoc">
<!--                    <select name="" class="form-control">-->
<!--                      <option value=""></option>-->
<!--                    </select>-->
                    <SelectExt v-model.trim="cboNganhNgheLoc"
                               :disabled="!isEnableCboNganhNgheLoc"
                               :dataSource="dsNganhNgheLoc"
                               @change="cboNganhNgheLoc_EditValueChanged"
                               dataTextField="tennganhnghe"
                               dataValueField="nganhnghe_id"/>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Dân tộc</div>
              <div class="value">
                <div class="select-custom">
<!--                  <select name="" class="form-control">-->
<!--                    <option value=""></option>-->
<!--                  </select>-->
                  <SelectExt
                    v-model.trim="cboDanToc"
                    :settings="{dropdownParent: $refs['cboDanToc']}"
                    :dataSource="dsDanToc"
                    dataTextField="tendantoc"
                    dataValueField="dantoc_id"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-row">
          <div class="key w120">Giấy tờ kèm theo</div>
          <div class="value">
            <input type="text" v-model="txtGiayToKem" class="form-control">

          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">

        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key">Loại KH</div>
              <div class="value">
                <div class="input-more-button">
                  <button class="btn" disabled @click="btnLoaiKH_Click">
                    <span class="-ap icon-more_horiz"></span>
                  </button>
                  <div class="select-custom">
<!--                    <select name="" class="form-control">-->
<!--                      <option value=""></option>-->
<!--                    </select>-->
                    <ComboboxGrid :enabled="false" class="popup-expand-custom" ref="cboGridLoaiKH" v-bind:columns="[
                                                {fieldName: 'kieu_kh', headerText: 'Kiểu KH', allowFiltering: true, isGroupedColumn:true},
                                                {fieldName: 'ten_nhom', headerText: 'Nhóm LKH', allowFiltering: true, isGroupedColumn:true},
                                                {fieldName: 'ma_loaikh', width:'70px', headerText: 'Mã loại KH', allowFiltering: true},
                                                {fieldName: 'ten_loaikh', headerText: 'Tên loại KH', allowFiltering: true}
                                                ]"
                                  v-bind:dataSource="dsLoaiKH"
                                  v-model.trim="cboLoaiKH"
                                  @selectedChanged="cboLoaiKH2_EditValueChanged"
                                  textField="ten_loaikh"
                                  valueField="loaikh_id">
                    </ComboboxGrid>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">PLKH</div>
              <div class="value">
                <input type="text" v-model="txtPhanLoaiKH" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key">Người đại diện</div>
              <div class="value">
                <input ref="txtNguoiDD" type="text" v-model="txtNguoiDD" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Chức vụ</div>
              <div class="value">
                <input type="text" v-model="txtChucDanhDD" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="info-row">
          <div class="key">Địa chỉ NĐD</div>
          <div class="value">
            <div class="input-more-button">
              <button class="btn" @click="btnDiaChiNDD_Click">
                <span class="-ap icon-more_horiz"></span>
              </button>
              <input ref="txtDiaChiNDD" type="text" v-model="txtDiaChiNDD" class="form-control ">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key">Điện thoại</div>
              <div class="value">
                <input type="tel" v-mask="{ mask() { return ['999999999[9]', '9{11,}']; }}" v-model="txtTelKH" class="form-control" :disabled="active_quytrinh_xacminh_ttlh">
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Fax</div>
              <div class="value">
                <input type="text" v-model="txtFaxKH" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="info-row">
          <div class="key">Hộ khẩu</div>
          <div class="value">
            <input ref="txtHoKhau" type="text" v-model="txtHoKhau" class="form-control ">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key">Nơi cấp HK</div>
              <div class="value">
                <input type="text" v-model="txtNoiCapHK" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Ngày cấp</div>
              <div class="value">
                <input type="text" v-model="txtNgayCapHK" class="form-control" value="__ /__ /____" v-mask="'99/99/9999'">
              </div>
            </div>
          </div>
        </div>

        <div class="info-row">
          <div class="key">Ngân hàng</div>
          <div class="value w20 padt7">
            <div class="check-action">
              <input type="checkbox" v-model="chkNganHangKH" class="check">
              <span class="name"></span>
            </div>
          </div>
          <div class="value">
            <div class="select-custom">
<!--              <select name="" class="form-control">-->
<!--                <option value=""></option>-->
<!--              </select>-->
              <SelectExt
                v-model.trim="cboNganHangKH"
                :settings="{dropdownParent: $refs['cboNganHangKH']}"
                :dataSource="dsNganHang"
                dataTextField="ten_nh"
                dataValueField="nganhang_id"
                :disabled="!chkNganHangKH"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key">Mã số thuế</div>
              <div class="value">
                <input type="text" v-model="txtMaSTKH" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Tài khoản</div>
              <div class="value">
                <input type="text" v-model="txtSoTKKH" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="info-row">
          <div class="key">Ghi chú</div>
          <div class="value">
            <input type="text" v-model="txtGhiChuKH" class="form-control">
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="box-form">
    <div class="legend-title red">Thông tin thanh toán</div>
    <div class="row">
      <div class="col-sm-6 col-12">

        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key w120">Mã TT <bss-required-marker/></div>
              <div class="value">
                <input ref="txtMaTT" type="text" v-model="txtMaTT" class="form-control ">
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Mã TB ĐD</div>
              <div class="value">
                <div class="select-custom">
<!--                  <select name="" class="form-control">-->
<!--                    <option value=""></option>-->
<!--                  </select>-->
                  <ComboboxGrid class="popup-expand-custom" ref="cboGridMaTBDD" v-bind:columns="[
                                                {fieldName: 'ma_tb', headerText: 'Mã TB', allowFiltering: true},
                                                {fieldName: 'trangthai_tb', headerText: 'Trạng thái', allowFiltering: true}
                                                ]"
                                v-bind:dataSource="dsMaDD"
                                v-model.trim="cboMaDD"
                                textField="ma_tb"
                                valueField="ma_tb">
                  </ComboboxGrid>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="info-row">
          <div class="key w120">Tên thanh toán <bss-required-marker/></div>
          <div class="value">
            <input ref="txtTenTT" type="text" v-model="txtTenTT" class="form-control ">
          </div>
        </div>
        <div class="info-row">
          <div class="key w120">Địa chỉ TT <bss-required-marker/></div>
          <div class="value">
            <div class="input-more-button">
              <button ref="btnDiaChiTT" class="btn" @click="btnDiaChiTT_Click">
                <span class="-ap icon-more_horiz"></span>
              </button>
              <input ref="txtDiaChiTT" type="text" v-model="txtDiaChiTT" class="form-control ">
            </div>
          </div>
        </div>
        <div class="info-row">
          <div class="key w120">Địa chỉ CT</div>
          <div class="value">
            <div class="input-more-button">
              <button class="btn" @click="btnDiaChiCT_Click">
                <span class="-ap icon-more_horiz"></span>
              </button>
              <input ref="txtDiaChiCT" type="text" v-model="txtDiaChiCT" class="form-control ">
            </div>
          </div>
        </div>
        <div class="info-row">
          <div class="key w120">Địa chỉ BC</div>
          <div class="value">
            <div class="input-more-button">
              <button class="btn" @click="btnDiaChiBC_Click">
                <span class="-ap icon-more_horiz"></span>
              </button>
              <input ref="txtDiaChiBC" type="text" v-model="txtDiaChiBC" class="form-control ">
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-6 col-12">

        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key">Mã in ghép</div>
              <div class="value">
                <div class="input-more-button">
                  <button class="btn" :disabled="true">
                    <span class="-ap icon-more_horiz"></span>
                  </button>
                  <input type="text" v-model="txtMaIG" class="form-control ">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Đơn vị QL</div>

              <div class="value">
                <div class="select-custom">
<!--                  <select name="" id="" class="form-control">-->
<!--                    <option value=""></option>-->
<!--                  </select>-->
                  <SelectExt
                    v-model.trim="cboDonViQL"
                    :settings="{dropdownParent: $refs['cboDonViQL']}"
                    :dataSource="dsDonViQL"
                    :disabled="true"
                    dataTextField="ten_dv"
                    dataValueField="donvi_id"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key">Hình thức TT</div>
              <div class="value">
                <div class="select-custom">
<!--                  <select name="" class="form-control">-->
<!--                    <option value=""></option>-->
<!--                  </select>-->
                  <SelectExt
                    v-model.trim="cboHTTT"
                    :settings="{dropdownParent: $refs['cboHTTT']}"
                    :dataSource="dsHTTT"
                    :disabled="true"
                    dataTextField="hinhthuc_tt"
                    dataValueField="httt_id"/>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Mã NVTC</div>
              <div class="value w20">
                <button class="btn btn-second padl10 padr10" @click="btnTimMaNVTC_Click">
                  <span class="-ap icon-more_horiz"></span>
                </button>
              </div>
              <div class="value">
                <div class="row">
                  <div class="col-sm-6 col-12">
                    <input ref="txtMaNVTC" type="text" v-model="txtMaNVTC" class="form-control highlight">
                  </div>
                  <div class="col-sm-6 col-12">
                    <input type="text" v-model="txtMaTuyen" class="form-control highlight">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key">Tài khoản</div>
              <div class="value">
                <input type="text" v-model="txtSTKTT" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Chủ TK</div>
              <div class="value">
                <input type="text" v-model="txtChu_TK" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key">Ngân hàng</div>
              <div class="value">
                <div class="input-more-button">
                  <button class="btn" :disabled="true">
                    <span class="-ap icon-more_horiz"></span>
                  </button>
                  <div class="select-custom">
<!--                    <select name="" class="form-control">-->
<!--                      <option value=""></option>-->
<!--                    </select>-->
                    <SelectExt
                      v-model.trim="cboNganHangTT"
                      :settings="{dropdownParent: $refs['cboNganHangTT']}"
                      :dataSource="dsNganHang"
                      :disabled="!enableCboNganHangTT"
                      dataTextField="ten_nh"
                      dataValueField="nganhang_id"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Mã số thuế</div>
              <div class="value">
                <input ref="txtMST" type="text" v-model="txtMST" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="info-row">
              <div class="key">Ghi chú</div>
              <div class="value">
                <input type="text" v-model="txtGhiChuTT" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="info-row">
              <div class="key w100">Mã NVQL</div>
              <div class="value">
                <input type="text" v-model="txtNhanVienQL" class="form-control highlight">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="box-form">
    <div class="row">
      <div class="col-sm-10 col-12">
        <div class="legend-title">
          <div class="pull-left mart7 red">Danh sách thanh toán</div>

          <div class="clearfix"></div>
        </div>
        <div class="table-content" style="height: 250px;">
          <DataGrid ref="grid" v-bind:columns="[
                      {fieldName: 'stt', headerText: 'STT', allowFiltering: true, allowSorting: true, width: 30},
                      {fieldName: 'ma_tt', headerText: 'Mã TT', allowFiltering: true, allowSorting: true, width: 30},
                      {fieldName: 'ten_tt', headerText: 'Tên thanh toán', allowFiltering: true, allowSorting: true, width: 60},
                      {fieldName: 'diachi_tt', headerText: 'Địa chỉ thanh toán', allowFiltering: true, allowSorting: true},
                      {fieldName: 'diachi_ct', headerText: 'Địa chỉ chứng từ', allowFiltering: true, allowSorting: true, width: 60},
                      ]"
                    v-bind:dataSource="lvwThanhToan"
                    :showFilter="true"
                    @selectedRowChanged="lvwThanhToan_selectedRowChanged">
          </DataGrid>
        </div>
      </div>
      <div class="col-sm-2 col-12">
        <div class="legend-title mart7 red">Dịch vụ khác</div>
        <div class="form-control" style="height: 300px;resize: none;">
          <template v-for="item in lvDvkhac_TT">
            <tr class="" style="width: 100%">
              <td class="text-body" style="width: 100%">
                <div>{{ item   }}</div>
              </td>
            </tr>
          </template>
        </div>
<!--        <textarea name="" class="form-control" style="height: 300px;resize: none;"></textarea>-->
      </div>
    </div>
    <ChiTietNganhNghe id="popupChiTietNganhNghe" :objChiTietNganhNghe="objChiTietNganhNghe" @objTNC="getTNC"></ChiTietNganhNghe>
    <ModalChonDiaChi modalId="popupDiaChi" :data="this.diachi" :showThongTinThem="this.showThongTinThem" :isStrictMode="true" @xacnhan="getDiaChiTuFormDiaChi"/>
    <ChonDonVi ref="popupChonDonVi" id="popupChonDonVi"></ChonDonVi>
    <LoaiKH id="popupLoaiKH" :objLoaiKH="this.objLoaiKH" @getLoaiKHID="getLoaiKHID"></LoaiKH>
    <ThongTinKHBoSung id="popupThongTinKHBoSung" :objTTKHBoSung="objTTKHBoSung" @dsHDKH_SUB="getHDKH_SUB"></ThongTinKHBoSung>
    <!-- <TimNhanVienThuCuoc ref="dlgTimKiemNVTC" :input="inputObjFrmTraCuuNVTC" @acceptChange="getTraCuuNVTC"></TimNhanVienThuCuoc> -->
    <PopupTimKiemNhanVienThuCuoc :input="inputObjFrmTraCuuNVTC" @response-data="getTraCuuNVTC($event)" id="dlgTimKiemNVTC"></PopupTimKiemNhanVienThuCuoc>
  </div>
</div>
