<div class="row">
  <div class="col-12">
    <div class="box-form">
      <div class="row">
        <div class="legend-title d-flex">
          <span>Danh sách lưu trữ tài nguyên đã cấp phát</span>
          <span class="red ms-auto">Click đúp để xem chi tiết phiếu</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <DataGrid ref="dsLuuTruTaiNguyenGrd" :allowPaging="true"
                  :enablePagingServer="false"
                  :showColumnCheckbox="true"
            v-bind:columns="[
                              {fieldName: 'STT', headerText: 'STT', textAlign: 'Center', width: 80},
                              {fieldName: 'T', headerText: 'Tên tài nguyên', width: 100, textAlign: 'Left'},
                              {fieldName: 'TEN', headerText: 'Loại dịch vụ', textAlign: 'Left'},
                              {fieldName: 'GHI_CHU', headerText: 'Mã phiếu', textAlign: 'Left'},
                              {fieldName: 'GHI_CHU', headerText: 'Thời gian khởi tạo', textAlign: 'Left'},
                              {fieldName: 'GHI_CHU', headerText: 'Khả năng cấp phát', textAlign: 'Left'},
                              {fieldName: 'GHI_CHU', headerText: 'Chủ quản dịch vụ', textAlign: 'Left'},
                              {fieldName: 'GHI_CHU', headerText: 'Tình trạng', textAlign: 'Left'}
                            ]" v-bind:dataSource="dsLuuTruTaiNguyenList"
                            @rowSelected="dsLuuTruTaiNguyenGrd_RowSelected"
                            @rowDeselected="dsLuuTruTaiNguyenGrd_RowDeselected"
                            @recordDoubleClick="onRowDoubleClick">
          </DataGrid>
        </div>
      </div>
    </div>
  </div>
  <ChiTietLuuTruTaiNguyen ref="popupChiTietLuuTruTaiNguyen"/>
</div>
