<b-modal
  ref="modalDetailBDK"
  size="xl"
  title="Chi tiết"
  hide-footer
  body-class="modal-body p-0"
  centered
>
  <div class="modal-content popup-box">
    <div class="popup-body">
      <div class="box-form">
        <div class="row">
          <div class="list-actions-top">
            <ul class="list">
              <li>
                <b-link href="javascript:void(0)" @click="closeModal">
                  <span class="icon ui-1_circle-remove nc-icon-glyph"></span> Đóng
                </b-link>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="box-form" v-if="isBDK">
              <div class="row">
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Mã tủ đĩa</div>
                    <div class="value">
                      <input type="text" class="form-control" :disabled="true" v-model.trim="itemCurrent.MA_TS" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Mã Thiết bị</div>
                    <div class="value">
                      <input type="text" class="form-control" :disabled="true" v-model.trim="itemCurrent.MA_TBI" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Tên Thiết bị</div>
                    <div class="value">
                      <input type="text" class="form-control" :disabled="true" v-model.trim="itemCurrent.TEN" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Ký hiệu</div>
                    <div class="value">
                      <input type="text" class="form-control" :disabled="true" v-model.trim="itemCurrent.KYHIEU" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Serial</div>
                    <div class="value">
                      <input type="text" class="form-control" :disabled="true" v-model.trim="itemCurrent.SERIAL_NUMBER" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">CPU</div>
                    <div class="value">
                      <input type="text" class="form-control" :disabled="true" v-model.trim="itemCurrent.SL_CORECPU" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">RAM</div>
                    <div class="value">
                      <input type="text" class="form-control" :disabled="true" v-model.trim="itemCurrent.DL_RAM" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Cache</div>
                    <div class="value">
                      <input type="text" class="form-control" :disabled="true" v-model.trim="itemCurrent.DL_CACHE" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Trạng thái VH</div>
                    <div class="value">
                      <input type="text" class="form-control" :disabled="true" v-model.trim="itemCurrent.TRANGTHAI_VH" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-form" v-if="!isBDK">
              <div class="row">
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Mã tủ đĩa</div>
                    <div class="value">
                      <input type="text" class="form-control" :disabled="true" v-model.trim="itemCurrent.MA_TS" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Mã Thiết bị</div>
                    <div class="value">
                      <input type="text" class="form-control" :disabled="true" v-model.trim="itemCurrent.MA_TBI" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Tên Thiết bị</div>
                    <div class="value">
                      <input type="text" class="form-control" :disabled="true" v-model.trim="itemCurrent.TEN" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Ký hiệu</div>
                    <div class="value">
                      <input type="text" class="form-control" :disabled="true" v-model.trim="itemCurrent.KYHIEU" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Serial</div>
                    <div class="value">
                      <input type="text" class="form-control" :disabled="true" v-model.trim="itemCurrent.SERIAL_NUMBER" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Khe cắm SSD</div>
                    <div class="value">
                      <input type="number" class="form-control" :disabled="true" v-model.trim="itemCurrent.SL_SSD" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Khe cắm SSD đã cắm</div>
                    <div class="value">
                      <input type="text" class="form-control" :disabled="true" v-model.trim="itemCurrent.SL_SDD_DACAM" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Khe cắm HDD</div>
                    <div class="value">
                      <input type="text" class="form-control" :disabled="true" v-model.trim="itemCurrent.SL_HDD" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Khe cắm HDD đã cắm</div>
                    <div class="value">
                      <input type="text" class="form-control" :disabled="true" v-model.trim="itemCurrent.SL_HDD_DACAM" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Khe cắm NVMe</div>
                    <div class="value">
                      <input type="text" class="form-control" :disabled="true" v-model.trim="itemCurrent.SL_NVME" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Khe cắm NVMe đã cắm</div>
                    <div class="value">
                      <input type="text" class="form-control" :disabled="true" v-model.trim="itemCurrent.SL_NVME_DACAM" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Trạng thái VH</div>
                    <div class="value">
                      <input type="text" class="form-control" :disabled="true" v-model.trim="itemCurrent.TRANGTHAI_VH" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</b-modal>
