<ejs-dialog
  :enableResize="true"
  :allowDragging="false"
  :visible="false"
  ref="dialogKhaiBaoCongInterface"
  :animationSettings="animationSettings"
  :showHeader="false"
  :showCloseIcon="false"
  width="80%"
  height="auto"
  :target="target"
>
  <div class="modal-content popup-box">
    <div class="popup-header">
      <div class="title" style="font-weight: 600;">Khai báo cổng dữ liệu</div>
      <div class="close -ap icon-close" @click="closeDialog"></div>
    </div>
    <div class="popup-body">
      <div class="row">
        <div class="list-actions-top">
          <ul class="list">
            <li>
              <b-link href="javascript:void(0)" @click="onSave"> <span class="icon one-save"></span>Ghi lại </b-link>
            </li>
            <li>
              <b-link href="javascript:void(0)" @click="closeDialog">
                <span class="icon ui-1_circle-remove nc-icon-glyph"></span> Huỷ bỏ
              </b-link>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="box-form" style="margin-top: 10px;">
          <div class="legend-title">Thông tin loại cổng dữ liệu</div>
          <div class="row">
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="key w150">Loại cổng</div>
                <div class="value">
                  <SelectExt
                    dataTextField="TEN"
                    dataValueField="ID"
                    :dataSource="loaiCongListItems"
                    v-model="interfacePortType.loaiCongId"
                  />
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="key w150">Băng thông</div>
                <div class="value">
                  <input
                    type="number"
                    class="form-control"
                    min="0"
                    v-model="interfacePortType.bangThong"
                    v-on:keypress="isNumber($event)"
                    @paste="handlePasteNumber(interfacePortType, 'bangThong', $event, 0)"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="key w150">Module</div>
                <div class="value">
                  <SelectExt
                    dataTextField="TEN"
                    dataValueField="ID"
                    :dataSource="thongTinModuleListItems"
                    v-model="interfacePortType.thongTinModuleId"
                  />
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="key w150">Mục đích sử dụng</div>
                <div class="value">
                  <SelectExt
                    dataTextField="TEN"
                    dataValueField="ID"
                    :dataSource="mucDichSdCongListItems"
                    v-model="interfacePortType.mucDichId"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="key w150">Trạng thái port <span class="red">*</span></div>
                <div class="value">
                  <SelectExt
                    dataTextField="TEN"
                    dataValueField="ID"
                    :dataSource="trangThaiPortListItems"
                    v-model="interfacePortType.trangThaiPortId"
                    @change="onChangeTrangThaiPort($event)"
                  />
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="key w150">Trạng thái kết nối <span class="red">*</span></div>
                <div class="value">
                  <SelectExt
                    dataTextField="TEN"
                    dataValueField="ID"
                    :dataSource="trangThaiKetNoiListItems"
                    v-model="interfacePortType.trangThaiKetNoiId"
                    disabled
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="key w150">Thiết bị nối đến<span class="red">*</span></div>
                <div class="value">
                  <SelectExt
                    dataTextField="TEN"
                    dataValueField="ID"
                    :dataSource="thietBiNoiDenListItems"
                    v-model="interfacePortType.thietBiNoiDenId"
                    disabled
                  />
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="key w150">Địa chỉ IP <span class="red">*</span></div>
                <div class="value">
                  <SelectExt
                    :dataSource="[...diaChiIPListItems]"
                    dataTextField="IP"
                    dataValueField="ID"
                    v-model="interfacePortType.diaChiIP"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ejs-dialog>
