a.disabled {
    color: lightgrey !important;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}
.select2-container--open .select2-results__options .select2-results__option {
    min-height: 32px;
}


.is-invalid-date{
    .e-date-wrapper{
        border-color: red !important;
    }
}