>>> .select2-container { 
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table;
    table-layout: fixed;
}

>>> .ten-nhom {
    color: rgb(55, 0, 255) !important;
    font-weight: bold !important;
    text-align: left !important;
}

>>> .ma-tt {
    color: rgb(255, 0, 0) !important;
    font-weight: bold !important;
}

>>> .tien-tra {
    color: rgb(184, 8, 8) !important;
    text-align: right;
    font-weight: bold !important;
}