<div>
  <!-- -	Trường hợp LineCard != 0, Module != 0, Control Card != 0 (Thiết bị mạng, Thiết bị máy chủ) -->
  <template>
    <div class="row pt-3">
      <div class="col-12">
        <div class="title-with-btn">
          <div class="title">Danh sách {{deviceDataLabel}}</div>
          <button class="btn btn-outline-primary" style="margin-left: 10px;" @click="onCreateCardModule" :disabled="!isEditable">
            <strong><span>+ Thêm mới {{deviceDataLabel}}</span></strong>
          </button>
        </div>
        <div class="legend-title"></div>
      </div>
    </div>
    <DataGrid
      :columns="deviceCols"
      :dataSource="deviceData"
      :allowPaging="true"
      :enablePagingServer="false"
      :commandColumn="{headerText: 'Thao tác', textAlign: 'Left', show: true}"
    ></DataGrid>
  </template>
  <!-- End -->
</div>
