/* Port-related styles */
.title-with-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: bold;
}

.legend-title {
  font-size: 14px;
  font-weight: 500;
  color: #666;
  margin-bottom: 10px;
}
