<b-modal
  size="lg"
  dialog-class="dialog-content"
  body-class="body-content"
  header-class="popup-header"
  content-class="popup-box"
  v-model="showModal"
  hide-footer
  no-close-on-backdrop
  no-close-on-esc
>
  <template #modal-header>
    <div class="title">Đổi mật khẩu</div>
    <div
      class="close -ap icon-close"
      data-dismiss="modal"
      @click="closeModal"
    ></div>
  </template>
  <div class="popup-body">
    <div class="box-form">
      <div class="info-row">
        <div class="key nowrap w130">Mật khẩu mới:</div>
        <div class="value">
          <input type="text" class="form-control" />
        </div>
      </div>
      <div class="info-row">
        <div class="key nowrap w130">Xác nhận mật khẩu:</div>
        <div class="value">
          <input type="text" class="form-control" />
        </div>
      </div>
      <div class="group-buttons -bottom center">
        <b-button variant="primary">Đổi mật khẩu</b-button>
        <b-button variant="primary" @click="closeModal">Bỏ qua</b-button>
      </div>
    </div>
  </div>
</b-modal>
