<div class="box-form">
  <div class="legend-title">Chi tiết vật tư</div>
  <div class="row">
    <div class="col-sm-3 col-12">
      <div class="info-row">
        <div class="key w120">Tài khoản đối ứng</div>
        <div class="value">
          <input type="text" class="form-control" v-model="txtTKDUAll.value" @keyup.enter="txtTK_DoiUng_Enter" />
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-12">
      <div class="info-row">
        <div class="key w100">Tài khoản kho</div>
        <div class="value">
          <input type="text" class="form-control" v-model="txtTK_Kho_All.value" @keyup.enter="txtTK_Kho_Enter" />
        </div>
      </div>
    </div>
  </div>
  <div class="table-content">
    <DataGrid
      ref="gridChiTietVatTu"
      :columns="gridVatTu.header"
      :dataSource="gridVatTu.dataSources"
      :allowPaging="true"
      :enablePagingServer="false"
      :enabledSelectFirstRow="false"
      dataKeyField="VATTU_ID"
      :editSettings=" { allowEditing: true , mode:'Batch'}"
      :showFilter="true"
      @cellSaved="onGridVatTuCellSaved"
    />
  </div>
</div>
