<div>
    <vue-bread-crumb :header="header" />
    <vue-nav>
        <ul class="list">
            <li>
                <a v-on:click="clickButton('thuc_hien')" :class="{ disabled: !button.thuc_hien }">
                        <span class="icon fa fa-check"></span> Thực hiện
                </a>
            </li>
            <li>
                <a v-on:click="clickButton('thoat')" :class="{ disabled: !button.thoat }">
                    <span class="nc-icon-glyph ui-1_circle-remove"></span>Thoát
                </a>
            </li>
        </ul>
    </vue-nav>
    <div class="page-content">
        <div class="box-form">
            <div class="legend-title">Reset Cell thuê bao GPhone của cả tỉnh</div>
            <div class="info-row">
                <div class="key w90">Tỉnh</div>
                <div class="value">
                    <div class="select-custom">
                        <SelectExt v-model="form.tinh" 
                        :allowFiltering="true" data-text-field="TENTINH" data-value-field="TINH_ID"
                            :dataSource="cbTinh" :disabled="true"/>
                    </div>
                </div>
            </div>
            <div class="info-row">
                <div class="key w90">Loại thuê bao</div>
                <div class="value">
                    <div class="select-custom">
                        <SelectExt v-model="form.loai_tb" 
                        :allowFiltering="true" data-text-field="name" data-value-field="id"
                            :dataSource="cbLoai_tb"/>
                    </div>
                </div>
            </div>
            <div class="info-row">
                <div class="key w90">Ghi chú</div>
                <div class="value">
                    <textarea v-model="form.ghi_chu" name="" class="form-control" style="height: 64px;resize: none;" id="" cols="30"
                        rows="10"></textarea>
                </div>
            </div>
        </div>
    </div>

</div>