<div class="row">
  <div class="col-12">
    <div class="box-form">
      <div class="row">
        <div class="legend-title d-flex"><span>Danh sách hệ thống dịch vụ</span>
          <span class="red ms-auto">Click đúp để xem chi tiết phiếu</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <DataGrid ref="dsHeThongDichVuGrd" :allowPaging="true"
                  :enablePagingServer="false"
                  :showColumnCheckbox="true"
            v-bind:columns="[
                              {fieldName: 'STT', headerText: 'STT', textAlign: 'Center', width: 80},
                              {fieldName: 'ID', headerText: 'Tên cụm dịch vụ', width: 100, textAlign: 'Left'},
                              {fieldName: 'TEN', headerText: 'SPDV', textAlign: 'Left'},
                              {fieldName: 'GHI_CHU', headerText: 'Hình thức triển khai', textAlign: 'Left'},
                              {fieldName: 'GHI_CHU', headerText: 'Thời gian khởi tạo', textAlign: 'Left'},
                              {fieldName: 'GHI_CHU', headerText: 'Khả năng cấp phát', textAlign: 'Left'},
                              {fieldName: 'GHI_CHU', headerText: 'Chủ quản dịch vụ', textAlign: 'Left'},
                              {fieldName: 'GHI_CHU', headerText: 'Tình trạng', textAlign: 'Left'}
                            ]" v-bind:dataSource="dsHeThongDichVuList"
                            @rowSelected="dsHeThongDichVuGrd_RowSelected"
                            @rowDeselected="dsHeThongDichVuGrd_RowDeselected"
                            @recordDoubleClick="onRowDoubleClick">
          </DataGrid>
        </div>
      </div>
    </div>
  </div>
  <ChiTietHeThongDichVu ref="popupChiTietHeThongDichVu"/>
</div>
