<div>
  <div>
    <!-- <breadcrumb :header="header" /> -->
<!--    <button @click="test"> test</button>-->
    <div class="list-actions-top">
      <ul class="list">
      </ul>
    </div>
    <div class="popup-body">
      <template v-for="(hdx,idx) in thongtin_hienthi_header_ct">
        <div class="box-form" :key="idx">
          <div class="legend-title">{{hdx.ten_hienthi}}</div>
          <frmDynamic_Hd_thuebao_ct :dulieu="list_dulieu[idx]" v-if="isShow"/>
        </div>
      </template>
    </div>
  </div>
</div>
