<div>
    <div class="list-actions-top">
        <ul class="list">
            <li>
                <a class="btn" @click="btnTraCuu_onClick()"><span class="icon one-file-search"></span> Tra cứu </a>
            </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="box-form">
            <div class="legend-title">
                Tra cứu theo tuyến/tổ quản lý
            </div>
            <div class="row">
                <div class="col-sm-4 col-12">
                    <div class="info-row">
                        <div class="key w50">TTVT</div>
                        <div class="value">
                            <div class="select-custom">
                                <SelectExt id="selectTTVT" v-model="selectedTTVT" :dataSource="dsTTVT" dataTextField="TEN_DV" dataValueField="DONVI_ID" @change="selectTTVT_OnChange" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-12">
                    <div class="info-row">
                        <div class="key w70">Tổ quản lý</div>
                        <div class="value">
                            <div class="select-custom">
                                <SelectExt id="selectToKT" v-model="selectedToKT" :dataSource="dsToKT" dataTextField="TEN_DV" dataValueField="DONVI_ID" @change="selectToKT_OnChange" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-12">
                    <div class="info-row">
                        <div class="key w120">
                            <div class="check-action">
                                <input type="checkbox" class="check" v-model="inputTuyenCongChecked">
                                <span class="name">Tuyến cống-bể</span>
                            </div>
                        </div>
                        <div class="value">
                            <div class="select-custom">
                                <SelectExt id="selectTuyen" v-model="selectedTuyenCong" :disabled="!inputTuyenCongChecked" :dataSource="dsTuyenCong" dataTextField="TUYEN_CB" dataValueField="TUYENCB_ID" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="legend-title mart10">Tìm kiếm</div>
            <div class="input-icon-left">
                <input type="text" id="inputTimKiem" class="form-control italic">
                <span class="icon nc-icon-outline ui-1_zoom"></span>
            </div>
        </div>
        <div class="box-form">
            <div class="legend-title">Danh sách bể</div>
            <DataGrid v-bind:columns="[
            {fieldName: 'STT', headerText: 'STT', allowFiltering: true, width: 50, allowSorting: false},
            {fieldName: 'BECAP_ID', headerText: 'ID', allowFiltering: true, width: 100},
            {fieldName: 'MA_BC', headerText: 'Mã bể cáp', allowFiltering: true},
            {fieldName: 'TUYEN_CB', headerText: 'Tuyến cống bể', allowFiltering: true},
            {fieldName: 'TENVT_DB', headerText: 'Vị trí đặt bể cáp', allowFiltering: true, cellCssClass: 'text-wrap'},
            {fieldName: 'LOAI_BC', headerText: 'Loại bể cáp', allowFiltering: true},
            {fieldName: 'KYHIEU', headerText: 'Ký hiệu', allowFiltering: true},
            {fieldName: 'TEN_BC', headerText: 'Tên bể cáp', allowFiltering: true},
            {fieldName: 'SOTAMDAN', headerText: 'Số tấm đan', allowFiltering: true, cellCssClass: 'text-wrap'},
            {fieldName: 'CHIEUDAI', headerText: 'Chiều dài', allowFiltering: true},
            {fieldName: 'CHIEURONG', headerText: 'Chiều rộng', allowFiltering: true},
            {fieldName: 'CHIEUSAU', headerText: 'Chiều sâu', allowFiltering: true},
            {fieldName: 'DIACHI', headerText: 'Địa chỉ', allowFiltering: true},
            {fieldName: 'NGAY_LD', headerText: 'Ngày lắp đặt', allowFiltering: true},
            {fieldName: 'NGAY_SD', headerText: 'Ngày sử dụng', allowFiltering: true},
            {fieldName: 'SOHUONGBE', headerText: 'Số hướng bể', allowFiltering: true},
            {fieldName: 'TT_NUOC', headerText: 'Tình trạng nước', allowFiltering: true},
            {fieldName: 'HUONG_TD', headerText: 'Hướng tấm đan', allowFiltering: true},
            {fieldName: 'DONVI_ID', headerText: 'Đơn vị', allowFiltering: true},
            {fieldName: 'GHICHU', headerText: 'Ghi chú', allowFiltering: true},
            {fieldName: 'TRANGTHAI_SD', headerText: 'Trạng thái sử dụng', allowFiltering: true},
            {fieldName: 'LOAI_DUONG', headerText: 'Loại đường', allowFiltering: true},
            {fieldName: 'SOHIEU_CT', headerText: 'Dự án', allowFiltering: true},
            {fieldName: 'TEN_TS', headerText: 'Tài sản', allowFiltering: true},
            {fieldName: 'MA_VACH', headerText: 'Mã vạch', allowFiltering: true},
            {fieldName: 'MOTA', headerText: 'Mô tả', allowFiltering: true},
            {fieldName: 'TENCHUQUAN', headerText: 'Chủ quản', allowFiltering: true}
            ]" v-bind:dataSource="kqTraCuu" :showFilter="true" :commands="[
            {name: 'EDIT', cssClass: 'btn-primary -ap icon-more_horiz', width: 20}
            ]" :commandColumn="{headerText: 'Sửa', width: 50, firstColumn: true, show: true}" @commandClicked="grid_onCommandClicked"></DataGrid>
        </div>
        <ModalQLBe modalId="popupQLBe" :data="beItem" @xacNhan="popupQLBe_XacNhan"></ModalQLBe>
    </div>
</div>
