<div>
    <div class="row">
        <div class="col-sm-7 col-12">
            <div class="info-row">
                <div class="key">
                    Tốc độ kênh
                </div>
                <div class="value">
                    <SelectExt
                        v-model="cboTocDoKenhTSL.Value" 
                        :dataSource="cboTocDoKenhTSL.DataSource" 
                        dataValueField="tocdo_id"
                        dataTextField="toc_do" />
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-12">
            <div class="info-row">
                <div class="key">Trang bị</div>
                <div class="value">
                    <SelectExt
                        v-model="cboTrangBi.Value" 
                        :dataSource="cboTrangBi.DataSource" 
                        dataValueField="trangbi_id"
                        dataTextField="tentrangbi" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 col-12">
            <div class="info-row">
                <div class="key">
                    Chủ quản
                </div>
                <div class="value">
                    <SelectExt
                        v-model="cboChuQuan.Value" 
                        :dataSource="cboChuQuan.DataSource" 
                        dataValueField="chuquan_id"
                        dataTextField="ten_tat" />
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-12">
            <div class="info-row">
                <div class="key">Mã HĐ-TTKD</div>
                <div class="value">
                    <input type="text" class="form-control" v-model.trim="txtMaHD_TTKD_TSL.Text">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-12">
            <div class="info-row">
                <div class="key">
                    Số ảo điểm đầu
                </div>
                <div class="value">
                    <input type="text" class="form-control highlight" v-model.trim="txtSoAoTSL_Dau.Text">
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-12">
            <div class="info-row">
                <div class="key w80">
                    Loại TB đầu
                </div>
                <div class="value">
                    <SelectExt
                        v-model="cboLoaiTBTSL_Dau.Value" 
                        :dataSource="cboLoaiTBTSL_Dau.DataSource" 
                        dataValueField="thietbidc_id"
                        dataTextField="ten_tbi" />
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-12">
            <div class="info-row">
                <div class="key">Cước TK(No Vat)</div>
                <div class="value">
                    <input type="text" class="form-control tright" v-model="txtCuocTK_TSL.Text">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-12">
            <div class="info-row">
                <div class="key">
                    Số ảo điểm cuối
                </div>
                <div class="value">
                    <input type="text" class="form-control highlight" v-model="txtSoAoTSL_Cuoi.Text">
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-12">
            <div class="info-row">
                <div class="key w80">
                    Loại TB cuối
                </div>
                <div class="value">
                    <SelectExt
                        v-model="cboLoaiTBTSL_Cuoi.Value" 
                        :dataSource="cboLoaiTBTSL_Cuoi.DataSource" 
                        dataValueField="thietbidc_id"
                        dataTextField="ten_tbi" />
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-12">
            <div class="info-row">
                <div class="key">Cước TC(No Vat)</div>
                <div class="value">
                    <input type="text" class="form-control tright" v-model.trim="txtCuocTC_TSL.Text">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-12">
            <div class="info-row">
                <div class="key">
                    <div class="check-action">
                        <input type="checkbox" class="check" v-model="chkDoiTac_TSL.Checked">
                        <span class="name">Đối tác</span>
                    </div>
                </div>
                <div class="value">
                    <SelectExt
                        v-model="cboDoiTac_TSL.Value" 
                        :dataSource="cboDoiTac_TSL.DataSource" 
                        :disabled="!cboDoiTac_TSL.Enabled"
                        dataValueField="doitac_id"
                        dataTextField="ten_dt" />
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-12">
            <div class="info-row">
                <div class="key w80">
                    Cước TKĐT
                </div>
                <div class="value">
                    <input type="text" class="form-control" style="background-color:#F1F8FF" v-model.trim="txtCuocTKDT_TSL.Text" :disabled="!txtCuocTKDT_TSL.Enabled">
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-12">
            <div class="info-row">
                <div class="key">Cước HT(No Vat)</div>
                <div class="value">
                    <input type="text" class="form-control tright" v-model.trim="txtCuocHT_TSL.Text">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-12">
            <div class="info-row">
                <div class="key">
                    Mã HĐ đối tác
                </div>
                <div class="value">
                    <input type="text" class="form-control" style="background-color:#F1F8FF" v-model.trim="txtMa_HDDT_TSL.Text" :disabled="!txtMa_HDDT_TSL.Enabled">
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-12">
            <div class="info-row">
                <div class="key w80">
                    Cước TCĐT
                </div>
                <div class="value">
                    <input type="text" class="form-control" style="background-color:#F1F8FF" v-model.trim="txtCuocTCDT_TSL.Text" :disabled="!txtCuocTCDT_TSL.Enabled">
                </div>
            </div>
        </div>
    
        <div class="col-sm-5 col-12">
            <div class="info-row">
                <div class="key">Cước T.Bị(No Vat)</div>
                <div class="value">
                    <input type="text" class="form-control tright" v-model.trim="txtCuocTBI_TSL.Text">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 col-12">
            <div class="info-row">
                <div class="key">
                    <div class="check-action">
                        <input type="checkbox" class="check" v-model="chkDC_Dau.Checked">
                        <span class="name">Đ/C đầu</span>
                    </div>
                </div>
                <div class="value">
                    <div class="input-more-button">
                        <button class="btn" @click="btnChonDCDau_Click" :disabled="!btnChonDCDau.Enabled">
                            <span class="-ap icon-more_horiz"></span>
                        </button>
                        <input type="text" ref="txt-diachi-dau" class="form-control" v-model.trim="txtDiaChiDau.Text" :disabled="!txtDiaChiDau.Enabled">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-12">
            <div class="info-row">
                <div class="key">Trạm VT đầu</div>
                <div class="value">
                    <SelectExt
                        v-model="cboTramVTDau.Value" 
                        :dataSource="cboTramVTDau.DataSource" 
                        :disabled="!cboTramVTDau.Enabled"
                        dataValueField="donvi_id"
                        dataTextField="ten_dv" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 col-12">
            <div class="info-row">
                <div class="key">
                    <div class="check-action">
                        <input type="checkbox" class="check" v-model="chkDC_Cuoi.Checked">
                        <span class="name">Đ/C cuối</span>
                    </div>
                </div>
                <div class="value">
                    <div class="input-more-button">
                        <button class="btn" @click="btnChonDCCuoi_Click" :disabled="!btnChonDCCuoi.Enabled">
                            <span class="-ap icon-more_horiz"></span>
                        </button>
                        <input type="text" ref="txt-diachi-cuoi" class="form-control" v-model.trim="txtDiaChiCuoi.Text" :disabled="!txtDiaChiCuoi.Enabled">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-12">
            <div class="info-row">
                <div class="key">Trạm VT cuối</div>
                <div class="value">
                    <SelectExt
                        v-model="cboTramVTCuoi.Value" 
                        :dataSource="cboTramVTCuoi.DataSource" 
                        :disabled="!cboTramVTCuoi.Enabled"
                        dataValueField="donvi_id"
                        dataTextField="ten_dv" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 col-12">
            <component v-for="comboDonVi in dsComboDonVi" :ref="comboDonVi.key" :key="comboDonVi.key" v-bind:is="comboDonVi" />
        </div>
        <div class="col-sm-5 col-12">
            <div class="info-row">
                <div class="key">Loại cáp đầu</div>
                <div class="value">
                    <SelectExt
                        v-model="cboLoaiCap_Dau.Value" 
                        :dataSource="cboLoaiCap_Dau.DataSource" 
                        dataValueField="loaicap_id"
                        dataTextField="loaicap" />
                </div>
            </div>
            <div class="info-row">
                <div class="key">Loại cáp cuối</div>
                <div class="value">
                    <SelectExt
                        v-model="cboLoaiCap_Cuoi.Value" 
                        :dataSource="cboLoaiCap_Cuoi.DataSource" 
                        dataValueField="loaicap_id"
                        dataTextField="loaicap" />
                </div>
            </div>
        </div>
    </div>
    <ModalChonDiaChi modalId="frm-chuyendich-tsl-modal-chon-diachi-dau" :data="diaChiDau" :isStrictMode="true" @xacnhan="onChonDiaChiDau"></ModalChonDiaChi>
    <ModalChonDiaChi modalId="frm-chuyendich-tsl-modal-chon-diachi-cuoi" :data="diaChiCuoi" :isStrictMode="true" @xacnhan="onChonDiaChiCuoi"></ModalChonDiaChi>
    <ChonDonVi ref="popupChonDonVi" id="frm-chuyendich-tsl-modal-chon-donvi"></ChonDonVi>
</div>