.check-action {
  top: 3px;
}

.e-rowcell .check-action input[type='checkbox']:checked:disabled + .name:before {
  background: #fff;
  border-color: #0176ff;
  color: #0176ff;
}

.e-rowcell .check-action input[type='checkbox']:disabled + .name:before {
  background: #fff;
  border-color: #0176ff;
}

.file-link {
  display: inline-block; /* Giúp áp dụng width */
  max-width: 150px; /* Điều chỉnh chiều rộng phù hợp */
  white-space: nowrap; /* Không cho xuống dòng */
  overflow: hidden; /* Ẩn phần bị tràn */
  text-overflow: ellipsis; /* Hiển thị dấu "..." khi nội dung bị cắt */
  vertical-align: middle; /* Căn giữa với các phần tử khác */
}
