<div class="modal-content popup-box">
    <div class="list-actions-top">
        <ul class="list">
            <li>
                <a href="#" @click.prevent="closeForm">
                    <span class="icon nc-icon-glyph ui-1_check-circle-08"></span
                    >Chấp nhận
                </a>
            </li>
        </ul>
    </div>
    <div class="popup-body">
        <div class="box-form">
            <div class="table-content">
                <DataGrid3
                    v-bind:columns="[
                    { fieldName: field='MA_TBI', headerText: 'Mã thiết bị' , textAlign: 'center', cssClass:'highlight', allowFiltering: true,width:'130'},                        
                    { fieldName: field='LOAI_TBI',headerText: 'Tên dịch vụ' , textAlign: 'center', allowFiltering: true,},                        
                    { fieldName: field='SOLUONG', headerText: 'Số lượng' , textAlign: 'center',width:'90', allowFiltering: true,format:'N0', allowEditing:true, editType:'numericedit',type:'number'},                        
                    {fieldName: 'Mua', headerText: 'Đăng ký',textAlign: 'center', allowFiltering: false, allowSorting: false, template: checkboxTemplate,width:'50' },                     
                    { fieldName: field='SERIAL', headerText: 'Serial' , textAlign: 'center', allowFiltering: true,width:'130' },                        
                    { fieldName: field='TIEN', headerText: 'Tiền' , textAlign: 'left', allowFiltering: true,format:'N0',type: 'number',width:'130' },                        
                    { fieldName: field='VAT', headerText: 'Vat' , textAlign: 'left', allowFiltering: true, format:'N0',type: 'number'},                        
                    { fieldName: field='TIEN_TRATRUOC', headerText: 'Tiền trả trước' , textAlign: 'left', allowFiltering: true,format:'N0',type: 'number',allowEditing:true ,type:'number'},    
                    { fieldName: field='VAT_TRATRUOC', headerText: 'Vat trả trước' , textAlign: 'left', allowFiltering: true, format:'N0',type: 'number',allowEditing:true,type:'number'},                        
                    { fieldName: field='TIEN_KM', headerText: 'Tiền KM'  , textAlign: 'left', allowFiltering: true, format:'N0',type: 'number'},                                          
                    { fieldName: field='VAT_KM', headerText: 'Vat KM'  , textAlign: 'left', allowFiltering: true, format:'N0',type: 'number'},                                          
                    { fieldName: field='SL_CHA', headerText: 'SL Cha'  , textAlign: 'left', allowFiltering: true, },                                          
                    { fieldName: field='BLOCK_TIEP', headerText: 'Block'  , textAlign: 'left', allowFiltering: true, format:'N0',type: 'number'},   
                    { fieldName: field='GIA_BLOCK_TIEP', headerText: 'Giá Block'  , textAlign: 'left', allowFiltering: true, format:'N0',type: 'number'},                                          
                    { fieldName: field='VAT_BLOCK_TIEP', headerText: 'Vat Block'  , textAlign: 'left', allowFiltering: true, format:'N0',type: 'number'},                                        
                    ]"
                    ref="gridDs"
                    dataKeyField="STT"
                    :dataSource="gridDSTB"
                    :showFilter="true"
                    :enablePagingServer="false"
                    :showColumnCheckbox="false"
                    :allowPaging="true"
                    @selectedRowChanged=""
                    :enabledSelectFirstRow="false"
                    :editSettings="{ allowEditing: true , mode:'Batch'}"
                    @rowSelected="onRowSelected"
                    @cellSaved="onRowSelected"
                    :aggregates="TCaggregatesColumns"
                >
                </DataGrid3>
            </div>
        </div>
    </div>
</div>
