a.disabled {
    color: lightgrey !important;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}
>>> .text-red {
    color: red !important;
    text-align: right !important;
    font-weight: bold !important;
}
>>> .text-bold {
    font-weight: bold !important;
}
>>> .text-sum {
    text-align: right !important;
    font-weight: bold !important;
}