@charset "UTF-8";
/****************************************/
/*  Name : 에듀넷 재구조화
/*  PART : font style
/*  Author : 
/*
/*  Summary: /* 파일 내용 */
/*  01) GmarketSans
/*  02) Pretendard
/****************************************/
/* ********************************************************************************* *
* 01) GmarketSans // font-family: 'GmarketSans';
* ********************************************************************************* */
@font-face {
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: 700;
  src: url("/@/assets/fonts/GmarketSansBold.woff2") format("woff2"), url("/@/assets/fonts/GmarketSansBold.woff") format("woff");
}
@font-face {
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: 500;
  src: url("/@/assets/fonts/GmarketSansMedium.woff2") format("woff2"), url("/@/assets/fonts/GmarketSansMedium.woff") format("woff");
}
@font-face {
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: 300;
  src: url("/@/assets/fonts/GmarketSansLight.woff2") format("woff2"), url("/@/assets/fonts/GmarketSansLight.woff") format("woff");
}
/* ********************************************************************************* *
* 02) Pretendard // font-family: 'Pretendard';
* ********************************************************************************* */
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  src: url("/@/assets/fonts/Pretendard-SemiBold.woff2") format("woff2"), url("/@/assets/fonts/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("/@/assets/fonts/Pretendard-Medium.woff2") format("woff2"), url("/@/assets/fonts/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  src: url("/@/assets/fonts/Pretendard-Regular.woff2") format("woff2"), url("/@/assets/fonts/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 300;
  src: url("/@/assets/fonts/Pretendard-Light.woff2") format("woff2"), url("/@/assets/fonts/Pretendard-Light.woff") format("woff");
}
/*변수*/
/*absolute 중앙정렬*/
/*헤더 관련사이트*/
/*게시글 필수 입력 표시*/
/*sort 및 검색 조건박스*/
.board_ctrl_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.board_ctrl_box .left_ctrl_box {
  display: flex;
  align-items: center;
}
.board_ctrl_box .left_ctrl_box > li:nth-child(1) {
  margin-right: 0.5rem;
}
.board_ctrl_box .left_ctrl_box > li:nth-child(2) {
  margin-right: 2rem;
  font-weight: 700;
  color: #865dd5;
}
.board_ctrl_box .left_ctrl_box > li:nth-child(3) select {
  background: url(/@/assets/images/sub/icon_small_down_arrow.png) no-repeat 88% center/14px !important;
  padding: 0 4rem 0 1rem !important;
  font-size: 14px !important;
}
.board_ctrl_box .board_search_box {
  display: flex;
  align-items: center;
}
.board_ctrl_box .board_search_box select {
  height: 42px;
  background: url(/@/assets/images/sub/icon_small_down_arrow.png) no-repeat 88% center/14px !important;
  padding: 0 4.5rem 0 1.2rem;
  font-size: 14px;
}
.board_ctrl_box .board_search_box input[type=text] {
  height: 42px;
  margin: 0 1rem;
  padding: 0 1rem !important;
  border: 1px solid #e4e7ea;
  border-radius: 4px;
}
.board_ctrl_box .board_search_box input[type=text]::-moz-placeholder {
  font-size: 14px;
}
.board_ctrl_box .board_search_box input[type=text]::placeholder {
  font-size: 14px;
}
.board_ctrl_box .board_search_box .btn_board_search {
  width: 42px;
  height: 42px;
  background: url(/@/assets/images/sub/icon_search_wh.png) no-repeat center center/18px, #865dd5;
  border-radius: 4px;
}

/*검색필터_1*/
.board_search_filter.type1 {
  background: #f2f3f5;
  margin-bottom: 1rem;
  padding: 2rem;
  border-radius: 10px;
}
.board_search_filter.type1 .upper_filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e4e7ea;
}
.board_search_filter.type1 .upper_filter > li {
  width: calc(33.33% - 4rem);
  margin-right: 4rem;
  display: flex;
  align-items: center;
}
.board_search_filter.type1 .upper_filter > li label {
  min-width: 60px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  font-weight: 500;
  padding-right: 1.2rem;
  font-size: 15px;
}
.board_search_filter.type1 .upper_filter > li select {
  width: 100%;
  background-position: 95% center;
}
.board_search_filter.type1 .upper_filter > li:last-child {
  margin-right: 0;
}
.board_search_filter.type1 .lower_filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.board_search_filter.type1 .lower_filter > li {
  display: flex;
  align-items: center;
  gap: 0 2rem;
}
.board_search_filter.type1 .lower_filter > li > label {
  display: flex;
  align-items: center;
  gap: 0 0.45rem;
  cursor: pointer;
}
.board_search_filter.type1 .lower_filter > li:first-child {
  flex-shrink: 0;
}
.board_search_filter.type1 .lower_filter > li:last-child {
  max-width: 396px;
  width: 100%;
  gap: 0 1rem;
}
.board_search_filter.type1 .lower_filter > li:last-child > input[type=text] {
  max-width: 345px;
  width: 100%;
  height: 42px;
  background: #fff;
  padding: 0 2rem;
  border: 1px solid #e4e7ea;
  border-radius: 4px;
}
.board_search_filter.type1 .lower_filter > li:last-child > .btn_search {
  width: 42px;
  height: 42px;
  background: url(/@/assets/images/sub/icon_search_wh.png) no-repeat center center/18px, #865dd5;
  border-radius: 4px;
  color: transparent;
  font-size: 0;
  text-indent: -9999px;
}

/*검색필터_2*/
.board_search_filter.type2 {
  background: #f2f3f5;
  margin-bottom: 1rem;
  padding: 2rem 2rem 1rem 2rem;
  border-radius: 10px;
}
.board_search_filter.type2 .upper_filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e4e7ea;
}
.board_search_filter.type2 .upper_filter > li {
  width: calc(25% - 5rem);
  display: flex;
  align-items: center;
}
.board_search_filter.type2 .upper_filter > li label {
  min-width: 50px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  font-weight: 500;
  padding-right: 1.2rem;
  font-size: 15px;
}
.board_search_filter.type2 .upper_filter > li select {
  width: 100%;
  background-position: 95% center;
}
.board_search_filter.type2 .upper_filter > li input[type=text] {
  width: 100%;
  height: 42px;
  background: #fff;
  padding: 0 2rem;
  border: 1px solid #e4e7ea;
  border-radius: 4px;
}
.board_search_filter.type2 .upper_filter > li:last-child {
  margin-right: 0;
  width: calc(100% - (25% - 5rem) - 5rem);
}
.board_search_filter.type2 .upper_filter > li:last-child input[type=text] {
  width: 100%;
  height: 42px;
  background: #fff;
  padding: 0 2rem;
  border: 1px solid #e4e7ea;
  border-radius: 4px;
}
.board_search_filter.type2 .lower_filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.board_search_filter.type2 .lower_filter > li {
  display: flex;
  align-items: center;
  gap: 0 2rem;
}

/*리스트 게시판*/
table.list_table tbody tr th {
  display: none;
}
table.list_table tbody tr td:nth-child(2) > a {
  max-width: 500px;
  width: 100%;
  display: block;
  text-align: left;
}
table.list_table tbody tr td:nth-child(2) > a:hover {
  text-decoration: underline;
}
table.list_table tbody tr td .flex_start {
  height: 100%;
  justify-content: center;
  gap: 0.4rem;
}
table.list_table tbody tr td .flex_start span {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}
table.list_table tbody tr td button {
  vertical-align: middle;
}
table.list_table .ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
table.list_table .notice {
  font-weight: 600;
}

/*리스트 게시판 글쓰기 버튼*/
table.list_table + div[class*=flex_] {
  margin-top: 2rem;
}

/*페이지네이션*/
.pagination_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 0.4rem;
  padding: 1.6rem 0;
}
.pagination_box a {
  width: 40px;
  height: 40px;
  display: block;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.15s linear;
}
.pagination_box a[class*=btn_] {
  position: relative;
  border: 1px solid #efefef;
}
.pagination_box a[class*=btn_]:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: calc(50% - 0.4rem);
  transform: translate(-50%, -50%);
}
.pagination_box a[class*=btn_]:hover {
  border: 1px solid #555;
}
.pagination_box a.btn_first:before {
  background: url(/@/assets/images/sub/icon_first_page.png) no-repeat center center/contain;
}
.pagination_box a.btn_prev:before {
  left: 50%;
  background: url(/@/assets/images/sub/icon_prev_page.png) no-repeat center center/contain;
}
.pagination_box a.btn_next:before {
  left: 50%;
  background: url(/@/assets/images/sub/icon_next_page.png) no-repeat center center/contain;
}
.pagination_box a.btn_last:before {
  left: calc(50% + 0.2rem);
  background: url(/@/assets/images/sub/icon_last_page.png) no-repeat center center/contain;
}
.pagination_box a.current_page {
  background: #865dd5;
  color: #fff;
}
.pagination_box a:not([class*=btn_], .current_page):hover {
  background: #f2f3f5;
}

/*게시판 글읽기 화면*/
.board_view_box .title_box .title_txt {
  background: #865dd5;
  padding: 1.8rem 2rem;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
.board_view_box .title_box .board_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 0;
  border-bottom: 1px solid #e4e7ea;
}
.board_view_box .title_box .board_info > ul {
  display: flex;
  align-items: center;
}
.board_view_box .title_box .board_info > ul > li {
  position: relative;
  padding: 0 2rem;
  font-size: 17px;
  font-weight: 400;
  color: #6a6a6a;
}
.board_view_box .title_box .board_info > ul > li:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 20px;
  background: #dbdbdb;
  transform: translateY(-50%);
}
.board_view_box .title_box .board_info > ul > li:last-child:after {
  display: none;
}
.board_view_box .board_content {
  padding: 2rem;
}
.board_view_box .board_content img {
  width: 100%;
  height: auto;
  padding: 1.6rem 0;
}
.board_view_box .board_file {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.board_view_box .board_file > p {
  width: 10%;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}
.board_view_box .board_file > ul {
  width: 90%;
}
.board_view_box .board_file > ul > li {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.4rem 1.6rem;
}
.board_view_box .board_file > ul > li:not(:first-child):last-child {
  border-top: 1px solid #d6dbe0;
}
.board_view_box .board_file > ul > li > label {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
}
.board_view_box .board_file > ul > li > label > a {
  padding-left: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.board_view_box .board_file > ul > li > label > a:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/@/assets/images/sub/icon_filedown_bk.png) no-repeat center center/contain;
  margin: -0.8rem 0 0 2rem;
  vertical-align: middle;
}
.board_view_box .board_file > ul > li > label:hover > a {
  text-decoration: underline;
}
.board_view_box .board_file > ul > li.no_file {
  background: #f2f3f5;
  justify-content: center;
}
.board_view_box .board_file > ul > li.select_n_down {
  background: #f2f3f5;
}
.board_view_box .board_file > ul > li.select_n_down > label {
  display: flex;
  align-items: center;
  gap: 0 1rem;
  padding-left: 0;
  white-space: nowrap;
  cursor: pointer;
}
.board_view_box .list_nav {
  border-bottom: 1px solid #5a5e6a;
}
.board_view_box .list_nav > li:first-child {
  border-bottom: 1px solid #ddd;
}
.board_view_box .list_nav > li a {
  padding: 1.5rem;
  display: flex;
  align-items: center;
}
.board_view_box .list_nav > li a span {
  padding: 0 1.5rem;
}
.board_view_box .list_nav > li a span:first-child {
  position: relative;
  width: 60px;
  padding-left: 2.4rem;
  color: #5a5e6a;
  font-weight: 600;
  flex-shrink: 0;
  white-space: nowrap;
}
.board_view_box .list_nav > li a span:first-child:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 21px;
  height: 21px;
  background: url(/@/assets/images/sub/icon_arrow_up_bk.png) no-repeat center center/contain;
}
.board_view_box .list_nav > li a span:last-child {
  width: calc(100% - 60px);
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.board_view_box .list_nav > li:last-child a span:first-child:before {
  background: url(/@/assets/images/sub/icon_arrow_down_bk.png) no-repeat center center/25px;
}
.board_view_box .list_nav > li:hover a span[class*=_cont_title] {
  text-decoration: underline;
}
.board_view_box + .flex_between {
  margin-top: 2rem;
}
.board_view_box + .flex_between > div {
  display: flex;
  align-items: center;
  gap: 0 1rem;
}

/*썸네일 리스트 게시판 type_1*/
.sub_content_box.thumb_type_1 .board_ctrl_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub_content_box.thumb_type_1 .board_ctrl_box > div {
  display: flex;
  align-items: center;
}
.sub_content_box.thumb_type_1 .board_ctrl_box > div:first-child {
  width: calc(60% - 1rem);
}
.sub_content_box.thumb_type_1 .board_ctrl_box > div:last-child {
  width: calc(40% - 1rem);
}
.sub_content_box.thumb_type_1 .board_ctrl_box > div > p {
  margin-right: 2rem;
  flex-shrink: 0;
  color: #212121;
}
.sub_content_box.thumb_type_1 .board_ctrl_box > div > ul {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.sub_content_box.thumb_type_1 .board_ctrl_box > div > ul.list_sort > li {
  position: relative;
  flex-shrink: 0;
  margin-right: 2rem;
  color: #3b3b40;
  cursor: pointer;
}
.sub_content_box.thumb_type_1 .board_ctrl_box > div > ul.list_sort > li:hover {
  color: #865dd5 !important;
  font-weight: 600;
}
.sub_content_box.thumb_type_1 .board_ctrl_box > div > ul.list_sort > li:not(:last-child):after {
  content: "";
  position: absolute;
  top: 50%;
  right: -1rem;
  width: 1px;
  height: 17px;
  background: #dcdcdc;
  transform: translateY(-50%);
}
.sub_content_box.thumb_type_1 .board_ctrl_box > div > ul.list_sort > li:last-child {
  margin-right: 0;
}
.sub_content_box.thumb_type_1 .board_ctrl_box > div > ul.list_sort > li.active {
  padding-left: 1.6rem;
  font-weight: 600;
  color: #212121;
}
.sub_content_box.thumb_type_1 .board_ctrl_box > div > ul.list_sort > li.active:before {
  content: "";
  position: absolute;
  top: calc(50% - 0.15rem);
  left: 0;
  width: 12px;
  height: 12px;
  background: url(/@/assets/images/sub/icon_check_pr.png) no-repeat center center/contain;
  transform: translateY(-50%);
}
.sub_content_box.thumb_type_1 .board_ctrl_box > div > ul.list_sort_2 > li {
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.15s linear;
}
.sub_content_box.thumb_type_1 .board_ctrl_box > div > ul.list_sort_2 > li:last-child {
  margin-right: 0;
}
.sub_content_box.thumb_type_1 .board_ctrl_box > div > ul.col_or_row > li {
  margin-right: 1rem;
  cursor: pointer;
}
.sub_content_box.thumb_type_1 .board_ctrl_box > div > ul.col_or_row > li:last-child {
  margin-right: 0;
}
.sub_content_box.thumb_type_1 .board_ctrl_box > div:last-child {
  justify-content: flex-end;
}
.sub_content_box.thumb_type_1 .board_ctrl_box > div:last-child input[type=text] {
  max-width: 244px;
  width: 100%;
}
.sub_content_box.thumb_type_1 .board_ctrl_box > div:last-child select, .sub_content_box.thumb_type_1 .board_ctrl_box > div:last-child button {
  flex-shrink: 0;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem 0;
  padding: 1.95rem 0;
  border-top: 1px solid #707586;
  /*row 클래스로 가로로 긴 형태로 리스트 모양 변형*/
}
.sub_content_box.thumb_type_1 .thumb_type_list_1 > li {
  width: calc(25% - 1.5rem);
  margin-right: 2rem;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #e4e7ea;
  box-shadow: 0 0 10px rgba(0, 0, 10, 0.08);
  transition: border 0.15s linear;
  cursor: pointer;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1 > li:nth-child(4n) {
  margin-right: 0;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1 > li .img_box {
  position: relative;
  height: 195px;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1 > li .img_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1 > li .img_box .cate {
  position: absolute;
  top: 1.2rem;
  right: 1.05rem;
  background: rgba(33, 33, 33, 0.8);
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1 > li .info_box {
  background: #fff;
  padding: 1.1rem 1.75rem;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1 > li .info_box .title {
  display: -webkit-box;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.7rem;
  font-weight: 600;
  color: #212121;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1 > li .info_box .desc_box {
  padding: 1rem 0;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1 > li .info_box .desc_box > li {
  display: flex;
  align-items: center;
  gap: 0 0.6rem;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1 > li .info_box .desc_box > li p {
  font-weight: 500;
  color: #5a5e6a;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1 > li .info_box .desc_box > li span {
  flex-shrink: 0;
  background: #865dd5;
  padding: 0.2rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  border-radius: 20px;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1 > li .info_box .desc_box > li:last-child {
  margin-top: 0.5rem;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1 > li .info_box .desc_box > li:last-child span {
  background: #3b3b40;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1 > li .info_box .option_box {
  display: flex;
  gap: 0 2rem;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1 > li .info_box .option_box > li {
  display: flex;
  align-items: center;
  gap: 0 0.6rem;
  font-weight: 500;
  color: #5a5e6a;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1 > li .info_box .option_box > li strong {
  font-weight: 700;
  color: #212121;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1 > li .info_box .option_box.date {
  position: relative;
  padding-left: 2.4rem;
  justify-content: space-between;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1 > li .info_box .option_box.date:before {
  content: "";
  position: absolute;
  top: calc(50% - 0.15rem);
  left: 0;
  width: 20px;
  height: 20px;
  background: url(/@/assets/images/sub/icon_time.png) no-repeat center center/contain;
  transform: translateY(-50%);
}
.sub_content_box.thumb_type_1 .thumb_type_list_1 > li:hover {
  border: 1px solid #865dd5;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1.row {
  gap: 0;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1.row > li {
  width: 100%;
  margin-right: 0 !important;
  display: flex;
  padding: 1rem;
  box-shadow: unset;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #e4e7ea;
  transition: background 0.15s linear;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1.row > li > a {
  display: flex;
  width: 100%;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1.row > li > a .img_box {
  max-width: 255px;
  width: 100%;
  height: 150px;
  padding: 1rem;
  flex-shrink: 0;
  border-radius: 20px;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1.row > li > a .img_box img {
  border-radius: 10px;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1.row > li > a .img_box .cate {
  top: 2rem;
  right: 2rem;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1.row > li > a .info_box {
  background: transparent;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1.row > li > a .info_box .title {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1.row > li > a .option_box.date {
  justify-content: flex-start !important;
}
.sub_content_box.thumb_type_1 .thumb_type_list_1.row > li > a:hover {
  background: #f2f3f5;
}

/*썸네일 리스트 게시판 type_2*/
.sub_content_box.thumb_type_1.type_2 .board_ctrl_box > div:last-child input[type=text] {
  max-width: 344px;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 {
  align-items: flex-start;
  /*row 클래스로 가로로 긴 형태로 리스트 모양 변형*/
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li {
  width: calc(33% - 1.3333333333rem);
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li:nth-child(3n) {
  margin-right: 0;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li:not(:nth-child(3n)) {
  margin-right: 2rem;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li.video_pop .img_box {
  position: relative;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li.video_pop .img_box:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
  background: url(/@/assets/images/sub/icon_play.png) no-repeat center center/contain;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li .img_box .cate {
  position: absolute;
  top: 1.2rem;
  right: 1.05rem;
  background: #00867B;
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li .info_box .thumb_breadcrumb {
  padding: 1.2rem 0;
  display: flex;
  align-items: center;
  gap: 0 1.6rem;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li .info_box .thumb_breadcrumb li {
  position: relative;
  font-weight: 500;
  color: #4A24B9;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li .info_box .thumb_breadcrumb li:not(:last-child):after {
  content: "";
  position: absolute;
  top: calc(50% - 0.15rem);
  transform: translateY(-50%);
  right: -1.4rem;
  width: 1rem;
  height: 1rem;
  background: url(/@/assets/images/sub/icon_breadcrumb_arrow.png) no-repeat center center/contain;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li .info_box .title + .option_box {
  margin-top: 1.2rem;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li .top_option_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li .top_option_box .like_n_comment {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li .top_option_box .like_n_comment > li.count_like {
  position: relative;
  padding-left: 2rem;
  font-weight: 500;
  color: #3b3b40;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li .top_option_box .like_n_comment > li.count_like:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(/@/assets/images/sub/icon_heart.png) no-repeat center center/contain;
  transform: translateY(-50%);
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li .top_option_box .like_n_comment > li.count_comment {
  position: relative;
  padding-left: 2rem;
  font-weight: 500;
  color: #3b3b40;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li .top_option_box .like_n_comment > li.count_comment:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(/@/assets/images/sub/icon_comment.png) no-repeat center center/contain;
  transform: translateY(-50%);
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li .title {
  font-size: 18px;
  font-weight: 600;
  color: #212121;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1.row {
  gap: 0;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1.row > li {
  width: 100%;
  margin-right: 0 !important;
  padding: 1rem 0;
  box-shadow: unset;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #e4e7ea;
  transition: background 0.15s linear;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1.row > li > a {
  display: flex;
  width: 100%;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1.row > li > a .img_box {
  width: 195px;
  flex-shrink: 0;
  border-radius: 10px;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1.row > li > a .img_box img {
  border-radius: 10px;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1.row > li > a .info_box {
  background: transparent;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1.row > li > a .info_box .top_option_box {
  justify-content: flex-start;
  gap: 0 1rem;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1.row > li > a .info_box .title {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1.row > li > a .option_box.date {
  justify-content: flex-start !important;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1.row > li:hover {
  border: none;
  border-bottom: 1px solid #e4e7ea;
}
.sub_content_box.thumb_type_1.type_2 .thumb_type_list_1.row > li:hover > a {
  background: #f2f3f5;
}

/*썸네일 읽기 게시판*/
.sub_content_box.thumb_view .board_content {
  padding: 0;
}
.sub_content_box.thumb_view .board_content .board_info {
  border-bottom: 1px solid #666;
}
.sub_content_box.thumb_view .board_content .board_info li {
  gap: 0 1rem;
  padding: 0 1rem !important;
}
.sub_content_box.thumb_view .board_content .board_info li:after {
  display: none;
}
.sub_content_box.thumb_view .board_content .board_info li span {
  font-weight: 500;
  color: #5a5e6a;
}
.sub_content_box.thumb_view .board_content .board_info li strong {
  font-weight: 700;
  color: #212121;
}
.sub_content_box.thumb_view .board_content .board_view_select {
  padding: 2rem;
  background: #e4e7ea;
  border-bottom: 1px solid #e4e7ea;
}
.sub_content_box.thumb_view .board_content .board_view_select .title {
  display: flex;
  align-items: center;
  gap: 0 1rem;
  margin-bottom: 1rem;
}
.sub_content_box.thumb_view .board_content .board_view_select .title > li:first-child {
  background: #865dd5;
  padding: 0.6rem 1.5rem;
  border-radius: 30px;
  font-weight: 500;
  color: #fff;
}
.sub_content_box.thumb_view .board_content .board_view_select .title > li:last-child {
  font-size: 1.8rem;
  font-weight: 600;
  color: #3b3b40;
}
.sub_content_box.thumb_view .board_content .board_view_select select {
  width: 100%;
  background-position: 98.5% center;
}
.sub_content_box.thumb_view .board_content .slider_box {
  position: relative;
  background: #e4e7ea;
  margin: 4rem 2rem 0 2rem;
  padding: 5rem 6rem 5rem 6rem;
}
.sub_content_box.thumb_view .board_content .slider_box .board_view_slider .swiper-slide {
  width: 100%;
  min-height: 600px;
  background: #d6dbe0;
}
.sub_content_box.thumb_view .board_content .slider_box .btn_box {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 1.8rem;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub_content_box.thumb_view .board_content .slider_box .btn_box button {
  width: 29px;
  height: 45px;
  display: block;
  transition: rotate 0.15s linear;
}
.sub_content_box.thumb_view .board_content .slider_box .btn_box button[class*=_prev] {
  background: url(/@/assets/images/sub/icon_slide_move.png) no-repeat center center/contain;
}
.sub_content_box.thumb_view .board_content .slider_box .btn_box button[class*=_prev]:hover {
  background: url(/@/assets/images/sub/icon_slide_move_hover.png) no-repeat center center/contain;
}
.sub_content_box.thumb_view .board_content .slider_box .btn_box button[class*=_next] {
  background: url(/@/assets/images/sub/icon_slide_move.png) no-repeat center center/contain;
  transform: rotate(-180deg);
}
.sub_content_box.thumb_view .board_content .slider_box .btn_box button[class*=_next]:hover {
  background: url(/@/assets/images/sub/icon_slide_move_hover.png) no-repeat center center/contain;
}
.sub_content_box.thumb_view .board_content .slider_box .swiper-pagination {
  bottom: unset;
  top: unset;
  margin-top: 2rem;
}
.sub_content_box.thumb_view .board_content .slider_box .swiper-pagination span {
  width: 12px;
  height: 12px;
}
.sub_content_box.thumb_view .board_content .slider_box .swiper-pagination span.swiper-pagination-bullet-active {
  background: #865dd5;
}
.sub_content_box.thumb_view .board_content .iframe_box {
  padding: 2rem;
  min-height: 260px;
  border: 1px solid #e4e7ea;
}
.sub_content_box.thumb_view .board_content .slider_cont_box {
  background: #e4e7ea;
  margin: 0 2rem 4rem 2rem;
  padding: 2rem 6rem;
}
.sub_content_box.thumb_view .board_content .board_view_desc {
  background: #e4e7ea;
  padding: 2rem;
}
.sub_content_box.thumb_view .board_content .board_view_desc dl {
  display: flex;
  align-items: flex-start;
  gap: 0 1rem;
  margin-bottom: 1rem;
}
.sub_content_box.thumb_view .board_content .board_view_desc dl dt {
  width: 86px;
  height: 26px;
  flex-shrink: 0;
  line-height: 26px;
  text-align: center;
  background: #707586;
  font-weight: 500;
  color: #fff;
  border-radius: 30px;
}
.sub_content_box.thumb_view .board_content .board_view_desc dl dd {
  width: calc(100% - 100px);
  color: #5a5e6a;
  font-weight: 500;
}
.sub_content_box.thumb_view .board_content .board_view_desc dl:last-child {
  margin-bottom: 0;
}
.sub_content_box.thumb_view .board_content .board_view_desc dl.url dt {
  background: #865dd5;
}
.sub_content_box.thumb_view .board_content .board_view_desc dl.url dd a {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  color: #5a5e6a;
  text-decoration: underline;
}
.sub_content_box.thumb_view .board_content + .board_file {
  border-top: 1px solid #e4e7ea;
}

/*포스트 형식 리스트 게시판*/
.post_type_list .post_list_wrap {
  padding: 0 0 2rem 0;
  border-top: 1px solid #707586;
  border-bottom: 1px solid #707586;
}
.post_type_list .post_list_wrap > li {
  display: flex;
  padding: 2rem 0;
  gap: 0 3rem;
  width: 100%;
  border-bottom: 1px solid #e4e7ea;
}
.post_type_list .post_list_wrap > li .img_box {
  width: 165px;
  height: 235px;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0;
}
.post_type_list .post_list_wrap > li .img_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.post_type_list .post_list_wrap > li .cont_box {
  width: calc(100% - (165px + 3rem));
}
.post_type_list .post_list_wrap > li .cont_box > a dl {
  display: flex;
  align-items: center;
  gap: 0 1rem;
  margin-bottom: 1rem;
}
.post_type_list .post_list_wrap > li .cont_box > a dl dt {
  width: 74px;
  height: 29px;
  background: #00867B;
  flex-shrink: 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  border-radius: 30px;
  text-align: center;
  line-height: 29px;
}
.post_type_list .post_list_wrap > li .cont_box > a dl dd {
  font-size: 2rem;
  font-weight: 700;
  color: #212121;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.post_type_list .post_list_wrap > li .cont_box > a dl + p {
  color: #5a5e6a;
  line-height: 1.5;
  display: -webkit-box;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.post_type_list .post_list_wrap > li .cont_box .info_box {
  display: flex;
  align-items: center;
  margin-top: 3.3rem;
  margin-bottom: 1rem;
}
.post_type_list .post_list_wrap > li .cont_box .info_box > li {
  position: relative;
  padding-left: 2.4rem;
  font-weight: 700;
  color: #212121;
}
.post_type_list .post_list_wrap > li .cont_box .info_box > li.date {
  margin-right: 2rem;
}
.post_type_list .post_list_wrap > li .cont_box .info_box > li.date:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url(/@/assets/images/sub/icon_time.png) no-repeat center center/contain;
}
.post_type_list .post_list_wrap > li .cont_box .info_box > li.recomm {
  padding-left: 3rem;
}
.post_type_list .post_list_wrap > li .cont_box .info_box > li.recomm:before {
  content: "추천";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 1.6rem;
  font-weight: 500;
  color: #5a5e6a;
  display: inline-block;
}
.post_type_list .post_list_wrap > li:hover .cont_box > a dl dd {
  text-decoration: underline;
}
.post_type_list .post_list_wrap > li:hover .cont_box > a dl + p {
  text-decoration: underline;
}
.post_type_list .post_list_wrap + .flex_end {
  margin-top: 2rem;
}

/*포스트 형식 리스트 게시판 type_2*/
.post_type_list.type_2 .board_ctrl_box .left_ctrl_box label {
  color: #3b3b40;
}
.post_type_list.type_2 .post_list_wrap > li {
  flex-wrap: wrap;
}
.post_type_list.type_2 .post_list_wrap > li .cont_box {
  position: relative;
}
.post_type_list.type_2 .post_list_wrap > li .cont_box dl {
  display: flex;
  align-items: center;
  gap: 0 1rem;
  margin-bottom: 1rem;
}
.post_type_list.type_2 .post_list_wrap > li .cont_box dl dt img {
  width: 15.17px;
  height: 19.5px;
}
.post_type_list.type_2 .post_list_wrap > li .cont_box dl dd {
  font-size: 2.4rem;
  font-weight: 700;
  color: #083b87;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.post_type_list.type_2 .post_list_wrap > li .cont_box .btn_more {
  position: absolute;
  top: 0;
  right: 0;
  color: #3b3b40;
  transition: all 0.15s linear;
}
.post_type_list.type_2 .post_list_wrap > li .cont_box .btn_more span {
  font-size: 2rem;
  padding-left: 0.4rem;
}
.post_type_list.type_2 .post_list_wrap > li .cont_box .btn_more:hover {
  font-weight: 700;
  color: #865dd5;
  text-decoration: underline;
}
.post_type_list.type_2 .post_list_wrap > li .cont_box .btn_more:hover span {
  font-weight: 700;
  color: #865dd5;
  transition: all 0.15s linear;
}
.post_type_list.type_2 .post_list_wrap > li .cont_box .info_box {
  margin-top: 2rem !important;
  flex-direction: column;
  align-items: flex-start !important;
  gap: 1rem 0;
}
.post_type_list.type_2 .post_list_wrap > li .cont_box .info_box > li {
  position: relative;
  padding-left: 1.2rem !important;
}
.post_type_list.type_2 .post_list_wrap > li .cont_box .info_box > li:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 5px;
  height: 5px;
  background: #5a5e6a;
  border-radius: 50%;
}
.post_type_list.type_2 .post_list_wrap > li .cont_box .info_box > li span {
  width: 65px;
  display: inline-block;
  font-weight: 500;
  color: #5a5e6a;
}
.post_type_list.type_2 .post_list_wrap > li .cont_box .info_box > li strong {
  font-weight: 700;
  color: #212121;
}
.post_type_list.type_2 .post_list_wrap > li p {
  width: 100%;
  margin-top: 2rem;
  color: #5a5e6a;
  line-height: 1.4;
}

/*포스트 형식 type_2 읽기 게시판*/
.post_type_view .board_view_box .board_content {
  border-bottom: 1px solid #ddd;
}
.post_type_view .board_view_box .board_content .board_info ul:first-child li.date {
  position: relative;
  padding-left: 2.4rem;
  justify-content: space-between;
  color: #212121;
  font-weight: 700;
}
.post_type_view .board_view_box .board_content .board_info ul:first-child li.date:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(/@/assets/images/sub/icon_time.png) no-repeat center center/contain;
  transform: translateY(-50%);
}
.post_type_view .board_view_box .board_content .board_info ul:first-child li.view {
  color: #5a5e6a;
}
.post_type_view .board_view_box .board_content .board_info ul:first-child li.view strong {
  font-weight: 700;
  color: #212121;
}
.post_type_view .board_view_box .board_content .url_box {
  display: flex;
  align-items: flex-start;
  gap: 0 1rem;
  margin: 3rem 0;
}
.post_type_view .board_view_box .board_content .url_box dt {
  flex-shrink: 0;
  background: #865dd5;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
}
.post_type_view .board_view_box .board_content .url_box dd a {
  text-decoration: underline;
}
.post_type_view .board_view_box + .flex_end {
  margin-top: 2rem;
}

/*게시판 글쓰기, 수정 화면*/
.board_write_box + .flex_end {
  margin-top: 2rem;
  gap: 0 1rem;
}

/*laptop 반응형 1400*/
@media all and (max-width: 1440px) {
  /*검색필터_type2*/
  .board_search_filter.type2 .upper_filter {
    justify-content: flex-start;
    gap: 1.6rem 0;
  }
  .board_search_filter.type2 .upper_filter > li {
    width: calc(33.33% - 1.6666666667rem);
    margin-right: 2.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem 0;
  }
  .board_search_filter.type2 .upper_filter > li:nth-child(3n) {
    margin-right: 0;
  }
  .board_search_filter.type2 .upper_filter > li:last-child {
    width: 100%;
    margin-right: 0;
  }
  /*썸네일 리스트 게시판 type_1*/
  .sub_content_box.thumb_type_1 .board_ctrl_box > div:first-child {
    width: calc(57% - 1rem);
  }
  .sub_content_box.thumb_type_1 .board_ctrl_box > div:last-child {
    width: calc(43% - 1rem);
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1 > li {
    width: calc(50% - 2rem);
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1 > li:nth-child(2n) {
    margin-right: 0;
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1 > li:nth-child(4n) {
    margin-right: 2rem;
  }
  /*썸네일 리스트 게시판 type_2*/
  .sub_content_box.thumb_type_1.type_2 .board_ctrl_box {
    flex-wrap: wrap;
    gap: 1rem 0;
  }
  .sub_content_box.thumb_type_1.type_2 .board_ctrl_box > div:first-child {
    width: 100%;
  }
  .sub_content_box.thumb_type_1.type_2 .board_ctrl_box > div:last-child {
    width: 100%;
  }
  .sub_content_box.thumb_type_1.type_2 .board_ctrl_box > div:last-child input[type=text] {
    max-width: unset;
  }
  .sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li {
    width: calc(50% - 2rem);
  }
  .sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li:nth-child(2n) {
    margin-right: 0;
  }
  .sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li:not(:nth-child(2n)) {
    margin-right: 2rem;
  }
}
/*태블릿 반응형 1024*/
@media all and (max-width: 1024px) {
  /*게시판 글읽기 화면*/
  .board_view_box .title_box .title_txt {
    font-size: 20px;
  }
  .board_view_box .title_box .board_info > ul > li {
    font-size: 16px;
  }
  /*썸네일 리스트 게시판 type_1*/
  .sub_content_box.thumb_type_1 .thumb_type_list_1 > li {
    width: calc(33.33% - 1.3333333333rem);
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1 > li:nth-child(3n) {
    margin-right: 0;
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1 > li:nth-child(4n), .sub_content_box.thumb_type_1 .thumb_type_list_1 > li:not(:nth-child(6)):nth-child(2n) {
    margin-right: 2rem;
  }
}
/*모바일 반응형 768*/
@media all and (max-width: 768px) {
  /*검색필터*/
  .board_search_filter > ul.upper_filter {
    gap: 1.6rem 2rem !important;
  }
  .board_search_filter > ul.upper_filter > li {
    width: calc(50% - 2rem) !important;
    margin-right: 2rem !important;
    flex-direction: column;
    align-items: flex-start !important;
    gap: 0.8rem 0;
  }
  .board_search_filter > ul.upper_filter > li:nth-child(2n) {
    margin-right: 0 !important;
  }
  .board_search_filter > ul.lower_filter {
    flex-wrap: wrap;
    gap: 1rem 0;
    padding: 1rem 0 !important;
  }
  .board_search_filter > ul.lower_filter > li {
    width: 100%;
  }
  .board_search_filter > ul.lower_filter > li:last-child input[type=text] {
    width: calc(100% - 5.4rem) !important;
  }
  .board_search_filter.type2 > ul.upper_filter {
    gap: 1.6rem 2rem !important;
  }
  .board_search_filter.type2 > ul.upper_filter > li {
    width: calc(50% - 2rem) !important;
    margin-right: 2rem !important;
    flex-direction: column;
    align-items: flex-start !important;
    gap: 0.8rem 0;
  }
  .board_search_filter.type2 > ul.upper_filter > li:nth-child(2n) {
    margin-right: 0 !important;
  }
  .board_search_filter.type2 > ul.upper_filter > li:last-child {
    width: 100% !important;
  }
  .board_search_filter.type2 > ul.lower_filter > li {
    width: auto;
  }
  /*리스트 게시판 검색창*/
  div.board_ctrl_box {
    width: 100%;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  div.board_ctrl_box > ul.left_ctrl_box > li {
    margin-top: 0.8rem;
  }
  div.board_ctrl_box > ul.left_ctrl_box > li:last-child {
    display: none;
  }
  div.board_ctrl_box > div.right_ctrl_box {
    width: 100%;
    justify-content: space-between;
  }
  div.board_ctrl_box > div.right_ctrl_box input[type=text] {
    width: calc(100% - 140px);
    margin: 0;
  }
  div.board_ctrl_box > div.right_ctrl_box select, div.board_ctrl_box > div.right_ctrl_box button {
    flex-shrink: 0;
  }
  /*리스트 게시판*/
  table.list_table {
    table-layout: fixed;
    border-top: 1px solid #3b3b40;
  }
  table.list_table colgroup {
    display: none;
  }
  table.list_table thead {
    display: none;
  }
  table.list_table tbody tr {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #e4e7ea;
  }
  table.list_table tbody tr .flex_start {
    justify-content: flex-start !important;
  }
  table.list_table tbody tr .ellipsis_m {
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  table.list_table tbody tr td {
    position: relative;
    padding-left: 7rem !important;
    width: 50%;
    text-align: left !important;
  }
  table.list_table tbody tr td:before {
    content: attr(data-label) "";
    width: 70px;
    font-size: 13px;
    font-weight: 500;
    color: #865dd5;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  table.list_table tbody tr td a {
    text-decoration: underline;
  }
  /*페이지네이션*/
  div .pagination_box {
    position: relative;
    width: 200px;
    margin: 1.6rem auto;
    flex-wrap: wrap;
    gap: 0;
    padding: 0;
    border: 1px solid #f2f3f5;
    border-right: none;
    border-bottom: none;
  }
  div .pagination_box > a:not([class*=btn_]) {
    width: calc(25% - 10px);
    height: 40px;
    border-radius: 0 !important;
    border-right: 1px solid #f2f3f5;
    border-bottom: 1px solid #f2f3f5;
  }
  div .pagination_box > a[class*=btn_] {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 6px;
  }
  div .pagination_box > a.btn_first {
    left: -80px;
  }
  div .pagination_box > a.btn_prev {
    left: -40px;
  }
  div .pagination_box > a.btn_next {
    right: -40px;
  }
  div .pagination_box > a.btn_last {
    right: -80px;
  }
  /*게시판 글읽기 화면*/
  .board_view_box .board_info {
    flex-wrap: wrap;
    gap: 0.8rem 0;
  }
  .board_view_box .board_info button {
    font-size: 14px;
  }
  .board_view_box .board_file > p {
    width: 100%;
    padding: 1.6rem 0;
    border-bottom: 1px solid #e4e7ea;
  }
  .board_view_box .board_file > ul {
    width: 100%;
  }
  .board_view_box .board_file > ul li input[type=checkbox] {
    flex-shrink: 0;
  }
  .board_view_box .board_file > ul li label span {
    width: 20px;
    height: 20px;
    background-size: 10px;
  }
  .board_view_box .board_file > ul li label a {
    position: relative;
    max-width: calc(100% - 30px);
    padding-right: 3.6rem;
    font-size: 13px;
  }
  .board_view_box .board_file > ul li label a:after {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 1.6rem;
    transform: translateY(-50%);
    margin: 0;
  }
  /*게시판 글쓰기, 수정 화면*/
  .write_table {
    table-layout: fixed;
  }
  .write_table colgroup {
    display: none;
  }
  .write_table thead tr {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .write_table thead tr th {
    width: 100%;
    padding: 1.6rem 1rem 0.4rem 1rem !important;
    white-space: nowrap;
  }
  .write_table thead tr td {
    width: 100%;
  }
  .write_table thead tr td input[type=text] {
    width: 100% !important;
    margin-bottom: 0.8rem;
    padding: 0 1rem !important;
  }
  .write_table tbody tr {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .write_table tbody tr th {
    width: 100%;
    padding: 1.6rem 1rem 0.4rem 1rem !important;
    white-space: nowrap;
  }
  .write_table tbody tr td {
    width: 100%;
  }
  .write_table tbody tr td input[type=text] {
    width: 100% !important;
    margin-bottom: 0.8rem;
    padding: 0 1rem !important;
  }
  .write_table.type2 {
    font-size: 14px;
  }
  .write_table.type2 th {
    width: 100% !important;
    padding: 1.2rem 1rem !important;
  }
  .write_table.type2 td {
    padding: 1.2rem 1rem !important;
  }
  /*썸네일 리스트 게시판 type_1*/
  .sub_content_box.thumb_type_1 .board_ctrl_box {
    flex-direction: column;
    gap: 1rem 0;
  }
  .sub_content_box.thumb_type_1 .board_ctrl_box > div:first-child {
    width: 100%;
  }
  .sub_content_box.thumb_type_1 .board_ctrl_box > div:first-child > ul:last-child {
    margin-right: 0;
  }
  .sub_content_box.thumb_type_1 .board_ctrl_box > div:last-child {
    width: 100%;
    justify-content: flex-start;
  }
  .sub_content_box.thumb_type_1 .board_ctrl_box > div:last-child select {
    width: 100px;
  }
  .sub_content_box.thumb_type_1 .board_ctrl_box > div:last-child input[type=text] {
    max-width: unset;
    width: calc(100% - 162px);
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1 {
    gap: 0;
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1 > li {
    width: 100%;
    margin-right: 0 !important;
    padding: 1rem 0;
    box-shadow: unset;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #e4e7ea;
    transition: background 0.15s linear;
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1 > li > a {
    display: flex;
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1 > li > a .img_box {
    width: 195px;
    flex-shrink: 0;
    border-radius: 10px;
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1 > li > a .img_box img {
    border-radius: 10px;
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1 > li > a .info_box {
    background: transparent;
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1 > li > a .info_box .title {
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1 > li > a .option_box.date {
    justify-content: flex-start !important;
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1 > li:hover {
    border: none;
    border-bottom: 1px solid #e4e7ea;
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1 > li:hover > a {
    background: #f2f3f5;
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1.row > li .img_box {
    max-width: unset;
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 20px;
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1.row > li .img_box img {
    border-radius: 10px;
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1.row > li .info_box {
    background: transparent;
  }
  /*썸네일 리스트 게시판 type_2*/
  .sub_content_box.thumb_type_1.type_2 .board_ctrl_box > div:first-child {
    flex-wrap: wrap;
    gap: 1rem 0;
    justify-content: flex-start;
  }
  .sub_content_box.thumb_type_1.type_2 .board_ctrl_box > div:first-child p + ul {
    width: calc(100% - 160px);
  }
  .sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li {
    width: 100%;
  }
  .sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li .img_box {
    max-width: 195px;
    width: 100%;
    height: 185px;
  }
  .sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li .img_box img {
    border-radius: 10px;
  }
  .sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li .info_box .top_option_box {
    flex-direction: column;
    align-items: flex-start;
  }
  .sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li .info_box .top_option_box > .thumb_breadcrumb {
    padding: 0 0 1rem 0;
  }
  .sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li .info_box .top_option_box > .like_n_comment {
    padding: 0 0 1rem;
  }
  .sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li .info_box .title {
    font-size: 18px;
    font-weight: 600;
    color: #212121;
  }
  /*썸네일 읽기 게시판*/
  .sub_content_box.thumb_view .board_content .slider_box {
    padding: 4rem;
  }
  .sub_content_box.thumb_view .board_content .slider_box .board_view_slider .swiper-slide {
    min-height: 400px;
  }
  .sub_content_box.thumb_view .board_content .slider_cont_box {
    padding: 4rem;
  }
  /*포스트 형식 리스트 게시판*/
  .post_type_list .post_list_wrap > li .cont_box > a :is(dd, p) {
    text-decoration: underline;
  }
  /*포스트 형식 리스트 게시판 type_2*/
  .post_type_list.type_2 .board_ctrl_box {
    flex-direction: column;
    gap: 1rem 0;
  }
  .post_type_list.type_2 .board_ctrl_box .left_ctrl_box li {
    display: block;
  }
  .post_type_list.type_2 .post_list_wrap > li {
    padding-top: 4rem;
  }
  .post_type_list.type_2 .post_list_wrap > li .img_box img {
    height: 260px;
  }
  .post_type_list.type_2 .post_list_wrap > li .cont_box .info_box > li {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 1.2rem !important;
  }
  .post_type_list.type_2 .post_list_wrap > li .cont_box .info_box > li:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 5px;
    height: 5px;
    background: #5a5e6a;
    border-radius: 50%;
  }
  .post_type_list.type_2 .post_list_wrap > li .cont_box .info_box > li span {
    width: 65px;
    display: inline-block;
    font-weight: 500;
    color: #5a5e6a;
  }
  .post_type_list.type_2 .post_list_wrap > li .cont_box .info_box > li strong {
    font-weight: 700;
    color: #212121;
  }
  .post_type_list.type_2 .post_list_wrap > li .cont_box .btn_more {
    top: -3rem;
    text-decoration: underline;
    color: #865dd5;
    font-weight: 700;
  }
  .post_type_list.type_2 .post_list_wrap > li p {
    width: 100%;
    margin-top: 2rem;
    color: #5a5e6a;
    line-height: 1.4;
  }
}
/*모바일 세부 반응형 500*/
@media all and (max-width: 500px) {
  /*썸네일 리스트 게시판 type_1*/
  .sub_content_box.thumb_type_1 .board_ctrl_box > div:first-child {
    justify-content: space-between;
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1 {
    /*가로 배열로 전환*/
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1 > li {
    width: 100%;
    margin-right: 0 !important;
    display: flex;
    padding-bottom: 1rem;
    box-shadow: unset;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #e4e7ea;
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1 > li a .img_box {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 20px;
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1 > li a .info_box .title {
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1 > li a .option_box.date {
    justify-content: flex-start !important;
  }
  .sub_content_box.thumb_type_1 .thumb_type_list_1.row > li a .img_box {
    max-width: unset;
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 20px;
  }
  /*썸네일 리스트 게시판 type_2*/
  .sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 {
    /*가로 배열로 전환*/
  }
  .sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li {
    width: 100%;
    margin-right: 0 !important;
    display: flex;
    padding-bottom: 1rem;
    box-shadow: unset;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #e4e7ea;
  }
  .sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li a .img_box {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 20px;
  }
  .sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li a .info_box .thumb_breadcrumb > li {
    font-size: 1.3rem;
  }
  .sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li a .info_box .title {
    font-size: 1.6rem;
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }
  .sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li a .option_box > li {
    font-size: 1.3rem;
  }
  .sub_content_box.thumb_type_1.type_2 .thumb_type_list_1 > li a .option_box.date {
    justify-content: flex-start !important;
  }
  .sub_content_box.thumb_type_1.type_2 .thumb_type_list_1.row > li a .img_box {
    max-width: unset;
    width: 125px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 20px;
  }
  /*썸네일 읽기 게시판*/
  .sub_content_box.thumb_view .title_box .board_info ul li {
    padding: 0 1rem;
  }
  .sub_content_box.thumb_view .board_content .slider_box .board_view_slider .swiper-slide {
    min-height: 260px;
  }
  .sub_content_box.thumb_view .board_content .slider_box .btn_box button {
    width: 18px;
    height: 24px;
  }
  /*포스트 형식 리스트 게시판*/
  .post_type_list .post_list_wrap > li > .img_box {
    width: 130px;
    height: auto;
  }
  .post_type_list .post_list_wrap > li > .cont_box .info_box {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem 0;
  }
  /*포스트 형식 리스트 게시판 type_2*/
  .post_type_list.type_2 .post_list_wrap > li .cont_box {
    width: calc(100% - 160px);
  }
}
/*모바일 세부 반응형 400*/
@media all and (max-width: 400px) {
  /*검색필터*/
  .board_search_filter > ul.upper_filter {
    gap: 1.6rem 0 !important;
  }
  .board_search_filter > ul.upper_filter > li {
    width: 100% !important;
    margin-right: 0 !important;
    flex-direction: column;
    align-items: flex-start !important;
    gap: 0.8rem 0;
  }
  .board_search_filter > ul.lower_filter > li:last-child {
    width: auto;
  }
  .board_search_filter.type2 > ul.upper_filter {
    gap: 1.6rem 0 !important;
  }
  .board_search_filter.type2 > ul.upper_filter > li {
    width: 100% !important;
    margin-right: 0 !important;
    flex-direction: column;
    align-items: flex-start !important;
    gap: 0.8rem 0;
  }
  /*썸네일 읽기 게시판*/
  .sub_content_body.thumb_view .board_content .slider_box .board_view_slider .swiper-slide {
    min-height: 160px;
  }
}