@charset "UTF-8";
/****************************************/
/*  Name : 에듀넷 재구조화
/*  PART : font style
/*  Author : 
/*
/*  Summary: /* 파일 내용 */
/*  01) GmarketSans
/*  02) Pretendard
/****************************************/
/* ********************************************************************************* *
* 01) GmarketSans // font-family: 'GmarketSans';
* ********************************************************************************* */
@font-face {
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: 700;
  src: url("/@/assets/fonts/GmarketSansBold.woff2") format("woff2"), url("/@/assets/fonts/GmarketSansBold.woff") format("woff");
}
@font-face {
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: 500;
  src: url("/@/assets/fonts/GmarketSansMedium.woff2") format("woff2"), url("/@/assets/fonts/GmarketSansMedium.woff") format("woff");
}
@font-face {
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: 300;
  src: url("/@/assets/fonts/GmarketSansLight.woff2") format("woff2"), url("/@/assets/fonts/GmarketSansLight.woff") format("woff");
}
/* ********************************************************************************* *
* 02) Pretendard // font-family: 'Pretendard';
* ********************************************************************************* */
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  src: url("/@/assets/fonts/Pretendard-SemiBold.woff2") format("woff2"), url("/@/assets/fonts/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("/@/assets/fonts/Pretendard-Medium.woff2") format("woff2"), url("/@/assets/fonts/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  src: url("/@/assets/fonts/Pretendard-Regular.woff2") format("woff2"), url("/@/assets/fonts/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 300;
  src: url("/@/assets/fonts/Pretendard-Light.woff2") format("woff2"), url("/@/assets/fonts/Pretendard-Light.woff") format("woff");
}
/*변수*/
/*absolute 중앙정렬*/
/*헤더 관련사이트*/
/*게시글 필수 입력 표시*/
/****************************************/
/*  Name :에듀넷 재구조화
/*  PART :common style
/*  Author :
/*
/*  Summary:/* 파일 내용 */
/*  01) sub layout
/*  02) form
/*  03) popup
/*  04) table
/*  05) board
/****************************************/
/* ********************************************************************************* *
* 01) basic
* ********************************************************************************* */
/* 레이아웃 */
html {
  font-size: 62.5%;
}

body {
  font-family: "Pretendard", "Malgun Gothic", "맑은 고딕", arial, sans-serif;
  letter-spacing: -1px;
  word-wrap: break-word;
  word-break: break-all;
  color: #222;
}

#header, #footer {
  min-width: 360px;
}

.view_pc {
  display: inline-block !important;
}

.view_mobile {
  display: none !important;
}

/* 컬러 */
.bg_01 {
  background-color: transparent !important;
}

.bg_02 {
  background-color: #f8f8f8 !important;
}

.border-right-ddd {
  border-right: 1px solid #ddd;
}

.border-left-ddd {
  border-left: 1px solid #ddd;
}

.border-top-ddd {
  border-top: 1px solid #ddd;
}

.border-bottom-ddd {
  border-bottom: 1px solid #ddd;
}

.border-all-ddd {
  border: 1px solid #ddd;
}

/* 링크 기본값 */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

/* 리스트 스타일 제거 */
ul, ol, li {
  list-style: none;
}

/* skip-menu */
.skip-menu {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 999;
}
.skip-menu a {
  display: block;
  height: 1px;
  margin-bottom: -1px;
  overflow: hidden;
  text-align: center;
}
.skip-menu a:hover, .skip-menu a:active, .skip-menu a:focus {
  height: auto;
  padding: 5px;
  font-size: 1.2rem;
  color: #fff;
  background: #000;
}

/* 탭 */
/* animation */
/* loading */
/* ********************************************************************************* *
* 02) icon / button
* ********************************************************************************* */
/* icon */
/* 버튼 */
/* ********************************************************************************* *
* 03) sub layout
* ********************************************************************************* */
/* 로그인 */
/* 서브 콘텐츠 기본 레이아아웃 */
/* 타이틀 */
/* 서브 타이틀 */
/* left menu */
/* 브레드크럼 */
/* 리스트 */
/* ********************************************************************************* *
* 04) form
* ********************************************************************************* */
/* 폼 */
/* datepicker */
/* 체크박스/라디오 */
/* 파일 */
/* Pagination */
/* 데이터 없음 */
/* ********************************************************************************* *
* 05) popup
* ********************************************************************************* */
/* 팝업 */
/* ********************************************************************************* *
* 06) table
* ********************************************************************************* */
/* 테이블 */
/* ********************************************************************************* *
* 07) board
* ********************************************************************************* */
/* 게시판 */
/* 게시판 상세 */
/* 이전글 / 다음글 */