@charset "utf-8";
@import "fonts";
@import "base_path";

/*변수*/
$white: #fff;
$primary_1: #865dd5;
$primary_1_dark: #6B4AAA;
$primary_1_dark_press: #5E4196;
$primary_2: #083b87;
$primary_2_dark: #062F6C;
$primary_2_dark_press: #06295F;
$primary_2_light: #f4f9fb;
$primary_3_light: #f4f9fb;
$primary_dark_1: #4A24B9;
$dark_gray_1: #212121;
$dark_gray_2: #3b3b40;
$dark_gray_3: #5a5e6a;
$dark_gray_4: #707586;
$font_color_red: #FD5A50;
$font_color_1: #333;
$font_color_2: #6a6a6a;
$bg_color_1: #dbdbdb;
$light_gray_1: #f2f3f5;
$light_gray_2: #e4e7ea;
$light_gray_3: #d6dbe0;
$light_gray_4: #ccd1d6;
$border_color_1: #666;
$border_color_2: #efefef;
$border_color_3: #ddd;
$border_color_4: #dcdcdc;
$point_yellow: #ffec9d;
$point_red: #D50136;
$point_blue: #2a55e4;
$point_mint: #00867B;
$gmarket: 'GmarketSans', sans-serif;
$breakpoint_laptop: 1440px;
$breakpoint_tablet: 1024px;
$breakpoint_mobile: 768px;
$breakpoint_mobile_medium: 500px;
$breakpoint_mobile_small: 400px;

//Mixins

/*absolute 중앙정렬*/
@mixin abs_align_center {
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
/*헤더 관련사이트*/
@mixin rel_site {
    > a {position: relative;
        &:after { content: ""; position: absolute; top: 50%; right: -20px; transform: translateY(-50%); width: 16px; height: 16px; background: url(/@/assets/images/common/icon_triangle_gray.png) no-repeat center center / contain; border-radius: 50%; transition: all .3s linear; }
    }
    > div.rel_site_list {position: absolute; top: calc(100% + 0.8rem); left: 50%; transform: translateX(-50%); width: 360px; padding: 2.4rem 1.6rem 3.2rem 1.6rem; background: #fff; border: 1px solid $light_gray_1; border-radius: 20px; box-shadow: 0 4px 10px rgba(0,0,0,.1); z-index: 5; display: none;
        > p {position: relative; display: inline-block; font-weight: 600;
        &:after { content: ""; position: absolute; top: 0; right: -2.8rem; width: 20px; height: 20px; background: url(/@/assets/images/sub/icon_newwin.png) no-repeat center center / contain; z-index: 3; }
            span { color: $primary_1; }
        }
        > ul {display: flex; flex-wrap: wrap; justify-content: space-between;
            > li {width: calc((100% / 4) - 1.6rem); margin-top: 1.4rem;
                a {width: 100%; display: flex; flex-direction: column; align-items: center; font-size: 1.4rem; text-align: center; white-space: nowrap;
                    span.img_box { width: 5.5rem; height: 5.5rem; display: block; background: url(/@/assets/images/sub/logo_rel_1.png) no-repeat center center / 3.6rem, $light_gray_1; border: 1px solid $light_gray_1; border-radius: 50%; transition: border .15s linear; }
                    span:not(.img_box) { display: inline-block; padding-top: 0.4rem; font-weight: 600; }
                    &:hover {
                        span.img_box { border: 1px solid $light_gray_4; }
                    }
                }
                @for $i from 1 through 8 {
                    &:nth-child(#{ $i}
                    ) {
                        span.img_box {
                            background:url(/@/assets/images/sub/logo_rel_#{$i}.png) no-repeat center center / 3.6rem, $light_gray_1;                         }
                    }
                    &:nth-child(6) {
                        span.img_box { background-size: 2.4rem; }
                    }
                    &:nth-child(8) {
                        span.img_box { background-size: 4rem; }
                    }
                }
            }
        }
    }
    &:hover, &:focus-within {
        > div.rel_site_list { display: block; }
        a:after { transform: translateY(-50%) rotate(-180deg); }
    }
}
@mixin tablet_fixed_nav {
    nav {
        position: absolute; top: 0; left: 50%; transform: translateX(-50%); display: block; width: 100%; height: 100vh; height: 100dvh; overflow-y: auto; z-index: 3; background: #fff;
        > ul.depth_first {position: relative; flex-direction: column; align-items: flex-start;
            &:after { content: ""; position: absolute; top: 0; left: 0; width: 80px; height: calc(100vh + 160px); background: $light_gray_1; z-index: -1; }
            > li {position: static; padding: 0;
                &:after { display: none; }
                > a {position: relative; width: 80px; background: $light_gray_1; padding: 2.4rem 1.4rem; display: block; font-family: 'Pretendard', sans-serif; font-size: 1.6rem; font-weight: 600; text-align: center; border-bottom: 1px solid $light_gray_2;
                    &:before { display: none; }
                }
                > ul.depth_second {top: 0; left: 8rem; padding: 0; display: none !important;
                    &:before { display: none; }
                    > li {
                        > a {height: 48px; padding: 0 1.6rem; font-family: 'Pretendard', sans-serif; font-size: 1.6rem; font-weight: 500; border-bottom: 1px solid $light_gray_2; line-height: 48px;
                             &:before { display: none; }
                            &:after { content: ""; position: absolute; top: 50%; right: 0.8rem; transform: translateY(-50%) rotate(90deg); width: 24px; height: 24px; background: url(/@/assets/images/common/icon_snb_depth2_default.png) no-repeat center center / contain; transition: all .3s linear; }
                        }
                        &:hover {
                            a { color: $dark_gray_2; }
                        }
                        > ul.depth_third {
                            > li {
                                > a {position: relative; padding: 1.4rem 1.2rem; border-bottom: 1px solid $light_gray_2;
                                    &:after { content: ""; position: absolute; top: 50%; right: 0.8rem; transform: translateY(-50%) rotate(0deg); width: 24px; height: 24px; background: url(/@/assets/images/common/icon_snb_depth3_default.png) no-repeat center center / contain; transition: all .3s linear; }
                                }
                            }
                        }
                    }
                }
                &.active {
                    > a { background: $white; }
                    > ul.depth_second {display: block !important; width: calc(100% - 80px); background: $white; padding: 0 1.6rem;

                        > li {
                            > a { font-size: 1.5rem; font-weight: 600; }
                            &.active {
                                > a {font-size: 1.6rem; font-weight: 600; color: $primary_2; border-bottom: 1px solid $primary_2;
                                    &:before { display: none; }
                                    &:after { background: url(/@/assets/images/common/icon_snb_depth2_selected.png) no-repeat center center / contain; transform: translateY(-50%) rotate(-90deg); }
                                }
                                > ul.depth_third {display: block !important;
                                    > li {
                                        > a {font-size: 1.4rem; font-weight: 600;
                                            &:before { display: none; }
                                        }
                                        &.active {
                                            > a {color: $primary_2;
                                                &:after { transform: translateY(-50%) rotate(-90deg); }
                                            }
                                            ul.depth_fourth {display: block !important; background: rgba(242, 244, 245, 0.5); padding: 8px;
                                                > li {
                                                    > a {padding: 0.4rem 0 0.4rem 1rem; font-size: 1.3rem;
                                                        &:before { background: #ACCED8; }
                                                    }
                                                    &.active {
                                                        a {font-weight: 600; color: $dark_gray_1;
                                                            &:before { background: $primary_2; }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/*게시글 필수 입력 표시*/
@mixin essential {
    position:relative;
        &:after {content:"*"; position:absolute; top:50%; right:-1.4rem; transform:translateY(-50%); width:9px; height:9px; font-weight:600; color:$font_color_red; line-height:1;}
}