@charset 'UTF-8'; 
@import "config";


.footer_wrap {
    position: relative;
    &:before { content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100vw; height: 100%; background: #2c2d32; z-index: -1; }
    footer { max-width: 1440px; width: 100%; margin: 0 auto;
        > div.footer_upper {position: relative; display: flex; align-items: center; justify-content: space-between; padding: 1.6rem 0;
            &:before { content: ""; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 100vw; height: 1px; background: rgba(255, 255, 255, .1); }
            > ul.terms_box {display: flex; align-items: center;
                li {
                    &:not(:last-child) { margin-right: 3.2rem; }
                    &:hover {
                        a { text-decoration: underline; }
                    }
                    &.privacy {
                        a { color: $point_yellow; }
                    }
                    a { width: 100%; height: 100%; display: block; font-size: 1.6rem; color: #fff; }
                }
            }
            .footer_relsite {display: flex; align-items: center;
                > li {margin-left: 1.2rem; border-radius: 6px;
                    a { width: 40px; height: 40px; display: block; }
                    &:nth-child(1) { background: url(#{$base-path}/images/sub/icon_insta.png) no-repeat center center / contain; margin-left: 0; }
                    &:nth-child(2) { background: url(#{$base-path}/images/sub/icon_naver_tv.png) no-repeat center center / contain; }
                    &.foot_rel_list {position: relative; width: 200px; height: 40px; background:$dark_gray_1; padding:0 1.6rem; font-size:1.4rem; color: $white; line-height:40px; text-align:left; cursor:pointer;
                        > ul.custom_select_box {position:absolute; width:100%; height:auto; bottom:100%; left:0; background:$dark_gray_1; font-weight: 400; color: $white; border: 1px solid rgba(225, 237, 237, 0.1); border-bottom:none; border-radius: 6px; display:none;
                            > li {width:100%; background-color: $dark_gray_1; color: rgba(255,255,255,.7); padding:0 1.6rem;
                                > a {position:relative; width:100%; height:100%; display:block; font-size:1.4rem; line-height:40px; border-bottom:1px dashed $dark_gray_2; text-overflow:ellipsis; overflow:visible; white-space:nowrap;
                                    &:after {content:""; position:absolute; top:50%; right:0rem; transform:translateY(-50%); width:16px; height:16px; background:url(#{$base-path}/images/sub/icon_newwin.png) no-repeat center center / contain; filter: brightness(2);}
                                }
                                
                                &:hover {
                                    a {color:rgba(255,255,255,1);
                                    &:after{filter:brightness(6);}
                                    }
                                }
                            }
                        }
                        &:after { content: ""; position: absolute; top: 1.2rem; right: 1.6rem; width: 14px; height: 14px; background: url(#{$base-path}/images/sub/icon_right_arrow_small.png) no-repeat center center / 8px; transform: rotate(-90deg); transition: all .3s linear; }
                        &.active {border-radius:0 0 6px 6px;
                            &:after {transform:rotate(90deg);}
                            ul.custom_select_box {display:block;}
                        }
                    }
                }
            }
        }
        .footer_lower {display: flex; align-items: flex-start; padding: 2.4rem 0;
            .footer_logo { width: 138px; height: 42px; background: url(#{$base-path}/images/sub/logo_keris_color.png) no-repeat center center / contain; margin-right: 3.2rem; }
            .footer_info {font-weight: 400; color: #fff;
                .copyright { margin-top: 0.8rem; font-size: 1.5rem; }
            }
        }
    }
}
@media all and (max-width:#{ $breakpoint_laptop}
) {.footer_wrap footer {
    padding:0 2.4rem;
        div.footer_upper {
            > ul.terms_box {
                > li:not(:last-child) {margin-right:1.6rem;}
            }
        }
    }
}
@media all and (max-width:#{ $breakpoint_tablet}
) {
    .footer_wrap {
        footer {
            div.footer_upper {display: block; padding: 1.6rem 2.4rem;
                > ul.terms_box {flex-wrap: wrap;
                    > li { margin-bottom: 0.8rem; margin-right: 1.6rem !important; 
                        > a {font-size:1.4rem;}
                    } 
                }
                > ul.footer_relsite { margin-top: 1.4rem; 
                    .foot_rel_list {
                        select {font-size:1.4rem;}
                    }
                }
            }
            div.footer_lower {display: block; padding: 1.6rem 2.4rem;
                ul.footer_info { margin-top: 1.6rem; 
                    > li {font-size:1.4rem;}
                }
                
            }
        }
    }
}
@media all and (max-width:#{ $breakpoint_mobile_small}
) {
    .footer_wrap:before {width:200vw;}
}