@charset "UTF-8";

/****************************************/
/*  Name :퍼블리싱 가이드
/*  PART :reset, common style
/*  Author :cw.lee
/*
/*  Summary:
/*  01) Reset
/*  02) Common
/****************************************/

/* ********************************************************************************* *
 * 01) Reset
 * ********************************************************************************* */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{display:block;}
body{font-family:'Noto Sans KR', "Malgun Gothic", "맑은 고딕", arial, sans-serif;font-size:16px;line-height:1.3;}
ol, 
ul{list-style:none;}
blockquote, 
q{quotes:none;}
blockquote:before, 
blockquote:after, 
q:before, 
q:after{content:"";content:none;}
table{border-collapse:collapse;border-spacing:0;}

/* custom reset */
*, 
*:before, 
*:after{-webkit-box-sizing:border-box;box-sizing:border-box;}
a{text-decoration:none;color:inherit;}
img{max-width:100%;vertical-align:top;}
input{outline:none;}
button, 
[type='button'], 
[type='reset'], 
[type='submit']{cursor:pointer;}
input,
button,
textarea, 
select{font:inherit;margin:0;padding:0;border:0;border-radius:0;background-color:transparent;-o-border-radius:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;outline:none;}
select::-ms-expand{display:none;/* 화살표 없애기 for IE10, 11*/}
textarea{resize:none;}


/* ********************************************************************************* *
* 02) Common
* ********************************************************************************* */
/* Display */
.blind{position:absolute !important;left:-9999px !important;top:-9999px !important;text-indent:-9999px !important;font-size:0 !important;opacity:0;overflow:hidden !important;}
.hide{display:none !important;}
.visible-hide{visibility:hidden !important;}
.visible-show{visibility:visible !important;}
.block{display:block !important;}
.inline-block{display:inline-block !important;}
.noscroll{width:100%;height:100%;overflow:hidden;}

/* Float */
.clearfix{zoom:1;}
.clearfix:before, .clearfix:after{display:block;content:"";line-height:0;}
.clearfix:after{clear:both;}
.float-left{float:left !important;}
.float-right{float:right !important;}

/* Text */
.align-left{text-align:left !important;}
.align-center{text-align:center !important;}
.align-right{text-align:right !important;}
.align-justify{text-align:justify !important;}
.align-top{vertical-align:top !important;}
.align-middle{vertical-align:middle !important;}
.align-bottom{vertical-align:bottom !important;}
.text-upper{text-transform:uppercase !important;}
.text-lower{text-transform:lowercase !important;}
.text-light{font-weight:300 !important;}
.text-normal{font-weight:400 !important;}
.text-medium{font-weight:500 !important;}
.text-bold{font-weight:bold !important;}
.text-blind{text-indent:-9999px !important;}
.ir_su{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px;}
.txt_small{font-size:80%;}
.txt_large{font-size:120%;}

/* Ellipsis */
.ellipsis1{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;} /* 1줄 줄임 */
.ellipsis2{display:-webkit-box;text-overflow:ellipsis;-webkit-line-clamp:2;overflow:hidden;} /* 2줄 줄임 */
.ellipsis3{display:-webkit-box;text-overflow:ellipsis;-webkit-line-clamp:3;overflow:hidden;} /* 3줄 줄임 */

/* Form */
input[type='text'], input[type='search'], input[type='password'], input[type='file'], input[type='image'], textarea, select{min-height:32px;border:1px solid #ddd;}
input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder{color:#999;}
input:-ms-input-placeholder, 
textarea:-ms-input-placeholder{color:#999;}
input::-ms-input-placeholder, 
textarea::-ms-input-placeholder{color:#999;}
input::placeholder, 
textarea::placeholder{color:#999;}
select{padding-right:35px;background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='35' height='35'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 15l-4.243-4.243 1.415-1.414L12 12.172l2.828-2.829 1.415 1.414z' fill='rgba(153,153,153,1)'/%3E%3C/svg%3E") #fff no-repeat right 0px center;}

table{width:100%;}
th, td{vertical-align:middle;}
legend, caption{margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999px;overflow:hidden;z-index:-1;}

/* Border */
.border0{border:0 !important;}
.border-top0{border-top:0 !important;}
.border-right0{border-right:0 !important;}
.border-bottom0{border-bottom:0 !important;}
.border-left0{border-left:0 !important;}
.underline{text-decoration:underline;}

/* Skip Navi */
#skipNavi{position:absolute;top:0;left:0;width:100%;z-index:500;}
#skipNavi a{display:block;position:absolute;top:-9999px;}
#skipNavi a:hover, 
#skipNavi a:active, 
#skipNavi a:focus{display:block;top:0;width:100%;padding:10px 0;color:#000;font-size:16px;text-align:center;background:#fafafa;border:2px solid #666;}

/* width */
.wp100{width:100% !important;min-width:360px !important;}
html{overflow-x:hidden !important;}

/* border box */
*{box-sizing:border-box;background-repeat:no-repeat;}

/* space */
.clear{clear:both;font-size:0;line-height:0;width:100%;height:0;}
.space-xs{clear:both;font-size:0;width:100%;height:15px;}
.space-s{clear:both;font-size:0;width:100%;height:30px;}
.space-m{clear:both;font-size:0;width:100%;height:50px;}
.space-l{clear:both;font-size:0;width:100%;height:80px;}
.space-xl{clear:both;font-size:0;width:100%;height:100px;}
@media (max-width:900px) {
    .space-xs{clear:both;font-size:0;width:100%;height:10px;}
    .space-s{clear:both;font-size:0;width:100%;height:15px;}
    .space-m{clear:both;font-size:0;width:100%;height:25px;}
    .space-l{clear:both;font-size:0;width:100%;height:40px;}
    .space-xl{clear:both;font-size:0;width:100%;height:50px;}
}

/* scrollbar */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: #a1a1a1;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 10px;
}