@charset "UTF-8";
/****************************************/
/*  Name : 에듀넷 재구조화
/*  PART : font style
/*  Author : 
/*
/*  Summary: /* 파일 내용 */
/*  01) GmarketSans
/*  02) Pretendard
/****************************************/
/* ********************************************************************************* *
* 01) GmarketSans // font-family: 'GmarketSans';
* ********************************************************************************* */
@font-face {
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: 700;
  src: url("/@/assets/fonts/GmarketSansBold.woff2") format("woff2"), url("/@/assets/fonts/GmarketSansBold.woff") format("woff");
}
@font-face {
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: 500;
  src: url("/@/assets/fonts/GmarketSansMedium.woff2") format("woff2"), url("/@/assets/fonts/GmarketSansMedium.woff") format("woff");
}
@font-face {
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: 300;
  src: url("/@/assets/fonts/GmarketSansLight.woff2") format("woff2"), url("/@/assets/fonts/GmarketSansLight.woff") format("woff");
}
/* ********************************************************************************* *
* 02) Pretendard // font-family: 'Pretendard';
* ********************************************************************************* */
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  src: url("/@/assets/fonts/Pretendard-SemiBold.woff2") format("woff2"), url("/@/assets/fonts/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("/@/assets/fonts/Pretendard-Medium.woff2") format("woff2"), url("/@/assets/fonts/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  src: url("/@/assets/fonts/Pretendard-Regular.woff2") format("woff2"), url("/@/assets/fonts/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 300;
  src: url("/@/assets/fonts/Pretendard-Light.woff2") format("woff2"), url("/@/assets/fonts/Pretendard-Light.woff") format("woff");
}
/*변수*/
/*absolute 중앙정렬*/
/*헤더 관련사이트*/
/*게시글 필수 입력 표시*/
/****************************************/
/*  Name :에듀넷 재구조화
/*  PART :snb style
/*  Author : 
/*
/*  Summary:/* 파일 내용 */
/*  01)
/****************************************/
.snb {
  position: relative;
  width: 280px;
  min-height: 650px;
  background: #fff;
  padding: 19rem 0 3rem 0;
  border: 1px solid #f2f3f5;
  border-top: none;
  border-radius: 0 0 60px 0;
  box-shadow: 10px 10px 20px rgba(36, 92, 98, 0.0509803922);
}
.snb .snb_sbjt_box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 312px;
  height: 172px;
  background: url(/@/assets/images/sub/bg_lnb_title.png) no-repeat center center/cover;
}
.snb .snb_sbjt_box > p.snb_sbjt {
  position: absolute;
  top: calc(50% - 15px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "GmarketSans", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}
.snb .snb_menu_box {
  width: 100%;
  padding: 0 1.5rem 3rem 1.5rem;
}
.snb .snb_menu_box li.snb_menu_depth2 > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 0;
  font-size: 1.7rem;
  font-weight: 600;
  color: #212121;
  border-bottom: 1px solid #e4e7ea;
}
.snb .snb_menu_box li.snb_menu_depth2 > a .btn_depth2_arrow {
  width: 24px;
  height: 24px;
  background: url(/@/assets/images/sub/icon_snb_depth2_default.png) no-repeat center center/contain;
  border-radius: 50%;
  transition: all 0.15s linear;
}
.snb .snb_menu_box li.snb_menu_depth2 > ul {
  max-height: 0rem;
  overflow: hidden;
}
.snb .snb_menu_box li.snb_menu_depth2 > a:focus + ul, .snb .snb_menu_box li.snb_menu_depth2 > a:focus-within + ul {
  max-height: 100rem;
  overflow: visible;
}
.snb .snb_menu_box li.snb_menu_depth2 > a[aria-expanded=true] {
  font-size: 1.7rem;
  font-weight: 600;
  color: #212121;
  border-bottom: 1px solid #e4e7ea;
}
.snb .snb_menu_box li.snb_menu_depth2 > a[aria-expanded=true] .btn_depth2_arrow {
  width: 24px;
  height: 24px;
  background: url(/@/assets/images/sub/icon_snb_depth2_selected.png) no-repeat center center/contain;
  border-radius: 50%;
  transition: all 0.15s linear;
}
.snb .snb_menu_box li.snb_menu_depth2 > a[aria-expanded=true] + ul {
  max-height: 100rem;
  overflow: visible;
}
.snb .snb_menu_box li.snb_menu_depth2 > a[aria-expanded=false] + ul {
  max-height: 0rem !important;
  overflow: hidden !important;
}
.snb .snb_menu_box li.snb_menu_depth2:has(> a[aria-expanded=false]) > a[aria-expanded=false] .btn_depth2_arrow {
  width: 24px;
  height: 24px;
  background: url(/@/assets/images/sub/icon_snb_depth2_default.png) no-repeat center center/contain;
  border-radius: 50%;
  transition: all 0.15s linear;
}
.snb .snb_menu_box li.snb_menu_depth2:has(> a[aria-expanded=false]) > a[aria-expanded=false] + ul {
  border-top: none;
}
.snb .snb_menu_box li.snb_menu_depth2.active > a .btn_depth2_arrow {
  background: url(/@/assets/images/sub/icon_snb_depth2_selected.png) no-repeat center center/contain;
}
.snb .snb_menu_box li.snb_menu_depth2.active > ul {
  max-height: 100rem;
  overflow: visible;
  border-top: 1px solid #083b87;
  color: #083b87;
}
.snb .snb_menu_box li.snb_menu_depth2:has(a[aria-expanded=true] + ul) > a .btn_depth2_arrow {
  background: url(/@/assets/images/sub/icon_snb_depth2_selected.png) no-repeat center center/contain;
  transform: rotate(-90deg);
}
.snb .snb_menu_box li.snb_menu_depth2:has(a[aria-expanded=true] + ul) > ul {
  max-height: 100rem;
  overflow: visible;
  border-top: 1px solid #083b87;
  color: #083b87;
}
.snb .snb_menu_box li.snb_menu_depth2:hover > a {
  color: #083b87;
}
.snb .snb_menu_box li.snb_menu_depth2:hover > a .btn_depth2_arrow {
  background: url(/@/assets/images/sub/icon_snb_depth2_hover.png) no-repeat center center/contain;
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3 {
  padding: 0 1rem;
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3 > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 0;
  font-size: 1.5rem;
  color: #3b3b40;
  border-bottom: 1px solid #e4e7ea;
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3 > a[aria-expanded=true] {
  font-weight: 600;
  color: #083b87;
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3 > a[aria-expanded=true] .btn_depth3_arrow {
  background: url(/@/assets/images/sub/icon_snb_depth3_selected.png) no-repeat center center/contain;
  transition: all 0.15s linear;
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3 > a .btn_depth3_arrow {
  width: 20px;
  height: 20px;
  background: url(/@/assets/images/sub/icon_snb_depth3_default.png) no-repeat center center/contain;
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3 > ul {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s linear;
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3 > a:focus + ul, .snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3 > a:focus-within + ul {
  max-height: 100rem;
  overflow: visible;
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3 > a .btn_depth3_arrow {
  background: url(/@/assets/images/sub/icon_snb_depth3_default.png) no-repeat center center/contain;
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3:has(> a + ul) > a[aria-expanded=true] .btn_depth3_arrow {
  transform: rotate(-90deg);
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3 > a[aria-expanded=true] + ul {
  max-height: 100rem;
  overflow: visible;
  border-top: 1px solid #083b87;
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3 > a[aria-expanded=false] + ul {
  max-height: 0rem;
  overflow: hidden;
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3.active > a[aria-expanded=true] {
  font-weight: 600;
  color: #083b87;
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3.active > a[aria-expanded=true] .btn_depth3_arrow {
  background: url(/@/assets/images/sub/icon_snb_depth3_selected.png) no-repeat center center/contain;
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3.active:has(> a[aria-expanded=true] + ul) > a {
  font-weight: 600;
  color: #083b87;
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3.active:has(> a[aria-expanded=true] + ul) > a .btn_depth3_arrow {
  background: url(/@/assets/images/sub/icon_snb_depth3_selected.png) no-repeat center center/contain;
  transform: rotate(-90deg);
  transition: all 0.15s linear;
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3.active:has(> a[aria-expanded=true] + ul) > ul {
  max-height: 100rem;
  overflow: visible;
  border-top: 1px solid #083b87;
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3 li.snb_menu_depth4 {
  background: #f4f9fb;
  padding: 0.5rem 1rem;
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3 li.snb_menu_depth4 > a {
  position: relative;
  display: block;
  padding: 0 0 0 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #212121;
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3 li.snb_menu_depth4 > a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 4px;
  height: 4px;
  background: #acced8;
  border-radius: 50%;
  transform: translateY(-50%);
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3 li.snb_menu_depth4 > a:hover {
  font-weight: 600;
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3 li.snb_menu_depth4 > a:hover:before {
  background: #083b87;
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3 li.snb_menu_depth4.active > a {
  font-weight: 600;
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3 li.snb_menu_depth4.active > a:before {
  background: #083b87;
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3 li.snb_menu_depth4:first-child {
  padding: 1rem 1rem 0.5rem 1rem;
}
.snb .snb_menu_box li.snb_menu_depth2 li.snb_menu_depth3 li.snb_menu_depth4:last-child {
  padding: 0.5rem 1rem 1rem 1rem;
  border-radius: 0 0 20px 20px;
}

@media all and (max-width: 1024px) {
  .snb {
    display: none;
  }
}