@charset "UTF-8";
/****************************************/
/*  Name : 에듀넷 재구조화
/*  PART : font style
/*  Author : 
/*
/*  Summary: /* 파일 내용 */
/*  01) GmarketSans
/*  02) Pretendard
/****************************************/
/* ********************************************************************************* *
* 01) GmarketSans // font-family: 'GmarketSans';
* ********************************************************************************* */
@font-face {
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: 700;
  src: url("/@/assets/fonts/GmarketSansBold.woff2") format("woff2"), url("/@/assets/fonts/GmarketSansBold.woff") format("woff");
}
@font-face {
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: 500;
  src: url("/@/assets/fonts/GmarketSansMedium.woff2") format("woff2"), url("/@/assets/fonts/GmarketSansMedium.woff") format("woff");
}
@font-face {
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: 300;
  src: url("/@/assets/fonts/GmarketSansLight.woff2") format("woff2"), url("/@/assets/fonts/GmarketSansLight.woff") format("woff");
}
/* ********************************************************************************* *
* 02) Pretendard // font-family: 'Pretendard';
* ********************************************************************************* */
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  src: url("/@/assets/fonts/Pretendard-SemiBold.woff2") format("woff2"), url("/@/assets/fonts/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("/@/assets/fonts/Pretendard-Medium.woff2") format("woff2"), url("/@/assets/fonts/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  src: url("/@/assets/fonts/Pretendard-Regular.woff2") format("woff2"), url("/@/assets/fonts/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 300;
  src: url("/@/assets/fonts/Pretendard-Light.woff2") format("woff2"), url("/@/assets/fonts/Pretendard-Light.woff") format("woff");
}
/*변수*/
/*absolute 중앙정렬*/
/*헤더 관련사이트*/
/*게시글 필수 입력 표시*/
.sub_content_body {
  /*알림정보*/
  /*교원연수정보검색*/
  /*국가교육과정*/
}
.sub_content_body.notice_list_type_1 .list_table tbody th:first-child[scope=row], .sub_content_body.notice_list_type_1 .list_table tbody th:first-child[scope=col] {
  display: block;
}
.sub_content_body.notice_list_type_1 .list_table tbody th[scope=row], .sub_content_body.notice_list_type_1 .list_table tbody th[scope=col] {
  min-width: 40px;
  width: 30px;
  text-align: left;
  line-height: 40px;
  padding: 0 0.75rem;
}
.sub_content_body.notice_list_type_1 .list_table tbody th[scope=row] img, .sub_content_body.notice_list_type_1 .list_table tbody th[scope=col] img {
  display: inline-block !important;
  vertical-align: middle;
}
.sub_content_body.notice_list_type_1 .list_table tbody td {
  white-space: nowrap;
}
.sub_content_body.notice_list_type_1 .list_table tbody td .flex_start {
  justify-content: flex-start;
}
.sub_content_body.notice_list_type_1 .list_table tbody td .flex_start span {
  display: block !important;
  width: 24px;
  height: 24px;
}
.sub_content_body .sub_content_box.writing_type_2 .table_box {
  margin-bottom: 3rem;
}
.sub_content_body .sub_content_box.writing_type_2 table tr th {
  white-space: nowrap;
}
.sub_content_body .sub_content_box.writing_type_2 table tr.bg_wh th {
  background: #fff;
}
.sub_content_body .sub_content_box.writing_type_2 table tr.bg_wh + tr th {
  width: 145px;
}
.sub_content_body .sub_content_box.writing_type_2 table td select {
  min-width: 170px !important;
}
.sub_content_body .sub_content_box.writing_type_2 table td input[type=text].width40 {
  width: 100px !important;
  margin-right: 1rem;
}
.sub_content_body .sub_content_box.writing_type_2 table td input[type=text].input_date {
  width: 150px !important;
}
.sub_content_body .sub_content_box.writing_type_2 table td input[type=text].input_date + span {
  padding-left: 1rem;
  font-size: 1.4rem;
  color: #707586;
}
.sub_content_body .sub_content_box.writing_type_2 table td button.btn_navy {
  width: 112px;
  height: 42px;
  line-height: 42px;
}
.sub_content_body .sub_content_box.writing_type_2 table td .url_box {
  display: flex;
  align-items: center;
  gap: 0 1rem;
}
.sub_content_body .sub_content_box.writing_type_2 table td .url_box input[type=text] {
  width: calc(100% - 122px);
}
.sub_content_body .sub_content_box.board_list_type_3 .top_ctrl_box {
  position: relative;
}
.sub_content_body .sub_content_box.board_list_type_3 .top_ctrl_box select {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  max-width: 320px;
  width: 100%;
  background-position: 97% center;
}
.sub_content_body .sub_content_box.board_list_type_3 .accordion_box {
  max-height: 56px;
  margin-bottom: 4rem;
  border: 1px solid #083b87;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: all 0.75s linear;
}
.sub_content_body .sub_content_box.board_list_type_3 .accordion_box .acc_header {
  position: relative;
  background: #f4f9fb;
  padding: 1.5rem;
  cursor: pointer;
}
.sub_content_body .sub_content_box.board_list_type_3 .accordion_box .acc_header p {
  font-size: 2rem;
  font-weight: 600;
  color: #083b87;
  text-align: center;
}
.sub_content_body .sub_content_box.board_list_type_3 .accordion_box .acc_header .btn_fold_toggle {
  position: absolute;
  top: 50%;
  right: 2.65rem;
  width: 24px;
  height: 24px;
  display: block;
  background: url(/@/assets/images/sub/icon_next_page.png) no-repeat center center/contain;
  transform: translateY(-50%) rotate(90deg);
  transition: all 0.15s linear;
}
.sub_content_body .sub_content_box.board_list_type_3 .accordion_box .acc_header:hover .btn_fold_toggle {
  position: absolute;
  top: 50%;
  right: 2.65rem;
  width: 24px;
  height: 24px;
  display: block;
  background: url(/@/assets/images/sub/icon_snb_depth3_selected.png) no-repeat center center/contain;
}
.sub_content_body .sub_content_box.board_list_type_3 .accordion_box .acc_body {
  padding: 2rem;
}
.sub_content_body .sub_content_box.board_list_type_3 .accordion_box .acc_body .flex_between {
  align-items: flex-start;
  justify-content: space-between;
}
.sub_content_body .sub_content_box.board_list_type_3 .accordion_box .acc_body .flex_between > table {
  width: calc(50% - 2rem);
}
.sub_content_body .sub_content_box.board_list_type_3 .accordion_box .acc_body .inner_table_type_1 tr td [class*=btn_] {
  width: 24px;
  height: 24px;
  background-size: 12px;
  margin: 0 auto;
  display: block;
}
.sub_content_body .sub_content_box.board_list_type_3 .accordion_box .acc_body .inner_table_type_1 tr td .flex_center {
  gap: 0 0.3rem;
}
.sub_content_body .sub_content_box.board_list_type_3 .accordion_box .acc_body .inner_table_type_1 tr:hover td a {
  text-decoration: underline;
}
.sub_content_body .sub_content_box.board_list_type_3 .accordion_box.active {
  max-height: 200rem;
}
.sub_content_body .sub_content_box.board_list_type_3 .accordion_box.active .acc_header .btn_fold_toggle {
  transform: translateY(-50%) rotate(-90deg);
}

/*laptop 반응형 1400*/
@media all and (max-width: 1440px) {
  .sub_content_body .sub_content_box.board_list_type_3 .top_ctrl_box {
    display: flex;
    flex-direction: column;
  }
  .sub_content_body .sub_content_box.board_list_type_3 .top_ctrl_box .sub_tab_box {
    margin-bottom: 1.6rem;
  }
  .sub_content_body .sub_content_box.board_list_type_3 .top_ctrl_box select {
    position: static;
    transform: unset;
    margin-bottom: 2rem;
  }
  .sub_content_body .sub_content_box.board_list_type_3 .accordion_box .acc_body .flex_between {
    display: block;
    gap: 2rem 0;
  }
  .sub_content_body .sub_content_box.board_list_type_3 .accordion_box .acc_body .flex_between > table {
    width: 100%;
  }
  .sub_content_body .sub_content_box.board_list_type_3 .accordion_box .acc_body .flex_between > table:not(:last-child) {
    margin-bottom: 2rem;
  }
}
/*모바일 반응형 768*/
@media all and (max-width: 768px) {
  .sub_content_body .sub_content_box.notice_list_type_1 .list_table tbody th {
    width: 60px;
    text-align: left !important;
  }
  .sub_content_body .sub_content_box.notice_list_type_1 .list_table tbody th + td {
    padding-left: 0 !important;
  }
  .sub_content_body .sub_content_box.notice_list_type_1 .list_table tbody th img {
    display: inline-block;
  }
  .sub_content_body .sub_content_box.writing_type_2 .table_box table colgroup {
    display: none;
  }
  .sub_content_body .sub_content_box.writing_type_2 .table_box table tr {
    border-bottom: none;
  }
  .sub_content_body .sub_content_box.writing_type_2 .table_box table tr th {
    width: 145px !important;
    border-bottom: 1px solid #e4e7ea;
    vertical-align: middle;
  }
  .sub_content_body .sub_content_box.writing_type_2 .table_box table tr td {
    width: calc(100% - 145px);
    border-bottom: 1px solid #e4e7ea;
  }
  .sub_content_body .sub_content_box.writing_type_2 .table_box table tr td button {
    font-size: 1.4rem;
  }
  .sub_content_body .sub_content_box.writing_type_2 .table_box table tr td input[type=text] {
    margin-bottom: 0;
  }
  .sub_content_body .sub_content_box.writing_type_2 .table_box table tr td .url_box {
    flex-direction: column;
  }
  .sub_content_body .sub_content_box.writing_type_2 .table_box table tr td .url_box input[type=text] {
    width: 100%;
  }
  .sub_content_body .sub_content_box.writing_type_2 .table_box table tr td .url_box button {
    width: 100%;
    margin-top: 1rem;
  }
}
/*모바일 세부 반응형 400*/
@media all and (max-width: 400px) {
  .sub_content_body .sub_content_box.board_list_type_3 .accordion_box .acc_header p {
    font-size: 1.6rem;
    text-align: left;
  }
  .sub_content_body .sub_content_box.board_list_type_3 .accordion_box .acc_body .flex_between {
    display: block;
    gap: 2rem 0;
  }
  .sub_content_body .sub_content_box.board_list_type_3 .accordion_box .acc_body .flex_between > table.inner_table_type_1 {
    width: 100%;
  }
  .sub_content_body .sub_content_box.board_list_type_3 .accordion_box .acc_body .flex_between > table.inner_table_type_1:not(:last-child) {
    margin-bottom: 2rem;
  }
  .sub_content_body .sub_content_box.board_list_type_3 .accordion_box .acc_body .flex_between > table.inner_table_type_1 colgroup {
    display: none;
  }
  .sub_content_body .sub_content_box.board_list_type_3 .accordion_box .acc_body .flex_between > table.inner_table_type_1 thead th:first-child {
    width: calc(100% - 160px);
  }
  .sub_content_body .sub_content_box.board_list_type_3 .accordion_box .acc_body .flex_between > table.inner_table_type_1 thead th:not(:first-child) {
    width: 80px;
    flex-shrink: 0;
  }
}