@charset "UTF-8";
@import "config";

.sub_content_body {

    /*알림정보*/
    &.notice_list_type_1 {
        .list_table {
            tbody {
                th:first-child[scope=row], th:first-child[scope=col] {display:block;}
                th[scope=row], th[scope=col] {min-width:40px; width:30px; text-align:left; line-height:40px; padding:0 0.75rem;
                    img {display:inline-block !important; vertical-align:middle;}
                }
                td {white-space:nowrap;
                    .flex_start {justify-content:flex-start;
                        span {display:block !important; width:24px; height:24px;}
                    }
                }
            }
        }
    }

    /*교원연수정보검색*/
    .sub_content_box.writing_type_2 {
        .table_box {margin-bottom:3rem;}
        table {
            tr {
                th {white-space:nowrap;}
            }
            tr.bg_wh {
                th {background:$white;}
                & + tr {
                    th {width:145px;}
                }
            }
            td {
                select {min-width:170px !important;}
                input[type=text].width40 {width:100px !important; margin-right:1rem;}
                input[type=text].input_date {width:150px !important;}
                input[type=text].input_date + span {padding-left:1rem; font-size:1.4rem; color:$dark_gray_4;}
                button.btn_navy {width:112px; height:42px; line-height:42px;}
                .url_box {display:flex; align-items:center; gap:0 1rem;
                    input[type=text] {width:calc(100% - 122px);}
                }
            }
        }
    }

    /*국가교육과정*/
    .sub_content_box.board_list_type_3 {
        .top_ctrl_box {position:relative;
            select {position:absolute; top:50%; right:0; transform:translateY(-50%); max-width:320px; width:100%; background-position:97% center;}
        }
        .accordion_box {max-height:56px; margin-bottom:4rem; border:1px solid $primary_2; border-radius:20px; overflow:hidden; box-shadow:0 4px 16px rgba(0,0,0,.1); transition:all .75s linear;
            .acc_header {position:relative; background:$primary_2_light; padding:1.5rem; cursor:pointer;
                p {font-size:2rem; font-weight:600; color:$primary_2; text-align:center;}
                .btn_fold_toggle {position:absolute; top:50%; right:2.65rem; width:24px; height:24px; display:block; background:url(#{$base-path}/images/sub/icon_next_page.png) no-repeat center center / contain; transform:translateY(-50%) rotate(90deg); transition:all .15s linear;}
                &:hover {
                    .btn_fold_toggle {position:absolute; top:50%; right:2.65rem; width:24px; height:24px; display:block; background:url(#{$base-path}/images/sub/icon_snb_depth3_selected.png) no-repeat center center / contain;}    
                }
            }
            .acc_body {padding:2rem;
                .flex_between {align-items:flex-start; justify-content:space-between;
                    > table {width:calc(50% - 2rem);}
                }
                .inner_table_type_1 {
                    tr {
                        td {
                            [class*=btn_] {width:24px; height:24px; background-size:12px; margin:0 auto; display:block;}
                            .flex_center {gap:0 0.3rem;}
                        }
                        &:hover {
                            td {
                                a {text-decoration:underline;}
                            }
                        }
                    }
                }
            }
            &.active {max-height:200rem;
                .acc_header {
                    .btn_fold_toggle {transform:translateY(-50%) rotate(-90deg);}
                }
            }
        }
    }
}
/*laptop 반응형 1400*/
@media all and (max-width:#{ $breakpoint_laptop}
) {
    .sub_content_body {
        .sub_content_box.board_list_type_3 {
            .top_ctrl_box {display:flex; flex-direction:column;
                .sub_tab_box {margin-bottom:1.6rem;}
                select {position:static; transform:unset; margin-bottom:2rem;}
            }
            .accordion_box {
                .acc_body {
                    .flex_between {display:block; gap:2rem 0;
                        > table {width:100%;
                            &:not(:last-child) {margin-bottom:2rem;}
                        }
                    }
                }
            }
        }
    }
}
/*모바일 반응형 768*/
@media all and (max-width:#{ $breakpoint_mobile}
) {
    .sub_content_body {
        .sub_content_box.notice_list_type_1 {
            .list_table {
                tbody {
                    th {width:60px;text-align:left !important;
                        & + td {padding-left:0 !important;}
                        img {display:inline-block;}
                    }
                }
            }
        }
        .sub_content_box.writing_type_2 {
            .table_box {
                table {
                    colgroup {display:none;}
                    tr {border-bottom:none;
                        th {width:145px !important; border-bottom:1px solid $light_gray_2; vertical-align:middle;}
                        td {width:calc(100% - 145px); border-bottom:1px solid $light_gray_2;
                            button {font-size:1.4rem;}
                            input[type=text] {margin-bottom:0;}
                            .url_box {flex-direction:column;
                                input[type=text] {width:100%;}
                                button {width:100%; margin-top:1rem;}
                            }
                        }
                    }
                }
            }
        }
    }
}
/*모바일 세부 반응형 400*/
@media all and (max-width:#{ $breakpoint_mobile_small}
) {
    .sub_content_body {
        .sub_content_box.board_list_type_3 {
            .accordion_box {
                .acc_header {
                    p {font-size:1.6rem; text-align:left;}
                }
                .acc_body {
                    .flex_between {display:block; gap:2rem 0;
                        > table.inner_table_type_1 {width:100%;
                            &:not(:last-child) {margin-bottom:2rem;}
                            colgroup {display:none;}
                            thead {
                                th:first-child {width:calc(100% - 160px);}
                                th:not(:first-child) {width:80px; flex-shrink:0;}
                            }
                        }
                    }
                }
            }
        }
    }
}