@charset "UTF-8"; 
@import "config";


/****************************************/
/*  Name :에듀넷 재구조화
/*  PART :sub page style
/*  Author : 
/*  Summary:/* 파일 내용 */
/*  01)
/****************************************/

/*width 최소값*/
body {min-width:360px;}

/*너비*/
.width5 {width:5% !important;}
.width10 {width:10% !important;}
.width15 {width:15% !important;}
.width20 {width:20% !important;}
.width25 {width:25% !important;}
.width30 {width:30% !important;}
.width33 {width:33% !important;}
.width40 {width:40% !important;}
.width50 {width:50% !important;}
.width60 {width:60% !important;}
.width70 {width:70% !important;}
.width80 {width:80% !important;}
.width90 {width:90% !important;}
.width100 {width:100% !important;}

/*정렬*/
.flex_start {display:flex; align-items:center; justify-content:flex-start;}
.flex_center {display:flex; align-items:center; justify-content:center;}
.flex_between {display:flex; align-items:center; justify-content:space-between;}
.flex_end {display:flex; align-items:center; justify-content:flex-end;}

/*select, checkbox, radio*/
select {appearance:none; height:36px; padding:0 4rem 0 1rem; font-size:14px; background:url(#{$base-path}/images/sub/icon_small_down_arrow.png) no-repeat 92% center / 14px, $white; border-radius:4px !important;}
input[type=checkbox] {appearance:none; width:20px; height:20px; background:$white; border:1px solid $light_gray_4; border-radius:4px;
    &:checked {background:url(#{$base-path}/images/sub/icon_check.png) no-repeat center center / 12px, $primary_1; border:1px solid $primary_1;}
}
input[type=radio] {appearance:none; width:20px; height:20px; background:$white; border:1px solid $light_gray_4; border-radius:50%; cursor:pointer;
    &:hover {border:1px solid $primary_1; background:$primary_3_light;}
    &:checked {background: radial-gradient(circle at center, $primary_1 1px, $primary_1 5px, $white 6px, $white 20px); border:1px solid $primary_1;}
    &:disabled {background:$light_gray_2; border:1px solid $light_gray_3; cursor:default;}
    &:checked:disabled {background: radial-gradient(circle at center, $light_gray_3 1px, $light_gray_3 5px, $light_gray_1 6px, $light_gray_1 20px); border:1px solid $light_gray_3; cursor:default;}
}
input[type=radio].large {appearance:none; width:24px; height:24px; background:$white; border:1px solid $light_gray_4; border-radius:50%; cursor:pointer;
    &:hover {border:1px solid $primary_1; background:$primary_3_light;}
    &:checked {background: radial-gradient(circle at center, $primary_1 1px, $primary_1 6px, $white 7px, $white 20px); border:1px solid $primary_1;}
    &:disabled {background:$light_gray_1; border:1px solid $light_gray_3; cursor:default;}
    &:checked:disabled {background: radial-gradient(circle at center, $light_gray_3 1px, $light_gray_3 6px, $light_gray_1 7px, $light_gray_1 20px); border:1px solid $light_gray_3; cursor:default;}
}
input[type=text].input_date {background:url(#{$base-path}/images/sub/icon_date.png) no-repeat 96% center / 16px, #fff; padding:0 2.6rem 0 1.2rem;}

/*버튼*/
.btn_navy {width:100px; height:42px; background:$primary_2; display:block; font-weight:500; color:#fff; text-align:center; line-height:42px; border-radius:6px; transition:all .15s linear;
    &:hover {background:$primary_2_dark;} 
    &:active {background:$primary_2_dark_press;}
}
.btn_purple {width:100px; height:42px; background:$primary_1; display:block; font-weight:500; color:#fff; text-align:center; line-height:42px; border-radius:6px; transition:all .15s linear;
    &:hover {background:$primary_1_dark;}
    &:active {background:$primary_1_dark_press;}
}
.btn_gray {width:100px; height:42px; background:$dark_gray_3; display:block; font-weight:500; color:#fff; text-align:center; line-height:42px; border-radius:6px; transition:all .15s linear;}
.btn_search {width: 46px; height: 46px; background: url(#{$base-path}/images/common/icon_search.png) no-repeat center center / 24px, linear-gradient(135deg, #865dd5, #4a24b9); flex-shrink: 0; border-radius: 50%;
    a { width: 100%; height: 100%; display: block; }
}
.btn_preview { width: 36px; height: 36px; background: url(#{$base-path}/images/sub/icon_preview.png) no-repeat center center / contain, $point_mint; border-radius: 50%;}
.btn_preview_gr { width: 24px; height: 24px; background: url(#{$base-path}/images/sub/icon_search_wh_bd.png) no-repeat center center / 17px, $dark_gray_4; border-radius: 50%;}
.btn_data_down { width: 36px; height: 36px; background: url(#{$base-path}/images/sub/icon_filedown.png) no-repeat center center / contain, $point_mint; border-radius: 50%;}
.btn_zip {width:30px; height:30px; display:block; background:url(#{$base-path}/images/sub/icon_zip.png) no-repeat center center / 9px, #FFC42C; border-radius:50%;}
.btn_video {width:30px; height:30px; display:block; background:url(#{$base-path}/images/sub/icon_video.png) no-repeat center center / 16px, #08C9AF; border-radius:50%;}
.btn_pdf {width:30px; height:30px; display:block; background:url(#{$base-path}/images/sub/icon_pdf.png) no-repeat center 40% / 16px, #FF5252; border-radius:50%;}
.btn_hwp {width:30px; height:30px; display:block; background:url(#{$base-path}/images/sub/icon_hwp.png) no-repeat center center / 12px, #256FE9; border-radius:50%;}
.cant_click {pointer-events:none; cursor:default;}
.btn_navy_down {position:relative; width:108px; height:36px; background:$primary_2; padding-left:1.6rem; display:block; font-size:15px; font-weight:500; color:$white; text-align:center; line-height:36px; border-radius:6px;
    &:before {content:""; position:absolute; top:50%; left:1.2rem; width:16px; height:16px; background:url(#{$base-path}/images/sub/icon_donw_wh.png) no-repeat center center / contain; transform:translateY(-50%);}
}
.btn_sch_rect {position:relative; width:82px; height:36px; background:$primary_1; display:block; padding-left:1.6rem; font-size:15px; font-weight:500; color:#fff; text-align:center; line-height:36px; border-radius:6px; transition:all .15s linear;
    &:before {content:""; position:absolute; top:50%; left:1.2rem; width:16px; height:16px; background:url(#{$base-path}/images/sub/icon_search_wh.png) no-repeat center center / contain; transform:translateY(-50%);}
}
.btn_refresh {position:relative; width:95px; height:36px; background:$dark_gray_3; display:block; padding-left:1.6rem; font-size:15px; font-weight:500; color:#fff; text-align:center; line-height:36px; border-radius:6px;
    &:before {content:""; position:absolute; top:50%; left:1.2rem; width:16px; height:16px; background:url(#{$base-path}/images/sub/icon_refresh.png) no-repeat center center / contain; transform:translateY(-50%);}
}
.btn_thumb_type_1 {width:32px; height:32px; background:url(#{$base-path}/images/sub/icon_thumb_type_1.png) no-repeat center center / contain;
    &.active, &:hover {background:url(#{$base-path}/images/sub/icon_thumb_type_1_active.png) no-repeat center center / contain;}
}
.btn_thumb_type_2 {width:32px; height:32px; background:url(#{$base-path}/images/sub/icon_thumb_type_2.png) no-repeat center center / contain;
    &.active, &:hover {background:url(#{$base-path}/images/sub/icon_thumb_type_2_active.png) no-repeat center center / contain;}
}
.btn_sort_all {width:32px; height:32px; background:url(#{$base-path}/images/sub/icon_type_all.png) no-repeat center center / contain;
    &.active, &:hover {background:url(#{$base-path}/images/sub/icon_type_all_active.png) no-repeat center center / contain;}
}
.btn_sort_video {width:32px; height:32px; background:url(#{$base-path}/images/sub/icon_type_video.png) no-repeat center center / contain;
    &.active, &:hover {background:url(#{$base-path}/images/sub/icon_type_video_active.png) no-repeat center center / contain;}
}
.btn_sort_gallery {width:32px; height:32px; background:url(#{$base-path}/images/sub/icon_type_img.png) no-repeat center center / contain;
    &.active, &:hover {background:url(#{$base-path}/images/sub/icon_type_img_active.png) no-repeat center center / contain;}
}
.btn_outfile_down {position:relative; width:128px; height:36px; background:$white; display:block; font-size:1.4rem; font-weight:500; color:$dark_gray_3; text-align:center; line-height:34px; border:1px solid $light_gray_3; border-radius:4px; transition:all .15s linear;
    &:after {content:""; display:inline-block; width:16px; height:16px; background:url(#{$base-path}/images/sub/icon_filedown_bk.png) no-repeat center center / 13px; margin:0 0 -0.15rem 0.5rem;}
    &:hover {background:$dark_gray_4; color:$white; border:1px solid $dark_gray_4;
        &:after {background:url(#{$base-path}/images/sub/icon_donw_wh.png) no-repeat center center / 17px;}
    }
}

/*폰트*/
strong {font-weight:600;}
.color_red {color:$point_red !important;}
.color_blue {color:$point_blue; font-weight:600;}
.color_purple {color:$primary_1; font-weight:600;}

/*좋아요, 스크랩 버튼 활성화 클래스 : active*/
.btn_like {font-weight:500; color:$dark_gray_2;
    &:before {content:""; display:inline-block; width:20px; height:20px; background:url(#{$base-path}/images/sub/icon_like.png) no-repeat center center / contain; margin:-0.2rem 0.4rem 0 0; vertical-align:middle;}
    &:hover{color:$primary_1; font-weight:600;
        &:before {background:url(#{$base-path}/images/sub/icon_like_hover.png) no-repeat center center / contain;}
    }
    &.active {
        &:before {background:url(#{$base-path}/images/sub/icon_like_active.png) no-repeat center center / contain;}
    }
}
.btn_scrap {font-weight:500; color:$dark_gray_2;
    &:before {content:""; display:inline-block; width:20px; height:20px; background:url(#{$base-path}/images/sub/icon_scrap.png) no-repeat center center / contain; margin:-0.2rem 0.4rem 0 0; vertical-align:middle;}
    &:hover {color:$primary_1; font-weight:600;
        &:before {background:url(#{$base-path}/images/sub/icon_scrap_hover.png) no-repeat center center / contain;}
    }
}
.btn_share {font-weight:500; color:$dark_gray_2;
    &:before {content:""; display:inline-block; width:20px; height:20px; background:url(#{$base-path}/images/sub/icon_share.png) no-repeat center center / contain; margin:-0.2rem 0.4rem 0 0; vertical-align:middle;}
    &:hover {color:$primary_1; font-weight:600;}
}
.btn_print {font-weight:500; color:$dark_gray_2;
    &:before {content:""; display:inline-block; width:20px; height:20px; background:url(#{$base-path}/images/sub/icon_print.png) no-repeat center center / contain; margin:-0.2rem 0.4rem 0 0; vertical-align:middle;}
    &:hover {color:$primary_1; font-weight:600;
        &:before {background:url(#{$base-path}/images/sub/icon_print_hover.png) no-repeat center center / contain;}
    }
}
/*숨기기*/
.type_hidden { position: absolute; left: -9999px; width: 1px; height: 1px; overflow: hidden; }
/*서브 공통*/
.sub_content_body {
    max-width: 1440px; width: 100%; margin: 4rem auto; padding-top:16.2rem; display: flex; align-items: flex-start; justify-content: space-between;
    > .sub_content_box { max-width:1080px; width:100%; margin-left:8rem;}
    /*breadcrum*/
    .breadcrumb {display: flex; align-items: center; gap: 3.3rem;
        li {position: relative;
            &:not(:last-child):after { content: ""; position: absolute; top: 50%; transform: translateY(-50%); right: -2rem; width: 1rem; height: 1rem; background: url(#{$base-path}/images/sub/icon_breadcrumb_arrow.png) no-repeat center center / contain; }
            &:first-child {
                a { width: 24px; height: 24px; background: url(#{$base-path}/images/sub/icon_home.png) no-repeat center center / contain; display: block; text-indent: -9999px; color: transparent; }
            }
            &:last-child {
                a { font-weight: 600; color: $dark_gray_1; }
            }
            &:hover {
                a {color:$primary_1;}
            }
            a { color: $dark_gray_2; }
        }
    }
    /*서브 제목*/
    .sub_big_title { margin: 2.4rem 0; font-family: $gmarket; font-size: 3.2rem; font-weight: 600; }
    /*서브 페이지 하위항목 제목*/
    .sub_small_title { font-size: 2.4rem; font-weight: 700; color: $dark_gray_1; }
    /*서브페이지 테이블 제목*/
    .table_sbjt {position:relative; margin-bottom:2rem; padding-left:1.2rem; font-size:2.4rem; font-weight:700; color:$dark_gray_1;
        &:before {content:""; position:absolute; top:7px; left:0; width:7px; height:7px; background:$dark_gray_4; border-radius:50%;}
        &:after {content:""; position:absolute; top:16px; left:0; width:7px; height:7px; background:$primary_1; border-radius:50%;}
    }
    /*서브페이지 리스트 테이블*/
    .list_table { width: 100%; table-layout:fixed;
        thead {
            th {position: relative; background: $light_gray_1; padding: 1.65rem 0.5rem; font-weight: 500; color: $dark_gray_1; border-top:1px solid #111;
                &:not(:last-child):after { content: ""; position: absolute; top: 50%; right: 0; width: 1px; height: 19px; background: $light_gray_2; transform: translateY(-50%); }
            }
        }
        tbody {
            tr { border-bottom: 1px solid $light_gray_2;}
            tr:last-child {border-bottom:1px solid #6a6a6a;} 
            th {text-align:center !important; display:table-cell !important;}
            th[scope=row], th[scope=col] {
                img {width:30px; height:30px; object-fit:contain; display:block; margin:0 auto;}
            }
            td { padding: 1rem; font-size: 1.5rem; color:$dark_gray_1; text-align: center; 
                a[class*=btn_] {display:block; margin:0 auto;}
            }
        }
    }
    /*서브페이지 게시글 등록, 수정 테이블*/
    .write_table {width:100%; border-top:1px solid $dark_gray_2; border-bottom:1px solid $dark_gray_2;
        thead {
            tr {border-bottom:1px solid $light_gray_2;
                th {padding:1.65rem 1rem; color:$font_color_1; font-weight:500; text-align:left;
                    .essential {@include essential;}
                }
                td {padding:1rem;
                    > input[type=text] {width:calc(100% - 120px); height:42px; margin-right:0.8rem; padding:0 1.4rem; border:1px solid $light_gray_2; border-radius:4px;}
                    > label {width:80px; vertical-align:middle; cursor:pointer;
                        input[type=checkbox] {vertical-align:middle;}
                        span {color:$dark_gray_1; padding-left:0.4rem;}
                    }
                }
            }
        }
        tbody {
            tr {border-bottom:1px solid $light_gray_2;
                th {padding:1.65rem 1rem; color:$font_color_1; font-weight:500; text-align:left;
                    .essential {@include essential;}
                }
                td {padding:1rem;
                    > textarea {width:100%; min-height:40vh; margin-right:0.8rem; padding:1rem; border:1px solid $light_gray_2; border-radius:4px;}
                    ul.upload_desc {
                        li {font-size:14px; color:$dark_gray_3; line-height:1.5;}
                    }
                    .hint {position:relative; padding:0.4rem 0 0 2rem; font-size:14px; color:$point_red;
                        &:before {content:""; position:absolute; top:55%; left:0; transform:translateY(-50%); width:16px; height:16px; background:url(#{$base-path}/images/sub/icon_hint.png) no-repeat center center / contain;}
                    }
                    select {height:42px;}
                    input[type=text] {height:42px; border-radius:4px;}
                    .tel_input_box {display:flex; align-items:center; gap:0 0.8rem;
                        > :is(select, input) {max-width:100px; min-width:unset !important; width:100% !important;}
                    }
                }
            }
        }
    }
    .write_table.type2 {
        th {background:$light_gray_1; padding:1.3rem 1.5rem; font-weight:500;
            span.title_desc {display:block; font-size:1.4rem;}
        }
        td {padding:0.7rem 2.4rem;
            ul:not(.upload_desc) {
                display:flex; align-items:center; gap:0 1rem;
                li {display:flex; align-items:center; gap:0 0.8rem;
                    label {cursor:pointer;}
                }
            }
            input[type=text] {width:100%;}
            select {min-width:200px;}
            .btn_box {display:flex; align-items:center; gap:0 1rem;
                input[type=text] {width:calc(100% - 122px);}
                &.etc1 {
                    input[type=text] {width:calc(100% - 160px);}
                    button {width:160px;}
                }
            }
        }
    }

    /*서브페이지 이너 테이블(게시글 안 작은 테이블, 테이블 안 테이블)*/
    .inner_table_type_1 {width:100%; table-layout:fixed; border-top:1px solid $light_gray_2;
        thead {
            tr {
                th {background:$light_gray_1; padding:0.7rem 1.6rem; font-size:1.5rem; font-weight:500; color:$dark_gray_3;}
            }
        }
        tbody {
            tr{border-bottom:1px solid $light_gray_1;
                td {padding:1.5rem; font-weight:500; color:$dark_gray_1;}
            }
        }
    }
    .inner_table_type_2 {width:100%; table-layout:fixed; border-top:1px solid $light_gray_2;
        tr {border-bottom:1px solid $light_gray_2;
            th {background:$light_gray_1; padding:0.9rem 2.3rem; font-weight:600; color:$primary_2;}
            td {background:$white; padding:0.9rem 1rem; font-weight:400; color:$dark_gray_2;}
        }
    }
    /*서브 탭 박스*/
    .sub_tab_box {display:flex; align-items:center; margin-bottom:3rem; border-bottom:1px solid $light_gray_2;
        > li {
            a {position:relative; padding:1.5rem 2.25rem; font-size:20px; font-weight:600; color:$dark_gray_4; display:block;
                &:after {content:""; position:absolute; top:50%; right:0; width:1px; height:15px; background:$light_gray_4; transform:translateY(-50%);}
            }
            &.active {
                a {font-weight:700; color:$primary_1;
                    &:before {content:""; position:absolute; bottom:0; left:50%; transform:translateX(-50%); width:100%; height:6px; background:$primary_1;}
                }
            }
            &:last-child {
                a {
                    &:after {display:none;}
                }
            }
        }
    }
    /*가로 스크롤 탭박스*/
    .width_scroll_box {position:relative; width:100%;
        button {position:absolute; top:50%; transform:translateY(-50%); width:34px; height:36px; display:block; border:1px solid $light_gray_2; z-index:2;
            &.hidden {display:none;}
    }
        button[class*=left] {left:0; background:url(#{$base-path}/images/sub/icon_prev_page.png) no-repeat center center / 24px, $white; border:1px solid $light_gray_2;}
        button[class*=right] {right:0; background:url(#{$base-path}/images/sub/icon_next_page.png) no-repeat center center / 24px, $white; border:1px solid $light_gray_2;}
        .sub_tab_box {position:relative; max-width:400vw; width:100%; flex-wrap:nowrap; overflow:auto; z-index:1;
            > li {flex-shrink:0; white-space:nowrap;}
            &::-webkit-scrollbar {display:none;}
        }
    }
}
/*반응형 1440*/
@media all and (max-width:#{ $breakpoint_laptop}
) {
    .sub_content_body {padding:10rem 1.6rem 0 1.6rem;};
}

/*태블릿 반응형 1024*/
@media all and (max-width:#{ $breakpoint_tablet}
) { 
    /*레이아웃*/
    .sub_content_body > .sub_content_box {margin-left:0;}
}
/*모바일 반응형 768*/
@media all and (max-width:#{ $breakpoint_mobile} 
) {
    /*버튼*/
    .btn_navy, .btn_purple, .btn_gray {height:38px; line-height:38px;}
    /*탭박스*/
    .sub_content_body {
        .sub_tab_box {max-width:400vw; overflow:auto;
            > li {flex-shrink:0;
                a {font-size:18px;}
            }
            &::-webkit-scrollbar-track {background:transparent;}
            &::-webkit-scrollbar-thumb {background:transparent;}
        }
    }
    .breadcrumb {gap:0 1.6rem !important;
        > li {
            > a {font-size:1.4rem;}
            &:not(:last-child):after {right:-1.2rem !important; width:0.8rem; height:0.8rem;}
        }
    }
    /*서브페이지 테이블 제목*/
    .table_sbjt {padding-left:1rem !important; font-size:2rem !important;
        &:before {top:6px !important; width:6px !important; height:6px !important;}
        &:after {top:14px !important; width:6px !important; height:6px !important;}
    }
    /*inner_table*/
    .inner_table_type_2 {font-size:14px;
        colgroup {display:none;}
        tr {display:flex; flex-wrap:wrap; width:100%; border-bottom:none;
            th{width:50%; border-bottom:1px solid $light_gray_2;}
            td{width:50%; border-bottom:1px solid $light_gray_2;}
        }
    }
    /*전화번호 입력창*/
    .tel_input_box {gap:0 0.4rem !important;
        select {max-width:70px !important; padding-right:2rem;}
    }
}
/*모바일 세부 반응형 400*/
@media all and (max-width:#{ $breakpoint_mobile_small} 
) {
    .tel_input_box {flex-wrap:wrap; gap:0.4rem !important;
        span {display:none;}
        input[type=text], select {max-width:400px !important; padding-right:2rem;}
        
    }
}