@charset "UTF-8";
/****************************************/
/*  Name : 에듀넷 재구조화
/*  PART : font style
/*  Author : 
/*
/*  Summary: /* 파일 내용 */
/*  01) GmarketSans
/*  02) Pretendard
/****************************************/
/* ********************************************************************************* *
* 01) GmarketSans // font-family: 'GmarketSans';
* ********************************************************************************* */
@font-face {
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: 700;
  src: url("/@/assets/fonts/GmarketSansBold.woff2") format("woff2"), url("/@/assets/fonts/GmarketSansBold.woff") format("woff");
}
@font-face {
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: 500;
  src: url("/@/assets/fonts/GmarketSansMedium.woff2") format("woff2"), url("/@/assets/fonts/GmarketSansMedium.woff") format("woff");
}
@font-face {
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: 300;
  src: url("/@/assets/fonts/GmarketSansLight.woff2") format("woff2"), url("/@/assets/fonts/GmarketSansLight.woff") format("woff");
}
/* ********************************************************************************* *
* 02) Pretendard // font-family: 'Pretendard';
* ********************************************************************************* */
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  src: url("/@/assets/fonts/Pretendard-SemiBold.woff2") format("woff2"), url("/@/assets/fonts/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("/@/assets/fonts/Pretendard-Medium.woff2") format("woff2"), url("/@/assets/fonts/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  src: url("/@/assets/fonts/Pretendard-Regular.woff2") format("woff2"), url("/@/assets/fonts/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 300;
  src: url("/@/assets/fonts/Pretendard-Light.woff2") format("woff2"), url("/@/assets/fonts/Pretendard-Light.woff") format("woff");
}
/*변수*/
/*absolute 중앙정렬*/
/*헤더 관련사이트*/
/*게시글 필수 입력 표시*/
/****************************************/
/*  Name :에듀넷 재구조화
/*  PART :sub page style
/*  Author : 
/*  Summary:/* 파일 내용 */
/*  01)
/****************************************/
/*width 최소값*/
body {
  min-width: 360px;
}

/*너비*/
.width5 {
  width: 5% !important;
}

.width10 {
  width: 10% !important;
}

.width15 {
  width: 15% !important;
}

.width20 {
  width: 20% !important;
}

.width25 {
  width: 25% !important;
}

.width30 {
  width: 30% !important;
}

.width33 {
  width: 33% !important;
}

.width40 {
  width: 40% !important;
}

.width50 {
  width: 50% !important;
}

.width60 {
  width: 60% !important;
}

.width70 {
  width: 70% !important;
}

.width80 {
  width: 80% !important;
}

.width90 {
  width: 90% !important;
}

.width100 {
  width: 100% !important;
}

/*정렬*/
.flex_start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex_end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/*select, checkbox, radio*/
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 36px;
  padding: 0 4rem 0 1rem;
  font-size: 14px;
  background: url(/@/assets/images/sub/icon_small_down_arrow.png) no-repeat 92% center/14px, #fff;
  border-radius: 4px !important;
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #ccd1d6;
  border-radius: 4px;
}
input[type=checkbox]:checked {
  background: url(/@/assets/images/sub/icon_check.png) no-repeat center center/12px, #865dd5;
  border: 1px solid #865dd5;
}

input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #ccd1d6;
  border-radius: 50%;
  cursor: pointer;
}
input[type=radio]:hover {
  border: 1px solid #865dd5;
  background: #f4f9fb;
}
input[type=radio]:checked {
  background: radial-gradient(circle at center, #865dd5 1px, #865dd5 5px, #fff 6px, #fff 20px);
  border: 1px solid #865dd5;
}
input[type=radio]:disabled {
  background: #e4e7ea;
  border: 1px solid #d6dbe0;
  cursor: default;
}
input[type=radio]:checked:disabled {
  background: radial-gradient(circle at center, #d6dbe0 1px, #d6dbe0 5px, #f2f3f5 6px, #f2f3f5 20px);
  border: 1px solid #d6dbe0;
  cursor: default;
}

input[type=radio].large {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 24px;
  height: 24px;
  background: #fff;
  border: 1px solid #ccd1d6;
  border-radius: 50%;
  cursor: pointer;
}
input[type=radio].large:hover {
  border: 1px solid #865dd5;
  background: #f4f9fb;
}
input[type=radio].large:checked {
  background: radial-gradient(circle at center, #865dd5 1px, #865dd5 6px, #fff 7px, #fff 20px);
  border: 1px solid #865dd5;
}
input[type=radio].large:disabled {
  background: #f2f3f5;
  border: 1px solid #d6dbe0;
  cursor: default;
}
input[type=radio].large:checked:disabled {
  background: radial-gradient(circle at center, #d6dbe0 1px, #d6dbe0 6px, #f2f3f5 7px, #f2f3f5 20px);
  border: 1px solid #d6dbe0;
  cursor: default;
}

input[type=text].input_date {
  background: url(/@/assets/images/sub/icon_date.png) no-repeat 96% center/16px, #fff;
  padding: 0 2.6rem 0 1.2rem;
}

/*버튼*/
.btn_navy {
  width: 100px;
  height: 42px;
  background: #083b87;
  display: block;
  font-weight: 500;
  color: #fff;
  text-align: center;
  line-height: 42px;
  border-radius: 6px;
  transition: all 0.15s linear;
}
.btn_navy:hover {
  background: #062F6C;
}
.btn_navy:active {
  background: #06295F;
}

.btn_purple {
  width: 100px;
  height: 42px;
  background: #865dd5;
  display: block;
  font-weight: 500;
  color: #fff;
  text-align: center;
  line-height: 42px;
  border-radius: 6px;
  transition: all 0.15s linear;
}
.btn_purple:hover {
  background: #6B4AAA;
}
.btn_purple:active {
  background: #5E4196;
}

.btn_gray {
  width: 100px;
  height: 42px;
  background: #5a5e6a;
  display: block;
  font-weight: 500;
  color: #fff;
  text-align: center;
  line-height: 42px;
  border-radius: 6px;
  transition: all 0.15s linear;
}

.btn_search {
  width: 46px;
  height: 46px;
  background: url(/@/assets/images/common/icon_search.png) no-repeat center center/24px, linear-gradient(135deg, #865dd5, #4a24b9);
  flex-shrink: 0;
  border-radius: 50%;
}
.btn_search a {
  width: 100%;
  height: 100%;
  display: block;
}

.btn_preview {
  width: 36px;
  height: 36px;
  background: url(/@/assets/images/sub/icon_preview.png) no-repeat center center/contain, #00867B;
  border-radius: 50%;
}

.btn_preview_gr {
  width: 24px;
  height: 24px;
  background: url(/@/assets/images/sub/icon_search_wh_bd.png) no-repeat center center/17px, #707586;
  border-radius: 50%;
}

.btn_data_down {
  width: 36px;
  height: 36px;
  background: url(/@/assets/images/sub/icon_filedown.png) no-repeat center center/contain, #00867B;
  border-radius: 50%;
}

.btn_zip {
  width: 30px;
  height: 30px;
  display: block;
  background: url(/@/assets/images/sub/icon_zip.png) no-repeat center center/9px, #FFC42C;
  border-radius: 50%;
}

.btn_video {
  width: 30px;
  height: 30px;
  display: block;
  background: url(/@/assets/images/sub/icon_video.png) no-repeat center center/16px, #08C9AF;
  border-radius: 50%;
}

.btn_pdf {
  width: 30px;
  height: 30px;
  display: block;
  background: url(/@/assets/images/sub/icon_pdf.png) no-repeat center 40%/16px, #FF5252;
  border-radius: 50%;
}

.btn_hwp {
  width: 30px;
  height: 30px;
  display: block;
  background: url(/@/assets/images/sub/icon_hwp.png) no-repeat center center/12px, #256FE9;
  border-radius: 50%;
}

.cant_click {
  pointer-events: none;
  cursor: default;
}

.btn_navy_down {
  position: relative;
  width: 108px;
  height: 36px;
  background: #083b87;
  padding-left: 1.6rem;
  display: block;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  line-height: 36px;
  border-radius: 6px;
}
.btn_navy_down:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 1.2rem;
  width: 16px;
  height: 16px;
  background: url(/@/assets/images/sub/icon_donw_wh.png) no-repeat center center/contain;
  transform: translateY(-50%);
}

.btn_sch_rect {
  position: relative;
  width: 82px;
  height: 36px;
  background: #865dd5;
  display: block;
  padding-left: 1.6rem;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  line-height: 36px;
  border-radius: 6px;
  transition: all 0.15s linear;
}
.btn_sch_rect:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 1.2rem;
  width: 16px;
  height: 16px;
  background: url(/@/assets/images/sub/icon_search_wh.png) no-repeat center center/contain;
  transform: translateY(-50%);
}

.btn_refresh {
  position: relative;
  width: 95px;
  height: 36px;
  background: #5a5e6a;
  display: block;
  padding-left: 1.6rem;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  line-height: 36px;
  border-radius: 6px;
}
.btn_refresh:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 1.2rem;
  width: 16px;
  height: 16px;
  background: url(/@/assets/images/sub/icon_refresh.png) no-repeat center center/contain;
  transform: translateY(-50%);
}

.btn_thumb_type_1 {
  width: 32px;
  height: 32px;
  background: url(/@/assets/images/sub/icon_thumb_type_1.png) no-repeat center center/contain;
}
.btn_thumb_type_1.active, .btn_thumb_type_1:hover {
  background: url(/@/assets/images/sub/icon_thumb_type_1_active.png) no-repeat center center/contain;
}

.btn_thumb_type_2 {
  width: 32px;
  height: 32px;
  background: url(/@/assets/images/sub/icon_thumb_type_2.png) no-repeat center center/contain;
}
.btn_thumb_type_2.active, .btn_thumb_type_2:hover {
  background: url(/@/assets/images/sub/icon_thumb_type_2_active.png) no-repeat center center/contain;
}

.btn_sort_all {
  width: 32px;
  height: 32px;
  background: url(/@/assets/images/sub/icon_type_all.png) no-repeat center center/contain;
}
.btn_sort_all.active, .btn_sort_all:hover {
  background: url(/@/assets/images/sub/icon_type_all_active.png) no-repeat center center/contain;
}

.btn_sort_video {
  width: 32px;
  height: 32px;
  background: url(/@/assets/images/sub/icon_type_video.png) no-repeat center center/contain;
}
.btn_sort_video.active, .btn_sort_video:hover {
  background: url(/@/assets/images/sub/icon_type_video_active.png) no-repeat center center/contain;
}

.btn_sort_gallery {
  width: 32px;
  height: 32px;
  background: url(/@/assets/images/sub/icon_type_img.png) no-repeat center center/contain;
}
.btn_sort_gallery.active, .btn_sort_gallery:hover {
  background: url(/@/assets/images/sub/icon_type_img_active.png) no-repeat center center/contain;
}

.btn_outfile_down {
  position: relative;
  width: 128px;
  height: 36px;
  background: #fff;
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  color: #5a5e6a;
  text-align: center;
  line-height: 34px;
  border: 1px solid #d6dbe0;
  border-radius: 4px;
  transition: all 0.15s linear;
}
.btn_outfile_down:after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(/@/assets/images/sub/icon_filedown_bk.png) no-repeat center center/13px;
  margin: 0 0 -0.15rem 0.5rem;
}
.btn_outfile_down:hover {
  background: #707586;
  color: #fff;
  border: 1px solid #707586;
}
.btn_outfile_down:hover:after {
  background: url(/@/assets/images/sub/icon_donw_wh.png) no-repeat center center/17px;
}

/*폰트*/
strong {
  font-weight: 600;
}

.color_red {
  color: #D50136 !important;
}

.color_blue {
  color: #2a55e4;
  font-weight: 600;
}

.color_purple {
  color: #865dd5;
  font-weight: 600;
}

/*좋아요, 스크랩 버튼 활성화 클래스 : active*/
.btn_like {
  font-weight: 500;
  color: #3b3b40;
}
.btn_like:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/@/assets/images/sub/icon_like.png) no-repeat center center/contain;
  margin: -0.2rem 0.4rem 0 0;
  vertical-align: middle;
}
.btn_like:hover {
  color: #865dd5;
  font-weight: 600;
}
.btn_like:hover:before {
  background: url(/@/assets/images/sub/icon_like_hover.png) no-repeat center center/contain;
}
.btn_like.active:before {
  background: url(/@/assets/images/sub/icon_like_active.png) no-repeat center center/contain;
}

.btn_scrap {
  font-weight: 500;
  color: #3b3b40;
}
.btn_scrap:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/@/assets/images/sub/icon_scrap.png) no-repeat center center/contain;
  margin: -0.2rem 0.4rem 0 0;
  vertical-align: middle;
}
.btn_scrap:hover {
  color: #865dd5;
  font-weight: 600;
}
.btn_scrap:hover:before {
  background: url(/@/assets/images/sub/icon_scrap_hover.png) no-repeat center center/contain;
}

.btn_share {
  font-weight: 500;
  color: #3b3b40;
}
.btn_share:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/@/assets/images/sub/icon_share.png) no-repeat center center/contain;
  margin: -0.2rem 0.4rem 0 0;
  vertical-align: middle;
}
.btn_share:hover {
  color: #865dd5;
  font-weight: 600;
}

.btn_print {
  font-weight: 500;
  color: #3b3b40;
}
.btn_print:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/@/assets/images/sub/icon_print.png) no-repeat center center/contain;
  margin: -0.2rem 0.4rem 0 0;
  vertical-align: middle;
}
.btn_print:hover {
  color: #865dd5;
  font-weight: 600;
}
.btn_print:hover:before {
  background: url(/@/assets/images/sub/icon_print_hover.png) no-repeat center center/contain;
}

/*숨기기*/
.type_hidden {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/*서브 공통*/
.sub_content_body {
  max-width: 1440px;
  width: 100%;
  margin: 4rem auto;
  padding-top: 16.2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /*breadcrum*/
  /*서브 제목*/
  /*서브 페이지 하위항목 제목*/
  /*서브페이지 테이블 제목*/
  /*서브페이지 리스트 테이블*/
  /*서브페이지 게시글 등록, 수정 테이블*/
  /*서브페이지 이너 테이블(게시글 안 작은 테이블, 테이블 안 테이블)*/
  /*서브 탭 박스*/
  /*가로 스크롤 탭박스*/
}
.sub_content_body > .sub_content_box {
  max-width: 1080px;
  width: 100%;
  margin-left: 8rem;
}
.sub_content_body .breadcrumb {
  display: flex;
  align-items: center;
  gap: 3.3rem;
}
.sub_content_body .breadcrumb li {
  position: relative;
}
.sub_content_body .breadcrumb li:not(:last-child):after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -2rem;
  width: 1rem;
  height: 1rem;
  background: url(/@/assets/images/sub/icon_breadcrumb_arrow.png) no-repeat center center/contain;
}
.sub_content_body .breadcrumb li:first-child a {
  width: 24px;
  height: 24px;
  background: url(/@/assets/images/sub/icon_home.png) no-repeat center center/contain;
  display: block;
  text-indent: -9999px;
  color: transparent;
}
.sub_content_body .breadcrumb li:last-child a {
  font-weight: 600;
  color: #212121;
}
.sub_content_body .breadcrumb li:hover a {
  color: #865dd5;
}
.sub_content_body .breadcrumb li a {
  color: #3b3b40;
}
.sub_content_body .sub_big_title {
  margin: 2.4rem 0;
  font-family: "GmarketSans", sans-serif;
  font-size: 3.2rem;
  font-weight: 600;
}
.sub_content_body .sub_small_title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #212121;
}
.sub_content_body .table_sbjt {
  position: relative;
  margin-bottom: 2rem;
  padding-left: 1.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  color: #212121;
}
.sub_content_body .table_sbjt:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 7px;
  height: 7px;
  background: #707586;
  border-radius: 50%;
}
.sub_content_body .table_sbjt:after {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  width: 7px;
  height: 7px;
  background: #865dd5;
  border-radius: 50%;
}
.sub_content_body .list_table {
  width: 100%;
  table-layout: fixed;
}
.sub_content_body .list_table thead th {
  position: relative;
  background: #f2f3f5;
  padding: 1.65rem 0.5rem;
  font-weight: 500;
  color: #212121;
  border-top: 1px solid #111;
}
.sub_content_body .list_table thead th:not(:last-child):after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 19px;
  background: #e4e7ea;
  transform: translateY(-50%);
}
.sub_content_body .list_table tbody tr {
  border-bottom: 1px solid #e4e7ea;
}
.sub_content_body .list_table tbody tr:last-child {
  border-bottom: 1px solid #6a6a6a;
}
.sub_content_body .list_table tbody th {
  text-align: center !important;
  display: table-cell !important;
}
.sub_content_body .list_table tbody th[scope=row] img, .sub_content_body .list_table tbody th[scope=col] img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: 0 auto;
}
.sub_content_body .list_table tbody td {
  padding: 1rem;
  font-size: 1.5rem;
  color: #212121;
  text-align: center;
}
.sub_content_body .list_table tbody td a[class*=btn_] {
  display: block;
  margin: 0 auto;
}
.sub_content_body .write_table {
  width: 100%;
  border-top: 1px solid #3b3b40;
  border-bottom: 1px solid #3b3b40;
}
.sub_content_body .write_table thead tr {
  border-bottom: 1px solid #e4e7ea;
}
.sub_content_body .write_table thead tr th {
  padding: 1.65rem 1rem;
  color: #333;
  font-weight: 500;
  text-align: left;
}
.sub_content_body .write_table thead tr th .essential {
  position: relative;
}
.sub_content_body .write_table thead tr th .essential:after {
  content: "*";
  position: absolute;
  top: 50%;
  right: -1.4rem;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  font-weight: 600;
  color: #FD5A50;
  line-height: 1;
}
.sub_content_body .write_table thead tr td {
  padding: 1rem;
}
.sub_content_body .write_table thead tr td > input[type=text] {
  width: calc(100% - 120px);
  height: 42px;
  margin-right: 0.8rem;
  padding: 0 1.4rem;
  border: 1px solid #e4e7ea;
  border-radius: 4px;
}
.sub_content_body .write_table thead tr td > label {
  width: 80px;
  vertical-align: middle;
  cursor: pointer;
}
.sub_content_body .write_table thead tr td > label input[type=checkbox] {
  vertical-align: middle;
}
.sub_content_body .write_table thead tr td > label span {
  color: #212121;
  padding-left: 0.4rem;
}
.sub_content_body .write_table tbody tr {
  border-bottom: 1px solid #e4e7ea;
}
.sub_content_body .write_table tbody tr th {
  padding: 1.65rem 1rem;
  color: #333;
  font-weight: 500;
  text-align: left;
}
.sub_content_body .write_table tbody tr th .essential {
  position: relative;
}
.sub_content_body .write_table tbody tr th .essential:after {
  content: "*";
  position: absolute;
  top: 50%;
  right: -1.4rem;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  font-weight: 600;
  color: #FD5A50;
  line-height: 1;
}
.sub_content_body .write_table tbody tr td {
  padding: 1rem;
}
.sub_content_body .write_table tbody tr td > textarea {
  width: 100%;
  min-height: 40vh;
  margin-right: 0.8rem;
  padding: 1rem;
  border: 1px solid #e4e7ea;
  border-radius: 4px;
}
.sub_content_body .write_table tbody tr td ul.upload_desc li {
  font-size: 14px;
  color: #5a5e6a;
  line-height: 1.5;
}
.sub_content_body .write_table tbody tr td .hint {
  position: relative;
  padding: 0.4rem 0 0 2rem;
  font-size: 14px;
  color: #D50136;
}
.sub_content_body .write_table tbody tr td .hint:before {
  content: "";
  position: absolute;
  top: 55%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url(/@/assets/images/sub/icon_hint.png) no-repeat center center/contain;
}
.sub_content_body .write_table tbody tr td select {
  height: 42px;
}
.sub_content_body .write_table tbody tr td input[type=text] {
  height: 42px;
  border-radius: 4px;
}
.sub_content_body .write_table tbody tr td .tel_input_box {
  display: flex;
  align-items: center;
  gap: 0 0.8rem;
}
.sub_content_body .write_table tbody tr td .tel_input_box > :is(select, input) {
  max-width: 100px;
  min-width: unset !important;
  width: 100% !important;
}
.sub_content_body .write_table.type2 th {
  background: #f2f3f5;
  padding: 1.3rem 1.5rem;
  font-weight: 500;
}
.sub_content_body .write_table.type2 th span.title_desc {
  display: block;
  font-size: 1.4rem;
}
.sub_content_body .write_table.type2 td {
  padding: 0.7rem 2.4rem;
}
.sub_content_body .write_table.type2 td ul:not(.upload_desc) {
  display: flex;
  align-items: center;
  gap: 0 1rem;
}
.sub_content_body .write_table.type2 td ul:not(.upload_desc) li {
  display: flex;
  align-items: center;
  gap: 0 0.8rem;
}
.sub_content_body .write_table.type2 td ul:not(.upload_desc) li label {
  cursor: pointer;
}
.sub_content_body .write_table.type2 td input[type=text] {
  width: 100%;
}
.sub_content_body .write_table.type2 td select {
  min-width: 200px;
}
.sub_content_body .write_table.type2 td .btn_box {
  display: flex;
  align-items: center;
  gap: 0 1rem;
}
.sub_content_body .write_table.type2 td .btn_box input[type=text] {
  width: calc(100% - 122px);
}
.sub_content_body .write_table.type2 td .btn_box.etc1 input[type=text] {
  width: calc(100% - 160px);
}
.sub_content_body .write_table.type2 td .btn_box.etc1 button {
  width: 160px;
}
.sub_content_body .inner_table_type_1 {
  width: 100%;
  table-layout: fixed;
  border-top: 1px solid #e4e7ea;
}
.sub_content_body .inner_table_type_1 thead tr th {
  background: #f2f3f5;
  padding: 0.7rem 1.6rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #5a5e6a;
}
.sub_content_body .inner_table_type_1 tbody tr {
  border-bottom: 1px solid #f2f3f5;
}
.sub_content_body .inner_table_type_1 tbody tr td {
  padding: 1.5rem;
  font-weight: 500;
  color: #212121;
}
.sub_content_body .inner_table_type_2 {
  width: 100%;
  table-layout: fixed;
  border-top: 1px solid #e4e7ea;
}
.sub_content_body .inner_table_type_2 tr {
  border-bottom: 1px solid #e4e7ea;
}
.sub_content_body .inner_table_type_2 tr th {
  background: #f2f3f5;
  padding: 0.9rem 2.3rem;
  font-weight: 600;
  color: #083b87;
}
.sub_content_body .inner_table_type_2 tr td {
  background: #fff;
  padding: 0.9rem 1rem;
  font-weight: 400;
  color: #3b3b40;
}
.sub_content_body .sub_tab_box {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  border-bottom: 1px solid #e4e7ea;
}
.sub_content_body .sub_tab_box > li a {
  position: relative;
  padding: 1.5rem 2.25rem;
  font-size: 20px;
  font-weight: 600;
  color: #707586;
  display: block;
}
.sub_content_body .sub_tab_box > li a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 15px;
  background: #ccd1d6;
  transform: translateY(-50%);
}
.sub_content_body .sub_tab_box > li.active a {
  font-weight: 700;
  color: #865dd5;
}
.sub_content_body .sub_tab_box > li.active a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 6px;
  background: #865dd5;
}
.sub_content_body .sub_tab_box > li:last-child a:after {
  display: none;
}
.sub_content_body .width_scroll_box {
  position: relative;
  width: 100%;
}
.sub_content_body .width_scroll_box button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 34px;
  height: 36px;
  display: block;
  border: 1px solid #e4e7ea;
  z-index: 2;
}
.sub_content_body .width_scroll_box button.hidden {
  display: none;
}
.sub_content_body .width_scroll_box button[class*=left] {
  left: 0;
  background: url(/@/assets/images/sub/icon_prev_page.png) no-repeat center center/24px, #fff;
  border: 1px solid #e4e7ea;
}
.sub_content_body .width_scroll_box button[class*=right] {
  right: 0;
  background: url(/@/assets/images/sub/icon_next_page.png) no-repeat center center/24px, #fff;
  border: 1px solid #e4e7ea;
}
.sub_content_body .width_scroll_box .sub_tab_box {
  position: relative;
  max-width: 400vw;
  width: 100%;
  flex-wrap: nowrap;
  overflow: auto;
  z-index: 1;
}
.sub_content_body .width_scroll_box .sub_tab_box > li {
  flex-shrink: 0;
  white-space: nowrap;
}
.sub_content_body .width_scroll_box .sub_tab_box::-webkit-scrollbar {
  display: none;
}

/*반응형 1440*/
@media all and (max-width: 1440px) {
  .sub_content_body {
    padding: 10rem 1.6rem 0 1.6rem;
  }
}
/*태블릿 반응형 1024*/
@media all and (max-width: 1024px) {
  /*레이아웃*/
  .sub_content_body > .sub_content_box {
    margin-left: 0;
  }
}
/*모바일 반응형 768*/
@media all and (max-width: 768px) {
  /*버튼*/
  .btn_navy, .btn_purple, .btn_gray {
    height: 38px;
    line-height: 38px;
  }
  /*탭박스*/
  .sub_content_body .sub_tab_box {
    max-width: 400vw;
    overflow: auto;
  }
  .sub_content_body .sub_tab_box > li {
    flex-shrink: 0;
  }
  .sub_content_body .sub_tab_box > li a {
    font-size: 18px;
  }
  .sub_content_body .sub_tab_box::-webkit-scrollbar-track {
    background: transparent;
  }
  .sub_content_body .sub_tab_box::-webkit-scrollbar-thumb {
    background: transparent;
  }
  .breadcrumb {
    gap: 0 1.6rem !important;
  }
  .breadcrumb > li > a {
    font-size: 1.4rem;
  }
  .breadcrumb > li:not(:last-child):after {
    right: -1.2rem !important;
    width: 0.8rem;
    height: 0.8rem;
  }
  /*서브페이지 테이블 제목*/
  .table_sbjt {
    padding-left: 1rem !important;
    font-size: 2rem !important;
  }
  .table_sbjt:before {
    top: 6px !important;
    width: 6px !important;
    height: 6px !important;
  }
  .table_sbjt:after {
    top: 14px !important;
    width: 6px !important;
    height: 6px !important;
  }
  /*inner_table*/
  .inner_table_type_2 {
    font-size: 14px;
  }
  .inner_table_type_2 colgroup {
    display: none;
  }
  .inner_table_type_2 tr {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: none;
  }
  .inner_table_type_2 tr th {
    width: 50%;
    border-bottom: 1px solid #e4e7ea;
  }
  .inner_table_type_2 tr td {
    width: 50%;
    border-bottom: 1px solid #e4e7ea;
  }
  /*전화번호 입력창*/
  .tel_input_box {
    gap: 0 0.4rem !important;
  }
  .tel_input_box select {
    max-width: 70px !important;
    padding-right: 2rem;
  }
}
/*모바일 세부 반응형 400*/
@media all and (max-width: 400px) {
  .tel_input_box {
    flex-wrap: wrap;
    gap: 0.4rem !important;
  }
  .tel_input_box span {
    display: none;
  }
  .tel_input_box input[type=text], .tel_input_box select {
    max-width: 400px !important;
    padding-right: 2rem;
  }
}