<ejs-dialog :enableResize='true' :allowDragging='true' :visible='false' ref="popupXemDangKy"
    :animationSettings='animationSettings' showCloseIcon=true width='60%' :target='target' :open="dialogOpen"
    :close="onClickThoat" header="XEM ĐĂNG KÝ">
    <div class="modal-content popup-box">
        <!-- <breadcrumb :header="header" /> -->
        <div class="list-actions-top">
            <ul class="list">
                <li>
                    <a @click="TimKiem()">
                        <span class="icon one-search"></span> Tìm kiếm
                    </a>
                </li>
                <li>
                    <a @click="xoaDangKy()">
                        <span class="icon one-delete"></span> Xóa
                    </a>
                </li>
            </ul>
        </div>
        <div class="popup-body">
            <div class="box-form">
                <div class="legend-title">
                    <div>Danh sách vật tư đã đăng ký</div>
                </div>
                <div class="table-content">
                    <DataGrid v-bind:columns="[
                        {fieldName: 'MAPHIEU_DK', headerText: 'Mã phiếu ĐK', allowFiltering: true, allowSorting: false},
                        {fieldName: 'TEN_VT', headerText: 'Tên vật tư', allowFiltering: true, allowSorting: false},
                        {fieldName: 'SL_DANGKY', headerText: 'Số lượng ĐK', allowFiltering: true, allowSorting: false},
                        ]" v-bind:dataSource="listDK" :showFilter="true"
                        @selectedRowChanged="listDSDK_selectedRowChanged"
                        @selectedItemsChanged="listDK_selectedItemChanged" :showColumnCheckbox="true"
                        dataKeyField="DANGKY_ID" :allowPaging="true" :enablePagingServer="false"
                        :enabledSelectFirstRow="false">
                    </DataGrid>
                </div>
            </div>
        </div>
    </div>
</ejs-dialog>