<b-modal ref="ChiTietKenhTheoPhien" size="xl" hide-header hide-header-close hide-footer body-class="p-0"
  no-close-on-backdrop @show="handleShowModal">
  <div class="modal-content popup-box">
    <div class="popup-header">
      <div class="title">
        <span class="icon fa fa-info"></span>Chi tiết kênh theo phiên
      </div>
      <div class="close -ap icon-close" @click="hideModal"></div>
    </div>
    <div class="list-actions-top">
      <ul class="list">
        <li>
          <a href="javascript: void(0)" title="Huỷ tải lên" v-on:click.prevent="hideModal">
            <span class="icon ui-1_circle-remove nc-icon-glyph"></span> Đóng
          </a>
        </li>
      </ul>
    </div>
    <div class="popup-body">
      <div class="row">
        <div class="col-8">
          <div class="box-form ds-diemcau">
            <div class="legend-title">Danh sách điểm cầu</div>
            <DataGrid :columns="[
              {fieldName: 'ma_tb', headerText: 'Số máy/Acc'},
              {fieldName: 'ten_diemcau', headerText: 'Tên điểm cầu' },
              {fieldName: 'loaihinh_tb', headerText: 'Loại hình' },
              {fieldName: 'diachi_ld', headerText: 'Địa chỉ lắp đặt' },
              ]" :dataSource="dsTB_data" @rowSelected="tbDanhSachThueBao_rowSelected" />
          </div>
        </div>
        <div class="col-4">
          <div class="box-form">
            <div class="legend-title">
              Thông số kỹ thuật
            </div>
            <div class="value">
              <div style="height: 250px; overflow-y: scroll;" class="form-control" v-html="ttKyThuat" readonly
                rows="12">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-form">
        <div class="legend-title">Chi tiết thi công</div>
        <DataGrid3 :columns="[
          { fieldName: 'huonggiao', headerText: '',allowFiltering: true,isGroupedColumn: true,allowSorting: true},
          { fieldName: 'dvg', headerText: 'Đơn vị giao' },
          { fieldName: 'ngay_giao', headerText: 'Ngày giao' },
          { fieldName: 'nv_giao', headerText: 'Người giao' },
          { fieldName: 'nd_giao', headerText: 'Nội dung giao' },
          { fieldName: 'dvn', headerText: 'Đơn vị nhận' },
          { fieldName: 'ngay_tra', headerText: 'Ngày trả' },
          { fieldName: 'nd_tra', headerText: 'Nội dung trả' },
          { fieldName: 'lydotra', headerText: 'Lý do trả' },
          { fieldName: 'ngay_th', headerText: 'Ngày CN' },
          { fieldName: 'nv_th', headerText: 'Người CN' },
          { fieldName: 'so_dt', headerText: 'Điện thoại liên hệ' },
          { fieldName: 'trangthai_ph', headerText: 'Trạng thái phiếu' },
          { fieldName: 'nd_thuchien', headerText: 'ND thực hiện' },
          { fieldName: 'ghichu', headerText: 'Ghi chú' },
          { fieldName: 'nguoi_xuly', headerText: 'Người thực hiện' },
          ]" :dataSource="dsPhieuTH" panelDataHeight="120px"  />
      </div>
    </div>
  </div>
</b-modal>