<div>
    <div class="tab-content pad0 bor0 mart10" style="box-shadow: none;">
        <div class="info-row">
            <!-- <select3 label="Loại HĐ" labelWidth="70" :options="listContractType" valueField="ID" labelField="NAME"
                v-model="value.contractType" /> -->
            <!-- <vue-select v-model="value.contractType" :labelWidth="'70'" :options="listContractType" id="loaiHD"
                labelField="NAME" valueField="ID" label="Loại HĐ"></vue-select> -->
            <div class="key w80">Loại HĐ</div>
            <div class="value">
                <select2 v-model="value.contractType" :required="true"
                    :options="listContractType">
                </select2>
            </div>
        </div>
        <div class="box-move-select-table">
            <div class="box-col">
                <div class="table-content" style="height: 250px">

                    <vue-table v-model="currentRecordContractTypeDeliver" :options="listContractTypeDeliver"
                        @input="onCheckBoxDeliver" :config="contractTypeHeaderDeliver" :unique="'kieuld_id'"
                        :multiple="true"></vue-table>
                </div>

            </div>
            <div class="actions">
                <button class="btn" @click="onCheckBoxDeliverRemove" :disabled="tempContractTypeDeliver.length == 0">
                    <span class="fa fa-angle-right"></span>
                </button>
                <button class="btn" :disabled="listContractTypeDeliver.length == 0" @click="handDataRight">
                    <span class="fa fa-angle-double-right"></span>
                </button>
                <button class="btn" @click="onCheckBoxNotDeliverToDeliver"
                    :disabled="tempContractTypeNotDeliver.length == 0">
                    <span class="fa fa-angle-left"></span>
                </button>
                <button class="btn" :disabled="listContractTypeNotDeliver.length == 0" @click="handDataLeft">
                    <span class="fa fa-angle-double-left"></span>
                </button>
            </div>
            <div class="box-col">
                <div class="table-content" style="height: 250px">

                    <!-- <gridview id="'unassigned'" keyRecord="id" :datalist="unassignedType"
                    :headers="[{ text: 'Kiểu lắp đặt chưa gán', fieldtype: '', name: 'a' }]" v-bind:checkheader="true"
                    lastcoltemplate="0" @recordChange="onGridChuaGan" paginationCustom='true'></gridview> -->
                    <vue-table v-model="currentRecordContractTypeNotDeliver"  :options="listContractTypeNotDeliver"
                        :config="contractTypeHeaderNotDeliver" :unique="'kieuld_id'" :multiple="true"
                        @input="onCheckBoxNotDeliver"></vue-table>
                </div>

            </div>
        </div>
    </div>


</div>