<div>

   
        <ul class="list">
            <li>
                <a href="#">
                    <span class="icon one-search"></span> Tìm kiếm
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon one-print"></span>In thư
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon one-download"></span>Xuất File
                </a>
            </li>
            <li>
                <a v-b-modal.popup-inthuxncn-sapxep>
                    <span class="icon one-sort"></span> Sắp xếp
                </a>
                <InThuXacNhanCongNoSapXep />
            </li>
            <li>
                <a href="#">
                    <span class="icon one-file-plus"></span>Tạo DL
                </a>
            </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="box-form">
            <div class="pull-right">
                <div class="info-row marb0">
                    <div class="key bold">Kỳ hóa đơn</div>
                    <div class="value">
                        <div class="select-custom">
                            <select name="" id="" class="form-control tright red">
                                <option value="">20210201</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="box-form">
            <div class="legend-title">Thông tin tìm kiếm</div>
            <div class="row">
                <div class="col-sm-3 col-12">
                    <div class="info-row">
                        <div class="key">
                            <div class="check-action">
                                <input type="checkbox" class="check">
                                <span class="name">Đơn vị</span>
                            </div>
                        </div>
                        <div class="value">
                            <div class="select-custom">
                                <select name="" id="" class="form-control">
                                    <option value="">Tất cả</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-12">
                    <div class="info-row">
                        <div class="key">
                            <div class="check-action">
                                <input type="checkbox" class="check">
                                <span class="name">Mã TT</span>
                            </div>
                        </div>
                        <div class="value">
                            <input type="text" class="highlight form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-12">
                    <div class="info-row">
                        <div class="key">
                            <div class="check-action">
                                <input type="checkbox" class="check">
                                <span class="name">Hình thức TT</span>
                            </div>
                        </div>
                        <div class="value">
                            <div class="select-custom">
                                <select name="" id="" class="form-control">
                                    <option value="">Tất cả</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-12">
                    <div class="info-row">
                        <div class="key">
                            <div class="check-action">
                                <input type="checkbox" class="check">
                                <span class="name">Nhóm KH</span>
                            </div>
                        </div>
                        <div class="value">
                            <div class="select-custom">
                                <select name="" id="" class="form-control">
                                    <option value="">Tất cả</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-12">
                    <div class="info-row">
                        <div class="key">
                            <div class="check-action">
                                <input type="checkbox" class="check">
                                <span class="name">Nhân viên QL</span>
                            </div>
                        </div>
                        <div class="value">
                            <div class="select-custom">
                                <select name="" id="" class="form-control">
                                    <option value="">Tất cả</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-12">
                    <div class="info-row">
                        <div class="key">
                            <div class="check-action">
                                <input type="checkbox" class="check">
                                <span class="name">NVTC</span>
                            </div>
                        </div>
                        <div class="value">
                            <div class="select-custom">
                                <select name="" id="" class="form-control">
                                    <option value="">Tất cả</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-12">
                    <div class="info-row">
                        <div class="key">
                            <div class="check-action">
                                <input type="checkbox" class="check">
                                <span class="name">Phân loại KH</span>
                            </div>
                        </div>
                        <div class="value">
                            <div class="select-custom">
                                <select name="" id="" class="form-control">
                                    <option value="">Tất cả</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-12">
                    <div class="info-row">
                        <div class="key">
                            <div class="check-action">
                                <input type="checkbox" class="check">
                                <span class="name">Loại KH</span>
                            </div>
                        </div>
                        <div class="value">
                            <div class="select-custom">
                                <select name="" id="" class="form-control">
                                    <option value="">Tất cả</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="legend-title">Danh sách công nợ</div>
            <div class="table-content">
                <table class="table-result center nowrap">
                    <thead class="center">
                        <tr>
                            <th class="w20"></th>
                            <th class="w20">
                            </th>
                            <th>STT</th>
                            <th>Mã TT</th>
                            <th>Tên TT</th>
                            <th>Địa chỉ TT</th>
                            <th>Địa chỉ CT</th>
                            <th>Nhóm KH</th>
                            <th>Số ĐT</th>
                            <th>Fax</th>
                            <th>Nhóm C.Nợ</th>
                            <th>Tổng nợ</th>
                            <th>Nợ âm</th>
                            <th>Mã NVTC</th>
                        </tr>
                        <tr>
                            <th class="w20">
                                <span class="nc-icon-glyph ui-2_filter text-main"></span>
                            </th>
                            <th class="w20">
                                <div class="check-action">
                                    <input type="checkbox" class="check">
                                    <span class="name"></span>
                                </div>
                            </th>
                            <th class="w80">
                                <div class="input-icon-right">
                                    <input type="text" class="form-control">
                                    <span class="icon nc-icon-outline ui-1_zoom"></span>
                                </div>
                            </th>
                            <th>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control">
                                    <span class="icon nc-icon-outline ui-1_zoom"></span>
                                </div>
                            </th>
                            <th>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control">
                                    <span class="icon nc-icon-outline ui-1_zoom"></span>
                                </div>
                            </th>
                            <th>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control">
                                    <span class="icon nc-icon-outline ui-1_zoom"></span>
                                </div>
                            </th>
                            <th>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control">
                                    <span class="icon nc-icon-outline ui-1_zoom"></span>
                                </div>
                            </th>
                            <th>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control">
                                    <span class="icon nc-icon-outline ui-1_zoom"></span>
                                </div>
                            </th>
                            <th>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control">
                                    <span class="icon nc-icon-outline ui-1_zoom"></span>
                                </div>
                            </th>
                            <th>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control">
                                    <span class="icon nc-icon-outline ui-1_zoom"></span>
                                </div>
                            </th>
                            <th>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control">
                                    <span class="icon nc-icon-outline ui-1_zoom"></span>
                                </div>
                            </th>
                            <th>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control">
                                    <span class="icon nc-icon-outline ui-1_zoom"></span>
                                </div>
                            </th>
                            <th>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control">
                                    <span class="icon nc-icon-outline ui-1_zoom"></span>
                                </div>
                            </th>
                            <th>
                                <div class="input-icon-right">
                                    <input type="text" class="form-control">
                                    <span class="icon nc-icon-outline ui-1_zoom"></span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="w20">
                                <span class="fa fa-play text-main"></span>
                            </td>
                            <td class="w20 selected">
                                <div class="check-action">
                                    <input type="checkbox" class="check">
                                    <span class="name"></span>
                                </div>
                            </td>
                            <td class="highlight1">1</td>
                            <td class="highlight1">NDH-02-0023923</td>
                            <td class="highlight1">Vũ Văn Dư</td>
                            <td class="highlight1">An Nông - Nam Tiến - Nam Trực - Nam ...</td>
                            <td class="highlight1">An Nông - Nam Tiến - Nam Trực - Nam ...</td>
                            <td class="highlight1">Cá nhân</td>
                            <td class="highlight1">0912097682</td>
                            <td class="highlight1"></td>
                            <td class="highlight1"></td>
                            <td class="highlight1">195.725</td>
                            <td class="highlight1">0</td>
                            <td class="highlight1"></td>
                        </tr>
                        <tr>
                            <td class="w20">
                            </td>
                            <td class="w20">
                                <div class="check-action">
                                    <input type="checkbox" class="check">
                                    <span class="name"></span>
                                </div>
                            </td>
                            <td class="">2</td>
                            <td class="">NDH-02-0023923</td>
                            <td class="">Vũ Văn Dư</td>
                            <td class="">An Nông - Nam Tiến - Nam Trực - Nam ...</td>
                            <td class="">An Nông - Nam Tiến - Nam Trực - Nam ...</td>
                            <td class="">Cá nhân</td>
                            <td class="">0912097682</td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class="">195.725</td>
                            <td class="">0</td>
                            <td class=""></td>
                        </tr>
                        <tr>
                            <td class="w20">
                            </td>
                            <td class="w20">
                                <div class="check-action">
                                    <input type="checkbox" class="check">
                                    <span class="name"></span>
                                </div>
                            </td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                        </tr>
                        <tr>
                            <td class="w20">
                            </td>
                            <td class="w20">
                                <div class="check-action">
                                    <input type="checkbox" class="check">
                                    <span class="name"></span>
                                </div>
                            </td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                        </tr>
                        <tr>
                            <td class="w20">
                            </td>
                            <td class="w20">
                                <div class="check-action">
                                    <input type="checkbox" class="check">
                                    <span class="name"></span>
                                </div>
                            </td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                        </tr>
                        <tr>
                            <td class="w20">
                            </td>
                            <td class="w20">
                                <div class="check-action">
                                    <input type="checkbox" class="check">
                                    <span class="name"></span>
                                </div>
                            </td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tc-pagination">
                <a href="#" class="btn  one-arrow-left-forward"></a>
                <a href="#" class="btn fa fa-angle-double-left"></a>
                <a href="#" class="btn fa fa-angle-left"></a>
                <span class="text">Bản ghi</span>
                <div class="dropdown inline">
                    <div class="fw6 input-number" data-toggle="dropdown">
                        <span class="text-main">10</span>/1033
                    </div>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">10</a>
                        <a href="#" class="dropdown-item">20</a>
                    </div>
                </div>

                <a href="#" class="btn fa fa-angle-right"></a>
                <a href="#" class="btn fa fa-angle-double-right"></a>
                <a href="#" class="btn one-arrow-right-forward"></a>
            </div>
        </div>
    </div>
    <b-modal id="bv-modal-example" hide-footer>
        <template #modal-title>
          Using <code>$bvModal</code> Methods
        </template>
        <div class="d-block text-center">
          <h3>Hello From This Modal!</h3>
        </div>
        <b-button class="mt-3" block @click="$bvModal.hide('bv-modal-example')">Close Me</b-button>
      </b-modal>
</div>