{
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "useTabs": false,
  "endOfLine": "auto",
  "printWidth": 130,
  "bracketSameLine": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
