<div class="row">
  <div class="col-12">
    <!-- Thêm một div để nhóm nav tabs và nút "Xem danh sách" -->
    <div class="d-flex justify-content-between align-items-center"> 
      <div class="nav tabs tab-over">
        <a href="#tabInterface" data-toggle="tab" :class="{active: currentTab === 1}" @click="currentTab = 1" v-if="isLineCard"
          >Interface</a
        >
        <a href="#tabPower" data-toggle="tab" :class="{active: currentTab === 2}" @click="currentTab = 2" v-if="isPowerCard">Power</a>
        <a href="#tabConsole" data-toggle="tab" :class="{active: currentTab === 3}" @click="currentTab = 3" v-if="isConsoleCard">Console</a>
      </div>
      <button class="btn btn-second btn-detail key w120" @click="openModal">Xem danh sách</button>
    </div>
    <div class="tab-content">
      <div class="tab-pane" id="tabInterface" :class="{active: currentTab === 1}" v-if="isLineCard">
        <div class="row">
          <PortData
            :deviceDetailData="deviceData"
            portType="Interface"
            :portTypeData="portTypeInterfaceList"
            :portListData="portInterfaceList"
            :hasLineNumber="hasLineNumber"
            :loaiCongList="loaiCongList"
            :mucDichList="mucDichList"
            :bangThongList="bangThongList"
            :thongtinModuleList="thongtinModuleList"
          >
          </PortData>
        </div>
      </div>
      <div class="tab-pane" id="tabPower" :class="{active: currentTab === 2}" v-if="isPowerCard">
        <div class="row">
          <PortData
            portType="Power"
            :portTypeData="portTypePowerList"
            :portListData="portPowerList"
            :hasLineNumber="hasLineNumber"
            :loaiCongList="loaiCongList"
            :mucDichList="mucDichList"
            :bangThongList="bangThongList"
            :thongtinModuleList="thongtinModuleList"
          ></PortData>
        </div>
      </div>
      <div class="tab-pane" id="tabConsole" :class="{active: currentTab === 3}" v-if="isConsoleCard">
        <div class="row">
          <PortData
            portType="Console"
            :portTypeData="portTypeConsoleList"
            :portListData="portConsoleList"
            :hasLineNumber="hasLineNumber"
            :loaiCongList="loaiCongList"
            :mucDichList="mucDichList"
            :bangThongList="bangThongList"
            :thongtinModuleList="thongtinModuleList"
          ></PortData>
        </div>
      </div>
    </div>
  </div>
  <CreatePortType ref="createPortType" :portType="currentTab" :portTypeList="currentPortTypeList"/>
</div>
