<div>
  <div class="col-sm-12 col-12">
    <div class="info-row">
      <div class="key">Trang bị</div>
      <div class="value">
        <SelectExt
          v-model="cboTrangBiGP.Value"
          :dataSource="cboTrangBiGP.DataSource"
          dataValueField="trangbi_id"
          dataTextField="tentrangbi" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7 col-12">
        <div class="info-row">
          <div class="key">Số sim</div>
          <div class="value">
            <input type="text" v-model.trim="txtSoSimGphone.Text" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-5 col-12">
        <div class="check-action mart7">
          <input type="checkbox" v-model="checkVSVX" class="check">
          <span class="name">VSVX</span>
        </div>
      </div>
    </div>
    <div class="row">
      <component v-for="comboDonVi in dsComboDonVi" :ref="comboDonVi.key" :key="comboDonVi.key" v-bind:is="comboDonVi" />
    </div>
  </div>
</div>
