<div>
    <div class="row">
        <div class="col-12">
            <DataGrid ref="gridItems" :allowPaging="true" :enablePagingServer="false" v-bind:columns="[
                    {fieldName: 'MA_HT', headerText: 'Mã hạ tầng'},
                    {fieldName: 'TEN_HT', headerText: 'Tên hạ tầng'},
                    {fieldName: 'MA_TB', headerText: 'Mã TB'},
                    {fieldName: 'TEN_TB', headerText: 'Tên thuê bao'},
                    {fieldName: 'DIACHI_TB', headerText: 'Địa chỉ'},
                    ]" v-bind:dataSource="dataItems"></DataGrid>
            </DataGrid>
        </div>
    </div>
</div>