.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.disabled_color {
  color: gray !important;
}

.more a {
  text-decoration: none;
}

.modal-dialog {
  max-width: 60vw;
}

.modal-body .page-content {
  position: inherit !important;
}

.main-wrapper-popup-chuyento .page-content {
  position: inherit !important;
}

