<b-modal ref="LichSuModal" size="xl" hide-header hide-header-close hide-footer body-class="p-0" no-close-on-backdrop
  @show="handleShowModal">
  <div class="modal-content popup-box">
    <div class="popup-header">
      <div class="title">
        <Icon icon="ic:baseline-history" width="20" height="20" /> Lịch sử cập nhật tòa nhà
      </div>
      <div class="close -ap icon-close" @click="hideModal"></div>
    </div>
    <div class="list-actions-top">
      <ul class="list">
        <li>
          <a href="javascript: void(0)"  @click="search_click">
            <span class="icon one-search"></span>Tìm kiếm
          </a>
        </li>
        <li>
          <a href="javascript: void(0)" title="Huỷ" v-on:click.prevent="hideModal">
            <span class="icon nc-icon-glyph ui-1_circle-remove"></span> Hủy
          </a>
        </li>
      </ul>
    </div>
    <div class="popup-body">
      <div class="box-form">
        <div class="legend-title">
          <span @click="openBox1=!openBox1" class="fa icon"
              :class="{'fa-angle-up':openBox1, 'fa-angle-down':!openBox1,}"></span> Thông tin tìm kiếm
        </div>
        <div v-show="openBox1">
          <div class="row">
            <div class="col-sm-4 col-12">
              <div class="info-row">
                <div class="key">Mã tòa nhà</div>
                <div class="value">
                  <input v-model="txtMaToaNha" type="text" placeholder="Nhập mã tòa nhà" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-12">
              <div class="info-row">
                <div class="key">Tên tòa nhà</div>
                <div class="value">
                  <input v-model="txtTenToaNha" type="text" placeholder="Nhập tên tòa nhà" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-12">
              <div class="info-row">
                <div class="key">Loại biến động</div>
                <div class="value">
                  <select2 :options="[
                  {id: 0, text: 'Tất cả'},
                  {id: 1, text: 'Tạo mới'},
                  {id: 2, text: 'Cập nhật'},
                  {id: 3, text: 'Xóa'}
                  ]" v-model="loai_cn" 
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-form">
        <div class="legend-title">Lịch sử tìm kiếm</div>
        <DataGrid3  :dataSource="dsLichSu" :columns="tbColumns" :allowPaging="true"
          :enablePagingServer="false" :showFilter="true"
          />
      </div>
    </div>
  </div>
</b-modal>