<ejs-dialog :visible="visible" :isModal="true" :animationSettings="animationSettings" :showHeader="false" width="80%"
  height="auto" :showCloseIcon="false" ref="modalSubnet" @close="close">
  <div class="popup-box p-3 modal-subnet-wrapper">
    <!-- HEADER -->
    <div class="popup-header">
      <div class="title d-flex align-items-center">
        <span class="icon one-notepad"></span>
        <span>
          {{
          mode === 'VIEW'
          ? 'Chi tiết subnet'
          : mode === 'EDIT'
          ? 'Chỉnh sửa subnet'
          : null
          }}
        </span>

      </div>
      <div class="close -ap icon-close" @click="close"></div>
    </div>

    <!-- ACTION BUTTONS -->
    <div class="list-actions-top d-flex justify-content-between p-1">
      <ul class="list">
        <li v-if="activeTab===1">
          <b-link href="javascript:void(0)" @click="save" :disabled="mode === 'VIEW'">
            <span class="icon one-save"></span>
            Ghi lại
          </b-link>
        </li>

        <li>
          <b-link href="javascript:void(0)" @click="close" :disabled="mode === 'VIEW'">
            <span class="icon ui-1_circle-remove nc-icon-glyph"></span>
            Đóng
          </b-link>
        </li>
      </ul>

      <button v-if="activeTab===1" class="ms-auto btn-md btn btn-primary">Tự động sinh Ip</button>
    </div>

    <!-- FORM -->
    <main class="box-form mt-3">
      <!-- LEFT COLUMN -->
      <div class="tabs-wrapper">
        <div class="nav tab-over tabs">
          <a href="#tabThongTinChung" class="tab" :class="{ active: activeTab === 1}"
            @click.prevent="changeTab(1)">Thông tin chung</a>

          <a href="#tabSubnetCon" class="tab" :class="{ active: activeTab === 2 }" @click.prevent="changeTab(2)">
            Subnet Con
          </a>

          <a href="#tabIpStore" class="tab" :class="{ active: activeTab === 3 }" @click.prevent="changeTab(3)">
            Danh Sách Ip
          </a>

          <a href="#tabVrf" class="tab" :class="{ active: activeTab === 300 }" @click.prevent="changeTab(300)">
            VRF
          </a>

          <a href="#tabZone" class="tab" :class="{ active: activeTab === 301 }" @click.prevent="changeTab(3)">
            Zone
          </a>

          <a href="#tabThietBi" class="tab" :class="{ active: activeTab === 302 }" @click.prevent="changeTab(3)">
            Thiết Bị
          </a>
          <!-- <a href="#tabHaTangSubnet" class="tab" :class="{ active: activeTab === 4 }" @click.prevent="changeTab(4)">
            Hạ tầng ảo hóa / Smart Cloud / IDG / Backup
          </a> -->

          <a href="#tabLichSuThayDoi" class="tab" :class="{ active: activeTab === 5 }"
            @click.prevent="changeTab(5)">Lịch sử tác động</a>
        </div>

        <div class="tab-content">
          <div id="tabThongTinChung" class="tab-pane" :class="{ active: activeTab === 1 }">
            <ThongTinChung :currentItem="detailSubnetData" ref="thongtin" :mode="mode" />
          </div>

          <div id="tabSubnetCon" class="tab-pane" :class="{ active: activeTab === 2 }">
            <SubnetCon :mode="mode" :subnetConData="subnetConData" />
          </div>

          <div id="tabVrf" class="tab-pane" :class="{ active: activeTab === 300 }">
            <Vrf :mode="mode" :danhSachVrfData="danhSachVrfData" />
          </div>

          <div id="tabZone" class="tab-pane" :class="{ active: activeTab === 301 }">
            <IpStore :mode="mode" :danhSachIpData="danhSachIpData" />
          </div>


          <div id="tabIpStore" class="tab-pane" :class="{ active: activeTab === 3 }">
            <IpStore :mode="mode" :danhSachIpData="danhSachIpData" />
          </div>

          <!-- <div id="tabHaTangSubnet" class="tab-pane" :class="{ active: activeTab === 4 }">
            <HaTangSubnet :mode="mode" />
          </div> -->

          <div id="tabLichSuThayDoi" class="tab-pane" :class="{ active: activeTab === 5 }">
            <LichSuThayDoi :mode="mode" />
          </div>
        </div>
      </div>
      <!-- Thong Tin Chung -->
    </main>
  </div>
</ejs-dialog>