.modal-subnet-wrapper {
  .subnet-con-wrapper,
  .ip-store-wrapper {
    > .legend-title {
      padding: 6px;
      > p {
        margin-bottom: 0;
      }
    }
  }

  .invalidBox {
    border: 1px solid var(--danger);
    border-radius: 5px;
  }
}
