<div>
  <div class="box-form">
    <div class="row">
      <div class="col-12">
        <div class="info-row">
          <div class="key w120">Chọn loại hạ tầng</div>
          <div class="value">
            <SelectExt
              v-model="selectedHaTangType"
              :dataSource="dsHaTangTypes"
              dataTextField="TEN"
              dataValueField="ID"
              @change="onHaTangTypeChange()"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-form">
    <div class="row">
      <div class="col-12">
        <div class="legend-title">{{ currentHaTangTitle }}</div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <DataGrid
          :enablePagingServer="false"
          :enabledSelectFirstRow="false"
          v-bind:columns="
          [
            {fieldName: 'STT', headerText: 'STT', width: 70, textAlign: 'Center', allowSorting: false, allowFiltering: false},
            {fieldName: 'MA_HATANG', headerText: 'Mã hạ tầng', width: 150, textAlign: 'Left'},
            {fieldName: 'TEN_HATANG', headerText: 'Tên hạ tầng', width: 150, textAlign: 'Left'},
            {fieldName: 'CONG_NGHE', headerText: 'Công nghệ', width: 150, textAlign: 'Left'},
            {fieldName: 'IDC', headerText: 'IDC', width: 120, textAlign: 'Left'},
            {fieldName: 'NGUOI_QUANLY', headerText: 'Người quản lý', width: 150, textAlign: 'Left'},
            {fieldName: 'DONVI_QUANLY', headerText: 'Đơn vị quản lý', width: 150, textAlign: 'Left'},
            {fieldName: 'TRANGTHAI_CCDV', headerText: 'Trạng thái CCDV', width: 180, textAlign: 'Left'},
            {fieldName: 'ACTIONS', headerText: 'Thao tác', allowSorting: false, allowFiltering: false, textAlign: 'Center', template: actionColumn(this), width: 150, clipMode: 'None'}
          ]"
          :dataSource="currentDataSource"
          :allowPaging="true"
          ref="grdHaTang"
          :showColumnCheckbox="true"
          @rowSelected="grdHaTang_RowSelected"
        >
        </DataGrid>
      </div>
    </div>
  </div>
</div>
