<div class="row">
  <div class="col-12 col-sm-6">
    <div class="">
      <div class="box-fieldset">
        <div class="fieldset-title">Cuộc gọi</div>
        <div class="fieldset-action">
          <a href="javascript: void(0)" @click.prevent="btnGhiLai_click">Ghi lại</a>
        </div>
        <div class='row'>
            <div class='row'>

              <div class='col-sm-6 col-12'>
                <div class='info-row'>
                  <div class='key w80'>Ipcc ID</div>
                  <div class='value'>
                    <input type='text' class='form-control' v-model='this.thongtincuocgoi.CallID' disabled>
                  </div>
                </div>
              </div>
              <div class='col-sm-6 col-12'>
                <div class='info-row'>
                  <div class='key w80'>Số gọi</div>
                  <div class='value'>
                    <input type='text' class='form-control' v-model='this.thongtincuocgoi.Caller' disabled>
                  </div>
                </div>
              </div>
              <div class='col-sm-3 col-12'>
                <div class='info-row'>
                  <div class='key w80'>Giờ bắt đầu</div>
                  <div class='value'>
                    <input type='text' class='form-control' v-model='this.giobatdau' disabled>
                  </div>
                </div>
              </div>
              <div class='col-sm-3 col-12'>
                <div class='info-row'>
                  <div class='key w80'>Giờ kết thúc</div>
                  <div class='value'>
                    <input type='text' class='form-control' v-model='this.gioketthuc' disabled>
                  </div>
                </div>
              </div>
              <div class='col-sm-3 col-12'>
                <div class='info-row'>
                  <div class='key w80'>Thời lượng</div>
                  <div class='value'>
                    <input type='text' class='form-control' v-model='this.thoiluong' disabled>
                  </div>
                </div>
              </div>
              <div class='col-sm-3 col-12'>
                <div class='info-row'>
                  <div class='key w80'>Máy T/Nhận</div>
                  <div class='value'>
                    <input type='text' class='form-control' v-model='maynhan' disabled>
                  </div>
                </div>
              </div>
              <div class='col-12'>
                <div class='info-row'>
                  <div class='key w80'>Phân loại</div>
                  <div class='value'>
                    <select2 :z-index="2000" class="select2" placeholder="Chọn phân loại..." v-model="phanloai.value" :options="phanloai.Items.map(e => ({id: e.id, text: `${e.id}. ${e.text}`}))">
                    </select2>
                  </div>
                </div>
              </div>
              <div class='col-12'>
                <div class='info-row'>
                  <div class='key w80'>Nội dung</div>
                  <div class='value'>
                    <textarea class="form-control" rows="10" v-model="noidung"></textarea>
                  </div>
                </div>
              </div>

            </div>
            <!-- <div class="row">
              <div class="box-form">
                <div class="legend-title">Danh sách các xử lý liên quan</div>
                <DataGrid class="table-result table-gachle"
                      :columns="ds_XuLy.header"
                      :dataSource="ds_XuLy.list"
                      :showFilter="true"
                      ref="tbCongDoan"
                      :enabledSelectFirstRow="true"
                      @rowSelected=""
                      dataKeyField="" :showColumnCheckbox="false"
                      :allowPaging="true"
                      :enablePagingServer="false" />
              </div>
            </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-12 col-sm-6">
    <div class="box-form" style="height: 99%;">
      <div class="legend-title">Nhật ký điện thoại viên</div>
      <div style="height: 90%; width: 100%; border: 1px solid #ccc">
        <p></p>
      </div>
    </div>
  </div> -->
</div>
