
a.disabled { color:lightgray !important; }
a.disabled:hover { color:lightgray !important; }
.disabled { pointer-events: none; }
/deep/ .modal-body .page-content { position:inherit; }

.disabled { pointer-events: none; color:lightgray; border-color:lightgray; }
input.disabled, select.disabled, .disabled input, .disabled select, .disabled /deep/ .select2-selection { background-color: #EEE; color:lightgray;}
/deep/ .modal-body .page-content { position:inherit; }
li.active { background-color:lightblue; }
.mx-datepicker { width:100%; }
ul.form-control.listview { list-style:none; cursor: pointer; }
/deep/ .modal-dialog { max-width:60vw; }

input:invalid {
    border-color:red;
    background-color: lightcoral;
}
.btn-second { border-color: #0d6efd; }
/* 
a.disabled { color:lightgray !important; }
a.disabled:hover { color:lightgray !important; }
.disabled { pointer-events: none; color:lightgray; border-color:lightgray; }
input.disabled, select.disabled, .disabled input, .disabled select, .disabled .btn,.disabled /deep/ .select2-selection { background-color: #EEE; color:lightgray; border-color: lightgray; }
/deep/ .modal-body .page-content { position:inherit; }
li.active { background-color:lightblue; }
.mx-datepicker { width:100%; }
ul.form-control.listview { list-style:none; cursor: pointer; }
/deep/ .modal-dialog { max-width:60vw; }

/deep/ input:required { background-color:#FFF9EB; }
input:focus:invalid {
    border-color:red;
    background-color: lightcoral;
}
input:focus:valid {
    border-color:black;
    background-color: greenyellow;
}

.btn-second { border-color: #0d6efd; }
/deep/ .combobox-grid thead .e-columnheader { display:none; }
/deep/ .combobox-grid .grid-panel { width:auto; }
// /deep/ .combobox-grid .grid-ext .e-grid .e-filterbarcell { padding:0 !important; }
/deep/ .combobox-grid .e-grid .e-headercontent { overflow-y: scroll; }
/deep/ .combobox-grid .e-grid .e-headercontent .e-filterbarcell { padding:0 !important;}
/deep/ .combobox-grid .e-grid .e-gridcontent { max-height: 200px; overflow-y: scroll; }
/deep/ .combobox-grid .e-grid .e-gridcontent::-webkit-scrollbar-track {background: transparent}
 */
 @media (min-width: 992px) {
    .modal .modal-huge {
      max-width: 95% !important;
      width: 100% !important;
    }
  }
  @media (min-width: 576px) {
    .modal .modal-huge {
      max-width: 95% !important;
      width: 100% !important;
    }
  }