<div class="modal modal-show" id="popupTCTTTB">
    <div class="modal-dialog" style="width: 100%; max-width:80%;">
        <div class="modal-content popup-box">
            <div class="popup-header">
                <div class="title"><span class="icon one-notepad"></span> Nguồn KMLĐ</div>
                <div class="close -ap icon-close" data-dismiss="modal" @click="cloneModal">
                </div>
            </div>
            <div class="list-actions-top">
                <ul class="list">
                    <li>
                        <a @click="handChapNhan">
                            <span class="icon nc-icon-glyph ui-1_check-circle-08"></span> Chấp nhận
                        </a>
                    </li>
                </ul>
            </div>
            <div class="popup-body">
                <div class="box-form">

                    <div class="row">
                        <div class="col-sm-6 col-12" v-if="!form.tyle_vat">
                            <div class="info-row">
                                <div class="key w90">Tiền KM LĐ<span class="red"> *</span></div>
                                <div class="value">

                                    <ejs-numerictextbox :showSpinButton='false' id="tien_kmld" format="n0"
                                        :class="{ hasError: $v.form.tien_kmld.$error }" @change="onChangInput"
                                        v-model="form.tien_kmld" :value="form.tien_kmld"
                                        class="form-control tright pr-2">
                                    </ejs-numerictextbox>
                                </div>
                            </div>
                        </div>
                        <div class=" col-12" :class="form.tyle_vat ? '' : 'col-sm-6'">
                            <div class="info-row">
                                <span style="display: contents;" v-if="!form.tyle_vat">
                                    <div class="key w70">Vat KM<span class="red"> *</span></div>
                                    <div class="value">

                                        <ejs-numerictextbox id="vat_kmld" :showSpinButton='false' format="n0"
                                            :class="{ hasError: $v.form.vat_kmld.$error }" v-model="form.vat_kmld"
                                            :value="form.vat_kmld" class="form-control tright pr-2">
                                        </ejs-numerictextbox>
                                    </div>
                                </span>
                                <span style="display: contents;" v-if="form.tyle_vat">
                                    <div class="key w90">Tỷ lệ KM LĐ<span class="red"> *</span></div>
                                    <div class="value">

                                        <ejs-numerictextbox id="tyle_kmld" :showSpinButton='false' format="n1"
                                            :class="{ hasError: $v.form.tyle_kmld.$error }" v-model="form.tyle_kmld"
                                            :value="form.tyle_kmld" :max="100" class="form-control tright pr-2">
                                        </ejs-numerictextbox>
                                    </div>
                                </span>
                                <div class="value w30 nowrap padt7">
                                    <div class="check-action">
                                        <input type="checkbox" v-model="form.tyle_vat" class="check"
                                            :disabled="danhSachNguonKMDaGan && danhSachNguonKMDaGan.length > 0" />
                                        <span class="name text-danger d-block">Tỷ lệ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-move-select-table">
                        <div class="box-col box-form">
                            <div class="grid-ext grid-ext-freeze" style="height: 265px; overflow: hidden">
                                <ejs-grid height="150" ref="tabledanhSachNguonKMDaGan"
                                    :dataSource="danhSachNguonKMDaGan" :allowPaging="true" :pageSettings="pageSettings"
                                    :allowSorting="false" :allowFiltering="true" :allowSelection="true"
                                    :selectionSettings="selectionOptionsCheckboxMode" :pagerTemplate="pagerTemplate"
                                    gridLines="Both">
                                    <e-columns>
                                        <e-column template="<span class='fa selected-flag'></span>"
                                            :allowFiltering="false" filterTemplate="<span></span>" width="10"
                                            maxWidth="10" minWidth="10" textAlign="center"
                                            :customAttributes="{ class: 'column-selected-flag' }" :freeze="'left'"
                                            :allowResizing="false" clipMode="Ellipsis"></e-column>
                                        <e-column type="checkbox" class="custom-checkbox" width="30" maxWidth="30"
                                            minWidth="30"></e-column>
                                        <e-column field="ten_nguon" id="Grid1" headerText="Nguồn KM đã gán" width="120"
                                            headerTextAlign="center" textAlign="Left"
                                            :filter="{ operator: 'contains' }">
                                        </e-column>
                                        <e-column field="tyle_kmld" id="Grid1" headerText="Tỷ lệ KMLĐ" width="80"
                                            headerTextAlign="center" textAlign='Right'
                                            :filter="{ operator: 'contains' }">
                                        </e-column>
                                        <e-column field="tien_kmld" id="Grid1" headerText="Tiền KMLĐ" width="80"
                                            headerTextAlign="center" format='n0' textAlign='Right'
                                            :filter="{ operator: 'contains' }">
                                        </e-column>
                                        <e-column field="vat_kmld" id="Grid1" headerText="VAT KMLĐ" width="80"
                                            headerTextAlign="center" format='n0' textAlign='Right'
                                            :filter="{ operator: 'contains' }">
                                        </e-column>
                                        <e-column field="muc" id="Grid1" headerText="Mức ưu tiên" width="80"
                                            headerTextAlign="center" textAlign='Right'
                                            :filter="{ operator: 'contains' }">
                                        </e-column>
                                    </e-columns>
                                </ejs-grid>
                            </div>
                        </div>
                        <div class="actions">
                            <button class="btn" @click="handCheckBoxDaGanRemove">
                                <span class="fa fa-angle-right"></span>
                            </button>
                            <button class="btn" @click="handDataToRight">
                                <span class="fa fa-angle-double-right"></span>
                            </button>
                            <button class="btn" @click="handCheckBoxDaChuaRemove">
                                <span class="fa fa-angle-left"></span>
                            </button>
                            <button class="btn" @click="handDataToLeftight">
                                <span class="fa fa-angle-double-left"></span>
                            </button>
                        </div>
                        <div class="box-col box-form">
                            <div class="grid-ext grid-ext-freeze" style="height: 265px; overflow: hidden">
                                <ejs-grid height="150" ref="tabledanhSachNguonKMChuaGan"
                                    :dataSource="danhSachNguonKMChuaGan" :allowPaging="true"
                                    :pageSettings="pageSettings" :allowSorting="false" :allowFiltering="true"
                                    :allowSelection="true" :selectionSettings="selectionOptionsCheckboxMode"
                                    :pagerTemplate="pagerTemplate" gridLines="Both">
                                    <e-columns>
                                        <e-column template="<span class='fa selected-flag'></span>"
                                            :allowFiltering="false" filterTemplate="<span></span>" width="10"
                                            maxWidth="10" minWidth="10" textAlign="center"
                                            :customAttributes="{ class: 'column-selected-flag' }" :freeze="'left'"
                                            :allowResizing="false" clipMode="Ellipsis"></e-column>
                                        <e-column type="checkbox" class="p-0" textAlign="center" width="15"
                                            maxWidth="15" minWidth="15"></e-column>
                                        <e-column field="ten_nguon" id="Grid1" headerText="Nguồn KM chưa gán"
                                            width="120" headerTextAlign="center" :filter="{ operator: 'contains' }">
                                        </e-column>
                                    </e-columns>
                                </ejs-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>