.btn-check-reserve {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}

.unset {
  overflow: unset;
}
#check_reserve .input {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  border-radius: 5px;
  padding: 15px 28px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.1s;
}

#check_reserve .input::placeholder {
  color: #a9a9a9;
}
.input-form::placeholder {
  font-weight: 100 !important;
  color: #a9a9a9;
}
#check_reserve .spec-input {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  transition: border-color 0.1s;
}
#check_reserve .spec-input input {
  outline: none;
  border: none;
  border-color: #0d4221;
  border-width: 1px;
}

#check_reserve .spec-input:focus-within {
  border-color: #0d4221;
  border-width: 1px;
}

.short-input {
  width: 68px !important;
  text-align: center;
  pointer-events: none;
  color: #232323;
}

#reserve .step {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #eaeaea;
  border-radius: 50%;
}
#reserve .step.active {
  background-color: #0d4221;
}
#reserve .step.step-1::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  width: 100%;
  height: 2px;
  background-color: #eaeaea;
}

.btn-choose-branch {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 48px;
  border-radius: 3px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  background-color: #f5f5f5;
  padding: 9px 0px;
  color: var(--dark-grey);
  border: 1px solid #d9d9d9;
}

#reserve .active {
  background-color: #0d4221;
  color: white !important;
}

#reserve .disable {
  background-color: #eaeaea;
  color: #c9c9c9;
  border-color: #eaeaea;
  pointer-events: none;
}

#reserve .btn-pick-time {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  transition: 0.15s;
  will-change: background-color, color, border-color;
  cursor: pointer;
}

#reserve .time-disable {
  background-color: #e9e9e9;
  color: #cbcbcb;
  border-color: #d9d9d9;
  pointer-events: none;
}

#form .full-width {
  margin-left: -20px;
  width: calc(100% + 40px);
}

#form .selected_summary {
  position: sticky;
  top: 70px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 56px;
  background-color: #f9f9f9;
  margin: 0;
  border-bottom: 1px solid #eaeaea;
}

#form .input-form {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 100;
  height: 48px;
  border: none;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  padding: 0 20px;
  font-size: 16px;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.1s;
  font-family: inherit;
}
#form input:focus {
  outline: none;
  border-color: #0d4221;
  border-width: 1.2px;
}
#form .text-esset {
  font-size: 16px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
#form .input::placeholder {
  color: grey-text;
}

#form .hr {
  position: relative;
  background-color: #f5f5f5;
  width: 100%;
  height: 4px;
  margin: 30px 0 0 0;
}
#form .hr {
  box-sizing: unset;
}

#form .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  padding-left: 36px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: transparent !important;
}

#agree-term .sub-text {
  font-weight: 400;
  margin-bottom: 23px;
}

#agree-term .text {
  font-weight: 600;
  margin-bottom: 19px;
}

#form .option .selected {
  margin-left: -24px !important;
}

#form .input-wrapper {
  position: relative;
}
@media (min-width: 768px) {
  #check_reserve .input {
    padding: 15px 26px;
  }
}

@media (max-width: 768px) {
  #form .selected_summary {
    margin-left: calc(-50vw + 50%);
    top: 80px;
    width: 100vw;
  }
  #check_reserve .input {
    font-size: 14px;
  }
  #form .input-form {
    font-size: 14px;
  }
  #agree-term .sub-text {
    margin-bottom: 19px;
  }
  #agree-term .text {
    font-weight: 700;
    margin-bottom: 23px;
  }
}
