a.disabled { color:lightgray !important; }
a.disabled:hover { color:lightgray !important; }
.disabled { pointer-events: none; }

.luong-phieu-modal .modal-dialog {
    height : 100%;
}

.luong-phieu-modal .modal-dialog .luong-phieu-content {
    height : 100%;
}
.box-move-select-table .wrap-info-row .box-col {
    width : 100%;
}

.tab-gan-quy-trinh-content #tab1 {
    height : 65vh;
}

.tab-gan-quy-trinh-content #tab1 .box-move-select-table {
    height : 100%;
}
.tab-gan-quy-trinh-content #tab1 .box-move-select-table .wrap-info-row {
    height : 100%;
}
 
.tab-gan-quy-trinh-content #tab1 .box-move-select-table .wrap-info-row .box-col {
    height : 100%;
}

.tab-gan-quy-trinh-content #tab1 .box-move-select-table .wrap-info-row .box-col .table-content {
    overflow-y: hidden;
}
