.btn-dhtc{
  // background-color: aquamarine;
  border: 1px solid #035fcc;
  color: #035fcc;
  padding: 10px;
  position: relative;
  top: -16px;
  border-top: none;
  cursor: pointer;
  font-weight: 600;
  
}
.list-dhtc{
  display: flex;
  flex-direction: row;
  :hover{
    background-color: #035fcc;
    color: white;
  }
}
.btn-active{
  background-color: rgba(1, 118, 255, 0.2);
}
.btn-capnhatnd{
  border: 1px solid #035fcc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.btn-capnhatnd:hover{
  background-color: #035fcc;
  color: white;
}
ul{
  li{
    cursor: pointer;
  }
}
.ui-xuat-phieu {
  position: fixed;
  width: 159px;
  padding-left: 0rem;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  // z-index: 9999999999999;
  margin-top: 9px;
}
.xuat-phieu:hover {
  background-color: rgba(1, 118, 255, 0.1);
}
.xuat-phieu:hover a:hover {
  color: #0056b3;
  text-decoration: none !important;
}
.list-actions-top{
  overflow-y: visible;
}

@media (min-width: 1700px) {
  .bachambacham{
    display: none;
  }
}