<div>

    <ul class="list">
        <li>
            <a href="#" @click="alert">
                <span class="icon one-sign"></span> Gạch nợ
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon ui-1_circle-remove nc-icon-glyph"></span> Hủy
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon one-trash"></span> Xóa phiếu(F7)
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon files_single-content-02 nc-icon-glyph"></span> Phiếu trả(F9)
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon files_single-content-02 nc-icon-glyph"></span> Phiếu hủy
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon one-phone"></span> Thuê bao
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon ui-1_circle-add nc-icon-glyph"></span> Chèn nợ
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon one-keyboard"></span>Phím tắt
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon files_single-content-03 nc-icon-glyph"></span>Phiếu thu
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon one-wallet"></span>Thông tin ví VNPT Pay
            </a>
        </li>
    </ul>
</div>
<div class="page-content">
    <div class="top-form-group block">
        <div class="pull-left mart10">
            <div class="label inline fw6 marr10">Gạch CCBS</div>
            <div class="list-checks inline">
                <div class="item">
                    <div class="check-action">
                        <input type="radio" class="check">
                        <span class="name">Mã TT</span>
                    </div>
                </div>
                <div class="item">
                    <div class="check-action">
                        <input type="radio" class="check">
                        <span class="name">Mã TT và CKN</span>
                    </div>
                </div>
                <div class="item">
                    <div class="check-action">
                        <input type="radio" class="check">
                        <span class="name">Mã TB</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <div class="inline">
                <div class="info-row marb0">
                    <div class="key w50 nowrap">Kỳ hóa đơn</div>
                    <div class="value">
                        <div class="select-custom" style="width: 150px;">
                            <select name="" id="" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inline">
                <div class="info-row marb0">
                    <div class="key w50 nowrap">Chu kỳ</div>
                    <div class="value">
                        <div class="select-custom" style="width: 80px;">
                            <select name="" id="" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="box-form box-gn-tt">
        <div class="legend-title">
            <div class="pull-left">
                <div class="title">Thông tin thanh toán</div>
            </div>
            <div class="pull-right red">
                Đang tiến hành gạch nợ theo mã thanh toán - HTTT: Tại điểm giao dịch
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-md-12 col-xl-6 col-12">
                <div class="row">
                    <div class="col-md-12 col-xl-7 col-lg-7 col-12">
                        <div class="info-row">
                            <div class="key">
                                <div class="check-action">
                                    <input type="checkbox" checked="" class="check">
                                    <span class="name">Mã TT</span>
                                </div>
                            </div>
                            <div class="value">
                                <div class="input-more-button">
                                    <button class="btn">
                                        <span class="-ap icon-more_horiz"></span>
                                    </button>
                                    <input type="text" class="form-control highlight">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-5 col-xl-5 col-sm-5 col-12">
                        <div class="info-row">
                            <div class="key">Số máy/Acc</div>
                            <div class="value">
                                <div class="select-custom">
                                    <select name="" id="" class="form-control highlight">
                                        <option value="">hanoi12345</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xl-7 col-lg-7 col-12">
                        <div class="info-row">
                            <div class="key">
                                Mã đại diện
                            </div>
                            <div class="value">
                                <div class="input-check-left">
                                    <div class="check-action">
                                        <input type="checkbox" class="check">
                                        <span class="name"></span>
                                    </div>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-5 col-xl-5 col-sm-5 col-12">
                        <div class="info-row">
                            <div class="key">Lượt TT</div>
                            <div class="value">
                                <div class="input-more-button">
                                    <button class="btn">
                                        <span class="-ap icon-uniF162"></span>
                                    </button>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-row">
                    <div class="key">Tên thanh toán</div>
                    <div class="value">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="info-row">
                    <div class="key">Địa chỉ TT</div>
                    <div class="value">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="info-row">
                    <div class="key">Địa chỉ BC</div>
                    <div class="value">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="info-row">
                    <div class="key">Ngân hàng</div>
                    <div class="value">
                        <select name="" id="" class="form-control">
                            <option value="">Chọn ngân hàng</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xl-7 col-lg-7 col-12">
                        <div class="info-row">
                            <div class="key">
                                Mã số thuế
                            </div>
                            <div class="value">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-5 col-xl-5 col-sm-5 col-12">
                        <div class="info-row">
                            <div class="key">Tài khoản</div>
                            <div class="value">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-row">
                    <div class="key">Hình thức TT</div>
                    <div class="value">
                        <select name="" id="" class="form-control">
                            <option value="">Thu tiền mặt tại quầy</option>
                        </select>
                    </div>
                </div>
                <div class="info-row">
                    <div class="key">Ghi chú</div>
                    <div class="value">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-md-12 col-xl-6 col-12">
                <div class="info-row">
                    <div class="key">Thủ quỹ</div>
                    <div class="value">
                        <select name="" id="" class="form-control">
                            <option value="">12348213183</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xl-6 col-lg-6 col-12">
                        <div class="info-row">
                            <div class="key">
                                Loại tiền
                            </div>
                            <div class="value">
                                <div class="select-custom">
                                    <select name="" id="" class="form-control">
                                        <option value="">Dịch vụ CNTT</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-6 col-12">
                        <span class="note red bold  block">
                            <span class="-ap icon-warning3 text-warning f20 mar10"></span> Tổng gạch: 0; Tổng phiếu: 0
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xl-6 col-lg-6 col-12">
                        <div class="info-row">
                            <div class="key">
                                Ngày TT
                            </div>
                            <div class="value">
                                <div class="input-icon-right">
                                    <input type="text" class="form-control">
                                    <span class="icon one-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-6 col-lg-6 col-12">
                        <div class="info-row">
                            <div class="key">
                                Ngày N.Hàng
                            </div>
                            <div class="value">
                                <div class="input-icon-right">
                                    <input type="text" class="form-control">
                                    <span class="icon one-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-row">
                    <div class="key">
                        Đại lý
                    </div>
                    <div class="value">
                        <div class="input-more-button">
                            <button class="btn">
                                <span class="-ap icon-more_horiz"></span>
                            </button>
                            <input type="text" class="form-control ">
                        </div>
                    </div>
                </div>
                <div class="info-row">
                    <div class="key">
                        Chứng từ
                    </div>
                    <div class="value">
                        <div class="input-number-custom">
                            <input type="number" value="0" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xl-6 col-lg-6 col-12">
                        <div class="info-row">
                            <div class="key">
                                Seri
                            </div>
                            <div class="value">
                                <input type="text" class="red form-control" value="111">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-3 col-lg-3 col-12">
                        <div class="info-row">
                            <div class="key w50 nowrap">
                                Số quyển
                            </div>
                            <div class="value">
                                <div class="input-number-custom">
                                    <input type="number" placeholder="" class="form-control red">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-3 col-lg-3 col-12">
                        <div class="info-row">
                            <div class="key w50 nowrap">
                                Số seri
                            </div>
                            <div class="value">
                                <div class="input-number-custom">
                                    <input type="number" placeholder="" class="form-control red">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xl-6 col-lg-6 col-12">
                        <div class="info-row">
                            <div class="key text-chartE">
                                Tổng tiền
                            </div>
                            <div class="value">
                                <div class="select-custom">
                                    <select name="" id="" class="form-control text-chartE"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-6 col-lg-6 col-12">
                        <div class="info-row">
                            <div class="key w60 nowrap text-chartE">
                                Số phiếu
                            </div>
                            <div class="value">
                                <input type="text" class="form-control text-chartE">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xl-6 col-lg-6 col-12">
                        <div class="info-row">
                            <div class="key">
                                Tiền trả
                            </div>
                            <div class="value">
                                <div class="input-icon-right">
                                    <input type="text" class="form-control red tright">
                                    <span class="icon one-calculator"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-6 col-lg-6 col-12">
                        <div class="info-row">
                            <div class="key w60 nowrap">
                                Chi phí
                            </div>
                            <div class="value">
                                <div class="select-custom">
                                    <div class="select-custom">
                                        <select name="" id="" class="form-control tright red"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-row">
                    <div class="key">
                        Khoản mục
                    </div>
                    <div class="value">
                        <div class="select-custom">
                            <select name="" id="" class="form-control">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-form box-tab-horizontal">
        <ul class="tabs tab-left">
            <li><a class="active" href="#">Gạch lẻ</a></li>
            <li><a href="#">Gạch danh sách</a></li>

        </ul>
        <div class="tab-content">
            <div class="tab-pane active">
                <div class="tab-gachle">
                    <div class="table-content">
                        <table class="table-result table-gachle">
                            <thead>
                                <tr><th class="w30"></th>
                                <th>Khoản mục</th>
                                <th>Tổng nợ</th>
                                <th>Cộng nợ</th>
                                <th>Cộng nợ PS</th>
                                <th>Còn nợ</th>
                                <th>Tổng đã trả</th>
                                <th>Đã điều chỉnh</th>
                                <th>Tổng tạm thu</th>
                            </tr></thead>
                            <tbody>
                                <tr class="fw6 highlight">
                                    <td class="w30">
                                        <span class="fa fa-play textD"></span>
                                    </td>
                                    <td class="text-third highlight1 selected">Thuê bao di động</td>
                                    <td class="tright">68.111</td>
                                    <td></td>
                                    <td class="tright">0</td>
                                    <td class="tright" style="width: 140px;">
                                        <div class="input-icon-right">
                                            <input type="text" class="form-control red tright">
                                            <span class="icon one-calculator normal"></span>
                                        </div>
                                    </td>
                                    <td class="tright">68.113</td>
                                    <td class="tright">0</td>
                                    <td class="tright">0</td>
                                </tr>
                                <tr>
                                    <td class="w30">

                                    </td>
                                    <td class="text-third">Cước dịch vụ trong nước</td>
                                    <td class="tright">68.111</td>
                                    <td class="tright w100" style="background: #FFF0C8;">
                                        <span class="main">91.000</span>
                                    </td>
                                    <td class="tright" style="background: #FFF0C8;">0</td>
                                    <td class="tright" style="background: #FFF0C8;">0</td>
                                    <td class="tright red">68.113</td>
                                    <td class="tright">0</td>
                                    <td class="tright">0</td>
                                </tr>
                                <tr>
                                    <td class="w30">

                                    </td>
                                    <td class="text-third">Cước data</td>
                                    <td class="tright">68.111</td>
                                    <td class="tright w100" style="background: #FFF0C8;">
                                        <span class="main">91.000</span>
                                    </td>
                                    <td class="tright" style="background: #FFF0C8;">0</td>
                                    <td class="tright" style="background: #FFF0C8;">0</td>
                                    <td class="tright red">68.113</td>
                                    <td class="tright">0</td>
                                    <td class="tright">0</td>
                                </tr>
                                <tr>
                                    <td class="w30">

                                    </td>
                                    <td class="text-third">Cước giải trí và thông tin tổng hợp</td>
                                    <td class="tright">68.111</td>
                                    <td class="tright w100" style="background: #FFF0C8;">
                                        <span class="main">91.000</span>
                                    </td>
                                    <td class="tright" style="background: #FFF0C8;">0</td>
                                    <td class="tright" style="background: #FFF0C8;">0</td>
                                    <td class="tright red">68.113</td>
                                    <td class="tright">0</td>
                                    <td class="tright">0</td>
                                </tr>
                                <tr>
                                    <td class="w30">

                                    </td>
                                    <td class="text-third">Thuê bao MyTV</td>
                                    <td class="tright">68.111</td>
                                    <td class="tright w100" style="background: #FFF0C8;">
                                        <span class="main">91.000</span>
                                    </td>
                                    <td class="tright" style="background: #FFF0C8;">0</td>
                                    <td class="tright" style="background: #FFF0C8;">0</td>
                                    <td class="tright red">68.113</td>
                                    <td class="tright">0</td>
                                    <td class="tright">0</td>
                                </tr>
                                <tr>
                                    <td class="w30">

                                    </td>
                                    <td class="text-third">Cước SD MyTV</td>
                                    <td class="tright">68.111</td>
                                    <td class="tright w100" style="background: #FFF0C8;">
                                        <span class="main">91.000</span>
                                    </td>
                                    <td class="tright" style="background: #FFF0C8;">0</td>
                                    <td class="tright" style="background: #FFF0C8;">0</td>
                                    <td class="tright red">68.113</td>
                                    <td class="tright">0</td>
                                    <td class="tright">0</td>
                                </tr>
                                <tr>
                                    <td class="w30">

                                    </td>
                                    <td class="text-third">Cước SD MyTV</td>
                                    <td class="tright">68.111</td>
                                    <td class="tright w100" style="background: #FFF0C8;">
                                        <span class="main">91.000</span>
                                    </td>
                                    <td class="tright" style="background: #FFF0C8;">0</td>
                                    <td class="tright" style="background: #FFF0C8;">0</td>
                                    <td class="tright red">68.113</td>
                                    <td class="tright">0</td>
                                    <td class="tright">0</td>
                                </tr>
                                <tr>
                                    <td class="w30">

                                    </td>
                                    <td class="text-third">Cước SD MyTV</td>
                                    <td class="tright">68.111</td>
                                    <td class="tright w100" style="background: #FFF0C8;">
                                        <span class="main">91.000</span>
                                    </td>
                                    <td class="tright" style="background: #FFF0C8;">0</td>
                                    <td class="tright" style="background: #FFF0C8;">0</td>
                                    <td class="tright red">68.113</td>
                                    <td class="tright">0</td>
                                    <td class="tright">0</td>
                                </tr>
                                <tr class="fw6">
                                    <td class="w30">

                                    </td>
                                    <td class="text-third">Tổng cộng</td>
                                    <td class="tright">68.111</td>
                                    <td class="tright w100" style="background: #FFF0C8;">
                                        <span class="main">91.000</span>
                                    </td>
                                    <td class="tright" style="background: #FFF0C8;">0</td>
                                    <td class="tright" style="background: #FFF0C8;">0</td>
                                    <td class="tright red">68.113</td>
                                    <td class="tright">0</td>
                                    <td class="tright">0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="tabs tab-right">
                        <li><a class="active" href="#">Tháng nợ</a></li>
                        <li><a href="#">Khoản nợ</a></li>
                        <li><a href="#">Dịch vụ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
