<div>
  <div class="row">
    <div class="col-6">
      <div class="info-row">
        <div class="key w140"><label>ID IDC</label></div>
        <div class="value"><input readonly type="text" class="form-control" :value="currentItem.ID" /></div>
      </div>
    </div>
    <div class="col-6">
      <div class="info-row">
        <div class="key w140"><label>Tên IDC</label></div>
        <div class="value"><input readonly type="text" class="form-control" :value="currentItem.TEN" /></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="info-row">
        <div class="key w140"><label>Thuộc đơn vị quản lý</label></div>
        <div class="value"><input readonly type="text" class="form-control" :value="currentItem.DONVI" /></div>
      </div>
    </div>
    <div class="col-6">
      <div class="info-row">
        <div class="key w140"><label>Địa chỉ</label></div>
        <div class="value"><input readonly type="text" class="form-control" :value="currentItem.DIACHI" /></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="info-row">
        <div class="key w140"><label>Thời điểm đưa vào vận hành</label></div>
        <div class="value"><input readonly type="text" class="form-control" :value="currentItem.HOATDONG" /></div>
      </div>
    </div>
  </div>
</div>