<div>
  <div class="row">
    <div class="row">
      <div class="legend-title">Thông tin cơ bản</div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="col-sm-4 key">ID VLAN</div>
          <div class="col-sm-8 value">
            <input type="text" class="form-control" disabled v-model="currentItem.id" placeholder="Tự sinh" />
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="col-sm-4 key">Hiệu lực</div>
          <div class="col-sm-8 value padt4">
            <div class="check-action checkbox-inline">
              <input
                type="checkbox"
                class="check"
                :disabled="!controls.hieu_luc.enabled"
                v-model="currentItem.hieu_luc"
                :true-value="1"
                :false-value="0"
              /><span class="name"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="col-sm-4 key">Tên VLAN<span class="red">*</span></div>
          <div class="col-sm-8 value">
            <input
              type="text"
              class="form-control"
              :class="controls.ten.invalid ? 'invalid-box' : ''"
              :disabled="!controls.ten.enabled"
              v-model="currentItem.ten"
              placeholder="Nhập tên VLAN"
            />
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="col-sm-4 key">IDC<span class="red">*</span></div>
          <div class="col-sm-8 value">
            <SelectExt
              :class="controls.idc_id.invalid ? 'invalid-box' : ''"
              :dataSource="dropdowns.idcs"
              dataValueField="id"
              dataTextField="ten"
              placeholder="-- Chọn IDC --"
              :disabled="!controls.idc_id.enabled"
              v-model="currentItem.idc_id"
              @change="onIdcSelected"
            ></SelectExt>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="col-sm-4 key">VRF<span class="red">*</span></div>
          <div class="col-sm-8 value">
            <SelectExt
              ref="vrfSelectorModal"
              :class="controls.vrf_id.invalid ? 'invalid-box' : ''"
              :dataSource="dropdowns.vrfs"
              dataValueField="id"
              dataTextField="ten"
              v-model="currentItem.vrf_id"
              :disabled="!controls.vrf_id.enabled"
              placeholder="Vui lòng chọn Hạ tầng mạng trước"
            >
            </SelectExt>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="col-sm-4 key">Zone<span class="red">*</span></div>
          <div class="col-sm-8 value">
            <SelectExt
              ref="zoneSelectorModal"
              :class="controls.zone_id.invalid ? 'invalid-box' : ''"
              :dataSource="dropdowns.zones"
              dataValueField="id"
              dataTextField="ten"
              v-model="currentItem.zone_id"
              :disabled="!controls.zone_id.enabled"
              placeholder="Vui lòng chọn VRF trước"
            >
            </SelectExt>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="col-sm-4 key">Ghi chú</div>
          <div class="col-sm-8 value">
            <input
              type="text"
              class="form-control"
              :disabled="!controls.ghi_chu.enabled"
              v-model="currentItem.ghi_chu"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <div class="legend-title">Thuộc thiết bị</div>
    </div>
    <DataGrid
      ref="gridItems"
      :allowPaging="true"
      :enablePagingServer="false"
      :showColumnCheckbox="true"
      :columns="dataGrid.devices.columns"
      :dataSource="dataGrid.devices.dataItems"
      :enabledSelectFirstRow="false"
      
      >
    </DataGrid>
  </div>
</div>
<!-- @selectedRowChanged="onSelectedRowChanged" -->
<!-- :datasource="dropdowns.idc"
:dataSource="dropdowns.infrastructures"
:dataSource="dropdowns.vrfs"
:dataSource="dropdowns.zones" -->
