<b-modal id="ModalChonRack" ref="ModalChonRack" title="Chọn Rack" size="xl" @hide="closeModal" hide-footer>
  <div class="">
      <!-- Search Form -->
      <div class="legend-title">Tìm kiếm Rack</div>
      <div class="search-form">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>IDC <span class="red">(*)</span></label>
              <SelectExt
                ref="searchIdc"
                v-model="searchCriteria.idc"
                dataTextField="TEN"
                dataValueField="ID"
                :dataSource="idcOptions"
                :allowClear="true">
              </SelectExt>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Toà nhà <span class="red">(*)</span></label>
              <SelectExt
                ref="searchToaNha"
                v-model="searchCriteria.toaNha"
                dataTextField="TEN"
                dataValueField="ID_TOANHA"
                :dataSource="toaNhaOptions"
                :allowClear="true">
              </SelectExt>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Tầng <span class="red">(*)</span></label>
              <SelectExt
                ref="searchTang"
                v-model="searchCriteria.tang"
                dataTextField="TEN"
                dataValueField="ID"
                :dataSource="tangOptions"
                :allowClear="true">
              </SelectExt>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Mặt sàn</label>
              <SelectExt
                ref="searchMatSan"
                v-model="searchCriteria.matSan"
                dataTextField="TEN"
                dataValueField="ID"
                :dataSource="matSanOptions"
                :allowClear="true">
              </SelectExt>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Phòng/Zone</label>
              <SelectExt
                ref="searchPhongZone"
                v-model="searchCriteria.phongZone"
                dataTextField="TEN"
                dataValueField="ID"
                :dataSource="phongZoneOptions"
                :allowClear="true">
              </SelectExt>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Tên Rack</label>
              <SelectExt
                ref="searchTenRack"
                v-model="searchCriteria.tenRack"
                dataTextField="TEN"
                dataValueField="ID"
                :dataSource="tenRackOptions"
                :allowClear="true">
              </SelectExt>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <button type="button" class="btn btn-primary" @click="searchRacks">
              <i class="fa fa-search"></i> Tìm kiếm
            </button>
          </div>
        </div>
      </div>
      
      <!-- Rack List DataGrid -->
      <div class="legend-title">Danh sách Rack</div>
      <div class="rack-list">
        <div class="row">
          <div class="col-12">
            <DataGrid 
              ref="grdRackList" 
              :allowPaging="true" 
              :enablePagingServer="false" 
              :showColumnCheckbox="false"
              :pageSettings="{ pageSize: 10 }"
              v-bind:columns="[
                {fieldName: 'RACK_ID', headerText: 'ID Rack', textAlign: 'Left', width: 100},
                {fieldName: 'TEN_RACK', headerText: 'Tên Rack', textAlign: 'Left', width: 120},
                {fieldName: 'TEN_LOAIRACK', headerText: 'Loại Rack', textAlign: 'Left', width: 140},
                {fieldName: 'TEN_MATSAN', headerText: 'Mặt sàn', textAlign: 'Left', width: 120},
                {fieldName: 'TEN_PHONG', headerText: 'Phòng/Zone', textAlign: 'Left', width: 140},
                {fieldName: 'VITRI_RACK', headerText: 'Vị trí Rack', textAlign: 'Left', width: 160},
                {fieldName: 'VANHANH', headerText: 'Trạng thái vận hành', textAlign: 'Left', width: 160}
              ]" 
              v-bind:dataSource="rackList" 
              :enabledSelectFirstRow="false"
              @rowSelected="onRackSelected">
            </DataGrid>
          </div>
        </div>
      </div>
      
      <!-- Action Buttons -->
      <div class="popup-footer text-center mt-2">
        <button type="button" class="btn btn-primary" @click="selectRack">
          <i class="fa fa-check"></i> Chọn
        </button>
        <button type="button" class="btn btn-secondary ml-2" @click="closeModal">
          <i class="fa fa-times"></i> Hủy
        </button>
      </div>
  </div>
</b-modal>
