<!-- showCloseIcon="true" :header="'Nhập thông tin'" -->
<ejs-dialog
    :enableResize="true"
    :allowDragging="true"
    :visible="false"
    ref="dlgInThongBao"
    :animationSettings="animationSettings"
    width="80%"
    :target="target"
    :isModal="true"
    :showCloseIcon="true"
    header='<div class="title"> <span class="icon one-notepad"></span> In thông báo </div>'
    :close="reset"
>
    <div class="list-actions-top">
        <ul class="list">
            <li v-show="tsbtnNhapFile">
                <a class="pointer" @click="btnDocFile">
                    <span class="icon one-book"></span> Đọc File
                </a>
               <frmDocFile v-bind:kycuoc="vkyhoadon" @dsTheoFile="dsTheoFile"></frmDocFile>
            </li>
            <li>
                <a class="pointer" @click="btnInDS">
                    <span class="icon one-print"></span> In DS
                    <xacMinhCA id="refXacMinhCA" :dsBienBan="dsBienBan" :kyCuoc="kyCuoc"></xacMinhCA>
                </a>
            </li>
            <li>
                <a class="pointer" @click="btnXuatExcel">
                    <span class="icon one-xlsx-import"></span> Xuất Excel
                </a>
            </li>
        </ul>
    </div>
    <div class="popup-body">
        <div class="box-form">
            <div class="legend-title">Thông tin in thông báo</div>
            <div class="info-row">
                <div class="key w50">Mẫu in</div>
                <div class="value">
                    <div class="select-custom">
                        <select
                            name=""
                            id=""
                            class="form-control"
                            v-model="cboMauInValue"
                        >
                            <option
                                v-for="item in cboMauIn"
                                :value="item.BAOCAO_ID"
                                >{{item.TEN_BC}}</option
                            >
                        </select>
                    </div>
                </div>
                <div class="value w30 nowrap padt7">
                    <div class="check-action">
                        <input type="checkbox" class="check" v-model="checkInKim"/>
                        <span class="name">Mẫu in kim</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-form">
            <div class="legend-title">Danh sách khách hàng</div>
            <div class="nav tabs tab-over">
                <a
                    href="#tab1"
                    data-toggle="tab"
                    class="active"
                    @click="selectedTab('gridPhieuChuaGiao')"
                    >Danh sách XLN</a
                >
                <a
                    href="#tab2"
                    data-toggle="tab"
                    @click="selectedTab('gridFileXLN')"
                    >Danh sách theo File</a
                >
            </div>
            <div class="tab-content">
                <div class="tab-content tab-pane" :class="{'active':!tsbtnNhapFile}" id="tab1">
                    <DataGrid
                        ref="refGridPhieuChuaGiao"
                        :dataSource="gridPhieuChuaGiao"
                        :showColumnCheckbox="true"
                        :columns="gridPhieuChuaGiaoCollumn"
                        @selectedItemsChanged="selectedItemsChangedPhieuChuaGiao"
                        dataKeyField="MA_XLN"
                        :allowPaging="true"
                        :enablePagingServer="false"
                    ></DataGrid>
                </div>
                <div class="tab-content tab-pane " :class="{'active':tsbtnNhapFile}" id="tab2">
                    <DataGrid
                        
                        :dataSource="gridFileXLN"
                        :showColumnCheckbox="true"
                        :columns="gridFileXLNCollumn"
                        @selectedItemsChanged="selectedItemsChangedFileXLN"
                        dataKeyField="MA_XLN"
                        :allowPaging="true"
                        :enablePagingServer="false"
                    ></DataGrid>
                </div>
            </div>
        </div>
    </div>
</ejs-dialog>
