<div>
    <div class="list-actions-top">
        <ul class="list">
            <li @click="onSearch()">
                <b-link href="javascript:void(0)">
                    <span class="icon one-search"></span>Tìm kiếm
                </b-link>
            </li>
            <li @click="onNew()">
                <b-link href="javascript:void(0)">
                    <span class="fa fa-plus"></span>  Tạo mới phiếu yêu cầu
                </b-link>
            </li>
           
        </ul>
    </div>

    <div class="page-content">
       <!-- Search conditions -->
    <div class="box-form">
        <div class="row">
          <div class="legend-title d-flex justify-content-between align-items-center">
            Điều kiện tìm kiếm
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-3 col-12">
            <div class="info-row">
              <div class="key w100">Phân loại</div>
              <div class="value">
                <SelectExt
                  :disabled=true
                  v-model="searchConditions.phanloai"
                  placeholder="-- Chọn phân loại --"
                  dataTextField="TEN"
                  dataValueField="ID"
                  :dataSource="[...phanLoaiList]"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-12">
            <div class="info-row">
              <div class="key w100">Trạng thái thực hiện</div>
              <div class="value">
                <SelectExt
                  v-model="searchConditions.trangthaiId"
                  placeholder="-- Chọn trạng thái --"
                  dataTextField="TEN"
                  dataValueField="ID"
                  :dataSource="trangThaiList"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-12">
            <div class="info-row">
              <div class="key w100">Ngày yêu cầu</div>
              <div class="value">
                  <ejs-datepicker
                    v-model="searchConditions.ycBatdau"
                    :format="'dd/MM/yyyy'"
                    :allowEdit="false"
                    placeholder="Từ ngày"
                    style="background: white; color: #495057; width: 100%;"
                    ref="refNgayYcTu"
                  />
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-12">
            <div class="info-row">
              <div class="key w100">Đến ngày</div>
                <div class="value">
                  <ejs-datepicker
                    v-model="searchConditions.ycKetthuc"
                    :format="'dd/MM/yyyy'"
                    :allowEdit="false"
                    placeholder="Đến ngày"
                    style="background: white; color: #495057; width: 100%;"
                    ref="refNgayYcDen"
                  />
              </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <!-- <div class="col-sm-3 col-12">
            <div class="info-row">
              <div class="key w100">Đơn vị</div>
              <div class="value">
                <SelectExt
                  v-model="searchConditions.donviId"
                  placeholder="-- Chọn đơn vị --"
                  dataTextField="TEN_DV"
                  dataValueField="DONVI_ID"
                  :dataSource="donViList"
                  @change="onChangeDonVi"
                />
              </div>
            </div>
          </div> -->
          <div class="col-sm-3 col-12">
            <div class="info-row">
              <div class="key w100">IDC</div>
              <div class="value">
                <SelectExt
                  v-model="searchConditions.idcId"
                  placeholder="-- Chọn IDC --"
                  dataTextField="TEN"
                  dataValueField="ID"
                  :dataSource="idcList"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-12">
            <div class="info-row">
              <div class="key w100">Người thực hiện</div>
              <div class="value">
                <SelectExt
                  v-model="searchConditions.nhanvienId"
                  placeholder="-- Chọn nhân viên thực hiện --"
                  dataTextField="TEN_NV"
                  dataValueField="NHANVIEN_ID"
                  :dataSource="nhanVienList"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-12">
            <div class="info-row">
              <div class="key w100">Ngày yêu cầu HT</div>
                <div class="value">
                  <ejs-datepicker
                    v-model="searchConditions.ychtBatdau"
                    :format="'dd/MM/yyyy'"
                    :allowEdit="false"
                    placeholder="Từ ngày"
                    style="background: white; color: #495057; width: 100%;"
                    ref="refNgayYchtTu"
                  />
                </div>
            </div>
          </div>
          <div class="col-sm-3 col-12">
            <div class="info-row">
              <div class="key w100">Đến ngày</div>
                <div class="value">
                  <ejs-datepicker
                    v-model="searchConditions.ychtKetthuc"
                    :format="'dd/MM/yyyy'"
                    :allowEdit="false"
                    placeholder="Đến ngày"
                    style="background: white; color: #495057; width: 100%;"
                    ref="refNgayYchtDen"
                  />
                </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-6 col-12">
            <div class="info-row">
              <div class="key w100">Khách hàng</div>
              <div class="value">
                <input type="text" class="form-control" v-model="searchConditions.khachhang" placeholder="Nhập mã TB, mã GD, số HĐ, tên TB" />
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div class="info-row">
              <div class="key w100">Công việc</div>
              <div class="value">
                <input type="text" class="form-control" v-model="searchConditions.congviec" placeholder="Nhập mã/tên công việc" />
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="row datagrid-section">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class='nav tabs tab-over'>
                            <a href='#tab2-1' data-toggle='tab' :class='{active: currentTab2 === 1}'>Kết quả</a>
                            <a href='#tab2-2' data-toggle='tab' :class='{active: currentTab2 === 2}'>Lịch sử thay đổi</a>
                        </div>
    
                        <div class='tab-content'>
                            <!-- tab Khách hàng -->
                            <div class='tab-pane' id="tab2-1" :class='{active: currentTab2 === 1}'>
                                <div class="box-form">
                                    <div class="row">
                                    <div class="legend-title">Kết quả Danh sách băng thông đã cấp phát cho khách hàng </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-12">
                                        <DataGrid
                                            ref="grdNhiemVu"
                                            :allowPaging="true"
                                            :enablePagingServer="false"
                                            :showColumnCheckbox="false"
                                            :dataSource="dsKetquaBangthongCapPhat"
                                            v-bind:columns="[
                                                {fieldName: 'MA_CV', headerText: 'Mã CV', textAlign: 'Left', width: 120},
                                                {fieldName: 'TEN_CV', headerText: 'Hạng mục công việc', textAlign: 'Left', width: 100},
                                                {fieldName: 'TEN_IDC', headerText: 'IDC', textAlign: 'Left', width: 90},
                                                {fieldName: 'NHANVIEN_THUCHIEN', headerText: 'Cá nhân thực hiện', textAlign: 'Left', width: 120},
                                                {fieldName: 'PHOIHOP_THUCHIEN', headerText: 'Phối hợp thực hiện', textAlign: 'Left', width: 120, disableHtmlEncode: false, cssClass: 'phoi-hop-thuc-hien'},
                                                {fieldName: 'GOICUOC_ID', headerText: 'Gói cước mạng', textAlign: 'Left', width: 100},
                                                {fieldName: 'QUOCTE', headerText: 'Quốc tế', textAlign: 'Left', width: 90},
                                                {fieldName: 'TRONGNUOC', headerText: 'Trong nước', textAlign: 'Left', width: 90},
                                                {fieldName: 'THIETBIMANG', headerText: 'Thiết bị mạng(Switch Access)', textAlign: 'Left', width: 120},
                                                {fieldName: 'PORT', headerText: 'ID Port', textAlign: 'Left', width: 120},
                                                {fieldName: 'NGAY_YC', headerText: 'Ngày yêu cầu', textAlign: 'Center', width: 100, template: formatDateTimeTemplate(this)},
                                                {fieldName: 'NGAY_YCHT', headerText: 'Ngày yêu cầu HT', textAlign: 'Center', width: 100, template: formatDateTimeTemplate(this)},
                                                {fieldName: 'KHACHHANG', headerText: 'Khách hàng', textAlign: 'Left', width: 150, disableHtmlEncode: false, template: khachHangTemplate(this)},
                                                {fieldName: 'TRANGTHAI_THICONG', headerText: 'Trạng thái thực hiện', textAlign: 'Left', width: 110},
                                                {fieldName: 'ACTIONS', headerText: 'Thao tác', allowSorting: false,
                                                allowFiltering: false, textAlign: 'Center', template: actionColumn(this), width: 65}
                                            ]"
                                            :enabledSelectFirstRow="true"
                                        >
                                      </DataGrid>
                                    </div>
                                    </div>
                                </div>
                            </div>
    
                            <!-- tab Lịch sử thay đổi -->
                            <div class='tab-pane' id="tab2-2" :class='{active: currentTab2 === 2}'>
                                <div class="box-form">
                                    <div class="row">
                                      <div class="legend-title row align-items-center">
                                        <div class="col-10">
                                          Lịch sử thay đổi phiếu
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-12">
                                        <TabHistory
                                            :tenBang="'PHIEU_THICONG'"
                                            :tenCot="''"
                                            :khoaDuLieu="28"
                                            ref="tabHistory"
                                          ></TabHistory>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">

            </div>
        </div>
    </div>
</div>
