a.disabled {
  color: lightgrey !important;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

>>> .text-blue {
  color: blue !important;
  text-align: left !important;
}

>>> .text-blue-bold {
  color: blue !important;
  font-weight: bold !important;
}

>>> .text-red-bold {
  color: red !important;
  font-weight: bold !important;
}

>>> .text-bold {
  font-weight: bold !important;
}

>>> .w150 {
  width: 150px;
  padding-left: 10px;
}

.is-invalid-date{
  .e-date-wrapper{
      border-color: red !important;
  }
}