.header-notice {
  background-color: #7d6249;
  height: 32px;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #f8f9fa;
}

.header-notice-tag {
  opacity: 0;
  height: 0;
  position: absolute;
  top: 50%;
  line-height: 32px;
  left: 50%;
  text-align: center;
  overflow: hidden;
  transition: 0.25s;
  transform: translate(-50%, -50%);
}

.header-notice-tag.current {
  opacity: 1;
  height: auto;
  transition: 0.75s;
}

.header-notice-tag p {
  border-bottom: 1px solid #7d6249;
  line-height: 1.5;
  transition: all 0.2s;
}
.header-notice-tag:hover p {
  border-bottom: 1px solid white;
}

.header {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  position: fixed;
  top: 32px;
  height: 72px;
  z-index: 99;
  border-color: transparent;
  transition: all 0.25s;
  color: white;
}

.header:hover,
.header.not-intro {
  background-color: white;
  color: #555;
}

.header-logo {
  position: absolute;
  /* top: 50%;  */
  left: 0;
  width: auto;
  display: block;
  z-index: 9;
  transform: translate(0%, -10%);
}

.header-logo .logo-green {
  display: none;
}

.header:hover .header-logo .logo-green,
.header.not-intro .header-logo .logo-green {
  display: block;
}

.header:hover .header-logo .logo-white,
.header.not-intro .header-logo .logo-white {
  display: none;
}

.header-social-list {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 8;
  transform: translate(0%, -50%);
  display: flex;
}

.header-social-list li {
  display: inline-block;
  margin-left: 14px;
}

.header-menu-container {
  width: 100%;
  height: 72px;
  padding: 0;
  box-sizing: border-box;
  z-index: 8;
}

.header-menu-list {
  position: relative;
  font-size: 15.5px;
  text-align: center;
  height: 72px;
}

.header-menu-item {
  margin: 0 12px;
  position: relative;
  display: inline-block;
}

.header-menu-item a {
  letter-spacing: -0.02em;
  position: relative;
  display: block;
  padding: 24px 8px;
  box-sizing: border-box;
}

.header-menu-item a.active {
  color: var(--green-sub);
  font-weight: 700;
}

.header-menu-item:hover {
  color: black;
}

.header-sub-menu-list {
  position: fixed;
  background-color: #fff;
  width: 200%;
  border-bottom: 1px solid #ccc;
  left: -50%;
  transition: all 0.2s;
  visibility: hidden;
  height: auto;
}

.header-sub-menu-list.visible {
  visibility: visible;
  opacity: 1;
}

.header-sub-menu-item {
  margin: 0 12px;
  position: relative;
  display: inline-block;
}
.visible {
  visibility: visible;
}

.header-sub-menu-item button {
  padding: 10px;
  display: block;
  font-size: 14.5px;
  color: #555;
  border-bottom: 2px solid #fff;
}

.header-sub-menu-item:hover button {
  color: #191919;
  border-bottom: 2px solid var(--green-sub);
  transition: 0.25s;
}

.header-sub-menu-item.active button {
  color: var(--green-sub);
  font-weight: 700;
  border-bottom: 2px solid var(--green-sub);
}

.header:hover .header-menu-item:hover .header-sub-menu-list {
  visibility: visible;
}

.btn-header-reservation {
  padding: 10px !important;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1;
  transition: background-color 0.2s;
}

.btn-header-reservation.active {
  color: var(--green-sub);
}

.btn-header-reservation:hover {
  background-color: var(--green-main);
  color: #fff !important;
}

.sns-green {
  display: none;
}

.header:hover .sns-green,
.header.not-intro .sns-green {
  display: block;
}

.header:hover .sns-white,
.header.not-intro .sns-white {
  display: none;
}

.reserve-btn {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 5px 12px;
  border-radius: 4px;
  background-color: var(--green-main);
  color: #fff !important;
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .inner {
    opacity: 0.8;
  }

  .inner.not-intro {
    opacity: 1;
  }

  .header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    height: 52px;
    z-index: 999999;
  }

  .header.not-intro {
    border-bottom: transparent;
    height: 52px;
    z-index: 999;
    transition: background-color 0.15s;
  }

  .header-menu-container {
    display: none;
  }

  .header-menu-container.not-intro {
    display: block;
    top: 49px;
    left: 0px;
    visibility: visible;
    opacity: 1;
    position: fixed;
    transform: translate(0, 0);
    height: auto;
    /* margin: 0 20px; */
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    transition:
      transform 0.5s ease,
      opacity 0.3s ease,
      top 200ms ease,
      bakground-color 0.15s !important;
  }

  .header-notice .header-notice-tag {
    width: 100%;
  }

  .header-notice .header-notice-tag p {
    font-size: 12px;
  }

  .header-logo img {
    height: 32px;
    width: auto;
  }

  .header-menu-list {
    margin-top: 0;
    /* border-bottom: 1px solid #ccc; */
    display: flex;
    height: auto;
    overflow-x: auto;
  }

  .header-menu-list::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }

  .header-menu-list li {
    flex-shrink: 0;
    margin: 0 16px 0 0;
    order: 2;
  }

  .header-menu-list li:first-child {
    margin-left: 16px;
  }

  .header-menu-list li a {
    color: #555;
    padding: 4px 0 6px;
    font-size: 15.5px;
  }

  .header-sub-menu-list {
    position: fixed;
    top: 98%;
    left: 0;
    width: 100vw;
    height: auto;
    border-top: unset;
    background-color: rgba(255, 255, 255, 0.9);
    float: left;
    transition: background-color 0.25s;
  }

  .header-sub-menu-list li:first-child {
    margin-left: 16px;
  }

  .header-sub-menu-list li {
    position: relative;
    padding-bottom: 8px;
    margin: 0 8px;
    display: inline-block;
    vertical-align: middle;
  }

  .header-sub-menu-list li.active button {
    border-bottom: none;
    font-weight: 600;
  }

  .header-sub-menu-list li.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #0d4221;
  }

  .header-sub-menu-list li button {
    display: inline-block;
    padding: 0;
    border-bottom: none;
    font-size: 14.5px;
  }
  .header-sub-menu-item:hover button {
    border: none;
  }

  .header-social-list {
    display: none;
  }

  .lmt {
    width: calc(100% - 40px);
  }

  .reserve-btn {
    display: block;
  }

  .reserve-item {
    display: none;
  }
}

/* Tablets and small desktops */
@media (min-width: 768px) and (max-width: 1024px) {
  .header-menu-container {
    display: none;
  }

  .header-menu-container.not-intro {
    display: block;
    top: 49px;
    left: 0px;
    visibility: visible;
    opacity: 1;
    position: fixed;
    transform: translate(0, 0);
    height: auto;
    /* margin: 0 20px; */
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    transition:
      transform 0.5s ease,
      opacity 0.3s ease,
      top 200ms ease,
      bakground-color 0.15s !important;
  }
}
