<div class="main-wrapper">
    <breadcrumb :header="header" />
    <div class="list-actions-top">
        <ul class="list">
            <li>
                <a href="#" @click.prevent="tim_kiem" @keyup.enter="tim_kiem">
                    <span class="icon one-search"></span>Tìm kiếm
                </a>
            </li>
            <li>
                <a href="#" @click.prevent="xuat_file">
                    <span class="one-download"></span> Xuất file
                </a>
            </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="grid-stack-ver">
            <div class="grid-stack-box box-col" id="boxTop">
                <div class="box-col box-form ovauto" id="boxLeft" style="width:45%">
                    <div class="legend-title">Thông tin bộ hồ sơ</div>
                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w80">Mã GD</div>
                                <div class="value">
                                    <!-- <div class="input-more-button">
                                        <button class="btn" @click.prevent="showPopupSearchContract">
                                            <span class="-ap icon-more_horiz"></span>
                                        </button>
                                        <SearchContractModal ref="popupSearchContract" @accept="acceptSearchContract"/>
                                        <input type="text" class="form-control highlight" v-model="thongtin_hoso.ma_gd" v-on:keyup.enter="tim_kiem">
                                    </div> -->
                                    <div class="input-icon-right">
                                        <input type="text" class="form-control highlight" v-on:keyup.enter="tim_kiem"
                                            v-model="thongtin_hoso.ma_gd" ref="txt_magd">
                                        <span class="icon one-search" style="cursor: pointer"
                                            @click.prevent="tim_kiem"></span>
                                    </div>
                                    <SearchContractModal ref="popupSearchContract" @accept="acceptSearchContract" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w80">Trạng thái</div>
                                <div class="value">
                                    <div class="select-custom">
                                        <select2 :options="listbox.list_trangthai.list"
                                            v-model="listbox.list_trangthai.value" disabled>
                                            <option disabled value="0">Select one</option>
                                        </select2>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="info-row p-0 m-0">
                                <div class="key w80">Từ ngày</div>
                                <div class="value p-0 m-0">
                                    <vue-date class="p-0" style="width:100%" v-model="thongtin_hoso.tu_ngay" format="DD/MM/YYYY" type="datetime" />
                                    <!-- <date-picker style="width:100%" input-class="form-control" :format="datetimeFormat" :value-type="'format'" v-model="thongtin_hoso.tu_ngay"></date-picker> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="info-row p-0 m-0">
                                <div class="key w80">Đến ngày</div>
                                <div class="value p-0 m-0">
                                    <div class="input-icon-right">
                                        <vue-date class="p-0" style="width:100%" v-model="thongtin_hoso.den_ngay" format="DD/MM/YYYY"
                                            type="datetime" />
                                        <!-- <date-picker style="width:100%" input-class="form-control" :format="datetimeFormat" :value-type="'format'" v-model="thongtin_hoso.den_ngay"></date-picker> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w80">SĐT KH</div>
                                <div class="value">
                                    <input type="text" class="form-control" v-model="thongtin_hoso.sdt_kh">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <!-- <div class="info-row">
                                <div class="key w70">LOAI KH</div>
                                <div class="value">
                                    <div class="value">
                                        <input type="text" class="form-control" v-model="thongtin_hoso.loai_kh">
                                    </div>
                                </div>
                            </div> -->
                            <div class="info-row">
                                <div class="key w80">Loại KH</div>
                                <div class="value">
                                    <input type="text" class="form-control" v-model="thongtin_hoso.loai_kh">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class>
                        <!-- <div class="key w70">Tên SPDV</div>
                                <div class="value">
                                    <div class="value">
                                        <input type="text" class="form-control" v-model="thongtin_hoso.spdv">
                                    </div>
                                </div> -->
                        <div class="info-row">
                            <div class="key w80">Tên SPDV</div>
                            <div class="value">
                                <input type="text" class="form-control" v-model="thongtin_hoso.spdv">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w80">DV Khởi tạo</div>
                                <div class="value">
                                    <input type="text" class="form-control" v-model="thongtin_hoso.dv_khoitao">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w80">Người tạo</div>
                                <div class="value">
                                    <input type="text" class="form-control" v-model="thongtin_hoso.nguoi_tao">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w80">Mã bộ HS</div>
                                <div class="value">
                                    <input type="text" class="form-control" v-model="thongtin_hoso.ma_hs">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w80">Tên bộ HS</div>
                                <div class="value">
                                    <input type="text" class="form-control" v-model="thongtin_hoso.ten_bohs">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w80">Mã KH</div>
                                <div class="value">
                                    <input type="text" class="form-control" v-model="thongtin_hoso.ma_kh">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w80">Tên KH</div>
                                <div class="value">
                                    <input type="text" class="form-control" v-model="thongtin_hoso.ten_kh">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="key w80">Địa chỉ</div>
                        <div class="value">
                            <input type="text" class="form-control" v-model="thongtin_hoso.diachi">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w80">Ngày HT</div>
                                <div class="value">
                                    <div class="input-icon-right">
                                        <!-- <flat-pickr class="form-control" :config="dateconfig" v-model="thongtin_hoso.ngay_ycht"/>
                                        <span class="icon one-calendar"></span> -->
                                        <!-- <k-date-picker ref="dtpNgayBG" format="DD/MM/YYYY HH:mm A" type="datetime" v-model="thongtin_hoso.ngay_ycht" /> -->
                                        <date-picker style="width:100%" input-class="form-control"
                                            :format="datetimeFormat" :value-type="'format'"
                                            v-model="thongtin_hoso.ngay_ycht"></date-picker>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w80">Ngày tạo</div>
                                <div class="value">
                                    <div class="input-icon-right">
                                        <!-- <flat-pickr class="form-control" :config="dateconfig" v-model="thongtin_hoso.ngay_tao"/>
                                        <span class="icon one-calendar"></span> -->
                                        <!-- <k-date-picker ref="dtpNgayBG" format="YYYY-MM-DD HH:mm:ss A" type="datetime" v-model="thongtin_hoso.ngay_tao" /> -->
                                        <date-picker style="width:100%" input-class="form-control"
                                            :format="datetimeFormat" :value-type="'format'"
                                            v-model="thongtin_hoso.ngay_tao"></date-picker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w80">Mã số thuế</div>
                                <div class="value">
                                    <input type="text" class="form-control" v-model="thongtin_hoso.mst">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w80">Số giấy tờ</div>
                                <div class="value">
                                    <input type="text" class="form-control" v-model="thongtin_hoso.so_gt">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w80">Mã TB</div>
                                <div class="value">
                                    <input type="text" class="form-control" v-model="thongtin_hoso.ma_tb">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w80">ContractID</div>
                                <div class="value">
                                    <input type="text" class="form-control" v-model="thongtin_hoso.contact_id">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w80">KH nhận</div>
                                <div class="value">
                                    <div class="input-icon-right">
                                        <!-- <flat-pickr class="form-control" :config="dateconfig" v-model="thongtin_hoso.ngay_khnhan"/>
                                        <span class="icon one-calendar"></span> -->
                                        <!-- <k-date-picker ref="dtpNgayBG" format="DD/MM/YYYY HH:mm A" type="datetime" v-model="thongtin_hoso.ngay_khnhan" /> -->
                                        <date-picker style="width:100%" input-class="form-control"
                                            :format="datetimeFormat" :value-type="'format'"
                                            v-model="thongtin_hoso.ngay_khnhan"></date-picker>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w80">Kho hồ sơ</div>
                                <div class="value">
                                    <div class="select-custom">
                                        <select2 :options="listbox.list_kho.list" v-model="listbox.list_kho.value">
                                            <option disabled value="0">Select one</option>
                                        </select2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="key w80">Ghi chú</div>
                        <div class="value">
                            <textarea name="" id="" cols="30" rows="10" class="form-control"
                                style="height: 93px;resize: none;" v-model="thongtin_hoso.ghichu"></textarea>
                        </div>
                    </div>
                </div>
                <div class="box-col box-form" id="boxRight" style="width:55%">
                    <div class="legend-title">Chi tiết bộ hồ sơ</div>
                    <!-- <gridviewmultiline :datalist="listbox.list_chitiet_hoso.list" :headers="listbox.list_chitiet_hoso.headers"
                    flcol="false" v-bind:checkheader="false" lastcoltemplate="0" :groupKey="listbox.list_chitiet_hoso.groupByKey" 
                    @download_function="downloadItem"></gridviewmultiline> -->
                    <!-- <DataGrid v-bind:columns="listbox.list_chitiet_hoso.headers"
                        v-bind:dataSource="listbox.list_chitiet_hoso.list" :enable-paging-server="false"
                        :allowPaging="true" :showFilter="true" :showColumnCheckbox="true">
                    </DataGrid> -->

                    <div class="box-col" id="boxBottom">
                        <div class="nav tabs tab-over">
                            <a href="#tab1" data-toggle="tab" class="active">Chi tiết hồ sơ giấy</a>
                            <a href="#tab2" data-toggle="tab">Chi tiết hợp đồng điện tử</a>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">

                                <DataGrid v-bind:columns="listbox.list_chitiet_hoso.headers"
                                    v-bind:dataSource="listbox.list_chitiet_hoso.list" :enable-paging-server="false"
                                    :allowPaging="true" :showFilter="true" :showColumnCheckbox="true">
                                </DataGrid>
                            </div>
                            <div class="tab-pane" id="tab2">

                                <DataGrid v-bind:columns="listbox.list_chitiet_hoso_dientu.headers"
                                    v-bind:dataSource="listbox.list_chitiet_hoso_dientu.list"
                                    ref="DsHddt"
                                    @rowSelected="getData"
                                    :enabledSelectFirstRow = "true"
                                    :enable-paging-server="false" :allowPaging="true" :showFilter="true"
                                    :showColumnCheckbox="false">
                                </DataGrid>
                            </div>
                        </div>
                    </div>


                    </DataGrid>

                </div>
            </div>
            <div class="box-col" id="boxBottom">
                <div class="nav tabs tab-over">
                    <a href="#tab3" data-toggle="tab" class="active">Chi tiết hồ sơ luân chuyển</a>
                    <a href="#tab4" data-toggle="tab">Quá trình chuyển kho</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab3">

                        <DataGrid v-bind:columns="listbox.list_hoso_luanchuyen.headers"
                            v-bind:dataSource="listbox.list_hoso_luanchuyen.list" :enable-paging-server="false"
                            :allowPaging="true" :showFilter="true" :showColumnCheckbox="true">
                        </DataGrid>
                    </div>
                    <div class="tab-pane" id="tab4">

                        <DataGrid v-bind:columns="listbox.list_chuyenkho.headers"
                            v-bind:dataSource="listbox.list_chuyenkho.list"
                            :enable-paging-server="false" :allowPaging="true" :showFilter="true"
                            :showColumnCheckbox="true">
                        </DataGrid>
                    </div>
                </div>
            </div>

            <ejs-dialog :enableResize='true' :visible="false" ref="popupgrvTT" :header='" "' showCloseIcon=true
                target=".main-wrapper" width='60%' height="800">
                <grvTT :input_data="listbox.list_tt" @emit_chapnhan="parent_chapnhan" />
            </ejs-dialog>

        </div>
    </div>




    <footer class="footer">
        VNPT-IT &copy; 2021
    </footer>


</div>