<div>
    <div class="row">
        <div class="col-12">
            <DataGrid ref="gridItems" :allowPaging="true" :enablePagingServer="false" v-bind:columns="[
                    {fieldName: 'MATHIETBI', headerText: 'Mã thiết bị', width: 120, textAlign: 'Left'},
                    {fieldName: 'TENTHIETBI', headerText: 'Tên thiết bị', textAlign: 'Left'},
                    {fieldName: 'NGAY_CN', headerText: 'Ngày bổ sung vào hạ tầng', textAlign: 'Right'},
                    {fieldName: 'TEN_NV', headerText: 'Người bổ sung', width: 120, textAlign: 'Left'},
                    ]" v-bind:dataSource="dataItems"></DataGrid>
            </DataGrid>
        </div>
    </div>
</div>