.vattu_box {
  position: relative;
}

.vattu_table {
  position: absolute;
  z-index: 2;
  max-height: 300px;
  background: aliceblue;
  overflow-y: scroll;
  min-width: 600px;
}
.split
{
  overflow-x: unset;
}
