.disabledInput {
  pointer-events: none;
  color: #666 !important;
  border-color: #9999 !important;
}

.disabledInput > a {
  color: #666 !important;
}
#boxRight {
  height: -webkit-fill-available;
}
.color-text {
  color: #0176ff;
  text-decoration: none;
}
