<tr class="" style="width: 100%">
  <td class="e-rowcell">
    <span v-html="data.ten_ts"></span>
  </td>
  <td class="e-rowcell" v-if="data.loai_dk == 0">
    <input type="text" class="form-control" style="background: transparent;"
           v-model="data.giatri"/>
  </td>
  <td class="e-rowcell" v-if="data.loai_dk == 1">
    <div class="input-icon-right">
      <vue-numeric currency='' separator=',' v-model="data.giatri" class="screen-cal form-control tright text-rose"></vue-numeric>
      <span class="icon one-calculator" @click="data.hethong = !data.hethong"></span>
      <Calculator class="calculator-custom" @display="data.giatri = $event" :value="data.giatri" :is-show="data.hethong" @close="data.hethong = !data.hethong"></Calculator>
    </div>
  </td>
  <td class="e-rowcell" v-if="data.loai_dk == 2">
    <ejs-datepicker
      v-model="data.giatri"
      :format="dateFormat"
    ></ejs-datepicker>
  </td>
  <td class="e-rowcell" v-if="data.loai_dk == 3">
<!--    <vue-timepicker v-model="data.giatri" format="HH:mm:ss"></vue-timepicker>-->
    <b-input-group class="mb">
      <b-form-input
        id="example-input"
        v-model="data.giatri"
        type="text"
        placeholder="HH:mm:ss"
      ></b-form-input>
      <b-input-group-append>
        <b-form-timepicker
          v-model="data.giatri"
          button-only
          right
          show-seconds
          locale="en"
          aria-controls="example-input"
        ></b-form-timepicker>
      </b-input-group-append>
    </b-input-group>
  </td>
  <td class="e-rowcell" v-if="data.loai_dk == 4">
    <SelectExt ref="cboTINH" v-model.trim="data.giatri"  :dataSource="dsLenh" :dataTextField= "KEY_VALUE"
                :dataValueField="KEY_FIELD" />
  </td>
  <td class="e-rowcell" v-if="data.loai_dk == 5">
    <ComboboxGrid ref="cboTENTINH" v-bind:columns="[
                                                {fieldName: KEY_VALUE,width:'50px', headerText: KEY_VALUE, isPrimaryKey:true, allowFiltering: true},
                                                {fieldName: KEY_FIELD, headerText: KEY_FIELD, allowFiltering: true}
                                                ]"
                  v-bind:dataSource="data.lenh"
                  v-model="data.giatri"
                  :showDropArea="true"
                  :showColumnCheckbox="true"
                  :enabledSelectFirstRow="false"
                  :textField="KEY_VALUE"
                  :valueField="KEY_VALUE"></ComboboxGrid>
  </td>
  <td class="e-rowcell" v-if="data.loai_dk == 6">
    <div class="select-custom dropdown">
      <div class="form-control h24 bor0 nocorner bg-none center" data-toggle="dropdown">
        <img :src="sourceImg" alt="" style="height: 20px;">
      </div>
      <div class="dropdown-menu fullw pad10 ">
        <div class="center">
          <img :src="sourceImg" class="inline" alt="" style="height: 50px;">
          <input type="file" accept="image/*" @change="previewImage($event)" class="form-control-file" :id="data.ma_ts" hidden>
        </div>
        <div class="group-buttons center">
          <button class="btn btn-main">OK</button>
          <button class="btn btn-second">Cancel</button>
          <button class="btn btn-second" @click="chonImage">Load</button>
          <button class="btn btn-second" @click="deleteImage">Delete</button>
        </div>
      </div>
    </div>
  </td>
  <td class="e-rowcell" v-if="data.loai_dk == 7">
    <input type="checkbox" v-model="data.giatri" style="width: 20px;height: 20px">
  </td>
</tr>
