ul{
  li{
    cursor: pointer;
  }
}
.box-up{
  display: flex;
  height: 260px;
  justify-content: space-between;
  .box-up__ttkenh{
    width: 60%;
  }

  .box-up__group-right{
    width: 39%;
    display: flex;
    flex-direction: column;
    .nguon-dl{
      flex: 2;
      display: flex;
      .value{
        flex: 1;
        padding: 20px 50px;
        .group-radio{
          background-color: #dbdbdb;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          // align-items: center;
          label{
            margin-left: 40%;
          }
        }
      }
      .key{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .timkiem{
      flex: 1;
      .value{
        display: flex;
        .btn{
          width: 100px;
          margin-left: 10px;
        }
      }
    }
  }
}

.group-matb{
  display: flex !important;
  .btn-threedot{
    width: 32px;
    height: 32px;
    border: 1px solid #E1E1E1;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
  }
}
.box-down{
  display: flex;
  justify-content: space-between;
  .box-right{
    width: 39% !important;
  }
}



@media (min-width: 992px) {
  .modal .modal-huge {
      max-width: 95% !important;
      width: 95% !important;
  }
}

@media (min-width: 576px) {
  .modal .modal-huge {
      max-width: 95% !important;
      width: 95% !important;
  }
}