<div class="pt-3">
    <div class="container">
        <table class="w-100" v-if="data !== undefined && data.length > 0">
            <tbody>
                <tr>
                    <td>
                        <div class="check-action ml-2 mt-1">
                            <input type="checkbox" id="all" @click="toggleAllCb($event)" class="check" :checked="isCheckAll"><span class="name"></span>
                        </div>
                    </td>
                    <td>
                        <label class="mb-1 w-100" for="all">Tất cả</label>
                    </td>
                </tr>
                <tr v-for="dt in data">
                    <td>
                        <div class="check-action ml-2 mt-1">
                            <input v-bind:id="dt.NHANVIEN_ID" @click="toggleRowCb(dt.NHANVIEN_ID, $event)" :checked="selectedValue.includes(dt.NHANVIEN_ID)" type="checkbox" value="dt.NHANVIEN_ID" class="check"><span class="name"></span>
                        </div>
                    </td>
                    <td>
                        <label class="mb-1 w-100" :for="dt.NHANVIEN_ID">{{dt.TEN_HIENTHI}}</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-right p-2">
        <button class="btn sm btn-primary" @click="onOk">OK</button>
        <button class="btn sm btn-secondary" @click="onCancel">Cancel</button>
    </div>
</div>
