.list-actions-top .list > li.disabled {
    cursor: not-allowed;
    pointer-events: none;
}
.list-actions-top .list > li.disabled > a {
    color: #6c757d !important;
}
li.pointer {
    cursor: pointer;
}

a.active {
    color: #035fcc !important;
    font-weight: bold;
}
.flex-container-dynamic {
    display: flex;
    flex-wrap: wrap;
}
.list-actions-top {
    z-index: 0 !important;
}
.redcolor {
    color: #d32f2f !important;
}