<template>
    <ejs-dialog :enableResize="true" :allowDragging="true" :visible="false" :animationSettings="animationSettings" ref="dialogObjChuyenTo" :position="position" :close="closeDialogChuyenTo" :header="'Chuyển tổ'" showCloseIcon="true" width="90%" target="#app .main-wrapper">
      <div class="main-wrapper-popup main-wrapper-popup-chuyento">
        <div class="list-actions-top">
          <ul class="list">
            <li>
              <a v-show="btnLayTTMoi.Visible" href="#" @click.prevent="btnLayTTMoi_Click"> <span class="icon one-file-attach"></span> Lấy TT </a>
            </li>
            <li>
              <a href="#" v-bind:class="{ disabled: !tsbtnCapNhat }" :disabled="!tsbtnCapNhat" @click.prevent="tsbtnCapNhat_Click"> <span class="icon one-reload1"></span> Cập nhật </a>
            </li>
            <li>
              <a href="#" @click.prevent="thoat"> <span class="icon ui-1_circle-remove nc-icon-glyph"></span> Thoát</a>
            </li>
          </ul>
        </div>
        <div class="popup-body popupChuyenTo">
          <div class="box-form">
            <div class="legend-title">{{ labelFunctionTitle }}</div>
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="row">
                  <div class="col-sm-12 col-12">
                    <div class="info-row">
                      <div class="key">Số máy/account</div>
                      <div class="value">
                        <div class="input-more-button">
                          <button class="btn" @click="SearchDanhBa">
                            <span class="-ap icon-more_horiz"></span>
                          </button>
                          <input type="text" v-on:keyup.enter="txtMaTB_KeyPress" v-model="txtSoMay" ref="reftxtSoMay" class="form-control" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-12">
                    <div class="info-row">
                      <div class="key">Ngày BH</div>
                      <div class="value">
                        <date-picker :format="dateFormat" :value-type="dateFormat" ref="txtNgayBH" :time-title-format="dateFormat" :type="typeFormat" :showTimePanel="showTimePanel" v-model="txtNgayBH" :disabled-date="disabledRange" @close="handleOpenChange" id="txtNgayBH">
                          <template #icon-calendar>
                            <span class="icon one-calendar"></span>
                          </template>
                          <template v-slot:footer>
                            <button class="mx-btn mx-btn-text" @click="toggleTimePanel">
                              {{ showTimePanel ? 'Chọn ngày' : 'Chọn giờ' }}
                            </button>
                          </template>
                        </date-picker>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-12">
                    <div class="info-row">
                      <div class="key">Dịch vụ</div>
                      <div class="value">
                        <input type="text" v-model="txtDichVuVT" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-12">
                    <div class="info-row">
                      <div class="key">Loại hình</div>
                      <div class="value">
                        <input type="text" v-model="txtLoaiTB" class="form-control" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-12">
                    <div class="info-row">
                      <div class="key">Tên thuê bao</div>
                      <div class="value">
                        <input type="text" v-model="txtTenTB" class="form-control" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-12">
                    <div class="info-row">
                      <div class="key">Địa chỉ TB</div>
                      <div class="value">
                        <input type="text" v-model="txtDiachiLD" class="form-control" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-12">
                    <div class="info-row">
                      <div class="key">Ghi chú</div>
                      <div class="value">
                        <input type="text" v-model="txtGhiChu" class="form-control" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="info-row">
                  <div class="key">Người giao</div>
                  <div class="value">
                    <input type="text" v-model="txtNguoiGiao" class="form-control" />
                  </div>
                </div>
                <div class="info-row">
                  <div class="key">Nơi nhận</div>
                  <div class="value">
                    <input type="text" v-model="txtNguoiNhan" class="form-control" />
                  </div>
                </div>
                <div class="info-row">
                  <div class="key">Trạng thái BH</div>
                  <div class="value">
                    <input type="text" v-model="txtTrangThaiBH" class="form-control" />
                  </div>
                </div>
                <div class="legend-title">Thông tin thay đổi đơn vị</div>
                <div class="info-row">
                  <div class="key">Đơn vị QL</div>
                  <div class="value">
                    <Select2 ref="refdonviQLId" v-model="donviQLId" :options="DmDvQL" />
                  </div>
                </div>
                <div class="info-row">
                  <div class="key">Đơn vị</div>
                  <div class="value">
                    <Select2 ref="reftramVtId" v-model="tramVtId" :options="DmTramVT" />
                  </div>
                </div>
                <div class="info-row">
                  <div class="key">Nội dung</div>
                  <div class="value">
                    <input ref="txtNoiDung" type="text" v-model="txtNoiDung" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="boxForm">
            <b-tabs class="nav tabs tab-over relative" style="z-index: 2; overflow: scroll" v-model="tabIndex">
              <b-tab :title="layoutCT_DHXL_Text" v-show="layoutCT_DHXL">
                <DataGrid
                  v-bind:columns="DhSuCo.headers"
                  v-bind:dataSource="DhSuCo.data"
                  :showColumnCheckbox="false"
                  :enable-paging-server="false"
                  :allowPaging="true"
                  :showFilter="true"
                  :enabledSelectFirstRow="false"
                  @selectedItemsChanged="gridChiTiet_RowsSelected"
                  @rowClicked="gridChiTiet_Selected"
                  @rowDataBound="gridChiTiet_RowDataBound"
                  @dataBound="gridChiTiet_DataBound"
                  ref="ref_gridChiTiet"
                >
                </DataGrid>
              </b-tab>
              <b-tab title="Danh sách phiếu báo hỏng lạc hướng" v-if="layout_DSLacHuong">
                <DataGrid
                  v-bind:columns="DsPhieuBaoHong.headers"
                  v-bind:dataSource="DsPhieuBaoHong.data"
                  :showColumnCheckbox="true"
                  :enable-paging-server="false"
                  :allowPaging="true"
                  :showFilter="true"
                  :enabledSelectFirstRow="false"
                  @selectedItemsChanged="gridBaoHong_RowsSelected"
                  @rowClicked="NAP_DS_LUOI"
                >
                </DataGrid>
              </b-tab>
            </b-tabs>
          </div>
        </div>
        <b-modal id="popupComponentChuyenTos" size="xl" hide-footer hide-header hide-header-close body-class="modal-body p-0">
          <component :is="popupComponent" ref="generalPopup" :dulieu="popupComponentData" v-bind="popupComponentAttr" isPopup="true" v-on="popupComponentEvts"></component>
        </b-modal>
      </div>
    </ejs-dialog>
  </template>
  