<main class='hatang-subnet-wrapper'>

  <!-- LEFT COLUMN -->
  <div class="tabs-wrapper">
    <div class="nav tab-over tabs">
      <a href="#tabHaTangAoHoa" class="tab" :class="{ active: activeTab === 1}" @click.prevent="changeTab(1)">
        Hạ Tầng Ảo Hóa
      </a>

      <a href="#tabHaTangBackUp" class="tab" :class="{ active: activeTab === 2 }" @click.prevent="changeTab(2)">
        Hạ Tầng BackUp
      </a>

      <a href="#tabHaTangIDG" class="tab" :class="{ active: activeTab === 3 }" @click.prevent="changeTab(3)">
        Hạ Tầng IDG
      </a>

      <a href="#tabHaTangSmartCloud" class="tab" :class="{ active: activeTab === 4 }" @click.prevent="changeTab(4)">
        Hạ Tầng Smart Cloud
      </a>
    </div>

    <div class="tab-content">
      <div id="tabHaTangAoHoa" class="tab-pane" :class="{ active: activeTab === 1 }">
        <HaTangAoHoa />
      </div>

      <div id="tabHaTangBackUp" class="tab-pane" :class="{ active: activeTab === 2 }">
        <HaTangBackUp />
      </div>

      <div id="tabHaTangIDG" class="tab-pane" :class="{ active: activeTab === 3 }">
        <HaTangIDG />
      </div>

      <div id="tabHaTangSmartCloud" class="tab-pane" :class="{ active: activeTab === 4 }">
        <HaTangSmartCloud />
      </div>
    </div>
  </div>
  <!-- Thong Tin Chung -->

</main>