>>> .select2-container { 
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table;
    table-layout: fixed;
}

>>> .tien-ps {
    color: blue !important;
    text-align: right !important;
    font-weight: bold !important;
}

>>> .tong-no {
    color: red !important;
    text-align: right !important;
    font-weight: bold !important;
}

>>> .tien-dk {
    text-align: right !important;
    font-weight: bold !important;
}
