.is-invalid >>> span.e-input-group {
  border-color: #dc3545 !important;
}
/deep/ .list-actions-top .list > li.disabled {
  cursor: not-allowed;
  pointer-events: none;
}
/deep/ .list-actions-top .list > li.disabled  > a {
  color: #6c757d !important;
}

/deep/ .modal-export > .modal-dialog > .modal-content > .modal-body {
  padding: 0;
}

/deep/ .list-actions-top .list > li.prevent {
  cursor: not-allowed;
  pointer-events: none;
}

/deep/ .col-last-r .table-result tbody tr:not(.empty) td:nth-last-child(1) {
  text-align: right!important;
}

/deep/ .col-5-r .table-result tbody tr td:nth-child(5) {
  text-align: right!important;
}

/deep/ .custom-kycuoc .w120 {
  width: 80px!important;
}

/deep/ .custom-kycuoc .w60 {
  width: 50px!important;
}

/deep/ .custom-kycuoc .w60 select{
  width: 60px!important;
}

/deep/ .custom-kycuoc .e-input-group {
  max-width: 196px!important;
  margin-right: 10px!important;
}

/deep/ .table-result tbody tr:nth-child(2n+2):hover {
  background-color: #FFF9EB !important;
}

/deep/ .table-result tbody tr:nth-child(2n+2).highlight1 {
  background-color: #F9E1A9 !important;
}

/deep/ .grid table tr th button.btn-sort:not(.btn-sorted) {
  opacity: 0.2;
}

/deep/ .grid table tr th button.btn-sort {
  background-color: transparent;
  border: 0px;
  padding-right: 0px;
  color: #007eff;
}