@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../styles/table.style.scss';

.ant-layout-sider-children ul {
  border-inline-end: none !important;
}

.ant-card-body {
  padding: 12px !important;
}

.ant-tabs-nav {
  margin-bottom: 0 !important;
}

.ant-tabs-nav-list,
.ant-tabs-tab {
  @apply flex-1 justify-center lg:justify-start lg:flex-none #{!important};
}

.button-flex {
  .ant-btn-default,
  .ant-btn-primary {
    @apply w-full lg:w-auto;
  }
}

.ant-btn {
  @apply h-[38px];
}

.custom-select-input {
  .ant-select .ant-select-selector {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .ant-input {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none !important;
  }
}

.ant-segmented-item-label {
  @apply text-[14px] font-medium #{!important};
}

.ant-segmented-item {
  min-width: 83px !important;
}

.ant-segmented-item-selected:last-child {
  @apply text-primary-850;
}

.ant-segmented-item-selected:last-child {
  @apply text-red-semantic-600;
}

.custom-list {
  list-style-type: none !important;
  padding-left: 0;
}

.custom-list li::before {
  margin-left: 0 !important;
  content: '•';
  color: #232323;
  font-size: 16px;
  margin-right: 8px;
}

.select-collapse {
  .ant-select-selector {
    @apply text-primary-1000 border-primary-1000 rounded-full !important;
  }
  .ant-select-arrow {
    @apply text-primary-1000 !important;
  }
}

.ant-cascader-panel {
  .ant-cascader-menus {
    width: 100%;
  }

  .ant-cascader-menu {
    overflow-y: auto;
    flex-shrink: unset !important;
    max-height: 250px;
    width: 510px !important;
    flex-grow: 0 !important;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    .ant-cascader-menu-item {
      width: calc(100% / 2);
      box-sizing: border-box;
      height: 38px;
      position: relative;
    }

    .ant-cascader-checkbox-inner {
      display: none !important;
    }

    .ant-cascader-menu-item-active {
      @apply text-primary-1000 !important;
    }
  }

  /* Scrollbar customization */
  .ant-cascader-menu::-webkit-scrollbar {
    width: 5px;
  }

  .ant-cascader-menu::-webkit-scrollbar-track {
    color: black;
    background: white;
    border-radius: 10px;
  }

  .ant-cascader-menu::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 10px;
  }

  /* Second-level menu styling */
  .ant-cascader-menu + .ant-cascader-menu {
    flex-shrink: unset !important;
    max-height: 250px !important;
    overflow-y: auto;
    flex-grow: 1 !important;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    .ant-cascader-menu-item {
      width: calc(100% / 4);
      box-sizing: border-box;
      height: 38px;
      position: relative;
    }
  }

  .ant-cascader-menu-item {
    height: 38px;
  }

  .ant-cascader-menu-item-active .entire {
    @apply text-primary-1000 font-semibold !important;
    .entire-funeral {
      @apply text-orange-500 font-semibold !important;
    }
  }
}

.table-select-tag {
  .ant-select-selection-item {
    @apply bg-primary-50 border-primary-700 rounded-lg !important;
  }
}

@media (max-width: 1024px) {
  .ant-cascader-panel {
    .ant-cascader-menu-item {
      width: 100% !important;
    }
  }
}

.custom-select .ant-select-selector {
  border-color: #0a6345 !important;
  border-radius: 999px !important;
}

.custom-select .ant-select-arrow {
  color: #0a6345 !important;
}
.custom-select .ant-select-selection-item {
  color: #0a6345 !important;
}

.custom-checkbox {
  .ant-btn-icon {
    display: flex !important;
    align-items: center !important;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: var(--background-color);
    border-color: var(--border-color);
  }
}

.ant-color-picker-trigger {
  @apply border-0 #{!important};
}

.ant-color-picker-color-block {
  @apply rounded-full #{!important};
}

.active-select .ant-select-selection-item {
  @apply text-primary-1000 #{!important};
}

.ant-select-selection-overflow {
  overflow-x: hidden !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
  @apply overflow-x-auto flex-nowrap #{!important};
}

.ant-select-selection-overflow::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.custom-branch-select {
  .ant-select-selector {
    @apply rounded-lg bg-transparent justify-center #{!important};
  }

  .ant-select {
    @apply rounded-lg #{!important};
  }

  .ant-select-selection-item {
    @apply text-white lg:text-white pl-6 flex-none justify-center #{!important};
  }

  .ant-select-arrow {
    @apply text-white #{!important};
  }
}

.custom-branch-select.side-branch-select {
  .ant-select-selector {
    .ant-select-selection-wrap {
      justify-content: center;
      .ant-select-selection-item {
        color: white !important;
        margin-left: 20px;
      }
    }
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.no-pointer .ant-collapse-header {
  cursor: default !important;
}

.custom-tab .ant-tabs-content {
  position: unset !important;
}

.custom-row-background
  .ant-table-cell:not(:nth-child(1)):not(:nth-child(2)):not(.ant-table-selection-column):not(.ant-table-view-column):not(
    .ant-table-cell-fix-right
  ):not(.ant-table-cell-fix-right-first) {
  background-color: var(--row-color) !important;
}

.ant-tabs-nav .ant-tabs-tab:not(:first-child) {
  margin-left: 20px !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner {
  background-color: #ededed !important;
}

.ant-picker-panels {
  @apply flex-col lg:flex-row;
}

.facilityTable {
  .ant-picker-clear {
    left: 95%;
  }
}

.disabled-input-show {
  .ant-input.ant-input-disabled {
    color: #232323 !important;
  }
}

.ant-table-cell.ant-table-cell-fix-right {
  box-shadow: -4px 0 4px -2px rgba(0, 0, 0, 0.05);
  z-index: 5;
}

.ant-table-cell.ant-table-cell-fix-left-last {
  box-shadow: 0 0 4px -2px rgba(0, 0, 0, 0.05);
  z-index: 5;
}

.custom-table .border-right-column {
  border-right: 2px solid #000 !important;
}

.lucette-table {
  .ant-table-thead {
    th {
      padding: 10px 8px !important;
    }
  }
}

@media (max-width: 1024px) {
  .ant-upload-list.ant-upload-list-picture-card {
    flex-wrap: unset !important;
    overflow-x: auto;
  }
  .ant-upload-list-item-container {
    aspect-ratio: 1 !important;
  }

  .ant-upload {
    aspect-ratio: 1;
  }
}

.ant-upload.ant-upload-select {
  order: -1 !important;
}

.ant-picker-dropdown {
  // @apply inset-0 #{!important};
}
