.border-input-none .ant-picker-outlined,
.border-input-none .ant-select-selector,
.border-input-none .ant-input-number-outlined,
.border-input-none .ant-input-outlined {
  @apply border-none shadow-none bg-transparent;
}

.ant-input-outlined:focus-within {
  @apply border-solid !important;
}

.border-input-none .ant-select-arrow {
  @apply hidden !important;
}

.border-input-none .ant-select:focus-within .ant-select-arrow {
  @apply block !important;
}

.border-input-none .ant-select:focus-within .ant-select-selector {
  border-color: #007d45;
  box-shadow: 0 0 0 2px rgba(5, 61, 26, 0.34);
  outline: 0;
  background-color: #ffffff;
}
