<div class="main-wrapper">
    <div class="breadcrumb-top">
        <breadcrumb :header="header" />
    </div>
    <div class="list-actions-top">
        <ul class="list">
            <li>
                <a @click="clickLamMoi">
                    <span class="icon one-reload"></span> Làm mới 
                </a>
            </li>
            <li>
                <a @click="clickHDSD">
                    <span class="icon one-circle-question"></span> Trợ giúp 
                </a>
            </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="box-form">
            <div class="legend-title">Chọn loại hình thuê bao</div>
            <div class="row">
                <div class="col-sm-6 col-12">
                    <div class="info-row">
                        <div class="key w80">Dịch vụ VT</div>
                        <div class="value">
                            <div class="select-custom">
                                <select2 v-model="params.p_dsdichvu" :options="params.p_dsdichvu_options"
                                    @select="onDichVuChange($event)" tabindex="1" placeholder="Vui lòng chọn dịch vụ" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="info-row">
                        <div class="key w80">Loại hình TB</div>
                        <div class="value">
                            <div class="select-custom">
                                <select2 v-model="params.p_loaihinh" :options="params.p_loaihinh_options"
                                    @select="onLoaiHinhChange($event)" tabindex="1"
                                    placeholder="Vui lòng chọn loại hình thuê bao" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-move-select-table">
            <div class="box-col box-form">
                <div class="legend-title">
                    <div class="pull-left">Danh sách vật tư đã gán</div>
                    <div class="pull-right">
                        <div class="check-action red">
                            <input type="checkbox" class="check" v-model="chkAllDagan" @change="chkAllDaGan_CheckedChanged">
                            <span class="name">Chọn nhanh</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="table-content">
                    <DataGrid class="table-result table-gachle" v-bind:columns="[
                        {fieldName: 'chon', headerTemplate: getHeaderChon(),  allowFiltering: false, allowSorting: false, type: 'checkbox', width: 40,textAlign: 'center'},
                        {fieldName: 'ten_vt', headerText: 'Tên vật tư', allowFiltering: true, allowSorting: true, textAlign: 'left',width: 420}
                        ]" v-bind:dataSource="ds_vattudagan_table" :showFilter="true"  ref="danhsach"
                        :showColumnCheckbox="false" @selectedItemsChanged="onDataCheckedVatTu"  @rowDeselected="onDataDeSelectionVatTu"
                        :allowPaging="true" :enablePagingServer="false" :enabledSelectFirstRow="false">
                    </DataGrid>
                </div>
            </div>
            <div class="actions">
                <button class="btn" @click="btnGoVatTu()">
                    <span class="-ap icon-chevron-thin-right"></span>
                </button>
                <button class="btn" @click="btnGanVatTu()">
                    <span class="-ap icon-chevron-thin-left"></span>
                </button>
            </div>
            <div class="box-col box-form">
                <div class="legend-title">
                    <div class="pull-left">Danh sách vật tư chưa gán</div>
                    <div class="pull-right">
                        <div class="check-action red">
                            <input type="checkbox" class="check" v-on:click="chkNhanhVTChuaGan()"
                                v-model="params.chk_nhanhVTChuaGan">
                            <span class="name">Chọn nhanh</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="table-content">
                    <table class="table-result table-gachle" style="table-layout: fixed; width: 100%;">
                        <thead class="center">
                            <tr>
                                <th>Tên vật tư</th>
                            </tr>
                            <tr>
                                <th>
                                    <div class="input-icon-right">
                                        <input type="text" class="form-control" v-model="filterTenVT" @change="filterDSVT">
                                        <span class="icon nc-icon-outline ui-1_zoom"></span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="tree-plus" style="height: 500px;width: 100%; overflow: auto;">
                                        <ejs-treeview id='treeview' :fields="fields" :showCheckBox='true' ref="treeObj" cssClass='depts-tree-view'
                                        :allowTextWrap="true"
                                            :nodeClicked='nodeChecked' :keyPress='nodeChecked' :selectedNodes="selectedNodes" :expandedNodes="expandedNodes" >
                                        </ejs-treeview>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        VNPT-IT &copy; 2021
    </footer>
</div>