.required {
  color: red;
}

.cursor-pointer {
  cursor: pointer;
}

.dropdown-btn {
  position: relative;
  display: inline-block;
}

.dropdown-content-btn {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  color: #007bff;
}

.dropdown-btn:hover .dropdown-content-btn {
  display: block;
}

.dropdown-content-btn {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  color: #007bff;
}

.dropdown-btn:hover .dropdown-content-btn {
  display: block;
}

.list-actions-top .list {
  margin-right: 30px;
  overflow: inherit !important;
  white-space: inherit !important;
}

.page-content {
  position: absolute !important;
}

#modal-handover-ticket .main-wrapper {
  position: relative !important;
  top: 0 !important;
}

#modal-handover-ticket .main-wrapper .page-content {
  height: 70vh;
}

@media only screen and (max-width: 1533px) {
  #loaiHD, #quyTrinh {
    width: 330px !important;
  }
}
.traphieu-content {
  height: 80vh;
}

.outside {
  opacity: 0 !important;
}

.w-full {
  width: 100%;
}

.tright input {
  text-align: right;
}

.price .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left),
.e-float-input.e-control-wrapper:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left) {
  color: red !important;
  -webkit-text-fill-color: red !important;
  font-weight: 800 !important;
}

/*.popup-box {
  border-radius: 0px;
  background-color: #00000054!important;
}*/
.input-container.line-red input {
  color: #d32f2f !important;
  /* text-align: end; */
  font-weight: bold;
}

.e-rowcell .customcss {
  color: red !important;
}

.text-black {
  color: rgb(0, 0, 0);
}

.font-weight-bold {
  font-weight: bold !important;
}

.vue-text-black input {
  color: rgb(0, 0, 0);
}

.vue-font-weight-bold input {
  font-weight: bold !important;
}

.e-numeric.e-style .e-control.e-numerictextbox {
  color: rgb(255, 6, 6) !important;
  -webkit-text-fill-color: rgb(255, 9, 9) !important;
  border: 0px;
}

.e-control-wrapper.e-numeric.e-float-input.e-style .e-spin-down {
  color: rgb(168, 0, 0) !important;
}

.e-control-wrapper.e-numeric.e-float-input.e-style .e-float-line::before {
  background: royalblue;
}

.e-control-wrapper.e-numeric.e-float-input.e-style .e-float-line::after {
  background: royalblue;
}

.e-control-wrapper.e-numeric.e-float-input.e-style .e-spin-up {
  color: rgb(168, 0, 0) !important;
}

.e-control-wrapper.e-numeric.e-float-input.e-style .e-float-text.e-label-top {
  color: rgb(168, 0, 0) !important;
}

.xuat-phieu:hover {
  background-color: rgba(1, 118, 255, 0.1);
}
.xuat-phieu:hover a:hover {
  color: #0056b3;
  text-decoration: none !important;
}

.ui-xuat-phieu {
  position: absolute;
  width: 159px;
  padding-left: 0rem;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.list-actions-top a {
  cursor: pointer;
}

/* input:required { background-color:#FFF9EB; } */
input:focus:invalid {
  border-color: red;
  background-color: lightcoral;
}

/* input:focus:valid {
  border-color:black;
  background-color: greenyellow;
} */
.dv-cntt .mx-input {
  color: #0176FF !important;
  font-weight: bold !important;
}

.dv-cntt .select2-selection__rendered {
  color: #0176FF !important;
}

.modal .modal-hosodientu-size {
  max-width: 85% !important;
}

.modal-dialog {
  max-width: 60vw;
}

.modal-body .page-content {
  position: inherit;
}

.modal-sm {
  max-width: 500px !important;
}

.e-dialog .main-wrapper {
  all: unset;
}
.e-dialog .main-wrapper * {
  all: unset;
}/*# sourceMappingURL=CompleteProfileITVAS.css.map */