<div class="table-content">
  <DataGrid
    ref="grdPortItems"
    :allowPaging="true"
    :enablePagingServer="false"
    :showColumnCheckbox="true"
    :pageSettings="{ pageSize: 10 }"
    v-bind:columns="[
            {fieldName: 'ID', headerText: 'ID', textAlign: 'Left', width: 50},
            {fieldName: 'TEN', headerText: 'Tên Cổng', textAlign: 'Left', width: 150},
            {fieldName: 'LOAI_CONG', headerText: 'Loại cổng', textAlign: 'Left', width: 120, template: colLoaiCongTemplate()},
            {fieldName: 'GIATRI_CONG', headerText: 'Tốc độ/ giao thức', textAlign: 'Left', width: 120},
            {fieldName: 'THONGSO_KYTHUAT', headerText: 'Thông số kỹ thuật', textAlign: 'Left', width: 120},
            {fieldName: 'TRANGTHAI_SD', headerText: 'Trạng thái vận hành', textAlign: 'Left', width: 120, template: colTrangThaiPortVanHanhTemplate()},
            {fieldName: 'TRANGTHAI_DAUNOI', headerText: 'Trạng thái đấu nối', textAlign: 'Left', width: 120},
            {fieldName: 'ACTIONS', headerText: 'Thao tác', textAlign: 'Center', width: 100, template: colActionsTemplate()}
          ]"
    :dataSource="dataSource"
    :enabledSelectFirstRow="false"
    @rowSelected="onPortSelectionChange"
  >
  </DataGrid>
</div>
