<div class="so-do-toa-nha-trong-idc">
  <!-- Form tìm kiếm -->
   <div class="row">
     <div class="box-form">
       <div class="row align-items-center g-2">
         <div class="col-md-3 col-sm-12">
           <input type="text" class="form-control" v-model="tenToaNha" placeholder="Tìm kiếm tòa nhà" />
         </div>
   
         <div class="col-md-3 col-sm-12">
           <div class="value">
             <SelectExt
               v-model="selectedTrangThai"
               placeholder="-- Trạng thái vận hành --"
               dataTextField="text"
               dataValueField="id"
               :dataSource="listTTVH"
             />
           </div>
         </div>
   
         <div class="col-md-3">
           <button class="btn btn-sm btn-outline-primary" @click="onSearch">
             Tìm kiếm
           </button>
         </div>
         <div class="col-md-3">
           <button class="btn btn-sm btn-outline-primary" @click="onClickThemToaNha">
             <i class="fa fa-plus"></i>
             Thêm tòa nhà
           </button>
         </div>
       </div>
     </div>
   </div>

  <div class="row">
    <div class="box-form diagram-container">
      <ejs-diagram v-if="diagramData.nodes.length > 0"
        id="diagram"
        ref="diagram"
        :width="width"
        :height="height"
        :nodes="diagramData.nodes"
        :connectors="diagramData.connectors"
        :getNodeDefaults="getNodeDefaults"
        :snapSettings="snapSettings"
        :scrollSettings="scrollSettings"
        :pageSettings="pageSettings"
        @click="handleNodeClick"
      >
      </ejs-diagram>
      <div v-else class="row">
        <!-- center -->
        <div class="col-12 d-flex justify-content-center align-items-center" style="height: 300px;">
          <span>Chưa có tòa nhà nào</span>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal thông tin tòa nhà -->
    <ejs-dialog
      ref="ModalThongTinToaNha"
      :visible="showDialog"
      :animationSettings="{ effect: 'Zoom' }"
      :showHeader="true"
      :header="'Thông tin tòa nhà'"
      :showCloseIcon="true"
      width="80%"
      height="100%"
      :target="'.main-wrapper'"
      :position="{ X: 'center', Y: 'top' }"
      @close="handleCloseDialog"
    >
      <div class="popup-box">
        <ModalThongTinToaNha v-if="selectedBuilding" :key="selectedBuilding" :id="selectedBuilding"></ModalThongTinToaNha>
      </div>
    </ejs-dialog>
</div>
