<!-- <div class="modal-content popup-box" style="display: block;">
    <div class="popup-header">
        <div class="title"><span class="icon one-notepad"></span> Tạo Mã In Ghép </div>
        <div class="close -ap icon-close" data-dismiss="modal" @click="confirmChose(false)">
        </div>
    </div> -->
<ejs-dialog :enableResize='true' :allowDragging='true' :visible='false' ref="dlgModalMaIG"
    header='<div class="title"><span class="icon one-notepad"></span> Cập nhật thông tin mã in ghép</div>'
    animationSettings='{ effect: "Zoom" }' showCloseIcon=true width='80%' target='.main-wrapper' :open="dialogOpen"
    :close="confirmChose">
    <div class="">
        <div class="list-actions-top">
            <ul class="list">
                <li>
                    <a href="#" @click.prevent="onTaoMoi">
                        <span class="icon one-file-plus"></span> Tạo mới
                    </a>
                </li>
                <li>
                    <a href="#" @click.prevent="onCapNhat">
                        <span class="icon one-save"></span> Cập nhật
                    </a>
                </li>

                <li>
                    <a href="#" @click.prevent="onXoa">
                        <span class="icon one-trash"></span> Xóa
                    </a>
                </li>
                <li>
                    <a href="#" @click.prevent="confirmChose(false)">
                        <span class="icon one-export"></span> Thoát
                    </a>
                </li>
            </ul>
        </div>

        <div class="popup-body">
            <div class="box-form">
                <div class="legend-title">Thông tin tạo mã in ghép</div>
                <div class="row">
                    <div class="col-sm-3 col-12">
                        <div class="info-row">
                            <div class="key w90">
                                Mã KH
                            </div>
                            <div class="value">
                                <div class="input-more-button">
                                    <button class="btn" @click.prevent="onTraCuuMaTT">
                                        <span class="-ap icon-more_horiz"></span>
                                    </button>
                                    <input type="text" v-on:keyup.enter="onEnterMaKH" v-model="form.maKH"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="info-row">
                            <div class="key w90">
                                Mã NVTC
                            </div>
                            <div class="value">
                                <div class="input-more-button">
                                    <button class="btn" @click="onNVTC">
                                        <span class="-ap icon-more_horiz"></span>
                                    </button>
                                    <input type="text" class="highlight form-control" v-model="form.maNVTC">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-12">
                        <div class="info-row">
                            <div class="key w90">
                                Mã in ghép
                            </div>
                            <div class="value">
                                <input type="text" class="highlight form-control" v-model="form.maInGhep" />
                            </div>
                        </div>
                        <div class="info-row">
                            <div class="key w90">
                                Tuyến thu
                            </div>
                            <div class="value">
                                <input type="text" class="highlight form-control" v-model="form.tuyenthu_id" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w120">
                                Đơn vị quản lý
                            </div>
                            <div class="value">
                                <div class="select-custom">
                                    <select v-model="form.idDVQL" class="form-control">
                                        <option v-for="item in dsDVQL" v-bind:value="item.DONVI_ID">{{item.TEN_DV}}
                                        </option>
                                    </select>
                                </div>
                            </div>


                        </div>
                        <div class="info-row">
                            <div class="key w120">Địa chỉ IG</div>
                            <div class="value">
                                <div class="input-more-button">
                                    <button class="btn" v-b-modal.idDiaChiIG>
                                        <span class="-ap icon-more_horiz"></span>
                                    </button>
                                    <input type="text" class="form-control" v-model="form.diaChiIG">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="legend-title">Danh sách mã in ghép</div>
                <DataGrid :dataSource="dsMIG" panelDataHeight="200" :columns="[
                            {fieldName: 'MAIN_GHEP', headerText: 'Mã IG', allowFiltering: true, allowSorting:false},
                            {fieldName: 'DIACHI_IG', headerText: 'Địa chỉ IG', allowFiltering: true, allowSorting:false},
                            {fieldName: 'MA_NV', headerText: 'Mã NVTC', allowFiltering: true, allowSorting:false},
                            {fieldName: 'TRANGTHAI', headerText: 'Trạng thái', allowFiltering: true, allowSorting:false}
                            ]" :showFilter="false" @selectedRowChanged="changMIG">
                </DataGrid>
                <div class="key w120">&nbsp;</div>
                <div class="box-move-select-table">
                    <div class="box-col box-form">
                        <div class="legend-title">Danh sách mã thanh toán đã gán</div>
                        <DataGrid ref="dsDaGan" panelDataHeight="200" :columns="[
                            {fieldName: 'MA_KH', headerText: 'Mã KH', allowFiltering: true, allowSorting:false},
                            {fieldName: 'MA_TT', headerText: 'Mã TT', allowFiltering: true, allowSorting:false},
                            {fieldName: 'HINHTHUC_TT', headerText: 'Hình thức TT', allowFiltering: true, allowSorting:false},
                            {fieldName: 'TEN_TT', headerText: 'Tên thanh toán', allowFiltering: true, allowSorting:false},
                            {fieldName: 'DIACHI_TT', headerText: 'Địa chỉ TT', allowFiltering: true, allowSorting:false},
                            {fieldName: 'DIACHI_BC', headerText: 'Địa chỉ báo cước', allowFiltering: true, allowSorting:false},
                            {fieldName: 'MST', headerText: 'Mã số thuế', allowFiltering: true, allowSorting:false},
                            {fieldName: 'THANHTOAN_ID', headerText: 'Thanh toán ID', allowFiltering: true, allowSorting:false},
                            {fieldName: 'MANV_TC', headerText: 'Đại lý', allowFiltering: true, allowSorting:false}
                            ]" :dataSource="dsThanhToanIG_DaGan" :showFilter="true" :showColumnCheckbox="true"
                            dataKeyField="MA_TT" :enabledSelectFirstRow="false">
                        </DataGrid>
                        <!-- <input :value="totalHoaDonCu" type="text" class="form-control" style="width: 15vh;" disabled> -->
                    </div>
                    <div class="actions">
                        <button class="btn" @click="move()">
                            <span class="fa fa-angle-right"></span>
                        </button>
                        <button class="btn" @click="moveAll()">
                            <span class="fa fa-angle-double-right"></span>
                        </button>
                        <button class="btn" @click="unmove()">
                            <span class="fa fa-angle-left"></span>
                        </button>
                        <button class="btn" @click="unmoveAll()">
                            <span class="fa fa-angle-double-left"></span>
                        </button>
                    </div>
                    <div class="box-col box-form">
                        <div class="legend-title">Danh sách mã thanh toán chưa gán</div>
                        <DataGrid ref="dsChuaGan" panelDataHeight="200" :columns="[
                                    {fieldName: 'MA_TT', headerText: 'Mã TT', allowFiltering: true, allowSorting:false},
                                    {fieldName: 'HINHTHUC_TT', headerText: 'Hình thức TT', allowFiltering: true, allowSorting:false},
                                    {fieldName: 'TEN_TT', headerText: 'Tên thanh toán', allowFiltering: true, allowSorting:false},
                                    {fieldName: 'DIACHI_TT', headerText: 'Địa chỉ TT', allowFiltering: true, allowSorting:false},
                                    {fieldName: 'DIACHI_BC', headerText: 'Địa chỉ báo cước', allowFiltering: true, allowSorting:false},
                                    {fieldName: 'MST', headerText: 'Mã số thuế', allowFiltering: true, allowSorting:false},
                                    {fieldName: 'THANHTOAN_ID', headerText: 'Thanh toán ID', allowFiltering: true, allowSorting:false},
                                    {fieldName: 'MA_KH', headerText: 'Mã KH', allowFiltering: true, allowSorting:false}
                                ]" :dataSource="dsThanhToanIG_ChuaGan" :showFilter="true" :showColumnCheckbox="true"
                            :enabledSelectFirstRow="false">
                        </DataGrid>
                    </div>
                </div>
            </div>
            <ModalChonDiaChi modalId="idDiaChiIG" :data="diachiIG" @xacnhan="getDiaChiIG" />
            <b-modal id="popupMaInGhep" size="xl" hide-footer hide-header hide-header-close
                body-class="modal-body p-0" scrollable>
                <component :is="popupComponent" ref="popupComponent" :dulieu="popupComponentData" :isPopup="true"
                    @form-close="popupClosed"
                    @close="popupClosed"
                    @acceptChange="popupClosed"
                    @acceptChangeCTV="popupClosed"
                    @acceptChangeNGT="popupClosed">
                </component>
            </b-modal>
        </div>
        <PopupTimKiemNhanVienThuCuoc @acceptChange="getNVTCProcess($event)" ref="dlgTimKiemNVTC"></PopupTimKiemNhanVienThuCuoc>
    </div>
    <!-- </div> -->
</ejs-dialog>
