a.disabled {
    color: lightgray !important;
}
a.disabled:hover {
    color: lightgray !important;
}
.disabled {
    pointer-events: none;
    color: lightgray;
    border-color: lightgray;
}
input.disabled,
select.disabled,
.disabled input,
.disabled select,
.disabled .btn,
.disabled /deep/ .select2-selection {
    background-color: #eee;
    color: lightgray;
    border-color: lightgray;
}
/deep/ .modal-body .page-content {
    position: inherit;
}
li.active {
    background-color: lightblue;
}
.mx-datepicker {
    width: 100%;
}
ul.form-control.listview {
    list-style: none;
    cursor: pointer;
}
/deep/ .modal-dialog {
    max-width: 60vw;
}

/deep/ input:required {
    background-color: #fff9eb;
}
input:focus:invalid {
    border-color: red;
    background-color: lightcoral;
}
input:focus:valid {
    border-color: black;
    font-weight: bold;
    background-color: #fff9eb;
}

.btn-second {
    border-color: #0d6efd;
}
/deep/ .combobox-grid thead .e-columnheader {
    display: none;
}
/deep/ .combobox-grid .grid-panel {
    width: auto;
}
// /deep/ .combobox-grid .grid-ext .e-grid .e-filterbarcell { padding:0 !important; }
/deep/ .combobox-grid .e-grid .e-headercontent {
    overflow-y: scroll;
}
/deep/ .combobox-grid .e-grid .e-headercontent .e-filterbarcell {
    padding: 0 !important;
}
/deep/ .combobox-grid .e-grid .e-gridcontent {
    max-height: 200px;
    overflow-y: scroll;
}
/deep/ .combobox-grid .e-grid .e-gridcontent::-webkit-scrollbar-track {
    background: transparent;
}

input[type="number"] {
    text-align: right;
}
input[type="text"] {
    text-align: left;
}
a.disable-btn {
    pointer-events: none;
    cursor: default;
    color: #6c757d !important;
}

#table-scroll {
    height: 410px;
    overflow: auto;
    margin-top: 20px;
}
.btn-info {
    color: #0176ff;
    background-color: #bae7ff;
    border-color: #ffffff;
}

.icon {
    font-size: 12px;
}

.input-group {
    display: table !important;
}

.select-table {
    position: absolute;
    z-index: 1;
    max-height: 400px;
    background: #fff;
    border: 1px solid rgb(116, 217, 235);
}

.disabledInput {
    pointer-events: none;
    opacity: 0.1;
}
