<div class="main-wrapper">
    <div class="breadcrumb-top">
        <div class="main-title">Cập nhật đơn giá theo công văn 3883</div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><span class="nc-icon-outline ui-1_home-simple"></span> Trang chủ
                </a></li>
            <li class="breadcrumb-item"><a href="#">Lập hợp đồng</a></li>
            <li class="breadcrumb-item active">Lắp đặt mới</li>
        </ul>
    </div>
    <div class="list-actions-top">
        <ul class="list">
           
            <li>
                <a href="#" @click.prevent="btnNhapMoi" :class="{disabled: !isNhapMoi}">
                    <span class="icon one-file-plus"></span>Nhập mới
                </a>
            </li>
            <li>
                <a href="#" @click.prevent="btnGhiLai" :class="{disabled: !isGhiLai}">
                    <span class="icon one-save"></span>Ghi lại
                </a>
            </li>
            <li>
                <a href="#" @click.prevent="btnHuy" :class="{disabled: !isHuy}">
                    <span class="icon nc-icon-glyph ui-1_circle-remove"></span>Hủy
                </a>
            </li>
            <li>
                <a href="#" @click.prevent="btnXoa" :class="{disabled: !isXoa}">
                    <span class="icon one-trash"></span>Xóa
                </a>
            </li>
            
            

        </ul>
    </div>
    <div class="page-content">
        <div class="box-form">
            <div class="legend-title">Thông tin đơn giá</div>
            <div class="row">
                <div class="col-sm-6 col-12">
                    <div class="info-row">
                        <div class="key">Tháng cập nhật</div>
                        <div class="value">
                            <div class="row">
                                <div class="col-sm-5 col-12">
                                    <div class="select-custom">
                                        <select2 :options="listbox.thang.list" v-model="listbox.thang.value.id" @change="" id="thangcapnhat"> 
                                            <option disabled value="0">Select one</option> 
                                        </select2> 
                                    </div>
                                </div>
                                <div class="col-sm-7 col-12">
                                    <div class="select-custom">
                                        <select2 :options="listbox.nam.list" v-model="listbox.nam.value.id" @change=""> 
                                            <option disabled value="0">Select one</option> 
                                        </select2> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="key">Đơn giá</div>
                        <vue-numeric class="form-control tright" :class='"txtDonGia"' separator=","
                            v-model="dongia"  id="dongia" ref="dongia" :readonly="false" placeholder="0" output-type="Number" maxlength="10" @keypress="isNumber($event)">
                        </vue-numeric>
                    </div>
                    <div class="info-row">
                        <div class="key">Số lượng Fiber(1)</div>
                        <vue-numeric class="form-control tright" separator=","
                            v-model="slfiber" id="slfiber"  :readonly="false" placeholder="0" output-type="Number" maxlength="10">
                        </vue-numeric>
                    </div>
                    <div class="info-row">
                        <div class="key">Quỹ tiền lương</div>
                        <vue-numeric class="form-control tright" separator=","
                            v-model="quytienluong" :readonly="false" placeholder="0" output-type="Number" maxlength="12">
                        </vue-numeric>
                    </div>
                    <div class="info-row">
                        <div class="key">Mức chi</div>
                        <vue-numeric class="form-control tright" separator=","
                            v-model="mucchi" :readonly="false" placeholder="0" output-type="Number" maxlength="10">
                        </vue-numeric>
                    </div>
                    <div class="info-row">
                        <div class="key">Mức thu hồi</div>
                        <vue-numeric class="form-control tright" separator=","
                            v-model="mucthuhoi" :readonly="false" placeholder="0" output-type="Number" maxlength="10">
                        </vue-numeric>
                    </div>
                    
                </div>
                <div class="col-sm-6 col-12">
                    <div class="info-row">
                        <div class="key w70">Khó khăn</div>
                        <div class="value">
                            <textarea name="" v-model = "khokhan" class="form-control" style="height: 106px;resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="key w70">Đề xuất</div>
                        <div class="value">
                            <textarea name="" v-model = "dexuat" class="form-control" style="height: 106px;resize: none;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-desc mart10">(1) Các thuê bao Fiber VNN phát triển mới không thuộc khu vực PTTB thống nhất giữa TTKD VNPT TTP và VNPTT TTP (nếu có)</div>
        </div>
        <div class="box-form">
            <div class="legend-title">Danh sách đơn giá</div>
            <div class="table-content">
                <DataGrid 
                    v-bind:columns="listbox.ds_dongia.header"                    
                    v-bind:dataSource="listbox.ds_dongia.list"
                    :enable-paging-server="false"                                        
                    :allowPaging="true"
                    :showFilter="true"
                    :showColumnCheckbox="false"
                    ref="grid"
                    @rowClicked = "rowClicked" 
                    :enabledSelectFirstRow="true"
                    @selectedRowChanged="gridChanged"
                    >
                </DataGrid>   
            </div>
        </div>
    </div>
    

</div>