<b-modal id="popup-dottonghop" size="xl" hide-footer hide-header hide-header-close body-class="modal-body p-0">
    <div class="modal-content popup-box">
        <div class="popup-header">
            <div class="title">Quản lý đợt tổng hợp trong tháng</div>
            <div class="close -ap icon-close" data-dismiss="modal" @click="$bvModal.hide('popup-dottonghop')">
            </div>
        </div>
        <div class="list-actions-top">
            <ul class="list">
                <li>
                    <a   @click="onClickNhapMoi()" :class="{ disabledInput: Enabled.nhapMoi === false }">
                        <span class="icon one-file-plus"></span>Nhập mới
                    </a>
                </li>
                <li>
                    <a   @click="onClickGhiLai()" :class="{ disabledInput: Enabled.ghiLai === false }">
                        <span class="icon one-save"></span>Ghi lại
                    </a>
                </li>
                <li>
                    <a  @click="onClickHuy()" :class="{ disabledInput: Enabled.Huy === false }">
                        <span class="icon nc-icon-glyph ui-1_circle-remove"></span>Hủy
                    </a>
                </li>
                <!-- <li>
                    <a  @click="onClickXoa()" >
                        <span class="icon one-trash"></span>Xóa 
                    </a>
                </li>
                <li>
                    <a  @click="showPopupNhapNgayDuyet()" >
                        <span class="icon one-circle-question"></span>Duyệt
                    </a>
                </li>
                
                <li>
                    <a  @click="onClickHuyDuyet()" >
                        <span class="icon one-cancel"></span>Hủy duyệt
                    </a>
                </li> -->
                <li>
                    <a  @click="onClickXoa()" :class="{ disabledInput: Enabled.Xoa === false }">
                        <span class="icon one-trash"></span>Xóa 
                    </a>
                </li>
                <li>
                    <a  @click="onClickDuyet()" :class="{ disabledInput: Enabled.Duyet === false }">
                        <span class="icon one-circle-question"></span>Duyệt
                    </a>
                </li>
                <li>
                    <a  @click="onClickHuyDuyet()" :class="{ disabledInput: Enabled.huyDuyet === false }">
                        <span class="icon one-cancel"></span>Hủy duyệt
                    </a>
                </li>
                <li>
                    <a >
                        <span class="icon one-trash"></span>In phiếu
                    </a>
                </li>
            </ul>
        </div>
        <div class="popup-body">
            <div class="box-form">
                <div class="legend-title">
                    Thông tin đợt tổng hợp
                </div>
                <div class="row">
                    <div class="col-sm-3 col-12">
                        <div class="info-row">
                            <div class="key w70">Tháng</div>
                            <div class="value">
                                <div class="input-icon-right">
                                    <ejs-datepicker class="form-control" @change="onChangeThang()"
                                        :placeholder="dateConfig.waterMark" :format="dateConfig.formatMonth"
                                        v-model="params.Thang">
                                    </ejs-datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-12">
                        <div class="info-row">
                            <div class="key w40">Đợt</div>
                            <div class="value">
                                <div class="select-custom">                                    
                                    <select name="" id="" class="form-control" @change=""
                                        v-model="params.Dot">
                                        <option v-for="DotDK in dataSource.DSDotDK" v-bind:value="DotDK.dotDkId">
                                            {{DotDK.dotDk}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w80">Ngày duyệt</div>
                            <div class="value">
                                <ejs-datepicker class="form-control" @change=""
                                    :placeholder="dateConfig.waterMark" :format="dateConfig.formatDay"
                                    v-model="params.ngayDuyet">
                                </ejs-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w70">Mã TH</div>
                            <div class="value">
                                <input type="text" class="form-control" v-model="params.maTH">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w80">Ngày VB</div>
                            <div class="value">
                                <div class="input-icon-right">
                                    <ejs-datepicker class="form-control" @change=""
                                        :placeholder="dateConfig.waterMark" :format="dateConfig.formatDay"
                                        v-model="params.ngayVB">
                                    </ejs-datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-row">
                    <div class="key w70">File CV</div>
                    <div class="value">
                        <div class="select-custom">
                            <select name="" id="" class="form-control" @change=""
                                v-model="params.fileCV">
                                <option v-for="File in dataSource.DSFile" v-bind:value="File.ColFile">
                                    {{File.ColFileName}}</option>
                            </select>                            
                        </div>
                    </div>
                </div>
                <div class="info-row">
                    <div class="key w70">Ghi chú</div>
                    <div class="value">
                        <textarea v-model="params.ghiChu" class="form-control" style="height: 80px;resize: vertical;"></textarea>
                    </div>
                </div>
            </div>

            <div class="box-form">
                <div class="nav tabs tab-over">
                    <a href="#tonghop"  data-toggle="tab"class="active">Danh sách đợt tổng hợp trong tháng</a>
                    <a href="#dangky" data-toggle="tab">Danh sách đăng ký</a>
                </div>
                <div class="box-form tab-content">
                    <div class="tab-pane active" id="tonghop">
                        <DataGrid ref="gridDotTongHop" class="table-result table-gachle" v-bind:columns="[
                            {fieldName: 'DOT', headerText: 'Đợt', allowFiltering: true, allowSorting: false },
                            {fieldName: 'MA_TH', headerText: 'Mã TH', allowFiltering: true, allowSorting: true}, 
                            {fieldName: 'NGAYDUYET', headerText: 'Ngày Duyệt', allowFiltering: true, allowSorting: true}, 
                            {fieldName: 'NGAY_VB', headerText: 'Ngày VB', allowFiltering: true, allowSorting: true},
                            {fieldName: 'GHICHU', headerText: 'Ghi chú', allowFiltering: true, allowSorting: true},                    
                            ]" v-bind:dataSource="this.dataSource.DSDotTongHop" :showFilter="true" dataKeyField="TONGHOP_ID"
                            @selectedRowChanged="gridDotTongHop_FocusedRowChanged"
                            :showColumnCheckbox="true"
                            @selectedItemsChanged="gridDotTongHop_selected"
                        >
                        </DataGrid>
                    </div>

                    <div class="tab-pane" id="dangky">
                        <div class="box-col box-form">
                            <div class="legend-title">
                                <div class="pull-left">Dánh sách đăng ký đã gán</div>                                
                                <div class="clearfix"></div>
                            </div>
                            <div class="table-content">
                                <DataGrid ref="gridDaGan" class="table-result table-gachle" v-bind:columns="[
                                    {fieldName: '', headerText: 'Mã ĐK', allowFiltering: true, allowSorting: false },
                                    {fieldName: '', headerText: 'Số công văn', allowFiltering: true, allowSorting: true}, 
                                    {fieldName: '', headerText: 'Thời gian ĐK', allowFiltering: true, allowSorting: true}, 
                                    {fieldName: '', headerText: 'Dự án', allowFiltering: true, allowSorting: true},
                                    {fieldName: '', headerText: 'Ngày yêu cầu', allowFiltering: true, allowSorting: true},
                                    {fieldName: '', headerText: 'Đợt', allowFiltering: true, allowSorting: true}, 
                                    {fieldName: '', headerText: 'Số Tháng ĐK', allowFiltering: true, allowSorting: true},
                                    {fieldName: '', headerText: 'Đơn vị ĐK', allowFiltering: true, allowSorting: true},  
                                    {fieldName: '', headerText: 'SL đăng ký', allowFiltering: true, allowSorting: true},
                                    {fieldName: '', headerText: 'Nhóm', allowFiltering: true, allowSorting: true}, 
                                    {fieldName: '', headerText: 'Ghi chú', allowFiltering: true, allowSorting: true},  
                                    {fieldName: '', headerText: 'Kho đăng ký', allowFiltering: true, allowSorting: true},                
                                    ]" v-bind:dataSource="this.dataSource.DSDKDaGan" :showFilter="true" dataKeyField=""
                                    @selectedRowChanged=""
                                    :showColumnCheckbox="true"
                                    @selectedItemsChanged=""
                                >
                                </DataGrid>
                            </div>

                            
                            <div class="actions row">
                                <div class="info-row col-6" style="text-align: right;">
                                    <button class="btn" @click="">
                                        <span class="-ap icon-chevron-thin-up"></span>
                                    </button>
                                </div>
                                <div class="info-row col-6">
                                    <button class="btn" @click="">
                                        <span class="-ap icon-chevron-thin-down"></span>
                                    </button>
                                </div>
                            </div>

                            <div class="legend-title">
                                <div class="pull-left">Danh sách đăng ký chưa gán</div>                                
                                <div class="clearfix"></div>
                            </div>
                            <div class="table-content">
                                <DataGrid ref="gridChuaGan" class="table-result table-gachle" v-bind:columns="[
                                    {fieldName: '', headerText: 'Mã ĐK', allowFiltering: true, allowSorting: false },
                                    {fieldName: '', headerText: 'Số công văn', allowFiltering: true, allowSorting: true}, 
                                    {fieldName: '', headerText: 'Thời gian ĐK', allowFiltering: true, allowSorting: true}, 
                                    {fieldName: '', headerText: 'Dự án', allowFiltering: true, allowSorting: true},
                                    {fieldName: '', headerText: 'Ngày yêu cầu', allowFiltering: true, allowSorting: true},
                                    {fieldName: '', headerText: 'Đợt', allowFiltering: true, allowSorting: true}, 
                                    {fieldName: '', headerText: 'Số Tháng ĐK', allowFiltering: true, allowSorting: true},
                                    {fieldName: '', headerText: 'Đơn vị ĐK', allowFiltering: true, allowSorting: true},  
                                    {fieldName: '', headerText: 'SL đăng ký', allowFiltering: true, allowSorting: true},
                                    {fieldName: '', headerText: 'Nhóm', allowFiltering: true, allowSorting: true}, 
                                    {fieldName: '', headerText: 'Ghi chú', allowFiltering: true, allowSorting: true},  
                                    {fieldName: '', headerText: 'Kho đăng ký', allowFiltering: true, allowSorting: true},                
                                    ]" v-bind:dataSource="this.dataSource.DSDKChuaGan" :showFilter="true" dataKeyField=""
                                    @selectedRowChanged=""
                                    :showColumnCheckbox="true"
                                    @selectedItemsChanged=""
                                >
                                </DataGrid>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
        <b-modal 
            no-close-on-backdrop
            hide-footer 
            hide-header 
            hide-header-close 
            class="modal" 
            id="popupNhapNgayDuyet">
            
                <div class="modal-content popup-box">
                    <div class="popup-header">
                        <div class="title">Nhập ngày duyệt</div>
                        <div class="close -ap icon-close"  @click="$bvModal.hide('popupNhapNgayDuyet')" data-dismiss="modal">
                        </div>
                    </div>
                    <div class="list-actions-top">
                        <ul class="list">
                            <li>
                                <a  @click="onClickDuyet()">
                                    <span class="icon nc-icon-glyph ui-1_check-circle-08"></span> Xác nhận
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="popup-body">
                        <div class="info-row">
                            <div class="key w120">
                                Nhập ngày duyệt
                            </div>
                            <div>
                                <ejs-datepicker class="form-control" @change=""
                                    :placeholder="dateConfig.waterMark" :format="dateConfig.formatDay"
                                    v-model="params.ngayDuyetConfirm">
                                </ejs-datepicker>
                            </div>      
                        </div>
                    </div>
                </div>
            
        </b-modal>
    </div>
</b-modal>
