<ejs-dialog
    :enableResize='true'
    :allowDragging='true'
    :visible='false'
    :isModal="true"
    :animationSettings='animationSettings'
    ref="dlgTimKiemIP"
    :header='"Tìm kiếm IP Address"'
    showCloseIcon=true
    width='1100px'
    height='700'
    :target='target'
    :close="onDialogClose"
    :open="onDialogOpen"
    >
    <div class="modal-content popup-box">
      <div class="popup-top-action">
        <div class="acept item pointer" v-on:click.prevent="doSearch">
          <span class="icon one-search"></span> Tìm kiếm
        </div>
        <div class="acept item pointer" v-on:click.prevent="doAccept">
            <span class="icon -ap icon-ion-ios-checkmark"></span> Chấp nhận
        </div>

      </div>
      <div class="popup-body">

        <div class="row">
          <div class="col-md-6 col-12">
            <div class="info-row">
              <div class="key w120">Hạ tầng mạng</div>
              <div class="value">
                <ejs-dropdownlist
                  locale='vi-VN'
                  v-model="hatang_mang"
                  :change="onHaTangMangChange"
                  :dataSource='hatangmangOptions'
                  :allowFiltering='true'
                  :filtering='onFilteringHaTangMang'
                  :fields="{value:'ID', text: 'TEN'}" >
                </ejs-dropdownlist>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="info-row">
              <div class="key w120">Phân loại IP</div>
              <div class="value">
                <ejs-dropdownlist
                  locale='vi-VN'
                  v-model="phanloai_ip"
                  :dataSource='phanloaiIPOptions'
                  :change="onPhanLoaiIPChange"
                  :allowFiltering='true'
                  :filtering='onFilteringPhanLoaiIP'
                  :fields="{value:'ID', text: 'TEN'}" >
                </ejs-dropdownlist>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-12">
            <div class="info-row">
              <div class="key w120">IP Store</div>
              <div class="value">
                <ejs-multiselect :dataSource='ipstoreOptions' v-model="ip_store" :fields="{value:'ID', text: 'TEN'}" :filtering='onFilteringIPStore'></ejs-multiselect>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="info-row">
              <div class="key w120">Subnet</div>
              <div class="value">
                <ejs-dropdownlist
                  locale='vi-VN'
                  v-model="subnet"
                  :change="onSubnetChange"
                  :dataSource='subnetOptions'
                  :allowFiltering='true'
                  :filtering='onFilteringSubnet'
                  :fields="{value:'ID', text: 'TEN'}" >
                </ejs-dropdownlist>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-12">
            <div class="info-row">
              <div class="key w120">IP</div>
              <div class="value">
                <input ref="tiemkiem_IP" type="text" class="form-control" v-model.trim="ip">
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12">

          </div>
        </div>

        <div class="row">
          <div class="table-content">
            <DataGrid ref="dsIPAddress" v-bind:columns=
                "[
                    {fieldName: 'ID', visible: false},
                    {fieldName: 'IP', headerText: 'IP', allowFiltering: true, allowSorting: true, width: '130'},
                    {fieldName: 'TEN_IP_STORE', headerText: 'IP Store', allowFiltering: true, allowSorting: true},
                    {fieldName: 'TEN_PHANLOAI_IP', headerText: 'Phân loại IP', allowFiltering: true, allowSorting: true},
                    {fieldName: 'TEN_SUBNET', headerText: 'Subnet', allowFiltering: true, allowSorting: true, width: '100'},
                    {fieldName: 'TEN_HATANGMANG', headerText: 'Hạ tầng mạng', allowFiltering: true, allowSorting: true, width: '100'},
                    {fieldName: 'TEN_TRANGTHAI', headerText: 'Trạng thái cấp phát', allowFiltering: true, allowSorting: true, width: '130'},
                    {fieldName: 'NGUOI_CAP', headerText: 'Người cấp', allowFiltering: true, allowSorting: true, width: '130'},
                    {fieldName: 'NGAY_CAP', headerText: 'Ngày cấp', allowFiltering: true, allowSorting: true},
                    {fieldName: 'NGAY_TAO', headerText: 'Ngày tạo', allowFiltering: true, allowSorting: true},
                    {fieldName: 'NGAY_HETHAN', headerText: 'Ngày hết hạn', allowFiltering: true, allowSorting: true},
                ]"
            v-bind:dataSource="dsIPAddress"
            :showColumnCheckbox="true"
            :allowPaging='false' :allowResizing='true' :allowExcelExport="true" :allowFiltering="true" locale="vi-VN"
            @recordClick="onRecordClick"
            @checkBoxChange="onCheckBoxChange"
            :panelDataHeight='"270"'
            >
            </DataGrid>
          </div>
        </div>
      </div>
    </div>
  </ejs-dialog>
