/deep/ .custom-kycuoc .w120 {
    width: 80px !important;
}

/deep/ .custom-kycuoc .w60 {
    width: 50px !important;
}

/deep/ .custom-kycuoc .e-input-group {
    max-width: 196px !important;
    margin-right: 10px !important;
}

>>> .hd-khac {
    background-color: rgb(148, 243, 148) !important;
}

>>> .background-0{
    background-color: white !important;
}

>>> .background-1{
    background-color: lightblue !important;
}

>>> .background-2{
    background-color: lightcoral !important;
}

>>> .background-3{
    background-color: lightseagreen !important;
}

>>> .background-4{
    background-color: lightsalmon !important;
}

>>> .background-5{
    background-color: lightpink !important;
}
