<ejs-dialog :enableResize='true' :allowDragging='true' :visible='false' ref="popupChonDangKy"
    :animationSettings='animationSettings' showCloseIcon=true width='60%' :target='target' :open="dialogOpen"
    :close="onClickThoat" header="CHỌN ĐĂNG KÝ">
    <div class="modal-content popup-box">
        <!-- <breadcrumb :header="header" /> -->
        <div class="list-actions-top">
            <ul class="list">
                <li>
                    <a @click="fetchDSDangKy_frmCopy()">
                        <span class="icon one-file-attach"></span> Tìm kiếm
                    </a>
                </li>
                <li>
                    <a @click="btnXacNhan()" v-show="show_XacNhan">
                        <span class="icon nc-icon-glyph ui-1_check-circle-08"></span> Xác nhận
                    </a>
                </li>
                <li>
                    <a @click="btnHuyBo()" v-show="show_HuyBo">
                        <span class="icon nc-icon-glyph ui-1_check-circle-08"></span> Hủy bỏ
                    </a>
                </li>
                <li v-show="show_ChapNhan">
                    <a @click="btnChapNhan()" v-if="status_ChapNhan">
                        <span class="icon nc-icon-glyph ui-1_check-circle-08"></span> Chấp nhận
                    </a>
                    <a v-else class="disabledInput">
                        <span class="icon nc-icon-glyph ui-1_check-circle-08"></span>Chấp nhận
                    </a>
                </li>
            </ul>
        </div>
        <div class="popup-body">
            <div class="box-form">
                <div class="legend-title">
                    <span class="name">Tiêu chí tiềm kiếm</span>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w80">Từ ngày</div>
                            <div class="value">
                                <ejs-datepicker v-model="tuNgay" :allowEdit=false :showClearButton="false"
                                    :format="'dd/MM/yyyy'" locale="vi">
                                </ejs-datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w80">Đến ngày</div>
                            <div class="value">
                                <ejs-datepicker v-model="denNgay" :allowEdit=false :showClearButton="false"
                                    :format="'dd/MM/yyyy'" locale="vi">
                                </ejs-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-form">
                <div class="tabs nav tab-over">
                    <a href="#tableDSDK" data-toggle="tab" :class="{active:!isTab}" @click="changeTab(0)"
                        disabled="status_TABDSDK">Danh sách đăng
                        ký</a>
                    <a href="#tableCTVT" data-toggle="tab" :class="{active:isTab}" @click="changeTab(1)">Chi tiết vật
                        tư</a>
                </div>
                <div class="tab-pane active" id="tableDSDK" v-show="!isTab">
                    <div class="tab-content relative">
                        <DataGrid v-bind:columns="[
                            {fieldName: 'SO_VB', headerText: 'Số VB', textAlign: 'Left', allowFiltering: true, freeze: 'Left', width: '130'},
                            {fieldName: 'MAPHIEU_DK', headerText: 'Mã ĐK', textAlign: 'Left', allowFiltering: true },
                            {fieldName: 'TEN_DV', headerText: 'Đơn vị ĐK', textAlign: 'Left', allowFiltering: true },
                            {fieldName: 'SO_CV', headerText: 'Số công văn', textAlign: 'Left', allowFiltering: true, width: '140'},
                            {fieldName: 'GHICHU', headerText: 'Ghi chú', textAlign: 'Left', allowFiltering: true},
                            {fieldName: 'TEN_TG', headerText: 'Thời gian ĐK', textAlign: 'Left', allowFiltering: true},
                            {fieldName: 'MA_CT', headerText: 'Dự án', textAlign: 'Left', allowFiltering: true , width: '120'},
                            {fieldName: 'TEN_CT', headerText: 'Công trình', textAlign: 'Left',  allowFiltering: true , width: '120'},
                            {fieldName: 'NGAY_DK', headerText: 'Ngày yêu cầu', textAlign: 'Right', allowFiltering: true, width: '150'},
                            {fieldName: 'DOT', headerText: 'Đợt', textAlign: 'Left', allowFiltering: true, width: '80'},
                            {fieldName: 'CONLAI', headerText: 'Số tháng ĐK', textAlign: 'Right', allowFiltering: true, width: '120'},
                            {fieldName: 'SODANGKY', headerText: 'SL đăng ký', textAlign: 'Right', allowFiltering: true , width: '120'},
                            {fieldName: 'NHOM', headerText: 'Nhóm', textAlign: 'Left', allowFiltering: true , width: '120'},                                
                            {fieldName: 'MA_TH', headerText: 'Mã TH', textAlign: 'Left', allowFiltering: true},
                            {fieldName: 'TEN_KHO', headerText: 'Kho đăng ký', textAlign: 'Left', allowFiltering: true},
                            {fieldName: 'TEN_NV', headerText: 'Người nhận', textAlign: 'Left', allowFiltering: true},
                            {fieldName: 'SO_DT', headerText: 'Số ĐT', textAlign: 'Left', allowFiltering: true, width: '100' },
                            {fieldName: 'NGAYNOP', headerText: 'Ngày nộp', textAlign: 'Right', allowFiltering: true,width: '150' },
                        ]" v-bind:dataSource="listDK" :showFilter="true"
                            @selectedRowChanged="listVat_selectedRowChanged"
                            @selectedItemsChanged="listDK_selectedItemChanged" :showColumnCheckbox="true"
                            dataKeyField="DANGKY_ID" :allowPaging="true" :enablePagingServer="false"
                            :enabledSelectFirstRow="false">
                        </DataGrid>
                    </div>
                </div>
                <div class="tab-pane active" id="tableCTVT" v-show="isTab">
                    <div class="table-content relative">
                        <DataGrid v-bind:columns="[
                            {fieldName: 'MAPHIEU_DK', headerText: 'Mã phiếu ĐK', allowFiltering: true, allowSorting: false},
                            {fieldName: 'TEN_VT', headerText: 'Tên vật tư', allowFiltering: true, allowSorting: false},
                            {fieldName: 'DVI_TINH', headerText: 'ĐVT', allowFiltering: true, allowSorting: false},
                            {fieldName: 'SL_CL', headerText: 'Số lượng', allowFiltering: true, allowSorting: false},
                            {fieldName: 'SL_DK', headerText: 'SL Đăng ký', allowFiltering: false, allowSorting: false, allowEditing: true, editType: 'numericedit', format:'N1', type:'number'},
                            {fieldName: 'DANGKY_ID', headerText:'', visible:false, isPrimaryKey:true}                                                  
                            ]" v-bind:dataSource="listChiTietVatTu" :showFilter="true"
                            @selectedRowChanged="listChiTietVatTu_selectedRowChanged"
                            @selectedItemsChanged="listChiTietVatTu_selectedItemChanged" :showColumnCheckbox="true"
                            dataKeyField="DANGKY_ID" :allowPaging="true" :enablePagingServer="false"
                            :enabledSelectFirstRow="false" :editSettings='editSettings' @cellSaved="editGridSLDK"
                            ref="listChiTietVatTu_Ref">
                        </DataGrid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ejs-dialog>