/deep/ .modal-body .page-content { position:inherit; }
.tc-pagination .btn {
    width: 24px !important;
    padding: 0px;
    height: 24px  !important;
    line-height: 24px  !important;
    text-align: center;
    background: rgba(186, 231, 255, 0.4);
    border-radius: 4px;
    color: #035FCC;
    font-size: 14px;
    display: inline-block;
    min-width:24px !important;
    max-width:24px !important;
}
.tab-content{
    width: 100% !important;
}
.tabs a{
    min-width: auto !important;
}
.row > * {
    padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
    padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
}
.form-control:read-only{
    background-color: #fff !important;
}
.form-control:disabled, .form-control[readonly]{
    background-color: #fff !important;
}
.mx-datepicker {
    width: 100% !important;
}
.mx-icon-calendar {
    font-style: normal !important;
}
#boxRight {
    
}
#boxLeft {

}
.breadcrumb-top .breadcrumb{
    position: absolute;
    right: 15px;
  }
.ma_tb_col_css {
      font-weight: bold !important;
      color: blue !important;
    //   background-color: red !important;
  }
  .ma_kh_col_css{
      color: brown !important;
      font-weight: bold !important;
  }
  .ma_gd_col_css{
    color: blue !important;
    font-weight: bold !important;
    width:150px !important;
  }
  .gio_th_col_css{
    color: brown !important;
    font-weight: bold !important;
  }
  .user_giao_col_css{
    color: blue !important;
    font-weight: bold !important;
  }
  #boxRight .tab-content{
      max-height: 408px;
      overflow-y: scroll;
      overflow-x: scroll;
      display: block;
  }
  .grid-ext .e-grid .e-frozen-left-header > .e-table, .grid-ext .e-grid .e-frozen-left-content > .e-table{
    border-right: 1px solid #dee2e6 !important;
  }