.disable-btn:hover {
    background-color: white !important;
  }
  
  .disable-btn a {
    color: #6c757d !important;
  }
  
  .disable-btn a:hover {
    cursor: default;
    color: #6c757d;
  }
  .disable-btn button {
      color: #6c757d !important;
    }
    
  .disable-btn button:hover {
      cursor: default;
      color: #6c757d;
    }
  