.modal-xxl{
  max-width: 80% !important;
}
.modal-fullscreen .modal-dialog {
  /*max-width: 100%;*/
  /*margin: 0;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*height: 100vh;*/
  /*display: flex;*/
  /*position: fixed;*/
  /*z-index: 100000;*/
}

.box-form.daunoi-matsau {
  margin-left: 14px;
}
.box-move-select-table {
  display: -webkit-inline-box !important;
  width: 100%;
}
.daunoi-odf .e-control.e-numerictextbox.e-lib.e-input {
  text-align: right !important;
  padding-right: 5px !important;
}

.daunoi-odf .e-grid {
  font-family: "Roboto", Arial !important;
}

.daunoi-odf .e-grid .e-filterbarcell {
  padding: 5px 7px !important;
}

.daunoi-odf .e-grid th.e-grouptopleftcell,
.daunoi-odf .e-grid th.e-headercell,
.daunoi-odf .e-grid th.e-filterbarcell {
  background-color: #BAE7FF !important;
  border-color: white !important;
}

.daunoi-odf .e-grid th.e-filterbarcell {
  border-width: 1px 0 0 1px !important;
}

.daunoi-odf .e-grid td.e-active {
  background: #F9E1A9 !important;
}

.daunoi-odf .e-grid.e-gridhover tr[role='row']:not(.e-editedrow):hover .e-rowcell:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell),
.daunoi-odf .e-grid.e-gridhover tr[role='row']:hover .e-detailrowcollapse:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell),
.daunoi-odf .e-grid.e-gridhover tr[role='row']:hover .e-rowdragdrop:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell),
.daunoi-odf .e-grid.e-rtl .e-gridhover tr[role='row']:hover .e-rowdragdrop:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell),
.daunoi-odf .e-grid.e-gridhover tr[role='row']:hover .e-detailrowexpand:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell) {
  background-color: #FFF9EB !important;
}

.daunoi-odf .e-grid td.e-rowcell {
  line-height: 20px !important;
  padding: 5px 7px !important;
}

.daunoi-odf .e-grid .e-filterdiv.e-fltrinputdiv .e-input-group.e-control-wrapper {
  border: 0 !important;
}

.daunoi-odf .e-grid .e-filtertext.e-input.e-disable {
  display: none !important;
}

.daunoi-odf .e-grid tr.e-emptyrow td {
  text-align: center !important;
}

.daunoi-odf .e-grid div.e-gridheader div.e-headercontent thead tr.e-columnheader th[aria-colindex="1"],
.daunoi-odf .e-grid div.e-gridheader div.e-headercontent thead tr.e-columnheader th[aria-colindex="1"] > div,
.daunoi-odf .grid-phieu div.e-gridheader div.e-headercontent thead tr.e-columnheader th[aria-colindex="2"],
.daunoi-odf .grid-phieu div.e-gridheader div.e-headercontent thead tr.e-columnheader th[aria-colindex="2"] > div,
.daunoi-odf .grid-phieu div.e-gridheader div.e-headercontent thead tr.e-columnheader th[aria-colindex="3"],
.daunoi-odf .grid-phieu div.e-gridheader div.e-headercontent thead tr.e-columnheader th[aria-colindex="3"] > div {
  padding: 0 !important;
}

.modal-fullscreen .modal-dialog {
  max-width: 100%;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
  position: fixed;
  z-index: 100000;
}

.ghi-chu{
  display: flex;
  flex-flow: column;
}
.ghi-chu-item{
  flex: 0 0 30px;

}
