<div>
    <div class="row">
        <div class="col-sm-7 col-12">
            <div class="info-row">
                <div class="key">Mã TN</div>
                <div class="value">
                    <div class="input-more-button">
                        <button class="btn" @click="btnMaTN_ADSL_Click" :disabled="!btnMaTN_ADSL.Enabled">
                            <span class="-ap icon-more_horiz"></span>
                        </button>
                        <input type="text" class="form-control highlight" readonly v-model="txtMaTN_ADSL.Text">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-12">
            <div class="info-row">
                <div class="key">Trang bị</div>
                <div class="value">
                    <SelectExt
                        v-model="cboTrangBiADSL.Value" 
                        :dataSource="cboTrangBiADSL.DataSource" 
                        dataValueField="trangbi_id"
                        dataTextField="tentrangbi" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 col-12">
            <div class="info-row">
                <div class="key">Tốc độ</div>
                <div class="value">
                    <SelectExt
                        v-model="cboGoiCuocAdsl.Value" 
                        :dataSource="cboGoiCuocAdsl.DataSource" 
                        :disabled="true"
                        dataValueField="tocdo_id"
                        dataTextField="thuonghieu" />
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-12">
            <div class="info-row">
                <div class="key">Mức cước</div>
                <div class="value">
                    <SelectExt
                        v-model="cboMucCuoc.Value" 
                        :dataSource="cboMucCuoc.DataSource" 
                        :disabled="true"
                        dataValueField="muccuoc_id"
                        dataTextField="tenmuc" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 col-12">
            <div class="info-row">
                <div class="key">Email</div>
                <div class="value">
                    <input type="text" class="form-control" readonly v-model="txtEmailAdsl.Text">
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-12">
            <div class="info-row">
                <div class="key">Loại TBi</div>
                <div class="value">
                    <SelectExt
                        v-model="cboLoaiTB.Value" 
                        :dataSource="cboLoaiTB.DataSource" 
                        :disabled="true"
                        dataValueField="thietbidc_id"
                        dataTextField="ten_tbi" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-12">
            <component v-for="comboDonVi in dsComboDonVi" :ref="comboDonVi.key" :key="comboDonVi.key" v-bind:is="comboDonVi" />
        </div>
    </div>
    <frmDSTBCungDoiCap ref="frmDSTBCungDoiCap"></frmDSTBCungDoiCap>
    <frmDSTBLapKem ref="frmDSTBLapKem"></frmDSTBLapKem>
    <frmDSTBCungDoiCap_KH_Khac ref="frmDSTBCungDoiCap_KH_Khac"></frmDSTBCungDoiCap_KH_Khac>
</div>