<div>
    <div class="list-actions-top">
        <ul class="list">
            <li @click="LayThongTin_Click" >
                <a >
                    <span class="icon one-search"></span>Lấy TT
                </a>
            </li>
            <li v-if="Visible.tsbtnNhapMoi" @click="tsbtnNhapMoi_Click" :class="{'disabledInput': !Enabled.tsbtnNhapMoi}">
                <a >
                    <span class="icon one-file-plus"></span>Nhập mới 
                </a>               
            </li>
            <li v-if="Visible.tsbtnGhiLai" @click="tsbtnGhiLai_Click" :class="{'disabledInput': !Enabled.tsbtnGhiLai}">
                <a>
                    <span class="icon one-save"></span>Ghi lại 
                </a>               
            </li>
            
            <li v-if="Visible.tsbtnHuyBo" @click="tsbtnHuyBo_Click" :class="{'disabledInput': !Enabled.tsbtnHuyBo}">
                <a >
                    <span class="icon ui-1_circle-remove nc-icon-glyph"></span>Hủy
                </a>                
            </li>
            <li v-if="Visible.tsbtnXoa" @click="tsbtnXoa_Click" :class="{'disabledInput': !Enabled.tsbtnXoa}">
                <a >
                    <span class="icon one-trash"></span>Xóa 
                </a>               
            </li>
            <li v-if="" @click="tsbtnGiaoPhieu_Click" >                
                <a>
                    <span class="icon  one-file-edit2"></span> Chuyển đề nghị
                </a>                             
            </li>             
            <li v-if="" @click="tsbtnXemDN_Click" >                
                <a>
                    <span class="icon one-print"></span>In phiếu
                </a>                             
            </li> 
            <li @click="tsbtnChonChungTu_Click" :class="{'disabledInput': !Enabled.tsbtnChonChungTu}" v-if="Visible.tsbtnChonChungTu">
                <a >
                    <span class="icon one-search"></span>Chọn chứng từ
                </a>
            </li>
            <li @click="tsbtnXoaChungTu_Click" :class="{'disabledInput': !Enabled.tsbtnXoaChungTu}" v-if="Visible.tsbtnXoaChungTu" >
                <a >
                    <span class="icon ui-1_circle-remove nc-icon-glyph"></span>Gỡ chứng từ
                </a>
            </li>
            <li @click="tsbtnDongBoFMIS_Click" :class="{'disabledInput': !Enabled.tsbtnDongBoFMIS}">
                <a >
                    <span class="icon  one-file-edit2"></span>Đồng bộ FMIS
                </a>
            </li>
            <li @click="tsbtnXoaDongBoFMIS_Click" :class="{'disabledInput': !Enabled.tsbtnXoaDongBoFMIS}">
                <a >
                    <span class="icon one-trash"></span>Xóa đồng bộ FMIS
                </a>
            </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="grid-stack-box">
            <div class="col-sm-5 col-12 box-col box-form">
              
                <div class="legend-title">
                    Thông tin đề nghị vật tư
                </div>
                <div class="row">
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w90">Mã đề nghị</div>
                            <div class="value">
                                <input type="text" class="form-control highlight" v-model="params.txtSoPhieu" >
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w100">Ngày yêu cầu</div>
                            <div class="value">
                                <div class="input-icon-right">
                                    <ejs-datetimepicker class="form-control" ref="dtpNgayYC"
                                        :format="'dd/MM/y HH:mm:ss'" v-model="params.dtpNgayYC">
                                    </ejs-datetimepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        
                <div class="row">
                    <div class="col-sm-12 col-12">
                        <div class="info-row">
                            <div class="key w90">Loại phiếu <span class="required">*</span></div>
                            <div class="value">
                                <ejs-dropdownlist
                                    class="form-control"
                                    ref="cboLoaiPhieu"
                                    locale='vi'
                                    v-model="params.cboLoaiPhieu"
                                    :dataSource='cboLoaiPhieu' 
                                    :fields="{value:'LOAIPHIEU_ID', text: 'LOAIPHIEU'}"                                  
                                    @change="cboLoaiPhieu_EditValueChanged"                                                      
                                    >
                                </ejs-dropdownlist> 
                            </div>
                        </div>
                    </div>                    
                </div>                   
                <div class="row">
                    <div class="col-sm-12 col-12">
                        <div class="info-row">
                            
                            <div class="key w90">Trạng thái</div>
                            <div class="value">
                                <ejs-dropdownlist
                                    class="form-control"
                                    ref="cboTrangThai"
                                    locale='vi'
                                    v-model="params.cboTrangThai"
                                    :dataSource='cboTrangThai' 
                                    :fields="{value:'ID', text: 'TRANGTHAI'}"
                                    :allowFiltering="false"     
                                    :enabled="false"                                                                  
                                    >
                                </ejs-dropdownlist>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-sm-12 col-12">
                        <div class="info-row">
                            <div class="key w90">Từ tỉnh</div>
                            <div class="value">
                                <ejs-dropdownlist
                                    class="form-control"
                                    ref="cboTuKho"
                                    locale='vi'
                                    v-model="params.tuTinh"
                                    :dataSource='DSTinh' 
                                    :fields="{value:'tinh_id', text: 'tentinh'}"
                                    :allowFiltering="true"
                                    :filtering='onFilterCboKho'
                                    popupWidth="500px"                                                     
                                    >
                                </ejs-dropdownlist>                                  
                            </div>                           
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-12">
                        <div class="info-row">
                            <div class="key w90">Đến tỉnh</div>
                            <div class="value">
                                <ejs-dropdownlist
                                    class="form-control"
                                    ref="cboDenKho"
                                    locale='vi'
                                    v-model="params.denTinh"
                                    :dataSource='DSTinh' 
                                    :fields="{value:'tinh_id', text: 'tentinh'}"
                                    :allowFiltering="true"
                                    :filtering='onFilterCboKho'  
                                    popupWidth="500px"                                                     
                                    >
                                </ejs-dropdownlist>                                   
                            </div>
                            
                        </div>
                    </div>
                </div>                  
                <div class="row">
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w90">
                                ND đề nghị
                            </div>
                            <div class="value">
                                <textarea class="form-control" style="height: 60px;resize: vertical;" v-model="params.txtND_DeNghi"></textarea>
                            </div>
                        </div>       
                        <div class="info-row">
                            <div class="key w90">
                                Ghi chú
                            </div>
                            <div class="value">
                                <textarea class="form-control" style="height: 60px;resize: vertical;" v-model="params.txtGhiChu"></textarea>
                            </div>
                        </div>      
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w90">File/Văn bản</div>
                            <div id="textarea" class="form-control" style="height: 125px; resize: vertical;">
                                <div class="text-area-content mb-2 row" style="padding: 0px 7px;" v-for="file in DSFile">
                                    <div class="col-sm-10 col-12">
                                        <b>{{file.fileName}}</b>                                        
                                    </div>
                                    <div class="col-sm-2 col-12" style="text-align: right;"> 
                                        <button @click="onClickDownFile(file)" class="btn btn-primary">
                                            <span class="icon one-search" ></span>
                                        </button>                                               
                                    </div>
                                </div>
                            </div>                    
                        </div>
                    </div>
                </div>        
                
            </div>
            <div class="col-sm-7 col-12 box-col box-form">
                
                <div class="legend-title"> 
                    <div class="row">
                        <div class="col-sm-3 col-12"> Danh sách đề nghị vật tư</div>
                        <div class="col-sm-5 col-12">       
                            <div class="row">
                                <div class="col-sm-3 col-12 check-action" >
                                    <input type="radio"  name="theoNgay" :checked="params.chuaNop"  @change="rdgDaNop_SelectedIndexChanged(0)">
                                    <span class="name" >Chưa nộp</span>  
                                </div>
                                <div class="col-sm-3 col-12 check-action">
                                    <input type="radio"  name="theoNgay" :checked="params.daNop"  @change="rdgDaNop_SelectedIndexChanged(1)">
                                    <span class="name">Đã nộp</span>  
                                </div> 
                                <div class="col-sm-3 col-12 check-action" :checked="params.hoanThanh" @change="rdgDaNop_SelectedIndexChanged(2)">
                                    <input type="radio"  name="theoNgay" >
                                    <span class="name">Hoàn thành</span>  
                                </div> 
                            </div>                     
                        </div>
                        <div class="col-sm-4 col-12"> 
                            <div class="info-row">
                                <div class="key w100">Đơn vị FMIS</div>
                                <div class="value">
                                    <div class="select-custom">                                
                                        <ejs-dropdownlist
                                            class="form-control"
                                            ref="cboDonVi_FMIS"
                                            locale='vi'        
                                            v-model="params.p_DonViFMIS"
                                            :dataSource='cboDonvi_FMIS'                                     
                                            :fields="{value:'MA_DV', text: 'TEN_DV'}"
                                            :allowFiltering="true"
                                            >
                                        </ejs-dropdownlist>
                                        
                                    </div>
                                </div>                                                        
                            </div>        
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-12">
                        <div class="info-row">
                            <div class="key w120">Ngày yêu cầu từ </div>
                            <div class="value">
                                <div class="input-icon-right">                                       
                                    <ejs-datepicker 
                                        locale='vi'
                                        v-model="params.dtpTuNgay"
                                        :format="'dd/MM/y'">
                                    </ejs-datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-12">
                        <div class="info-row">
                            <div class="key w120">Đến ngày </div>
                            <div class="value">
                                <div class="input-icon-right">                                      
                                    <ejs-datepicker 
                                        locale='vi'   
                                        v-model="params.dtpDenNgay"                                    
                                        :format="'dd/MM/y'">
                                    </ejs-datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content">                                            
                        
                    <DataGrid class="table-result table-gachle" v-bind:columns="[
                        {fieldName: '', headerText: '',  template: iconStatus, cssClass: 'text-center', width: '70', allowFiltering: false,allowSorting: false, freeze: 'Left'},
                        {fieldName: 'MA_DN', headerText: 'Mã ĐN', allowFiltering: true, allowSorting: true, freeze: 'Left'},
                        {fieldName: 'ND_DENGHI', headerText: 'Nội dung ĐN', allowFiltering: true, allowSorting: true}, 
                        {fieldName: 'TINH_GIAO', headerText: 'Tỉnh giao', allowFiltering: true, allowSorting: true}, 
                        {fieldName: 'TINH_NHAN', headerText: 'Tỉnh nhận', allowFiltering: true, allowSorting: true},
                        {fieldName: 'LOAIPHIEU', headerText: 'Loại phiếu', allowFiltering: true, allowSorting: true},
                        {fieldName: 'NGAY_YC', headerText: 'Ngày YC', allowFiltering: true, allowSorting: true},
                        {fieldName: 'NGAY_CN', headerText: 'Ngày CN', allowFiltering: true, allowSorting: true},
                        {fieldName: 'NGAYGIAO', headerText: 'Ngày chuyển', allowFiltering: true, allowSorting: true},
                        {fieldName: 'TRANGTHAI_DN', headerText: 'Trạng thái', allowFiltering: true, allowSorting: true}, 
                        {fieldName: 'DENGHI_ID', headerText:'', visible:false, isPrimaryKey:true}                                             
                        ]" 
                        v-bind:dataSource="DSDangKy" 
                        ref="grvDSDangKy"
                        :showFilter="true"  
                        dataKeyField="DENGHI_ID"                               
                        @selectedRowChanged="grvDSDangKySelectRow"                              
                        :allowPaging="true"
                        :enablePagingServer="false" 
                        :showColumnCheckbox="false"
                        :enabledSelectFirstRow="false"  
                                       
                        >
                        <!-- @dataBound="grvDSDangKyFocusRow"          -->
                    </DataGrid>                   
                    
                </div>
             
            </div>
        </div>
        <div class="grid-stack-box" v-if="this.tabDK_DeNghi">
            <div class="col-sm-5 col-12 box-col box-form">
              
                <div class="legend-title">
                    Danh sách vật tư đã đăng ký
                </div>
                <div class="tright form-group">
                    <button class="btn btn-danger" :enabled="Enabled.btnDelete_VTDK" @click="btnDelete_VTDK_Click">
                        <span class="nc-icon-outline ui-1_trash-simple"></span> Xóa
                    </button>
                </div>
                <div class="tab-content">                                            
                    <DataGrid3  class="table-result table-gachle" v-bind:columns="[
                        {fieldName: 'MA_VT', headerText: 'Mã VT', allowFiltering: true, allowSorting: true, freeze: 'Left'},
                        {fieldName: 'TEN_VT', headerText: 'Tên vật tư', allowFiltering: true, allowSorting: true}, 
                        {fieldName: 'DVI_TINH', headerText: 'ĐVT', allowFiltering: true, allowSorting: true}, 
                        {fieldName: 'SOLUONG', headerText: 'Số lượng', allowFiltering: true, allowSorting: true, type:'number', format:'N0' , allowEditing: AllowEdit.colSLLD},
                        {fieldName: 'GHICHU', headerText: 'Ghi chú', allowFiltering: true, allowSorting: true , allowEditing: AllowEdit.colGHICHU}, 
                        {fieldName: '', headerText: '', allowFiltering: false, width: 80, template: deleteTemplate, cssClass: 'text-center'},  
                        {fieldName: 'VATTU_ID', headerText:'', visible:false, isPrimaryKey:true}                                                                
                        ]" 
                        v-bind:dataSource="DSVatTu_DaDK" 
                        ref="grvDSVatTu_DaDK"
                        :showFilter="true"                                 
                        @selectedRowChanged=""
                        @selectedItemsChanged="grvDSVatTu_DaDK_Checked"                              
                        :allowPaging="true"
                        :enablePagingServer="false" 
                        :showColumnCheckbox="true"  
                        :enabledSelectFirstRow="false"   
                        dataKeyField="VATTU_ID"  
                        :editSettings='editSettings'
                        @cellSaved="editGridDSVatTu_DaDK"                       
                        >
                    </DataGrid3>                  
                </div>
            </div>
            <div class="col-sm-7 col-12 box-col box-form">
                <div class="legend-title"> 
                    Danh sách vật tư
                </div> 
                <div class="form-group" style="width:50%">
                    <ejs-dropdownlist
                        class="form-control"
                        ref="cboTimKiem"
                        locale='vi'
                        v-model="params.cboTimKiem"
                        :dataSource='cboTimKiem' 
                        :fields="{value:'VATTU_ID', text: 'TEN_VT'}"
                        :allowFiltering="true"
                        :filtering='onFilterCboTimKiem'    
                        @change = "findTreeVatTu"                                                    
                        >
                    </ejs-dropdownlist> 
                </div>                                 
                <div class="tab-content">         
                    <ejs-treegrid 
                        locale="vi-VN"
                        class="table-result table-gachle"
                        ref='gridDSVatTu' 
                        :dataSource='DSVatTu' 
                        childMapping='children'
                        :allowPaging='true' 
                        :pageSettings='pageSettings'
                        allowResizing='true'
                        :editSettings='editSettings'
                        :treeColumnIndex='1'
                        :autoCheckHierarchy='false'
                        @cellSaved='editGridVatTu'
                        :selectionSettings='selectionSettings'
                        >
                        <e-columns>
                            <e-column field='' type="checkbox" headerText='' width='80'  textAlign='Center' headerTextAlign="Center" :allowEditing="false"></e-column>
                            <e-column field='TEN_VT' operator='contains' headerTextAlign="Center" headerText='Tên vật tư' width='220' :allowEditing="false" ></e-column>
                            <e-column field='MA_VT' operator='contains' headerTextAlign="Center" headerText='Mã VT'  width='220' :allowEditing="false"></e-column>
                            <e-column field='SOLUONG' headerText='Số lượng' headerTextAlign="Center" width='220' textAlign='Right' :allowEditing="true" editType='numericedit'></e-column>
                            <e-column field='DVI_TINH' headerText='ĐVT' headerTextAlign="Center"  width='220' :allowEditing="false"></e-column>
                            <e-column field='GHICHU' headerText='Ghi chú' headerTextAlign="Center" width='220' :allowEditing="true"></e-column>
                            <e-column field='MOTA' headerText='Mô tả' headerTextAlign="Center" width='220' :allowEditing="true"></e-column>
                            <e-column field='HANG_SX' headerText='Hãng SX' headerTextAlign="Center" width='220' :allowEditing="true"></e-column>                                                     
                            <e-column field="VATTU_ID" :visible="false" :isPrimaryKey='true' ></e-column>
                        
                        </e-columns>
                    </ejs-treegrid>
                </div>
            </div>            
        </div>
        <div class="grid-stack-box" v-if="!this.tabDK_DeNghi">
            <div class="col-sm-12 col-12 box-col box-form">
                <div class="legend-title">
                    Tổng hợp quyết toán
                </div>
                <div class="tab-content">                                            
                    <DataGrid  class="table-result table-gachle" v-bind:columns="[
                        {fieldName: 'SOPHIEU', headerText: 'Số phiếu', allowFiltering: true, allowSorting: true, freeze: 'Left'},
                        {fieldName: 'LOAI_CT', headerText: 'Loại chứng từ', allowFiltering: true, allowSorting: true}, 
                        {fieldName: 'TRANGTHAI', headerText: 'Trạng thái', allowFiltering: true, allowSorting: true}, 
                        {fieldName: 'NGAY_CT', headerText: 'Ngày yêu cầu', allowFiltering: true, allowSorting: true},
                        {fieldName: 'NGAYNHAN_TT', headerText: 'Ngày nhận', allowFiltering: true, allowSorting: true }, 
                        {fieldName: 'NGAYGUI_TT', headerText: 'Ngày xuất', allowFiltering: true, allowSorting: true }, 
                        {fieldName: 'NGAY_HT', headerText: 'Ngày HT', allowFiltering: true, allowSorting: true }, 
                        {fieldName: 'TIEN', headerText: 'Tiền', allowFiltering: true, allowSorting: true },
                        {fieldName: 'KHO_GIAO', headerText: 'Từ kho', allowFiltering: true, allowSorting: true },
                        {fieldName: 'KHO_NHAN', headerText: 'Đến kho', allowFiltering: true, allowSorting: true },
                        {fieldName: 'MUCDICH', headerText: 'Mục đích', allowFiltering: true, allowSorting: true },
                        {fieldName: 'ND_GIAO', headerText: 'Nội dung', allowFiltering: true, allowSorting: true },
                        {fieldName: '', headerText: 'DS TB' ,textAlign: 'Left', allowFiltering: true, allowSorting: true,  template: btnTBTemplate,width: '80' , freeze: 'Right', },
                        {fieldName: 'CHUNGTU_ID', headerText:'', visible:false, isPrimaryKey:true}                                                                
                        ]" 
                        v-bind:dataSource="DSChungTu" 
                        ref="grvDSChungTu"
                        :showFilter="true"                                         
                        :allowPaging="true"
                        @selectedRowChanged="gridviewChungTu_FocusedRow"
                        @selectedItemsChanged="gridDSChungTuCheckBox"
                        :enablePagingServer="false" 
                        :showColumnCheckbox="true"  
                        :enabledSelectFirstRow="false"   
                        dataKeyField="CHUNGTU_ID"                                         
                        >
                    </DataGrid>                  
                </div>
            </div>
        </div>
    </div>   
    <frmGiaoPhieu ref="frmGiaoPhieu" /> 
    <ChonChungTuQT ref="frmChonChungTuQT" /> 
    <ejs-dialog
        :visible='false'
        ref="popup_frmChungTu_TBao"
        :animationSettings='animationSettings'
        :showCloseIcon=false 
        :enableResize=true
        :allowDragging=true
        width='80%'
        height ="100%"
        :isModal='true'
        :cssClass="'popup-box'"
        >
        <frmChungTu_TBao ref="frmChungTu_TBao" class=""></frmChungTu_TBao>
    </ejs-dialog>
</div>