<div class="box-form">
  <div class="row">
    <div class="col-12">
      <div class="legend-title">IP Store</div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <DataGrid
        :enablePagingServer="false"
        :enabledSelectFirstRow="false"
        v-bind:columns="
          [
            {fieldName: 'STT', headerText: 'STT', width: 70, textAlign: 'Center', allowSorting: false, allowFiltering: false},
            {fieldName: 'IP_STORE', headerText: 'IP store', width: 150, textAlign: 'Left'},
            {fieldName: 'TRANGTHAI_CAPPHAT', headerText: 'Trạng thái cấp phát', width: 170, textAlign: 'Left'},
            {fieldName: 'NGUOI_CAP', headerText: 'Người cấp', width: 150, textAlign: 'Left'},
            {fieldName: 'MUCDICH_SUDUNG', headerText: 'Mục đích sử dụng', width: 180, textAlign: 'Left'},
            {fieldName: 'THOIGIAN_CAP', headerText: 'Thời gian cấp', width: 150, textAlign: 'Center'},
            {fieldName: 'THOIGIAN_THUHOI', headerText: 'Thời gian thu hồi', width: 150, textAlign: 'Center'},
            {fieldName: 'DONVI_DUOCCAP', headerText: 'Đơn vị được cấp', width: 150, textAlign: 'Left'},
            {fieldName: 'SO_CU', headerText: 'Số căn cứ', width: 120, textAlign: 'Left'},
            {fieldName: 'ACTIONS', headerText: 'Thao tác', allowSorting: false, allowFiltering: false, textAlign: 'Center', template: actionColumn(this), width: 150, clipMode: 'None'}
          ]"
        :dataSource="dsIpStore"
        :allowPaging="true"
        ref="grdIpStore"
        :showColumnCheckbox="true"
        @rowSelected="grdIpStore_RowSelected"
      >
      </DataGrid>
    </div>
  </div>
</div>
