.modal-wrapper {
	min-height: 500px;
}

.list-actions-top .list {
	overflow: unset;
}

.input-group {
	display: table !important;
}

.vattu_box {
	position: relative;
}

.vattu_table {
	position: absolute;
	z-index: 1;
	max-height: 300px;
	background: aliceblue;
	overflow-y: scroll;
	width: 100%;
}

/deep/ input.e-disabled {
	background-color: #e9ecef!important;
}

.list-actions-top .list > li.disabled {
    cursor: not-allowed;
    pointer-events: none;
}
.list-actions-top .list > li.disabled > a {
    color: #6c757d !important;
}
li.pointer {
    cursor: pointer;
}

