/* .focusheadertb .e-grid .e-gridheader {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.focusheadertb .e-grid .e-gridcontent {
    height: 60vh;
    overflow-y: auto;
} */
