<div id="danhsach-congviec-idc">
  <div class="list-actions-top">
    <ul class="list">
      <li>
        <b-link href="javascript:void(0)" @click="onSearch"> <span class="icon one-search"></span>Tìm kiếm </b-link>
      </li>
      <li>
        <b-link href="javascript:void(0)" @click="onCreateNoiBo" :disabled="false">
          <a> <span class="icon one-file-plus"></span> Tạo CV nội bộ</a>
        </b-link>
      </li>
      <li>
        <b-link href="javascript:void(0)" @click="onCreateKenhBan" :disabled="false">
          <a> <span class="icon one-file-plus"></span> Tạo CV từ kênh bán </a>
        </b-link>
      </li>
    </ul>
  </div>

  <div class="page-content">
    <!-- Search conditions -->
    <div class="box-form">
      <div class="row">
        <div class="legend-title d-flex justify-content-between align-items-center">
          Điều kiện tìm kiếm
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="key w100">Loại công việc</div>
            <div class="value">
              <SelectExt
                v-model="searchConditions.loaicvId"
                placeholder="-- Chọn loại công việc --"
                dataTextField="TEN"
                dataValueField="LOAICV_ID"
                :dataSource="dsLoaiCongViecOptions"
              />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="key w100">Đơn vị thực hiện</div>
            <div class="value">
              <SelectExt
                v-model="searchConditions.donviId"
                placeholder="-- Chọn đơn vị thực hiện --"
                dataTextField="TEN"
                dataValueField="ID"
                :dataSource="dsDonViOptions"
                @change="onChangeDonViThucHien"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="key w100">Phân loại</div>
            <div class="value">
              <SelectExt
                v-model="searchConditions.phanloai"
                placeholder="-- Chọn phân loại --"
                dataTextField="TEN"
                dataValueField="ID"
                :dataSource="[...dsPhanLoaiOptions]"
              />
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="key w100">IDC</div>
            <div class="value">
              <SelectExt
                v-model="searchConditions.idcId"
                placeholder="-- Chọn IDC --"
                dataTextField="TEN"
                dataValueField="ID"
                :dataSource="dsIdcOptions"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="key w100">Khách hàng</div>
            <div class="value">
              <input type="text" class="form-control" v-model="searchConditions.khachhang" placeholder="Nhập mã TB, mã GD, số HĐ, tên TB" />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="key w100">Công việc</div>
            <div class="value">
              <input type="text" class="form-control" v-model="searchConditions.congviec" placeholder="Nhập mã/tên công việc" />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="key w100">Ngày yêu cầu</div>
            <div class="value d-flex align-items-center">
              <div style="flex: 1; margin-right: 8px;">
                <ejs-datepicker
                  v-model="searchConditions.ycBatdau"
                  :format="'dd/MM/yyyy'"
                  :allowEdit="false"
                  placeholder="Từ ngày"
                  style="background: white; color: #495057; width: 100%;"
                  ref="refNgayYcTu"
                />
              </div>
              <span style="margin: 0 8px; color: #666;">~</span>
              <div style="flex: 1; margin-left: 8px;">
                <ejs-datepicker
                  v-model="searchConditions.ycKetthuc"
                  :format="'dd/MM/yyyy'"
                  :allowEdit="false"
                  placeholder="Đến ngày"
                  style="background: white; color: #495057; width: 100%;"
                  ref="refNgayYcDen"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="key w100">Ngày yêu cầu HT</div>
            <div class="value d-flex align-items-center">
              <div style="flex: 1; margin-right: 8px;">
                <ejs-datepicker
                  v-model="searchConditions.ychtBatdau"
                  :format="'dd/MM/yyyy'"
                  :allowEdit="false"
                  placeholder="Từ ngày"
                  style="background: white; color: #495057; width: 100%;"
                  ref="refNgayYchtTu"
                />
              </div>
              <span style="margin: 0 8px; color: #666;">~</span>
              <div style="flex: 1; margin-left: 8px;">
                <ejs-datepicker
                  v-model="searchConditions.ychtKetthuc"
                  :format="'dd/MM/yyyy'"
                  :allowEdit="false"
                  placeholder="Đến ngày"
                  style="background: white; color: #495057; width: 100%;"
                  ref="refNgayYchtDen"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 col-12">
          <div class="info-row">
            <div class="key w100">Người thực hiện</div>
            <div class="value">
              <SelectExt
                v-model="searchConditions.nhanvienId"
                placeholder="-- Chọn nhân viên thực hiện --"
                dataTextField="TEN_NV"
                dataValueField="NHANVIEN_ID"
                :dataSource="dsNhanVienOptions"
                :disabled="!searchConditions.donviId || searchConditions.donviId == 0"
              />
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-12">
          <div class="info-row">
            <div class="key w100">Trạng thái</div>
            <div class="value">
              <SelectExt
                v-model="searchConditions.trangthaiId"
                placeholder="-- Chọn trạng thái --"
                dataTextField="TEN"
                dataValueField="ID"
                :dataSource="dsTrangThaiOptions"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Data grid -->
    <div class="box-form">
      <div class="row">
        <div class="legend-title d-flex justify-content-between align-items-center">
          Danh sách nhiệm vụ/ công việc
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <DataGrid
            ref="grdNhiemVu"
            :allowPaging="true"
            :enablePagingServer="false"
            :showColumnCheckbox="false"
            :dataSource="danhSachPhieuThiCong"
            :childGrid="childGrid"
            v-bind:columns="[
              {fieldName: 'MA_CV', headerText: 'Mã CV', textAlign: 'Left', width: 70},
              {fieldName: 'HANGMUC_TRIENKHAI', headerText: 'Hạng mục công việc', textAlign: 'Left', width: 120},
              {fieldName: 'LOAI_CV', headerText: 'Loại công việc', textAlign: 'Left', width: 110},
              {fieldName: 'TEN_IDC', headerText: 'IDC', textAlign: 'Left', width: 90},
              {fieldName: 'NHANVIEN_THUCHIEN', headerText: 'Cá nhân thực hiện', textAlign: 'Left', width: 80},
              {fieldName: 'PHOIHOP_THUCHIEN', headerText: 'Phối hợp thực hiện', textAlign: 'Left', width: 100, cssClass: 'phoi-hop-thuc-hien', disableHtmlEncode: false},
              {fieldName: 'NGAY_YC', headerText: 'Ngày yêu cầu', textAlign: 'Center', width: 80},
              {fieldName: 'NGAY_YCHT', headerText: 'Ngày yêu cầu HT', textAlign: 'Center', width: 80},
              {fieldName: 'KHACHHANG', headerText: 'Khách hàng', textAlign: 'Left', width: 120, template: khachHangTemplate(this)},
              {fieldName: 'TRANGTHAI_THICONG', headerText: 'Trạng thái thực hiện', textAlign: 'Left', width: 90},
              {fieldName: 'ACTIONS', headerText: 'Thao tác', allowSorting: false,
              allowFiltering: false, textAlign: 'Center', template: actionColumn(this), width: 80}
            ]"
            v-if="showGrid"
            @selectedRowChanged="onChangePhieuCV"
            @detailDataBound="onDetailDataBound"
            :enabledSelectFirstRow="true"
          >
          </DataGrid>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal components -->
  <ChiTietCongViec
    ref="refChiTietCongViec"
    :pLoaiPhieu="loaiCongViecDialog"
    :pPhieuThiCongId="currentItem.PHIEU_YC ? currentItem.PHIEU_YC : null"
    @onBeforeClose="onBeforeCloseChiTietCongViec"
    @afterSave="afterSaveChiTietCongViec"
  >
  </ChiTietCongViec>

  <SearchPhieuKenhBan ref="refSearchPhieuKenhBan" @beforClosePopup="onBeforeClosePopupSearchPhieuSO">
  </SearchPhieuKenhBan>
</div>
