#danhsach-congviec-idc {
  .info-row {
    display: flex;
    align-items: center;

    .key {
      min-width: 150px;
    }

    .w50 {
      min-width: 50px !important;
    }

    .value {
      flex: 1;
    }
  }

  .e-grid .e-rowcell {
    &.phoi-hop-thuc-hien {
      white-space: pre-line !important;
      word-wrap: break-word !important;
      overflow-wrap: break-word !important;
    }
  }

  .action-buttons .btn-sm {
    padding: 1px 6px;
  }
  .action-buttons .btn-outline-danger.disabled, .action-buttons .btn-outline-danger:disabled {
    color: #b08282;
    border-color: #b08282;
  }
}