<div class="row">
  <div class="box-form">
    <div class="legend-title">
      Blade
    </div>
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w150">Khe cắm Blade (<span class="red">*</span>)</div>
          <div class="value">
            <input type="number" class="form-control" v-model.trim="thietBiCurrent.SL_KHEBLADE" :disabled="false" />
          </div>
        </div>
      </div>
      <!-- <div class="col-sm-4 col-12">
        <div class="info-row">
          <div class="key w150">Tổng số</div>
          <div class="value">
            <input type="number" class="form-control" v-model.trim="dinhDangTen" :disabled="true" />
          </div>
        </div>
      </div> -->
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w150">Đã sử dụng</div>
          <div class="value">
            <input type="number" class="form-control" v-model.trim="thietBiCurrent.SL_BLADE_DACAM" :disabled="true" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-sm-4 col-12">
        <div class="info-row">
          <div class="key w150">Còn trống</div>
          <div class="value">
            <input type="number" class="form-control" v-model.trim="dinhDangTen" :disabled="true" />
          </div>
        </div>
      </div> -->
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w150">Định dạng tên:</div>
          <div class="value">
            <input type="text" class="form-control" v-model.trim="dinhDangTen" :disabled="false" />
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w150">Bắt đầu từ:</div>
          <div class="value">
            <input type="number" class="form-control" v-model.trim="batDauTu" :disabled="false" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-form">
    <div class="row">
      <div class="legend-title d-flex justify-content-between align-items-center">
        <span>Danh sách Blade</span>
        <div>
          <button class="btn btn-sm btn-outline-primary" title="Sinh cổng tự động" @click="onGenerateBlade()">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <DataGrid
          ref="danhSachBladeGrd"
          :allowPaging="true"
          :enablePagingServer="false"
          :showColumnCheckbox="false"
          v-bind:columns="[
                                  {fieldName: 'ID', headerText: 'ID Khe cắm', textAlign: 'Left'},
                                  {fieldName: 'TEN_VITRI', headerText: 'Tên khen cắm', textAlign: 'Left'},
                                  {fieldName: 'THIETBI_ID', headerText: 'ID Blade', textAlign: 'Left'},
                                  {fieldName: 'TEN', headerText: 'Tên Blade', textAlign: 'Left'},
                                  {fieldName: 'SERIAL_NUMBER', headerText: 'Serial', textAlign: 'Left'},
                                  {fieldName: 'TRANGTHAI_VH', headerText: 'Trạng thái VH', textAlign: 'Left'},
                                  {fieldName: 'THAOTAC', headerText: 'Thao tác', textAlign: 'Center', template: actionColumn(this), allowFiltering: false},
                                ]"
          v-bind:dataSource="localDsBlade"
        >
        </DataGrid>
      </div>
    </div>
  </div>
  <EditBladeModal ref="editBladeModal" />
</div>
