<div class="box-form" style="font-size:1rem">
  <div id="tab1">
    <!-- <div class="legend-title"> Đơn vị áp dụng</div> -->
    <div class="box-col">
      <div class="legend-title mart10">Đơn vị áp dụng</div>
      <DataGrid 
        :showFilter="false" 
        :allowPaging="false" 
        :enablePagingServer="false" 
        :dataSource="options.donvi_apdung"
        :columns="config.donvi_apdung" 
        :showColumnCheckbox="true" 
        @selectedItemsChanged="selectingEventDVAD" />
    </div>
    <div class="list m-1 d-flex justify-content-between">
      <button class="btn btn-primary" @click.prevent="btnInsDV_Click">
        <span>Thêm đơn vị</span>
      </button>
      <div class="btn btn-primary" @click.prevent="btnLoadDV_Click">
        <span class="one-refresh"></span>
        <!-- <span class="mls"> one-refresh</span> -->
      </div>
    </div>
  </div>
  <popupDV ref="popupDV" @acceptChange="onDVChange" :exLs="dsIdChon"/>
</div>