<div class="main-wrapper">
  <!--  <div class="breadcrumb-top">-->
  <!--    <div class="main-title">QUẢN LÝ PHẠM VI CƠ SỞ HẠ TẦNG</div>-->
  <!--    <ul class="breadcrumb">-->
  <!--      <li class="breadcrumb-item"><a href="#"><span class="nc-icon-outline ui-1_home-simple"></span> Trang chủ </a></li>-->
  <!--      <li class="breadcrumb-item"><a href="#">Lập hợp đồng</a></li>-->
  <!--      <li class="breadcrumb-item active">Lắp đặt mới</li>-->
  <!--    </ul>-->
  <!--  </div>-->
<!--  <breadcrumb :header="header"/>-->
  <div class="list-actions-top">
    <ul class="list">
      <li @click="resetForm()" :class="{'disable-btn': isDisableBtnNhapMoi}">
        <a href="javascript:void(0)">
          <span class="icon one-file-plus"></span> Nhập mới
        </a>
      </li>
      <li @click="themMoi" :class="{'disable-btn': isDisableBtnGhiLai}">
        <a href="javascript:void(0)">
          <span class="icon one-save"></span> Ghi lại
        </a>
      </li>
      <li @click="cancelForm()" :class="{'disable-btn': isDisableBtnHuy}">
        <a href="javascript:void(0)">
          <span class="icon ui-1_circle-remove nc-icon-glyph"></span> Hủy bỏ
        </a>
      </li>
      <li @click="xoaViPhamAA" :class="{'disable-btn': isDisableBtnXoa}">
        <a href="javascript:void(0)">
          <span class="icon one-trash"></span> Xóa
        </a>
      </li>
    </ul>
  </div>
  <div class="page-content">
    <div class="box-form">
      <div class="legend-title">Thông tin vi phạm</div>
      <div class="row">
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="key w130">
              Đơn vị vi phạm <span style="color: red">*</span>
            </div>
            <div class="value">
              <div class="input-more-button -right">
                <button class="btn">
                  <span class="-ap icon-plus3"></span>
                </button>
                <div class="select-custom">
                  <select name="" id="cboDonViViPham" class="form-control" v-model="cboDonViViPham">
                    <option v-for="item in dvvp" :value="item.DOITAC_ID">{{ item.TEN_DT }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="key w130">
              Đơn vị xử lý
            </div>
            <div class="value">
              <div class="select-custom">
                <select name="" id="cboDonViXL" class="form-control" v-model="cboDonViXL">
                  <option v-for="item in dvxl" :value="item.DONVI_ID">{{ item.DONVI_XL_TEN }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="key w130">
              Ngày vi phạm
            </div>
            <div class="value">
              <ejs-datepicker
                v-model="ngayViPham"
                :format="'dd/MM/yyyy'"
              >
              </ejs-datepicker>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="key w130">
              Kết quả xử lý
            </div>
            <div class="value">
              <div class="select-custom">
                <select name="" id="cboQetQuaXL" class="form-control" v-model="cboQetQuaXL">
                  <option v-for="item in kqxl" :value="item.KQXL_ID">{{ item.KETQUA_XL }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="key w130">
              Nội dung vi phạm <span style="color: red">*</span>
            </div>
            <div class="value">
              <input type="text" class="form-control" v-model="noiDungViPham">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="key w130">
              Ngày xử lý
            </div>
            <div class="value">
              <ejs-datepicker
                v-model="ngayXl"
                :format="'dd/MM/yyyy'"
              >
              </ejs-datepicker>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="key w130">
              Biện pháp xử lý
            </div>
            <div class="value">
              <input type="text" class="form-control" v-model="bienPhapXl">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="key w130">
              Ghi chú
            </div>
            <div class="value">
              <input type="text" class="form-control" v-model="ghiChu">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-form">
      <div class="legend-title">
        <div class="title pull-left mart10">Tìm kiếm vi phạm</div>
        <div class="pull-right">
          <a href="#" class="btn text-main"><span class="f24 inline vcenter one-file-search"></span> Tra cứu</a>
<!--          <a href="#" class="btn text-main" @click="xuatFile()">-->
<!--            <download-excel :data="this.dataExcel">-->
<!--              <span class="f24 inline vcenter one-excel"></span> Xuất Excel-->
<!--            </download-excel>-->
<!--          </a>-->
<!--          <li>-->
<!--            <a href="#" @click="xuatFile()">-->
<!--              <span class="f24 inline vcenter one-excel"></span>Xuất file-->
<!--            </a>-->
<!--          </li>-->
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="key">Tìm kiếm</div>
            <div class="value">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-12">
          <div class="info-row">
            <div class="key w90">Từ ngày</div>
            <div class="value">
              <ejs-datepicker
                v-model="tuNgay"
                :format="'dd/MM/yyyy'"
              >
              </ejs-datepicker>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-12">
          <div class="info-row">
            <div class="key w90">Đến ngày</div>
            <div class="value">
              <ejs-datepicker
                v-model="denNgay"
                :format="'dd/MM/yyyy'"
              >
              </ejs-datepicker>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-form">
      <div class="legend-title">
        <div class="title">Danh sách vi phạm</div>
      </div>
<!--      <div class="table-content">-->
<!--        <table class="table-result nowrap table-gachle">-->
<!--          <thead class="center">-->
<!--          <tr>-->
<!--            <th class="w20">-->
<!--            </th>-->
<!--            <th class="w20">-->
<!--              STT-->
<!--            </th>-->
<!--            <th>Đơn vị vi phạm</th>-->
<!--            <th>Ngày vi phạm</th>-->
<!--            <th>Nội dung vi phạm</th>-->
<!--            <th>Biện pháp xử lý</th>-->
<!--            <th>Kết quả xử lý</th>-->
<!--            <th>Đơn vị xử lý</th>-->
<!--            <th>Ngày xử lý</th>-->
<!--            <th>Ghi chú</th>-->
<!--            <th>Người cập nhật</th>-->
<!--            <th>Ngày cập nhật</th>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th></th>-->
<!--            <th class="w40">-->
<!--              <div class="input-icon-right">-->
<!--                <input type="text" class="form-control">-->
<!--                <span class="icon nc-icon-outline ui-1_zoom"></span>-->
<!--              </div>-->
<!--            </th>-->
<!--            <th>-->
<!--              <div class="input-icon-right">-->
<!--                <input type="text" class="form-control">-->
<!--                <span class="icon nc-icon-outline ui-1_zoom"></span>-->
<!--              </div>-->
<!--            </th>-->
<!--            <th>-->
<!--              <div class="input-icon-right">-->
<!--                <input type="text" class="form-control">-->
<!--                <span class="icon nc-icon-outline ui-1_zoom"></span>-->
<!--              </div>-->
<!--            </th>-->
<!--            <th>-->
<!--              <div class="input-icon-right">-->
<!--                <input type="text" class="form-control">-->
<!--                <span class="icon nc-icon-outline ui-1_zoom"></span>-->
<!--              </div>-->
<!--            </th>-->
<!--            <th>-->
<!--              <div class="input-icon-right">-->
<!--                <input type="text" class="form-control">-->
<!--                <span class="icon nc-icon-outline ui-1_zoom"></span>-->
<!--              </div>-->
<!--            </th>-->
<!--            <th>-->
<!--              <div class="input-icon-right">-->
<!--                <input type="text" class="form-control">-->
<!--                <span class="icon nc-icon-outline ui-1_zoom"></span>-->
<!--              </div>-->
<!--            </th>-->
<!--            <th>-->
<!--              <div class="input-icon-right">-->
<!--                <input type="text" class="form-control">-->
<!--                <span class="icon nc-icon-outline ui-1_zoom"></span>-->
<!--              </div>-->
<!--            </th>-->
<!--            <th>-->
<!--              <div class="input-icon-right">-->
<!--                <input type="text" class="form-control">-->
<!--                <span class="icon nc-icon-outline ui-1_zoom"></span>-->
<!--              </div>-->
<!--            </th>-->
<!--            <th>-->
<!--              <div class="input-icon-right">-->
<!--                <input type="text" class="form-control">-->
<!--                <span class="icon nc-icon-outline ui-1_zoom"></span>-->
<!--              </div>-->
<!--            </th>-->
<!--            <th>-->
<!--              <div class="input-icon-right">-->
<!--                <input type="text" class="form-control">-->
<!--                <span class="icon nc-icon-outline ui-1_zoom"></span>-->
<!--              </div>-->
<!--            </th>-->
<!--            <th>-->
<!--              <div class="input-icon-right">-->
<!--                <input type="text" class="form-control">-->
<!--                <span class="icon nc-icon-outline ui-1_zoom"></span>-->
<!--              </div>-->
<!--            </th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr v-for="(c, index) in dsCsht" :key="index" @click="selectViPham(c, index)">-->
<!--            <td class="w20 "></td>-->
<!--            <td class="">{{ c.STT }}</td>-->
<!--            <td class=" ">{{ c.DONVI_XL_TEN }}</td>-->
<!--            <td class="">{{ c.NGAY_VP }}</td>-->
<!--            <td class="">{{ c.NOIDUNG_VIPHAM }}</td>-->
<!--            <td class="">{{ c.BIENPHAP_XL }}</td>-->
<!--            <td>{{ c.KETQUA_XL }}</td>-->
<!--            <td>{{ c.DONVI_XL_TEN }}</td>-->
<!--            <td>{{ c.NGAY_XL }}</td>-->
<!--            <td>{{ c.GHICHU }}</td>-->
<!--            <td>{{ c.NGUOI_CN }}</td>-->
<!--            <td>{{ c.NGAY_CN }}</td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->

      <DataGrid v-bind:columns="[
                        {fieldName: 'STT', headerText: 'STT', allowFiltering: true},
                        {fieldName: 'DONVI_XL_TEN', headerText: 'Đơn vị vi phạm', allowFiltering: true},
                        {fieldName: 'NGAY_VP', headerText: 'Ngày vi phạm', allowFiltering: true},
                        {fieldName: 'NOIDUNG_VIPHAM', headerText: 'Nội dung vi phạm', allowFiltering: true},
                        {fieldName: 'BIENPHAP_XL', headerText: 'Biện pháp xử lý', allowFiltering: true},
                        {fieldName: 'KETQUA_XL', headerText: 'Kết quả xử lý', allowFiltering: true},
                        {fieldName: 'DONVI_XL_TEN', headerText: 'Đơn vị xử lý', allowFiltering: true},
                        {fieldName: 'NGAY_XL', headerText: 'Ngày xử lý', allowFiltering: true},
                        {fieldName: 'GHICHU', headerText: 'Ghi chú', allowFiltering: true},
                        {fieldName: 'NGUOI_CN', headerText: 'Người cập nhật', allowFiltering: true},
                        {fieldName: 'NGAY_CN', headerText: 'Ngày cập nhật', allowFiltering: true}
                    ]"
                :enable-paging-server="false"
                :allow-paging="true"
                v-bind:dataSource="dsCsht" :showFilter="true" @selectedRowChanged="selectViPham" ref="table"></DataGrid>

    </div>

  </div>
  <b-modal v-model="modalXoa" cancelTitle="Huỷ" okTitle="Đồng ý" title="" size="sm" @ok="xacNhanXoa()">
    <span>Bạn thật sự muốn xóa dữ liệu không?</span>
  </b-modal>
</div>
