<div class="box-form">
  <div class="row">
    <div class="col-12">
      <div class="legend-title d-flex justify-content-between align-items-center">
        <span>Danh sách subnet</span>
        <div>
          <button class="btn btn-sm btn-outline-primary" title="Thêm Subnet con" @click="addSubnet()">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <DataGrid
        :enablePagingServer="false"
        :enabledSelectFirstRow="false"
        v-bind:columns="
          [
            {fieldName: 'STT', headerText: 'STT', width: 70, textAlign: 'Center', allowSorting: false, allowFiltering: false},
            {fieldName: 'TEN_SUBNET', headerText: 'Tên Subnet', width: 150, textAlign: 'Left'},
            {fieldName: 'SUBNET', headerText: 'Subnet', width: 150, textAlign: 'Left'},
            {fieldName: 'SUBNET_MASK', headerText: 'Subnet mask', width: 130, textAlign: 'Left'},
            {fieldName: 'GATEWAY', headerText: 'Gateway', width: 130, textAlign: 'Left'},
            {fieldName: 'VLAN', headerText: 'VLAN', width: 100, textAlign: 'Left'},
            {fieldName: 'HATANG_MANG', headerText: 'Hạ tầng mạng', width: 150, textAlign: 'Left'},
            {fieldName: 'TRANGTHAI_CCDV', headerText: 'Trạng thái CCDV', width: 150, textAlign: 'Left'},
            {fieldName: 'ACTIONS', headerText: 'Thao tác', allowSorting: false, allowFiltering: false, textAlign: 'Center', template: actionColumn(this), width: 150, clipMode: 'None'}
          ]"
        :dataSource="dsSubnet"
        :allowPaging="true"
        ref="grdSubnet"
        :showColumnCheckbox="true"
        @rowSelected="grdSubnet_RowSelected"
      >
      </DataGrid>
    </div>
  </div>
</div>
