.faq-category {
  display: inline-block;
  width: auto;
  padding: 11px 14px;
  margin: 5px 2px;
  cursor: pointer;
  border-radius: 100px;
  text-align: center;
  border: 1px solid var(--green-main);
  color: var(--green-main);
  line-height: 1;
  transition: 0.25s;
}

.faq-category:hover {
  background-color: #e4f5eb;
  transition: 0.25s;
}

.faq-category.active {
  background-color: var(--green-main);
  color: #fff;
}

@media (max-width: 768px) {
  .faq-category-list {
    flex-wrap: wrap;
  }

  .faq-category {
    padding: 10px 15px;
    font-size: 15px;
  }
}
