a.disabled { color:lightgray !important; }
a.disabled:hover { color:lightgray !important; }
.disabled { pointer-events: none; color:lightgray; border-color:lightgray; }
/deep/ #table2 { height:120px; width:100%; display:block; overflow-y: scroll; }