<b-modal 
    id="id-frm-chon-thietbi-suco"
    ref="ref-modal" 
    size="xl" 
    no-close-on-backdrop
    hide-footer 
    hide-header 
    hide-header-close 
    body-class="modal-body p-0"
    @shown="onModalShown"
    @hidden="onModalHidden">
    <div class="modal-content popup-box">
        <div class="popup-header">
            <div class="title"><span class="icon one-notepad"></span> Chọn thiết bị</div>
            <div
                class="close -ap icon-close"
                data-dismiss="modal"
                @click="$refs['ref-modal'].hide()">
            </div>
        </div>
        <div class="list-actions-top">
            <ul class="list">
                <li @click="onClickBtnTimKiem">
                    <a href="javascript:void(0)">
                        <span class="icon one-search"></span>Tìm kiếm
                    </a>
                </li>
                <li @click="onClickBtnChon">
                    <a href="javascript:void(0)">
                        <span class="icon one-user-info"></span>Chọn
                    </a>
                </li>
            </ul>
        </div>
        <div class="popup-body chon-thietbi-suco">
            <div class="row">
                <div class="col-sm-3 col-12">
                    <div class="box-form">
                        <div class="legend-title">
                            Chọn đơn vị <a href="javascript:void(0)" class="link one-reload" style="float: right;" @click="onClickBtnNapLai"></a>
                        </div>
                        <div>
                            <input type="text" class="form-control highlight" v-model.trim="treeDonVi.searchText" v-on:keyup="filterTreeDonVi"></input>
                        </div>
                        <div class="tree-plus-ext" style="height: 570px;overflow: auto;">
                            <ejs-treeview :fields='treeFields' :nodeClicked="onNodeClickedDonVi"></ejs-treeview>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 col-12">
                    <div class="box-form">
                        <div class="legend-title">Tiêu chí tìm kiếm</div>
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w120">Tên thiết bị</div>
                                    <div class="value">
                                        <input ref="ref-ten-thietbi" type="text" class="form-control highlight" v-model.trim="tenThietBi">
                                    </div>
                                </div>
                                <div class="info-row">
                                    <div class="key w120">Loại thiết bị</div>
                                    <div class="value" ref="ref-select-loai-tbi">        
                                        <SelectExt
                                            :settings="{dropdownParent: $refs['ref-select-loai-tbi']}"
                                            v-model="loaiTbiId" 
                                            :dataSource="dsLoaiTbi" 
                                            dataValueField="LOAITBI_ID"
                                            dataTextField="LOAI_TBI" />
                                    </div> 
                                </div>
                                <div v-show="showComboLopMc" class="info-row">
                                    <div class="key w120">Lớp mạng cáp</div>
                                    <div class="value" ref="ref-select-lop-mc">        
                                        <SelectExt
                                            :settings="{dropdownParent: $refs['ref-select-lop-mc']}"
                                            v-model="lopMcId" 
                                            :dataSource="dsLopMc" 
                                            dataValueField="LOPMC_ID"
                                            dataTextField="LOP_MC" />
                                    </div> 
                                </div>
                                <div v-show="showComboPhanLoaiKc" class="info-row">
                                    <div class="key w120">Phân loại kết cuối</div>
                                    <div class="value" ref="ref-select-phanloai-kc">        
                                        <SelectExt
                                            :settings="{dropdownParent: $refs['ref-select-phanloai-kc']}"
                                            v-model="phanLoaiKcId" 
                                            :dataSource="dsPhanLoaiKc" 
                                            dataValueField="PHANLOAIKC_ID"
                                            dataTextField="PHANLOAI_KC" />
                                    </div> 
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w100">Nhóm thiết bị</div>
                                    <div class="value" ref="ref-select-nhom-tbi">        
                                        <SelectExt
                                            :settings="{dropdownParent: $refs['ref-select-nhom-tbi']}"
                                            v-model="nhomTbiId" 
                                            :dataSource="dsNhomTbi" 
                                            dataValueField="NHOMTBI_ID"
                                            dataTextField="NHOM_TBI" />
                                    </div> 
                                </div>
                                <div class="info-row">
                                    <div class="key w100">Kiểu thiết bị</div>
                                    <div class="value" ref="ref-select-kieu-tbi">        
                                        <SelectExt
                                            :settings="{dropdownParent: $refs['ref-select-kieu-tbi']}"
                                            v-model="kieuTbiId" 
                                            :dataSource="dsKieuTbi" 
                                            dataValueField="KIEUTBI_ID"
                                            dataTextField="KIEU_TBI" />
                                    </div> 
                                </div>
                                <div class="info-row">
                                    <div class="key w100">Dung lượng</div>
                                    <div class="value" ref="ref-select-dungluong-tbi">        
                                        <SelectExt
                                            :settings="{dropdownParent: $refs['ref-select-dungluong-tbi']}"
                                            v-model="dungLuongId" 
                                            :dataSource="dsDungLuongTbi" 
                                            dataValueField="DUNGLUONG_ID"
                                            dataTextField="DUNGLUONG" />
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-form">
                        <div class="legend-title">Danh sách thiết bị</div>
                        <div class="table-content">
                            <DataGrid
                                class="table-result"
                                :panelDataHeight="dsThietBi.length == 0 ? '324' : '270'"
                                v-bind:columns="[
                                    {fieldName: '', headerText: '', textAlign: 'Center', allowFiltering: false, width: '50', headerTemplate: getHeaderTemplateChonNhieu(this), template: getColumnTemplateChonNhieu(this)},
                                    {fieldName: 'TEN_TBI', headerText: 'Tên thiết bị', allowFiltering: true, width: '130' },
                                    {fieldName: 'LOAI_TBI', headerText: 'Loại thiết bị', allowFiltering: true, width: '130' },
                                    {fieldName: 'KIEU_TBI', headerText: 'Kiểu thiết bị', allowFiltering: true, width: '130' },
                                    {fieldName: 'TEN_DV', headerText: 'Đơn vị', allowFiltering: true, width: '130' },
                                ]"        
                                v-bind:dataSource="dsThietBi"
                                :showFilter="true"
                                :allowPaging="true"
                                :enablePagingServer="false"></DataGrid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</b-modal>
