
<div class="row">
  <div class="col-12">
    <div class="legend-title">Thông tin kiểm kê quản lý tài sản</div>
  </div>
  <div class="col-6">
    <div class="info-row">
      <div class="key w150">Mã dự án</div>
      <div class="value">
        <input
          type="text"
          class="form-control"
          v-model="currentItem.project_code"
          :disabled="!controls.txt_project_code.enabled"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w150">Tên dự án</div>
      <div class="value">
        <input
          type="text"
          class="form-control"
          v-model="currentItem.project_name"
          :disabled="!controls.txt_project_name.enabled"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w150">Thẻ tài sản</div>
      <div class="value">
        <input
          type="text"
          class="form-control"
          v-model="currentItem.so_the_ts"
          :disabled="!controls.txt_so_the_ts.enabled"
        />
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="info-row">
      <div class="key w150">Đơn vị quản lý</div>
      <div class="value">
        <SelectExt
          :dataSource="donViQuanLyList"
          dataTextField="TEN"
          dataValueField="ID"
          v-model="currentItem.donviqly_id"
          :disabled="!controls.select_donviqly_id.enabled"
          @change="onDonViQuanLyChange"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w150">Phòng/Tổ quản lý</div>
      <div class="value">
        <SelectExt
          :dataSource="phongBanQuanLyList"
          dataTextField="TEN"
          dataValueField="ID"
          v-model="currentItem.phongbanqly_id"
          :disabled="!controls.select_phongbanqly_id.enabled"
          @change="onPhongBanQuanLyChange"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w150">Cá nhân quản lý</div>
      <div class="value">
        <SelectExt
          :dataSource="nguoiQuanLyList"
          dataTextField="TEN"
          dataValueField="ID"
          v-model="currentItem.nguoiqly_id"
          :disabled="!controls.select_nguoiqly_id.enabled"
        />
      </div>
    </div>
  </div>
</div>