<div class="value" v-click-outside="onHide">
    <div class="vattu_box">
        <div class="input-group-1">
            <div class="li input-text">
                <div class="select-custom">
                    <input readonly v-model="text"
                        class="form-control bg-none" @click="onToggle" :disabled="isDisabled">
                    </input>
                </div>
            </div>
        </div>
        <div class="vattu_table" v-show="isShow">
            <DataGrid2
                v-bind:columns="column"
                v-bind:dataSource="dataSource" 
                :showFilter="true" 
                :showColumnCheckbox="false"
                :defaultColumnCheckboxChecked="false"
                @selectedRowChanged="onSelect" 
                :pageSize="10000"
                :selectedRow="-1"
                >
            </DataGrid2>
        </div>
    </div>
</div>