
  <b-modal
    :id="modalId"
    size="lg"
    ref="ref-modal"
    no-close-on-backdrop
    hide-footer
    hide-header
    hide-header-close
    @shown="focusMyElement"
    body-class="modal-body p-0">
    <div class="modal-content popup-box">
      <div class="popup-header">
        <div class="title">
          <span class="icon one-notepad"></span> Cập nhật Bras
        </div>
        <div
          class="close -ap icon-close"
          data-dismiss="modal"
          @click="$refs['ref-modal'].hide()">
        </div>
      </div>


      <div class="list-actions-top">
        <ul class="list">
          <li>

            <a href="javascript:void(0)" @click="clearForm()" :class="{'disable-btn': isDisableBtnNhapMoi}">
              <span class="icon ui-1_circle-add nc-icon-glyph"></span> Nhập mới(F5)
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" @click="SaveAs" :class="{'disable-btn': isDisableBtnGhiLai}">
              <span class="icon one-save"></span> Ghi lại(F9)
            </a>
          </li>

          <li>
            <a href="javascript:void(0)" @click="cancelFunc()" :class="{'disable-btn': isDisableBtnHuy}">
              <span class="icon nc-icon-glyph ui-1_circle-remove"></span> Hủy
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" @click="xoaBras()" :class="{'disable-btn': isDisableBtnXoa}">
              <span class="icon one-trash"></span> Xóa (F8)
            </a>
          </li>

        </ul>
      </div>
      <div class="popup-body">
        <div class="box-form">
          <div class="legend-title mart0">
            <div class="pull-left mart10">
              Thông tin Bras
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="key w100">Bras ID <bss-required-marker /></div>
                <div class="value">
                  <input type="text" class="form-control"  v-model="brasId"  :disabled="disableBrasId"  :class="{ 'is-invalid': $v.brasId.$error }" ref="brasId" autofocus>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="key w100">Bras VDC ID <bss-required-marker /></div>
                <div class="value">
                  <input type="text" class="form-control" v-model="brasVcdId" :disabled="disableBrasVcdId"   :class="{ 'is-invalid': $v.brasVcdId.$error }" >
                </div>
              </div>
            </div>
          </div>
            <div class="info-row">
            <div class="key w100">Tên Bras <bss-required-marker /></div>
            <div class="value">
              <input type="text" class="form-control"  v-model="tenBras"   :class="{ 'is-invalid': $v.tenBras.$error }">
            </div>
            </div>
          <div class="row">
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="key w100">IP Bras <bss-required-marker /></div>
                <div class="value">
                  <input type="text" class="form-control"  v-model="ipBras"  :class="{ 'is-invalid': $v.ipBras.$error }">
                </div>
              </div>
            </div>

            <div class="col-sm-3 col-12">
              <div class="info-row">
                <div class="key w60">Slot <bss-required-marker /></div>
                <div class="value">
                  <input type="number" class="form-control"  v-model="soSlot"  :class="{ 'is-invalid': $v.soSlot.$error }">
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-12">
              <div class="info-row">
                <div class="key w60">Port <bss-required-marker /></div>
                <div class="value">
                  <input type="number"  class="form-control"  v-model="soPort"  :class="{ 'is-invalid': $v.soPort.$error }">
                </div>
              </div>
            </div>


          </div>
          <div class="info-row">
            <div class="key w100"></div>
            <div class="value">
              <div class="check-action">
                <input type="checkbox" class="check" v-model="checkThongSoPort">
                <span class="name">Sử dụng thông số Slot, Port đẩy lên Visa*</span>
              </div>
            </div>
          </div>
        </div>
        <div class="box-form danh-sach-bras">
          <div class="legend-title">Danh sách Bras</div>
          <DataGrid v-bind:columns="[
            {fieldName: 'BRAS_ID', headerText: 'Bras ID', allowFiltering: true},
            {fieldName: 'TENBRAS', headerText: 'Tên Bras', allowFiltering: true},
            ]"
            v-bind:dataSource="dsBras"
            :enable-paging-server="false"
            :allow-paging="true"
            :key="keyReset"
            :showFilter="true"
            @selectedRowChanged="grid1_selectedRowChanged"  :selectedRow="0"></DataGrid>
        </div>
      </div>

    </div>
  <!-- Modal -->
  <b-modal v-model="modalXoa" cancelTitle="Huỷ" okTitle="Đồng ý" title="" size="sm" @ok="xacNhanXoaBras()">
    <span>Bạn chắc chắn xóa bras này?</span>
  </b-modal>
  </b-modal>
