<div>
  <ejs-dialog
    :visible="false"
    ref="dialog"
    :header="dialogTitle"
    :animationSettings="animationSettings"
    :close="onDialogClose"
    width="90%"
    height="90%"
    showCloseIcon="true"
    :target="target"
    :isModal="true"
  >
    <div class="modal-content popup-box">
      <MatSanDetailForm
        ref="matSanForm"
        :itemId="itemId"
        :parentId="parentId"
        :mode="mode"
        @saved="onFormSaved"
        @cancel="close"
      />
    </div>
  </ejs-dialog>
</div>
