<div class="add-ipstore-modal-wrapper">
  <ejs-dialog
    :visible="visible"
    :isModal="true"
    :animationSettings="animationSettings"
    :showHeader="false"
    width="80%"
    height="auto"
    :showCloseIcon="false"
    ref="modalSubnet"
    @close="close"
  >
    <div class="popup-box p-3 modal-subnet-wrapper">
      <!-- HEADER -->
      <div class="popup-header">
        <div class="title d-flex align-items-center">
          <span class="icon one-notepad"></span>
          <span>
            Thêm mới Ip Store
          </span>
        </div>
        <div class="close -ap icon-close" @click="close"></div>
      </div>

      <!-- ACTION BUTTONS -->
      <div class="list-actions-top">
        <ul class="list">
          <li>
            <b-link href="javascript:void(0)" @click="save" :disabled="mode === 'VIEW'">
              <span class="icon one-save"></span>
              Ghi lại
            </b-link>
          </li>

          <li>
            <b-link href="javascript:void(0)" @click="close" :disabled="mode === 'VIEW'">
              <span class="icon ui-1_circle-remove nc-icon-glyph"></span>
              Đóng
            </b-link>
          </li>
        </ul>
      </div>

      <main class="thongtin-chung-wrapper row box-form">
        <span class="legend-title">Thêm mới Ip Store </span>

        <div class="info-row col-md-6 col-12">
          <label class="key w150">ID <span class="required">*</span></label>
          <div class="value">
            <input :disabled="true" class="form-control" v-model="form.id" placeholder="Nhập tên subnet" />
          </div>
        </div>

        <div class="info-row col-md-6 col-12">
          <label class="key w150">Hiệu lực</label>
          <div class="value padt4">
            <div class="check-action">
              <input type="checkbox" class="check" v-model="form.hieuLuc" :true-value="1" :false-value="0" />
              <span class="name"></span>
            </div>
          </div>
        </div>

        <div class="info-row col-md-6 col-12">
          <label class="key w150">IP <span class="required">*</span></label>
          <div class="value">
            <input class="form-control" v-model="form.ip" placeholder="Nhập tên subnet" />
          </div>
        </div>

        <div class="info-row col-md-6 col-12">
          <label class="key w150">Trạng thái CCDV <span class="required">*</span></label>
          <div class="value">
            <SelectExt
              :disabled="false"
              :dataSource="[{ ID: 1, TEN: 'Tất cả' }, { ID: 2, TEN: 'Option 2' }]"
              dataTextField="TEN"
              dataValueField="ID"
              v-model="form.ccdv"
            />
          </div>
        </div>

        <div class="info-row col-md-6 col-12">
          <label class="key w150">Loại Ip <span class="required">*</span></label>
          <div class="value">
            <SelectExt
              :disabled="false"
              :dataSource="[{ ID: 1, TEN: 'Tất cả' }, { ID: 2, TEN: 'Option 2' }]"
              dataTextField="TEN"
              dataValueField="ID"
              v-model="form.loaiIP"
            />
          </div>
        </div>

        <div class="info-row col-md-6 col-12">
          <label class="key w150">Mục đích sử dụng <span class="required">*</span></label>
          <div class="value">
            <SelectExt
              :disabled="false"
              :dataSource="mucDichList"
              dataTextField="SUBNETMASK"
              dataValueField="ID"
              v-model="form.mucDich"
            />
          </div>
        </div>

        <div class="info-row col-md-6 col-12">
          <label class="key w150">Phân Loại Ip <span class="required">*</span></label>
          <div class="value">
            <SelectExt
              :disabled="false"
              :dataSource="phanLoaiIpList"
              dataTextField="SUBNETMASK"
              dataValueField="ID"
              v-model="form.phanLoaiIp"
            />
          </div>
        </div>

        <div class="col-md-6 col-12 info-row">
          <label class="key w150">Nội bộ khách hàng <span class="required">*</span></label>
          <div class="value">
            <SelectExt
              :disabled="false"
              :dataSource="loaiIPList"
              dataTextField="TEN"
              dataValueField="ID"
              v-model="form.loaiIP"
            />
          </div>
        </div>

        <div class="info-row col-md-6 col-12">
          <label class="key w150">IDC <span class="required">*</span></label>
          <div class="value">
            <SelectExt
              :disabled="false"
              :dataSource="idcList"
              dataTextField="SUBNETMASK"
              dataValueField="ID"
              v-model="form.idc"
            />
          </div>
        </div>

        <div class="col-md-6 col-12 info-row">
          <label class="key w150">Đơn vị quản lý<span class="required">*</span></label>
          <div class="value">
            <SelectExt
              :disabled="false"
              :dataSource="donViQuanLyList"
              dataTextField="TEN"
              dataValueField="ID"
              v-model="form.donviQuanLy"
            />
          </div>
        </div>

        <div class="col-md-6 col-12 info-row">
          <label class="key w150">Ghi chú</label>
          <div class="value">
            <textarea class="form-control" rows="3" v-model="form.ghiChu"></textarea>
          </div>
        </div>

        <div class="info-row col-md-6 col-12">
          <label class="key w150">Subnet <span class="required">*</span></label>
          <div class="value">
            <input type="text" class="form-control" v-model="form.subnet" />
          </div>
        </div>
      </main>
    </div>
  </ejs-dialog>
</div>
