<ejs-dialog
    :enableResize="true"
    :allowDragging="true"
    :visible="false"
    :animationSettings="animationSettings"
    ref="dlgThuHoiVatTuGP"
    width="80%"
    :showCloseIcon="true"
    header='<div class="title"><span class="icon one-notepad"></span> Thu hồi vật tư thuê bao</div>'
    :target="target"
    :close="reset"
>
    <div class="list-actions-top">
        <ul class="list">
            <li>
                <a class="pointer" @click="btnLayDS">
                    <span class="icon one-file-attach1"></span> Lấy DS
                </a>
            </li>
            <li>
                <a class="pointer" @click="btnChapNhan">
                    <span
                        class="icon nc-icon-glyph ui-1_check-circle-08"
                    ></span>
                    Chấp nhận
                </a>
            </li>
            <li>
                <a class="pointer" @click="btnExportExcel">
                    <span class="icon one-xlsx-import"></span> Xuất Excel
                </a>
            </li>
        </ul>
    </div>
    <div class="popup-body">
        <div class="box-form">
            <div class="legend-title">Tiêu chí tạo dữ liệu</div>
            <DataGrid
                :dataSource="gridDSThueBao"
                :showColumnCheckbox="true"
                :columns="gridDSThueBaoCollumn"
                @selectedItemsChanged="selectedItemsChangedDSThueBao"
                dataKeyField="CHON"
                :allowPaging="true"
                :enablePagingServer="false"
            ></DataGrid>
        </div>
    </div>
</ejs-dialog>
