<div class="" style="margin-top: 20px;">
  <div class="legend-title">Thông tin quản lý</div>

  <div class="row">
    <div class="col-sm-4 col-12">
      <div class="info-row">
        <div class="key w130">Đơn vị IDC <span class="red">(*)</span></div>
        <div class="value">
          <SelectExt
            v-model="currentItem.donViQuanLyId"
            @change="onChangeDonViQuanLy()"
            dataTextField="TEN"
            dataValueField="ID"
            :class="controls.selectDonViQuanLy.invalid ? 'is-invalid' : ''"
            :dataSource="donViQuanLyList"
            :disabled="true"
            placeholder="Chọn Đơn vị IDC"
          />
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-12">
      <div class="info-row">
        <div class="key w130">Phạm vi IDC <span class="red">(*)</span></div>
        <div class="value">
          <SelectExt
            v-model="currentItem.phamViIdcId"
            @change="onChangePhamViIdc()"
            dataTextField="TEN"
            dataValueField="ID"
            :class="controls.selectPhamViIdc.invalid ? 'is-invalid' : ''"
            :dataSource="[...danhMucIdcList]"
            :disabled="currentMode == 'VIEW'"
            placeholder="Chọn phạm vi IDC"
          />
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-12">
      <div class="info-row">
        <div class="key w130">Người quản lý <span class="red">(*)</span></div>
        <div class="value">
          <SelectExt
            v-model="currentItem.nguoiQuanLyId"
            @change="onChangeNhanVienQuanLy()"
            dataTextField="TEN"
            dataValueField="ID"
            :class="controls.selectNhanVienQuanLy.invalid ? 'is-invalid' : ''"
            :dataSource="nhanVienList"
            :disabled="currentMode == 'VIEW'"
            placeholder="Chọn người quản lý"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-12">
      <div class="info-row">
        <div class="key w130">Hệ thống</div>
        <div class="value">
          <SelectExt
            v-model="currentItem.heThongId"
            @change="onChangeHeThong()"
            dataTextField="TEN"
            dataValueField="ID"
            :class="controls.selectHeThong.invalid ? 'is-invalid' : ''"
            :dataSource="heThongList"
            :disabled="currentMode == 'VIEW'"
            placeholder="Chọn hệ thống"
          />
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-12">
      <div class="info-row">
        <div class="key w130">Mã tài sản <span class="red">(*)</span></div>
        <div class="value">
          <input
            type="text"
            class="form-control"
            :class="controls.txtMaTaiSan.invalid ? 'is-invalid' : ''"
            :disabled="currentMode == 'VIEW'"
            v-model="currentItem.maTheTaiSan"
            placeholder="Nhập mã tài sản"
          />
        </div>
      </div>
    </div>
  </div>
</div>
