<b-modal
    id="modalPromise"
    :title="data.title"
    ok-variant="danger"  
    size="lg"   
    no-close-on-esc
    no-close-on-backdrop
    okTitle="Đồng ý"
    cancelTitle="Hủy"
    @cancel="cancelPromise(false)"
    @ok="resolvePromise(true, $event)"
    @close="cancelPromise(false)" 
    
>
<!-- @hidden="resolvePromise('hidden')" -->
    <template #default="{ hide }"> 
        <div>  
            <DataGrid  v-if="data.type=='dataGrid'" ref="gridList" class="table-result table-gachle"
                v-bind:columns="data.headers"
                v-bind:dataSource="data.list" 
                :enable-paging-server="false"
                :allowPaging="true" 
                :showFilter="false">
            </DataGrid>

            <form ref="formModalPromise" v-if="data.type=='form'" autocomplete="off">
                <div class="info-row" v-for="item in data.list" :key="item.id">
                    <div class="key w90">{{item.text}}</div>
                    <div class="value"> 
                        <input v-if="item.type=='password'" :name="item.name" type="password" class="form-control" :required="item.required" :title="item.text" autocomplete="off">
                        <input v-if="item.type=='text'" 
                                :name="item.name" 
                                type="text" 
                                class="form-control" 
                                :required="item.required" 
                                :title="item.text" 
                                :readonly="item.readonly"
                                :disabled="item.disabled"
                                autocomplete="off"
                                :value="item.defaultValue"
                                >
                    </div>
                </div>
            </form>
        </div>        
    </template>  
</b-modal>