<div>
  <div class="page-content">
    <!-- CÁC TABS THÔNG TIN -->
    <div class="box-form">
      <!--  HEADER -->
      <div class="toanha-header">
        <div class="toanha-avatar-section">
          <img
            class="toanha-avatar-large"
            :src="presignedUrl"
            alt="IDC Avatar"
          />
        </div>
        <div class="toanha-basic-info">
          <h3 class="toanha-title mb-4">{{ toaNhaDetail.TEN_TOANHA }}</h3>

          <div class="info-grid">
            <div class="info-item">
              <label>Tên tòa nhà:</label>
              <span>{{ toaNhaDetail.TEN_TOANHA }}</span>
            </div>
            <div class="info-item">
              <label>Thuộc IDC:</label>
                <span>{{ toaNhaDetail.TEN_IDC }}</span>
            </div>
            <div class="info-item">
              <label>Thời điểm vận hành:</label>
              <span>{{ toaNhaDetail.NGAY_SD }}</span>
            </div>
          </div>

          <div class="info-grid">
            <div class="info-item">
              <label>Trạng thái vận hành:</label>
              <span class="badge bg-success">{{ toaNhaDetail.TEN_TRANGTHAI_VH }}</span>
            </div>
            <div class="info-item">
              <label>Diện tích tổng:</label>
              <span>{{ toaNhaDetail.DIENTICH }} m²</span>
            </div>
            <div class="info-item">
              <label>Tổng diện tích phòng máy:</label>
              <span>{{ toaNhaDetail.DIENTICH_PHONGMAY }} m²</span>
            </div>
          </div>
          <div class="info-grid">
            <div class="info-item">
              <label>Mục đích sử dụng:</label>
              <span>{{ toaNhaDetail.TEN_MUCDICHSD }}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- TABS -->
      <div class="nav tab-over tabs">
        <a
          href="#nangLucKhongGian"
          v-on:click="onChangeTab(1)"
          data-toggle="tab"
          class="tab"
          :class="{active: tab_index == 1}"
          >Năng lực không gian</a
        >
        <a
          href="#nangLucDien"
          v-on:click="onChangeTab(2)"
          data-toggle="tab"
          class="tab"
          :class="{active: tab_index == 2}"
          >Năng lực điện</a
        >

        <a href="#dsMatSan" v-on:click="onChangeTab(3)" data-toggle="tab" class="tab" :class="{active: tab_index == 3}"
          >Mặt sàn</a
        >
      </div>
      <div class="tab-content">
        <div class="tab-pane" id="nangLucKhongGian" :class="{active: tab_index == 1}">
          <NangLucKhongGian
            :stats="{tongRackThietKe: toaNhaDetail.TONG_RACK_THIETKE , tongRackDaLapDat: toaNhaDetail.TONG_RACK_DA_LAPDAT, tongRackCon: toaNhaDetail.TONG_RACK_CON}"
          />
        </div>
        <div class="tab-pane" id="nangLucDien" :class="{active: tab_index == 2}">
          <NangLucDien :stats="{congSuatDinhDanh: toaNhaDetail.CS_DINHDANH_TB}" />
        </div>
        <div class="tab-pane" id="dsMatSan" :class="{active: tab_index == 3}">
          <GridMatSan :toanhaId="id" @viewMatSan="viewMatSan" @row-doubled-click="selectMatSanTaiNguyen"> </GridMatSan>
        </div>
      </div>
    </div>

    <!-- Modal thông tin mặt sàn -->
    <ejs-dialog
      ref="SoDoMatSanDetail"
      :visible="showDialog"
      :animationSettings="{ effect: 'Zoom' }"
      :showHeader="true"
      :header="'Thông tin mặt sàn'"
      :showCloseIcon="true"
      width="80%"
      height="100%"
      :target="'.main-wrapper'"
      :position="{ X: 'center', Y: 'top' }"
      @close="closeMatSan"
    >
      <div class="popup-box">
        <SoDoMatSanDetail v-if="selectedMatSan" :key="selectedMatSan" :matSanId="selectedMatSan"></SoDoMatSanDetail>
      </div>
    </ejs-dialog>
  </div>
</div>
