.page-content {
  top: 80px !important;
  margin-bottom: 20px;
}
.btn-li {
  cursor: pointer;
}
.btn-file {
  position: relative;
}
.input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.main-title {
  flex-grow: 1;
}
.full-container {
  flex-grow: 1;
  padding-left: 5px;
}
.mx-datepicker {
  width: 100%;
}
.input-group {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.input-text__url {
  flex-grow: 1;
}
.input-addon__url {
  width: max-content;
}
.btn-main {
  background-color: #0176FF !important;
  color: #fff !important;
}
.btn-main:hover {
  background-color: #035FCC !important;
}

.btn-main__custom {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}