.custom-li {padding-left: 550px;}
.combo-right {display: flex;
   justify-content: flex-end; /* Căn lề phải */
}
.expand-icon {cursor: pointer;}

.detail-row {
  background-color: #f9f9f9;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.detail-row p {margin: 0;color: #333;}

.red-text {
  color: red;
  cursor: pointer;  /* Để con trỏ chuột thành bàn tay khi hover */
}

.key {
  display: flex;
  align-items: center; /* Căn giữa các phần tử theo chiều dọc */
}

button.icon {
  margin-left: 5px;
  font-size: 24px;
  color: blue;
  cursor: pointer;
  background: none;
  border: none;
}
.icon {
  transition: opacity 0.3s ease; /* Thêm hiệu ứng chuyển tiếp cho sự thay đổi opacity */
}

.icon.disabled {
  opacity: 0.5; /* Giảm độ sáng của icon khi vô hiệu hóa */
  cursor: not-allowed; /* Thay đổi con trỏ khi hover lên icon bị vô hiệu hóa */
}

.searchAccount-popup .page-content {top:180px;}
.searchAccount-popup-dlg {top:70px !important;}
