.e-grid .e-rowcell.bold{
    font-weight: bold;
}
.e-grid .e-rowcell.purple{
    font-weight: bold;
    color: purple;
}
.e-grid .e-rowcell.red{
    font-weight: bold;
    color: red;
}
.e-grid .e-rowcell.blue{
    font-weight: bold;
    color: blue;
}
.khLonColor{
    color: red;
}
a.disabled { color:lightgray !important; }
a.disabled:hover { color:lightgray !important; }
.disabled { pointer-events: none; }
/deep/ .modal-body .page-content { position:inherit; }

.disabled { pointer-events: none; color:lightgray; border-color:lightgray; }
input.disabled, select.disabled, .disabled input, .disabled select, .disabled /deep/ .select2-selection { background-color: #EEE; color:lightgray;}
/deep/ .modal-body .page-content { position:inherit; }
.main-wrapper .select2-container--focus .select2-selection {
    border-color: #80bdff;
    -webkit-box-shadow: 0 0 0 3px rgb(0 123 255 / 25%);
    box-shadow: 0 0 0 3px rgb(0 123 255 / 25%);
}
li.active { background-color:lightblue; }
.mx-datepicker { width:100%; }
.main-wrapper .panel-anh-suco {
    width: 380px; 
    height: 180px; 
    background-color: white; 
    position: fixed; 
    right: 42px;
    z-index: 1;
    padding: 34px 5px 5px 5px;
    border: 1px solid #ccc;
}

.main-wrapper .panel-zoom-img {
    position: fixed;
    width: 500px;
    height: 500px;
    background-color: transparent;
    z-index: 99999;
    margin: auto auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.main-wrapper .table-result .highlight1 {
    background-color: #F9E1A9 !important;
}

.main-wrapper .grid .e-headercontent thead tr.e-columnheader th[aria-colindex="1"],
.main-wrapper .grid .e-headercontent thead tr.e-columnheader th[aria-colindex="1"] > div {
    padding: 0 !important;
}