<div>      
    <div class="list-actions-top" style="position: unset;">
        <ul class="list" style="position: unset;">           
            <li>
                <a href="javascript:void(0)" @click="btnTraCuu_Click">
                    <span class="icon one-search"></span>Tra cứu
                </a>
            </li>                      
        </ul>
    </div>    
    <div class="page-content">
        <div class="row">
            <div class="col-sm-5 col-12">
                <div class="box-form">
                    <div class="legend-title">Tra cứu theo</div>
                    <div class="info-row">
                        <div class="key w110">
                            <div class="check-action">
                                <input type="radio" class="check" v-model="check" value=1>  
                                <span class="name">Thuê bao</span>
                            </div>
                        </div>
                        <div class="value">
                            <div class="input-more-button -right">
                                <button class="btn" @click="txtThueBao_ButtonClick">
                                    <span class="-ap icon-more_horiz"></span>
                                </button>
                                <input :readonly="this.txtThueBao_ReadOnly" ref="thuebao"  type="text" class="form-control" value=""  v-on:keyup.enter="txtThueBao_KeyUp"  v-model.trim="txtThueBao">
                            </div>
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="key w110">
                            <div class="check-action">
                                <input  type="radio" class="check" v-model="check" value=2>
                                <span class="name">Hợp đồng</span>
                            </div>
                        </div>
                        <div class="value">
                            <div class="input-more-button -right">
                                <button class="btn" @click="txtHopDong_ButtonClick">
                                    <span class="-ap icon-more_horiz"></span>
                                </button>
                                <input ref="hopdong" :readonly="this.txtHopDong_ReadOnly" type="text" class="form-control" value="" v-model.trim="txtHopDong" v-on:keyup.enter="txtHopDong_KeyUp" >
                            </div>
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="key w110">
                            <div class="check-action">
                                <input type="radio" class="check" v-model="check" value=3>
                                <span class="name">Kết cuối</span>
                            </div>
                        </div>
                        <div class="value">
                            <input  ref="kyhieukc" :readonly="this.txtKyHieuKC_ReadOnly" type="text" class="form-control" value=""  v-on:keyup.enter="txtKyHieuKC_KeyUp"  v-model.trim="txtKyHieuKC.Text">
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="key w110">
                            <div class="check-action">
                                <input type="radio" class="check" v-model="check" value=4>
                                <span class="name">Thiết bị</span>
                            </div>
                        </div>
                       
                    </div>
                    <div class="info-row">
                        <div v-show="lblTTVT_Visible" class="key w110">Trung tâm VT</div>                       
                        <div v-show="cboTTVT.Visible" class="value">                                       
                            <ejs-dropdownlist 
                            locale='vi-VN' 
                            v-model="cboTTVT.EditValue"
                            :readonly="false"   
                            :dataSource='cboTTVT.Properties.DataSource' 
                            :allowFiltering='true' 
                            :fields="{value:'DONVI_ID', text: 'TEN_DV'}" >
                            </ejs-dropdownlist>    
                        </div>
                    </div>
                    <div class="info-row">
                        <div  v-show="lblTOKT_Visible" class="key w110">Tổ kỹ thuật</div>                       
                        <div  v-show="cboTOKT.Visible" class="value">                                       
                            <ejs-dropdownlist 
                            locale='vi-VN' 
                            v-model="cboTOKT.EditValue"
                            :readonly="false"   
                            :dataSource='cboTOKT.Properties.DataSource' 
                            :allowFiltering='true' 
                            :fields="{value:'DONVI_ID', text: 'TEN_DV'}" >
                            </ejs-dropdownlist>    
                        </div>
                    </div>
                    <div class="info-row">
                        <div v-show="lblTRAM_Visible" class="key w110">Trạm thiết bị</div>
                        <div v-show="cboTRAM.Visible" class="value">                                       
                            <ejs-dropdownlist 
                            locale='vi-VN' 
                            v-model="cboTRAM.EditValue"
                            :readonly="false"   
                            :dataSource='cboTRAM.Properties.DataSource' 
                            :allowFiltering='true' 
                            :fields="{value:'DONVI_ID', text: 'TEN_DV'}" >
                            </ejs-dropdownlist>    
                        </div>
                    </div>
                    <div class="info-row">
                        <div v-show="lblLOAI_TBI_Visible" class="key w110">Loại thiết bị</div>
                        <div v-show="cboLOAI_TBI.Visible" class="value">                                       
                            <ejs-dropdownlist 
                            locale='vi-VN' 
                            v-model="cboLOAI_TBI.EditValue"
                            :readonly="false"   
                            :dataSource='cboLOAI_TBI.Properties.DataSource' 
                            :allowFiltering='true' 
                            :fields="{value:'LOAITBI_ID', text: 'LOAI_TBI'}" >
                            </ejs-dropdownlist>    
                        </div>
                    </div>
                    <div class="info-row">
                        <div v-show="lblTHIETBI_Visible" class="key w110">Thiết bị</div>
                        <div v-show="cboTHIETBI.Visible" class="value">                                       
                            <ejs-dropdownlist 
                            locale='vi-VN' 
                            v-model="cboTHIETBI.EditValue"
                            :readonly="false"   
                            :dataSource='cboTHIETBI.Properties.DataSource' 
                            :allowFiltering='true' 
                            :fields="{value:'THIETBI_ID', text: 'TEN_TB'}" >
                            </ejs-dropdownlist>    
                        </div>
                    </div>
                    <div class="info-row">
                        <div v-show="lblCARD_Visible" class="key w110">Card</div>
                        <div v-show="cboCARD.Visible" class="value">                                       
                            <ejs-dropdownlist 
                            locale='vi-VN' 
                            v-model="cboCARD.EditValue"
                            :readonly="false"   
                            :dataSource='cboCARD.Properties.DataSource' 
                            :allowFiltering='true' 
                            :fields="{value:'THIETBI_ID', text: 'TEN_TB'}" >
                            </ejs-dropdownlist>    
                        </div>
                    </div>
                    <div class="info-row">
                        <div v-show="lblMODULE_Visible" class="key w110">Sub-card</div>
                        <div v-show="cboMODULE.Visible" class="value">                                       
                            <ejs-dropdownlist 
                            locale='vi-VN' 
                            v-model="cboMODULE.EditValue"
                            :readonly="false"   
                            :dataSource='cboMODULE.Properties.DataSource' 
                            :allowFiltering='true' 
                            :fields="{value:'THIETBI_ID', text: 'TEN_TB'}" >
                            </ejs-dropdownlist>    
                        </div>
                    </div>
                    <div class="info-row">
                        <div v-show="lblPORT_Visible" class="key w110">Cổng</div>
                        <div v-show="cboPORT.Visible" class="value">                                       
                            <ejs-dropdownlist 
                            locale='vi-VN' 
                            v-model="cboPORT.EditValue"
                            :readonly="false"   
                            :dataSource='cboPORT.Properties.DataSource' 
                            :allowFiltering='true' 
                            :fields="{value:'VITRI', text: 'VITRI'}" >
                            </ejs-dropdownlist>    
                        </div>
                    </div>
                    <div  v-show="lblThongTinTB_Visible" class="legend-title mart10">Thông tin thuê bao</div>
                    <div  v-show="lblThongTinTB_Visible"  class="info-row">
                        <div class="value">                            
                            <span v-html="wbrThongTinTB"></span>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="col-sm-7 col-12">
                <div class="box-form">
                    <div v-show="showDanhSachDauNoi" class="legend-title">Danh sách đấu nối</div>
                    <div v-show="showDanhSachDauNoi" class="table-content">
                        <DataGrid v-bind:columns="[
                        {fieldName: 'STT', headerText: 'STT', cellCssClass: 'text-center' , allowFiltering:  true ,freeze: 'left',  width: 90},
                        {fieldName: 'LOAI_TBI', headerText: 'Loại thiết bị',freeze: 'left',  allowFiltering: true},
                        {fieldName: 'TEN_TBI', headerText: 'Tên thiết bị',freeze: 'left',  allowFiltering: true},
                        {fieldName: 'VITRI', headerText: 'Vị trí', freeze: 'left', allowFiltering: true},                        
                        {fieldName: 'CULY', headerText: 'Cự ly', allowFiltering: true},            
                        {fieldName: 'GHICHU', headerText: 'Ghi chú', allowFiltering: true},                        
                        {fieldName: 'NGAY_CN', headerText: 'Ngày CN', allowFiltering: true},
                        {fieldName: 'NGUOI_CN', headerText: 'Người CN', allowFiltering: true}
                        ]"
                            v-bind:dataSource="grcDauNoi" :showFilter="true" @selectedRowChanged="grcDauNoi_selectedRowChanged"
                        >
                        </DataGrid>
                    </div>                                        
                    <div v-show="!showDanhSachDauNoi"  class="legend-title mart10">Dẫn độ cáp</div>
                    <div  v-show="!showDanhSachDauNoi" class="table-content grcDanDo">
                        <DataGrid v-bind:columns="[
                        {fieldName: 'STT', headerText: 'STT',  cellCssClass: 'text-center' , allowFiltering: true , freeze: 'left',  width: 90 },
                        {fieldName: 'LOAI_TBI', headerText: 'Loại thiết bị', freeze: 'left', allowFiltering: true},
                        {fieldName: 'TEN_TBI', headerText: 'Tên thiết bị/Tên cáp', freeze: 'left', allowFiltering: true},
                        {fieldName: 'VITRI', headerText: 'Cổng/Sợi', freeze: 'left', allowFiltering: true},
                        {fieldName: 'DIACHI', headerText: 'Địa chỉ/Chiều dài cáp', allowFiltering: true},
                        {fieldName: 'GHICHU', headerText: 'Ghi chú', allowFiltering: true},                        
                        ]"
                            v-bind:dataSource="grcDanDo" :showFilter="true" @selectedRowChanged="grcDanDo_selectedRowChanged" @rowDataBound="grcDanDo_RowDataBound"
                        >
                        </DataGrid>
                    </div>                    
                </div>
            </div>
            <SearchContractModal ref="popupSearchContract" @accept="acceptSearchContract" /> 
            <SearchAccountModal ref="popupTraCuuDanhBa" @form-close="formCloseSearchAccount" />          
        </div>                                 
    </div>         
</div>
