<div class="thong-tin-chung">
    <div class="nav tabs tab-over">
        <a href="#tabIn" data-toggle="tab" class="active" @click="chooseTab('1')">Thông tin đầu vào</a>
        <a href="#tabOut" data-toggle="tab" @click="chooseTab('2')">Thông tin đầu ra</a>
    </div>
    <div class="tab-content" style="height: 800px">
        <div class="tab-pane active" id="tabIn">
            <div class="thongtin">
                <div class="legend-title">
                    <span class="name">Thông tin đầu vào ()</span>
                </div>
                <div class="row">
                    <div class="col-sm-1 pt-1">Tổng số lượng <span class="text-danger">(*)</span></div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" :value="cal_port_tong" :disabled="currentMode == 'VIEW'"
                            @change="onChangePortTong_Change" />
                    </div>

                    <div class="col-sm-1 pt-1">Đã dùng <span class="text-danger">(*)</span></div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" :value="cal_port_da_dung" :disabled=true />
                    </div>
                    <div class="col-sm-1 pt-1">Còn lại <span class="text-danger">(*)</span></div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" :value="cal_port_con_lai" :disabled=true />
                    </div>
                </div>
                <div class="row" style="margin-top: 20px !important">
                    <div class="col-sm-1 pt-1">Định dạng tên</div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" v-model="txt_dinhdangten"
                            :disabled="currentMode == 'VIEW'" />
                    </div>
                    <div class="col-sm-1 pt-1">Bắt đầu từ</div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" v-model="txt_batdautu"
                            :disabled="currentMode == 'VIEW'" />
                    </div>
                </div>
            </div>
            <div class="danhsach" style="margin-top: 30px !important">
                <div class="legend-title">
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Tiêu đề -->
                        <span class="name">Danh sách cổng đầu vào</span>
                        <!-- Nhóm nút -->
                        <div class="d-flex gap-2">
                            <button class="btn btn-outline-primary" @click="btnThemPortIn_Click">
                                <span class="-ap icon-plus"></span>
                            </button>
                            <button class="btn btn-outline-primary">
                                <span class="-ap icon-more_vert"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <KDataGrid ref="gridPort" class="table-result table-gachle" :selectionSettings="selectionOptions"
                        v-bind:dataSource="gridPort.list" panelDataHeight="430" :key="gridPort.key"
                        :columns="gridPort.header" :enable-paging-server="false" :allowPaging="true" :showFilter="true"
                        :showColumnCheckbox="true" :enabledSelectFirstRow="false"
                        :commandColumn="{ headerText: 'Thao tác', width: 150, cellCssClass: 'center', firstColumn: false, show: true }"
                        :commands="gridPort.commands" @commandClicked="gridCommand_In" @rowSelected="grid_RowSelected"
                        @rowDeselected="grid_RowDeselected" />
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tabOut">
            <div class="thongtin">
                <div class="legend-title">
                    <span class="name">Thông tin đầu ra ()</span>
                </div>
                <div class="row">
                    <div class="col-sm-1 pt-1">Tổng số lượng <span class="text-danger">(*)</span></div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" :value="cal_port_tong" :disabled="currentMode == 'VIEW'"
                            @change="onChangePortTong_Change" />
                    </div>

                    <div class="col-sm-1 pt-1">Đã dùng <span class="text-danger">(*)</span></div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" :value="cal_port_da_dung"
                            :disabled=true />
                    </div>
                    <div class="col-sm-1 pt-1">Còn lại <span class="text-danger">(*)</span></div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" :value="cal_port_con_lai"
                            :disabled=true />
                    </div>
                </div>
                <div class="row" style="margin-top: 20px !important">
                    <div class="col-sm-1 pt-1">Định dạng tên</div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" v-model="txt_dinhdangten"
                            :disabled="currentMode == 'VIEW'" />
                    </div>
                    <div class="col-sm-1 pt-1">Bắt đầu từ</div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" v-model="txt_batdautu"
                            :disabled="currentMode == 'VIEW'" />
                    </div>
                </div>
            </div>
            <div class="danhsach" style="margin-top: 30px !important">
                <div class="legend-title">
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Tiêu đề -->
                        <span class="name">Danh sách cổng đầu ra</span>
                        <!-- Nhóm nút -->
                        <div class="d-flex gap-2">
                            <button class="btn btn-outline-primary" @click="btnThemPortIn_Click">
                                <span class="-ap icon-plus"></span>
                            </button>
                            <button class="btn btn-outline-primary">
                                <span class="-ap icon-more_vert"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <KDataGrid ref="gridPort" class="table-result table-gachle" :selectionSettings="selectionOptions"
                        v-bind:dataSource="gridPort.list" panelDataHeight="430" :key="gridPort.key"
                        :columns="gridPort.header" :enable-paging-server="false" :allowPaging="true" :showFilter="true"
                        :showColumnCheckbox="true" :enabledSelectFirstRow="false"
                        :commandColumn="{ headerText: 'Thao tác', width: 150, cellCssClass: 'center', firstColumn: false, show: true }"
                        :commands="gridPort.commands" @commandClicked="gridCommand_In" @rowSelected="grid_RowSelected"
                        @rowDeselected="grid_RowDeselected" />
                </div>
            </div>
        </div>
    </div>
</div>