<div class="modal-content popup-box">
  <div class="popup-body">
<!--      <div class="legend-title">Danh sách tiến trình</div>-->
      <div class="table-content">
        <div>
          <DataGridCustom ref="ds_ttxl" :columns="columns" :showColumnCheckbox="false" :dataSource="list"
                          :showFilter="true" :enabledSelectFirstRow="true" :selectionSettings="{ checkboxMode: 'ResetOnRowClick' }"
                          panelDataHeight="220" :allowPaging="true" :enablePagingServer="false">
          </DataGridCustom>
        </div>
      </div>
    </div>
</div>
