
.key-custom {
  width: 20px;
}

.traphieu .page-content {
  position: unset;
}

.traphieu-content {
  width: 1200px;
}

.box-lydohuy {
  display: table;
}

.box-lydohuy .title-label {
  display: table-cell;
}

.box-lydohuy .actions {
  display: table-cell;
  padding-left: 20px;
}
.abc {

}
