
 /deep/ .col-3-r .table-result tbody tr td:nth-child(3) {
  text-align: right!important;
}

/deep/ .col-4-r .table-result tbody tr td:nth-child(4) {
  text-align: right!important;
}

/deep/ .col-8-r .table-result tbody tr td:nth-child(8) {
  text-align: right!important;
}
