<div class="device-search-form">
  <div class="box-form">
    <div class="legend-title">Tìm kiếm thiết bị</div>
    <div class="row">
      <div class="col-sm-3 col-12">
        <div class="info-row">
          <div class="key w130">Mã Thiết bị</div>
          <div class="value">
            <input
              v-model.trim="searchForm.maThietBi"
              type="text"
              class="form-control"
              placeholder="Nhập mã thiết bị"
            />
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-12">
        <div class="info-row">
          <div class="key w130">Tên thiết bị</div>
          <div class="value">
            <input
              v-model.trim="searchForm.tenThietBi"
              type="text"
              class="form-control"
              placeholder="Nhập tên thiết bị"
            />
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-12">
        <div class="info-row">
          <div class="key w130">Loại thiết bị</div>
          <div class="value">
            <SelectExt
              v-model="searchForm.loaiThietBi"
              dataTextField="TEN"
              dataValueField="ID"
              :dataSource="loaiThietBiDataSource"
              placeholder="Chọn loại thiết bị"
            />
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-12">
        <div class="info-row">
          <div class="key w130">Model</div>
          <div class="value">
            <input v-model.trim="searchForm.model" type="text" class="form-control" placeholder="Nhập model" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-12">
        <div class="info-row">
          <div class="key w130">Serial Number</div>
          <div class="value">
            <input v-model.trim="searchForm.serial" type="text" class="form-control" placeholder="Nhập serial number" />
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-12">
        <div class="info-row">
          <div class="key w130">Part Number</div>
          <div class="value">
            <input v-model.trim="searchForm.tagNumber" type="text" class="form-control" placeholder="Nhập part number" />
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-12">
        <div class="info-row">
          <div class="key w130">Trạng thái</div>
          <div class="value">
            <SelectExt
              v-model="searchForm.hieuLuc"
              dataTextField="TEN"
              dataValueField="ID"
              :dataSource="hieuLucList"
              placeholder="Chọn trạng thái vận hành"
            />
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-12">
        <div class="info-row">
          <div class="key w130">CS Thiết kế</div>
          <div class="value">
            <input
              v-model.trim="searchForm.congSuatTke"
              type="text"
              class="form-control"
              placeholder="Nhập công suất thiết kế"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-12">
        <div class="info-row">
          <div class="key w130">IDC</div>
          <div class="value">
            <SelectExt
              v-model="searchForm.idcId"
              dataTextField="TEN"
              dataValueField="ID"
              :dataSource="idcDataSource"
              placeholder="Chọn IDC"
            />
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-12">
        <div class="info-row">
          <div class="key w130">Toà nhà</div>
          <div class="value">
            <SelectExt
              v-model="searchForm.toaNhaId"
              dataTextField="TEN"
              dataValueField="ID_TOANHA"
              :dataSource="toaNhaDataSource"
              placeholder="Chọn toà nhà"
            />
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-12">
        <div class="info-row">
          <div class="key w130">Mặt sàn</div>
          <div class="value">
            <SelectExt
              v-model="searchForm.matSanId"
              dataTextField="TEN"
              dataValueField="ID"
              :dataSource="matSanList"
              placeholder="Chọn mặt sàn"
            />
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-12">
        <div class="info-row">
          <div class="key w130">Phòng/Zone</div>
          <div class="value">
            <SelectExt
              v-model="searchForm.phongId"
              dataTextField="TEN"
              dataValueField="ID"
              :dataSource="phongList"
              placeholder="Chọn phòng/Zone"
            />
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-12">
        <div class="info-row">
          <div class="key w130">Rack</div>
          <div class="value">
            <SelectExt
              v-model="searchForm.rackId"
              dataTextField="TEN"
              dataValueField="ID"
              :dataSource="rackList"
              placeholder="Chọn rack"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    </div>
  </div>
</div>
