<div class="row">
  <div class="box-form">
    <div class="legend-title">
      FAN
    </div>
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w150">Số lượng Slot:</div>
          <div class="value">
            <input type="number" class="form-control" :disabled="false" v-model.trim="thietBiCurrent.SL_FAN" />
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w150">Đã cắm:</div>
          <div class="value">
            <input type="number" class="form-control" :disabled="false" v-model.trim="thietBiCurrent.FAN_DACAM" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
