a.disabled {
    color: lightgrey !important;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

>>> .tien-tra {
    color: red !important;
    text-align: right;
}

>>> .trang-thai {
    color: red !important;
}