<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>
    <!--&lt;!&ndash; Fluency &ndash;&gt;
    <appender name="FLUENCY_SYNC" class="ch.qos.logback.more.appenders.FluencyLogbackAppender">
        &lt;!&ndash; Tag for Fluentd. Farther information: http://docs.fluentd.org/articles/config-file &ndash;&gt;
        <tag>debug</tag>
        &lt;!&ndash; [Optional] Label for Fluentd. Farther information: http://docs.fluentd.org/articles/config-file &ndash;&gt;
        <label>logback</label>

        &lt;!&ndash; Host name/address and port number which Fluentd placed &ndash;&gt;
        <remoteHost>localhost</remoteHost>
        <port>24224</port>

        &lt;!&ndash; [Optional] Multiple name/addresses and port numbers which Fluentd placed
       <remoteServers>
          <remoteServer>
            <host>primary</host>
            <port>24224</port>
          </remoteServer>
          <remoteServer>
            <host>secondary</host>
            <port>24224</port>
          </remoteServer>
        </remoteServers>
         &ndash;&gt;

        &lt;!&ndash; [Optional] Additional fields(Pairs of key: value) &ndash;&gt;
        <additionalField>
            <key>foo</key>
            <value>bar</value>
        </additionalField>
        <additionalField>
            <key>foo2</key>
            <value>bar2</value>
        </additionalField>

        &lt;!&ndash; [Optional] Configurations to customize Fluency's behavior: https://github.com/komamitsu/fluency#usage  &ndash;&gt;
        <ackResponseMode>true</ackResponseMode>
        &lt;!&ndash; <fileBackupDir>/tmp</fileBackupDir> &ndash;&gt;
        <bufferChunkInitialSize>2097152</bufferChunkInitialSize>
        <bufferChunkRetentionSize>16777216</bufferChunkRetentionSize>
        <maxBufferSize>268435456</maxBufferSize>
        <bufferChunkRetentionTimeMillis>1000</bufferChunkRetentionTimeMillis>
        <connectionTimeoutMilli>5000</connectionTimeoutMilli>
        <readTimeoutMilli>5000</readTimeoutMilli>
        <waitUntilBufferFlushed>30</waitUntilBufferFlushed>
        <waitUntilFlusherTerminated>40</waitUntilFlusherTerminated>
        <flushAttemptIntervalMillis>200</flushAttemptIntervalMillis>
        <senderMaxRetryCount>12</senderMaxRetryCount>
        &lt;!&ndash; [Optional] Enable/Disable use of EventTime to get sub second resolution of log event date-time &ndash;&gt;
        <useEventTime>true</useEventTime>
        <sslEnabled>false</sslEnabled>
        &lt;!&ndash; [Optional] Enable/Disable use the of JVM Heap for buffering &ndash;&gt;
        <jvmHeapBufferMode>false</jvmHeapBufferMode>
        &lt;!&ndash; [Optional] If true, Map Marker is expanded instead of nesting in the marker name &ndash;&gt;
        <flattenMapMarker>false</flattenMapMarker>
        &lt;!&ndash;  [Optional] default "marker" &ndash;&gt;
        <markerPrefix></markerPrefix>

        &lt;!&ndash; [Optional] Message encoder if you want to customize message &ndash;&gt;
        &lt;!&ndash;<encoder>
            <pattern><![CDATA[%date{HH:mm:ss.SSS} [%thread] %-5level %logger{15}#%line %message]]></pattern>
        </encoder>&ndash;&gt;
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        &lt;!&ndash; [Optional] Message field key name. Default: "message" &ndash;&gt;
        <messageFieldKeyName>msg</messageFieldKeyName>

    </appender>

    <appender name="FLUENCY" class="ch.qos.logback.classic.AsyncAppender">
        &lt;!&ndash; Max queue size of logs which is waiting to be sent (When it reach to the max size, the log will be disappeared). &ndash;&gt;
        <queueSize>999</queueSize>
        &lt;!&ndash; Never block when the queue becomes full. &ndash;&gt;
        <neverBlock>true</neverBlock>
        &lt;!&ndash; The default maximum queue flush time allowed during appender stop.
             If the worker takes longer than this time it will exit, discarding any remaining items in the queue.
             10000 millis
         &ndash;&gt;
        <maxFlushTime>1000</maxFlushTime>
        <appender-ref ref="FLUENCY_SYNC" />
    </appender>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--<encoder class="net.logstash.logback.encoder.LogstashEncoder" />-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    <root level="DEBUG">
        <!--<appender-ref ref="FLUENCY"/>-->
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>