<div>
  <div class="list-actions-top">
    <ul class="list">
      <li>
        <a href="javascript:;" class="pointer" @click="onClickSave" :class="{ disabled: mode === 'view' }">
          <span class="icon one-save"></span>Ghi lại
        </a>
      </li>
      <li>
        <a href="javascript:;" class="pointer" @click="setMode('view')" :class="{ disabled: mode === 'view' }">
          <span class="icon ui-1_circle-remove nc-icon-glyph"></span>Hủy bỏ
        </a>
      </li>
    </ul>
  </div>
  <div class="modal-content p-2">
    <div class="box-form">
      <div class="row">
        <div class="legend-title">Thông tin Subnet</div>
      </div>
  
      <div class="row">
        <div class="col-sm-6 col-12">
          <!-- <div class="info-row">
            <div class="col-sm-4 key">ID Subnet</div>
            <div class="col-sm-8 value">
              <input type="text" class="form-control" disabled v-model="currentItem.id" placeholder="Tự sinh" />
            </div>
          </div> -->
          <div class="info-row">
            <div class="col-sm-4 key">Tên Subnet<span class="red">*</span></div>
            <div class="col-sm-8 value" :class="{ 'invalid-box': controls.ten.invalid }">
              <input
                type="text"
                class="form-control"
                :disabled="!controls.ten.enabled"
                v-model="currentItem.ten"
                placeholder="Nhập tên Subnet"
              />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="row">
            <div class="col-4">
            <div class="info-row">
              <div class="col-sm-10 key">Hiệu lực</div>
              <div class="col-sm-2 value padt4">
                <div class="check-action checkbox-inline">
                  <input
                    type="checkbox"
                    class="check"
                    :disabled="!controls.hieu_luc.enabled"
                    v-model="currentItem.hieu_luc"
                    :true-value="1"
                    :false-value="0"
                  /><span class="name"></span>
                </div>
              </div>
            </div>
            </div>
            <div class="col-4">
              <div class="info-row">
                <div class="col-sm-10 key">Quảng bá IP</div>
                <div class="col-sm-2 value padt4">
                  <div class="check-action checkbox-inline">
                    <input
                      type="checkbox"
                      class="check"
                      :disabled="!controls.quang_ba.enabled"
                      v-model="currentItem.quang_ba"
                      :true-value="1"
                      :false-value="0"
                    /><span class="name"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="info-row">
                <div class="col-sm-10 key">Tự động sinh IP</div>
                <div class="col-sm-2 value padt4">
                  <div class="check-action checkbox-inline">
                    <input
                      type="checkbox"
                      class="check"
                      :disabled="!controls.tu_dong_sinh.enabled"
                      v-model="currentItem.tu_dong_sinh"
                      :true-value="1"
                      :false-value="0"
                    /><span class="name"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="col-sm-4 key">Loại IP<span class="red">*</span></div>
            <div class="col-sm-8 value" :class="{ 'invalid-box': controls.ip_loai_id.invalid }">
              <SelectExt
                :dataSource="dropdowns.ipLoai"
                dataValueField="id"
                dataTextField="ten"
                :fields="dropdownFields"
                :allowFiltering="true"
                :enabled="controls.ip_loai_id.enabled"
                v-model="currentItem.ip_loai_id"
              ></SelectExt>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="col-sm-4 key">Phân loại IP<span class="red">*</span></div>
            <div class="col-sm-8 value" :class="{ 'invalid-box': controls.ip_phanloai_id.invalid }">
              <SelectExt
                :dataSource="dropdowns.ipPhanLoai"
                dataValueField="id"
                dataTextField="ten"
                :fields="dropdownFields"
                :allowFiltering="true"
                :enabled="controls.ip_phanloai_id.enabled"
                v-model="currentItem.ip_phanloai_id"
              ></SelectExt>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="col-sm-4 key">Trạng thái CCDV</div>
            <div class="col-sm-8 value" :class="{ 'invalid-box': controls.trangthai_id.invalid }">
              <SelectExt
                :dataSource="dropdowns.trangthaiCcdv"
                :fields="dropdownFields"
                :allowFiltering="true"
                :enabled="controls.trangthai_id.enabled"
                v-model="currentItem.trangthai_id"
              ></SelectExt>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="col-sm-4 key">Subnet mask<span class="red">*</span></div>
            <div class="col-sm-8 value" :class="{ 'invalid-box': controls.subnet_mask_id.invalid }">
              <SelectExt
                :dataSource="dropdowns.subnetMask"
                :fields="dropdownFields"
                :allowFiltering="true"
                :enabled="controls.subnet_mask_id.enabled"
                v-model="currentItem.subnet_mask_id"
              ></SelectExt>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="col-sm-4 key">Subnet<span class="red">*</span></div>
            <div class="col-sm-8 value" :class="{ 'invalid-box': controls.subnet.invalid }">
              <SelectExt
                :dataSource="dropdowns.subnet"
                :fields="dropdownFields"
                :allowFiltering="true"
                :enabled="controls.subnet.enabled"
                v-model="currentItem.subnet"
              ></SelectExt>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="col-sm-4 key">Gateway<span class="red">*</span></div>
            <div class="col-sm-8 value" :class="{ 'invalid-box': controls.gateway.invalid }">
              <SelectExt
                :dataSource="dropdowns.gateway"
                :fields="dropdownFields"
                :allowFiltering="true"
                :enabled="controls.gateway.enabled"
                v-model="currentItem.gateway"
              ></SelectExt>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="col-sm-4 key">Subnet cha</div>
            <div class="col-sm-8 value" :class="{ 'invalid-box': controls.subnet_cha_id.invalid }">
              <SelectExt
                :dataSource="dropdowns.subnetCha"
                :fields="dropdownFields"
                :allowFiltering="true"
                :enabled="false"
                v-model="currentItem.subnet_cha_id"
              ></SelectExt>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="col-sm-4 key">Nội bộ/Khách hàng <span class="red">*</span></div>
            <div class="col-sm-8 value" :class="{ 'invalid-box': controls.is_idc.invalid }">
              <SelectExt
                :dataSource="dropdowns.isIdc"
                :fields="dropdownFields"
                :allowFiltering="true"
                :enabled="false"
                v-model="currentItem.is_idc"
              >
              </SelectExt>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="col-sm-4 key">IDC <span class="red">*</span></div>
            <div class="col-sm-8 value" :class="{ 'invalid-box': controls.idc_id.invalid }">
              <SelectExt
                :disabled="!controls.idc_id.enabled"
                v-model="currentItem.idc_id"
                :dataSource="dropdowns.idc"
                :fields="dropdownFields"
                :allowFiltering="true"
                :enabled="false"
              />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="col-sm-4 key">Mục đích sử dụng</div>
            <div class="col-sm-8 value" :class="{ 'invalid-box': controls.muc_dich_sd_id.invalid }">
              <SelectExt
                :dataSource="dropdowns.mucDichSd"
                :fields="dropdownFields"
                :allowFiltering="true"
                :enabled="false"
                v-model="currentItem.muc_dich_sd_id"
              >
              </SelectExt>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="col-sm-4 key">Đơn vị quản lý <span class="red">*</span> </div>
            <div class="col-sm-8 value" :class="{ 'invalid-box': controls.don_vi_quan_ly_id.invalid }">
              <SelectExt
                :dataSource="dropdowns.donViQuanLy"
                :fields="dropdownFields"
                :allowFiltering="true"
                :enabled="false"
                v-model="currentItem.don_vi_quan_ly_id"
              ></SelectExt>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="col-sm-4 key">Sở cứ tham chiếu</div>
            <div
              class="col-sm-8 value"
              :class="{ 'invalid-box': controls.so_cu_tham_chieu && controls.so_cu_tham_chieu.invalid }"
            >
              <input
                type="text"
                class="form-control"
                :disabled="!controls.so_cu_tham_chieu || !controls.so_cu_tham_chieu.enabled"
                v-model="currentItem.so_cu_tham_chieu"
              />
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-sm-6 col-12">
          <div class="info-row">
            <div class="col-sm-4 key">Ghi chú</div>
            <div class="col-sm-8 value" :class="{ 'invalid-box': controls.ghi_chu.invalid }">
              <input
                type="text"
                class="form-control"
                :disabled="!controls.ghi_chu.enabled"
                v-model="currentItem.ghi_chu"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
