.row-7 {
    padding-top: 7px !important;
}
label {
    margin-bottom: 0px;
}

.redcolor {
    color: #d32f2f !important;
}
>>> .select2-container {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table;
    table-layout: fixed;
}
