<div class="popup-box">
  <div class="list-actions-top">
    <ul class="list">
      <li v-if="mode == 'ADD'">
        <a style="cursor: pointer;" href="javascript:;" @click="onClickNhapMoi" :class="{ 'disabled': !newBtn }">
          <span class="icon one-file-plus"></span>Nhập mới
        </a>
      </li>
      <li v-if="mode != 'VIEW'">
        <a style="cursor: pointer;" href="javascript:;" @click="onClickGhiLai" :class="{ 'disabled': !saveBtn }">
          <span class="icon one-save"></span> Ghi lại
        </a>
      </li>
      <li v-if="mode == 'EDIT'">
        <a style="cursor: pointer;" href="javascript:;" @click="onClickSua" :class="{ 'disabled': !editBtn }">
          <span class="icon one-edit"></span>Sửa
        </a>
      </li>
      <li v-if="mode != 'VIEW'">
        <a class="pointer" @click="onClickHuy" :class="{ 'disabled': !cancelBtn }">
          <span class="icon one-trash"></span> Hủy bỏ
        </a>
      </li>
    </ul>
  </div>
  <div class="modal-content p-2 ">
    <!-- Thông tin tòa nhà -->
    <div class="row">
      <div class="col-12">
        <div class="box-form">
          <div class="row">
            <div class="legend-title">Thông tin tòa nhà</div>
          </div>

          <div class="row">
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="col-sm-4 key">ID Tòa nhà <span class="red">*</span></div>
                <div class="col-sm-8 value">
                  <input
                    type="text"
                    class="form-control"
                    :class="isInvalid('id') ? 'is-invalid' : ''"
                    disabled="true"
                    v-model="currentItem.id"
                    placeholder="tự sinh"
                  />
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="col-sm-4 key">Hiệu lực</div>
                <div class="col-sm-8 value padt4">
                  <div class="check-action">
                    <input
                      type="checkbox"
                      class="check"
                      :disabled="!isEnabled('suDung')"
                      v-model="currentItem.suDung"
                      :true-value="1"
                      :false-value="0"
                    /><span class="name"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="col-sm-4 key">Tên Tòa nhà <span class="red">*</span></div>
                <div class="col-sm-8 value">
                  <input
                    type="text"
                    class="form-control"
                    :class="isInvalid('tenToaNha') ? 'is-invalid' : ''"
                    :disabled="!isEnabled('tenToaNha')"
                    v-model="currentItem.tenToaNha"
                  />
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="col-sm-4 key">Mục đích sử dụng <span class="red">*</span></div>
                <div class="col-sm-8 value">
                  <SelectExt
                    v-model="currentItem.mucDichSuDung"
                    :disabled="!isEnabled('mucDichSuDung')"
                    :class="isInvalid('mucDichSuDung') ? 'invalidBox' : ''"
                    :dataSource="listMucDichSuDung"
                    dataTextField="text"
                    dataValueField="id"
                    :placeholder="'Chọn mục mục đích sử dụng'"
                  >
                  </SelectExt>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="col-sm-4 key">Thời điểm đưa vào vận hành</div>
                <div class="col-sm-8 value">
                  <div class="date-picker">
                    <ejs-datepicker
                      ref="thoiDiemVanHanhPicker"
                      v-model="currentItem.thoiDiemVanHanh"
                      :value="currentItem.thoiDiemVanHanh"
                      :enabled="isEnabled('thoiDiemVanHanh')"
                      :cssClass="isInvalid('thoiDiemVanHanh') ? 'e-error' : ''"
                      :allowEdit="true"
                      :strictMode="false"
                      format="dd/MM/yyyy"
                    >
                    </ejs-datepicker>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="col-sm-4 key">Trạng thái vận hành tòa nhà</div>
                <div class="col-sm-8 value">
                  <SelectExt
                    v-model="currentItem.trangThaiVanHanh"
                    :disabled="!isEnabled('trangThaiVanHanh')"
                    :class="isInvalid('trangThaiVanHanh') ? 'invalidBox' : ''"
                    :dataSource="listTrangThaiVanHanh"
                    dataTextField="text"
                    dataValueField="id"
                    :placeholder="'Chọn trạng thái'"
                  >
                  </SelectExt>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="col-sm-4 key">Diện tích tổng thể (m2)</div>
                <div class="col-sm-8 value">
                  <input
                    type="number"
                    class="form-control"
                    :class="isInvalid('dienTichTongThe') ? 'is-invalid' : ''"
                    :disabled="!isEnabled('dienTichTongThe')"
                    v-model="currentItem.dienTichTongThe"
                  />
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="col-sm-4 key">Diện tích các phòng máy (m2)</div>
                <div class="col-sm-8 value">
                  <input
                    type="number"
                    class="form-control"
                    :disabled="true"
                    v-model="currentItem.tongDienTichPhongMay"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="col-sm-4 key">Ảnh đại diện</div>
                <div class="col-sm-8 value">
                  <ImageSelector
                    ref="ImageSelector"
                    v-model="currentItem.anhDaiDien"
                    :disabled="!isEnabled('anhDaiDien')"
                    @file-selected="handleImageSelected"
                    @file-cleared="handleImageCleared"
                    @file-uploaded="handleImageUploaded"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="col-sm-4 key">Ghi chú</div>
                <div class="col-sm-8 value">
                  <input
                    type="text"
                    class="form-control"
                    :class="isInvalid('ghiChu') ? 'is-invalid' : ''"
                    :disabled="!isEnabled('ghiChu')"
                    v-model="currentItem.ghiChu"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Đơn vị IDC -->
    <div class="row">
      <div class="col-12">
        <div class="box-form">
          <div class="row">
            <div class="legend-title">Đơn vị IDC</div>
          </div>

          <div class="row">
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="col-sm-4 key">Đơn vị IDC <span class="red">*</span></div>
                <div class="col-sm-8 value">
                  <SelectExt
                    v-model="currentItem.idDonViIDC"
                    :disabled="!isEnabled('idDonViIDC')"
                    :class="isInvalid('idDonViIDC') ? 'invalidBox' : ''"
                    :dataSource="listDonViIDC"
                    dataTextField="text"
                    dataValueField="id"
                    :placeholder="'IDC Miền Bắc / IDC Miền Trung / IDC Miền Nam'"
                    @change="onDonViIDCChange"
                  >
                  </SelectExt>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="col-sm-4 key">IDC <span class="red">*</span></div>
                <div class="col-sm-8 value">
                  <SelectExt
                    v-model="currentItem.idIDC"
                    :disabled="!isEnabled('idIDC')"
                    :class="isInvalid('idIDC') ? 'invalidBox' : ''"
                    :dataSource="listIDC"
                    dataTextField="text"
                    dataValueField="id"
                  >
                  </SelectExt>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="col-sm-4 key">Vị trí Tòa nhà</div>
                <div class="col-sm-8 value">
                  <input
                    type="text"
                    class="form-control"
                    :class="isInvalid('viTriToaNha') ? 'is-invalid' : ''"
                    :disabled="!isEnabled('viTriToaNha')"
                    v-model="currentItem.viTriToaNha"
                  />
                </div>
              </div>
            </div> -->

            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="col-sm-4 key">Tọa độ X:</div>
                <div class="col-sm-8 value">
                  <input
                    type="number"
                    class="form-control"
                    :class="isInvalid('toaDoX') ? 'is-invalid' : ''"
                    :disabled="!isEnabled('toaDoX')"
                    v-model="currentItem.toaDoX"
                  />
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="col-sm-4 key">Tọa độ Y</div>
                <div class="col-sm-8 value">
                  <input
                    type="number"
                    class="form-control"
                    :class="isInvalid('toaDoY') ? 'is-invalid' : ''"
                    :disabled="!isEnabled('toaDoY')"
                    v-model="currentItem.toaDoY"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="box-form">
        <div class="row">
          <!-- Năng lực không gian -->
          <div class="col-6">
            <div class="row">
              <div class="legend-title">Năng lực lưu trữ</div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="info-row">
                  <div class="col-sm-4 key">Rack thiết kế</div>
                  <div class="col-sm-8 value">
                    <input
                      type="number"
                      class="form-control"
                      :disabled="true"
                      v-model="currentItem.tongSoLuongRackThietKe"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="info-row">
                  <div class="col-sm-4 key">Rack đã lắp đặt</div>
                  <div class="col-sm-8 value">
                    <input
                      type="number"
                      class="form-control"
                      :disabled="true"
                      v-model="currentItem.tongSoLuongRackLapDat"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="info-row">
                  <div class="col-sm-4 key">Rack có thể lắp đặt</div>
                  <div class="col-sm-8 value">
                    <input
                      type="number"
                      class="form-control"
                      :disabled="true"
                      v-model="currentItem.tongSoLuongRackConLai"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Năng lực điện -->
          <div class="col-6">
            <div class="row">
              <div class="legend-title">Năng lực điện lưới</div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="info-row">
                  <div class="col-sm-4 key">Công suất định danh (W)</div>
                  <div class="col-sm-8 value">
                    <input type="number" class="form-control" :disabled="true" v-model="currentItem.congSuatDinhDanh" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ModalImportExcel
      ref="modalImportExcel"
      :title="importConfig.title"
      :tableColumns="importConfig.tableColumns"
      :gridColumns="importConfig.gridColumns"
      :templateFileName="importConfig.templateFileName"
      :processExcelData="processToaNhaExcelData"
      :formatCellValue="formatToaNhaCellValue"
      :validationRules="importConfig.validationRules"
      :checkDataResult="importConfig.checkDataResult"
      @check-data="handleCheckData"
    />
  </div>
</div>
