* {
  font-size: 12px;
  // padding: 0;
  // margin: 0;
}
.page-content {
  top: 82px !important;
  margin-bottom: 23px;
  // width: 1200px;
  // min-width: 1200px;
  // background: red;
}

.main-title {
  flex-grow: 1 !important;
}

.disabled-btn {
  opacity: 0.5;
  background-color: white !important;
}

.btn-custom {
  cursor: pointer;
}
//ua what
.search-button-background {
  background: red !important;
}

.btn-drop-down-container {
  background: transparent !important;
  // height: 32px;
  border: 1px solid lightgrey !important;
  border-radius: 10px;
  text-align: left;
  padding: 5px 15px;
  display: flex;
  align-items: center;
}

.dropdown,
.dropdown-toggle {
  padding: 0px !important;
}

.search-row {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.container-no-pm {
  padding: 0 !important;
  margin: 0 !important;
}
.h-space {
  height: 10px;
}
.key-value-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 0 !important;
  margin: 0 !important;
}

.key-field {
  margin-right: 5px;
  width: 80px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key-field > input[type='checkbox'] {
  margin: 0 10px 0 0;
}
.value-field {
  flex-grow: 1;
}

.border-field {
  height: 40px;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
}


.key-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

input[type=checkbox] {
  margin-right: 10px;
}