<b-modal
  ref="modalEditRAM"
  size="xl"
  title="Chỉnh sửa RAM"
  hide-footer
  body-class="modal-body p-0"
  centered
>
  <div class="modal-content popup-box">
    <div class="popup-body">
      <div class="box-form">
        <div class="row">
          <div class="list-actions-top">
            <ul class="list">
              <li>
                <b-link href="javascript:void(0)" @click="onSave"> <span class="icon one-save"></span>Ghi lại </b-link>
              </li>
              <li>
                <b-link href="javascript:void(0)" @click="closeModal">
                  <span class="icon ui-1_circle-remove nc-icon-glyph"></span> Huỷ bỏ
                </b-link>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <!-- --------------CPU------------------- -->
          <div class="col-12">
            <div class="box-form">
              <div class="legend-title">
                Cấu hình CPU
              </div>
              <div class="row">
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Tên khe cắm (<span class="red">*</span>)</div>
                    <div class="value">
                      <input type="text" class="form-control" v-model.trim="currentRam.TEN_VITRI" :disabled="false" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Tên (<span class="red">*</span>)</div>
                    <div class="value">
                      <input type="text" class="form-control" v-model.trim="currentRam.TEN_RAM" :disabled="false" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Loại RAM (<span class="red">*</span>)</div>
                    <div class="value">
                      <input type="text" class="form-control" v-model.trim="currentRam.LOAI_RAM" :disabled="false" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Dung Lượng (<span class="red">*</span>)</div>
                    <div class="value">
                      <input type="number" class="form-control" v-model.trim="currentRam.DUNGLUONG" :disabled="false" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Tốc độ (<span class="red">*</span>)</div>
                    <div class="value">
                      <input
                        type="number"
                        class="form-control"
                        v-model.trim="currentRam.TOCDO"
                        :disabled="false"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Trạng thái VH (<span class="red">*</span>)</div>
                    <div class="value">
                      <SelectExt
                        v-model="currentRam.TRANGTHAIVH_ID"
                        dataTextField="TEN"
                        dataValueField="ID"
                        :dataSource="dsDmTrangThaiVH"
                        :disabled="false"
                        @change="loaiTTVHChanged($event)"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</b-modal>
