<div>
    <div class="mb-2 d-flex">
        <button type="button" class="btn btn-outline-primary ml-1">Tìm kiếm</button>
        <button type="button" class="btn btn-outline-primary ml-1">Chấp nhận</button>
        <div class="dropdown" style="left: 5px;">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Lấy mã
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
    <div class="box-form">
        <div class="legend-title">Thông tin tìm kiếm</div>
        <div class="row">
            <div class="col-3">
                <div class="info-row">
                    <select2></select2>

                </div>
            </div>
            <div class="col-9">
                <div class="info-row">
                    <select2></select2>

                </div>
            </div>
            <div class="col-3">
                <div class="info-row">
                    <select2></select2>

                </div>
            </div>
            <div class="col-9">
                <div class="info-row">
                    <select2></select2>

                </div>
            </div>
            <div class="col-3">
                <div class="info-row">
                    <select2></select2>

                </div>
            </div>
            <div class="col-9">
                <div class="info-row">
                    <select2></select2>

                </div>
            </div>
            <div class="col-3">
                <div class="info-row">
                    <select2></select2>

                </div>
            </div>
            <div class="col-9">
                <div class="info-row">
                    <select2></select2>

                </div>
            </div>
            <div class="col-3">
                <div class="info-row">
                    <select2></select2>

                </div>
            </div>
            <div class="col-9">
                <div class="info-row">
                    <select2></select2>

                </div>
            </div>
            <div class="col-3">
                <div class="info-row">
                    <select2></select2>

                </div>
            </div>
            <div class="col-9">
                <div class="info-row">
                    <select2></select2>

                </div>
            </div>
        </div>
    </div>
    <div class="box-form">
        <div class="legend-title">Kết quả tìm kiếm</div>
        <DataGrid class="table-result table-gachle"
                :columns="ds_XuLy.header"
                :dataSource="ds_XuLy.list"
                :showFilter="true"
                ref="tbCongDoan"
                :enabledSelectFirstRow="true"
                @rowSelected=""
                dataKeyField=""
                :showColumnCheckbox="false"
                :allowPaging="true"
                :enablePagingServer="false" />
    </div>
</div>
