<div v-if="data.ten_loai == 'Combobox'" class="value">
  <ejs-dropdownlist ref="editValue" v-model="data.gttt_id" :change="onChangeValueComboBox" placeholder="Chọn" :dataSource="data.comboBoxData" :fields="fields" :allowFiltering="true" :ignoreAccent="true"></ejs-dropdownlist>
</div>
<div v-else-if="data.ten_loai == 'Ngay'" class="value">
  <ejs-datepicker :openOnFocus="true" :format="dateFormat" ref="editValue" :change="onChangeValueDate" v-model="data.giatri"> </ejs-datepicker>
</div>
<div v-else-if="data.ten_loai == 'Ngay gio'" class="value">
  <ejs-datetimepicker :openOnFocus="true" :format="dateTimeFormat" ref="editValue" :change="onChangeValueDateTime" v-model="data.giatri"> </ejs-datetimepicker>
</div>
<div v-else-if="data.ten_loai == 'Anh'" class="value">
  <input ref="editValue" type="text" class="form-control" @change="onChangeValueText" v-model="data.giatri" @focus="openPopupUploadImage" @click="openPopupUploadImage" />
</div>
<div v-else-if="data.ten_loai == 'Textbox'" class="value">
  <input ref="editValue" type="text" class="form-control" @change="onChangeValueText" v-model="data.giatri" />
</div>
<div v-else-if="data.ten_loai == 'Listbox'" class="value">
  <input ref="editValue" type="text" class="form-control" @change="onChangeValueText" v-model="data.giatri" />
</div>
<div v-else class="value">
  <input ref="editValue" type="text" class="form-control" @change="onChangeValueText" v-model="data.giatri" />
</div>
