<div class="row">
  <div class="box-form">
    <div class="legend-title">
      GPU
    </div>
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w150">Số lượng GPU:</div>
          <div class="value">
            <input type="number" class="form-control" :disabled="true" v-model.trim="thietBiCurrent.SL_GPU" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-form">
    <div class="row">
      <div class="legend-title d-flex justify-content-between align-items-center">
        <span>Danh sách GPU</span>
        <div>
          <button class="btn btn-sm btn-outline-primary" title="Sinh cổng tự động" @click="onGenerateGPU()">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <DataGrid
          ref="danhSachGPUGrd"
          :allowPaging="true"
          :enablePagingServer="false"
          :showColumnCheckbox="false"
          v-bind:columns="[
                                  {fieldName: 'STT', headerText: 'STT', textAlign: 'Left'},
                                  {fieldName: 'MODEL', headerText: 'Model', textAlign: 'Left'},
                                  {fieldName: 'SERIAL', headerText: 'Serial', textAlign: 'Left'},
                                  {fieldName: 'TRANGTHAI_VH', headerText: 'Trạng thái VH', textAlign: 'Left'},
                                  {fieldName: 'THAOTAC', headerText: 'Thao tác', textAlign: 'Center', template: actionColumn(this), allowFiltering: false},
                                ]"
          v-bind:dataSource="localDsGPU"
        >
        </DataGrid>
      </div>
    </div>
  </div>
  <EditGPUModal ref="editGPUModal" />
</div>
