<div class="row">
  <div class="col-12">
    <div class="nav tabs tab-over">
      <a href="#tabConnecter" data-toggle="tab" :class="{active: currentTab === 1}" @click="currentTab = 1">Thiết bị đấu nối</a>
      <a href="#tabInfrastructure" data-toggle="tab" :class="{active: currentTab === 2}" @click="currentTab = 2">Hạ tầng liên quan</a>
      <a href="#tabColocation" data-toggle="tab" :class="{active: currentTab === 3}" @click="currentTab = 3">Tác nghiệp Colocation</a>
    </div>
    <div class="tab-content">
      <!-- Thiết bị đầu nối -->
      <div class="tab-pane" id="tabConnecter" :class="{active: currentTab === 1}">
        <div class="row">
            <DataGrid :columns="connectorCols" :dataSource="connectorList" :allowPaging="true" :enablePagingServer="false" :showColumnCheckbox="true" ref="grdInterface"></DataGrid>
        </div>
      </div>
      <!-- Hạ tầng -->
      <div class="tab-pane" id="tabInfrastructure" :class="{active: currentTab === 2}">
        <div class="row">
            <DataGrid :columns="infraCols" :dataSource="infraList" :allowPaging="true" :enablePagingServer="false" :showColumnCheckbox="true" ref="rgdPower"></DataGrid>
        </div>
      </div>
      <!-- Colocation -->
      <div class="tab-pane" id="tabColocation" :class="{active: currentTab === 3}">
        <div class="row">
            <DataGrid :columns="colocationCols" :dataSource="colocationList" :allowPaging="true" :enablePagingServer="false" :showColumnCheckbox="true" ref="grdConsole"></DataGrid>
        </div>
      </div>
    </div>
  </div>
</div>
