<div>
    <div class="row">
      <div class="select-wrapper">
        <button class="btn btn-sm btn-outline-primary float-right" @click="onAddSubnet">
          <i class="fa fa-plus"></i> Thêm Subnet
        </button>
      </div>
      <!-- Danh sách Subnet -->
      <div class="row">
        <div class="legend-title">Danh sách Subnet</div>
      </div>
      <div class="row">
        <div class="col-12">
          <DataGrid
            ref="gridItems"
            :allowPaging="true"
            :enablePagingServer="false"
            :showColumnCheckbox="false"
            :dataSource="grid.dataItems"
            :columns="grid.columns"
          >
          </DataGrid>
        </div>
      </div>
    </div>
    <b-modal
      v-model="isModalOpen"
      :title="'Danh sách Subnet'"
      size="xl"
      hide-footer
      @hidden="handleModalClose"
      modal-class="modal-add-tainguyen"
    >
      <!-- <ChiTietSubnet :currentItem="currentItem" :mode="mode" ></ChiTietSubnet> -->
       <DanhSachSubnet 
       :vlanId="vlanId"
       :selectedItems="tempSelectedSubnet"
       @item-selected="onSubnetSelected"
       ></DanhSachSubnet>
    </b-modal>

</div>  