#capphat-daiip {
    .info-row {
        .value {
            width: calc(100% - 180px) !important;
        }
        .key {
            width: 180px !important;
        }
    }

    .link-disabled {
        pointer-events: none !important;
        cursor: default !important;
        color: #6c757d !important;
    }
}
