<div>
  <div class="list-actions-top">
    <ul class="list">
      <li>
        <b-link href="javascript:void(0)" :disabled="!buttons.btnNhapMoi.enabled" @click="btnNewClick"> <span class="icon one-file-plus"></span>Nhập mới</b-link>
      </li>
      <li>
        <b-link href="javascript:void(0)" :disabled="!buttons.btnGhiLai.enabled" @click="btnSaveClick"> <span class="icon one-save"></span>Ghi lại</b-link>
      </li>
      <li>
        <b-link href="javascript:void(0)" @click="btnCancelClick" :disabled="!buttons.btnHuyBo.enabled"> <span class="icon ui-1_circle-remove nc-icon-glyph"></span> Huỷ bỏ </b-link>
      </li>
      <li>
        <b-link href="javascript:void(0)" :disabled="!buttons.btnSua.enabled" @click="btnEditClick"> <span class="icon nc-icon-glyph ui-1_edit-72"></span>Sửa</b-link>
      </li>
      <li>
        <b-link href="javascript:void(0)" :disabled="!buttons.btnXoa.enabled" @click="btnDeleteClick"> <span class="icon one-trash"></span>Xóa</b-link>
      </li>
    </ul>
  </div>
  <div class="page-content">
    <div class="row">
      <div class="col-12">
        <div class="box-form">
          <div class="row">
            <div class="legend-title">Thông tin Loại thiết bị</div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="key w100">Tên <span class="red">*</span></div>
                <div class="value"><input type="text" class="form-control" v-model="currentItem.name" :class="{['is-invalid']: controls.txtName.invalid}" :disabled="!controls.txtName.enabled" /></div>
              </div>
            </div>
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="key w100">Hiệu lực</div>
                <div class="value padt4">
                  <div class="check-action"><input type="checkbox" class="check" v-model="currentItem.validity" :true_value="true" :false-value="false" :disabled="!controls.checkBoxValidity.enabled" /><span class="name"></span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="key w100">Phân loại <span class="red">*</span></div>
                <div class="value">
                  <SelectExt :settings="{placeholder: 'Mạng, Máy chủ, Loại khác'}" :dataSource="dsPhanLoai" dataTextField="text" dataValueField="value" v-model="currentItem.classify" :disabled="!controls.comboboxClassify.enabled" />
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-12">
              <div class="info-row">
                <div class="key w100">Mã <span class="red">*</span></div>
                <div class="value"><input type="text" class="form-control" v-model="currentItem.code" :class="{['is-invalid']: controls.txtCode.invalid}" :disabled="!controls.txtCode.enabled" /></div>
              </div>
            </div>
          </div>
          <div class="info-row">
            <div class="key w100">Ghi chú</div>
            <div class="value"><input type="text" class="form-control" v-model="currentItem.note" :disabled="!controls.txtNote.enabled" /></div>
          </div>
        </div>
        <div class="box-form">
          <div class="row">
            <div class="legend-title">Danh sách Loại thiết bị</div>
          </div>
          <div class="table-content">
            <div class="grid-ext grid-ext-nodata">
              <DataGrid
                ref="gridItems"
                v-bind:columns="[
                  { fieldName: 'TEN', headerText: 'Tên', textAlign: 'Left', allowFiltering: true, allowSorting: false },
                  { fieldName: 'PHANLOAI', headerText: 'Phân loại', textAlign: 'Left', allowFiltering: true, allowSorting: false, width: 100 },
                  { fieldName: 'MA', headerText: 'Mã', textAlign: 'Left', allowFiltering: true, allowSorting: false },
                  { fieldName: 'HIEU_LUC', headerText: 'Hiệu lực', textAlign: 'Left', allowFiltering: true, allowSorting: false, width: 100, template: getColumnHieuLucTemplate() }
                ]"
                :showFilter="true"
                :allowPaging="true"
                :enablePagingServer="false"
                :showColumnCheckbox="true"
                :dataSource="dataSource"
                @rowSelected="rowSelected"
                @rowDeselected="rowUnselected"
              ></DataGrid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
