a.disabled {
    color: lightgrey !important;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.btn-custom.btn-second {
    background-color: #fff !important;
    border-color: #0176ff !important;
    color: #0176ff !important;
    font-weight: 600 !important;
}
.btn-second.btn {
    padding: 5px 10px !important;
    border-radius: 4px !important;
}

.text-line {
    width: 100%;
    border-bottom: 1px solid #cbcbcb;
    line-height: 0.1em;
    margin: 5px 0 20px;
}
.text-line span,
label {
    background: #fff;
    display: initial;
}
.text-line .noline {
    background: #fff;
}
.fw-600 {
    font-weight: 600;
}
.col-content {
    border: 1px solid #ddd;
    height: 100%;
    padding: 0.25rem;
}

.list-actions-top .list {
    overflow: unset !important;
}

.neo {
    margin-left: 7.5rem !important;
}

.table-result tbody tr:nth-child(2n + 2):hover {
    background-color: #fff9eb !important;
}

.table-result tbody tr:nth-child(2n + 2).highlight1 {
    background-color: #f9e1a9 !important;
}

.grid table tr th button.btn-sort:not(.btn-sorted) {
    opacity: 0.2;
}

.grid table tr th button.btn-sort {
    background-color: transparent;
    border: 0px;
    padding-right: 0px;
    color: #007eff;
}

.breadcrumb {
    right: 0;
    position: fixed;
    margin-right: 10px;
}

.list-actions-top .list .excel a {
    display: block;
    padding: 2px 15px;
    color: $second;
    border-left: 1px solid #bae7ff;
    text-decoration: none;
    font-weight: 600;
}
