<div>
    <div class="list-actions-top">
        <ul class="list">
            <li>
                <a href="javascript:void(0)" @click="taoCongNoAction()">
                    <span class="icon nc-icon-glyph ui-1_circle-add"></span> Tạo
                    DS
                </a>
            </li>
            <li class="excel">
                <div>
                    <a href="javascript:void(0)">
                        <span class="icon one-download"></span> Xuất file
                    </a>
                    <div class="dropdown-menu neo" id="clickbox">
                        <a
                            class="dropdown-item"
                            href="#"
                            style="padding-top: 10px; padding-bottom: 10px;"
                            v-on:click.prevent="showAlert(0)"
                            >Tổng hợp</a
                        >
                        <a
                            class="dropdown-item"
                            href="#"
                            style="padding-top: 10px; padding-bottom: 10px;"
                            v-on:click.prevent="showAlert(1)"
                            >Chi tiết</a
                        >
                    </div>
                </div>
                <appModalXuatDuLieu
                    ref="dlgXuatDuLieuBCTongHop"
                    :columns="dsThuocTinhTongHop"
                    :apiParams="exportParams"
                    :kieu="1"
                />
                <appModalXuatDuLieu
                    ref="dlgXuatDuLieuBCChiTiet"
                    :columns="dsThuocTinhChiTiet"
                    :apiParams="exportParams"
                    :kieu="1"
                />
                <!-- <appModalXuatDuLieu
                    id="modal-xuat-dulieu"
                    :thuocTinh="dsThuocTinhTongHop"
                    :data="listTongHop"
                />
                <appModalXuatDuLieu
                    id="modal-xuat-dulieu-chitiet"
                    :thuocTinh="dsThuocTinhChiTiet"
                    :data="listTongHop"
                /> -->
            </li>
            <li @click="DocFile()">
                <a href="javascript:;" title="Đọc file">
                  <span class="icon   one-book"></span> Đọc file
                </a>
                <PopupDocFile :kyCuoc="this.kyCuoc" @sendData="sendData"></PopupDocFile>
              </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="box-form">
            <div class="legend-title">
                <div class="pull-left">Tiêu chí tạo dữ liệu</div>
                <div class="pull-right red">
                    Thời gian tạo: {{thoiGian}} - Số lượng tạo: {{soLuongTao}}
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-12">
                    <div class="info-row">
                        <div class="key w80">
                            Kỳ hóa đơn
                        </div>
                        <div class="value">
                            <div class="select-custom">
                                <ejs-datepicker
                                    :placeholder="'Chọn kỳ hóa đơn'"
                                    v-model="kyHoaDon"
                                    :max="config.max_kyhoadon"
                                    :start="'Year'"
                                    :depth="'Year'"
                                    :format="'MM/y'"
                                    :change="onKyHoaDonChange"
                                    :showClearButton="false"
                                    class="redcolor"
                                    :allowEdit="false"
                                >
                                </ejs-datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="key w80">
                            Chu kỳ
                        </div>
                        <div class="value">
                            <div class="select-custom">
                                <select
                                    v-model="p_chuky_no"
                                    class="form-control"
                                >
                                    <option
                                        v-for="item in p_chuky_no_options"
                                        :value="item.CHUKY"
                                        >{{item.CHUKY}}</option
                                    >
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="info-row">
                        <div class="key w80">
                            Ghi chú
                        </div>
                        <div class="value">
                            <textarea
                                ref="ghiChu"
                                class="form-control"
                                maxlength="90"
                                v-model="ghiChu"
                                style="height: 70px;resize: vertical;"
                            ></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-form">
            <div class="legend-title">Danh sách lần tạo</div>
            <div class="table-content">
                <DataGrid
                    ref="grid1"
                    :columns="fieldLanTao"
                    :dataSource="listLanTao"
                    :showFilter="true"
                    dataKeyField="MA_XLN"
                    :allowPaging="true"
                    :totalRecords="listLanTao.length"
                    :enablePagingServer="false"
                    @selectedRowChanged="onPhieuThanhToanRowChange"
                    @selectedItemsChanged="onPhieuThanhToanChange"
                ></DataGrid>
            </div>
        </div>
    </div>
</div>
