<ejs-dialog :enableResize='true' :allowDragging='true' :visible='false'
ref="refDialogObjShowDiaChiLapDat" :header='"Địa chỉ lắp đặt"'  showCloseIcon='true'  width='60%'
:target='target' :position="position" >
    <div class="">
        <div class="list-actions-top">
            <ul class="list">
                <li >
                    <a href="#" @click.prevent="closeForm">
                        <span class="icon nc-icon-glyph ui-1_circle-add"></span>Thoát 
                    </a>
                </li>
               
            </ul>
        </div>
        <div class="popup-body">
            <!-- <div class="legend-title">Địa chỉ lắp đặt</div> -->
            <div class="box-form">
                <div class="row">
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w120">Mã GD</div>
                            <div class="value">
                                <input type="text" class="form-control highlight bold" readonly="true" v-model.trim="txtMaGD">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w120">Loại HĐ/PL</div>
                            <div class="value">
                                <input type="text" class="form-control bold" readonly="true" v-model="txtLoaiHD ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w120">Dịch vụ</div>
                            <div class="value">
                                <SelectExt v-model="cboDichVuVT" :dataSource="DmLoaiDichVu" :disabled="true" class="disabled"
                                    dataTextField="ten_dvvt" dataValueField="dichvuvt_id">
                                </SelectExt>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w120">Số máy/Acc</div>
                            <div class="value">
                                <input type="text" class="form-control bold"  readonly="true"  v-model="txtMa_TB">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-12">
                        <div class="info-row">
                            <div class="key w120">Điện thoại LH đầu</div>
                            <div class="value">
                                <input type="text" v-model="txtSoDT_Dau"  readonly="true"  class="form-control bold">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-12">
                        <div class="info-row">
                            <div class="key w120">Điện thoại LH cuối</div>
                            <div class="value">
                                <input type="text" v-model="txtSoDT_Cuoi"  readonly="true"  class="form-control bold">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w120">Tốc độ</div>
                            <div class="value">
                                <input type="text"  v-model="txtTocDo"  readonly="true"  class="form-control bold">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w120">Địa chỉ cũ</div>
                            <div class="value">
                                <input type="text"   v-model="txtDC_Cu"  readonly="true"  class="form-control bold">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w120">Tổ thi công</div>
                            <div class="value"> 
                                <input type="text"  v-model="txtToTC_Cu"  readonly="true" class="form-control bold">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w120">Địa chỉ mới</div>
                            <div class="value">
                                <input type="text"  v-model="txtDC_Moi"  readonly="true"  class="form-control bold">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w120">Tổ thi công</div>
                            <div class="value">
                                <input type="text" v-model="txtToTC_Moi"  readonly="true"  class="form-control bold">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w120">Đ/c điểm đầu cũ</div>
                            <div class="value">
                                <input type="text" v-model="txtDC_Dau_Cu"  readonly="true"  class="form-control bold">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w120">Tổ thi công</div>
                            <div class="value">
                                <input type="text"  v-model="txtToTC_Dau_Cu"  readonly="true"  class="form-control bold">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w120">Đ/c điểm đầu mới</div>
                            <div class="value">
                                <input type="text"  v-model="txtDC_Dau_Moi"  readonly="true"  class="form-control bold">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w120">Tổ thi công</div>
                            <div class="value">
                                <input type="text"  v-model="txtToTC_Dau_Moi"  readonly="true"  class="form-control bold">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w120">Đ/c điểm cuối cũ</div>
                            <div class="value">
                                <input type="text"  v-model="txtDC_Cuoi_Cu"  readonly="true"  class="form-control bold">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w120">Tổ thi công</div>
                            <div class="value">
                                <input type="text" v-model="txtToTC_Cuoi_Cu"  readonly="true"   class="form-control bold">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w120">Đ/c điểm cuối mới</div>
                            <div class="value">
                                <input type="text"  v-model="txtDC_Cuoi_Moi"  readonly="true"  class="form-control bold">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="info-row">
                            <div class="key w120">Tổ thi công</div>
                            <div class="value">
                                <input type="text"  v-model="txtToTC_Cuoi_Moi" readonly="true"  class="form-control bold">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ejs-dialog>