<div>
  <div class="box-form">
    <div class="row">
      <div class="col-12">
        <div class="legend-title">Thông tin cơ bản</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">ID</div>
          <div class="value">
            <input type="text" class="form-control" :value="currentItem.id > 0 ? currentItem.id : ''" disabled />
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">IP <span class="red">*</span></div>
          <div class="value">
            <input type="text" class="form-control" v-model="currentItem.diaChiIp" :disabled="isDisableInput" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">IDC<span class="red">*</span></div>
          <div class="value">
            <SelectExt
              id="cbb_Idc"
              v-model="currentItem.idcId"
              :dataSource="dsIdc"
              dataTextField="TEN"
              dataValueField="ID"
              :disabled="isDisableInput"
              @change="onChangeIDC()"
            />
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-12">
        <div class="info-row">
          <div class="key w160">Hiệu lực</div>
          <div class="form-check pt-1" style="padding-left: 26px;">
            <input class="form-check-input" type="checkbox" v-model="currentItem.suDung" :disabled="isDisableInput" />
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-12">
        <div class="info-row">
          <div class="key w160">Quảng bá IP</div>
          <div class="form-check pt-1" style="padding-left: 26px;">
            <input
              class="form-check-input"
              type="checkbox"
              v-model="currentItem.quangBaIp"
              :disabled="isDisableInput"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Hạ tầng mạng <span class="red">*</span></div>
          <div class="value">
            <SelectExt
              id="cbb_HaTangMang"
              v-model="currentItem.haTangMangId"
              :dataSource="dsHaTangMang"
              dataTextField="TEN"
              dataValueField="ID"
              :disabled="isDisableInput"
              @change="loadSubnet"
            />
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Trạng thái CCDV<span class="red">*</span></div>
          <div class="value">
            <SelectExt
              id="cbb_TrangThaiCcdv"
              v-model="currentItem.trangThaiCcdvId"
              :dataSource="dsTrangThaiCcdv"
              dataTextField="TEN"
              dataValueField="ID"
              :disabled="isDisableInput"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Loại IP<span class="red">*</span></div>
          <div class="value" style="display: flex; gap: 10px;">
            <div style="flex: 1;">
              <SelectExt
                id="cbb_LoaiIp"
                v-model="currentItem.loaiIpId"
                :dataSource="dsLoaiIp"
                dataTextField="TEN"
                dataValueField="ID"
                :disabled="isDisableInput"
                @change="loadSubnet"
              />
            </div>
            <div class="key" style="min-width: 100px;">Phân loại IP<span class="red">*</span></div>
            <div style="flex: 1;">
              <SelectExt
                id="cbb_PhanLoaiIp"
                v-model="currentItem.phanLoaiIpId"
                :dataSource="dsPhanLoaiIp"
                dataTextField="TEN"
                dataValueField="ID"
                :disabled="isDisableInput"
                @change="loadSubnet"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Subnet<span class="red">*</span></div>
          <div class="value">
            <SelectExt
              id="cbb_Subnet"
              v-model="currentItem.subnetId"
              :dataSource="dsSubnet"
              dataTextField="TEN"
              dataValueField="ID"
              :disabled="isDisableInput"
              @change="onChangeSubnet"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">VLAN</div>
          <div class="value">
            <SelectExt
              id="cbb_Vlan"
              v-model="currentItem.vlanId"
              :dataSource="dsVlan"
              dataTextField="TEN"
              dataValueField="ID"
              disabled
            />
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Mục đích sử dụng</div>
          <div class="value">
            <SelectExt
              id="cbb_MucDichSuDung"
              v-model="currentItem.mucDichSdId"
              :dataSource="dsMucDichSuDung"
              dataTextField="TEN"
              dataValueField="ID"
              :disabled="isDisableInput"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">VRF</div>
          <div class="value">
            <SelectExt
              id="cbb_Vrf"
              v-model="currentItem.vrfId"
              :dataSource="dsVrf"
              dataTextField="TEN"
              dataValueField="ID"
              disabled
              @change="onChangeVrf()"
            />
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Nội bộ / khách hàng<span class="red">*</span></div>
          <div class="value">
            <SelectExt
              id="cbb_NoiBoKhachHang"
              v-model="currentItem.noiBoId"
              :dataSource="dsNoiBoKhachHang"
              dataTextField="TEN"
              dataValueField="ID"
              :disabled="isDisableInput"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Zone</div>
          <div class="value">
            <SelectExt
              id="cbb_Zone"
              v-model="currentItem.zoneId"
              :dataSource="dsZone"
              dataTextField="TEN"
              dataValueField="ID"
              disabled
            />
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Đơn vị quản lý<span class="red">*</span></div>
          <div class="value">
            <SelectExt
              id="cbb_DonViQuanLy"
              v-model="currentItem.donViQuanLyId"
              :dataSource="dsDonViQuanLy"
              dataTextField="TEN"
              dataValueField="ID"
              :disabled="isDisableInput"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Đối tượng sử dụng IP <span class="red">*</span></div>
          <div class="value">
            <SelectExt
              id="cbb_DoiTuongSuDung"
              v-model="currentItem.doiTuongSDId"
              :dataSource="dsDoiTuongSuDung"
              dataTextField="TEN"
              dataValueField="ID"
              :disabled="isDisableInput"
            />
          </div>
        </div>
        <!-- <div class="info-row mt-2">
        <div class="key w160"></div>
        <div class="value">
          <button
            type="button"
            class="btn btn-primary"
            @click="openDetailLink()"
            :disabled="!currentItem.doiTuongSDId"
          >
            Link thông tin chi tiết đối tượng này
          </button>
        </div>
      </div> -->
      </div>
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Ghi chú</div>
          <div class="value">
            <input type="text" v-model="currentItem.ghiChu" class="form-control" :disabled="isDisableInput" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-12">
        <div class="info-row">
          <div class="key w160">Sở cứ tham chiếu</div>
          <div class="value">
            <input type="text" v-model="currentItem.soCu" class="form-control" :disabled="isDisableInput" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-form">
    <div class="row">
      <div class="legend-title">Lịch sử cấp phát IP</div>
    </div>
    <div class="row">
      <div class="col-12">
        <div style="overflow-x: auto;">
          <DataGrid
            v-bind:columns="[
                  { fieldName: 'STT', headerText: 'STT', width: 60, textAlign: 'Center' },
                  { fieldName: 'IP', headerText: 'IP', textAlign: 'Left' },
                  { fieldName: 'TRANG_THAI_CAP_PHAT', headerText: 'Trạng thái cấp phát', textAlign: 'Left' },
                  { fieldName: 'NGUOI_CAP', headerText: 'Người cấp', textAlign: 'Left' },
                  { fieldName: 'MUC_DICH_SU_DUNG', headerText: 'Mục đích sử dụng', textAlign: 'Left' },
                  { fieldName: 'THOI_GIAN_CAP', headerText: 'Thời gian cấp', textAlign: 'Left' },
                  { fieldName: 'THOI_GIAN_THU_HOI', headerText: 'Thời gian thu hồi', textAlign: 'Left' },
                  { fieldName: 'DON_VI_DUOC_CAP', headerText: 'Đơn vị được cấp', textAlign: 'Left' },
                  { fieldName: 'SO_CU', headerText: 'Sở cứ', textAlign: 'Left' },
                  {fieldName: 'ACTIONS', headerText: 'Thao tác', allowSorting: false, allowFiltering: false, textAlign: 'Center', template: actionColumn(this), width: 100,  clipMode: 'None'}
          ]"
            :dataSource="dsQuyTrinh"
            :showColumnCheckbox="true"
            :enable-paging-server="false"
            :allowPaging="true"
            :enabledSelectFirstRow="false"
            ref="thongTinCapPhat"
          >
          </DataGrid>
        </div>
      </div>
    </div>
  </div>
</div>
