<div>
    <div class="legend-title">
        <span class="name"> Lịch sử thay đổi</span>
    </div>
    <div class="row">
        <KDataGrid :columns="lsThayDoiGrid.columns" :dataSource="lsThayDoiGrid.dataSource" :showFilter="true"
            :showColumnCheckbox="true" :allowPaging="true" :enablePagingServer="false" :enabledSelectFirstRow="false"
            class="data-grid"></KDataGrid>
    </div>
    <div class="legend-title">
        <span class="name">Lịch sử công suất thực tế</span>
    </div>
    <div class="row">
        <KDataGrid :columns="lsCongSuatThucTeGrid.columns" :dataSource="lsCongSuatThucTeGrid.dataSource" :showFilter="true"
            :showColumnCheckbox="true" :allowPaging="true" :enablePagingServer="false" :enabledSelectFirstRow="false"
            class="data-grid"></KDataGrid>
    </div>
</div>