<b-modal
  ref="modalChiTietLuuTruTaiNguyen"
  size="xl"
  title="Chi tiết lưu trữ tài nguyên"
  hide-footer
  body-class="modal-body p-0"
  centered
>
  <div class="modal-content popup-box">
    <div class="popup-body">
      <div class="box-form">
        <div class="row">
          <!-- --------------CPU------------------- -->
          <div class="col-12">
            <div class="box-form">
              <div class="legend-title" >
                Cấu hình CPU
              </div>
              <div class="row">
                <div class="col-sm-6 col-12">
                  <div class="info-row">
                    <div class="key w150">Số khe cắm:</div>
                    <div class="value">
                      <input type="text" class="form-control" v-model.trim="currentItem" :disabled="false"/>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-12">
                  <div class="info-row">
                    <div class="key w150">SL đã cắm:<span class="red">*</span></div>
                    <div class="value">
                      <SelectExt v-model.trim="currentItem" dataTextField="" dataValueField=""
                      :dataSource="test1" :disabled="false" />
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</b-modal>
