<div class="nangluc-luutru-wrapper">
  <section class="section-wrapper">
    <p class="legend-title">Cache Memory</p>

    <div class="row content-wrapper">
      <div class="info-row col-sm-6 col-12 pr-md-3">
        <label class="key w150">Mem Cache <span class="required">*</span></label>
        <input
          type="number"
          class="form-control ml-1"
          v-model="currentItem.mem_cache"
          :class="{ invalidBox:
        controls.mem_cache.invalid }"
          :disabled="!controls.mem_cache.enabled"
        />
      </div>

      <div class="info-row col-sm-6 col-12 pl-md-3">
        <label class="key w150">Flash Cache <span class="required">*</span></label>
        <input
          :class="{ invalidBox: controls.flash_cache.invalid }"
          type="number"
          class="form-control ml-1"
          v-model="currentItem.flash_cache"
          :disabled="!controls.flash_cache.enabled"
        />
      </div>
    </div>
  </section>

  <!-- RAID LEVEL -->
  <section class="section-wrapper">
    <p class="legend-title">Raid Level</p>

    <div class="row content-wrapper">
      <div class="info-row col-sm-6 col-12">
        <label class="key w150">Raid level <span class="required">*</span></label>
        <div class="value">
          <SelectExt
            :class="{ invalidBox: controls.raid_level.invalid }"
            :disabled="!controls.raid_level.enabled"
            :dataSource="[...raidList]"
            dataTextField="TEN"
            dataValueField="ID"
            v-model="currentItem.raid_level"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- TRƯỚC RAID FORM -->
  <BeforeRaidForm :currentItem="currentItem" :controls="controls" />

  <!-- SAU RAID FORM -->
  <AfterRaidForm :currentItem="currentItem" :controls="controls" />
</div>
