<div>
    <div class="row">
        <div class="col-sm-7 col-12">
            <div class="info-row">
                <div class="key">Mã TN</div>
                <div class="value">
                    <div class="input-more-button">
                        <button class="btn" @click="btnMaTN_CD_Click">
                            <span class="-ap icon-more_horiz"></span>
                        </button>
                        <input type="text" class="form-control highlight" v-model="txtMaTN_CD.Text">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-12">
            <div class="info-row">
                <div class="key">Trang bị</div>
                <div class="value">
                    <SelectExt
                        v-model="cboTrangBiCD.Value" 
                        :dataSource="cboTrangBiCD.DataSource" 
                        dataValueField="trangbi_id"
                        dataTextField="tentrangbi" />
                </div>
            </div>
        </div>
    </div>
    <component v-for="comboDonVi in dsComboDonVi" :ref="comboDonVi.key" :key="comboDonVi.key" v-bind:is="comboDonVi" />

    <frmDSTBCungDoiCap ref="ref-ds-thue-bao-cung-cap"></frmDSTBCungDoiCap>
    <frmDSTBLapKem ref="ref-ds-thue-bao-lap-kem"></frmDSTBLapKem>
</div>