<div class="row">
    <div class="col-12">
        <div class="nav tabs tab-over">
            <a href="#tabInterface" data-toggle="tab" :class="{active: currentTab === 1}"
                @click="currentTab = 1">Line Card</a>
            <a href="#tabPower" data-toggle="tab" :class="{active: currentTab === 2}" @click="currentTab = 2">Power Module</a>
            <a href="#tabConsole" data-toggle="tab" :class="{active: currentTab === 3}"
                @click="currentTab = 3">Console Card</a>
        </div>
        <div class="tab-content">
            <div class="tab-pane" id="tabInterface" :class="{active: currentTab === 1}">
                <div class="row">
                    <div class="info-row">
                        <div class="key w150">Tổng số Port của TB</div>
                        <div class="value d-flex gap-3">
                            <div class="flex-grow-1">
                                <input type="text" class="form-control" disabled v-model="totalPort" />
                            </div>
                            <button class="btn btn-second btn-detail key w150" @click="openModal">Xem danh sách</button>
                        </div>
                    </div>
                    <!-- End -->

                    <CardData :deviceData="interfaceList" portType="Interface"/>
                </div>
            </div>
            <div class="tab-pane" id="tabPower" :class="{active: currentTab === 2}">
                <div class="row">
                    <div class="">
                        <div class="info-row">
                            <div class="key w150">Tổng số Port của TB</div>
                            <div class="value d-flex gap-3">
                                <div class="flex-grow-1">
                                    <input type="text" class="form-control" disabled v-model="totalPort" />
                                </div>
                                <button class="btn btn-second btn-detail key w150" @click="openModal">Xem danh
                                    sách</button>
                            </div>
                        </div>
                        <!-- End -->

                        <CardData :deviceData="powerList" portType="Power"/>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabConsole" :class="{active: currentTab === 3}">
                <div class="row">
                    <div class="">
                        <div class="info-row">
                            <div class="key w150">Tổng số Port của TB</div>
                            <div class="value d-flex gap-3">
                                <div class="flex-grow-1">
                                    <input type="text" class="form-control" disabled v-model="totalPort" />
                                </div>
                                <button class="btn btn-second btn-detail key w150" @click="openModal">Xem danh
                                    sách</button>
                            </div>
                        </div>
                        <!-- End -->
                        <CardData :deviceData="consoleList" portType="Console"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ModalListPortOfCard ref="dialogPortList" :portType="currentTab" :deviceList="deviceList"/>
</div>