/deep/ .custom-kycuoc .w120 {
    width: 80px !important;
}

/deep/ .custom-kycuoc .w60 {
    width: 50px !important;
}

/deep/ .custom-kycuoc .e-input-group {
    max-width: 196px !important;
    margin-right: 5px !important;
}
