<b-modal
  id="ModalPortThietBi"
  ref="ModalPortThietBi"
  title="Thông tin port"
  size="xl"
  hide-footer
>
  <div class="port-info-form">
    <div class="row">
          <!-- Left Column -->
          <div class="col-sm-6">
            <div class="form-group">
              <label>ID Port</label>
              <input 
                type="text" 
                class="form-control" 
                v-model="portInfo.ID"
                disabled
                placeholder="Tự động sinh">
            </div>

            <div class="form-group">
              <label>Tên cổng <span class="red">(*)</span></label>
              <input 
                type="text" 
                class="form-control" 
                v-model="portInfo.TEN"
                :class="{ 'is-invalid': controls.TEN.invalid }"
                placeholder="Nhập tên cổng">
            </div>

            <div class="form-group">
              <label>Loại port <span class="red">(*)</span></label>
              <SelectExt
                ref="selectLoaiPort"
                v-model="portInfo.LOAICONG_ID"
                dataTextField="TEN"
                dataValueField="ID"
                :dataSource="[...loaiCongList]"
                :placeholder="'Lấy từ danh mục khai báo port'"
                :class="{ 'is-invalid': controls.LOAICONG_ID.invalid }"
                :allowClear="true">
              </SelectExt>
            </div>

            <div class="form-group">
              <label>Tốc độ / giá trị cổng <span class="red">(*)</span></label>
              <input 
                type="text" 
                class="form-control" 
                v-model="portInfo.GIATRI_CONG"
                :class="{ 'is-invalid': controls.GIATRI_CONG.invalid }"
                placeholder="Nhập tốc độ/giá trị cổng">
            </div>

            <div class="form-group">
              <label>Thông số kỹ thuật <span class="red">(*)</span></label>
              <input 
                type="text" 
                class="form-control" 
                v-model="portInfo.THONGSO_KYTHUAT"
                :class="{ 'is-invalid': controls.THONGSO_KYTHUAT.invalid }"
                placeholder="Nhập thông số kỹ thuật">
            </div>
          </div>

          <!-- Right Column -->
          <div class="col-sm-6">
            <div class="form-group">
              <label>Trạng thái Port vận hành <span class="red">(*)</span></label>
              <SelectExt
                ref="selectTrangThaiPortVanHanh"
                v-model="portInfo.TRANGTHAI_SD"
                dataTextField="TEN"
                dataValueField="ID"
                :dataSource="[...trangThaiPortVanHanhOptions]"
                :placeholder="'chưa sử dụng / đang sử dụng / hỏng'"
                :class="{ 'is-invalid': controls.TRANGTHAI_SD.invalid }"
                :disabled="true"
                :allowClear="true">
              </SelectExt>
            </div>

            <div class="form-group">
              <label>Trạng thái đấu nối port</label>
              <input 
                type="text" 
                class="form-control" 
                v-model="portInfo.TRANGTHAI_DAUNOI"
                :disabled="true">
            </div>

            <div class="form-group">
              <label>Ghi chú</label>
              <textarea 
                class="form-control" 
                rows="4"
                v-model="portInfo.GHI_CHU"
                placeholder="nhập thông tin ghi chú ( nếu có)">
              </textarea>
            </div>
          </div>
        </div>
        <div class="popup-footer text-center mt-2">
        <button type="button" class="btn btn-primary" @click="savePortInfo">
          <i class="fa fa-save"></i> Ghi lại
        </button>
        <button type="button" class="btn btn-secondary ml-2" @click="closeModal">
          <i class="fa fa-times"></i> Hủy
        </button>
      </div>
  </div>
</b-modal>
