<div class="go-daunoi">
  <div class="row">
    <div class="col-4">
      <div class="info-row">
        <div class="key w100"><label>Mã hạ tầng</label></div>
        <div class="value"><span class="form-control">{{thongTinHaTangIDG.MAHATANG_INFRA}}</span></div>
      </div>
    </div>
    <div class="col-8">
      <div class="info-row">
        <div class="key w120"><label>Tên hạ tầng IDG</label></div>
        <div class="value"><span class="form-control">{{thongTinHaTangIDG.TEN}}</span></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="info-row">
        <div class="key w100"><label>Loại hạ tầng</label></div>
        <div class="value"><span class="form-control">{{thongTinHaTangIDG.LOAIHATANG}}</span></div>
      </div>
    </div>
    <div class="col-8">
      <div class="info-row">
        <div class="key w120"><label>Công nghệ</label></div>
        <div class="value"><span class="form-control">{{thongTinHaTangIDG.HATANG_CONGNGHE}}</span></div>
      </div>
    </div>
  </div>
  <div class="info-row" style="line-height: 26px;color: #b13333;">
    Chọn hạ tầng ảo hóa / cloud đã đấu nối để thực hiện gỡ đấu nối
  </div>
  <div class="row">
    <div class="col-12">
      <DataGrid ref="gridItems" :allowPaging="true" :enablePagingServer="false" :showColumnCheckbox="true"
        :enabledSelectFirstRow="false" v-bind:columns="[
                {fieldName: 'LOAIHATANG', headerText: 'Loại hạ tầng', width: 100},
                {fieldName: 'MAHATANG_INFRA', headerText: 'Mã hạ tầng'},
                {fieldName: 'TEN', headerText: 'Tên hạ tầng'},
                {fieldName: 'HATANG_CONGNGHE', headerText: 'Công nghệ'},
                ]" v-bind:dataSource="dsHT"></DataGrid>
      </DataGrid>
    </div>
  </div>
</div>