<main class="ip-store-wrapper">
  <div class="legend-title d-flex justify-content-between  align-items-end">
    <p>Danh sách ip </p>
    <div class="button-group">
      <!-- <button @click="addIpStore" type="button" class="btn btn-primary btn-rounded">Thêm mới ip store</button> -->
    </div>
  </div>

  <DataGrid :allowPaging="true" :enablePagingServer="false" :showColumnCheckbox="false" :dataSource="danhSachIpData"
    :columns="columns"></DataGrid>
  <!-- 
  <AddIpStoreModal
    :item="selectedItem"
    :mode="modalMode"
    :visible="showAddIpStoreModal"
    @close="showAddIpStoreModal = false"
    @save="onSaveIpStore"
  /> -->

  <ViewEditIpStoreModal :item="selectedItem" :mode="modalMode" :visible="showViewEditIpStoreModal"
    @close="showViewEditIpStoreModal = false" @save="onSaveIpStore" />
</main>