<div class="">
  <div class="legend-title">Thông tin cổng (port) đi kèm</div>
  <div class="d-flex align-items-center justify-content-between">
    <div class="nav tab-over tabs" style="margin-top: 10px;">
      <a
        href="#tabInterface"
        v-on:click="tab_index = 1"
        data-toggle="tab"
        class="tab"
        :class="{active: tab_index === 1}"
        >Cổng dữ liệu</a
      >
      <a href="#tabPower" v-on:click="tab_index = 2" data-toggle="tab" class="tab" :class="{active: tab_index === 2}"
        >Cổng nguồn</a
      >
      <a href="#tabConsole" v-on:click="tab_index = 3" data-toggle="tab" class="tab" :class="{active: tab_index === 3}"
        >Cổng điều khiển</a
      >
    </div>
    <div class="action-buttons" v-if="currentMode != 'VIEW'">
      <button class="btn btn-sm btn-outline-primary" title="Thêm port" @click="showModalPortThietBi">
        <i class="fa fa-plus"></i>
      </button>
      <button class="btn btn-sm btn-outline-primary ml-2" title="Xoá port" @click="deletePort">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>

  <div>
    <div v-show="tab_index === 1" class="tab-pane" id="tabInterface" :class="{active: tab_index === 1}">
      <TabInterface
        :dataSource="interfacePorts"
        :loaiCongList="loaiCongList"
        :isViewMode="isViewMode"
        @edit-port="editPort"
        @port-selection-changed="onPortSelectionChanged"
      ></TabInterface>
    </div>
    <!-- Tab 2 -->
    <div v-show="tab_index === 2" class="tab-pane" id="tabPower" :class="{active: tab_index === 2}">
      <TabPower
        :dataSource="powerPorts"
        :loaiCongList="loaiCongList"
        :isViewMode="isViewMode"
        @edit-port="editPort"
        @port-selection-changed="onPortSelectionChanged"
      ></TabPower>
    </div>
    <!-- Tab 3 -->
    <div v-show="tab_index === 3" class="tab-pane" id="tabConsole" :class="{active: tab_index === 3}">
      <TabConsole
        :dataSource="consolePorts"
        :loaiCongList="loaiCongList"
        :isViewMode="isViewMode"
        @edit-port="editPort"
        @port-selection-changed="onPortSelectionChanged"
      ></TabConsole>
    </div>
  </div>
</div>
