<div> 
    <div class="popup-header d-flex" >
        <div class="flex-grow-1 title">{{Text.title}}</div>
        <div class="close -ap icon-close" data-dismiss="modal" @click='Close()' ></div>
    </div>
    <div class="popup-body">
        <div>{{Text.lblTieuDe2}}</div>
        <div v-show="Visible.txtTenVT"> </div>
        <div v-show="Visible.cboVatTu">
            <ejs-dropdownlist
                class="form-control"
                locale='vi-VN'
                v-model="params.p_VatTu"
                :dataSource='cboVatTu' 
                :fields="{value:'vatTuId', text: 'tenVatTu'}"
                :allowFiltering="true"
                >
            </ejs-dropdownlist>
        </div>
        <div v-if="Visible.dtpNgay">
            <ejs-datepicker
                locale='vi'
                v-model="params.dtpNgay"
                :format="'dd/MM/y hh:mm'">
            </ejs-datepicker> 
        </div>
        <div class="pt-3">{{Text.lblTieuDe}}</div>
        <div v-show="Visible.spMuc"></div>
        <div v-show="Visible.txtNhapText">
            <input ref="txtNhapText" type="text" class="form-control" v-model="params.txtNhapText" >
        </div>
        <div v-show="Visible.rdioCKb">
            <div class="list-checks red fw6 pt-3">
                <div class="item">
                    <div class="check-action">
                        <input type="radio" v-model="params.rdioCKb" checked="" class="check" checked value="1">
                        <span class="name">Cấp VT</span>
                    </div>
                </div>
                <div class="item">
                    <div class="check-action">
                        <input type="radio" v-model="params.rdioCKb" class="check" value="2">
                        <span class="name">Thu hồi VT</span>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="Visible.lblCanhBao">
            <span class="fa fa-exclamation-circle grid-control-error" style="color: red;"></span>
            Vui lòng nhập thông tin vào ô trên trước khi nhấn xác nhận
        </div>
    </div>
    <div class="popup-footer d-flex justify-content-end py-3">
        <button class="btn btn-outline-primary mr-4 btn-main" @click="btnXacNhan_Click">{{Text.btnXacNhan}}</button>
        <button class="btn btn-outline-primary mr-3" @click="btnHuyBo_Click">{{Text.btnHuyBo}}</button>
        <button class="btn btn-outline-primary" v-show="Visible.btnHuyThat" @click="btnHuyThat_Click">{{Text.btnHuyThat}}</button>
    </div>
</div>