<b-modal
  ref="modalEditOCung"
  size="xl"
  title="Chỉnh sửa Ổ cứng"
  hide-footer
  body-class="modal-body p-0"
  centered
>
  <div class="modal-content popup-box">
    <div class="popup-body">
      <div class="box-form">
        <div class="row">
          <div class="list-actions-top">
            <ul class="list">
              <li>
                <b-link href="javascript:void(0)" @click="onSave"> <span class="icon one-save"></span>Ghi lại </b-link>
              </li>
              <li>
                <b-link href="javascript:void(0)" @click="closeModal">
                  <span class="icon ui-1_circle-remove nc-icon-glyph"></span> Huỷ bỏ
                </b-link>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <!-- --------------CPU------------------- -->
          <div class="col-12">
            <div class="box-form">
              <div class="legend-title">
                Cấu hình Ổ cứng
              </div>
              <div class="row">
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Tên khe cắm (<span class="red">*</span>)</div>
                    <div class="value">
                      <input type="text" class="form-control" v-model.trim="currentOCung.TEN_VITRI" :disabled="false" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Tên ổ cứng(<span class="red">*</span>)</div>
                    <div class="value">
                      <input type="text" class="form-control" v-model.trim="currentOCung.TEN_OCUNG" :disabled="false" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Ký hiệu (<span class="red">*</span>)</div>
                    <div class="value">
                      <input type="text" class="form-control" v-model.trim="currentOCung.KYHIEU" :disabled="false" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Loại ổ cứng (<span class="red">*</span>)</div>
                    <div class="value">
                        <SelectExt
                        v-model="currentOCung.LOAIOCUNG_ID"
                        dataTextField="TEN"
                        dataValueField="ID"
                        :dataSource="dsDmLoaiOCung"
                        :disabled="false"
                        @change="loaiOCungChanged($event)"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Tốc độ (<span class="red">*</span>)</div>
                    <div class="value">
                      <input
                        type="number"
                        class="form-control"
                        v-model.trim="currentOCung.TOCDO"
                        :disabled="false"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Kích thước (<span class="red">*</span>)</div>
                    <div class="value">
                        <input
                        type="number"
                        class="form-control"
                        v-model.trim="currentOCung.KICHTHUOC"
                        :disabled="false"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Dung lượng (<span class="red">*</span>)</div>
                    <div class="value">
                        <input
                        type="number"
                        class="form-control"
                        v-model.trim="currentOCung.DUNGLUONG"
                        :disabled="false"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Part Number (<span class="red">*</span>)</div>
                    <div class="value">
                      <input
                        type="text"
                        class="form-control"
                        v-model.trim="currentOCung.PART_NUMBER"
                        :disabled="false"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="info-row">
                    <div class="key w150">Trạng thái VH (<span class="red">*</span>)</div>
                    <div class="value">
                      <SelectExt
                        v-model="currentOCung.TRANGTHAIVH_ID"
                        dataTextField="TEN"
                        dataValueField="ID"
                        :dataSource="dsDmTrangThaiVH"
                        :disabled="false"
                        @change="loaiTTVHChanged($event)"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</b-modal>
