a.disabled { color:lightgray !important; }
a.disabled:hover { color:lightgray !important; }
.disabled { pointer-events: none; }
.btn-main {
    background: #0176FF;
    color: #fff;
}
.key span {
    color: var(--bs-body-color)!important;
}
.key {
    font-weight: 500!important;
}

.w80 {
    width: 100px!important;
}
.w85 {
    width: 75px!important;
    padding-left: 5px;
}
.w83 {
    width: 120px!important;
    padding: 5.5px 0px 6px 10px!important;
}
.kq2 input {
    text-align: right!important;
}
.kq3 input {
    text-align: left;
    font-weight: 700;
}
.kq4 input {
    text-align: left;
    font-weight: 700;
    color: royalblue;
}      
.kq input {
    text-align: left;
    color:red;
    font-weight: 500;
    font-style: italic;
}
.kq1 input {
    text-align: right!important;
    font-weight: 700;
}
.key span {
    color: red!important;
}
.disabledInput {
    pointer-events: none;
    color:lightgray !important;
}

