<div class="row">
  <div class="col-12">
    <div class="box-form">
      <div class="row">
        <div class="legend-title d-flex">
          <span>Danh sách vùng dữ liệu</span>
          <span class="red ms-auto">Click đúp để xem chi tiết phiếu</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <DataGrid ref="dsVungDuLieuGrd" :allowPaging="true"
                  :enablePagingServer="false"
                  :showColumnCheckbox="true"
            v-bind:columns="[
                              {fieldName: 'STT', headerText: 'STT', textAlign: 'Center', width: 80},
                              {fieldName: 'ID ', headerText: 'ID Vùng dữ liệu', width: 100, textAlign: 'Left'},
                              {fieldName: 'TEN', headerText: 'Tên vùng dữ liệu', textAlign: 'Left'},
                              {fieldName: 'GHI_CHU', headerText: 'Dung lượng NLLT', textAlign: 'Left'},
                              {fieldName: 'GHI_CHU', headerText: 'Khả năng cấp phát', textAlign: 'Left'},
                              {fieldName: 'GHI_CHU', headerText: 'NLLT đã cấp', textAlign: 'Left'},
                              {fieldName: 'GHI_CHU', headerText: 'NLLT còn lại', textAlign: 'Left'},
                              {fieldName: 'GHI_CHU', headerText: 'Thao tác', textAlign: 'Left'}
                            ]" v-bind:dataSource="dsVungDuLieuList"
                            @rowSelected="dsVungDuLieuGrd_RowSelected"
                            @rowDeselected="dsVungDuLieuGrd_RowDeselected"
                            @recordDoubleClick="onRowDoubleClick"">
          </DataGrid>
        </div>
      </div>
    </div>
  </div>
  <ChiTietVungDuLieu ref="popupChiTietVungDuLieu"/>
</div>
