
/deep/ .table-result tbody tr:nth-child(2n+2):hover {
  background-color: #FFF9EB !important;
}

/deep/ .table-result tbody tr:nth-child(2n+2).highlight1 {
  background-color: #F9E1A9 !important;
}

/deep/ .grid table tr th button.btn-sort:not(.btn-sorted) {
  opacity: 0.2;
}

/deep/ .grid table tr th button.btn-sort {
  background-color: transparent;
  border: 0px;
  padding-right: 0px;
  color: #007eff;
}

/deep/ .list-actions-top .list > li.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

/deep/ .list-actions-top .list > li.disabled > a {
  color: #6c757d !important;
}

/deep/ .modal-export .modal-dialog .modal-body {
  padding: 0;
 }

 /deep/ .table-lydo .table-result tr th:last-child {
   width: 100px;
   text-align: center !important;
 }

 /deep/ .table-lydo .table-result tr td:last-child {
  text-align: center !important;
}