a.disabled { color:lightgray !important; }
a.disabled:hover { color:lightgray !important; }
.disabled { pointer-events: none; }
.btn-main {
    background: #0176FF;
    color: #fff;
}
.table-result td.selected {
    border-left: 1px solid #E0E0E0!important;
}

.nd {
    width: 100px;
    padding-left: 10px;
}

.hieu-luc{
    padding: 0px 10px;
}
.disabledInput {
    pointer-events: none;
    color:lightgray !important;
}
.key span {
    color: #d32f2f ;
}

.mx-datepicker {
    width: 100% !important;
}