<div class="modal-content popup-box">
	<div class="popup-header">
		<div class="title">DataRunSql Collection Editor</div>
		<div class="close -ap icon-close" data-dismiss="modal" @click="$bvModal.hide('modal-run-sql')">
		</div>
	</div>
	<div class="popup-body">
		<div class="box-move-select-table">
			<div class="box-col box-form" style="width: 40%;">
				<div class="table-content">
					<table class="table-result table-gachle table-border-none">
						<tbody>
							<tr>
								<th colspan="2">Members:</th>
							</tr>
							<tr v-for="(item, index) in dataLst" @click="showDetailConds(item)"
								:class="itemSelected.SQL_ID == item.SQL_ID ?'highlight1':''">
								<td class="w20">{{index}}</td>
								<td>{{item.SQL_NAME}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="list-actions-top center" style="box-shadow: none;padding-right: 0px;">
					<ul class="list">
						<li>
							<a href="#" @click.prevent="onAddItem">
								<span class="icon ui-1_circle-add nc-icon-glyph"></span> Add
							</a>
						</li>
						<li>
							<a href="#" @click.prevent="onRemoveItem">
								<span class="icon one-trash"></span> Remove
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="actions ontop">
				<button class="btn btn-third" @click="moveUp">
					<span class="nc-icon-glyph arrows-1_simple-up"></span>
				</button>
				<button class="btn btn-third" @click="moveDown">
					<span class="arrows-1_simple-down nc-icon-glyph"></span>
				</button>
			</div>
			<div class="box-col box-form" style="width: calc(60% - 50px);">
				<div class="title-bg-main">{{itemSelected.SQL_NAME}} properties:</div>
				<div class="acts bg-gray pad5">
					<a href="#" @click.prevent="treeView = true" class="act pad2 lh16 text-main btn f20" :class="treeView ? 'active-view-type': ''">
						<span class="nc-icon-outline business_hierarchy-53"></span>
					</a>
					<a href="#" @click.prevent="treeView = false" class="act pad2 lh16 text-main btn f20" :class="!treeView ? 'active-view-type': ''">
						<span class="one-sort"></span>
					</a>
					<a href="#"  @click.prevent="" class="act pad2 lh16 btn text-desc f20">
						<span class="one-reload1"></span>
					</a>
				</div>
				<div class="table-content">
					<table class="table-grid-dstb table-result table-filter">
						<tbody>
							<tr class="highlight" :class="showAll ? 'show' : 'hide'" v-show="treeView">
								<td colspan="3" class="fw6">
									<span class="down" @click="showAll=!showAll"></span>Misc
								</td>
							</tr>
							<tr v-show="showAll">
								<td class="highlight w20"></td>
								<td>
									Key_field
								</td>
								<td class="bg-white fw6">
									<input type="text" class="form-control" v-model="itemSelected.KEY_FIELD">
								</td>
							</tr>
							<tr v-show="showAll">
								<td class="highlight w20"></td>
								<td>
									Name
								</td>
								<td class="bg-white fw6">
									<input type="text" class="form-control" v-model="itemSelected.SQL_NAME">
								</td>
							</tr>
							<tr v-show="showAll"  :class="showSql? 'show' : 'hide'">
								<td class="highlight w20">
									<span class="down" @click="showSql=!showSql"></span>
								</td>
								<td>
									Sql
								</td>
								<td>
									<div class="div-more">
										<span>String[]Array</span>
										<button class="btn btn-outline-primary" @click="$bvModal.show('modal-sql')">
										  <span class="-ap icon-more_horiz"></span>
										</button>
									</div>
								</td>
							</tr>
							<tr v-show="showSql && showAll" v-for="(item, index) in itemSelected.SQL_CONVERT">
								<td class="highlight w20"></td>
								<td>
								  <div class="treegrid-indent"></div>
								  <div class="treegrid-indent"></div>
								  [{{index}}]
								</td>
								<td class="bg-white">
								  <input type="text" class="form-control" v-bind:value="item">
								</td>
							  </tr>
						</tbody>
					</table>
				</div>
				<div class="group-buttons -bottom tright">
					<button class="btn-main btn">OK</button>
					<button class="btn-second btn" @click="$bvModal.hide('modal-run-sql')">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<b-modal id="modal-sql" modal-class="modal-luot-da-giao" hide-footer hide-header no-close-on-backdrop
	size="lg">
	<sql-modal :data="itemSelected.SQL_CMD" :id="'modal-sql'"></sql-modal>
</b-modal>
</div>