.btn-main {
  background: #0176ff;
  color: #fff;
}
.btn-main:hover {
  background: #035fcc;
  color: #fff;
}
.table-result .form-control {
  height: auto !important;
  min-width: 40px;
}
.active-view-type {
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.btn-second {
  background-color: #fff;
  border-color: #0176ff;
  color: #0176ff;
  font-weight: 600;
}

.btn-second:hover,
.btn-second.active {
  background: #0176ff;
  color: #fff;
}

.btn-second.button-note-bg:hover,
.btn-second.button-not-bg:hover {
  background-color: #0176ff;
}

.div-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/deep/ .modal-body {
  padding: 0!important;
}