<div class="row">
  <div class="col-sm-6 col-12">
    <div class="info-row">
      <div class="key w160">Số cổng</div>
      <div class="value">
        <input
          type="number"
          class="form-control"
          v-model="currentItem.soCong"
          :disabled="currentMode == 'VIEW' || !controls.txtSoCong.enabled"
          :class="controls.txtSoCong.invalid ? 'is-invalid' : ''"
          min="1"
          placeholder="Nhập số cổng"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w160">Tên cổng</div>
      <div class="value">
        <input
          type="text"
          class="form-control"
          v-model="currentItem.tenCong"
          :disabled="currentMode == 'VIEW' || !controls.txtTenCong.enabled"
          :class="controls.txtTenCong.invalid ? 'is-invalid' : ''"
          placeholder="Nhập tên cổng"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w160">Loại cổng</div>
      <div class="value">
        <SelectExt
          v-model="currentItem.loaiCong"
          dataTextField="TEN"
          dataValueField="ID"
          :dataSource="[...loaiCongOptions]"
          :settings="{allowClear:true, placeholder: 'Chọn loại cổng'}"
          :disabled="currentMode == 'VIEW' || !controls.txtLoaiCong.enabled"
          :class="{invalidBox: controls.txtLoaiCong.invalid}"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w160">Băng thông</div>
      <div class="value">
        <input
          type="number"
          class="form-control"
          v-model="currentItem.bangThong"
          :disabled="currentMode == 'VIEW' || !controls.txtBangThong.enabled"
          :class="controls.txtBangThong.invalid ? 'is-invalid' : ''"
          min="1"
          placeholder="Nhập băng thông"
        />
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-12">
    <div class="info-row">
      <div class="key w160">Module</div>
      <div class="value">
        <SelectExt
          v-model="currentItem.moduleId"
          dataTextField="TEN"
          dataValueField="ID"
          :dataSource="[...moduleList]"
          :settings="{allowClear:true, placeholder: 'Chọn module'}"
          :disabled="currentMode == 'VIEW' || !controls.selectModule.enabled"
          :class="{invalidBox: controls.selectModule.invalid}"
        />
      </div>
    </div>
    <div class="info-row">
      <div class="key w160">Mục đích sử dụng</div>
      <div class="value">
        <SelectExt
          v-model="currentItem.mucDichSuDungId"
          dataTextField="TEN"
          dataValueField="ID"
          :dataSource="[...mucDichSuDungList]"
          :settings="{allowClear:true, placeholder: 'Chọn mục đích sử dụng'}"
          :disabled="currentMode == 'VIEW' || !controls.selectMucDichSuDung.enabled"
          :class="{invalidBox: controls.selectMucDichSuDung.invalid}"
        />
      </div>
    </div>
  </div>
</div>
