<div>
	<div class="header d-flex">
		<div class="d-inline-flex align-items-center">
			<div class="logo">
				<img width="60px" src="../../../../../assets/img/vnpt-logo.svg">
			</div>
			<div class="text-center">
				<div class="fw6">VIỄN THÔNG HẢI PHÒNG</div>
				<div>PHÒNG KỸ THUẬT ĐẦU TƯ</div>
			</div>
		</div>
		<!-- <div class="text-center fw6">
			<div>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</div>
			<div>Độc lập - Tự do - Hạnh phúc</div>
		</div> -->
	</div>
	<div class="body">
		<div class="fw6 text-center mt-4" style="font-size: 18px;">
			PHIẾU GIÁ THANH TOÁN
		</div>
		<div class="ml-4 mt-4">
			<table class="table-1">
				<tr>
					<td>Nội dung: {{noiDung}}</td>
				</tr>
				<tr>
					<td>Tên nhà thầu: {{tenNhaThau}}</td>
				</tr>
				<tr>
					<td>Mã hợp đồng: {{maHd}}</td>
				</tr>
				<tr>
					<td>Căn cứ vào hồ sơ đề nghị thanh toán của nhà thầu.</td>
				</tr>
				<tr>
					<td>Kính đề nghị Lãnh đạo Viễn thông Hải Phòng duyệt thanh toán:</td>
				</tr>
			</table>
		</div>
		<div class="mt-2">
			<table class="table table-2" style="max-width: 1080px;">
				<thead>
					<tr>
						<th>
							STT
						</th>
						<th>
							Nội dung
						</th>
						<th>
							Đơn vị tính
						</th>
						<th>
							Số lượng
						</th>
						<th>
							Đơn giá
						</th>
						<th>
							Giá trị<br>
							(trước VAT)
						</th>
						<th>
							Thuế VAT
						</th>
						<th>
							Tổng cộng
						</th>
						<th>
							Giá trị đã <br>thanh toán
						</th>
						<th>
							Giá trị đề nghị<br> thanh toán kỳ<br> này
						</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(item, index) in data" v-if="data && data.length > 0">
						<td>
							{{item.STT}}
						</td>
						<td style="word-break: break-all;">
							{{item.NOIDUNG}}
						</td>
						<td>
							{{item.DVI_TINH}}
						</td>
						<td>
							{{item.SOLUONG}}
						</td>
						<td>
							{{item.DONGIA}}
						</td>
           				 <td>
							{{item.TIEN}}
						</td>
						<td>
							{{item.VAT}}
						</td>
						<td>
							{{item.TONGTIEN}}
						</td>
						<td>
							{{item.TIEN_DA_TT}}
						</td>
						<td>
							{{item.TIEN_CHUA_TT}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- <div class="html2pdf__page-break"></div> -->
	<div class="p-4 mt-4">
		<div class="d-flex justify-content-around">
			<div class="text-center">
				<div class="fw-600 ">
					PHÒNG KỲ THUẬT ĐẦU TƯ
				</div>
			</div>
			<div class="text-center">
				<div class="fw-600 ">
					KẾ TOÁN TRƯỞNG
				</div>
			</div>
			<div class="text-center">
				<div>Hải Phòng, ngày {{currentDate.date}} tháng {{currentDate.month}} năm {{currentDate.year}}</div>
				<div class="fw-600 ">
					VIỄN THÔNG HẢI PHÒNG
				</div>
			</div>
		</div>
	</div>

</div>