>>> .text-purple {
    color: #C947F5 !important;
}
>>> .select2-container { 
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table;
    table-layout: fixed;
}
>>> .text-rose {
    color: #FF007F !important;
}
>>> .text-red {
    color: red !important;
}