<div class="row ">
  <div class="box-form" v-if="phieuThiCongDetail.TRANGTHAI_ID != 21">
    <div class="legend-title">Thông tin công việc thực hiện</div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Mã công việc</div>
          <div class="value">
            <input type="text" class="form-control" :disabled="true" v-model="phieuThiCongDetail.MA_CV" />
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Đơn vị thực hiện</div>
          <div class="value">
            <input type="text" class="form-control" :disabled="true" v-model="phieuThiCongDetail.TEN_DV" />
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Người thực hiện</div>
          <div class="value">
            <input type="text" class="form-control" :disabled="true" v-model="phieuThiCongDetail.TEN_NV" />
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Người phối hợp</div>
          <div class="value">
            <input type="text" class="form-control" :disabled="true" v-model="phieuThiCongDetail.DANHSACH_NV_PHOIHOP" />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Loại công việc</div>
          <div class="value">
            <input type="text" class="form-control" :disabled="true" v-model="phieuThiCongDetail.LOAI_CV" />
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Hạng mục triển khai</div>
          <div class="value">
            <input type="text" class="form-control" :disabled="true" v-model="phieuThiCongDetail.TEN_CV" />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Thời điểm yêu cầu</div>
          <div class="value">
            <div class="">
              <input type="text" class="form-control" v-model="phieuThiCongDetail.NGAY_YC" :disabled="true" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Ngày yêu cầu hoàn thành</div>
          <div class="value">
            <div class="">
              <input type="text" class="form-control" v-model="phieuThiCongDetail.NGAY_YCHT" :disabled="true" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Căn cứ Phiếu yêu cầu</div>
          <div class="value">
            <input type="text" class="form-control" :disabled="true" v-model="phieuThiCongDetail.CANCU_YC" />
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Thời điểm hoàn thành</div>
          <div class="value">
            <div class="">
              <input type="text" class="form-control" v-model="phieuThiCongDetail.NGAY_HT" :disabled="true" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Mã công việc cha</div>
          <div class="value">
            <input type="text" class="form-control" :disabled="true" v-model="phieuThiCongDetail.MA_CV_CHA" />
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Trạng thái thực hiện</div>
          <div class="value">
            <input type="text" class="form-control" v-model="phieuThiCongDetail.TRANG_THAI" :disabled="true" />
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="phieuThiCongDetail.HDTB_ID != null && phieuThiCongDetail.TINH_ID != null">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Khách hàng</div>
          <div class="value">
            <input type="text" class="form-control" :disabled="true" v-model="phieuThiCongDetail.TEN_KH" />
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Mã thuê bao</div>
          <div class="value">
            <div class="">
              <input type="text" class="form-control" v-model="phieuThiCongDetail.MA_TB" :disabled="true" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="phieuThiCongDetail.GOICUOC != null || phieuThiCongDetail.MATSAN != null">
    <div class="col-sm-6 col-12">
      <div class="info-row">
        <div class="key w160">IDC</div>
        <div class="value">
          <input type="text" class="form-control" :disabled="true" v-model="phieuThiCongDetail.IDC_TEN" />
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-12">
      <div class="info-row">
        <div class="key w160">Gói cước mạng</div>
        <div class="value">
          <div class="">
            <input type="text" class="form-control" v-model="phieuThiCongDetail.GOICUOC" :disabled="true" />
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-sm-6 col-12">
      <div class="info-row">
        <div class="key w160">Mặt sàn</div>
        <div class="value">
          <input type="text" class="form-control" :disabled="true" v-model="phieuThiCongDetail.MATSAN" />
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-12">
      <div class="info-row">
        <div class="key w160">Giá trị khai báo</div>
        <div class="value">
          <div class="">
            <input type="text" class="form-control" v-model="phieuThiCongDetail.GIATRI_KHAIBAO" :disabled="true" />
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row" v-if="phieuThiCongDetail.TRONGNUOC != null && phieuThiCongDetail.QUOCTE != null">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Trong nước</div>
          <div class="value">
            <input type="text" class="form-control" :disabled="true" v-model="phieuThiCongDetail.TRONGNUOC" />
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">Quốc tế</div>
          <div class="value">
            <div class="">
              <input type="text" class="form-control" v-model="phieuThiCongDetail.QUOCTE" :disabled="true" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Số lượng và địa chỉ IP cần cấp phát hoặc thu hồi -->
    <div class="row" v-if="shouldShowIPInfo">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">{{ soLuongIPLabel }}</div>
          <div class="value">
            <input type="text" class="form-control" :disabled="true" v-model="phieuThiCongDetail.SOLUONG_IP" />
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w160">{{ diaChiIPLabel }}</div>
          <div class="value">
            <div class="">
              <input type="text" class="form-control" v-model="phieuThiCongDetail.DIACHI_IP" :disabled="true" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <ChiTietCongViec 
  class="p-0"
  ref="chiTietCongViecRef"
  v-if="phieuThiCongDetail.TRANGTHAI_ID == 21"  
  :isModal="false"
  :pPhieuThiCongId="phieuThiCongDetail.PHIEUTC_ID"
  ></ChiTietCongViec>
</div>
