<div>
    <div class="row">
        <div class="col-sm-7 col-12">
            <div class="info-row">
                <div class="key">Mã TN</div>
                <div class="value">
                    <div class="input-more-button">
                        <button class="btn" @click="btnMaTN_ADSL_Click" :disabled="!btnMaTN_ADSL.Enabled">
                            <span class="-ap icon-more_horiz"></span>
                        </button>
                        <input type="text" class="form-control highlight" v-model="txtMaTN_ADSL.Text" :disabled="!txtMaTN_ADSL.Enabled">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-12">
            <div class="info-row">
                <div class="key">Trang bị</div>
                <div class="value">
                    <SelectExt
                        v-model="cboTrangBiADSL.Value" 
                        :dataSource="cboTrangBiADSL.DataSource" 
                        dataValueField="trangbi_id"
                        dataTextField="tentrangbi" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 col-12">
            <div class="info-row">
                <div class="key">Tốc độ</div>
                <div class="value">
                    <SelectExt
                        v-model="cboGoiCuocAdsl.Value" 
                        :dataSource="cboGoiCuocAdsl.DataSource" 
                        :disabled="true"
                        dataValueField="tocdo_id"
                        dataTextField="thuonghieu" />
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-12">
            <div class="info-row">
                <div class="key">Mức cước</div>
                <div class="value">
                    <SelectExt
                        v-model="cboMucCuoc.Value" 
                        :dataSource="cboMucCuoc.DataSource" 
                        :disabled="true"
                        dataValueField="muccuoc_id"
                        dataTextField="tenmuc" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 col-12">
            <div class="info-row">
                <div class="key">Email</div>
                <div class="value">
                    <input type="text" class="form-control" readonly v-model="txtEmailAdsl.Text">
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-12">
            <div class="info-row">
                <div class="key">Loại TBi</div>
                <div class="value">
                    <SelectExt
                        v-model="cboLoaiTBAdsl.Value" 
                        :dataSource="cboLoaiTBAdsl.DataSource" 
                        :disabled="true"
                        dataValueField="thietbidc_id"
                        dataTextField="ten_tbi" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 col-12">
            <div class="info-row">
                <div class="key">
                    <div class="check-action">
                        <input type="checkbox" class="check" v-model="chkDoiTac_ADSL.Checked">
                        <span class="name">Đối tác</span>
                    </div>
                </div>
                <div class="value">
                    <combobox-grid
                        ref="ref-combo-doitac"
                        gridPanelDataHeight="300"
                        :columns="[
                            {fieldName: 'doitac_id', headerText: '', visible: false, isPrimaryKey: true },
                            {fieldName: 'ten_dt', headerText: 'Tên đối tác', allowFiltering: true, width: '70%' },
                            {fieldName: 'ma_dt', headerText: 'Mã đối tác', allowFiltering: true, width: '26%' }
                        ]"
                        :dataSource="cboDoiTac_ADSL.DataSource"
                        :enabled="cboDoiTac_ADSL.Enabled"
                        :enabledSelectFirstRow="true"
                        valueField="doitac_id"
                        textField="ten_dt"
                        @selectedChanged="onSelectDoiTac"></combobox-grid>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-12">
            <div class="info-row">
                <div class="key">Cước ĐT</div>
                <div class="value">
                    <input type="text" class="form-control" v-model="txtCuocDT_Adsl.Text" :disabled="!txtCuocDT_Adsl.Enabled" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-12">
            <component v-for="comboDonVi in dsComboDonVi" :ref="comboDonVi.key" :key="comboDonVi.key" v-bind:is="comboDonVi" />
        </div>
    </div>
    <frmDSTBCungDoiCap ref="ref-ds-thue-bao-cung-cap"></frmDSTBCungDoiCap>
    <frmDSTBLapKem ref="ref-ds-thue-bao-lap-kem"></frmDSTBLapKem>
    <frmDSTBCungDoiCap_KH_Khac ref="frmDSTBCungDoiCap_KH_Khac"></frmDSTBCungDoiCap_KH_Khac>
</div>