
<div class="row">
  <div class="col-12">
    <div class="legend-title">Nghiệp vụ IDC</div>
  </div>
  <div class="col-12">
    <DataGrid
      ref="gridItems"
      :allowPaging="true"
      :enablePagingServer="false"
      :showColumnCheckbox="false"
      v-bind:columns="[
          { fieldName: 'MA_CV', headerText: 'Mã CV', textAlign: 'Center', width: '40px' },
          { fieldName: 'PHIEUTC_ID', headerText: 'Phiếu YC', textAlign: 'Left', width: '40px' },
          { fieldName: 'TEN_KH', headerText: 'Hạng mục triển khai', textAlign: 'Left', width: '100px' },
          { fieldName: 'LOAI_THICONG', headerText: 'Loại công việc', textAlign: 'Left', width: '80px' },
          { fieldName: 'TEN_IDC', headerText: 'Đơn vị thực hiện', textAlign: 'Left', width: '100px' },
          { fieldName: 'NHANVIEN_THUCHIEN', headerText: 'Cá nhân thực hiện', textAlign: 'Center', width: '60px' },
          { fieldName: 'PHOIHOP_TH', headerText: 'Phối hợp thực hiện', textAlign: 'Center', width: '80px' },
          { fieldName: 'THOIHAN_TH', headerText: 'Thời hạn thực hiện', textAlign: 'Center', width: '80px' },
          { fieldName: 'TRANGTHAI_THICONG', headerText: 'Trạng thái thực hiện', textAlign: 'Center', width: '60px' }
        ]"
      :dataSource="dataItems"
    />
  </div>
</div>