a.disabled { color:lightgray !important; }
a.disabled:hover { color:lightgray !important; }
.disabled { pointer-events: none; color:lightgray; border-color:lightgray; }
input.disabled, select.disabled, .disabled input, .disabled select, .disabled .btn,.disabled /deep/ .select2-selection { background-color: #EEE; color:lightgray; border-color: lightgray; }

li.active { background-color:lightblue; }
.mx-datepicker { width:100%; }
ul.form-control.listview { list-style:none; cursor: pointer; }


input:focus:invalid {
    border-color:red;
    background-color: lightcoral;
}

.btn-second { border-color: #0d6efd; }
.img-thuebao{
    height: 250px;
    object-fit: fill;
}

.img-full{
    max-height: 70vh;
    object-fit: none;
}
