
.main-panel{
  z-index: 2;
  position: relative;
}
.nav-left{
  border-radius: 5px 0 0 0;
  border-right: none ;
}
.nav-right{
  border-radius: 0 5px 0 0;
  left: -4px;
  border-left: none;
}
.active{
  background-color: white;
  color: #035fcc;
  z-index: 3;
}

.btn-tb-file{
  color: #035fcc;
  margin: 5px;
  font-size: large;
  cursor: pointer;
}
.btn-tb-file:hover{
  color: #003678;
}

.btn-tb-congdoan{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin: 10px;
  margin-top: 0px;
}

input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0; /* Optional: You can adjust margins to align with your input */
  }

.tree-pv{
  border: rgba(73, 80, 87, 0.3)  1px solid;
  border-radius: 4px;
  .vue-treeselect__control{
    border: none;
  }
}
.temp_sum{
  color: red;
  border: rgba(73, 80, 87, 0.3)  1px solid;
  display: inline-block;
  width: 100%;
  border-radius: 3.5px;
  padding: 4px 4px;
  // text-align: end;  
  background-color: #fff9eb;
}


#popupDiaChiKH{
  .btn{
    color: #035fcc !important;
    border: 1px solid #035fcc !important;
  }
  .btn:hover{
    color: white !important;
  }
}
.key{
  font-weight: 500;
}
.list li a{
  cursor: pointer;
}

.info-row{
  margin-bottom: 7px;
}

.btn-add-CD{
  font-size: larger;
}

@media screen and (max-width: 750px) {
  .nav-btn{
    margin-top: 15px;
  }
}