.disabled {
    cursor: not-allowed;
    color: #666 !important;
  }
  .mx-datepicker {
    width: 100% !important;
  }
  .modal-custom .page-content {
    position: unset;
  }
  @media (min-width: 992px) {
    .modal .modal-huge {
      max-width: 95% !important;
      width: 100% !important;
    }
  }
  @media (min-width: 576px) {
    .modal .modal-huge {
      max-width: 95% !important;
      width: 100% !important;
    }
  }
  