a.disabled { color:lightgray !important; }
a.disabled:hover { color:lightgray !important; }
.disabled { pointer-events: none; }
.btn-main {
    background: #0176FF;
    color: #fff;
}

.btn {
    padding: 5px 10px;
    border-radius: 4px;
}

div.is-invalid {
    border-color:#dc3545;
    border:1px solid #dc3545;
    background-position:right calc(0.375em + 0.1875rem) center;
}

.traphieu .page-content, .tracuu .page-content {
    position: unset;
}

.list-actions-top .list {
    overflow: visible !important;
}

.collapsed.fa-angle-up,
.not-collapsed.fa-angle-down {
    display: none !important;
}

.cl_do {
    color: red !important
}

.cl_xanh {
    color: blue !important
}

.main-wrapper-popup-chuyento  .page-content { position:inherit !important; }
.chuyenTo .page-content {
  top: 130px !important;
}
.chuyenToPopupBody {
  min-height: 800px;
}
.chuyenToPopupBody .page-content {
  top: 0px !important;
  position: inherit !important;
}
/deep/ .chuyenToPopupBody .page-content {
  top: 0px !important;
  position: inherit !important;
}

#popupComponentChuyenTos .page-content {
  position: inherit !important;
}

.non-ative a {
  color: #d3d3d3 !important;
}

.popupGiaoPhieu .page-content {
  position: inherit;
}

.popupGiaoPhieu .breadcrumb-top {
  display: none;
}

.popupGiaoPhieu .main-wrapper {
  position: unset !important;
}