<div>
  <div class="list-actions-top">
    <ul class="list">
      <li @click="clearForm()" :class="{'disable-btn': isDisableBtnNhapMoi}">
        <a href="javascript:void(0)">
          <span class="icon one-file-plus"></span>Nhập mới
        </a>
      </li>
      <li @click="SaveAs()" :class="{'disable-btn': isDisableBtnGhiLai}">
        <a href="javascript:void(0)">
          <span class="icon one-save"></span>Ghi lại
        </a>
      </li>
      <li @click="cancelForm()" :class="{'disable-btn': isDisableBtnHuy}">
        <a href="javascript:void(0)" >
          <span class="icon nc-icon-glyph ui-1_circle-remove"></span>Hủy
        </a>
      </li>
      <li @click="xoaHknNoiTinh()" :class="{'disable-btn': isDisableBtnXoa}">
        <a href="javascript:void(0)">
          <span class="icon one-trash"></span>Xóa
        </a>
      </li>
    </ul>
  </div>
  <div class="page-content">
    <div class="box-form">
      <div class="legend-title">
        Thông tin hướng kết nối
      </div>
      <div class="info-row">
        <div class="key w100">
          Vùng &nbsp; <bss-required-marker />
        </div>
        <div class="value">
          <div class="select-custom">
            <bss-error-marker :has-error="$v.vungId.$error">

              <select v-model="vungId" class="form-control">
                <option  v-for="vungId in vungKn" :value="vungId.DONVI_ID" :class="{ 'is-invalid': $v.vungId.$error }">{{vungId.TEN_DV}}</option>
              </select>
            </bss-error-marker>
          </div>
        </div>
      </div>
      <div class="info-row">
        <div class="key w100">
          Loại kết nối &nbsp; <bss-required-marker />
        </div>
        <div class="value">
          <div class="select-custom">
            <bss-error-marker :has-error="$v.loaiKnId.$error">
              <select v-model="loaiKnId" class="form-control">
                <option v-for="loaiId in loaiKn" v-bind:value="loaiId.LOAIKN_ID">{{loaiId.LOAI_KN}}</option>
              </select>
            </bss-error-marker>

          </div>
        </div>
      </div>
      <div class="info-row">
        <div class="key w100">
          Cổng kết nối &nbsp; <bss-required-marker />
        </div>
        <div class="value">
          <div class="select-custom">
            <bss-error-marker :has-error="$v.thietBiId.$error">
              <select v-model="thietBiId" class="form-control">
                <option v-for="thietBiId in thietBiKn" :value="thietBiId.KENH_ID" :class="{ 'is-invalid': $v.thietBiId.$error }">{{thietBiId.TEN_KENH}}</option>
              </select>
            </bss-error-marker>
          </div>
        </div>
      </div>

    </div>
    <!--    <div class="popup-body">-->
    <div class="box-form">
      <div class="legend-title">
        <div class="title">Danh sách hướng kết nối</div>
      </div>
      <DataGrid v-bind:columns="[
                        {fieldName: 'STT', width:'8%', headerText: 'STT', allowFiltering: true},
                        {fieldName: 'TENHUONG',width:'45%', headerText: 'Hướng kết nối', allowFiltering: true},
                        {fieldName: 'LOAI_KN',width:'45%', headerText: 'Loại kết nối', allowFiltering: true}
                    ]"
                :enable-paging-server="false"
                :allow-paging="true"
                v-bind:dataSource="dsHknNoiTinh" :showFilter="true" @selectedRowChanged="grid_selectedRowChanged" ref="table" ></DataGrid>
    </div>
  </div>
  <!--  </div>-->
  <!-- Modal -->
  <b-modal v-model="modalXoa" cancelTitle="Huỷ" okTitle="Đồng ý" title="" size="sm" @ok="xacNhanXoaHknNoiTinh()">
    <span>Bạn thật sự muốn xóa dữ liệu không?</span>
  </b-modal>
</div>

