.btn-info {
  color: #0176FF;
  background-color: #BAE7FF;
  border-color: #ffffff;
}

.btn:not(.btn-secondary) {
  font-size: 4 px;
  border-radius: 50%;
}

.icon{
  font-size: 12px;
}

.input-group {
  display: table !important;
}

.vattu_box {
  position: relative;
}

.vattu_tabled {
  position: absolute;
  z-index: 1;
  max-height: 200px;
  background: aliceblue;
  overflow-y: scroll;
  // width: 100%;
}

.disabledInput {
  pointer-events: none;
  opacity: 0.4;
}
