<div class="main-wrapper">
    <breadcrumb :header="header" />
    <div class="list-actions-top" style="position: unset;">
        <ul class="list" style="position: unset;">
            <li>
                <a @click="btnSearch_Click">
                    <span class="icon one-search"></span>Tra cứu
                </a>
            </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="box-form">
            <div class="row">
                <div class="col-sm-6 col-12">
                    <div class="legend-title mart0">
                        <div class="pull-left mart10">
                            Tra cứu lịch sử thông tin Gphone
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="info-row">
                        <div class="key w80">
                            <div class="check-action">
                                <input v-on:change="rcheckChange" type="radio" value="maTT" class="check" v-model="rcheck">
                                <span class="name">Mã TT</span>
                            </div>
                        </div>
                        <div class="value col-sm-7">
                            <div class="input-more-button -left">
                                <button class="btn" @click="tracuudanhbaTB">
                                    <span class="-ap icon-more_horiz"></span>
                                </button>
                                <div class="input-group input_g">
                                    <input ref="rmatt" :readonly="rcheck==='soMay'" class="form-control highlight font-weight-bold" type="text" v-on:keyup.enter="btnSearch_Click" v-model="intMaTT">
                                    <div v-if="rcheck=='maTT'" class="input-group-append form-group dropdown" :class="`${dropdownExpand.isShow}`">
                                        <div data-toggle="dropdown" class="bg-primary" aria-haspopup="true" :aria-expanded="`${dropdownExpand.status}`">
                                            <i class="fa text-white fa-search icon_padding"></i>
                                        </div>
                                        <div class="dropdown-menu dropdown_custom fullw pad10" :class="`${dropdownExpand.isShow}`">
                                            <div class="table-content">
                                                <DataGrid ref="tableDataSearch " v-bind:columns="headerGridSearch " v-bind:dataSource="gridSearch.data " :enablePagingServer="false " :allowPaging="true " :showFilter="true " :allowTextWrap="true" @recordClick="selectedItemsChangedGridbox" />
                                            </div>
                                        </div>
                                    </div>
                                    <div v-if="rcheck=='soMay'" class="input-group-append form-group">
                                        <div class="bg-primary">
                                            <i class="fa text-white fa-search icon_padding"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="value">
                            <input :readonly="true" class="form-control highlight" type="text" v-model="intMaTT_VNP">
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="key w80">
                            <div class="check-action">
                                <input v-on:change="rcheckChange" type="radio" value="soMay" class="check" v-model="rcheck">
                                <span class="name">Số máy</span>
                            </div>
                        </div>
                        <div class="value col-sm-6">
                            <div class="input-more-button -left">
                                <button class="btn" @click="tracuudanhbaTB">
                                    <span class="-ap icon-more_horiz"></span>
                                </button>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn border">
                                            <span class="-ap">84</span>
                                        </button>
                                    </div>
                                    <div class="input-text">
                                        <input :readonly="rcheck==='maTT'" type="text" class="form-control highlight font-weight-bold" v-on:keyup.enter="btnSearch_Click" v-model="intSoMay">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="key w55">Tổng nợ</div>
                        <div class="value">
                            <input :readonly="true" type="text" v-model="intTongNo" class="form-control font-weight-bold text-right highlight">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="legend-title mart0">
                        <div class="pull-left mart10">
                            Các thông tin khác
                        </div>
                        <div class="pull-right">
                            <div class="inline">
                                <div class="info-row marb0">
                                    <div v-if="chukyno.show" class="key w30 nowrap font-weight-bold">Chu kỳ nợ: {{chukyno.val}} </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="info-row">
                        <div class="key w70">Tên TT</div>
                        <div class="value">
                            <input :readonly="true" type="text" class="form-control highlight" v-model="intTenTT">
                        </div>
                    </div>
                    <div class="info-row"></div>
                    <div class="info-row">
                        <div class="key w70">Địa chỉ TT</div>
                        <div class="value">
                            <input :readonly="true" type="text" class="form-control highlight" v-model="intDiaCTT">
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="box-form ">
            <div class="legend-title ">
                <div class="pull-left ">
                    {{textCaption}}
                </div>
                <div class="pull-right red ">
                    Số lượng : {{gridBox.data.length}}
                </div>
                <div class="clearfix "></div>
            </div>
            <div class="table-content ">
                <DataGrid ref="tableDSTB " v-bind:columns="headerGridbox " v-bind:dataSource="gridBox.data " :enablePagingServer="false " :allowPaging="true " :showFilter="true " :allowTextWrap="true" />
            </div>
        </div>
        <b-modal ref="SearchSubsAccountModal" size="xl" body-class="p-0" centered scrollable hide-footer>
            <div slot="modal-title">
                <span class="icon one-notepad"></span> Tra cứu danh bạ thuê bao
            </div>
            <SearchSubsAccount :isPopup="true" :inputData="intMaTT" @onSuccess="modelClose" />
        </b-modal>
    </div>
</div>