.container {
  aspect-ratio: 1.2 / 1;
  height: auto !important;
  max-width: none !important;
}
#extend {
  .toastui-calendar-timegrid-time-column .toastui-calendar-timegrid-time-hidden {
    visibility: hidden;
  }

  .toastui-calendar-timegrid-time-column .toastui-calendar-timegrid-current-time {
    position: absolute;
    text-align: right;
    right: 5px;
    font-size: 11px;
    font-weight: normal;
    transform: translateY(-50%);
  }

  .toastui-calendar-timezone-labels-slot {
    display: table;
    table-layout: fixed;
    position: absolute;
    height: 40px;
    border-bottom: 1px solid #e9e9e9;
    background-color: #fff;
  }

  .toastui-calendar-timezone-labels-slot .toastui-calendar-timegrid-timezone-label {
    display: table-cell;
    background-color: #fff;
    font-size: 11px;
    border-right: 1px solid #e5e5e5;
    vertical-align: middle;
    padding-right: 5px;
    text-align: right;
  }

  .toastui-calendar-timezone-labels-slot .toastui-calendar-timegrid-timezone-collapse-button {
    position: absolute;
    top: 2px;
    bottom: 2px;
    width: 10px;
    border: 1px solid #dddddd;
    border-left: none;
    background: transparent;
    cursor: pointer;
  }

  .toastui-calendar-timezone-labels-slot .toastui-calendar-timegrid-timezone-collapse-button .toastui-calendar-icon {
    width: 4px;
    height: 7px;
    transform: translateX(-50%);
  }

  .toastui-calendar-column {
    position: relative;
  }

  .toastui-calendar-column .toastui-calendar-gridline-half {
    position: absolute;
    width: 100%;
  }

  .toastui-calendar-column .toastui-calendar-grid-selection {
    position: absolute;
    right: 10px;
    left: 1px;
    padding: 3px;
  }

  .toastui-calendar-column .toastui-calendar-grid-selection .toastui-calendar-grid-selection-label {
    font-size: 11px;
    font-weight: bold;
  }

  .toastui-calendar-column .toastui-calendar-events {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .toastui-calendar-panel.toastui-calendar-time {
    overflow-y: auto;
  }

  .toastui-calendar-timegrid {
    position: relative;
    height: 200%;
    min-height: 900px;
  }

  .toastui-calendar-timegrid .toastui-calendar-timegrid-scroll-area {
    position: relative;
    height: 100%;
  }

  .toastui-calendar-timegrid .toastui-calendar-columns {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }

  .toastui-calendar-timegrid .toastui-calendar-columns .toastui-calendar-gridline-half {
    position: absolute;
    width: 100%;
  }

  .toastui-calendar-timegrid .toastui-calendar-columns .toastui-calendar-column {
    display: inline-block;
    height: 100%;
  }

  .toastui-calendar-timegrid .toastui-calendar-timegrid-now-indicator {
    position: absolute;
    left: 0;
    right: 0;
  }

  .toastui-calendar-timegrid .toastui-calendar-timegrid-now-indicator .toastui-calendar-timegrid-now-indicator-left {
    position: absolute;
  }

  .toastui-calendar-timegrid .toastui-calendar-timegrid-now-indicator .toastui-calendar-timegrid-now-indicator-marker {
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin: -4px 0 0 -5px;
  }

  .toastui-calendar-timegrid .toastui-calendar-timegrid-now-indicator .toastui-calendar-timegrid-now-indicator-today {
    position: absolute;
  }

  .toastui-calendar-timegrid .toastui-calendar-timegrid-now-indicator .toastui-calendar-timegrid-now-indicator-right {
    position: absolute;
    right: 0;
  }

  .toastui-calendar-event-background {
    position: absolute;
  }

  .toastui-calendar-event-time {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
  }

  .toastui-calendar-event-time .toastui-calendar-travel-time,
  .toastui-calendar-event-time .toastui-calendar-event-time-content {
    overflow: hidden;
    padding: 1px 0 0 3px;
    font-size: 12px;
  }

  .toastui-calendar-resize-handler-x {
    position: absolute;
    right: 0;
    bottom: 1px;
    left: 0;
    height: 8px;
    text-align: center;
    color: #fff;
    cursor: row-resize;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAMAAACEE47CAAAACVBMVEX///////////+OSuX+AAAAA3RSTlMrQJG5H4EIAAAAEUlEQVR4AWNgYoRABhjEFAEAArQAIcHQcPsAAAAASUVORK5CYII=)
      no-repeat center bottom;
  }

  .toastui-calendar-weekday-event-title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 3px;
    font-weight: 500;
    font-size: 14px;
  }

  .toastui-calendar-weekday-event-dot {
    position: relative;
    top: 8px;
    float: left;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  .toastui-calendar-weekday-event-dot + .toastui-calendar-weekday-event-title {
    color: #333;
  }

  .toastui-calendar-weekday-resize-handle {
    position: absolute;
    top: 0;
    right: 5px;
  }

  .toastui-calendar-weekday-resize-handle.toastui-calendar-handle-y {
    cursor: col-resize;
  }

  .toastui-calendar-grid-cell-date .toastui-calendar-weekday-grid-date.toastui-calendar-weekday-grid-date-decorator {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #135de6;
    border-radius: 50%;
    font-weight: bold;
    margin-left: 2px;
  }

  .toastui-calendar-panel-title {
    display: table;
    float: left;
    height: 100%;
    padding-right: 5px;
  }

  .toastui-calendar-panel-title .toastui-calendar-left-content {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    font-size: 11px;
  }

  .toastui-calendar-panel-grid-wrapper {
    position: relative;
    overflow-y: hidden;
  }

  .toastui-calendar-panel .toastui-calendar-panel-title,
  .toastui-calendar-panel .toastui-calendar-panel-grid-wrapper {
    height: 100%;
  }

  .toastui-calendar-allday-panel {
    position: relative;
    height: 100%;
    overflow-y: hidden;
  }

  .toastui-calendar-allday-panel .toastui-calendar-grid-selection {
    position: absolute;
    right: 10px;
    z-index: 1;
    top: 0;
  }

  .toastui-calendar-panel-grid {
    height: 100%;
    position: absolute;
  }

  .toastui-calendar-panel-event-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
  }

  .toastui-calendar-panel-event-wrapper .toastui-calendar-weekday-event-block {
    position: absolute;
  }

  .toastui-calendar-panel-event-wrapper .toastui-calendar-weekday-event {
    position: relative;
    margin: 0 10px 0 1px;
    cursor: pointer;
    border-left-style: solid;
    border-left-width: 3px;

    height: 18px;
    border-radius: 0;
    color: #9a1313;
    background-color: rgba(218, 27, 27, 0.2);
    border-color: #da1b1b;
  }

  .toastui-calendar-panel-event-wrapper .toastui-calendar-weekday-exceed-right .toastui-calendar-weekday-event {
    margin-right: 0;
  }

  .toastui-calendar-panel-event {
    position: absolute;
    border: 1px solid #333;
  }

  .toastui-calendar-weekday-exceed-in-week {
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 1;
    margin-right: 5px;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
    padding: 1px 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #000;
  }

  .toastui-calendar-collapse-btn-icon {
    display: inline-block;
    vertical-align: middle;
    margin: -1px -14px 0 -4px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 5px solid #4f5959;
  }

  .toastui-calendar-day-view .toastui-calendar-panel:not(.toastui-calendar-time),
  .toastui-calendar-week-view .toastui-calendar-panel:not(.toastui-calendar-time) {
    overflow-y: scroll;
  }

  .toastui-calendar-floating-layer {
    z-index: 1;
  }

  .toastui-calendar-floating-layer * {
    box-sizing: border-box;
  }

  .toastui-calendar-popup-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 99999;
    background-color: black;
    opacity: 0.3;
    left: 0;
  }

  .toastui-calendar-popup-container {
    position: absolute;
    font-weight: 2.5;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
    clear: both;
    z-index: 100000;
  }

  .toastui-calendar-popup-section {
    font-size: 0;
    min-height: 0px;
  }

  .toastui-calendar-popup-button.toastui-calendar-popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    padding: 0;
    border: none;
  }

  .toastui-calendar-popup-button.toastui-calendar-popup-confirm {
    float: right;
    width: 96px;
    height: 36px;
    border-radius: 40px;
    background-color: #ff6618;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border: none;
  }

  .toastui-calendar-dropdown-menu {
    position: absolute;
    width: 100%;
    top: 31px;
    z-index: 1;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-top: none;
    border-radius: 0 0 2px 2px;
  }

  .toastui-calendar-dropdown-menu.toastui-calendar-open {
    display: block;
  }

  .toastui-calendar-dropdown-menu-item {
    width: 100%;
    height: 30px;
    border: none;
    padding: 0 9px 0 12px;
    font-size: 0;
    border-radius: 2px;
    cursor: pointer;
  }

  .toastui-calendar-popup-arrow-border,
  .toastui-calendar-popup-arrow-fill {
    position: absolute;
  }

  .funeral-location {
    display: none;
  }

  .toastui-calendar-see-more-container {
    overflow: auto;
    display: block;
    width: 394px !important;
    height: 442px !important;
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    z-index: 100000;
  }

  .toastui-calendar-see-more {
    padding: 5px;
    border-radius: 4px;
    border: none;
    .toastui-calendar-weekday-event {
      height: fit-content !important;
    }
    .toastui-calendar-template-allday {
      min-height: 50px;
      gap: 8px;
      padding: 8px;
      display: flex;
    }
    .vertical-container-icon {
      text-align: center;
      padding: 4px 4px !important;
      display: flex;
      min-width: 28px;
      white-space: break-spaces;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .icon-funeral,
    .icon-unaccompanied,
    .icon-other {
      margin-right: 0;
    }
    .title-container {
      white-space: break-spaces;
      line-height: 20px;
      width: 100%;
      display: flex;
      gap: 4px;
      flex-direction: column;
      justify-content: space-between;
    }
    .divider {
      display: inline-block;
      width: 100%;
      opacity: 30%;
      border-top: 1px solid;
    }
    .funeral-location {
      display: block !important;
      font-size: 12px;
      color: #616161;
    }
  }

  .toastui-calendar-more-title-date {
    font-size: 23px;
    color: #333;
  }

  .toastui-calendar-more-title-day {
    font-size: 12px;
    color: #333;
  }

  .toastui-calendar-month-more-list {
    overflow: auto;
    padding: 0 17px;
    margin-bottom: 12px;
  }

  .toastui-calendar-see-more-header {
    position: relative;
    border-bottom: none;
  }

  .toastui-calendar-form-container {
    min-width: 474px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
    border: 1px solid #d5d5d5;
    padding: 17px;
    border-radius: 2px;
  }

  .toastui-calendar-form-container .toastui-calendar-hidden-input {
    display: none;
  }

  .toastui-calendar-form-container .toastui-calendar-grid-selection {
    font-size: 11px;
    font-weight: bold;
  }

  .toastui-calendar-popup-section-item {
    height: 32px;
    padding: 0 9px 0 12px;
    border: 1px solid #d5d5d5;
    display: inline-block;
    font-size: 0;
    border-radius: 2px;
  }

  .toastui-calendar-popup-section-item input {
    border: none;
    height: 30px;
    outline: none;
    display: inline-block;
  }

  .toastui-calendar-popup-section-item .toastui-calendar-content {
    text-align: left;
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    position: relative;
    padding-left: 8px;
  }

  .toastui-calendar-popup-date-picker .toastui-calendar-content {
    max-width: 125px;
  }

  .toastui-calendar-dropdown-section {
    position: relative;
  }

  .toastui-calendar-dropdown-section.toastui-calendar-calendar-section {
    width: 176px;
  }

  .toastui-calendar-dropdown-section .toastui-calendar-content {
    line-height: 30px;
  }

  .toastui-calendar-popup-section-title input {
    width: 365px;
  }

  .toastui-calendar-dot {
    border-radius: 8px;
    width: 12px;
    height: 12px;
    margin: 1px;
  }

  .toastui-calendar-content.toastui-calendar-event-calendar {
    width: 125px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    top: -1px;
  }

  .toastui-calendar-popup-section-location .toastui-calendar-content {
    width: 400px;
  }

  .toastui-calendar-popup-section-allday {
    border: none;
    padding: 0 0 0 8px;
    cursor: pointer;
  }

  .toastui-calendar-popup-section-allday .toastui-calendar-ic-checkbox-normal {
    display: inline-block;
    cursor: pointer;
    line-height: 14px;
    margin: 0;
    width: 14px;
    height: 14px;
    vertical-align: middle;
  }

  .toastui-calendar-popup-section-allday .toastui-calendar-content {
    padding-left: 4px;
  }

  .toastui-calendar-popup-date-picker {
    width: 176px;
  }

  .toastui-calendar-datepicker-container > div {
    z-index: 1;
  }

  .toastui-calendar-popup-date-dash {
    font-size: 12px;
    color: #d5d5d5;
    height: 32px;
    padding: 0 4px;
    vertical-align: middle;
  }

  .toastui-calendar-popup-button {
    background: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    text-align: center;
    outline: none;
    font-size: 12px;
    cursor: pointer;
    color: #333;
  }

  .toastui-calendar-popup-button.toastui-calendar-popup-section-private {
    height: 32px;
    padding: 8px;
    font-size: 0;
    margin-left: 4px;
  }

  .toastui-calendar-popup-button .toastui-calendar-event-state {
    width: 58px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .toastui-calendar-dropdown-section.toastui-calendar-state-section {
    width: 109px;
  }

  .toastui-calendar-dropdown-section.toastui-calendar-state-section .toastui-calendar-popup-button {
    width: 100%;
  }

  .toastui-calendar-state-section .toastui-calendar-content {
    width: 58px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .toastui-calendar-popup-section-item.toastui-calendar-dropdown-menu-item {
    display: block;
    height: 30px;
    border: none;
    cursor: pointer;
  }

  .toastui-calendar-dropdown-menu-item .toastui-calendar-content {
    display: inline-block;
    position: relative;
    padding-left: 8px;
    text-align: left;
    font-size: 12px;
    vertical-align: middle;
  }

  .toastui-calendar-popup-section-item.toastui-calendar-popup-button {
    height: 32px;
    font-size: 0;
    top: -1px;
  }

  .toastui-calendar-popup-arrow.toastui-calendar-top .toastui-calendar-popup-arrow-border {
    border-top: none;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #d5d5d5;
    border-left: 8px solid transparent;
    left: calc(50% - 8px);
    top: -7px;
  }

  .toastui-calendar-popup-arrow.toastui-calendar-top .toastui-calendar-popup-arrow-fill {
    border-top: none;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    left: -7px;
    top: 1px;
  }

  .toastui-calendar-popup-arrow.toastui-calendar-bottom .toastui-calendar-popup-arrow-border {
    border-top: 8px solid #d5d5d5;
    border-right: 8px solid transparent;
    border-bottom: none;
    border-left: 8px solid transparent;
    bottom: -7px;
  }

  .toastui-calendar-popup-arrow.toastui-calendar-bottom .toastui-calendar-popup-arrow-fill {
    border-top: 7px solid #fff;
    border-right: 7px solid transparent;
    border-bottom: none;
    border-left: 7px solid transparent;
    left: -7px;
    bottom: 1px;
  }

  .toastui-calendar-detail-container {
    width: 301px;
    min-width: 301px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
    border: solid 1px #d5d5d5;
    padding: 17px 17px 0;
    border-radius: 2px;
  }

  .toastui-calendar-detail-container .toastui-calendar-section-header {
    margin-bottom: 6px;
  }

  .toastui-calendar-detail-container .toastui-calendar-section-detail {
    border-top-width: 1px;
    margin-bottom: 16px;
  }

  .toastui-calendar-detail-container .toastui-calendar-section-button {
    border-top: 1px solid #e5e5e5;
    font-size: 0;
  }

  .toastui-calendar-detail-container .toastui-calendar-content {
    height: 24px;
    font-size: 12px;
    line-height: 2;
  }

  .toastui-calendar-detail-container .toastui-calendar-icon {
    display: none !important;
  }

  .toastui-calendar-detail-container .toastui-calendar-calendar-dot {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: -4px;
    margin-right: 10px;
  }

  .toastui-calendar-event-title {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
    word-break: break-all;
  }

  .toastui-calendar-detail-item {
    display: block !important;
  }

  .toastui-calendar-detail-item-indent {
    display: none !important;
    text-indent: -20px;
    padding-left: 20px;
  }

  .toastui-calendar-edit-button,
  .toastui-calendar-delete-button {
    display: inline-block;
    padding: 7px 9px 11px 9px;
    width: calc(50% - 1px);
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
  }

  .toastui-calendar-vertical-line {
    background: #e5e5e5;
    width: 1px;
    height: 14px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -7px;
  }

  .toastui-calendar-section-button .toastui-calendar-icon {
    margin-right: 4px;
    top: -3px;
  }

  .toastui-calendar-section-button .toastui-calendar-content {
    position: relative;
    top: 2px;
  }

  .toastui-calendar-popup-top-line {
    position: absolute;
    border-radius: 2px 2px 0 0;
    width: 100%;
    height: 4px;
    border: none;
    top: 0;
  }

  .toastui-calendar-popup-arrow.toastui-calendar-left .toastui-calendar-popup-arrow-border {
    border-top: 8px solid transparent;
    border-right: 8px solid #d5d5d5;
    border-bottom: 8px solid transparent;
    border-left: none;
    left: -7px;
  }

  .toastui-calendar-popup-arrow.toastui-calendar-left .toastui-calendar-popup-arrow-fill {
    border-top: 7px solid transparent;
    border-right: 7px solid #fff;
    border-bottom: 7px solid transparent;
    border-left: none;
    top: -7px;
    left: 1px;
  }

  .toastui-calendar-popup-arrow.toastui-calendar-right .toastui-calendar-popup-arrow-border {
    border-top: 8px solid transparent;
    border-right: none;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #d5d5d5;
    right: -7px;
  }

  .toastui-calendar-popup-arrow.toastui-calendar-right .toastui-calendar-popup-arrow-fill {
    border-top: 7px solid transparent;
    border-right: none;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #fff;
    top: -7px;
    right: 1px;
  }

  .toastui-calendar-day-names {
    position: relative;
  }

  .toastui-calendar-day-name-container {
    position: relative;
  }

  .toastui-calendar-day-name-item {
    position: absolute;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    padding: 0 10px;
  }

  .toastui-calendar-day-name-item.toastui-calendar-week {
    line-height: 38px;
    height: 42px;
  }

  .toastui-calendar-day-name-item.toastui-calendar-month {
    line-height: 31px;
    height: 31px;
  }

  .toastui-calendar-day-view-day-names,
  .toastui-calendar-week-view-day-names {
    border-bottom: 1px solid #e5e5e5;
  }

  .toastui-calendar-day-names.toastui-calendar-week {
    height: 42px;
    padding-left: 0;
    text-align: left;
  }

  .toastui-calendar-day-names.toastui-calendar-month {
    height: 31px;
    padding: 0 10px;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
  }

  .toastui-calendar-day-name__date {
    font-size: 26px;
  }

  .toastui-calendar-day-name__name {
    font-size: 12px;
  }

  .toastui-calendar-layout.toastui-calendar-month {
    height: 100%;
  }

  .toastui-calendar-month .toastui-calendar-day-names {
    /* from constant MONTH_DAY_NAME_HEIGHT */
    height: 31px;
  }

  .toastui-calendar-month .toastui-calendar-month-daygrid {
    position: relative;
    /* modify this if you want to change height of day names */
    height: calc(100% - 31px);
  }

  .toastui-calendar-month-week-item {
    position: relative;
  }

  .toastui-calendar-weekday-grid {
    position: absolute;
    min-height: inherit;
    width: 100%;
    height: 100%;
  }

  .toastui-calendar-daygrid-cell {
    position: absolute;
    height: 100%;
    min-height: inherit;
    padding: 3px 0;
  }

  .toastui-calendar-daygrid-cell + .toastui-calendar-daygrid-cell {
    border-left: 1px solid #e5e5e5;
  }

  .toastui-calendar-grid-cell-date {
    display: inline-block;
    margin-top: 12px;
    margin-left: 12px;
    line-height: 1.7;
    text-align: center;
  }

  .toastui-calendar-grid-cell-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .toastui-calendar-grid-cell-more-events {
    height: 27px;
    line-height: 27px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #aaa;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .toastui-calendar-weekday-events {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    font-size: 12px;
  }

  .toastui-calendar-weekday-event {
    cursor: pointer;
    border-width: 0px !important;
    border-radius: 4px !important;
  }

  .toastui-calendar-weekday {
    height: 100%;
  }

  .toastui-calendar-weekday .toastui-calendar-grid-selection {
    position: absolute;
  }
  @media (max-width: 1024px) {
    .toastui-calendar-grid-cell-footer {
      padding: 2px 0;
    }
  }

  @media (max-width: 768px) {
    .container {
      max-width: none !important;
      aspect-ratio: 0.3 / 1;
      min-height: 1118px;
    }
    .toastui-calendar-see-more-container {
      display: block;
      position: absolute;
      transform: translate(-50%, -120%);
      z-index: 100000;
    }
  }

  .icon-unaccompanied {
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 4px;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    background-image: url('/images/icon/carIcon.svg');
  }

  .icon-funeral {
    background-repeat: no-repeat;
    display: inline-block;
    color: white;
    margin-right: 4px;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    background-image: url('/images/icon/funeralIconWhite.svg');
  }

  .icon-other {
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 4px;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    background-image: url('/images/icon/otherIcon.svg');
  }

  .icon-close {
    background-repeat: no-repeat;
    display: inline-block;
    padding: auto;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    background-image: url('/images/icon/closeIcon.svg');
  }

  .popup-location-card {
    background: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    margin-top: 8px;
  }

  .popup-location-header {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 5px;
  }

  .popup-icon {
    margin-right: 5px;
  }

  .popup-location-content {
    font-size: 14px;
    color: #333;
    background: #ffffff;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }

  .popup-location-button {
    background-color: #007d45;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    margin-top: 8px;
    cursor: pointer;
    width: 100%;
  }

  .popup-location-button:hover {
    background-color: #005f34;
  }
}
