<div class="thong-tin-chung">
  <!-- THÔNG TIN TÀI SẢN -->
  <div class="legend-title">Thông tin kiểm kê, quản lý tài sản</div>

  <div class="row">
    <!-- Cột 1 -->
    <div :class="getSectionColClass('dacTinhKyThuat')">
      <div class="info-row">
        <div class="key w200">Mã dự án <span class="red">(*)</span></div>
        <div class="value">
          <input
            type="text"
            class="form-control"
            :class="tabTaiSanControl.txtMaDuAn.invalid ? 'is-invalid' : ''"
            :disabled="currentMode == 'VIEW'"
            v-model="currentItem.maDuAn"
            placeholder=""
          />
        </div>
      </div>
      <div class="info-row" style="margin-top: 10px;">
        <div class="key w200">Thẻ tài sản <span class="red">(*)</span></div>
        <div class="value">
          <input
            type="text"
            class="form-control"
            :class="tabTaiSanControl.txtTheTaiSan.invalid ? 'is-invalid' : ''"
            :disabled="currentMode == 'VIEW'"
            v-model="currentItem.theTaiSan"
            placeholder="Thẻ tài sản"
          />
        </div>
      </div>
      <div class="info-row" style="margin-top: 10px;">
        <div class="key w200">ID chi tiết <span class="red">(*)</span></div>
        <div class="value">
          <input
            type="text"
            class="form-control"
            :class="tabTaiSanControl.txtIDChiTietTS.invalid ? 'is-invalid' : ''"
            :disabled="currentMode == 'VIEW'"
            v-model="currentItem.idChiTietTS"
            placeholder="ID chi tiết"
          />
        </div>
      </div>
      <div class="info-row" style="margin-top: 10px;">
        <div class="key w200">Mã vật tư <span class="red">(*)</span></div>
        <div class="value">
          <input
            type="text"
            class="form-control"
            :class="tabTaiSanControl.txtMaVatTu.invalid ? 'is-invalid' : ''"
            :disabled="currentMode == 'VIEW'"
            v-model="currentItem.maVatTu"
            placeholder="Mã vật tư"
          />
        </div>
      </div>      
    </div>
    <!-- Cột 2 -->
    <div :class="getSectionColClass('dacTinhKyThuat')">
      <div class="info-row">
        <div class="key w200">Tên dự án <span class="red">(*)</span></div>
        <div class="value">
          <input
            type="text"
            class="form-control"
            :class="tabTaiSanControl.txtTenDuAn.invalid ? 'is-invalid' : ''"
            :disabled="currentMode == 'VIEW'"
            v-model="currentItem.tenDuAn"
            placeholder="Tên dự án"
          />
        </div>
      </div>
      <div class="info-row" style="margin-top: 10px;">
        <div class="key w200">Ngày dự kiến khấu hao</div>
        <div class="value">
          <ejs-datepicker ref="ngayDKKhauHao" 
              :showClearButton="true" 
              v-model="currentItem.ngayDKKhauHao" 
              :format="'dd/MM/yyyy'">
          </ejs-datepicker>          
        </div>
      </div>
      <div class="info-row" style="margin-top: 10px;">
        <div class="key w200">Hạn bảo hành</div>
        <div class="value">
          <ejs-datepicker ref="hanBaoHanh" 
              :showClearButton="true" 
              v-model="currentItem.hanBaoHanh" 
              :format="'dd/MM/yyyy'">
          </ejs-datepicker>          
        </div>
      </div>
      <div class="info-row" style="margin-top: 10px;">
        <div class="key w200">Ngày lắp đặt</div>
        <div class="value">
          <ejs-datepicker ref="ngayLapDat" 
              :showClearButton="true" 
              v-model="currentItem.ngayLapDat" 
              :format="'dd/MM/yyyy'">
          </ejs-datepicker>          
        </div>
      </div>
      <div class="info-row" style="margin-top: 10px;">
        <div class="key w200">Ngày sử dụng</div>
        <div class="value">
          <ejs-datepicker ref="ngaySuDung" 
              :showClearButton="true" 
              v-model="currentItem.ngaySuDung" 
              :format="'dd/MM/yyyy'">
          </ejs-datepicker>          
        </div>
      </div>        
    </div>

  </div>

  <!-- THÔNG TIN QUẢN LÝ -->
  <div class="legend-title" style="margin-top: 20px;">Thông tin quản lý</div>
  <div class="row">
    <!-- Cột 1 -->
    <div :class="getSectionColClass('dacTinhKyThuat')">
      <div class="info-row">
        <div class="key w200">Đơn vị quản lý <span class="red">(*)</span></div>
        <div class="value">
          <SelectExt
            v-model="currentItem.donViQuanLy"
            dataTextField="TEN"
            dataValueField="ID"
            :class="tabTaiSanControl.selectDonViQuanLy.invalid ? 'is-invalid' : ''"
            :dataSource="donViQuanLyList"
            :disabled="currentMode == 'VIEW'"
            placeholder="Chọn đơn vị quản lý"
            @change="onChangeDVQL"
          />
        </div>
      </div>
      <div class="info-row" style="margin-top: 10px;">
        <div class="key w200">Cá nhân quản lý <span class="red">(*)</span></div>
        <div class="value">
          <SelectExt
            v-model="currentItem.caNhanQuanLy"
            dataTextField="TEN"
            dataValueField="ID"
            :class="tabTaiSanControl.selectCaNhanQuanLy.invalid ? 'is-invalid' : ''"
            :dataSource="caNhanQuanLyList"
            :disabled="currentMode == 'VIEW'"
            placeholder="Chọn cá nhân quản lý"
            @change="onChangeCNQL(this)"
          />
        </div>
      </div>         
    </div>
    <!-- Cột 2 -->
    <div :class="getSectionColClass('dacTinhKyThuat')">
      <div class="info-row">
        <div class="key w200">Phòng/tổ quản lý<span class="red">(*)</span></div>
        <div class="value">
          <SelectExt
            v-model="currentItem.phongToQuanLy"
            dataTextField="TEN"
            dataValueField="ID"
            :class="tabTaiSanControl.selectPhongToQuanLy.invalid ? 'is-invalid' : ''"
            :dataSource="phongToQuanLyList"
            :disabled="currentMode == 'VIEW'"
            placeholder="Chọng phòng/tổ quản lý"
            @change="onChangeToQL"
          />
        </div>
      </div>
      <div class="info-row">
        <div class="key w200">Email/SĐT<span class="red">(*)</span></div>
        <div class="value">
          <input
            type="text"
            class="form-control"
            :class="tabTaiSanControl.txtEmailSDT.invalid ? 'is-invalid' : ''"
            :disabled="currentMode == 'VIEW'"
            v-model="currentItem.emailSDT"
            placeholder="Email/SĐT"
          />
        </div>
      </div>         
    </div>

  </div>
  
</div>
