.btn-info {
  color: #0176ff;
  background-color: #bae7ff;
  border-color: #ffffff;
}

.icon {
  font-size: 12px;
}

.input-group {
  display: table !important;
}

.vattu_box {
  position: relative;
}

.vattu_table {
  position: absolute;
  z-index: 2;
  max-height: 300px;
  background: aliceblue;
  overflow-y: scroll;
  min-width: 600px;
}

.select-table {
  position: absolute;
  z-index: 2;
  max-height: 300px;
  background: #FFF;
  // overflow-y: scroll;
  border: 1px solid #000;
  // min-width: 600px;
}

.disabledInput {
  pointer-events: none;
  opacity: 0.4;
}

.displayNone {
  display: none;
}
