<div class="modal-content popup-box">
  <div class="popup-header">
      <div class="title"><span class="icon one-notepad"></span> {{title}}</div>
      <div class="close -ap icon-close" data-dismiss="modal" @click="confirmChose(false)">
      </div>
  </div>
  <div class="list-actions-top">
      <ul class="list">
        <li>
          <a href="#"  @click.prevent="confirmChose(true)">
              <span class="icon ui-1_check-circle-08 nc-icon-glyph"></span> Chấp nhận
          </a>
      </li>
      </ul>
  </div>
  <div class="popup-body">
      <div class="box-form">
        <div class="d-block mt-2">
          <DataGrid :columns="[
            {fieldName: 'MA_TT', headerText: 'Mã thanh toán', allowFiltering: true, allowSorting:false},
            {fieldName: 'TEN_TT', headerText: 'Tên thanh toán', allowFiltering: true, allowSorting:false},
            {fieldName: 'DIACHI_TT', headerText: 'Địa chỉ TT', allowFiltering: true, allowSorting:false},
            {fieldName: 'MA_TUYENTHU', headerText: 'Mã tuyến', allowFiltering: true, allowSorting:false},
            ]" v-bind:dataSource="dsDBModal" :showFilter="false" :allowPaging="true" :enablePagingServer="false"
            @selectedRowChanged="grid1_selectedRowChanged">
          </DataGrid>
        </div>
      </div>
  </div>
</div>
