a.disabled { color:lightgray !important; }
a.disabled:hover { color:lightgray !important; }
.disabled { pointer-events: none; color:lightgray; border-color:lightgray; }
input.disabled, select.disabled, .disabled input, .disabled select, .disabled .btn,.disabled /deep/ .select2-selection { background-color: #EEE; color:lightgray; border-color: lightgray; }
/deep/ .modal-body .page-content { position:inherit; }
li.active { background-color:lightblue; }
.mx-datepicker { width:100%; }
ul.form-control.listview { list-style:none; cursor: pointer; }
/deep/ .modal-dialog { max-width:60vw; }

input:focus:invalid {
    border-color:red;
    background-color: lightcoral;
}

.btn-second { border-color: #0d6efd; }
.img-thuebao{
    height: 250px;
    object-fit: fill;
}

.img-full{
    max-height: 70vh;
    object-fit: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  
input[type=number] {
    -moz-appearance: textfield;
}