/deep/ .modal-dialog { max-width:60vw; }
/deep/ input:required { background-color:#FFF9EB; }
/deep/ .modal-body .page-content { position:inherit !important ; }
.main-wrapper-popup-chuyento  .page-content { position:inherit !important; }
.chuyenTo .page-content {
  top: 130px !important;
}
.chuyenToPopupBody {
  min-height: 800px;
}
.chuyenToPopupBody .page-content {
  top: 0px !important;
  position: inherit !important;
}
/deep/ .chuyenToPopupBody .page-content {
  top: 0px !important;
  position: inherit !important;
}

#popupComponentChuyenTos .page-content {
  position: inherit !important;
}
.main-wrapper-popup {
}
.main-wrapper-popup .list-actions-top {

}
#popupComponentChuyenTos___BV_modal_body_  .popup-box  .page-content{
  position: inherit !important;
}
#popupComponentChuyenTos___BV_modal_body_ > div > div.page-content {
  position: inherit !important;
}
