<b-modal ref="ChiTietXuLyModal" size="xl" hide-header hide-header-close hide-footer body-class="p-0"
  no-close-on-backdrop @show="handleShowModal">
  <div class="modal-content popup-box">
    <div class="popup-header">
      <div class="title">
        <span class="icon one-notepad"></span> Chi tiết cuộc gọi chăm sóc khách hàng
      </div>
      <div class="close -ap icon-close" @click="hideModal"></div>
    </div>
    <div class="popup-body">
      <div class="box-form">
        <div class="legend-title">Danh sách xử lý chăm sóc khách hàng</div>
        <DataGrid v-bind:columns="[
          {fieldName: 'ten_tinh', headerText: 'Tỉnh', allowFiltering: true, allowSorting: false, isGroupedColumn: false},
          {fieldName: 'kieu_xuly', headerText: 'Kiểu xử lý', allowFiltering: true, allowSorting: false},
          {fieldName: 'ngay_xuly', headerText: 'Ngày xử lý', allowFiltering: true, allowSorting: false},
          {fieldName: 'ma_tb', headerText: 'Mã thuê bao', allowFiltering: true, allowSorting: false},
          {fieldName: 'ten_tb', headerText: 'Tên thuê bao', allowFiltering: true, allowSorting: false},
          {fieldName: 'diachi_tb', headerText: 'Địa chỉ lắp đặt', allowFiltering: true, allowSorting: false},
          {fieldName: 'nv_xl', headerText: 'Nhân viên', allowFiltering: true, allowSorting: false},          
          {fieldName: 'ma_xl', headerText: 'Mã xử lý', allowFiltering: true, allowSorting: false},  
          ]" v-bind:dataSource="DS_XuLy" :showFilter="true" :allowPaging="true" ref="DLichsuGrid"  :allowGrouping="true"
          :enablePagingServer="false" :allowExcelExport="true">
        </DataGrid>

      </div>
    </div>
  </div>
</b-modal>