<div>
    <div class="list-actions-top">
        <ul class="list">
            <li @click="fetchTraCuu()">
                <a href="javascript:;" title="Tra cứu">
                    <span class="icon one-file-search"></span>Tra cứu
                </a>
            </li>
            <li @click="XuatFile()">
                <a href="javascript:;" title="Xuất File">
                    <span class="icon one-download"></span>Xuất File
                </a>
                <appModalXuatDuLieu id="modal-xuat-dulieu" :thuocTinh="dsThuocTinh" :data="dsTongNo"/>
            </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="box-form">
            <div class="legend-title">
                Thông tin tra cứu
            </div>
            <div class="row">
                <div class="col-sm-3 col-12">
                    <div class="info-row">
                        <div class="key w120">
                            <div class="check-action">
                                <input type="radio" class="check" v-model="selected" value="1">
                                <span class="name">Tra cứu theo</span>
                            </div>
                        </div>
                        <div class="value">
                            <div class="select-custom">
                                <select v-model="selectedThueBao" :disabled="selected == 2" name="" id=""
                                    class="form-control">
                                    <option value="tt">Mã thanh toán</option>
                                    <option value="tb">Mã thuê bao</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-12">
                    <div class="info-row">
                        <div class="key w120">
                            Thông tin tra cứu
                        </div>
                        <div class="value">
                            <input ref="ttTraCuu" v-model="ttTraCuu" type="text" class="form-control highlight"
                                :disabled="selected == 2" @keyup.enter="TraCuuTheoThongTin">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="info-row">
                        <div class="key w70">
                            Tên TT
                        </div>
                        <div class="value">
                            <input v-model="tenTT" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-12">
                    <div class="info-row">
                        <div class="key w120">
                            <div class="check-action">
                                <input type="radio" class="check" v-model="selected" value="2">
                                <span class="name">Theo đơn vị</span>
                            </div>
                        </div>
                        <div class="value">
                            <div class="select-custom">
                                <!-- <select v-model="selectedDonVi" :disabled="selected == 1" class="form-control">
                  <option v-for="item in danhsachDonVi" :value="item.DONVI_ID">{{item.TEN_DV}}</option>
                </select> -->
                                <SelectExt v-model.trim="selectedDonVi" :dataSource="danhsachDonVi"
                                    dataTextField="TEN_DV" dataValueField="DONVI_ID" :disabled="selected == 1" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-12">
                    <app-ky-cuoc @handleChangeKyCuoc="handleKyHoaDon"></app-ky-cuoc>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="info-row">
                        <div class="key w70">
                            Địa chỉ TT
                        </div>
                        <div class="value">
                            <input v-model="diaChiTT" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-12">
                    <div class="info-row">
                        <div class="key w120">
                            Hình thức TT
                        </div>
                        <div class="value">
                            <input v-model="hinhThucTT" type="text" class="form-control text fw6" placeholder=""
                                disabled>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <span class="note red mart5 fw6 block">{{dataTC}}</span>
                </div>
            </div>
        </div>
        <div class="box-form">
            <div class="legend-title">
                <div class="pull-left">
                    Kết quả tìm kiếm
                </div>
                <div class="pull-right">
                    <div class="list-checks normal">
                        <div class="item">
                            <div class="check-action">
                                <input type="radio" checked v-model="selectedKieu" value="1" class="check"
                                    :disabled="selectTab == 0">
                                <span class="name">Mã TB</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="check-action">
                                <input type="radio" v-model="selectedKieu" value="2" class="check"
                                    :disabled="selectTab == 0">
                                <span class="name">Khoản mục</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="check-action">
                                <input type="checkbox" class="check" disabled>
                                <span class="name">Thanh toán trực tuyến</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="check-action">
                                <input type="checkbox" class="check" disabled>
                                <span class="name">EZ-Pay</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="tabs nav tab-over">
                <a href="#tab1" data-toggle="tab" class="active" @click="changeTab(0)">Tổng nợ KH</a>
                <a href="#tab2" data-toggle="tab" @click="changeTab(1)">Tổng trả KH</a>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <DataGrid
                      :columns="fieldsTongNoKH"
                      :dataSource="dsTongNo"
                      :showFilter="true"
                      :allowPaging="true"
                      :enablePagingServer="true"
                      :totalRecords="totalItemsTongNo"
                      @pageChanged="tongno_gridChanged"
                      :key="resetTongNo">
                    </DataGrid>
                </div>
                <div class="tab-pane" id="tab2">
                    <DataGrid :columns="fieldsTongTraKH" :dataSource="dsTongTra" :showFilter="true"
                        :allowPaging="true" :enablePagingServer="true" :totalRecords="totalItemsTongTra" @pageChanged="tongtra_gridChanged" :key="resetTongTra">
                    </DataGrid>
                </div>
            </div>
        </div>
    </div>
</div>
