<div class="modal-wrapper" style="width: 100%;">
    <div class="list-actions-top">
        <ul class="list">
            <li>
                <a href="#" @click.prevent="onClickTimKiem">
                    <span class="icon one-search"></span> Tìm kiếm
                </a>
            </li>
            <li>
                <a href="#" @click.prevent="onSave">
                    <span class="icon nc-icon-glyph ui-1_check-circle-08"></span> Xác nhận
                </a>
            </li>
            <!-- <li>
                <a href="#">
                    <span class="icon one-circle-question"></span> Trợ giúp
                </a>
            </li> -->
        </ul>
    </div>
    <div class="popup-body">
        <div class="box-form">
            <div class="legend-title">Thông tin tìm kiếm</div>
            <div class="row">
                <div class="col-sm-3 col-12">
                    <div class="info-row">
                        <div class="key w70">
                            Tháng
                        </div>
                        <div class="value">
                            <ejs-datepicker
                            class="form-control bg-none bor0 text"
                            :format="'MM/yyyy'"
                            :showClearButton="false"
                            v-model="formTK.thang">
                            </ejs-datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="info-row">
                        <div class="key w70">
                            <div class="check-action">
                                <input type="checkbox" v-model="formTK.donViCkb" class="check" @change="onClickTimKiem">
                                <span class="name">Đơn vị</span>
                            </div>
                        </div>
                        <vt-custom-dropdown :column="[
                            {fieldName: 'TEN_CHA_DV', headerText: '', allowFiltering: true, allowSorting: false, isGroupedColumn: true},
                            {fieldName: 'MA_DV', headerText: '', allowFiltering: true, allowSorting: false},
                            {fieldName: 'TEN_DV', headerText: '', allowFiltering: true, allowSorting: false}]"
                            :dataSource="dsDvTh" :textField="['TEN_DV']"
                            :isDisabled="!formTK.donViCkb" v-on:onSelectValue="onChangeDonVi">
                        </vt-custom-dropdown>
                    </div>
                </div>
                <div class="col-sm-3 col-12">
                    <div class="info-row">
                        <div class="key w90">
                            <div class="check-action">
                                <input type="checkbox" v-model="formTK.duyetTuCbk" class="check" @change="onClickTimKiem">
                                <span class="name">Duyệt từ</span>
                            </div>
                        </div>
                        <div class="value">
                            <ejs-datepicker
                            @change="onClickTimKiem"
                            class="form-control bg-none bor0 text"
                            :enabled="formTK.duyetTuCbk"
                            :format="'dd/MM/yyyy'"
                            :showClearButton="false"
                            v-model="formTK.duyetTu">
                            </ejs-datepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-12">
                    <div class="info-row">
                        <div class="key w70">
                            Trạng thái
                        </div>
                        <div class="value">
                            <input type="text" value="Đã duyệt" disabled class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="info-row">
                        <div class="key w70">
                            <div class="check-action">
                                <input type="checkbox" v-model="formTK.dotCkb" class="check" @change="onClickTimKiem">
                                <span class="name">Đợt</span>
                            </div>
                        </div>
                        <div class="value">
                            <div class="select-custom">
                                <select class="form-control" v-model="formTK.dot" :disabled="!formTK.dotCkb" @change="onClickTimKiem">
                                    <option v-for="item in dsDot" v-bind:value="item.dotDkId">{{item.dotDk}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-12">
                    <div class="info-row">
                        <div class="key w90">
                            <div class="check-action">
                                <input type="checkbox" v-model="formTK.denNgayCbk" class="check">
                                <span class="name">Đến ngày</span>
                            </div>
                        </div>
                        <div class="value">
                            <ejs-datepicker
                                @change="onClickTimKiem"
                                class="form-control bg-none bor0 text"
                                :enabled="formTK.denNgayCbk"
                                :format="'dd/MM/yyyy'"
                                :showClearButton="false"
                                v-model="formTK.denNgay">
                            </ejs-datepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="legend-title mart20">Danh sách đợt tổng hợp trong tháng</div>
            <DataGrid3 v-bind:columns='[
                    
                    
                    {
                        fieldName: "DOT_TH",
                        headerText: "Đợt",
                        allowFiltering: true,
                        allowSorting: false,
                        isGroupedColumn: true,
                    },
                    {
                        fieldName: "TEN_DV",
                        headerText: "Đơn vị",
                        allowFiltering: true,
                        allowSorting: false,
                        isGroupedColumn: true,
                    },
                    {
                        fieldName: "KEY", 
                        headerText: "", 
                        allowSorting:false , 
                        allowFiltering:false, 
                        textAlign:"Center", 
                        allowEditing:false , 
                        width: 40, 
                        headerTemplate:columnsCheckboxAllVT ,
                        template:CheckboxDotTH,
                   
                    },
                    {
                        fieldName: "MA_VT",
                        headerText: "Mã vật tư",
                        allowFiltering: true,
                        allowSorting: false,
                    },
                    {
                        fieldName: "TEN_VT",
                        headerText: "Tên vật tư",
                        allowFiltering: true,
                        allowSorting: false,
                    },
                    {
                        fieldName: "GHICHU_VTTH",
                        headerText: "Ghi chú",
                        allowFiltering: true,
                        allowSorting: false,
                    },
                    {
                        fieldName: "SOLUONG_DK",
                        headerText: "SL dự kiến",
                        allowFiltering: true,
                        allowSorting: false,
                    },
                    {
                        fieldName: "SOLUONG_NC",
                        headerText: "SL nhu cầu",
                        allowFiltering: true,
                        allowSorting: false,
                    },
                    {
                        fieldName: "SOLUONG_TON",
                        headerText: "SL tồn",
                        allowFiltering: true,
                        allowSorting: false,
                    },
                    {
                        fieldName: "SOLUONG_MUA",
                        headerText: "SL mua",
                        allowFiltering: true,
                        allowSorting: false,
                        allowEditing:true,                    
                        type:"number",
                        format:"N0",    
                        editType: "numericedit"          
                    },
                    {
                        fieldName: "DVI_TINH",
                        headerText: "ĐVT",
                        allowFiltering: true,
                        allowSorting: false,
                    },
                    {fieldName: "KEY", headerText:"", visible:false, isPrimaryKey:true} ,
                ]'
            v-bind:dataSource="vatTuLst.data"
            :showFilter="true"
            dataKeyField="KEY"
            :showColumnCheckbox=false
            :selectedRow="0"
            :allowPaging="true"
            :totalRecords="vatTuLst.totalItems"
            :enablePagingServer="false"
            :enabledSelectFirstRow="false"           
            :editSettings='editSettings'           
            @cellSaved="editGridVT"
            ref="tableVT"
            >
          </DataGrid3>
        </div>
    </div>
</div>
