<ejs-dialog
    :enableResize="true"
    :allowDragging="false"
    :visible="false"
    ref="dialogChonDVNV"
    :animationSettings="animationSettings"
    :showHeader="false"
    :showCloseIcon="false"
    width="80%"
    height="95%"
    :target="target"
>
    <div class="modal-content popup-box">
        <div class="popup-header">
            <div class="title"><span class="icon one-notepad"></span> {{formTitle}}</div>
            <div class="close -ap icon-close" @click="closeDialog"></div>
        </div>
        <div class="list-actions-top">
            <ul class="list">
                <li>
                    <a @click='TimKiemDonVi'>
                        <span class="icon ui-1_check-circle-08 nc-icon-glyph"></span> Tìm kiếm
                    </a>
                </li>
                <li>
                    <a @click='XacNhan'>
                        <span class="icon nc-icon-glyph ui-1_check-circle-08"></span> Xác nhận
                    </a>
                </li>
            </ul>
        </div>
        <div class="popup-body">
            <div class="row">
                <div :class="isChonNhanVien ? 'col-sm-6 col-12' : 'col-sm-12 col-12'">
                    <div class="box-form">
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w100">Tỉnh/TP</div>
                                    <div class="value">

                                        <ejs-dropdownlist
                                            class="form-control"
                                            ref="cboTinhThanh"
                                            locale='vi'
                                            v-model="DSTinhThanh.ID"
                                            :dataSource='DSTinhThanh.dataSource'
                                            :fields="{value:'TINH_ID', text: 'TENTINH'}"
                                            :allowFiltering="true"
                                            >
                                        </ejs-dropdownlist>
                                    </div>
                                </div>
                                <div class="info-row">
                                    <div class="key w100">Tên đơn vị</div>
                                    <div class="value">
                                        <input type="text" class="form-control" v-model="tenDonVi"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-form">
                        <div class="legend-title">Danh sách đơn vị</div>
                        <div class="row">
                            <div class="col-12">
                                <DataGrid ref="grdItems_donvi_sd" :allowPaging="true" :enablePagingServer="false"v-bind:columns="[
                                    {fieldName: 'DONVI_ID', headerText: 'Đơn vị ID', textAlign: 'Left'},
                                    {fieldName: 'TEN_DV', headerText: 'Tên đơn vị', textAlign: 'Left'},
                                    ]" v-bind:dataSource="DSDonVi"
                                    :enabledSelectFirstRow="false"
                                    @rowSelected="rowSelected_DonVi">
                                    >
                                </DataGrid>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-12" v-if="isChonNhanVien">
                    <div class="box-form">
                        <div class="legend-title">Danh sách nhân viên</div>
                        <div class="row">
                            <div class="col-12">
                                <DataGrid ref="grdItems_nhanvien_sd" :allowPaging="true" :enablePagingServer="false"v-bind:columns="[
                                    {fieldName: 'MA_NV', headerText: 'Mã nhân viên', textAlign: 'Left'},
                                    {fieldName: 'TEN_NV', headerText: 'Tên nhân viên', textAlign: 'Left'},
                                    ]" v-bind:dataSource="DSNhanVien"
                                    @rowSelected="rowSelected_NhanVien">
                                    >
                                </DataGrid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ejs-dialog>
