<div>
    <div class="info-row">
        <div class="table-content">
            <table class="table-result table-gachle">
                <tbody>
                    <tr v-for="(hdx,idx) in gridEditors" :key="idx">
                        <td class="w20 center">

                        </td>
                        <td class="fw6">{{ hdx.Name }}</td>
                        <td>
                            <template v-if="hdx.Type=='ButtonEdit'">
                                <div class="input-more-button -right">
                                    <button class="btn h-auto pad4 lh14 w24" @click.prevent="hdx.ButtonClick(hdx)">
                                        <span class="-ap icon-more_horiz"></span>
                                    </button>
                                    <input type="text" :class="{disabled:hdx.ReadOnly?true:false}" class="form-control padr30  h24 bor0 nocorner bg-none" :value="hdx.sValue" @change="v=>hdx.sValue=v.target.value">
                                </div>
                            </template>
                            <template v-if="hdx.Type=='TextEdit'">
                                <input type="text" class="form-control padr30  h24 bor0 nocorner bg-none" :value="hdx.sValue" @change="v=>{ ItemList[idx].sValue=v.target.value; hdx.sValue=v.target.value; hdx.EditValueChanged(); }">
                            </template>
                            <template v-if="hdx.Type=='CalcEdit'">
                                <input type="number" class="form-control padr30  h24 bor0 nocorner bg-none" :value="hdx.sValue" @change="v=>hdx.sValue=v.target.value">
                            </template>
                            <template v-if="hdx.Type=='DateEdit'">
                                <div class="input-icon-right">
                                    <ejs-datepicker input-class="form-control h24 bor0 nocorner bg-none" :format="hdx.EditMask" :value-type="'format'" v-model="hdx.sValue" @change="hdx.EditValueChanged"></ejs-datepicker>
                                </div>
                            </template>
                            <template v-if="hdx.Type=='LookUpEdit'">
                                <SelectExt class="bor0 nocorner bg-none" v-model="hdx.sValue" :options="hdx.DataSource.map(x=>({'text':x[hdx.DisplayMember],'id':x[hdx.ValueMember]}))" :dataTextField="hdx.DisplayMember" :dataValueField="hdx.ValueMember" @change="hdx.EditValueChanged"></SelectExt>
                            </template>
                            <template v-if="hdx.Type=='CheckedComboBoxEdit1'">
                                <treeselect :multiple="true" :options="hdx.DataSource.map(x=>({'label':x[hdx.DisplayMember],'id':x[hdx.ValueMember]}))" placeholder="..." v-model="hdx.sValue" />
                            </template>
                            <template v-if="hdx.Type=='CheckEdit'">
                                <input type="checkbox" class="check" :value="hdx.ValueChecked" v-model="hdx.sValue" />
                            </template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <component v-for="comboDonVi in dsComboDonVi" :ref="comboDonVi.key" :key="comboDonVi.key" v-bind:is="comboDonVi" />
    </div>
</div>