<ejs-dialog
    :enableResize="true"
    :allowDragging="true"
    :visible="false"
    ref="dlgDSTBXLN"
    :animationSettings="animationSettings"
    width="80%"
    :target="target"
    :isModal="true"
    :showCloseIcon="true"
    header='<div class="title"> <span class="icon one-notepad"></span> Danh sách thuê bao </div>'
    :close="reset"
>
    <div class="modal-content popup-box">
        <div class="list-actions-top">
            <ul class="list">
                <li>
                    <a href="javascript: void(0)" @click="dialogClose" title="Thoát">
                        <span class="icon one-export"></span> Thoát
                    </a>
                </li>                        
            </ul>
        </div>
        <div class="popup-body">
            <div class="row">
                <div class="col-sm-6 col-12">
                    <div class="box-form">
                        <div class="legend-title">
                            <div class="pull-left">{{textDSKH}}</div>
                            <div class="pull-right">
                                <button class="btn btn-main pad2" @click="onExcelExport(1)" title="Xuất excel">
                                    <span class="one-excel-outline"></span>
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <DataGrid
                            :dataSource="gridKhachHang"
                            :showColumnCheckbox="false"
                            @selectedRowChanged="selectedRowChangedKhachHang"
                            :columns="gridKhachHangCollumn"
                            dataKeyField="MA_XLN"
                            :allowPaging="true"
                            :aggregates="CountAggregatesColumns"
                        ></DataGrid>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="box-form">
                        <div class="legend-title">
                            <div class="pull-left">Thông tin nợ thanh toán</div>
                            <div class="pull-right">
                                <button class="btn btn-main pad2" @click="onExcelExport(2)" title="Xuất excel">
                                    <span class="one-excel-outline"></span>
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <DataGrid
                            :dataSource="gridLichSuTT"
                            :showColumnCheckbox="false"
                            :columns="gridLichSuTTCollumn"
                            :allowPaging="true"
                            :enablePagingServer="false"
                            :aggregates="SumAggregatesColumns"
                            :key="gridLichSuTT_Key"
                        ></DataGrid>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-12">
                    <div class="box-form">
                        <div class="legend-title">
                            <div class="pull-left">Danh sách thuê bao</div>
                            <div class="pull-right">
                                <button class="btn btn-main pad2" @click="onExcelExport(3)" title="Xuất excel">
                                    <span class="one-excel-outline"></span>
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <DataGrid
                            :dataSource="grid_Dsthuebao"
                            :showColumnCheckbox="false"
                            @selectedRowChanged="selectedRowChangedDsthuebao"
                            :columns="grid_DsthuebaoCollumn"
                            :allowPaging="true"
                            :enablePagingServer="false"
                            :aggregates="SumAggregatesColumns"
                            :key="grid_Dsthuebao_Key"
                        ></DataGrid>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="box-form">
                        <div class="legend-title">
                            <div class="pull-left">Thông tin nợ thuê bao</div>
                            <div class="pull-right">
                                <button class="btn btn-main pad2" @click="onExcelExport(4)" title="Xuất excel">
                                    <span class="one-excel-outline"></span>
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <DataGrid
                            :dataSource="gridLichSuTB"
                            :showColumnCheckbox="false"
                            :columns="gridLichSuTBCollumn"
                            :allowPaging="true"
                            :enablePagingServer="false"
                            :aggregates="SumAggregatesColumns"
                            :key="gridLichSuTB_Key"
                        ></DataGrid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ejs-dialog>
