// .optional-filter{
//   display: flex;
//   align-items: center;
// }

ul{
  li{
    cursor: pointer;
  }
}

.tree-pv{
  position: relative;
  border: #AAAAAA 1px solid;
  border-radius: 4px;
  .vue-treeselect__control{
    border: none;
  }
  .vue-treeselect__multi-value{
    display: flex;
    overflow-x: auto;
  }
  /* Tùy chỉnh giao diện thanh cuộn */
.vue-treeselect__multi-value::-webkit-scrollbar {
  height: 4px; /* Đặt chiều cao của thanh cuộn ngang */
}

.vue-treeselect__multi-value::-webkit-scrollbar-thumb {
  background: #888; /* Màu của thanh cuộn */
  border-radius: 999px; /* Bo góc của thanh cuộn */
}
  span.vue-treeselect__multi-value-label{
    text-wrap: nowrap;
  }
  .vue-treeselect__menu{
    position: absolute;
    top: 100%;
  }
}

.list-filter{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  &__item{
    max-width: 12%;
    flex: 0 0 12%;
    box-sizing: border-box;
  }
}