.menu {
    background: white;
    border-bottom: 1px solid #9090;
    box-shadow: 0 0 3px #808080;
    height: 40px;
    padding-top: 5px;
    font-weight: 600;
    line-height: 1;
}

.menu .nav-link {
    border-radius: 0;
    border-right: 1px solid #A5C1D0;
}

.menu .nav-link:active {
    color: white;
    background: #007BFF;
}

.menu .nav-item:last-child .nav-link {
    border-right: 0;
}

.hide-header thead {
    display: none;
}

.form-group {
    margin-bottom: 0.333rem;
}

.e-grid.e-responsive .e-headercelldiv {
    text-overflow: clip;
}

.c-red {
    color: red;
    font-weight: bold;
}

.overflow-hidden {
    overflow: hidden;
    flex-wrap: none;
}

.label-col {
    width: 130px;
    flex: 0 0 130px;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.label-col-1 {
    width: 80px;
    flex: 0 0 80px;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.legend-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}