<b-modal 
  v-model="visible" 
  title="Danh sách ổ cắm"
  size="xl"
  hide-footer
  @hide="closeModal"
  modal-class="modal-custom"
  body-class="modal-body p-0">
  
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <DataGrid 
          ref="gridOCam" 
          :allowPaging="true" 
          :enablePagingServer="false" 
          :showColumnCheckbox="false"
          v-bind:columns="[
            {fieldName: 'OCAM_ID', headerText: 'ID Ổ cắm', textAlign: 'Left', width: 120},
            {fieldName: 'TEN_THANHNGUON', headerText: 'Thanh nguồn', textAlign: 'Left'},
            {fieldName: 'LOAIOCAM_TEXT', headerText: 'Loại ổ cắm', textAlign: 'Left', width: 150},
            {fieldName: 'TRANGTHAI_TEXT', headerText: 'Trạng thái ổ cắm', textAlign: 'Left', width: 180},
            {fieldName: 'TRANGTHAI_HD_TEXT', headerText: 'Trạng thái cắm nguồn', textAlign: 'Left', width: 150},
            {fieldName: 'THIETBI_ID', headerText: 'ID Thiết bị', textAlign: 'Left', width: 120}
          ]" 
          v-bind:dataSource="oCamData"
          :allowExcelExport="true">
        </DataGrid>
      </div>
    </div>
  </div>
  
  <template #modal-footer>
    <button type="button" class="btn btn-secondary" @click="closeModal">Đóng</button>
  </template>
</b-modal>
