<div class="row">
  <div class="col-12">
    <div class="nav tabs tab-over">
      <a
        href="#tabInterface"
        class="flex-grow-1"
        data-toggle="tab"
        :class="{active: focusTab === 1, disabled: disabledInterface}"
        @click="currentTab = 1"
        >Interface</a
      >
      <a
        href="#tabPower"
        class="flex-grow-1"
        data-toggle="tab"
        :class="{active: focusTab === 2, disabled: disabledPower}"
        @click="currentTab = 2"
        >Power</a
      >
      <a
        href="#tabConsole"
        class="flex-grow-1"
        data-toggle="tab"
        :class="{active: focusTab === 3, disabled: disabledConsole}"
        @click="currentTab = 3"
        >Console</a
      >
    </div>
    <div class="tab-content">
      <div class="tab-pane" id="tabInterface" :class="{active: focusTab === 1}">
        <div class="row">
          <div class="box-form">
            <div class="info-row">
              <div class="key w150">Số Line Card <span class="red">*</span></div>
              <div class="value d-flex gap-3">
                <div class="flex-grow-1">
                  <input type="text" class="form-control" v-model="lineNumber" :disabled="disabledLineNumber" />
                </div>
                <button
                  v-show="hasLineNumber"
                  class="btn btn-second btn-detail key w150"
                  @click="createCardModule(currentTab)"
                >
                  Thêm Card
                </button>
              </div>
            </div>
            <!-- -	Trường hợp LineCard != 0, Module != 0, Control Card != 0 (Thiết bị mạng, Thiết bị máy chủ) -->
            <div class="info-row" v-show="hasLineNumber">
              <div class="key w150">Tổng số Port của TB</div>
              <div class="value d-flex gap-3">
                <div class="flex-grow-1">
                  <input type="text" class="form-control" disabled v-model="totalPort" />
                </div>
                <button class="btn btn-second btn-detail key w150" @click="openModal">Xem danh sách</button>
              </div>
            </div>
            <!-- End -->

            <PortData
              :deviceData="interfaceList"
              portType="Interface"
              :portTypeData="portTypeInterfaceList"
              :portListData="portInterfaceList"
              :hasLineNumber="hasLineNumber"
            ></PortData>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tabPower" :class="{active: focusTab === 2}">
        <div class="row">
          <div class="box-form">
            <div class="info-row">
              <div class="key w150">Số Power Module <span class="red">*</span></div>
              <div class="value d-flex gap-3">
                <div class="flex-grow-1">
                  <input type="text" class="form-control" v-model="lineNumber" :disabled="disabledLineNumber" />
                </div>
                <button
                  v-show="hasLineNumber"
                  class="btn btn-second btn-detail key w150"
                  @click="createCardModule(currentTab)"
                >
                  Thêm Module
                </button>
              </div>
            </div>

            <!-- -	Trường hợp LineCard != 0, Module != 0, Control Card != 0 (Thiết bị mạng, Thiết bị máy chủ) -->
            <div class="info-row" v-show="hasLineNumber">
              <div class="key w150">Tổng số Port của TB</div>
              <div class="value d-flex gap-3">
                <div class="flex-grow-1">
                  <input type="text" class="form-control" disabled v-model="totalPort" />
                </div>
                <button class="btn btn-second btn-detail key w150" @click="openModal">Xem danh sách</button>
              </div>
            </div>
            <!-- End -->

            <PortData
              :deviceData="powerList"
              portType="Power"
              :portTypeData="portTypePowerList"
              :portListData="portPowerList"
              :hasLineNumber="hasLineNumber"
            ></PortData>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tabConsole" :class="{active: focusTab === 3}">
        <div class="row">
          <div class="box-form">
            <div class="info-row">
              <div class="key w150">Số Console Card <span class="red">*</span></div>
              <div class="value d-flex gap-3">
                <div class="flex-grow-1">
                  <input type="text" class="form-control" v-model="lineNumber" :disabled="disabledLineNumber" />
                </div>
                <button
                  v-show="hasLineNumber"
                  class="btn btn-second btn-detail key w150"
                  @click="createCardModule(currentTab)"
                >
                  Thêm Card
                </button>
              </div>
            </div>

            <!-- -	Trường hợp LineCard != 0, Module != 0, Control Card != 0 (Thiết bị mạng, Thiết bị máy chủ) -->
            <div class="info-row" v-show="hasLineNumber">
              <div class="key w150">Tổng số Port của TB</div>
              <div class="value d-flex gap-3">
                <div class="flex-grow-1">
                  <input type="text" class="form-control" disabled v-model="totalPort" />
                </div>
                <button class="btn btn-second btn-detail key w150" @click="openModal">Xem danh sách</button>
              </div>
            </div>
            <!-- End -->

            <PortData
              :deviceData="consoleList"
              portType="Console"
              :portTypeData="portTypeConsoleList"
              :portListData="portConsoleList"
              :hasLineNumber="hasLineNumber"
            ></PortData>
          </div>
        </div>
      </div>
    </div>
  </div>
  <PortModal ref="dialogPortList" :portType="focusTab" :deviceList="deviceList"></PortModal>
  <CreatePortType ref="createPortType" :portType="focusTab" :portTypeList="currentPortTypeList"></CreatePortType>
</div>
