.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 5px;
  height: 100%;
  cursor: col-resize;
  background-image: none;
  background-color: #84c89e;
  opacity: 0;
}

*:hover > .react-resizable-handle {
  opacity: 1;
}
