<div class="row">
  <div class="col-12">
    <!-- Lịch sử -->
    <div class="row">
      <DataGrid
        :columns="historyCols"
        :dataSource="deviceRelationHistory"
        :allowPaging="true"
        :enablePagingServer="false"
        :showColumnCheckbox="false"
        ref="grdHistory"
      >
      </DataGrid>
    </div>
  </div>
  <div class="row" v-if="isCongSuat">
    <div class="col-12">
      <!-- Lịch sử -->
      <div class="row">
        <DataGrid :columns="CongSuatCols" :dataSource="deviceCongSuat" :allowPaging="true" :enablePagingServer="false"
          :showColumnCheckbox="false" ref="grdCongSuat">
        </DataGrid>
      </div>
    </div>
  </div>
</div>