.disabled-btn {
    pointer-events:none;
    opacity:0.5;
    background: #ccc;
}

.disable-btn:hover {
    background-color: white !important;
}

.disable-btn a {
    color: #6c757d !important;
}

.disable-btn a:hover {
    cursor: default;
    color: #6c757d;
}

a.disable-btn {
    pointer-events: none;
    cursor: default;
    color: #6c757d !important;
}

.page .page-content {
    padding: 0px;
    top: 40px;
    bottom: 0;
}