<b-modal ref="modalEditKhayDia" size="xl" title="Chỉnh sửa Khay Đĩa" hide-footer body-class="modal-body p-0" centered>
  <div class="modal-content popup-box">
    <div class="popup-body">
      <div class="box-form">
        <div class="row">
          <div class="list-actions-top">
            <ul class="list">
              <li>
                <b-link href="javascript:void(0)" @click="onSave"> <span class="icon one-save"></span>Ghi lại </b-link>
              </li>
              <li>
                <b-link href="javascript:void(0)" @click="closeModal">
                  <span class="icon ui-1_circle-remove nc-icon-glyph"></span> Huỷ bỏ
                </b-link>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <!-- --------------CPU------------------- -->
          <div class="col-12">
            <div class="box-form">
              <div class="legend-title">
                Danh sách Khay Đĩa
              </div>
              <div class="row">
                <div class="col-12">
                  <DataGrid
                    ref="danhSachKHDChonGrd"
                    :allowPaging="true"
                    :enablePagingServer="false"
                    :showColumnCheckbox="true"
                    v-bind:columns="[
                                      {fieldName: 'STT', headerText: 'STT', textAlign: 'Left'},
                                      {fieldName: 'MA_TS', headerText: 'Mã tủ đĩa', textAlign: 'Left'},
                                      {fieldName: 'MA_TBI', headerText: 'Mã TB', textAlign: 'Left'},
                                      {fieldName: 'TEN', headerText: 'Tên TB', textAlign: 'Left'},
                                      {fieldName: 'KYHIEU', headerText: 'Ký hiệu', textAlign: 'Left'},
                                      {fieldName: 'SERIAL_NUMBER', headerText: 'Serial', textAlign: 'Left'},
                                      {fieldName: 'SL_SSD', headerText: 'Khe cắm SSD', textAlign: 'Left'},
                                      {fieldName: 'SL_SDD_DACAM', headerText: 'Khe cắm SSD đã cắm', textAlign: 'Left'},
                                      {fieldName: 'SL_HDD', headerText: 'Khe cắm HDD', textAlign: 'Left'},
                                      {fieldName: 'SL_HDD_DACAM', headerText: 'Khe cắm HDD đã cắm', textAlign: 'Left'},
                                      {fieldName: 'SL_NVME', headerText: 'Khe cắm NVMe', textAlign: 'Left'},
                                      {fieldName: 'SL_NVME_DACAM', headerText: 'Khe cắm NVMe đã cắm', textAlign: 'Left'},
                                      {fieldName: 'TRANGTHAI_VH', headerText: 'Trạng thái VH', textAlign: 'Left'},
                                          ]"
                    v-bind:dataSource="DsKHDNew"
                  >
                  </DataGrid>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</b-modal>
