<div class="row">
  <div class="box-form">
    <div class="legend-title">
      Khay đĩa
    </div>
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="info-row">
          <div class="key w150">Số khay đĩa:</div>
          <div class="value">
            <input type="number" class="form-control" :disabled="true" v-model.trim="localDsKhayDia.length" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-form">
    <div class="row">
      <div class="legend-title d-flex justify-content-between align-items-center">
        <span>Danh sách khay đĩa</span>
        <div>
          <button class="btn btn-sm btn-outline-primary" title="Sinh cổng tự động" @click="onGenerateKhayDia()">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <DataGrid
          ref="danhSachKhayDiaGrd"
          :allowPaging="true"
          :enablePagingServer="false"
          :showColumnCheckbox="false"
          v-bind:columns="[
                                  {fieldName: 'STT', headerText: 'STT', textAlign: 'Left'},
                                  {fieldName: 'MA_TS', headerText: 'Mã tủ đĩa', textAlign: 'Left'},
                                  {fieldName: 'MA_TBI', headerText: 'Mã TB', textAlign: 'Left'},
                                  {fieldName: 'TEN', headerText: 'Tên TB', textAlign: 'Left'},
                                  {fieldName: 'KYHIEU', headerText: 'Ký hiệu', textAlign: 'Left'},
                                  {fieldName: 'SERIAL_NUMBER', headerText: 'Serial', textAlign: 'Left'},
                                  {fieldName: 'SL_SSD', headerText: 'Khe cắm SSD', textAlign: 'Left'},
                                  {fieldName: 'SL_SDD_DACAM', headerText: 'Khe cắm SSD đã cắm', textAlign: 'Left'},
                                  {fieldName: 'SL_HDD', headerText: 'Khe cắm HDD', textAlign: 'Left'},
                                  {fieldName: 'SL_HDD_DACAM', headerText: 'Khe cắm HDD đã cắm', textAlign: 'Left'},
                                  {fieldName: 'SL_NVME', headerText: 'Khe cắm NVMe', textAlign: 'Left'},
                                  {fieldName: 'SL_NVME_DACAM', headerText: 'Khe cắm NVMe đã cắm', textAlign: 'Left'},
                                  {fieldName: 'TRANGTHAI_VH', headerText: 'Trạng thái VH', textAlign: 'Left'},
                                  {fieldName: 'THAOTAC', headerText: 'Thao tác', textAlign: 'Center', template: actionColumn(this), allowFiltering: false},
                                ]"
          v-bind:dataSource="localDsKhayDia"
        >
        </DataGrid>
      </div>
    </div>
  </div>
  <EditKhayDiaModal ref="editKHDModal" />
  <DetailBDKModal ref="detailKHDModal" />
</div>
