<b-modal ref="ThongTinYeuCauVIP" size="xl" hide-header hide-header-close hide-footer body-class="p-0"
  no-close-on-backdrop @show="handleShowModal">
  <div class="modal-content popup-box">
    <div class="popup-header">
      <div class="title">
        <span class="icon fa fa-info"></span>Thông tin yêu cầu IT360
      </div>
      <div class="close -ap icon-close" @click="hideModal"></div>
    </div>
    <div class="list-actions-top">
      <ul class="list">
        <li>
          <a href="javascript: void(0)" title="Huỷ tải lên" v-on:click.prevent="hideModal">
            <span class="icon ui-1_circle-remove nc-icon-glyph"></span> Đóng
          </a>
        </li>
      </ul>
    </div>
    <div class="popup-body">
      <div class="box-form row-1-height">
        <div class="legend-title">
          <span class="fa icon" :class="{ 'fa-angle-up': tbDSYeuCau.visible, 'fa-angle-down': !tbDSYeuCau.visible }"
            @click="tbDSYeuCau.visible = !tbDSYeuCau.visible"></span>Danh sách yêu cầu
        </div>
        <DataGrid3 v-show="tbDSYeuCau.visible" :dataSource="tbDSYeuCau.data" :columns="tbDSYeuCau.columns"
          panelDataHeight="100px" :showFilter="true" :allowPaging="true" :enablePagingServer="false"
          @rowSelected="gvIssue_FocusedRowChanged" />
      </div>
      <div class="row">
        <div class="col-6">
          <div class="box-form">
            <div class="legend-title">Thông tin yêu cầu</div>
            <div class="info-row">
              <div class="key">Tiêu đề</div>
              <div class="value">
                <textarea name="" class="form-control" v-model="formData.txtTieuDe"
                  style="height: 52px;resize: none;color: darkblue;font-weight: bold;"></textarea>
              </div>
            </div>
            <div class="info-row">
              <div class="key">Mô tả</div>
              <div class="value">
                <textarea name="" class="form-control" v-model="formData.txtMoTa"
                  style="height: 120px;resize: none;color: darkblue;font-weight: bold;"></textarea>
              </div>
            </div>
            <div class="info-row">
              <div class="key">Trạng thái</div>
              <div class="value">
                <select2 :options="formData.cbbTrangThai.options"
                v-model="formData.cbbTrangThai.value"
                />
              </div>
            </div>
            <div class="info-row">
              <div class="key">Ngày hết hạn</div>
              <div class="value">
                <ejs-datepicker :value="new Date()" class="form-control bg-none bor0 fw6 text h24"
                v-model="formData.dtpNgayHetHan"
                  format="dd/MM/yyyy"></ejs-datepicker>
              </div>
            </div>
            <div class="info-row">
              <div class="key">Ngày HT</div>
              <div class="value">
                <div class="input-icon-right">
                  <ejs-datetimepicker class="form-control bg-none bor0 fw6 text h24" :placeholder="'Chọn ngày'"
                    :value="new Date()"
                    v-model="formData.dtpNgayHT" format="dd/MM/yyyy HH:mm"></ejs-datetimepicker>
                </div>
              </div>
            </div>
            <div class="info-row">
              <div class="key">Loại yêu cầu</div>
              <div class="value">
                <input type="text" v-model="formData.txtLoaiYeuCau" class="form-control" :readonly="true">
              </div>
            </div>
            <div class="info-row">
              <div class="key">Reporter</div>
              <div class="value">
                <input type="text" v-model="formData.txtReporter" class="form-control" :readonly="true">
              </div>
            </div>
            <div class="info-row">
              <div class="key">Assignee</div>
              <div class="value">
                <div class="input-group ">
                  <div class="input-text" style="flex: auto">
                    <input type="text" class="form-control" v-model="formData.txtAssignee"> 
                  </div>
                  <div class="input-addon " style="width: 30px;">
                    <button class="btn padl5 padr5 w30" @click="btnAssignee_ButtonClick">
                      <span class="-ap icon-more_horiz"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="info-row">
              <div class="key">Thêm Participant</div>
              <div class="value">
                <div class="input-group ">
                  <div class="input-text" style="flex: auto">
                    <input type="text" v-model="formData.txtParticipant" class="form-control">
                  </div>
                  <div class="input-addon " style="width: 30px;">
                    <button class="btn padl5 padr5 w30" @click="btnParticipant_ButtonClick">
                      <span class="-ap icon-plus2"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="nav tab-over tabs">
            <a href="#tab1" data-toggle="tab" class=" minw0 active">Comment</a>
            <a href="#tab2" data-toggle="tab" class="minw0">File đính kèm</a>
            <a href="#tab3" data-toggle="tab" class="minw0 ">Watchers</a>
          </div>
          <div class="tab-content" style="height:477px;">
            <div class="tab-pane active fullh" id="tab1">
              <div class="row">
                <div class="col-10">
                  <div class="info-row">
                    <div class="key">
                      Message
                    </div>
                    <div class="value">
                      <textarea name="" v-model="formData.txtMessage" class="form-control" style="height: 150px;resize: none;"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-2" style="padding: 5px 10.5px;">
                  <div class="btn-save" @click="COMMENT_ISSUES">
                    <span class="icon one-save" style="font-size: 20px;"></span>
                  </div>
                </div>
              </div>
              <DataGrid :dataSource="tbComment.data" :columns="tbComment.columns" panelDataHeight="130px"
                :showFilter="true" :allowPaging="true" :enablePagingServer="false" />
            </div>
            <div class="tab-pane fullh" id="tab2">
              <div class="box-grid-ver fullh">
                <div class="box-col ovauto" id="boxTop2">
                  <div class="info-row">
                    <div class="key">
                      Đường dẫn
                    </div>
                    <div class="value" style="display: inline-flex;">
                      <div class="input-group ">
                        <div class="input-text">
                          <b-form-file id="fileUpload" v-model="fileUpload" placeholder=""></b-form-file>
                        </div>
                        <div class="input-addon ">
                          <button class="btn padl5 padr5 w30" style="height: 34px;" @click="btnFileBack_click">
                            <span class="-ap icon one-back1"></span>
                          </button>
                        </div>
                      </div>
                      <button class="btn btn-primary" @click="btnThemFile_Click" >Upload</button>
                    </div>
                    
                  </div>
                </div>
                <div class="box-col" id="boxBottom2">
                  <div class="table-content" style="height: calc(100% - 40px);">
                    <DataGrid :dataSource="tbFileDinhKem.data" :columns="tbFileDinhKem.columns" panelDataHeight="200px"
                      :showFilter="true" :allowPaging="true" :enablePagingServer="false" />
                  </div>
                </div>
              </div>


            </div>
            <div class="tab-pane fullh" id="tab3">
              <div class="info-row">
                <div class="key">Người theo dõi</div>
                <div class="value">
                  <div class="input-group ">
                    <div class="input-text" style="flex: auto">
                      <input type="text" v-model="formData.txtAddWatcher" class="form-control">
                    </div>
                    <div class="input-addon " style="width: 30px;">
                      <button class="btn padl5 padr5 w30" @click="btnAddWatcher_ButtonClick">
                        <span class="-ap icon-plus2"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <DataGrid :dataSource="tbWatchers.data" :columns="tbWatchers.columns" panelDataHeight="200px"
                :showFilter="true" :allowPaging="true" :enablePagingServer="false" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</b-modal>