a.disabled { color:lightgray !important; }
a.disabled:hover { color:lightgray !important; }
.disabled { pointer-events: none; }

.check-action .name {
    color: red;
}
.split {
    padding: 0px!important;
}
.split .gutter {
    padding: 10px!important;
}
.modal-footer .btn-primary {
    display: none!important;
}
