<ejs-dialog :enableResize='true' :visible="false" ref="dlg_thongsotsl" :header='"THÔNG SỐ TRUYỀN SỐ LIỆU"' 
                :allowDragging="true" :position="{X: 'center', Y: 'top'}"
                showCloseIcon=false target=".main-wrapper" width='40%' height="600">
    <div class="modal-content popup-box">
        <div class="list-actions-top">
            <ul class="list">
                <li>
                    <a @click="tsbtnCapNhat_Click">
                        <span class="icon one-reload1" title="Cập nhật trạng thái Port"></span> Cập nhật
                    </a>
                </li> 
            </ul>
        </div>
        <div class="popup-body">
            <div class="row">
                <div class="col-sm-6 col-12">
                    <div class="box-form">
                        <div class="title-bg-main">
                            <span class="title">Thông tin dịch vụ tỉnh Bán</span>
                        </div>
                        <div class="row" style="margin-top: 47px !important">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w100">Loại kênh</div>
                                    <div class="value">
                                        <div class="select-custom">
                                            <Select2 v-model="model.cboLoaikenhBan.value" :options="model.cboLoaikenhBan.list" :disabled="!enable.cboLoaikenhBan" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w100">Tốc độ</div>
                                    <div class="value">
                                        <div class="select-custom">
                                            <Select2 v-model="model.cboTocdoBan.value" :options="model.cboTocdoBan.list" :disabled="!enable.cboTocdoBan" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w100">Chủ quản</div>
                                    <div class="value">
                                        <div class="select-custom">
                                            <Select2 v-model="model.cboChuquanBan.value" :options="model.cboChuquanBan.list" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w100">Thiết bị đầu</div>
                                    <div class="value">
                                        <div class="select-custom">
                                            <Select2 v-model="model.cboThietbiDauBan.value" :options="model.cboThietbiDauBan.list" :disabled="!enable.cboThietbiDauBan" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w100">Thiết bị cuối</div>
                                    <div class="value">
                                        <div class="select-custom">
                                            <Select2 v-model="model.cboThietbiCuoiBan.value" :options="model.cboThietbiCuoiBan.list" :disabled="!enable.cboThietbiCuoiBan" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w100">Trang bị</div>
                                    <div class="value">
                                        <div class="select-custom">
                                            <Select2 v-model="model.cboTrangbiBan.value" :options="model.cboTrangbiBan.list" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w100">Đối tượng</div>
                                    <div class="value">
                                        <div class="select-custom">
                                            <Select2 v-model="model.cboDoituongBan.value" :options="model.cboDoituongBan.list" :disabled="!enable.cboDoituongBan" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w100">Mức cước</div>
                                    <div class="value">
                                        <div class="select-custom">
                                            <Select2 v-model="model.cboMuccuoctbBan.value" :options="model.cboMuccuoctbBan.list" :disabled="!enable.cboMuccuoctbBan" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w100">Đơn vị TC</div>
                                    <div class="value">
                                        <div class="select-custom">
                                            <Select2 v-model="model.cboChuQuanLD_Ban.value" :options="model.cboChuQuanLD_Ban.list" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-show="visible.panelControl1">
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="info-row">
                                        <div class="key w100">Nghiệm thu DV</div>
                                        <div class="value">
                                            <div class="select-custom">
                                                <treeselect
                                                    :multiple="true"
                                                    v-model="model.cboNT_DV_BAN.value"
                                                    :options="model.cboNT_DV_BAN.list"
                                                    :append-to-body="true"
                                                    placeholder="Chọn"
                                                    :max-height="200">
                                                </treeselect>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="info-row">
                                        <div class="key w100">SNCP</div>
                                        <div class="value">
                                            <input type="text" class="form-control" v-model="model.txtSNCP_BAN">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="info-row">
                                        <div class="key w100">MTU size</div>
                                        <div class="value">
                                            <input type="text" class="form-control" v-model="model.txtMTU_Size_BAN">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="info-row">
                                        <div class="key w100">Auto-nego</div>
                                        <div class="value">
                                            <input type="text" class="form-control" v-model="model.txtAuto_Nego_BAN">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="info-row">
                                        <div class="key w100">Cáp dự phòng</div>
                                        <div class="value">
                                            <input type="text" class="form-control" v-model="model.txtCapDP_BAN">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="info-row">
                                        <div class="key w100">Cáp chính</div>
                                        <div class="value">
                                            <input type="text" class="form-control" v-model="model.txtCapChinh_BAN">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="info-row">
                                        <div class="key w100">Giao diện KH</div>
                                        <div class="value">
                                            <div class="select-custom">
                                                <Select2 v-model="model.cboGiaoDienKH_BAN.value" :options="model.cboGiaoDienKH_BAN.list" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="info-row">
                                        <div class="key w100">Tốc độ POP</div>
                                        <div class="value">
                                            <div class="select-custom">
                                                <Select2 v-model="model.cboTocDoPOP_BAN.value" :options="model.cboTocDoPOP_BAN.list" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="info-row">
                                        <div class="key w100">Mô hình KN</div>
                                        <div class="value">
                                            <div class="select-custom">
                                                <Select2 v-model="model.cboMHKN_BAN.value" :options="model.cboMHKN_BAN.list" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="box-form">
                        <div class="title-bg-main">
                            <span class="title">Thông tin dịch vụ tỉnh Thi Công</span>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w100">Kiểu lắp đặt</div>
                                    <div class="value">
                                        <div class="select-custom">
                                            <Select2 v-model="model.cboKieuLD.value" :options="model.cboKieuLD.list" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w100">Loại kênh</div>
                                    <div class="value">
                                        <div class="select-custom">
                                            <Select2 v-model="model.cboLoaikenhTC.value" :options="model.cboLoaikenhTC.list" :disabled="!enable.cboLoaikenhTC" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w100">Tốc độ</div>
                                    <div class="value">
                                        <div class="select-custom">
                                            <Select2 v-model="model.cboTocdoTC.value" :options="model.cboTocdoTC.list" :disabled="!enable.cboTocdoTC" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w100">Chủ quản</div>
                                    <div class="value">
                                        <div class="select-custom">
                                            <Select2 v-model="model.cboChuquanTC.value" :options="model.cboChuquanTC.list" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w100">Thiết bị đầu</div>
                                    <div class="value">
                                        <div class="select-custom">
                                            <Select2 v-model="model.cboThietbiDauTC.value" :options="model.cboThietbiDauTC.list" :disabled="!enable.cboThietbiDauTC" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w100">Thiết bị cuối</div>
                                    <div class="value">
                                        <div class="select-custom">
                                            <Select2 v-model="model.cboThietbiCuoiTC.value" :options="model.cboThietbiCuoiTC.list" :disabled="!enable.cboThietbiCuoiTC" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w100">Trang bị</div>
                                    <div class="value">
                                        <div class="select-custom">
                                            <Select2 v-model="model.cboTrangbiTC.value" :options="model.cboTrangbiTC.list" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w100">Đối tượng</div>
                                    <div class="value">
                                        <div class="select-custom">
                                            <Select2 v-model="model.cboDoituongTC.value" :options="model.cboDoituongTC.list" :disabled="!enable.cboDoituongTC" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w100">Mức cước</div>
                                    <div class="value">
                                        <div class="select-custom">
                                            <Select2 v-model="model.cboMuccuoctbTC.value" :options="model.cboMuccuoctbTC.list" :disabled="!enable.cboMuccuoctbTC" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="info-row">
                                    <div class="key w100">Đơn vị TC</div>
                                    <div class="value">
                                        <div class="select-custom">
                                            <Select2 v-model="model.cboChuQuanLD_TC.value" :options="model.cboChuQuanLD_TC.list" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-show="visible.panelControl2">
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="info-row">
                                        <div class="key w100">Nghiệm thu DV</div>
                                        <div class="value">
                                            <div class="select-custom">
                                                <treeselect
                                                    :multiple="true"
                                                    v-model="model.cboNT_DV_TC.value"
                                                    :options="model.cboNT_DV_TC.list"
                                                    :append-to-body="true"
                                                    placeholder="Chọn"
                                                    :max-height="200">
                                                </treeselect>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="info-row">
                                        <div class="key w100">SNCP</div>
                                        <div class="value">
                                            <input type="text" class="form-control" v-model="model.txtSNCP_TC">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="info-row">
                                        <div class="key w100">MTU size</div>
                                        <div class="value">
                                            <input type="text" class="form-control" v-model="model.txtMTU_Size_TC">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="info-row">
                                        <div class="key w100">Auto-nego</div>
                                        <div class="value">
                                            <input type="text" class="form-control" v-model="model.txtAuto_Nego_TC">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="info-row">
                                        <div class="key w100">Cáp dự phòng</div>
                                        <div class="value">
                                            <input type="text" class="form-control" v-model="model.txtCapDP_TC">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="info-row">
                                        <div class="key w100">Cáp chính</div>
                                        <div class="value">
                                            <input type="text" class="form-control" v-model="model.txtCapChinh_TC">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="info-row">
                                        <div class="key w100">Giao diện KH</div>
                                        <div class="value">
                                            <div class="select-custom">
                                                <Select2 v-model="model.cboGiaoDienKH_TC.value" :options="model.cboGiaoDienKH_TC.list" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="info-row">
                                        <div class="key w100">Tốc độ POP</div>
                                        <div class="value">
                                            <div class="select-custom">
                                                <Select2 v-model="model.cboTocDoPOP_TC.value" :options="model.cboTocDoPOP_TC.list" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="info-row">
                                        <div class="key w100">Mô hình KN</div>
                                        <div class="value">
                                            <div class="select-custom">
                                                <Select2 v-model="model.cboMHKN_TC.value" :options="model.cboMHKN_TC.list" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ejs-dialog>