<div>
    <vue-bread-crumb :header="header" />
    <vue-nav>
        <div class="list-actions-top" style="position: unset;">
            <ul class="list" style="position: unset;">
                <li>
                    <a href="#" @click="tsbtnLayTT_Click">
                        <span class="icon one-search"></span>Tìm kiếm
                    </a>
                </li>


            </ul>
        </div>
    </vue-nav>
    <div class="page-content">
        <div class="row">
            <div class="col-sm-8 col-12">
                <div class="box-form">
                    <div class="legend-title">
                        Thông tin thuê bao
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w100">Số máy</div>
                                <div class="value">
                                    <div class="input-group">
                                        <div class="input-addon w35">
                                            <button class="btn">
                                                <span class="-ap">84</span>
                                            </button>
                                        </div>
                                        <div class="input-text">
                                            <input type="text" class="form-control highlight" value=""
                                                v-model="txtSoMay" v-on:keyup.enter="txtSoMay_KeyPress">
                                        </div>

                                    </div>
                                </div>

                                <div class="value w80 padt5">
                                    <div class="item">
                                        <div class="check-action">
                                            <input type="checkbox" class="check" v-model="ckeGoiDi">
                                            <span class="name">Gọi đi</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="value w80 padt5">
                                    <div class="item">
                                        <div class="check-action">
                                            <input type="checkbox" class="check" v-model="ckeGoiDen">
                                            <span class="name">Gọi đến</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-row">
                                <div class="key w100">Loại thuê bao</div>
                                <div class="value">
                                    <input type="text" class="form-control" value="" v-model="txtLoaiTB">
                                </div>

                            </div>
                            <div class="info-row">
                                <div class="key w100">Tỉnh, TP</div>
                                <div class="value">
                                    <input type="text" class="form-control" value="" v-model="txtTinh">
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <div class="info-row">
                                        <div class="key w80">MSIN</div>
                                        <div class="value">
                                            <input type="text" class="form-control bg-white" value=""
                                                v-model="txtSoMSIN">
                                        </div>
                                    </div>
                                    <div class="info-row">
                                        <div class="key w80">PIN</div>
                                        <div class="value">
                                            <input type="text" class="form-control bg-white" value="" :readonly="true"
                                                v-model="txtPin1">
                                        </div>
                                    </div>
                                    <div class="info-row">
                                        <div class="key w80">PUK</div>
                                        <div class="value">
                                            <input type="text" class="form-control bg-white" value="" :readonly="true"
                                                v-model="txtPUK1">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="info-row">
                                        <div class="key w70">Ngày KH</div>
                                        <div class="value">
                                            <input type="text" class="form-control bg-white" value="" :readonly="true"
                                                v-model="txtNgayKH">
                                        </div>
                                    </div>
                                    <div class="info-row">
                                        <div class="key w70">PIN2</div>
                                        <div class="value">
                                            <input type="text" class="form-control bg-white" value="" :readonly="true"
                                                v-model="txtPin2">
                                        </div>
                                    </div>
                                    <div class="info-row">
                                        <div class="key w70">PUK2</div>
                                        <div class="value">
                                            <input type="text" class="form-control bg-white" value="" :readonly="true"
                                                v-model="txtPUK2">
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>
                    <div class="legend-title mart10">
                        Hệ thống GPHONE-IN
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w100">Trạng thái</div>
                                <div class="value">
                                    <input type="text" class="form-control bg-white" value="" :readonly="true"
                                        v-model="txtTrangThai">
                                </div>

                            </div>
                            <div class="info-row">
                                <div class="key w100">Tài khoản chính</div>
                                <div class="value">
                                    <input type="text" class="form-control bg-white" value="" :readonly="true"
                                        v-model="txtTaiKhoanChinh">
                                </div>

                            </div>
                            <div class="info-row">
                                <div class="key w100">Tài khoản phụ</div>
                                <div class="value">
                                    <input type="text" class="form-control bg-white" value="" :readonly="true"
                                        v-model="txtTaiKhoanPhu">
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <div class="info-row">
                                        <div class="key w80">Ngày tạo</div>
                                        <div class="value">
                                            <input type="text" class="form-control bg-white" value="" :readonly="true"
                                                v-model="txtNgayTao">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="info-row">
                                        <div class="key w70">Ngày KH</div>
                                        <div class="value">
                                            <input type="text" class="form-control bg-white" value="" :readonly="true"
                                                v-model="txtNgayKH">
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="info-row">
                                <div class="key w80">Hạn gọi đi</div>
                                <div class="value">
                                    <input type="text" class="form-control bg-white" value="" :readonly="true"
                                        v-model="txtHanGoiDi">
                                </div>
                            </div>
                            <div class="info-row">
                                <div class="key w80">Trạng thái</div>
                                <div class="value">
                                    <input type="text" class="form-control bg-white" value="" :readonly="true"
                                        v-model="txtTrangThaiTruoc">
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <div class="col-sm-4 col-12">
                
                <div class="box-col  box-form" style="width: 100%;">
                    <div class="legend-title">
                        Thông tin Cell
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w80">Zone Code</div>
                                <div class="value">
                                    <input type="text" class="form-control bg-white" value="" :readonly="true"
                                        v-model="txtZoneCode">
                                </div>

                            </div>
                            <div class="info-row">
                                <div class="key w80">Cell List</div>
                                <div class="value">
                                    <div class="select-custom">
                                        <select name="" id="" class="form-control" value="ckbCellList">
                                            <option value="">{{ckbCellList}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="info-row">
                                <div class="key w60">Max Cell</div>
                                <div class="value">
                                    <input type="text" class="form-control bg-white" value="" :readonly="true"
                                        v-model="txtMaxCell">
                                </div>
                            </div>
                            <div class="info-row">
                                <div class="key w60">Status</div>
                                <div class="value">
                                    <input type="text" class="form-control bg-white" value="" :readonly="true"
                                        v-model="txtStatus">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="legend-title">
                        Dịch vụ đăng ký
                    </div>
                    <div class="row">
                        <textarea v-model="options.DichvuSD" class="form-control" style="height: 150px;resize: none;"></textarea>
                    </div>
                </div>
            </div>

        </div>


        <div class="tabs nav tab-over">

            <a href="#tab1" style="min-width: 195px;" class="active" data-toggle="tab">Lịch sử thuê bao</a>
            <a href="#tab2" style="min-width: 195px;" data-toggle="tab">Lịch sử cuộc gọi</a>
            <a href="#tab3" style="min-width: 195px;" data-toggle="tab">Lịch sử Location Filter</a>
            <a href="#tab4" style="min-width: 195px;" data-toggle="tab">Lịch sử nạp thẻ</a>
            <a href="#tab5" style="min-width: 195px;" data-toggle="tab">Lịch sử tin nhắn</a>
        </div>
        <div class="tab-content">
            <div id="tab1" class="tab-pane active">
                <DataGrid v-bind:columns="collumnsLSThuebao" ref='LSThuebao' v-bind:dataSource="options.LSThuebao"
                    :showFilter="true" :allowPaging="true" :enablePagingServer="false" :enabledSelectFirstRow="true"
                    :selectionSettings="{ checkboxMode: 'ResetOnRowClick' }">
                </DataGrid>


            </div>
            <div id="tab2" class="tab-pane">
                <div class="info-row">
                    <div class="key" style="width:500px">Lịch sử nhắn tin Từ ngày</div>
                    <div class="key w30 padl10">Từ ngày</div>
                    <div class="value w100">
                        <div class="input-icon-right">
                            <flat-pickr class="form-control" :config="dateconfig" v-model="ngay_gv" />
                            <span class="icon one-calendar"></span>
                        </div>
                    </div>
                    <div class="key w30 padl10">Đến ngày</div>
                    <div class="value w100">
                        <div class="input-icon-right">
                            <flat-pickr class="form-control" :config="dateconfig" v-model="ngay_gv" />
                            <span class="icon one-calendar"></span>
                        </div>
                    </div>

                </div>

                <div class="table-content">
                    <DataGrid v-bind:columns="collumnsLSCuocgoi" ref='LSCuocgoi' v-bind:dataSource="options.LSCuocgoi"
                        :showFilter="false" :allowPaging="false" :enablePagingServer="false"
                        :enabledSelectFirstRow="true" :selectionSettings="{ checkboxMode: 'ResetOnRowClick' }">
                    </DataGrid>
                </div>
            </div>
            <div id="tab3" class="tab-pane">
                <div class="info-row">
                    <div class="key" style="width:500px">Lịch sử cuộc gọi thuê bao Gphone ghi nhận từ hệ thống Location
                        Filter</div>
                    <div class="key w30 padl10">Từ ngày</div>
                    <div class="value w100">
                        <div class="input-icon-right">
                            <flat-pickr class="form-control" :config="dateconfig" v-model="ngay_gv" />
                            <span class="icon one-calendar"></span>
                        </div>
                    </div>
                    <div class="key w30 padl10">Đến ngày</div>
                    <div class="value w100">
                        <div class="input-icon-right">
                            <flat-pickr class="form-control" :config="dateconfig" v-model="ngay_gv" />
                            <span class="icon one-calendar"></span>
                        </div>
                    </div>

                </div>
                <div class="table-content">
                    <DataGrid v-bind:columns="collumnsLSLocation" ref='LSLocation'
                        v-bind:dataSource="options.LSLocation" :showFilter="false" :allowPaging="true"
                        :enablePagingServer="false" :enabledSelectFirstRow="true"
                        :selectionSettings="{ checkboxMode: 'ResetOnRowClick' }">
                    </DataGrid>
                </div>
            </div>

            <div id="tab4" class="tab-pane">
                <div class="info-row">
                    <div class="key" style="width:500px">Lịch sử nạp thẻ và thay đổi tài khoản Từ ngày</div>
                    <div class="key w30 padl10">Từ ngày</div>
                    <div class="value w100">
                        <div class="input-icon-right">
                            <flat-pickr class="form-control" :config="dateconfig" v-model="ngay_gv" />
                            <span class="icon one-calendar"></span>
                        </div>
                    </div>
                    <div class="key w30 padl10">Đến ngày</div>
                    <div class="value w100">
                        <div class="input-icon-right">
                            <flat-pickr class="form-control" :config="dateconfig" v-model="ngay_gv" />
                            <span class="icon one-calendar"></span>
                        </div>
                    </div>

                </div>
                <div class="table-content">
                    <DataGrid v-bind:columns="collumnsLSNapthe" ref='LSNapthe' v-bind:dataSource="options.LSNapthe"
                        :showFilter="false" :allowPaging="true" :enablePagingServer="false"
                        :enabledSelectFirstRow="true" :selectionSettings="{ checkboxMode: 'ResetOnRowClick' }">
                    </DataGrid>
                </div>
            </div>
            <div id="tab5" class="tab-pane">
                <div class="info-row">
                    <div class="key" style="width:500px">Lịch sử nhắn tin</div>
                    <div class="key w30 padl10">Từ ngày</div>
                    <div class="value w100">
                        <div class="input-icon-right">
                            <flat-pickr class="form-control" :config="dateconfig" v-model="ngay_gv" />
                            <span class="icon one-calendar"></span>
                        </div>
                    </div>
                    <div class="key w30 padl10">Đến ngày</div>
                    <div class="value w100">
                        <div class="input-icon-right">
                            <flat-pickr class="form-control" :config="dateconfig" v-model="ngay_gv" />
                            <span class="icon one-calendar"></span>
                        </div>
                    </div>

                </div>
                <div class="table-content">
                    <DataGrid v-bind:columns="collumnsLSNhantin" ref='LSNhantin' v-bind:dataSource="options.LSNhantin"
                        :showFilter="false" :allowPaging="true" :enablePagingServer="false"
                        :enabledSelectFirstRow="true" :selectionSettings="{ checkboxMode: 'ResetOnRowClick' }">
                    </DataGrid>
                </div>
            </div>
        </div>
    </div>
</div>
</div>