<div class="box-form" style="font-size:1rem">
  <div id="tab1">
    <!-- <div class="legend-title"> Đơn vị áp dụng</div> -->
    <div class="box-col">
      <!-- <div class="legend-title mart10">Đơn vị áp dụng</div> -->
      <DataGrid ref="danh_sach_nhan_vien" :showFilter="false" :allowPaging="false" :enablePagingServer="false"
        :dataSource="options.kenh" :columns="config.kenh" :showColumnCheckbox="true"
        @selectedItemsChanged="selectingEventDVAD" />
    </div>
    <!-- <div class="list m-1 d-flex justify-content-between">
      <button class="btn btn-primary" @click.prevent="btnInsKenhTV_Click">
        <span>Thêm thành viên</span>
      </button>
      <div class="btn btn-primary" @click.prevent="btnLoadKenhTV_Click">
        <span class="one-refresh"></span>
      </div>
    </div> -->
  </div>
  <!-- <popupKenh ref="popupKenh"  @acceptChange="Kenhchange" :ls_kenh_id="ls_kenh_id"/> -->
</div>