<ejs-dialog :enableResize='true' :resizeHandles='resizeHandles' :allowDragging="draggable"
    @close="closePopup()"
    :header="(formData.hdtb_ct_id == 0 ? 'Thêm mới' : 'Cập nhật') + ' phân đoạn ' + loai_kl[loai_kl_id]" showCloseIcon="true" :target="'.main-wrapper'"
    header-class="popup-header" :visible="false" ref="popupSegment" :position="{ X: 'center', Y: 'top' }"
    width="80%" id="popupSegment">
    <div class="popup-content">
        <div class="list-actions-top">
            <ul class="list">
                <li>
                    <a ref="tsbtnXemSoLieu" @click="btnHuy()" :class="{'disabled': disable_button}">
                        <span class="icon one-file-plus"></span> Nhập mới
                    </a>
                </li>
                <li>
                    <a ref="tsbtnXemSoLieu" @click="saveForm()" :class="{'disabled': disable_button}" >
                        <span class="icon one-save"></span> Ghi lại
                    </a>
                </li>
                <li>
                    <a ref="tsbtnXemSoLieu" @click="btnHuy()" :class="{'disabled': disable_button}">
                        <span class="icon one-cancel"></span> Hủy
                    </a>
                </li>
                <li>
                    <a ref="tsbtnXemSoLieu" @click="btnHoanThanh()" :class="{'disabled': disable_button}">
                        <span class="icon one-sync"></span> Hoàn Thành
                    </a>
                </li>
                <!-- <li v-if="textTrangThaiAn">
                    <a @click="btnAnHien()" :class="{'disabled': disable_button}">
                        <span class="icon one-eye"></span> {{textTrangThaiAn}}
                    </a>
                </li>
                <li v-if="formData.hdtb_ct_id && Number(formData.hdtb_ct_id) > 0">
                    <a ref="tsbtnXemSoLieu" @click="btnXoa()" :class="{'disabled': disable_button}">
                        <span class="icon one-remove-outline"></span> Xóa
                    </a>
                </li> -->
            </ul>
        </div>
        <div class="popup-body">
            <div class="box-form">
                <div class="legend-title">
                    Thông tin phân đoạn
                </div>
                <div class="row">
                    <div class="col" v-for="panel in panels">
                        <div class="box-title"> {{panel.name}} </div>
                        <ejs-tab ref="tab" heightAdjustMode="None" height="auto" :selected="onTabClick">
                            <div class="e-tab-header" v-if="panel.tabs.length > 1">
                                <div v-for="(tab, index) in panel.tabs" >{{tab.name}}</div>
                            </div>
                            <div class="e-content p-3">
                                <div v-for="(tab, index) in panel.tabs">
                                    <div class="row">
                                        <div v-for="element in tab.elements" @mounted="init(element)"
                                            :class="'col-sm-' + (element.md ? element.md : '6') + ' col-12'">
                                            <FormComponent
                                            :vvalue="element ? formData[element.name.toLowerCase()] : ''"
                                            :element="element"
                                            :formData="formData"
                                            :danhmuc="danhmuc"
                                            @mounted="init(element)"
                                            @change="(value) => changeInput(element.name, value)"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ejs-tab>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ejs-dialog>