<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&amp;display=swap" rel="stylesheet" />
    <title>Mint App</title>
  </head>
  <body style="font-family: 'Noto Sans KR', sans-serif; background-color: white">
    <table id="mint-email" width="100%" cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td align="center">
            <table width="640" cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td align="center">
                    <table width="100%" cellpadding="0" cellspacing="24" border="0">
                      <tbody>
                        <tr>
                          <td align="left">
                            <table cellpadding="0" cellspacing="0" border="0">
                              <tbody>
                                <tr>
                                  <td>
                                    <img
                                      width="40"
                                      height="auto"
                                      src="https://mint-asset.s3.ap-northeast-2.amazonaws.com/public/d9e18c6c-e738-4ec1-ab93-349ea21991b1"
                                      alt="logo" />
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <table
                      width="100%"
                      cellpadding=""
                      cellspacing="24"
                      border="0"
                      style="
                        padding: 8px 0px;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 400;
                        color: #64748b;
                        text-align: left;
                      ">
                      <tr>
                        <td>
                          <span style="font-size: 20px; line-height: 30px; font-weight: 700; color: #34987b">Dr. Wiz</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          안녕하세요, <br />
                          <br />
                          <span th:text="${data.projectName}">[프로젝트명]</span>에 대해 클라이언트에게 전문가 리스트가
                          제공되었으나, 클라이언트가 전문가를 선택하지 않았습니다.
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td>
                                  <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                      <tr>
                                        <td width="40%" align="left">
                                          <table cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                              <tr>
                                                <td>프로젝트:</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                        <td align="right">
                                          <table style="width: 100%" cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                              <tr>
                                                <td align="right">
                                                  <span style="font-weight: 700" th:text="${data.projectName}">[프로젝트명]</span>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td>
                                  <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                      <tr>
                                        <td width="40%" align="left">
                                          <table cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                              <tr>
                                                <td>상태:</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                        <td align="right">
                                          <table style="width: 100%" cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                              <tr>
                                                <td align="right">
                                                  <span style="font-weight: 700"> 전문가 리스트 제공 (선택되지 않음) </span>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td>
                                  <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                      <tr>
                                        <td width="40%" align="left">
                                          <table cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                              <tr>
                                                <td>업데이트 시간:</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                        <td align="right">
                                          <table style="width: 100%" cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                              <tr>
                                                <td align="right">
                                                  <span style="font-weight: 700" th:text="${data.hour}"> [시간] </span>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
