<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&amp;display=swap" rel="stylesheet" />
    <title>Mint App</title>
  </head>
  <body style="font-family: 'Noto Sans KR', sans-serif; background-color: white">
    <table id="mint-email" width="100%" cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td align="center">
            <table width="640" cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td align="center">
                    <table width="100%" cellpadding="0" cellspacing="24" border="0">
                      <tbody>
                        <tr>
                          <td align="left">
                            <table cellpadding="0" cellspacing="0" border="0">
                              <tbody>
                                <tr>
                                  <td>
                                    <img
                                      width="40"
                                      height="auto"
                                      src="https://mint-asset.s3.ap-northeast-2.amazonaws.com/public/d9e18c6c-e738-4ec1-ab93-349ea21991b1"
                                      alt="logo" />
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <table
                      width="100%"
                      cellpadding=""
                      cellspacing="24"
                      border="0"
                      style="
                        padding: 8px 0px;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 400;
                        color: #64748b;
                        text-align: left;
                      ">
                      <tr>
                        <td>
                          <span style="font-size: 20px; line-height: 30px; font-weight: 700; color: #34987b">Dr. Wiz</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          안녕하세요, <span th:text="${data.expertName}"></span> 선생님, <br />
                          <br />
                          Dr. Wiz 플랫폼에서 진행되는 자문 프로젝트 진행에 대한 선생님의 참여 의향을 확인하고자 합니다. 아래의
                          자문 건 세부 정보를 검토해 주신 후, 참여 의향을 알려주시면 감사하겠습니다.
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span style="font-weight: 700">자문 세부 정보:</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td>
                                  <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                      <tr>
                                        <td width="40%" align="left">
                                          <table cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                              <tr>
                                                <td>고객 회사:</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                        <td align="right">
                                          <table style="width: 100%" cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                              <tr>
                                                <td align="right">
                                                  <span style="font-weight: 700" th:text="${data.memberName}"></span>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td>
                                  <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                      <tr>
                                        <td width="40%" align="left">
                                          <table cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                              <tr>
                                                <td>자문 유형:</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                        <td align="right">
                                          <table style="width: 100%" cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                              <tr>
                                                <td align="right">
                                                  <span style="font-weight: 700" th:text="${data.advisoryType}"></span>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td>
                                  <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                      <tr>
                                        <td width="40%" align="left">
                                          <table cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                              <tr>
                                                <td>제안된 일정:</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                        <td align="right">
                                          <table style="width: 100%" cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                              <tr>
                                                <td align="right" th:each="meeting : ${data.meetings}">
                                                  <span style="font-weight: 700" th:text="${meeting}"></span><br />
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td>
                                  <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                      <tr>
                                        <td width="40%" align="left">
                                          <table cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                              <tr>
                                                <td>자문 개요:</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                        <td align="right">
                                          <table style="width: 100%" cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                              <tr>
                                                <td align="right">
                                                  <span style="font-weight: 700" th:text="${data.contentDetail}"></span>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td>
                                  <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                      <tr>
                                        <td align="left">
                                          <a
                                            th:href="${data.rejectUrl}"
                                            target="_blank"
                                            style="
                                              display: inline-block;
                                              background-color: white;
                                              padding: 10px 14px;
                                              text-align: center;
                                              border: solid 1px #e2e8f0;
                                              border-radius: 8px;
                                              text-decoration: none;
                                              width: 256px;
                                            ">
                                            <span style="font-size: 14px; line-height: 20px; font-weight: 500; color: #64748b"
                                              >거절</span
                                            >
                                          </a>
                                        </td>
                                        <td align="right">
                                          <table cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                              <tr>
                                                <td>
                                                  <a
                                                    th:href="${data.acceptUrl}"
                                                    target="_blank"
                                                    style="
                                                      display: inline-block;
                                                      background-color: #34987b;
                                                      padding: 10px 14px;
                                                      text-align: center;
                                                      border-radius: 8px;
                                                      text-decoration: none;
                                                      width: 256px;
                                                    ">
                                                    <span
                                                      style="font-size: 14px; line-height: 20px; font-weight: 500; color: #ffffff"
                                                      >참여</span
                                                    >
                                                  </a>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          선생님께서 참여 의향을 밝히시면 일단 고객사에게 전달할 예정입니다. 이 후, 고객사에서 자문을 받을
                          전문가를 최종 결정함을 알려 드립니다.<br />
                          <br />
                          바쁘시겠지만 빠른 응답을 부탁드리며, 이번 자문 건에서 선생님과 함께 일할 수 있기를 진심으로
                          기대합니다.<br />
                          <br />
                          감사합니다. <br />
                          <br />
                          Dr. Wiz 팀 드림
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="padding: 8px 0px; background-color: #f8fafc">
                    <table width="100%" cellpadding="0" cellspacing="24" border="0">
                      <tbody>
                        <tr>
                          <td>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                              <tbody>
                                <tr>
                                  <td align="left">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                      <tbody>
                                        <tr>
                                          <td>
                                            <img
                                              width="40"
                                              height="auto"
                                              src="https://mint-asset.s3.ap-northeast-2.amazonaws.com/public/d9e18c6c-e738-4ec1-ab93-349ea21991b1"
                                              alt="logo" />
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                  <td align="right">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                      <tbody>
                                        <tr>
                                          <td>
                                            <a href="#" target="_blank">
                                              <img
                                                width="20"
                                                height="20"
                                                src="https://mint-asset.s3.ap-northeast-2.amazonaws.com/public/970e8f5d-f6d5-43ed-a549-68f85da8b6a3"
                                                alt="LinkedIn" />
                                            </a>
                                          </td>
                                          <td style="padding-left: 16px">
                                            <a href="#" target="_blank">
                                              <img
                                                width="20"
                                                height="20"
                                                src="https://mint-asset.s3.ap-northeast-2.amazonaws.com/public/b8e87461-b14f-4541-b57d-0b005912a8de"
                                                alt="Facebook" />
                                            </a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table
                              width="100%"
                              cellpadding="0"
                              cellspacing="0"
                              border="0"
                              style="font-size: 12px; line-height: 18px; font-weight: 400; color: #64748b">
                              <tbody>
                                <tr>
                                  <td style="padding-bottom: 8px">고객센터</td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 8px">이메일: general@mintmd.bio</td>
                                </tr>
                                <tr>
                                  <td>Copyright @ Dr. Wiz. All Rights Reserved</td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>