<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&amp;display=swap" rel="stylesheet" />
    <title>Mint App</title>
  </head>
  <body style="font-family: 'Noto Sans KR', sans-serif; background-color: white">
    <table id="mint-email" width="100%" cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td align="center">
            <table width="640" cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td align="center">
                    <table width="100%" cellpadding="0" cellspacing="24" border="0">
                      <tbody>
                        <tr>
                          <td align="left">
                            <table cellpadding="0" cellspacing="0" border="0">
                              <tbody>
                                <tr>
                                  <td>
                                    <img
                                      width="40"
                                      height="auto"
                                      src="https://mint-asset.s3.ap-northeast-2.amazonaws.com/public/d9e18c6c-e738-4ec1-ab93-349ea21991b1"
                                      alt="logo" />
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <table
                      width="100%"
                      cellpadding=""
                      cellspacing="24"
                      border="0"
                      style="
                        padding: 8px 0px;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 400;
                        color: #64748b;
                        text-align: left;
                      ">
                      <tr>
                        <td>
                          <span style="font-size: 20px; line-height: 30px; font-weight: 700; color: #34987b">Dr. Wiz</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          안녕하세요, <span th:text="${data.expertName}">[Expert Name]</span> 선생님. <br />
                          <br />
                          저희 플랫폼의 자문 프로젝트에 대한 관심과 참여 의사를 보내주셔서 진심으로 감사드립니다. <br />
                          <br />
                          이번 자문 건에 대하여 고객사에서 검토한 결과 선생님께서는 Dr. Wiz Expert 로서 참여하시게 되었습니다.
                          <br />
                          <br />
                          진행될 자문 건과 관련된 세부 내용은 닥터위즈 플랫폼 내에서 확인하실 수 있습니다. <br />
                          <br />
                          아래 링크에 접속하시어 고객사와의 자문 일정을 확정해주세요.
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a
                            th:href="${data.projectUrl}"
                            target="_blank"
                            style="
                              display: inline-block;
                              background-color: #34987b;
                              padding: 10px 14px;
                              text-align: center;
                              border-radius: 8px;
                              text-decoration: none;
                            ">
                            <span style="font-size: 14px; line-height: 20px; font-weight: 500; color: #ffffff"
                              >자문 일정 확정하기</span
                            >
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          추가 요청 사항이나 일정 변경이 필요하시면 언제든지 Dr. Wiz 팀에 문의해 주세요. 저희는 성공적인 프로젝트
                          진행을 위해 최선을 다하겠습니다. <br />
                          <br />
                          감사합니다. <br />
                          <br />
                          Dr. Wiz 팀 드림
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="padding: 8px 0px; background-color: #f8fafc">
                    <table width="100%" cellpadding="0" cellspacing="24" border="0">
                      <tbody>
                        <tr>
                          <td>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                              <tbody>
                                <tr>
                                  <td align="left">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                      <tbody>
                                        <tr>
                                          <td>
                                            <img
                                              width="40"
                                              height="auto"
                                              src="https://mint-asset.s3.ap-northeast-2.amazonaws.com/public/d9e18c6c-e738-4ec1-ab93-349ea21991b1"
                                              alt="logo" />
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                  <td align="right">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                      <tbody>
                                        <tr>
                                          <td>
                                            <a href="#" target="_blank">
                                              <img
                                                width="20"
                                                height="20"
                                                src="https://mint-asset.s3.ap-northeast-2.amazonaws.com/public/970e8f5d-f6d5-43ed-a549-68f85da8b6a3"
                                                alt="LinkedIn" />
                                            </a>
                                          </td>
                                          <td style="padding-left: 16px">
                                            <a href="#" target="_blank">
                                              <img
                                                width="20"
                                                height="20"
                                                src="https://mint-asset.s3.ap-northeast-2.amazonaws.com/public/b8e87461-b14f-4541-b57d-0b005912a8de"
                                                alt="Facebook" />
                                            </a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table
                              width="100%"
                              cellpadding="0"
                              cellspacing="0"
                              border="0"
                              style="font-size: 12px; line-height: 18px; font-weight: 400; color: #64748b">
                              <tbody>
                                <tr>
                                  <td style="padding-bottom: 8px">고객센터</td>
                                </tr>
                                <tr>
                                  <td style="padding-bottom: 8px">이메일: general@mintmd.bio</td>
                                </tr>
                                <tr>
                                  <td>Copyright @ Dr. Wiz. All Rights Reserved</td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
