/deep/ .custom-kycuoc .w120 {
    width: 80px !important;
}

/deep/ .custom-kycuoc .w60 {
    width: 50px !important;
}

/deep/ .custom-kycuoc .e-input-group {
    max-width: 196px !important;
    margin-right: 10px !important;
}

>>> .select2-container {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table;
    table-layout: fixed;
}
