<div class="box-form" style="font-size:1rem">
  <div id="tab1">
    <!-- <div class="legend-title"> Đơn vị áp dụng</div> -->
    <div class="box-col">
      <!-- <div class="legend-title mart10">Đơn vị áp dụng</div> -->
      <DataGrid :showFilter="false" :allowPaging="false" :enablePagingServer="false"
        :dataSource="options.LHTB" :columns="config.LHTB" :showColumnCheckbox="true"
        @selectedItemsChanged="selectingEventLHTB" />
    </div>
    <!-- <div class="list m-1 d-flex justify-content-between">
      <button class="btn btn-primary" @click.prevent="btnInsLHTB_Click">
        <span>Thêm loại hình thuê bao</span>
      </button>
      <div class="btn btn-primary" @click.prevent="btnLoadLHTB_Click">
        <span class="one-refresh"></span>
      </div>
    </div> -->
  </div>
  <!-- <popupDVVT ref="popupDVVT" @acceptChange="getItemsDVVT"/>
  <popupTB ref="popupTraLHTB" @acceptChangetb="getItemsTB" :vdichvu_id="vdichvu_id" :ds_tttb_id="ds_tttb_id"/> -->
</div>