<div>
    <div class="modal-content popup-box">
        <div class="popup-header">
            <div class="title">
                <span class="icon one-appstore"></span> Tạo serial
            </div>
            <div class="close -ap icon-close" data-dismiss="modal" @click="Close">
            </div>
        </div>
        <div class="list-actions-top">
            <ul class="list">
                <li v-if="Visible.tsbtnTaoSerial">
                    <a @click="tsbtnTaoSerial_Click">
                        <span class="icon one-seri"></span> Tạo Serial
                    </a>
                </li>
                <li>
                    <a @click="toolStripButton1_Click">
                        <span class="icon one-print"></span> In serial
                    </a>
                </li>
                <li>
                    <a @click="toolStripButton2_Click">
                        <span class="icon one-download"></span> Xuất File
                    </a>
                </li>
                <li>
                    <a @click="btnXuatExel_Click">
                        <span class="icon one-excel"></span>Excel
                    </a>
                </li>
                <li>
                    <a>
                        <span class="icon one-circle-question"></span>Trợ giúp
                    </a>
                </li>
            </ul>
        </div>
        <div class="popup-body">
            <div class="box-form">
                <div class="row">
                    <div class="col-sm-7 col-12">
                        <div class="legend-title">
                            Thông tin in tem
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w60 nowrap">Số lượng thiết bị</div>
                                    <div class="value">
                                        <input type="number" class="form-control" v-model='params.p_txtSoLuongTBi'>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w60 nowrap">Số lượng tem / Thiết bị</div>
                                    <div class="value">
                                        <input type="number" class="form-control" v-model='params.p_txtSoLuongTem'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-12">
                    <div class="legend-title">
                            Cấu hình
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w60 nowrap">Chiều ngang</div>
                                    <div class="value">
                                        <input type="number" class="form-control" v-model='params.p_txtChieuNgang'>
                                    </div>
                                    <div class="key w20">
                                        mm
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="info-row">
                                    <div class="key w60 nowrap">Chiều dọc</div>
                                    <div class="value">
                                        <input type="number" class="form-control" v-model='params.p_txtChieuDoc'>
                                    </div>
                                    <div class="key w20">
                                        mm
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-form">
                <div class="legend-title">
                    Danh sách thiết bị
                </div>
                <div class="table-content">
                    <DataGrid
                        v-bind:columns="gridThietBi_Columns"
                        v-bind:dataSource="gridThietBi"
                        ref="gridViewThietBi"
                        :showColumnCheckbox='false'
                        :showFilter="true"
                        :allowPaging="true"
                        :enablePagingServer='false'
                        :totalRecords="gridThietBiPage.totalElement"
                        :pageSize="gridThietBiPage.maxSize"
                        :pageIndex="gridThietBiPage.page"
                        @pageChanged="gridThietBiPageHandler"
                        >
                    </DataGrid>
                </div>
                
            </div>
        </div>
    </div>
</div>
