<ejs-dialog :enableResize='true' :allowDragging='true' :visible='false' ref="popupCopyDangKy"
    :animationSettings='animationSettings' showCloseIcon=true width='60%' :target='target' :open="dialogOpen"
    :close="onClickThoat" header="ĐĂNG KÝ">
    <div class="modal-content popup-box">
        <!-- <breadcrumb :header="header" /> -->
        <div class="list-actions-top">
            <ul class="list">
                <li>
                    <a @click="fetchDSDangKy_frmCopy(tag)">
                        <span class="icon one-file-attach"></span> Lấy TT (F5)
                    </a>
                </li>
                <li>
                    <a @click="ghilai()">
                        <span class="icon nc-icon-glyph ui-1_check-circle-08"></span> Xác nhận (F9)
                    </a>
                </li>
            </ul>
        </div>
        <div class="popup-body">
            <div class="box-form">
                <div class="legend-title">Danh sách đăng ký</div>
                <div class="table-content">
                    <DataGrid v-bind:columns="[
                        {fieldName: 'TEN_DK', headerText: 'Thời gian ĐK', allowFiltering: true, allowSorting: false},
                        {fieldName: 'SO_CV', headerText: 'Số công văn', allowFiltering: true, allowSorting: false},
                        {fieldName: 'MA_CT', headerText: 'Dự án', allowFiltering: true, allowSorting: false},
                        {fieldName: 'NGAY_DK', headerText: 'Ngày yêu cầu', allowFiltering: true, allowSorting: false},
                        {fieldName: 'DOT', headerText: 'Đợt', allowFiltering: true, allowSorting: false},
                        {fieldName: 'CONLAI', headerText: 'Số tháng ĐK', allowFiltering: true, allowSorting: false},
                        {fieldName: 'ND_TRA', headerText: 'Lý do trả', allowFiltering: true, allowSorting: false},
                        {fieldName: 'GHICHU', headerText: 'Ghi chú', allowFiltering: true, allowSorting: false},
                        {fieldName: 'TRANGTHAI', headerText: 'Trạng thái', allowFiltering: true, allowSorting: false},
                        {fieldName: 'NGAYNOP', headerText: 'Ngày nộp', allowFiltering: true, allowSorting: false}
                        ]" v-bind:dataSource="listDK" :showFilter="true"
                        @selectedRowChanged="listDK_selectedRowChanged" :showColumnCheckbox="false"
                        dataKeyField="DANGKY_ID" :allowPaging="true" :enablePagingServer="false">
                    </DataGrid>
                </div>
            </div>
            <div class="box-form">
                <div class="legend-title">Danh sách vật tư đã đăng ký</div>
                <div class="table-content">
                    <DataGrid v-bind:columns="[
                        {fieldName: 'MA_VT', headerText: 'Mã vật tư', allowFiltering: true, allowSorting: false},
                        {fieldName: 'TEN_VT', headerText: 'Tên vật tư', allowFiltering: true, allowSorting: false},
                        {fieldName: 'MUCDICH', headerText: 'Mục đích', allowFiltering: true, allowSorting: false},
                        {fieldName: 'DVI_TINH', headerText: 'ĐVT', allowFiltering: true, allowSorting: false},
                        {fieldName: 'SL_TON_DK', headerText: 'SL Tồn ĐK', allowFiltering: true, allowSorting: false},
                        {fieldName: 'SOLUONG', headerText: 'Số lượng', allowFiltering: true, allowSorting: false, editType:'numericedit', allowEditing: true},
                        {fieldName: 'GHICHU', headerText: 'Ghi chú', allowFiltering: true, allowSorting: false},
                        {fieldName: 'SL_DUYET', headerText: 'SL Duyệt', allowFiltering: true, allowSorting: false},
                        ]" v-bind:dataSource="listVatTuDaDK" :showFilter="true"
                        @selectedRowChanged="listVatTuDaDK_selectedRowChanged" :showColumnCheckbox="false"
                        dataKeyField="DANGKY_ID" :allowPaging="true" :enablePagingServer="false"
                        :editSettings='editSettings' @cellSaved='editGridVatTuDaDK'>
                    </DataGrid>
                </div>
            </div>
        </div>
    </div>
</ejs-dialog>