.supply-container {
  display: flex;
  padding-bottom: 100px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 100px;
}

.supply-container:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.supply-container .supply-content {
  width: 45%;
  margin-right: 5%;
  /* margin-top: 24px; */
}

.supply-container .supply-img-slider {
  width: calc(50% - 24px);
  margin-top: 24px;
  margin-left: 24px;
}

.supply-container .supply-img-slider .supply-img-title {
  margin-top: 16px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  color: #555;
  line-height: 1.5;
}

.supply-cost-container {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
}

.supply-cost-item {
  width: calc((100% / 2) - 24px);
  margin-top: 2px;
}

.supply-cost-item h4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 4px 0;
  padding: 9px 0;
  margin-bottom: 9px;
  border-bottom: 1px solid #000;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}

.btn-supply-buy {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 7px;
  height: 27px;
  border: 1px solid #0b391c;
  border-radius: 2px;
  background-color: #fff;
  font-size: 13px;
  font-weight: 700;
  color: var(--green-main);
  line-height: 1;
  cursor: pointer;
  transition: all 0.15s;
}

.btn-supply-buy:hover {
  background-color: var(--green-main);
  color: #fff;
}

.slider-below {
  display: none;
}

.slick-dots {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  left: 50%;
  bottom: 60px;
  transform: translate(-50%, 0);
}
.slick-dots li button {
  background-color: transparent !important;
  border-radius: 50%;
  width: 10px !important;
  height: 10px !important;
  box-sizing: border-box;
  border: 1px solid var(--green-main) !important;
  padding: 0 !important;
}

@media (max-width: 767px) {
  .slick-dots {
    bottom: 135px;
  }
  .slick-dots li button {
    width: 7px !important;
    height: 7px !important;
  }
  .supply-container {
    flex-direction: column;
    padding-bottom: 65px;
    margin-bottom: 65px;
  }

  .supply-container .supply-content {
    width: 100%;
    margin-left: 0;
  }

  .supply-container .supply-img-slider {
    width: 100%;
    margin-left: 0;
  }

  .slider-below {
    display: block;
  }

  .slider-right {
    display: none;
  }

  .supply-cost-item {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .supply-name {
    font-size: 21px;
    margin-bottom: 4px;
  }

  .supply-desc {
    font-size: 15px;
  }

  .supply-note {
    font-size: 12px;
  }

  .supply-cost-item h4 {
    font-size: 16px;
  }

  .supply-cost-item .btn-supply-buy {
    font-size: 14px;
  }

  .supply-cost-item p {
    font-size: 14px;
  }

  .supply-cost-container {
    gap: 0;
  }
}
