a.disable-btn {
    pointer-events: none;
    cursor: default;
    color: #6c757d !important;
}

.info-row {
  .key {
    width: 180px !important
  }

  .input-unit {
    margin-left: 5px;
    width: 60px;
  }
}
