<div class="thuoc-tinh-bo-sung">
  <div class="row">
    <div class="legend-title d-flex justify-content-between align-items-center">
      <span>Thuộc tính bổ sung</span>
      <button v-if="!isReadOnly" class="btn btn-sm btn-outline-primary" @click="openAddModal">
        <i class="fa fa-plus"></i> Thêm thuộc tính
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="table-content">
        <DataGrid
          :columns="thuocTinhColumns"
          :dataSource="dataSource"
          :showColumnCheckbox="false"
          :enablePagingServer="false"
          :allowPaging="true"
          :showFilter="true"
          ref="dsThuocTinhBoSung"
        />
      </div>
    </div>
  </div>

  <!-- Modal Thêm/Sửa thuộc tính -->
  <b-modal
    v-model="showModal"
    :title="modalMode === 'ADD' ? 'Thêm thuộc tính' : 'Sửa thuộc tính'"
    size="md"
    hide-footer
    centered
    @hidden="closeModal"
  >
    <div class="thuoc-tinh px-3">
      <div class="form-group">
        <label class="control-label"> Tên thuộc tính <span class="text-danger">*</span> </label>
        <input
          ref="tenThuocTinhInput"
          v-model="currentAttribute.ten"
          type="text"
          class="form-control"
          placeholder="Nhập tên thuộc tính"
          @keyup.enter="handleSave"
        />
      </div>

      <div class="form-group">
        <label class="control-label"> Giá trị <span class="text-danger">*</span> </label>
        <input
          v-model="currentAttribute.giaTri"
          type="text"
          class="form-control"
          placeholder="Nhập giá trị"
          @keyup.enter="handleSave"
        />
      </div>
      <div class="form-group text-right mt-3">
        <button class="btn btn-secondary mr-2" @click="closeModal"><i class="fa fa-times"></i> Hủy</button>
        <button class="btn btn-primary" @click="handleSave">
          <i class="fa fa-save"></i> {{ modalMode === 'ADD' ? 'Thêm' : 'Cập nhật' }}
        </button>
      </div>
    </div>
  </b-modal>
</div>
