<div >
    <div class="list-actions-top">
        <ul class="list">
            <li>
                <a href="javascript: void(0)" @click="onUpdate" title="Cập nhật">
                    <span class="icon one-save"></span>Cập nhật
                </a>
            </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="box-form">
            <div class="row">
                <div class="col-sm-6 col-12">
                    <div class="legend-title">Thông tin phiếu yêu cầu</div>
                    <div class="row">
                        <div class="col-sm-8 col-12">
                            <div class="info-row">
                                <div class="key">Mã giao dịch</div>
                                <div class="value">
                                    <div class="input-more-button">
                                        <button class="btn" @click="openPopup">
                                            <span class="-ap icon-more_horiz"></span>
                                        </button>
                                        <input type="text" class="highlight form-control" v-model="params.maGD" @keyup.enter="onKeyPress" ref="maGD">
                                    </div>
                                    <PopupDSHopDongCanThuTien ref="dlgDSHopDongCanThuTien" @accept="onMaGiaoDich"></PopupDSHopDongCanThuTien>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-12">
                            <div class="info-row">
                                <div class="key">Loại HĐ/PL</div>
                                <div class="value">
                                    <input type="text" class="form-control" v-model="params.loaiHD">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="key">Tên khách hàng</div>
                        <div class="value">
                            <input type="text" class="form-control" v-model="params.tenKH">
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="key">Địa chỉ KH</div>
                        <div class="value">
                            <input type="text" class="form-control" v-model="params.diaChiKH">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-12">
                            <div class="info-row">
                                <div class="key">Người đại diện</div>
                                <div class="value">
                                    <input type="text" class="form-control" v-model="params.nguoiDD">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-12">
                            <div class="info-row">
                                <div class="key">Điện thoại</div>
                                <div class="value">
                                    <input type="text" class="form-control" v-model="params.dienThoai">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-12">
                            <div class="info-row">
                                <div class="key">Ngày yêu cầu</div>
                                <div class="value">
                                    <ejs-datepicker
                                        v-model="params.ngayYeuCau"
                                        :value="params.today"
                                        :format="'dd/MM/y'"
                                        :showClearButton="false"
                                        :allowEdit="false"
                                    >
                                    </ejs-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-12">
                            <div class="info-row">
                                <div class="key">Tổng tiền trả</div>
                                <div class="value">
                                    <vue-numeric currency='' separator=',' v-model="params.tongTienTra" class="form-control highlight tright font-weight-bold text"></vue-numeric>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="key">Bằng chữ</div>
                        <div class="value">
                            <input type="text" class="form-control red italic" v-model="params.bangChu">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="legend-title">Thông tin thanh toán</div>
                    <div class="row">
                        <div class="col-sm-8 col-12">
                            <div class="info-row">
                                <div class="key">Hình thức trả cũ</div>
                                <div class="value">
                                    <div class="">
                                        <select2
                                            :options = "params.hinhThucTra_Options"
                                            v-model = "params.hinhThucTraCu_Selected"
                                            :disabled="true"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-12">
                            <div class="info-row">
                                <div class="key">Kênh thu cũ</div>
                                <div class="value">
                                    <div class="">
                                        <select2
                                            :options = "params.kenhThu_Options"
                                            v-model = "params.kenhThuCu_Selected"
                                            :disabled="true"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-12">
                            <div class="info-row">
                                <div class="key">Hình thức trả</div>
                                <div class="value">
                                    <select2
                                        :options = "params.hinhThucTra_Options"
                                        v-model = "params.hinhThucTra_Selected"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-12">
                            <div class="info-row">
                                <div class="key">Kênh thu</div>
                                <div class="value">
                                    <!-- <div class="">
                                        <select2
                                            :options = "params.kenhThu_Options"
                                            v-model = "params.kenhThu_Selected"
                                        />
                                    </div> -->
                                    <div class="select-custom">
                                        <bss-error-marker :has-error="$v.params.kenhThu_Selected.$error">
                                            <select v-model="params.kenhThu_Selected" class="form-control">
                                            <option v-for="item in params.kenhThu_Options" :value="item.id">{{ item.text }}</option>
                                            </select>
                                        </bss-error-marker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-12">
                            <div class="info-row">
                                <div class="key">Người bảo lãnh</div>
                                <div class="value">
                                    <input type="text" class="form-control" v-model="params.nguoiBL">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-12">
                            <div class="info-row">
                                <div class="key">Trạng thái cũ</div>
                                <div class="value">
                                    <div class="select-custom">
                                        <select name="" id="" class="form-control" v-model="params.trangThaiCu_Selected" :disabled="true">
                                            <option v-for="item in params.trangThaiCu_Options" :value="item.id">{{ item.text }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="key">
                            <div class="check-action">
                                <input type="checkbox" checked class="check" v-model="params.nganHang_Checked">
                                <span class="name">Ngân hàng</span>
                            </div>
                        </div>
                        <div class="value">
                            <div class="">
                                <select2
                                    :options = "params.nganHang_Options"
                                    v-model = "params.nganHang_Selected"
                                    :disabled="!params.nganHang_Checked"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-12">
                            <div class="info-row">
                                <div class="key">Ngày NH</div>
                                <div class="value">
                                    <ejs-datepicker
                                        v-model="params.ngayNH"
                                        :value="params.today"
                                        :format="'dd/MM/y'"
                                        :showClearButton="false"
                                        :enabled="params.nganHang_Checked"
                                    >
                                    </ejs-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-12">
                            <div class="info-row">
                                <div class="key">Chứng từ</div>
                                <div class="value">
                                    <input type="text" class="form-control" v-model="params.chungTu" :disabled="!params.chungTu_Enable">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="key">Ghi chú</div>
                        <div class="value">
                            <input type="text" class="form-control" v-model="params.ghiChu">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-form">
            <div class="legend-title">Danh sách thuê bao</div>
            <DataGrid v-bind:columns="[
                {fieldName: 'MA_TB', headerText: 'Số máy/Acc', allowFiltering: true, allowSorting: false, width: 120},
                {fieldName: 'TEN_TB', headerText: 'Tên thuê bao', allowFiltering: true, allowSorting: false, width: 150},
                {fieldName: 'DIACHI_TB', headerText: 'Địa chỉ thuê bao', allowFiltering: true, allowSorting: false, width: 150},
                {fieldName: 'TRANGTHAI_HD', headerText: 'Trạng thái HĐ', allowFiltering: true, allowSorting: false, width: 120},
                {fieldName: 'TIEN_GOC', headerText: 'Tiền gốc', allowFiltering: true, allowSorting: false, width: 120, cssClass: 'text-right', format: 'N0', type: 'number'},
                {fieldName: 'TIEN_THU', headerText: 'Tiền phải thu', allowFiltering: true, allowSorting: false, width: 120, cssClass: 'text-right', format: 'N0', type: 'number'}
            ]"
                v-bind:dataSource="HDTB_grid.items"
                dataKeyField="MA_TB"
                :showFilter="true"
                :allowPaging="true"
                :enablePagingServer="false"
                :showColumnCheckbox="true"
                ref="danhSachTB"
                @selectedItemsChanged="onThueBaoChecked"
            >
            </DataGrid>
        </div>
    </div>
</div>
