.reservation {
  top: 0 !important;
  max-width: 100vw !important;
  width: unset !important;
  margin: unset !important;
  .ant-modal-content {
    @apply h-[calc(100vh-24px)]  m-0 top-6;
    // xl:left-[calc(35%-24px)] xl:w-[65vw] xl:h-[calc(100vh-48px)]
  }
  .ant-modal-body {
    @apply overflow-auto h-[calc(100dvh-174px)] lg:h-[calc(100vh-198px)];
    padding: 1px !important;
  }
}
