#single-journal .cont-head::before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

#single-journal #journal-list li {
  width: calc(33.33333333% - 48px) !important;
}
#single-journal .journal-ul li {
  margin: 18px;
  width: calc(25% - 36px);
}

@media (max-width: 768px) {
  #single-journal .cont-head::before {
    background-color: rgba(0, 0, 0, 0.6);
  }
  #single-journal #journal-list li {
    width: 100% !important;
  }
  #single-journal #journal-list {
    margin-bottom: 35px;
  }
  #single-journal .journal-ul li {
    width: 100%;
    margin: 0 0 32px 0;
  }

  #single-journal #journal-list li h6 {
    position: absolute;
    top: 19px;
    left: 19px;
    z-index: 9999;
  }
}
