#journal-list {
  margin-bottom: 150px;
}
#journal-list .cont-body {
  overflow: hidden;
}
.journal-ul {
  display: flex;
  flex-wrap: wrap;
}
.journal-ul li a img {
  border: 3px solid #fff;
  box-sizing: border-box;
}
.journal-ul li a:hover img {
  border-color: #256f41;
  transition: 0.25s;
}
.journal-ul li h6 {
  background-color: #e4f5eb;
  border-radius: 100px;
  display: inline-block;
  padding: 2px 16px;
  z-index: 9999;
}

#journal-list img {
  height: auto;
  aspect-ratio: 3/2;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 768px) {
  #journal-list {
    margin-bottom: 70px;
  }
  .journal-ul li {
    position: relative;
  }
  .journal-ul li h6 {
    position: absolute;
    top: 19px;
    left: 19px;
    z-index: 9999;
  }
}
